<div class="modal-bg" *ngIf="highlightedSection.name=='JobProfile'"></div>
<div class="section-container" *ngIf="highlightedSection.name=='JobProfile'">
  <div class="main-content clearfix edit-modal-content">
    <h4 class="heading">{{jobDiscriptionHeading}}</h4>
    <div class="scrollable-content">
      <form [formGroup]="jobPostForm" novalidate>
        <div class="job-info section-container clearfix">
          <div class="col-sm-8 no-padding">
            <div class="form-group">
              <label>Job Title</label>
              <input class="form-control" type="text" formControlName="jobTitle" required/>
              <div class="error-messages"
                   *ngIf="(jobPostForm.get('jobTitle').touched || submitStatus) && jobPostForm.get('jobTitle').hasError('required')">
                <p>{{titleValidationMessage}}</p>
              </div>
              <div class="error-messages"
                   *ngIf="((jobPostForm.get('jobTitle').touched || submitStatus) && jobPostForm.get('jobTitle').hasError('containsWhiteSpace')
                   && !jobPostForm.get('jobTitle').hasError('required'))">
                <p>{{titleSpaceValidationMessage}}</p>
              </div>
            </div>
          </div>

          <div class="col-sm-8 no-padding">
            <div class="form-group">
              <label>{{getLabel().REQUIRMENT_OWNER}}</label>
              <input class="form-control" type="text" maxlength="30" formControlName="hiringManager"
                     required>
              <div class="error-messages"
                   *ngIf="(jobPostForm.get('hiringManager').touched || submitStatus)&& jobPostForm.get('hiringManager').hasError('required')">
                <p>{{hiringManagerValidationMessage}}</p>
              </div>
            </div>
          </div>

          <div class="col-sm-8 no-padding">
            <div class="form-group">
              <label *ngIf="isRecruitingForSelf">Hiring Department</label>
              <label *ngIf="!isRecruitingForSelf">Hiring Company</label>
              <input class="form-control" type="text" formControlName="department" required>
              <div class="error-messages"
                   *ngIf="(jobPostForm.get('department').touched || submitStatus)&& jobPostForm.get('department').hasError('required')">
                <p *ngIf="isRecruitingForSelf">{{hiringDepartmentValidationMessage}}</p>
                <p *ngIf="!isRecruitingForSelf">{{hiringCompanyValidationMessage}}</p>
              </div>
            </div>
          </div>

          <div class="col-sm-8 no-padding" *ngIf="!isRecruitingForSelf">
            <div class="check-box">
              <label>
                <input type="checkbox" name="hideCompanyName" formControlName="hideCompanyName">
                <h4>{{hideCompanyNameHeading}}</h4>
                <div class="check"></div>
              </label>
            </div>
          </div>

         <!-- <div class="col-sm-8 no-padding">
            <div class="form-group">
              <label>Educational Qualification</label>
              <select class="select" formControlName="education">
                <option *ngFor="let c of educationList" [ngValue]="c">{{c}}</option>
              </select>
              <div class="error-messages"
                   *ngIf="(jobPostForm.get('education').touched || submitStatus)&& jobPostForm.get('education').hasError('required')">
                <p>{{educationalValidationMessage}}</p>
              </div>
            </div>
          </div>-->

          <div class="col-sm-8 no-padding">
            <div formArrayName="educationForm">
              <div *ngFor="let educationForm of jobPostForm.controls.educationForm.controls; let i=index">
                <div>
              <span class="glyphicon glyphicon-trash pull-right"
                    *ngIf="jobPostForm.controls.educationForm.controls.length>0 &&
                     jobPostForm.controls.educationForm.controls.length !==1 "
                    (click)="removeEducationDetails(i)"></span>
                </div>

                <cn-job-education [submitStatus]="submitStatus"
                                  [educationForm]="educationForm"></cn-job-education>
              </div>
              <button (click)="addAnotherEducationalDetails()" class="btn-add-another-degree"
                      [disabled]="!jobPostForm.controls.educationForm.valid">
                Add another
              </button>
            </div>
          </div>



          <div class="col-sm-8 no-padding">
            <div class="form-group clearfix">
              <label>Experience Band <span class="optional-field"> {{getLabel().YEARS}}</span> </label>
              <div class="col-sm-6 padding-right15 min-range">
                <select class="select" formControlName="experienceMinValue">
                  <option *ngFor="let c of experienceRangeList" [ngValue]="c">{{c}}</option>
                </select>
                <div class="error-messages"
                     *ngIf="(((jobPostForm.get('experienceMinValue').touched || submitStatus) && jobPostForm.get('experienceMinValue').hasError('required')) || !isExperienceValid)">
                  <p>{{minExperienceValidationMessage}}</p>
                </div>
              </div>
              <div class="col-sm-6 padding-left15">
                <select class="select" formControlName="experienceMaxValue">
                  <option *ngFor="let c of experienceRangeList" [ngValue]="c">{{c}}</option>
                </select>
                <div class="error-messages"
                     *ngIf="(jobPostForm.get('experienceMaxValue').touched || submitStatus)&& jobPostForm.get('experienceMaxValue').hasError('required')">
                  <p>{{maxExperienceValidationMessage}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8 no-padding">
            <div class="form-group clearfix">
              <label>Salary Band <span class="optional-field">{{getLabel().IN_LAKH}}</span></label>
              <div class="col-sm-6 padding-right15 min-range">
                <select class="select" formControlName="salaryMinValue">
                  <option *ngFor="let c of salaryRangeList" [ngValue]="c">{{c}}</option>
                </select>
                <div class="error-messages"
                     *ngIf="(((jobPostForm.get('salaryMinValue').touched || submitStatus) && jobPostForm.get('salaryMinValue').hasError('required')) || !isSalaryValid)">
                  <p>{{minSalaryValidationMessage}}</p>
                </div>
              </div>
              <div class="col-sm-6 padding-left15">
                <select class="select" formControlName="salaryMaxValue">
                  <option *ngFor="let c of salaryRangeList" [ngValue]="c">{{c}}</option>
                </select>
                <div class="error-messages"
                     *ngIf="(jobPostForm.get('salaryMaxValue').touched || submitStatus)&& jobPostForm.get('salaryMaxValue').hasError('required')">
                  <p>{{maxSalaryValidationMessage}}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-8 no-padding">
            <div class="form-group">
              <label>Joining Period</label>
              <select class="select" formControlName="joiningPeriod">
                <option *ngFor="let c of noticePeriodList" [ngValue]="c">{{c}}</option>
              </select>
              <div class="error-messages"
                   *ngIf="(jobPostForm.get('joiningPeriod').touched || submitStatus)&& jobPostForm.get('joiningPeriod').hasError('required')">
                <p>{{joiningPeriodValidationMessage}}</p>
              </div>
            </div>
          </div>

          <div class="col-sm-8 no-padding">
            <div class="form-group">
              <label>Job Location</label>
              <input type="text" formControlName="location" class="form-control" placeholder=""
                     (keydown)="keyDownCheck($event)" (setAddress)="getAddress($event)"
                     [(ngModel)]="storedLocation.formatted_address" mygoogleplace/>
              <div class="error-messages"
                   *ngIf="(jobPostForm.get('location').touched || submitStatus )&& jobPostForm.get('location').hasError('required')">
                <p>{{locationValidationMessage}}</p>
              </div>
              <div class="error-messages"
                   *ngIf="isLocationInvalid">
                <p>{{inValidLocationMessage}}</p>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <cn-tool-tip [message]="tooltipMessage"></cn-tool-tip>
    <div class="button-group clearfix">
      <button class="btn btn-success" (click)="onNext()"
              [hidden]="!showButton">Next
      </button>
      <button class="btn btn-success" (click)="onNext()" [hidden]="showButton">Done
      </button>
    </div>
  </div>
</div>
<div class="section-container" *ngIf="highlightedSection.name!='JobProfile'">
  <div class="main-content" (click)="onEdit()"
       title="Edit Job Description">
    <div class="compact-view clearfix">
      <h4 class="heading-compact">Job Description
        <button class="btn-edit" (click)="onEdit()" title="Edit Job Description"></button>
      </h4>
      <div class="clearfix">
        <p><label>Job Title</label> {{jobPosterModel.jobTitle}}</p>
<!--
        <p><label>Education</label>{{jobPosterModel.education}}</p>
-->
        <p><label>Education</label><b *ngFor="let education of jobPosterModel.educationForJob">
        {{education.educationDegree}}<br/><b *ngIf="education.specialization">({{education.specialization}})</b><br/></b></p>

        <p *ngIf="jobPosterModel.experienceMinValue !=jobPosterModel.experienceMaxValue"><label>Experience Band</label>
          {{jobPosterModel.experienceMinValue}} -
          {{jobPosterModel.experienceMaxValue}} {{getLabel().YEARS}}</p>
        <p *ngIf="jobPosterModel.experienceMinValue == jobPosterModel.experienceMaxValue"><label>Experience</label>
          {{jobPosterModel.experienceMinValue}} {{getLabel().YEARS}}</p>
        <p *ngIf="jobPosterModel.salaryMinValue != jobPosterModel.salaryMaxValue"><label>Salary Band</label>
          {{jobPosterModel.salaryMinValue}} - {{jobPosterModel.salaryMaxValue}} {{getLabel().IN_LAKH}}
        </p>
        <p *ngIf="jobPosterModel.salaryMinValue == jobPosterModel.salaryMaxValue"><label>Salary</label>
          {{jobPosterModel.salaryMinValue}} {{getLabel().IN_LAKH}}</p>
      </div>
      <div class="clearfix">
        <p><label>Notice Period</label> {{jobPosterModel.joiningPeriod}}</p>
        <p><label>{{getLabel().REQUIRMENT_OWNER}}</label> {{jobPosterModel.hiringManager}}</p>
        <p *ngIf="isRecruitingForSelf"><label>Hiring Department</label> {{jobPosterModel.department}}</p>
        <p *ngIf="!isRecruitingForSelf"><label>Hiring Company</label> {{jobPosterModel.department}}</p>
        <p><label>Country</label> {{jobPosterModel.location?.country}}</p>
      </div>
      <div class="clearfix">
        <p><label>State</label> {{jobPosterModel.location?.state}}</p>
        <p><label>City</label> {{jobPosterModel.location?.city}}</p>
      </div>
    </div>
  </div>
</div>
