<div class="section-container">
  <div class="main-content clearfix modal-content" *ngIf="highlightedSection.name=='JobProfile'">
    <form [formGroup]="jobPostForm" (ngSubmit)="onNext(jobPostForm.value)" novalidate>
      <div class="job-info section-container clearfix">
        <div class="row">
          <div class="col-sm-4" >
            <label>Job Title</label>
            <control-messages [control]="jobPostForm.controls.jobTitle"></control-messages>
            <input class="form-control" type="text" formControlName="jobTitle"  required/>
          </div>

          <div class="col-sm-4">
            <label>Hiring Manager</label>
            <control-messages [control]="jobPostForm.controls.hiringManager"></control-messages>
            <input class="form-control" type="text" maxlength="30" formControlName="hiringManager"
                     required>
          </div>
          <div class="col-sm-4">
            <label>Hiring Department</label>
            <control-messages [control]="jobPostForm.controls.department"></control-messages>
            <input class="form-control" type="text" formControlName="department"  required>
          </div>

          <div class="col-sm-4">
            <label>Educational Qualification</label>
            <control-messages [control]="jobPostForm.controls.education"></control-messages>
            <select formControlName="education" >
              <option *ngFor="let c of educationlist" [ngValue]="c">{{c}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Experience Band</label>
            <control-messages [control]="jobPostForm.controls.experience"></control-messages>
            <select formControlName="experience">
              <option *ngFor="let c of experiencelist" [ngValue]="c">{{c}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Salary Band</label>
            <control-messages [control]="jobPostForm.controls.salary"></control-messages>
            <select formControlName="salary">
              <option *ngFor="let c of salarylist" [ngValue]="c">{{c}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Joining Period</label>
            <control-messages [control]="jobPostForm.controls.joiningPeriod"></control-messages>
            <select formControlName="joiningPeriod">
              <option *ngFor="let c of noticeperiodlist" [ngValue]="c">{{c}}</option>
            </select>
          </div>

          <div class="col-sm-4">
            <label>Job Location</label>
            <control-messages [control]="jobPostForm.controls.location"></control-messages>
            <input type="text" formControlName="location" class="form-control select"
                   placeholder=""
                   [options]="{types: ['(cities)'],componentRestrictions: { country: 'IN'  }}"
                   [options]='options'
                   (setAddress) = "getAddress($event)"
                   (street_number) = 'street_number=$event'
                   (street)= 'street=$event'
                   (city)= 'city=$event'
                   (state)='state=$event'
                   (district)='district=$event'
                   (country)='country=$event'
                   (postal_code)='postal_code=$event'
                   (lat)='lat=$event'
                   (lng)='lng=$event'
                   (adr_address)='adr_address=$event'
                   (name)='name=$event'
                   (place_id)='place_id=$event'
                   (types)='types=$event'
                   (url)='url=$event'
                   (utc_offset)='utc_offset=$event'
                   (vicinity)='vicinity=$event'
                   (photos)='photos=$event'
                   (airport)='airport=$event'
                   (CountryCodes)='CountryCodes=$event'
                   id="autocomplete"
                   ng2-google-place-autocomplete/>
          </div>
        </div>
      </div>
      <div class="roles section-container">
        <div class="clearfix">
          <h4 class="heading">Select Industry</h4>
          <cn-industry-list [selectedIndustry]="jobPosterModel.industry"
                              (valueChange)="selectIndustry($event)"></cn-industry-list>
        </div>
      </div>
      <div class="button-group clearfix">
        <button type="submit" class="btn btn-primary" scrollTo scrollTargetSelector="#work-area" (click)="onNext()"
                [disabled]="!jobPostForm.valid">Next
        </button>
      </div>
    </form>
  </div>

  <div class="main-content" *ngIf="highlightedSection.name!='JobProfile'">
    <div class="compact-view clearfix">
      <button class="btn-edit" (click)="highlightedSection.name='JobProfile';disableButton=false"></button>

      <div class="clearfix">
        <p><label>Job Title</label> {{jobPosterModel.jobTitle}}</p>
        <p><label>Industry</label> {{jobPosterModel.industry.name}}</p>
        <p><label>Hiring Manager</label> {{jobPosterModel.hiringManager}}</p>
        <p><label>Hiring Department</label> {{jobPosterModel.department}}</p>
      </div>
      <div class="clearfix">
        <p><label>Education</label> {{jobPosterModel.education}}</p>
        <p><label>Experience</label> {{jobPosterModel.experience}}</p>
        <p><label>Salary</label> {{jobPosterModel.salary}}</p>
        <p><label>Notice Period</label> {{jobPosterModel.joiningPeriod}}</p>
      </div>
      <div class="clearfix">
        <p><label>Country</label> {{jobPosterModel.location.country}}</p>
        <p><label>State</label> {{jobPosterModel.location.state}}</p>
        <p><label>City</label> {{jobPosterModel.location.cityName}}</p>
      </div>
    </div>
  </div>
  <!-- <div [class.modal-bg]="highlightedSection.name!='Profile'"></div>-->
</div>
