<div class="wrapper clearfix">
  <div class="col-sm-6">
    <label>Job Title :</label>
    <input class="form-control" type="text" name="JobTitle" placeholder="Enter Job Title" [(ngModel)]="jobTitle" (ngModelChange)="isJobTitleSelected($event)" >
  </div>
  <div class="col-sm-6">
    <label>Hiring Manager :</label>
    <input class="form-control" type="text" name="HiringManager" placeholder="Name of the Manager" [(ngModel)]="hiringManager" (ngModelChange)="isHiringMangerSelected($event)">
  </div>
  <div class="col-sm-6">
    <label>Department :</label>
    <input class="form-control" type="text" name="Department" placeholder="Enter Department" [(ngModel)]="department" (ngModelChange)="isDepartmentSelected($event)">
  </div>
</div>
