$profile-background: #f2f2f2;
$process-color: #224879;
$active-color: #fff;
$active-text-color: #224879;
$active-progress-line: #8eb4d9;
$bubble-background: #35567e;
$white: #fff;
$border-color: #ddd;

.form-control {
  background-color: $white;
  border-radius: 0;
  display: block;
  box-shadow: none;
  padding: 6px;
  width: 100%;
  font-size: 12px;

  &:focus,
  &:active {
    outline: none;
  }
}

.col-sm-6 {
  margin-bottom: 15px;
}

label {
  width: 100%;
  display: block;
  font-size: 14px;
  float:left;
  margin: 0 0 5px;
}

@media only screen and (max-width: 1024px) {
  label {
    font-size: 11px;
    float:left;
    line-height: 14px;
    margin: 15px 0 5px;
  }
}