<form novalidate>
  <div class="col-sm-4">
    <label>Job Title:</label>
    <input class="form-control" type="text" name="JobTitle" [(ngModel)]="jobPosterModel.jobTitle" (change)="isJobTitleSelected($event.target.value)" >
    <span class="error-messages" *ngIf="showmsg">required</span>
  </div>

  <div class="col-sm-4">
    <label>Hiring Manager:</label>
    <input class="form-control" type="text" maxlength="30" name="HiringManager" [(ngModel)]="jobPosterModel.hiringManager" (ngModelChange)="isHiringMangerSelected($event)" required >
  </div>
  <div class="col-sm-4">
    <label>Hiring Department:</label>
    <input class="form-control" type="text" name="Department" [(ngModel)]="jobPosterModel.department" (ngModelChange)="isDepartmentSelected($event)" required >
  </div>
</form>
