<div class="alert alert-danger clearfix" [hidden]="isShowErrorMessage">
  <div class="col-sm-1 hidden-xs"><span class="glyphicon glyphicon-warning-sign"></span></div>
  <div class="col-sm-10 col-xs-11 error-msg"><b>{{ error_msg }}</b></div>
  <div class="col-sm-1 col-xs-1 close-msg">
    <button (click)="closeErrorMessage()" class="btn-close"><span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>

<form [formGroup]="recruiterForm" (submit)="onSubmit()" class="employer-form">

  <div class="row clearfix">
    <div class="form-group">
      <control-messages [control]="recruiterForm.controls.company_name"></control-messages>
      <input type="text" formControlName="company_name" id="company_name" class="form-control" required/>
      <label>Company Name</label>
    </div>

    <div class="form-group">
      <div ng2-auto-complete [source]="companySize" (ngModelChange)="selectCompanySizeModel($event)">
        <input class="form-control" [ngModel]="storedcompanySize" [ngModelOptions]="{standalone: true}" placeholder="Company Size"/>
      </div>
    </div>

    <div class="form-group">
      <control-messages [control]="recruiterForm.controls.email"></control-messages>
      <input type="email" formControlName="email" id="email" class="form-control" required/>
      <label>Email</label>
    </div>

    <div class="form-group">
      <control-messages [control]="recruiterForm.controls.mobile_number"></control-messages>
      <input type="number" formControlName="mobile_number" id="mobile_number" class="form-control" required/>
      <label>Mobile</label>
    </div>

    <div class="form-group">
      <control-messages [control]="recruiterForm.controls.password"></control-messages>
      <input type="password" formControlName="password" id="password" class="form-control" required/>
      <label>Password</label>
    </div>

    <div class="form-group">
      <control-messages [control]="recruiterForm.controls.conform_password"></control-messages>
      <input type="password" formControlName="conform_password" id="conform_password"
             (blur)="makePasswordConfirm()" class="form-control" required/>
      <label>Confirm Password</label>
      <div class="error-message-registration" *ngIf="isPasswordConfirm == true">
        <p>Passwords does not match.</p>
      </div>
    </div>

    <div class="form-group">
      <div ng2-auto-complete [source]="countries" (ngModelChange)="selectCountryModel($event)">
        <input class="form-control" [ngModel]="countryModel" [ngModelOptions]="{standalone: true}" placeholder="Select Country"/>
      </div>
    </div>

    <div class="form-group">
      <div ng2-auto-complete [source]="states" (ngModelChange)="selectStateModel($event)">
        <input class="form-control" [ngModel]="stateModel" [ngModelOptions]="{standalone: true}" placeholder="Select State"/>
      </div>
    </div>

    <div class="form-group">
      <div ng2-auto-complete [source]="cities" (ngModelChange)="selectCityModel($event)">
        <input class="form-control" [ngModel]="cityModel" [ngModelOptions]="{standalone: true}" placeholder="Select City"/>
      </div>
    </div>

    <div class="form-group" >
      <control-messages [control]="recruiterForm.controls.pin"></control-messages>
      <input type="number" formControlName="pin" id="pin" class="form-control" required/>
      <label>PIN</label>
    </div>

    <div class="form-group">
      <div ng2-auto-complete [source]="countries" (ngModelChange)="selectCompanyHeadquarterModel($event)">
        <input class="form-control" [ngModel]="companyHeadquarter" [ngModelOptions]="{standalone: true}" placeholder="Company Headquarter(Country)"/>
      </div>
    </div>
  </div>

  <div class="button-group">
    <!--<button type="submit" class="btn btn-primary" [disabled]="!recruiterForm.valid">Send OTP</button>-->
      <button type="submit" class="btn btn-primary" [disabled]="!recruiterForm.valid">Create an account</button>
  </div>
</form>
