@import '../../../../css/common';

.employer-form {
  .radio-group {
    padding: 0 0 15px;
  }

  .sub-info {
    .form-group {
      padding: 0 15px;
      width: 50%;

      label {
        left: 15px;
      }
    }
  }

  .main-info {
    .form-group {
      padding: 0 15px;
      width: 50%;

      label {
        left: 15px;
      }
    }
  }

  .add-logo {
    float: right;
  }

  .profile {
    padding: 30px 0 0;
    text-align: center;

    .avtar {
      background-color: $white;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border: 1px solid $border-color;
      border-radius: 0;
      height: 150px;
      margin: 0 auto;
      width: 150px;

    }

    form {
      margin: 0;
      padding: 0;
    }

    [type='file'] {
      display: none;
    }

    .custom-file-upload {
      background: $border-color;
      border: 1px solid $border-color;
      cursor: pointer;
      display: inline-block;
      float: none;
      font-size: 12px;
      left: 0;
      padding: 6px 12px;
      position: relative;
      top: 0;
      width: 150px;
    }
  }

  .registartion-btn-radio {
    margin-top: -40px;
  }

}

@media only screen and (max-width: 767px) {
  .employer-form {
    .add-logo {
      float: none;
    }

    .sub-info {
      .form-group {
        width: 100%;
      }
    }

    .registartion-btn-radio {
      margin-top: 0;
      padding: 0;
    }
  }
}
