<section class="settings main-form-wrapper" style="margin-top: 100px">
  <bi-project-header></bi-project-header>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11 settings-content" style="margin-top: 50px">
    <ul>
      <div class="col-xs-12 no-padding">
        <h5>Buildings List</h5>
        <li *ngFor="let building of buildings">
          <button type="button" class="btn btn-primary">{{building.name}}</button>
          <span data-toggle="modal" data-target="#delete" (click)="deletefun(building._id)" class="glyphicon glyphicon-trash"></span>
          <span (click)="getBuildingDetails(building._id)" class="glyphicon glyphicon-pencil"></span>
          <span data-toggle="modal" data-target="#myModal"(click)="cloneThisBuilding(building._id)" class="glyphicon glyphicon-duplicate"></span>
          <br/><br/>
        </li>
        <li>
          <button type="button" class="btn btn-primary" (click)="addNewBuilding()">Add New Building</button>
        </li>
      </div>
    </ul>
  </div>
  <!-- Modal -->
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
  <div class="modal fade" id="myModal" role="dialog" style="padding-bottom: 500px;">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Clone {{model.name}} Building</h2>
        </div>
        <form [formGroup]="cloneBuildingForm" class="profile-form clearfix">
          <div class="modal-body">
            <p>Building Name</p>
            <input type="text" [(ngModel)]="model.name" formControlName="name" size="45"><br>
            <p>Total Slab area<small>(in sqm)</small></p>
            <input type="text" [(ngModel)]="model.totalSlabArea" formControlName="totalSlabArea" size="45"><br>
            <p>Total Carper area<small>(in sqm)</small></p>
            <input type="text" [(ngModel)]="model.totalCarperAreaOfUnit" formControlName="totalCarperAreaOfUnit" size="45"><br>
            <p>Total Saleable area<small>(in sqm)</small></p>
            <input type="text" [(ngModel)]="model.totalSaleableAreaOfUnit" formControlName="totalSaleableAreaOfUnit" size="45"><br>
            <p>Total Parking area<small>(in sqm)</small></p>
            <input type="text" [(ngModel)]="model.totalParkingAreaOfUnit" formControlName="totalParkingAreaOfUnit" size="45"><br>
            <div class="col-xs-4"><br>
              No of 1BHKs<input type="text" [(ngModel)]="model.noOfOneBHK" formControlName="noOfOneBHK" size="10">
            </div>
            <div class="col-xs-4"><br>
              No of 2BHKs<input type="text" [(ngModel)]="model.noOfTwoBHK" formControlName="noOfTwoBHK" size="10">
            </div>
            <div class="col-xs-4"><br>
              No of 3 BHKs<input type="text" [(ngModel)]="model.noOfThreeBHK" formControlName="noOfThreeBHK" size="10">
            </div><br>
            <p>No of slabs</p>
            <input type="text" [(ngModel)]="model.noOfSlab" formControlName="noOfSlab" size="45"><br>
            <p>No of lifts</p>
            <input type="text" [(ngModel)]="model.noOfLift" formControlName="noOfLift" size="45">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button class="btn btn-primary" type="submit" (click)="onSubmit()" data-toggle="modal" data-target="#new" data-dismiss="modal">Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="modal fade" id="new" role="dialog" style="padding-bottom: 500px;">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h2 class="modal-title">Clone {{model.name}} Building Details</h2>
        </div>
        <div class="modal-body">
            <div *ngFor="let costHead of clonedBuildingDetails; let i = index">
              <input type="checkbox" [checked]="costHead.active" (change)="costHead.active = !costHead.active"/>

              <a href="#subCategory{{i}}" data-toggle="collapse">{{costHead.name}}</a>

              <div id="subCategory{{i}}" class="collapse">
                <div *ngFor="let subcategory of costHead.subCategory">

                    <input type="checkbox" [checked]="(costHead.active && subcategory.active)" (change)="subcategory.active = !subcategory.active" />
                    {{subcategory.name}}
                        <div *ngFor="let workitem of subcategory.workitem">
                          <input type="checkbox" [checked]="(costHead.active && subcategory.active && workitem.active)" (change)="workitem.active = !workitem.active" />{{workitem.name}}
                        </div>
                </div>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button class="btn btn-primary" type="button" (click)="updateBuilding(clonedBuildingDetails, clonedBuildingDetails._id)" data-toggle="modal" data-dismiss="modal">Clone</button>
        </div>
      </div>
    </div>
  </div>
    <div class="modal fade" id="delete" role="dialog">
      <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Delete</h2>
          </div>
          <div class="modal-body">
           <p><small>You Want to Delete a Building</small></p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" type="button"  (click)="deleteBuilding()" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <tpl-footer></tpl-footer>
</section>
