<section class="settings main-form-wrapper" style="margin-top: 100px">
  <bi-project-header></bi-project-header>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11 settings-content" style="margin-top: 50px">
    <ul>
      <div class="col-xs-12 no-padding">
        <h5>Buildings List</h5>
        <li *ngFor="let building of buildings">
          <button type="button" class="btn btn-primary">{{building.name}}</button>
          <span data-toggle="modal" data-target="#delete" (click)="setBuildingId(building._id)" class="glyphicon glyphicon-trash"></span>
          <span title="Edit Building" (click)="navigateToEditBuildingDetails(building._id)" class="glyphicon glyphicon-pencil"></span>
          <span data-toggle="modal" data-target="#myModal"(click)="cloneBuilding(building._id)" class="glyphicon glyphicon-duplicate"></span>
          <br/><br/>
        </li>
        <li>
          <button type="button" class="btn btn-primary" (click)="createBuilding()">Add New Building</button>
        </li>
      </div>
    </ul>
  </div>
  <!-- Modal -->
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
  <div class="modal fade default-modal" id="delete" role="dialog">
      <div class="modal-dialog modal-md">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Delete</h2>
          </div>
          <div class="modal-body">
           <p class="font-16">You Want to Delete a Building</p>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary bi-btn" type="button"  (click)="deleteBuilding()" data-dismiss="modal">Yes</button>
            <button type="button" class="btn btn-default " data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  <tpl-footer></tpl-footer>
</section>
