<div class="select-role">
  <div class="radio">
    <label class="radio-inline">Industry :&nbsp;
      <input type="radio" name="roles" id="industry" (change)="toggleRoll($event)">
      <div class="list" >
        <div ng2-auto-complete
           [source]="industries"
           (ngModelChange)="selectIndustryModel($event)"
           placeholder="Enter industry" >
          <input class="form-control" [ngModel]="industryModel" [disabled]="!industries||!isIndustrySelected" placeholder="Select Industry"/>
        </div>
      </div>
    </label>
    <label class="radio-inline">Function :
      <input type="radio" name="roles" id="function" (change)="toggleRoll($event)">
      <div class="list">
        <div ng2-auto-complete
          [source]="functions"
          (ngModelChange)="selectFunctionModel($event)"
          placeholder="Enter function">
          <input class="form-control" [ngModel]="functionModel" [disabled]="!functions||!isFunctionSelected" placeholder="Select Function"/>
        </div>
      </div>
    </label>
  </div>

  <div class="role-type clearfix">
    <div class="col-sm-1 col-xs-1">
      <p>I am</p>
    </div>
    <div class="col-sm-10 col-xs-10 no-padding">
      <div class="form-group" *ngFor="let item of temproles;let i= index">
        <div  id="{item}+i" ng2-auto-complete
              [source]="roles"
              (ngModelChange)="selectRolesModel($event)"
              placeholder="enter text">
          <!--<span *ngIf="i>0" class="pull-left">&amp;</span>-->
          <input class="form-control" [ngModel]="roleModel" />
        </div>
      </div>
      <div class="clear">
        <button type="button" id="more_fields" (click)="addNewRole()" class="btn btn-create-profile">
          Add Another Role <span>+</span>
        </button>
        <p class="btn-instructions">You can add upto 3 roles</p>
      </div>
    </div>
  </div>

  <div class="clearfix">
    <button class="btn btn-default">Cofirm &amp; Save</button>
  </div>
  <p class="instructions">Once you confirm and save your roles. You can not change them for 3 months.</p>
</div>
