@import '../../../../../../css/common';

.wrapper {
  margin-top: 80px;
  padding-top: 0;

  .panel-group {
    padding: 7px 0;
    border: 0;
  }

  .panel-heading {
    min-height: 40px;

    a {
      color: $heading;
      font-size: 12px;
      font-weight: 900;
      padding: 12px 15px;
    }

    .delete-workitems {
      cursor: pointer;
      opacity: 0;
      display: block;
      float: right;
      width: 15px;
      margin-top: 6px;
      transition: opacity 0.5s ease-in-out;
    }

    &:hover {
      .delete-workitems {
        opacity: 1;
      }
    }
  }
  .panel-body {
    padding: 0;
  }
}

.building-name{
  background-color: $white;
  color: $heading;
  padding: 10px 15px;
  width: 100%;
  text-align: left;
  border-radius: 8px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
  font-weight: 300;
  font-size: 20px;
  .building-label {
    color: #434C5E;
    font-size: 21px;
  }
  .text-left {
    color: #434C5E;
    font-size: 14px;
  }
}

.add-subcategory {
  table {
    tr > td {
      text-align: center !important;
    }
  }
}

.table-categories {
  tr {
    margin: -5px 0;
    display: inline-block;
    width: 100%;
  }
  tr > td,
  tr > th {
    &:nth-child(1) {
      width: 290px;
      float: left;
    }

    &:nth-child(2){
      width: 120px;
      float: left;
    }

    &:nth-child(3){
      width: 130px;
      float: left;
    }

    &:nth-child(4) {
      width: 60px;
      float: left;
    }

    &:nth-child(5) {
      width: 150px;
      float: left;
    }

    &:nth-child(6){
      width: 107px;
      float: left;
    }
    &:last-child {
      vertical-align: top;
    }
    .edit-field {
      width: auto;
    }
  }
  tr > td {
    &:nth-child(4),
    &:nth-child(6){
      padding-top: 13px;
    }
    .edit-field {
      input {
        margin: 2px;
      }
    }
  }
  .btn-get-amount {
    height: 23px;
  }
}

.add-more-details-btn {
  background: $table-btn-bg;
  border: 1px solid $table-btn-bg;
  border-radius: 2px;
  color: $white;
  font-size: 11px;
  padding: 4px 4px;
  height: auto;
  margin: 3px;
  float: left;
  width: 105px;
}

.create-new-header {
  .btn-back {
    left: 0;
    margin-left: 15px;
    position: fixed;
    top: 80px;
  }

  .btn-close {
    margin-right: 15px;
    position: fixed;
    right: 0;
    top: 80px;
  }

  .btn-close,
  .btn-back {
    margin-top: 9px;
    span {
      color: $gray-dark;
      display: block;
      font-size: 10px;
      margin-top: 5px;
    }
  }
}
