<header  class="header-container">
  <div class="container">
    <div class="col-sm-12">
      <ul>
        <li>
          <a type="button" [routerLinkActive]="['active']" [routerLink]="['/project', getCurrentProjectId(),'cost-summary']" cost-summary>Cost Summary</a>
        </li>
        <li>
          <a type="button"  [routerLinkActive]="['active']" [routerLink]="['/project',getCurrentProjectId(),'material-takeoff']">Material Takeoff</a>
        </li>
        <li>
          <a type="button"  [routerLinkActive]="['active']"  [routerLink]="['/project', getCurrentProjectId(),'details']" >Project Details</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<bi-project-list-header></bi-project-list-header>

