<header  class="header-container">
  <div class="container">
    <div class="col-sm-9 padding-right30">
      <div class="project-expiring">
        <span>{{subscriptionValidityMessage}}</span>
        <button *ngIf="subscriptionValidityMessage" (click)="goToRenew()">{{getButton()}}</button>
      </div>
      <ul>
        <li>
          <a type="button" (click)="closeMenu()" *ngIf="getCurrentProjectId()" [routerLinkActive]="['active']" [routerLink]="['/project', getCurrentProjectId(),'cost-summary']" cost-summary>{{getMenus().COST_SUMMARY}}</a>
        </li>
        <li>
          <a type="button" (click)="closeMenu()" *ngIf="getCurrentProjectId()" [routerLinkActive]="['active']" [routerLink]="['/project',getCurrentProjectId(),'material-takeoff']">{{getMenus().MATERIAL_TAKEOFF}}</a>
        </li>
        <li>
          <a type="button" (click)="closeMenu()" *ngIf="getCurrentProjectId()" [routerLinkActive]="['active']"  [routerLink]="['/project', getCurrentProjectId(),'details']" >{{getMenus().PROJECT_DETAILS}}</a>
        </li>
      </ul>
      <div  class="add-building-link" *ngIf="getCurrentView() === currentView().COST_SUMMARY">
        <a (click)="goToCreateBuilding()"><span class="glyphicon glyphicon-plus"></span>{{getMenus().ADD_BUILDING}}</a>
      </div>
    </div>
  </div>
</header>
