<div class="change-mobile col-sm-12 no-padding">
  <div>

    <!--<tpl-loader *ngSwitchCase="true"></tpl-loader>-->
    <app-loader></app-loader>

    <div class="col-sm-12">

      <div class="alert alert-danger clearfix" [hidden]="isShowErrorMessage">
        <div class="col-sm-1 hidden-xs"><span class="glyphicon glyphicon-warning-sign"></span></div>
        <div class="col-sm-10 col-xs-11 error-msg"><b>{{ error_msg }}</b></div>
        <div class="col-sm-1 col-xs-1 close-msg">
          <button (click)="isShowErrorMessage = true" class="btn-close"><span
            class="glyphicon glyphicon-remove"></span></button>
        </div>
      </div>

      <form [formGroup]="userForm" (submit)="onSubmit()">

        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <label><img src="{{MOBILE_ICON}}"/> Current Mobile</label>
          <control-messages [control]="userForm.controls.current_mobile_number"></control-messages>
          <input type="number" [(ngModel)]="model.current_mobile_number" formControlName="current_mobile_number"
                 id="current_mobile_number" placeholder="Current Mobile"
                 class="form-control" readonly/>
        </div>

        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <label><img src="{{NEW_MOBILE_ICON}}"/> New Mobile</label>
          <control-messages [control]="userForm.controls.new_mobile_number"></control-messages>
          <input type="number" formControlName="new_mobile_number" id="new_mobile_number" placeholder="New Mobile"
                 class="form-control"/>
        </div>

        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <label><img src="{{CONFIRM_MOBILE_ICON}}"/> Confirm Mobile</label>
          <control-messages [control]="userForm.controls.confirm_mobile_number"></control-messages>
          <input type="number" formControlName="confirm_mobile_number" id="confirm_mobile_number"
                 placeholder="Confirm Mobile"
                 (blur)="makeMobileConfirm()" class="form-control"/>
          <div class="error-message" *ngIf="isMobileNoConfirm == true"><p>Mobile Number does not match.</p></div>
        </div>

        <div class="clearfix">&nbsp;</div>
        <button type="submit" class="btn btn-default" [disabled]="!userForm.valid">Change Mobile</button>

      </form>

    </div>
  </div>
</div>


<div class="modal" [style.display]="getStyle()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="showHideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5>Confirm your mobile </h5>
        </div>
        <div class="modal-body">
          <p>mobile number changed successfully.You can Sign In again by clicking on "yes" button, please click on "No"
            button to continue the session. </p>
          <div class="clearfix">&nbsp;</div>
          <button type="button" class="btn btn-default" (click)="logOut()">Yes</button>
          <button type="button" class="btn btn-default" (click)="showHideModal()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>

