$border-color: #e8e8e8;
$orange: #e77e22;
$theme-color: #3694d1;
$white: #fff;

.card-view {
  clear: both;
  text-align: left;
  max-height: inherit;
  overflow: auto;
}

.q-card-header {
  border-top: 0;
}

@media only screen and (max-width: 980px) {
  .card-view {
    margin-top: 40px;
  }
}
