<div class="dashboard-view clearfix">
  <h4>{{joblistCount}} total jobs available</h4>
  <div class="sort-by">
    <label>Sort by</label>
    <select id="menu"  [(ngModel)]="qCardModel.sortValue">
      <option value="{{itemList}}" *ngFor="let itemList of qCardModel.listOfMatchings">{{itemList}}</option>
    </select>
  </div>
  <button type="button" (click)="clearFilter()">Clear all filters</button>
  <div class="card-view clearfix">
    <div *ngFor="let job of listOfJobs | orderby:qCardModel.sortValue | dashboardfilter:filterMeta">
      <cn-candidate-q-card [job]="job" [type]="type" (onAction)="onActionPerform($event)"></cn-candidate-q-card>
    </div>
  </div>
</div>


