<div class="dashboard-view clearfix" *ngIf="listOfJobs != undefined">

  <header class="col-sm-12 q-card-header">
    <ul>
     <!-- <li>
        &lt;!&ndash;<p>Showing {{qCardCount.count}} out of {{listOfJobs.length}} job profiles</p>&ndash;&gt;
        <p>Showing {{qCardCount.count}} out of {{listOfJobs.length}}</p>
      </li>-->
      <li>
        <a class="clear-filter" (click)="clearFilter()">Clear all filters</a>
      </li>
    </ul>
    <!--<div class="search">
      <input class="form-control" type="text" />
      <button class="btn btn-search" type="button"><img src="./assets/framework/images/dashboard/search.png"></button>
    </div>-->
    <div class="sort-by">
      <label>Sort by</label>
      <select id="menu" [(ngModel)]="qCardModel.sortValue">
        <option value="{{itemList}}" *ngFor="let itemList of qCardModel.listOfMatchings">{{itemList}}</option>
      </select>
    </div>
  </header>

  <div class="card-view clearfix">
    <div
      *ngFor="let job of listOfJobs | qcardlistsort:[qCardModel.sortValue,'aboveMatch','candidate'] | qcardlistfilter:filterMeta:qCardCount;let i=index">
      <!--<p>{{qCardCount?.count}}</p>-->
      <cn-candidate-q-card [job]="job" [type]="type" (onAction)="onActionPerform($event)"></cn-candidate-q-card>
    </div>
  </div>
</div>


