$border-color: #e8e8e8;
$orange: #e77e22;
$theme-color: #3694d1;
$white: #fff;

.card-view {
  clear: both;
  text-align: left;
  max-height: inherit;
  overflow: auto;
}

header {
  .sort-by, .search {
    float: right;
    margin-left: 15px;
  }
}