$border-color: #e8e8e8;
$text-color: #666;
$white: #fff;
$option-border-color: #f8f8f8;
$option-theme-color: #1c75bd;

.complexities {
  .btn-primary {
    float: right;
    margin-top: 15px;

    &:focus,
    &:active {
      outline: none;
    }
  }

}
.main-content > span {
  padding-left: 0;
}

.compact-view {
  padding: 0;

  .btn-edit {
    z-index:3
  }

  .content {
    border-bottom: 0 ;
  }
}

.select-complexity {
  padding: 0 0 10px;
  border-bottom: 1px solid $border-color;

  .complexity-name {
    p {
      margin: 10px 0 5px;
      text-transform: capitalize;
      font-size: 12px;
    }
  }
}


.select-option > label {
  margin: 0;
  padding: 10px 0;
}

@media screen and (max-width: 1099px) {
  .select-option > label {
    & > input {
      & + span {
        &:hover {
          border: 1px solid $option-theme-color;
        }
      }
    }

    &:hover {
      & > input {
        & + span {
          border: 1px solid $option-theme-color;
        }
      }
    }
  }
}

@media screen and (max-width: 980px) {
  .btn-primary {
    float: none;
    margin-top: 15px;
  }

  .scenarios {
    .select-option {
      margin: 0 20px 0 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .scenarios {
    .select-option {
      margin: 3px 20px 3px 0;
    }
  }

  .select-option > label {
    padding: 0;

    & > input {
      & + span {
        font-size: 10px;
      }
    }
  }

  .complexities {
    padding: 0;
  }

  .btn-primary {
    float: none;
  }
}

