<div class="modal-bg" *ngIf="highlightedSection.name=='Complexities'"></div>
<div class="section-container clearfix" *ngIf="highlightedSection.name=='Complexities'">
  <div class="main-content clearfix edit-modal-content">
    <div class="complexities col-sm-9">
      <h4 class="heading">Capabilities Details
        <span class="pull-right">{{currentComplexity+1}}/{{complexityIds.length}}</span>
      </h4>
      <div class="complexity-container">
          <cn-question-answer [complexityDetails]="currentComplexityDetails" [slideQuestionToLeft]="slideToLeft" [slideQuestionToRight]="slideToRight" (onComplete)="onAnswered($event)" ></cn-question-answer>
        <div class="error-messages"
             *ngIf="!isValid">
          <p>You can't leave this empty.</p>
        </div>
          <div class="button-group clearfix clear">
            <div>
              <button class="btn btn-success btn-next" (click)="onNext()" [disabled]="currentComplexity===complexityIds.length">Next</button>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-3 no-padding">
      <cn-tool-tip [message]="tooltipCandidateMessage" *ngIf="isCandidate"></cn-tool-tip>
      <cn-tool-tip [message]="tooltipRecruiterMessage" *ngIf="!isCandidate"></cn-tool-tip>
    </div>
    <button class="btn-prev" (click)="onPrevious()" [disabled]="currentComplexity===0"><span class="glyphicon glyphicon-chevron-left"></span></button>
  </div>
</div>
<div class="section-container " *ngIf="highlightedSection.name!='Complexities'">
  <div class="main-content clearfix">
    <div class="compact-view">
      <a data-toggle="collapse" data-target="#demo" (click)="showMore = !showMore">
        <h4 class="heading-compact">Complexities handled for the above Capabilities
          <button class="btn-edit" (click)="edit()"
                  [hidden]="highlightedSection.isDisable" title="Edit Complexities"></button>
        </h4>
       <!-- <span class="see-more" *ngIf="!showMore">more...</span>
        <span class="see-more" *ngIf="showMore">less...</span>-->
      </a>
      <div id="demo">
        <div class="col-sm-12 no-padding">
          <cn-capability-compare [isCompact]="true" [capabilities]="capabilities"></cn-capability-compare>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div [class.modal-bg]="highlightedSection.name!='Complexities'"></div>-->

<div class="modal popup" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Do you want to save these Details ?</p>
              <div class="button-group">
                <form>
                  <input type="submit" #save class="btn btn-success" ref-searchInput (click)="saveComplexity()"
                         value="Save"/>
                  <button class="btn btn-default" (click)="showHideModal()">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
