@import '../../../../css/variables';

.error-messages {
  position: fixed;
  margin: 5px 15px;
  bottom: 0;
  left: 0;
}

.compact-view {
  padding: 0;

  .heading-compact {
    background: $theme-color;
    color: $white;
    margin: 0;
    padding: 5px 15px;
  }

  a {
    display: block;
  }

  .content {
    border-bottom: 0;
  }

  &:hover {
    .btn-edit {
      opacity: 1;
      top: 2px;
    }
  }

  .glyphicon-lock {
    background-color: #dbeef6;
  }

  .add-more {
    color: $white;
    font-size: 11px;
    font-weight: 300;

    .glyphicon {
      padding: 0 10px 0 20px;
      color: $white;
      font-size: 12px;
    }
  }
}

.main-content {
  .heading {
    font-size: 20px !important;

    .capability-name {
      font-size: 20px !important;
      float: none !important;
      color: $text-color !important;
      padding-bottom: 2px !important;
      border-bottom: 1px solid $text-color !important;
      line-height: 30px;
      font-style: normal !important;
      font-family: 'gothamrnd-light';
      font-weight: 600;
    }
  }
}

/*.scrollable-content {
  padding: 100px 250px 60px 70px !important;
}*/

.question-count {
  position: absolute;
  bottom: 15px;
  right: 360px;
  z-index: 3;
}

.heading {
  overflow: visible !important;
  text-overflow: clip !important;
  white-space: normal !important;
}

@media only screen and (max-width: 768px) {
  .question-count {
    right: 315px;
  }
}

@media only screen and (max-width: 767px) {
  .capability-edit {
    top: 2px !important;
  }

  .question-count {
    right: 120px;
  }

  .main-content {
    .heading {
      font-size: 18px !important;

      .capability-name {
        font-size: 18px !important;
        line-height: 25px;
      }
    }
  }
}
