<div class="modal-bg" *ngIf="highlightedSection.name=='Complexities'"></div>
<div class="section-container clearfix" *ngIf="highlightedSection.name=='Complexities'">
  <cn-tool-tip [message]="tooltipCandidateMessage" *ngIf="isCandidate"></cn-tool-tip>
  <cn-tool-tip [message]="tooltipRecruiterMessage" *ngIf="!isCandidate"></cn-tool-tip>
  <div class="main-content clearfix modal-content">
    <div class="complexities">
      <h4 class="heading"><span class="light-font">Choose </span>Complexities<span class="light-font"> for </span>Capabilities <span class="light-font">selected above </span> <span class="pull-right"> </span>
      </h4>
      <div class="col-sm-12">
        <div class="complexity-container">
          <!--<div *ngIf="isPresentDefaultComplexity">
            <div *ngFor="let role of roles;let i = index">
              <div *ngIf="role.default_complexities!=undefined && role.default_complexities[0]!=undefined">
                <div class="panel-group" id="accordion1">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 class="panel-title sub-areas">
                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1{{i}}" aria-expanded="false">
                          {{role.name}}
                          <span class="glyphicon glyphicon-chevron-right"></span> Common Capabilities</a>
                      </h5>
                    </div>
                    <div id="collapse1{{i}}" class="panel-collapse collapse" >
                      <div class="panel-body">
                        <div class="select-complexity clearfix" *ngFor="let complexity of role.default_complexities[0].complexities">
                          <div >
                            <div class="complexity-name col-sm-2 no-padding">
                              <p>{{complexity.name}}</p>
                            </div>
                            <div class="scenarios col-sm-10 padding-left15">
                              <div class="select-option2" *ngFor="let scenario of complexity.scenarios">
                                <label>
                                  <input type="radio" name="{{complexity.name}}" value="{{scenario.name}}"
                                         (change)="selectDefaultComplexity(role,complexity,scenario,$event)"
                                         [checked]="scenario.isChecked">
                                  <span>{{scenario.name}}</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="isPresentDefaultComplexityCandidate">
            <div *ngFor="let role of candidateRoles;let i = index">
              <div *ngIf="role.default_complexities!=undefined && role.default_complexities[0]!=undefined">
                <div class="panel-group" id="accordion2">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 class="panel-title sub-areas">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2{{i}}" aria-expanded="false">
                          {{role.name}} <span class="glyphicon glyphicon-chevron-right"></span> Common Capabilities</a>
                      </h5>
                    </div>
                    <div id="collapse2{{i}}" class="panel-collapse collapse" >
                      <div class="panel-body">
                        <div  class="select-complexity clearfix" *ngFor="let complexity of role.default_complexities[0].complexities">
                          <div>
                            <div class="complexity-name col-sm-2 no-padding">
                              <p>{{complexity.name}}</p>
                            </div>
                            <div class="scenarios col-sm-10 padding-left15">
                              <div class="select-option2" *ngFor="let scenario of complexity.scenarios">
                                <label>
                                  <input class="selected-complexity" type="radio" name="{{complexity.name}}"
                                         value="{{scenario.name}}"
                                         (change)="selectDefaultComplexity(role,complexity,scenario,$event)"
                                         [checked]=" scenario.isChecked">
                                  <span>{{scenario.name}}</span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="isPresentCapabilityCandidate">
            <div *ngFor="let role of candidateRoles;let i = index">
              <div *ngFor="let capability of role.capabilities;let j = index">
                <div class="panel-group" id="accordion3">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 class="panel-title sub-areas">
                        <a data-toggle="collapse" data-parent="#accordion3" href="#collapse3{{i}}{{j}}" aria-expanded="false">
                          {{role.name}} <span class="glyphicon glyphicon-chevron-right"></span> {{capability.name}}
                        </a>
                      </h5>
                    </div>
                    <div id="collapse3{{i}}{{j}}" class="panel-collapse collapse" >
                      <div class="panel-body">
                        <div class="select-complexity clearfix" *ngFor="let complexity of capability.complexities">
                          <div class="complexity-name col-sm-2 no-padding">
                            <p id="complexity1">{{complexity.name}}</p>
                          </div>
                          <div class="scenarios col-sm-10 padding-left15">
                            <div class="select-option2" *ngFor="let scenario of complexity.scenarios">
                              <label>
                                <input class="selected-complexity" type="radio" name="{{complexity.name}}"
                                       value="{{scenario.name}}"
                                       (change)="selectComplexity(role,capability,complexity,scenario,$event)"
                                       [checked]="scenario.isChecked">
                                <span>{{scenario.name}}</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="isPresentCapability">
            <div *ngFor="let role of roles;let i = index">
              <div *ngFor="let capability of role.capabilities;let j = index">
                <div class="panel-group" id="accordion4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h5 class="panel-title sub-areas">
                        <a data-toggle="collapse" data-parent="#accordion4" href="#collapse4{{i}}{{j}}" aria-expanded="false">
                          {{role.name}} <span class="glyphicon glyphicon-chevron-right"></span>  {{capability.name}}</a>
                      </h5>
                    </div>
                    <div id="collapse4{{i}}{{j}}" class="panel-collapse collapse" >
                      <div class="panel-body">
                        <div class="select-complexity clearfix" *ngFor="let complexity of capability.complexities">
                          <div class="complexity-name col-sm-2 no-padding">
                            <p id="complexity">{{complexity.name}}</p>
                          </div>
                          <div class="scenarios col-sm-10 padding-left15">
                            <div class="select-option2" *ngFor="let scenario of complexity.scenarios">
                              <label>
                                <input type="radio" name="{{complexity.name}}" value="{{scenario.name}}"
                                       (change)="selectComplexity(role,capability,complexity,scenario,$event)"
                                       [checked]="scenario.isChecked">
                                <span>{{scenario.name}}</span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>-->
          <div>
            <cn-question-answer [complexityDetails]="currentComplexityDetails" (onComplete)="onAnswered($event)" ></cn-question-answer>
            <div class="button-group clearfix">
              <div *ngIf="isCandidate">
                <button class="btn btn-success" (click)="onNext()">Next</button>
                <button class="btn btn-success" (click)="onPrevious()">Previous</button>
              </div>
            </div>
          </div>
        </div>
       <!-- <div class="button-group clearfix">
          <div *ngIf="isCandidate">
            <button class="btn btn-success" (click)="showHideModal()">Next
            </button>
          </div>
          <div *ngIf="!isCandidate">
            <button class="btn btn-success" (click)="saveComplexity()">Next
            </button>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>
<div class="section-container clearfix" *ngIf="highlightedSection.name!='Complexities'">
<!--
  <div class="main-content">
    <div class="compact-view clearfix">
      <a data-toggle="collapse" data-target="#demo" (click)="showMore = !showMore">
        <h4 class="heading">Complexities handled for the above Capabilities
          <button class="btn-edit" (click)="edit()"
                  [hidden]="highlightedSection.isDisable"></button>
        </h4>
        <span class="see-more" *ngIf="!showMore">more...</span>
        <span class="see-more" *ngIf="showMore">less...</span>
      </a>
      <div id="demo" class="collapse col-sm-12">
        <cn-tabular-list-view [roles]="candidateRoles"></cn-tabular-list-view>
      </div>
    </div>
  </div>
-->

  <p>compact View of complexity</p>
</div>
<div class="clearfix divider clear"></div>
<!--<div [class.modal-bg]="highlightedSection.name!='Complexities'"></div>-->

<div class="modal popup" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Do you want to save these Details ?</p>

              <div class="button-group">
                <form>
                  <input type="submit" #save class="btn btn-success" ref-searchInput (click)="saveComplexity()"
                         value="Save"/>
                  <button class="btn btn-default" (click)="showHideModal()">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
