@import '../../../../../../css/common';

$theme-color: #3694d1;
$text-color: #576b7c;
$bg-color: #f2f2f2;

.vertical-view {
  margin-bottom: 15px;
  text-align: left;
  font-size: 12px;

  &::before {
    clear: both;
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }

  img {
    width: 25px;
    margin-right: 5px;
  }

  span {
    color: $theme-color;
    text-transform: capitalize;
  }

  ul {

    margin: 10px auto;
    padding: 0;

    li {
      list-style-type: none;
      position: relative;
      text-align: left;
      width: 100%;
      padding: 5px 0;
      margin: 0;

      &::before {
        background-color: $text-color;
        border: 5px solid $bg-color;
        border-radius: 50%;
        content: "";
        display: block;
        //height: 10px;
        margin: 0;
        position: absolute;
        //width: 10px;
        padding: 5px;
        top: 0;
        z-index: 2;
      }

      &::after {
        background: $text-color;
        content: '';
        height: 100%;
        left: 10px;
        position: absolute;
        top: 0;
        width: 1px;
        z-index: 1;
      }

      &:last-child::after {
        content: none;
        display: none;
      }

      p {
        padding: 0 0 5px 30px;
        color: $text-color;
        margin: -4px 0 5px 0;
        word-break: break-all;
      }

      .text-ellipsis {
        @extend %text-ellipsis;
      }

      .read-less,
      .read-more {
        display: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 10px;
        color: $theme-color;
      }

      .text-ellipsis ~ .read-more {
        display: block;
      }

      .text-wrap ~ .read-less {
        display: block;
      }
    }
  }
}

/*
!* mixin for multiline *!
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount;
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

.block-with-text {
  @include multiLineEllipsis($lineHeight: 1.2em, $lineCount: 3, $bgColor: white);
}*/
