<div class="vertical-view">
  <div *ngIf="type=='employment'">
    <img src="assets/c-next/icons/employment-icon.png" alt="employment"/>
    <span>{{type}}</span>
    <ul>
      <li *ngFor="let item of data;let i = index">
        <p>{{item.from.year}} - {{item.to.year}}</p>
        <p>{{item.designation}}</p>
        <p>{{item.companyName}}</p>
        <p [class.text-ellipsis]="!readMore[i]" [class.text-wrap]="readMore[i]">{{item.remarks}}</p>
        <p class="read-more" (click)="readMore[i] = !readMore[i]" *ngIf="item.remarks.length>30">Read More</p>
        <p class="read-less" (click)="readMore[i] = !readMore[i]">Read Less</p>
      </li>
    </ul>
  </div>
  <div *ngIf="type=='education'">
    <img src="assets/c-next/icons/education-icon.png" alt="education"/>
    <span>{{type}}</span>
    <ul>
      <li  *ngFor="let item of data;let i = index" >
        <p>{{item.yearOfPassing}}</p>
        <p>{{item.specialization}}</p>
        <p>{{item.board}}</p>
        <p [class.text-ellipsis]="!readMore[i]" [class.text-wrap]="readMore[i]">{{item.schoolName}}</p>
        <p class="read-more" (click)="readMore[i] = !readMore[i]" *ngIf="item.schoolName.length>30">Read More</p>
        <p class="read-less" (click)="readMore[i] = !readMore[i]">Read Less</p>
      </li>
    </ul>
  </div>
  <div *ngIf="type=='awards'|| type=='certifications'">
    <img src="assets/c-next/icons/education-icon.png" alt="awards"/>
    <span>{{type}}</span>
    <ul>
      <li  *ngFor="let item of data;let i = index" >
        <p>{{item.year}}</p>
        <p>{{item.name}}</p>
        <p>{{item.issuedBy}}</p>
        <p [class.text-ellipsis]="!readMore[i]" [class.text-wrap]="readMore[i]">{{item.remark}}</p>
        <p class="read-more" (click)="readMore[i] = !readMore[i]" *ngIf="item.remark.length>20  ">Read More</p>
        <p class="read-less" (click)="readMore[i] = !readMore[i]">Read Less</p>
      </li>
    </ul>
  </div>
</div>
