<div class="vertical-view">
  <div *ngIf="type=='employment'">
    <img src="assets/c-next/icons/employment-icon.png" alt="employment"/>
    <span>{{type}}</span>
    <ul>
      <li *ngFor="let item of data;let i = index">
        <p>{{item.from.year}} - {{item.to.year}}</p>
        <p>{{item.designation}}</p>
        <p>{{item.companyName}}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="type=='education'">
    <img src="assets/c-next/icons/education-icon.png" alt="education"/>
    <span>{{type}}</span>
    <ul>
      <li  *ngFor="let item of data;let i = index" >
        <p>{{item.yearOfPassing}}</p>
        <p>{{item.specialization}}</p>
        <p>{{item.schoolName}}</p>
      </li>
    </ul>
  </div>
  <div *ngIf="type=='awards'|| type=='certifications'">
    <img src="assets/c-next/icons/education-icon.png" alt="awards"/>
    <span>{{type}}</span>
    <ul>
      <li  *ngFor="let item of data;let i = index" >
        <p>{{item.year}}</p>
        <p>{{item.name}}</p>
        <p>{{item.issuedBy}}</p>
      </li>
    </ul>
  </div>
</div>
