<header class="page-header" *ngIf="candidate != undefined">
  <cn-candidate-header [candidate]="candidate"></cn-candidate-header>
  <!--<div class="container">
    <ul class="action-list">
      <li>
        <img src="assets/c-next/icons/print-icon.png" alt="print"/><span class="hidden-xs">Print Profile</span>
      </li>
      <li>
        <img src="assets/c-next/icons/pdf-icon.png" alt="pdf"/><span class="hidden-xs">Generate Pdf</span>
      </li>
    </ul>
  </div>-->
</header>


<cn-candidate-view [candidateId]="candidateId"></cn-candidate-view>

