@import '../../../../../css/variables';

.confirm-your-package-section {
  max-width: 425px;
  display: table;
  margin: 0 auto;
  h1 {
    color: $heading;
    font-size: 30px;
    font-weight: 300;
    margin: 30px 0 20px 0;
  }
  ul {
    display: inline-block;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
    li {
      border-top: 1px solid $row-border;
      color: #696f77;
      display: inline-block;
      font-size: 14px;
      margin: 0;
      padding: 7px 0;
      width: 100%;
      span {
        float: left;
      }
    }
    li:last-child {
      border-bottom: 1px solid $row-border;
    }
  }
  .btn-primary {
    height: 44px;
    line-height: 20px;
    margin: 0;
    padding: 10px 25px;
    width: 100px;
  }

  .btn-default {
    margin-right: 10px;
    padding: 10px 25px;
    width: 100px;
  }
  .font-bold {
    color: $heading;
    font-weight: bold;
  }
  sup {
    font-weight: 400;
  }
  .totalBillAmount {
    width: 120px;
    float: right;
  }
  .lineThrough {
    text-decoration: line-through;
  }
  .font-18 {
    font-size: 18px;
  }
  .discount-text {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
  }
}

.addmore-package-section {
  max-width: 600px;
  display: table;
  margin: 0 auto;
  h1 {
    color: $heading;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0 20px 0;
  }
  ul {
    display: inline-block;
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
    li {
      border-top: 1px solid $row-border;
      color: #696f77;
      display: inline-block;
      font-size: 14px;
      margin: 0;
      padding: 7px 0;
      width: 100%;
      .total-billed-amount {
        span {
          font-size: 18px;
          font-weight: 700;
        }
        sup {
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
    li:last-child {
      border-bottom: 1px solid $row-border;
      padding: 16px 0 10px;
    }
    .select-dropdown {
      background: transparent url(../assets/framework/images/form/drop-down.png) no-repeat 94% 50%;
      border: 1px solid #bbb;
      color: #434c5e;
      font-size: 12px;
      font-weight: 400;
      margin: 4px 0 0;
      padding: 2px 20px 2px 7px;
      width: 40px;
    }
    .select-label {
      padding: 4px 0 0;
      font-weight: normal;
    }
  }
  .btn-primary {
    height: 44px;
    line-height: 20px;
    margin: 0;
    padding: 10px 25px;
    width: 140px;
  }

  .btn-default {
    margin-right: 10px;
    padding: 10px 25px;
    width: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .confirm-your-package-section {
    h1 {
      font-size: 20px;
    }
  }
  .addmore-package-section {
    padding: 0 15px;
    h1 {
      font-size: 16px;
      line-height: 25px;
      text-align: center;
    }
  }
  .discount-text {
    font-size: 12px;
    font-weight: 600;
    width: 155px;
  }
}
