<div class="guided-tour">
  <div class="modal-background"></div>
  <div class="inner">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item carousel-slide active">
          <img src="../assets/c-next/guided-tour/slide13.jpg" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide1.jpg" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide2.png" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide3.png" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide4.png" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide12.png" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide5.png" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide6.png" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide7.png" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide8.png" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide9.png" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide10.png" style="width:100%;">
        </div>

        <div class="item carousel-slide">
          <img src="../assets/c-next/guided-tour/slide11.png" style="width:100%;">
        </div>

      </div>

      <!-- Left and right controls -->
      <div class="button-container">
        <a class="left" (click)="showHide(true)" *ngIf="isShowPrev" href="#myCarousel" data-slide="prev">
          <a class="btn btn-default btn-prev">Previous</a>
        </a>
        <a class="right" *ngIf="isShowNext" (click)="showHide(false)" href="#myCarousel" data-slide="next">
          <a class="btn btn-default btn-next">Next</a>
        </a>
        <a class="btn btn-danger skip"  *ngIf="isShowNext" (click)="onSkipClick()">Skip</a>
        <a class="btn btn-danger skip"  *ngIf="!isShowNext" (click)="onSkipClick()">Finish</a>
      </div>
    </div>
  </div>
</div>
