$theme-color: #3694d1;

.complexity-details {
  padding: 0 15px 0 50px;

  .breadcrumbs {
    font-size: 12px;
  }

  .question {
    margin: 20px 0;
  }

  .question > span {
    color: $theme-color;
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: bold;
  }
}
