<div class="complexity-details" *ngIf="complexityDetails" [class.slide-left]="slideQuestionToRight" [class.slide-right]="slideQuestionToLeft">
  <p class="breadcrumbs">
    <span *ngIf="complexityDetails.role_name">{{complexityDetails.role_name}} </span>
    <span *ngIf="complexityDetails.capability_name"> >> {{complexityDetails.capability_name}} </span>
    <span *ngIf="complexityDetails.defaultComplexityName"> >> {{complexityDetails.defaultComplexityName}}</span>
    <span> {{complexityDetails.complexity_number}}</span><span *ngIf="complexityDetails.total_complexity_in_capability">/{{complexityDetails.total_complexity_in_capability}}</span>
  </p>

  <p class="question">
    <span *ngIf="isCandidate && complexityDetails.questionForCandidate">{{complexityDetails.questionForCandidate}}</span>
    <span *ngIf="!isCandidate && complexityDetails.questionForRecruiter">{{complexityDetails.questionForRecruiter}}</span>
  </p>

  <div class="scenarios">
    <div class="select-option2" *ngFor="let scenario of complexityDetails.scenarios">
      <label>
        <input type="radio" name="{{complexityDetails.complexity_name}}" value="{{scenario.name}}"
               (change)="onQuestionSelect(scenario,$event)"
               [checked]="isChecked(scenario.code)">
        <span>{{scenario.name}}</span>
      </label>
    </div>
  </div>
</div>
