<div class="complexity-details" *ngIf="complexityDetails">
 <!-- <p class="breadcrumbs">
    <span *ngIf="complexityDetails.role_name">{{complexityDetails.role_name}} </span>
    <span *ngIf="complexityDetails.capability_name"> >> {{complexityDetails.capability_name}} </span>
    <span *ngIf="complexityDetails.defaultComplexityName"> >> {{complexityDetails.defaultComplexityName}}</span>
    <span> {{complexityDetails.complexity_number}}</span><span *ngIf="complexityDetails.total_complexity_in_capability">/{{complexityDetails.total_complexity_in_capability}}</span>
  </p>-->

  <p class="question">
    <span *ngIf="isCandidate && complexityDetails.questionForCandidate">{{complexityDetails.questionForCandidate}}</span>
    <span *ngIf="!isCandidate && complexityDetails.questionForRecruiter">{{complexityDetails.questionForRecruiter}}</span>
  </p>

  <div class="scenarios">
    <div class="item-radio" *ngFor="let scenario of complexityDetails.scenarios">
      <label>
        <input type="radio" name="{{complexityDetails.complexity_name}}" value="{{scenario.name}}"
               (change)="onQuestionSelect(scenario,$event)"
               [checked]="isChecked(scenario.code)">
        <span>{{scenario.name}}</span>
        <div class="check"></div>
      </label>
    </div>
   <div class="add-complexity-notes">
     <label> Note (if any) </label>
     <textarea type="text" (change)="onNoteChange()" [(ngModel)]="complexityDetails.complexityNote" maxlength="2000"> </textarea>
   </div>
  </div>
</div>
