@import '../../../../../css/variables';

.panel {
  padding: 0;
  border: 0;
  cursor: pointer;
}

.dashboard-modal {
  .modal-content {
    margin: 7px 15px;
  }
}

.company-profile-picture-col {
  div {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
  }
  .company-name-label {
    color: $text-color;
    padding-top: 4px;
  }
}

.company-profile-picture {
  cursor: pointer;
  position: absolute;
  right: 35px;
  bottom: 20px;
  text-align: center;
  width: 78px;

  img {
    width: 80px;
  }
}

.profile-picture {
  display: none;
}

.company-date {
  position: absolute;
  right: 8px;
  font-size: 10px;
  color: $company-date-label;
}

.skills-lists {
  width: 245px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 27px;
}

.proficiencies-key-skills > .tooltip-content-new {
  display: inline-block;
  background-color: $light-gray;
  border-radius: 4px;
  box-shadow: 3px 3px 15px 1px $gray;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: all 0.1s linear;
  width: 230px;
  z-index: 99;
  margin-top: 9px;
  left: 0;
  visibility: hidden;
  border-left: 1px solid $white;
  span {
    color: $black1;
  }
}

.proficiencies-key-skills:hover > .tooltip-content-new {
  opacity: 1;
  visibility: visible;
}

.proficiencies-key-skills .tooltip-content-new::after {
  content: "";
  border-bottom: 10px solid $light-gray;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  margin-left: -10px;
  right: 70px;
}

.btn-hover {
  margin-left: 20px;
  width: auto;
  z-index: 99;
}

.current-user-staus {
  position: absolute;
  right: 26px;
  bottom: 103px;
  font-size: 11px;
  width: 78px;
  text-align: center;
}

@media only screen and (max-width: 1280px) {
  .skills-lists {
    width: 200px;
  }
}

@media only screen and (max-width: 1023px) {
  .skills-lists {
    width: 160px;
  }
}

@media only screen and (max-width: 767px) {
  .company-profile-picture-col {
    div {
      white-space: normal;
      text-overflow: clip;
      overflow: visible;
      word-break: keep-all;
    }
  }

  .skills-lists {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    padding: 2px 0 2px 27px;
    width: 100%;
  }
}
