<div class="col-sm-4">
  <div class="panel clearfix" (click)="viewJob(job._id)">
    <ul>
      <li *ngIf="type=='block'" (click)="deleteItem(job._id)" title='Remove job from "Not Interested" list' ><img src="assets/c-next/card-view/close-grey.png" /></li>
    </ul>
    <header class="clearfix">
      <div class="col-md-8 col-sm-7 col-xs-6 no-padding">
        <h6 title="Job Title: {{job.jobTitle}}">{{job.jobTitle}}</h6>
        <h5 title="Company Name: {{job.company_name}}">{{job.company_name}}</h5>
        <p class="proficiencies proficiencies-icon" title="Key Skills">
          <span *ngFor="let proficiency of job.proficiencies;let i=index">
          <span *ngIf="i < 5">{{proficiency}}
            <span *ngIf="i>=0 && i<4 &&  job.proficiencies.length-1 != i ">,&nbsp;</span>
          </span>
        </span>
          <br/><span *ngIf="job.proficiencies.length > 5">( {{job.proficiencies.length-5}} More )</span>
        </p>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-6 no-padding canvas-cricle" title="Matching Percentage">
        <div class="canvas-container">
          <cn-progress-bar [value]="job.above_one_step_matching + job.exact_matching | number : '1.0-0'"
                           [color]="progress_bar_color" [rotation]="false"></cn-progress-bar>
          <cn-progress-bar [value]="job.above_one_step_matching + job.exact_matching | number : '1.0-0'"
                           [color]="progress_bar_color" [rotation]="true"></cn-progress-bar>
          <span>{{job.above_one_step_matching+job.exact_matching | number : '1.0-0'}}%</span>
          <p>Match</p>
        </div>
      </div>
    </header>
    <div class="col-sm-8 no-padding">
      <div class="col-sm-12 details icons-section">
        <p class="industry" title="Industry"> {{job.industry}}</p>
        <p class="salary" title="Salary">₹ {{job.salaryMinValue}} - {{job.salaryMaxValue}} lakh </p>
        <p class="experience" title="Experience">{{job.experienceMinValue}} - {{job.experienceMaxValue}} year</p>
        <p class="current-location" title="Current Location"> {{job.location}} </p>
        <p class="education" title="Education"> {{job.education}}</p>
        <p class="company-size" title="Company size">{{job.company_size}}</p>
      </div>
    </div>
  </div>
</div>

<div class="modal dashboard-modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="compare-modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <cn-job-compare-view [typeOfView]="'spa_job'" [candiadteId]="candidateId" [jobId]="jobId" (close)="closeJob($event)" ></cn-job-compare-view>
<!--          <div class="modal-header">
            <h4>Job Description</h4>
            <img src="/assets/c-next/card-view/close-white.png" (click)="closeJob()" class="close"/>
          </div>
          <div class="col-sm-12 no-padding">
            <cn-job-compare-view [typeOfView]="'spa_job'" [candiadteId]="candidateId" [jobId]="jobId"></cn-job-compare-view>
          </div>-->
          <div class="button-group" *ngIf="!hideButton">
            <button class="btn btn-primary" (click)="applyJob()">Apply</button>
            <button class="btn btn-danger" (click)="blockJob() ">Not Interested</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



