<div class="col-sm-4 panel-container" [ngClass]="setClasses()">
  <div class="panel clearfix" (click)="viewJob(job._id)">
    <ul>
      <li *ngIf="type=='block'" (click)="deleteItem(job._id)" title='Remove job from "Not Interested" list' ><img src="assets/c-next/card-view/close-grey.png" /></li>
    </ul>
    <header class="clearfix">
      <div class="col-md-8 col-sm-7 col-xs-5 no-padding">
        <h6 *ngIf="!job.hideCompanyName" class="username company-profile-picture-col">
          <div class="" title="Job Title: {{job.jobTitle}}">{{job.jobTitle}}</div>
          <div class="company-name-label" title="Company Name: {{job.company_name}}">{{job.company_name}}, {{job.location}}</div>
        </h6>
        <h6 *ngIf="job.hideCompanyName" class="username company-profile-picture-col">
          <img src="assets/framework/images/dashboard/profile.png" class="profile-picture"
               alt="User Profile"/>
          <div class="" title="Job Title: {{job.jobTitle}}">{{job.jobTitle}}</div>
        </h6>
        <div class="proficiencies proficiencies-key-skills" title="Key Skills">
          <span class="proficiencies-icon"></span>
          <div class="skills-lists">
            <b *ngFor="let proficiency of job.proficiencies;let i=index">
              {{proficiency}}<b *ngIf="i>=0 && i<4 &&  job.proficiencies.length-1 != i ">,&nbsp;</b>
            </b>
          </div>
          <span class="tooltip-content-new">
             <span *ngFor="let proficiency of job.proficiencies;let i=index">
                {{proficiency}}
             <span *ngIf="i>=0 && i<4 &&  job.proficiencies.length-1 != i ">,&nbsp;</span>
          </span>
          </span>
        </div>
      </div>
      <div class="company-date" title="Job Posting Date : {{job.postingDate| date:'mediumDate'}}">
        {{job.postingDate| date:'mediumDate'}}
      </div>
      <div class="col-md-4 col-sm-5 col-xs-5 no-padding canvas-cricle"
           title="Matching Percentage : {{job.above_one_step_matching+job.exact_matching | number : '1.0-0'}}%">
        <div class="canvas-container">
          <cn-progress-bar [value]="job.above_one_step_matching + job.exact_matching | number : '1.0-0'"
                           [color]="progress_bar_color" [rotation]="false"></cn-progress-bar>
          <cn-progress-bar [value]="job.above_one_step_matching + job.exact_matching | number : '1.0-0'"
                           [color]="progress_bar_color" [rotation]="true"></cn-progress-bar>
          <span>{{job.above_one_step_matching+job.exact_matching | number : '1.0-0'}}%</span>
          <p>Match</p>
        </div>
      </div>
    </header>
    <div class="col-sm-8 no-padding">
      <div class="col-md-12 col-sm-11 col-xs-7 details icons-section">
        <p title="Industry : {{job.industry}}">
          <span class="industry"></span>
          {{job.industry}}
        </p>
        <p *ngIf="job.salaryMinValue !=job.salaryMaxValue"
           title="Salary : ₹ {{job.salaryMinValue}} - {{job.salaryMaxValue}} lakh">
          <span class="salary"></span>
          ₹ {{job.salaryMinValue}} - {{job.salaryMaxValue}} lakh
        </p>
        <p *ngIf="job.salaryMinValue ==job.salaryMaxValue" title="Salary : ₹ {{job.salaryMinValue}} lakh">
          <span class="salary"></span>
          ₹ {{job.salaryMinValue}} lakh
        </p>
        <p *ngIf="job.experienceMinValue !=job.experienceMaxValue"
           title="Experience : {{job.experienceMinValue}} - {{job.experienceMaxValue}} year(s)">
          <span class="experience"></span>
          {{job.experienceMinValue}} - {{job.experienceMaxValue}} year(s)
        </p>
        <p *ngIf="job.experienceMinValue ==job.experienceMaxValue"
           title="Experience : {{job.experienceMinValue}} year(s)">
          <span class="experience"></span>
          {{job.experienceMinValue}} year(s)
        </p>
        <!--<p title="Current Location">
          <span class="current-location"></span>
          {{job.location}}
        </p>-->
        <p title="Education : {{job.education}}">
          <span class="education"></span>
          {{job.education}}
        </p>
        <p title="Company size : {{job.company_size}}">
          <span class="company-size"></span>
          {{job.company_size}}
        </p>
        <!--<p title="Date Posted">
          <span class="date-posted"></span>
          {{job.postingDate| date:'mediumDate'}}
        </p>-->
      </div>
    </div>
    <div class="company-profile-picture" title="Company Logo">
      <img *ngIf="job.company_logo" [src]="getImagePath(job.company_logo)" >
      <img *ngIf="!job.company_logo" src="assets/c-next/company-details/company-logo-default.png" />
    </div>
  </div>
  <div class="button-group btn-hover" *ngIf="type == 'searchView'">
    <button *ngIf="inCartListedStatusForSearchView == false && inRejectListedStatusForSearchView == false"
            class="btn btn-primary" (click)="actionForSearchView('cartListed',job._id)">Add to cart
    </button>
    <button *ngIf="inRejectListedStatusForSearchView == false" class="btn btn-danger"
            (click)="actionForSearchView('rejectedList',job._id) ">Reject
    </button>
  </div>
</div>

<div class="modal dashboard-modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="compare-modal-dialog modal-md">
      <div class="modal-content" style="position: initial">
        <div class="modal-body">
          <cn-job-compare-view [typeOfView]="'spa_job'" [candiadteId]="candidateId" [jobId]="jobId" (close)="closeJob($event)" ></cn-job-compare-view>
          <!--<div class="common-footer">
            <tpl-footer></tpl-footer>
          </div>-->
<!--          <div class="modal-header">
            <h4>Job Description</h4>
            <img src="/assets/c-next/card-view/close-white.png" (click)="closeJob()" class="close"/>
          </div>
          <div class="col-sm-12 no-padding">
            <cn-job-compare-view [typeOfView]="'spa_job'" [candiadteId]="candidateId" [jobId]="jobId"></cn-job-compare-view>
          </div>-->
          <div class="button-group" *ngIf="!hideButton">
            <button class="btn btn-primary" (click)="applyJob()">Apply</button>
            <button class="btn btn-danger" (click)="blockJob() ">Not Interested</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



