<div class="col-sm-4">
  <div class="panel clearfix">
    <ul>
      <li *ngIf="type=='block'"><span class="glyphicon glyphicon-trash" (click)="deleteItem(job._id)" ></span></li>
    </ul>
    <!--<img class="profile-picture" src="assets/framework/images/dashboard/profile.png" alt="Profile Picture"/>-->
    <h6>{{job.jobTitle}}</h6>
    <h5>{{job.company_name}}</h5>
    <!--<ul>
      <li><span class="glyphicon glyphicon-heart-empty"></span></li>
    </ul>-->
    <div class="col-sm-7 col-xs-6 no-padding left-side">
      <p><img src="assets/c-next/card-view/industry.png" alt="Salary"/> {{job.industry}}</p>
      <p><img src="assets/c-next/card-view/salary.png" alt="Salary"/>$ {{job.salary}}</p>
      <p><img src="assets/c-next/card-view/experience.png" alt="Experience"/>{{job.experience}}</p>
      <p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{job.location}} </p>
      <p><img src="assets/c-next/card-view/education.png" alt="education"/> {{job.education}}</p>
      <p><img src="assets/c-next/card-view/company-size.png" alt="size">{{job.company_size}}</p>
    </div>
    <div class="col-sm-5 col-xs-6 no-padding right-side">
      <div class="canvas-container">
        <cn-progress-bar [value]="job.above_one_step_matching + job.exact_matching | number : '1.0-0'" [color]="'#e77e22'" [rotation]="false"></cn-progress-bar>
        <cn-progress-bar [value]="job.above_one_step_matching + job.exact_matching | number : '1.0-0'" [color]="'#e77e22'" [rotation]="true" ></cn-progress-bar>
        <span>{{job.above_one_step_matching+job.exact_matching | number : '1.0-0'}}%</span>
        <p>Match</p>
      </div>
    </div>
    <div class="button-group">
<!--
      <button class="btn btn-cart btn-block" type="button" (click)="viewJob(job._id)" >View</button>
-->
      <button class="btn btn-cart btn-block" type="button" (click)="viewJob(job._id)" >Compare</button>
    </div>
  </div>
</div>

<div class="modal dashboard-modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header">
            <h4>Job Description</h4>
            <img src="/assets/c-next/card-view/close-white.png" (click)="closeJob()" class="close"/>
          </div>
          <div class="col-sm-12 no-padding">
<!--
            <cn-job-view [jobId]="jobId"></cn-job-view>
-->
            <cn-candidate-compare-view [jobId]="jobId"></cn-candidate-compare-view>
          </div>
          <div class="button-group" *ngIf="!hideButton">
            <button class="btn btn-primary" (click)="applyJob()">Apply</button>
            <button class="btn btn-danger" (click)="blockJob() ">Not Interested</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



