<div class="page-background">
  <div class="inner-content clearfix">
    <h4>
      {{getButton().PACKAGE_DETAILS}}
    </h4>
    <div class="col-sm-12 text-center">
      <div class="package-container" *ngFor="let package of packageDetailsList">
        <div [class.trial]="package.basePackage.cost === 0" [class.premium]="package.basePackage.cost !== 0">
          <div class="package-image">
            <img *ngIf="package.basePackage.name==='Free'" src="assets/build-info/package-details/free-plan.png">
            <img *ngIf="package.basePackage.name==='Premium'" src="assets/build-info/package-details/premium-plan.png">
          </div>

          <p *ngIf="package.basePackage.name==='Free'" class="package-name">Trial</p>
          <p *ngIf="package.basePackage.name==='Premium'" class="package-name">Premium</p>

          <p *ngIf="package.basePackage.numOfProjects > 1; else project">{{package.basePackage.numOfProjects}} {{getLabels().PROJECTS}}</p>
          <ng-template #project>
            <p>{{package.basePackage.numOfProjects}} {{getLabels().PROJECT}}</p>
          </ng-template>

          <p *ngIf="package.basePackage.numOfBuildings > 1; else building">{{package.basePackage.numOfBuildings}} {{getLabels().BUILDINGS}}</p>
          <ng-template #building>
            <p>{{package.basePackage.numOfBuildings}} {{getLabels().BUILDING}}</p>
          </ng-template>



          <p *ngIf="package.basePackage.name==='Free'">{{package.basePackage.validity}} Days</p>
          <p *ngIf="package.basePackage.name==='Premium'">{{package.basePackage.validity/365|number:'1.0-0'}} Years</p>

          <p class="package-cost" *ngIf="package.basePackage.cost !== 0; else free">{{package.basePackage.cost}}<sup> INR</sup></p>
          <ng-template #free>
            <p class="package-cost">{{package.basePackage.name}}</p>
          </ng-template>
        </div>

      </div>
    </div>
    <button type="button" class="btn btn-default" (click)="goToCreateTrialProject()">{{getButton().CONTINUE_USING_TRIAL}}</button>
    <button type="button" class="btn btn-primary" (click)="goToCreatePremiumProject()">{{getButton().SWITCH_TO_PREMIUM}}</button>

  </div>
</div>

