<div class="create-profile clearfix">
  <cn-candidate-header [candidate]="candidate" *ngIf="candidate != undefined"></cn-candidate-header>
  <div class="bar-container profile-header">
    <ul class="bar container" id="bar">
      <li [class.active]="whichStepsVisible[1]"><p>Area of Work</p></li>
      <li [class.active]="whichStepsVisible[2]"><p>Capabilities</p></li>
      <li [class.active]="whichStepsVisible[3]"><p>Complexities</p></li>
      <li [class.active]="whichStepsVisible[4]"><p>Proficiencies</p></li>
      <li [class.active]="whichStepsVisible[5]"><p>Professional Data</p></li>
      <li [class.active]="whichStepsVisible[6]"><p>Profile Description</p></li>
    </ul>
  </div>

  <div class="profile-wrapper container">
    <div class="col-sm-12">
      <div class="wrapper">
        <cn-profile-description [candidate]="candidate" [highlightedSection]="highlightedSection"
                                (onComplete)="onProfileDescriptionComplete($event)"></cn-profile-description>

        <div id="work-area" >
        <cn-work-area [roles]="rolesForMain" [selectedRoles]="candidateForRole"
                      [highlightedSection]="highlightedSection"
                      (onComplete)="onWorkAreaComplete($event)" [hidden]="isRolesShow"></cn-work-area>
          </div>

        <div id="capability-area">
        <cn-capabilities [roles]="rolesForCapability" [candidateRoles]="candidateForCapability"
                         [highlightedSection]="highlightedSection"
                         (onComplete)="onCapabilityComplete($event)" [hidden]="!showCapability"></cn-capabilities></div>
        <div id="complexity-area" class="clear clearfix">
        <cn-complexities [roles]="rolesForComplexity" [candidateRoles]="candidateForComplexity"
                         [highlightedSection]="highlightedSection"
                         [isComplexityPresent]="isComplexityPresent"
                         (onComplete)="onComplexitytyComplete($event)" [hidden]="!showComplexity"></cn-complexities></div>
        <div id="proficiency-area">
        <cn-proficiencies [proficiencies]="proficiencies" [choosedproficiencies]="candidate.proficiencies"
                                [highlightedSection]="highlightedSection"
                               (onSelect)="onProficiencySelect($event)" (onComplete)="onProficiencyComplete($event)" [hidden]="!showProfeciency"></cn-proficiencies></div>
        <div id="industry-experience">
        <cn-industry-experience [candidateExperiencedIndustry]="candidate.interestedIndustries"
                                [highlightedSection]="highlightedSection"
                                (onComplete)="onExperienceIndustryComplete($event)"
                                [hidden]="!showIndustryExperience"></cn-industry-experience></div>


        <cn-professional-data [candidate]="candidate" [highlightedSection]="highlightedSection"
                              (onComplete)="onProfessionalDataComplete($event)"
                              [hidden]="!showProfessionalData"></cn-professional-data>

        <cn-employment-history [candidate]="candidate" [highlightedSection]="highlightedSection"
                               (onComplete)="onEmploymentHistoryComplete($event)"
                               [hidden]="!showemploymentHistory"></cn-employment-history>

        <cn-academic-details [candidate]="candidate" [highlightedSection]="highlightedSection"
                             (onComplete)="onAcademicDetailsComplete($event)"
                             [hidden]="!showemploymentHistory"></cn-academic-details>

        <cn-certification-accreditation [candidate]="candidate" [highlightedSection]="highlightedSection"
                                        (onComplete)="onCertificationsComplete($event)"
                                        [hidden]="!showCertificationDetails"></cn-certification-accreditation>

        <cn-awards [candidate]="candidate" [highlightedSection]="highlightedSection"
                   (onComplete)="onAwardsComplete($event)"
                   [hidden]="!showAwards"></cn-awards>


        <cn-more-about-myself [candidate]="candidate" [highlightedSection]="highlightedSection" (onComplete)="onMoreAboutMySelfComplete($event)" [hidden]="!showAboutMySelf"></cn-more-about-myself>


        <div class="section-container" [hidden]="!showAboutMySelf">
          <div class="main-content clearfix">
            <h4 class="heading">Profile Visibility</h4>
            <div class="col-sm-12">
              <div class="info">In case you wish to hide your profile from recruiters, select hide option
                below. You may also choose to show your profile later.</div>
              <div class="radio">
                <!--<label>Profile Visibility:</label>-->

                <label class="radio-inline">
                  <input type="radio" name="profile-visibility"
                         (change)="showorhide('show',$event)" value=true [checked]="candidate.isVisible == true">
                  Show profile
                </label>
                <label class="radio-inline">
                  <input type="radio" name="profile-visibility"
                         (change)="showorhide('hide',$event)" value=false [checked]="candidate.isVisible == false">
                  Hide profile
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="profile-configurations" [hidden]="!showAboutMySelf">
          <div class="col-sm-6 text-left">
            <div class="button-group">
              <button class="btn btn-primary" (click)="onSubmit()">Submit</button>
              <button class="btn btn-default">Cancel</button>
            </div>
          </div>
          <!--<div class="col-sm-6 no-padding text-right social-links">
            <div>
              <label>Share On</label>
              <img src="assets/c-next/profile-creator/fb.png"/>
              <img src="assets/c-next/profile-creator/linked-in.png"/>
              <img src="assets/c-next/profile-creator/twitter.png"/>
            </div>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>


