<div *ngIf="highlightedSection.name=='GuideTour'">
  <cn-guided-tour (onSkip)="onSkip($event)"></cn-guided-tour>
</div>

<div class="create-profile clearfix" [hidden]="highlightedSection.name=='GuideTour' || highlightedSection.name==''">
  <cn-candidate-header [candidate]="candidate" *ngIf="candidate != undefined"></cn-candidate-header>
  <div class="bar-container profile-header">
    <ul class="bar container" id="bar">
      <li [class.active]="whichStepsVisible[0]" [class.current]="highlightedSection.name=='Profile'"><p>My Profile</p>
      </li>
      <li [class.active]="whichStepsVisible[1]" [class.current]="highlightedSection.name=='Work-Area'"><p>Area of
        Work</p></li>
      <li [class.active]="whichStepsVisible[2]" [class.current]="highlightedSection.name=='Capabilities'"><p>
        Capabilities</p></li>
      <li [class.active]="whichStepsVisible[3]" [class.current]="highlightedSection.name=='Complexities'"><p>
        Complexities</p></li>
      <li [class.active]="whichStepsVisible[4]"
          [class.current]="highlightedSection.name=='Proficiencies' || highlightedSection.name=='IndustryExposure'"><p>
        Key Skills</p></li>
      <li [class.active]="whichStepsVisible[5]" [class.current]="highlightedSection.name=='Professional-Details'"><p>
        Professional Data</p></li>
      <li [class.active]="whichStepsVisible[6]"
          [class.current]="highlightedSection.name=='AboutMySelf' || highlightedSection.name=='AcademicDetails' || highlightedSection.name=='Awards' || highlightedSection.name=='EmploymentHistory' || highlightedSection.name=='Certification'">
        <p>Profile Description</p></li>
    </ul>
  </div>


  <div class="profile-wrapper candidate-profile-wrapper container">
    <div class="col-sm-12">
      <div class="wrapper wrapper-border">
        <cn-profile-description [candidate]="candidate" [highlightedSection]="highlightedSection"
                                (onComplete)="onProfileDescriptionComplete($event)"></cn-profile-description>

        <div id="work-area">
          <cn-work-area [roles]="rolesForMain" [selectedRoles]="candidateForRole"
                        [highlightedSection]="highlightedSection"
                        (onComplete)="onWorkAreaComplete($event)" [hidden]="isRolesShow"></cn-work-area>
        </div>


        <cn-capabilities [roles]="rolesForCapability" [candidateRoles]="candidateForCapability"
                         [highlightedSection]="highlightedSection"
                         (onComplete)="onCapabilityComplete($event)" [hidden]="!showCapability"></cn-capabilities>

        <cn-complexities [roles]="rolesForComplexity" [complexities]="candidate.capability_matrix"
                         [highlightedSection]="highlightedSection"
                         [isComplexityPresent]="isComplexityPresent"
                         (onComplextyAnswered)="onComplextyAnswered($event)"
                         (onComplete)="onComplexityComplete($event)" [hidden]="!showComplexity"></cn-complexities>

        <cn-proficiencies [proficiencies]="proficiencies" [choosedproficiencies]="candidate.proficiencies"
                          [highlightedSection]="highlightedSection"
                          (onSelect)="onProficiencySelect($event)" (onComplete)="onProficiencyComplete($event)"
                          [hidden]="!showProficiency"></cn-proficiencies>

        <cn-industry-experience [candidateExperiencedIndustry]="candidate.interestedIndustries"
                                [choosedIndeustry]="candidate.industry.name"
                                [highlightedSection]="highlightedSection"
                                (onComplete)="onExperienceIndustrySelect($event)"
                                (onNextComplete)="onExperienceIndustryComplete($event)"
                                [hidden]="!showIndustryExperience"
                                *ngIf="candidate != undefined || candidate.industry !=undefined"></cn-industry-experience>


        <cn-professional-data [candidate]="candidate" [highlightedSection]="highlightedSection"
                              (onComplete)="onProfessionalDataComplete($event)"
                              [hidden]="!showProfessionalData"></cn-professional-data>

        <cn-more-about-myself [candidate]="candidate" [highlightedSection]="highlightedSection"
                              (onComplete)="onMoreAboutMySelfComplete($event)"
                              [hidden]="!showAboutMySelf"></cn-more-about-myself>

        <cn-employment-history [candidate]="candidate" [highlightedSection]="highlightedSection"
                               (onComplete)="onEmploymentHistoryComplete($event)"
                               [hidden]="!showEmploymentHistory"></cn-employment-history>

        <cn-academic-details [candidate]="candidate" [highlightedSection]="highlightedSection"
                             (onComplete)="onAcademicDetailsComplete($event)"
                             [hidden]="!showEmploymentHistory"></cn-academic-details>

        <cn-certification-accreditation [candidate]="candidate" [highlightedSection]="highlightedSection"
                                        (onComplete)="onCertificationsComplete($event)"
                                        [hidden]="!showCertificationDetails"></cn-certification-accreditation>

        <cn-awards [candidate]="candidate" [highlightedSection]="highlightedSection"
                   (onComplete)="onAwardsComplete($event)"
                   [hidden]="!showAwards"></cn-awards>


        <div class="section-container clear" [hidden]="!showAboutMySelf">
          <div class="main-content clearfix">
            <div class="compact-view clearfix profile-visibility">
              <h4 class="heading">Profile Visibility</h4>
              <div class="switch">
                <label class="radio-inline">
                  <input type="radio" name="profile-visibility"
                         (change)="showOrHide('show',$event)" value=true [checked]="candidate.isVisible == true">
                  <span>Show</span>
                </label>
                <label class="radio-inline">
                  <input type="radio" name="profile-visibility"
                         (change)="showOrHide('hide',$event)" value=false [checked]="candidate.isVisible == false">
                  <span>Hide</span>
                </label>
              </div>
              <div class="info profile-info" *ngIf="!candidate.isVisible">On Selecting Show, you profile will be
                considered for searches against appropriate job profiles and will be visible to recruiters. You can
                change this setting later
              </div>
              <div class="info profile-info" *ngIf="candidate.isVisible">Warning: Selecting Hide will hide your profile from recruiters. If you are on the lookout of job change, it is recommended to keep this setting to "Show". You can change this setting later.
              </div>
            </div>
          </div>
        </div>

        <div class="profile-configurations" [hidden]="!showAboutMySelf">
          <div class="col-sm-6 text-left">
            <div class="button-group">
              <button class="btn btn-success" (click)="showHideModal()">Submit</button>
              <!--<button class="btn btn-default">Cancel</button>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal popup get-set-go" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div *ngIf="!candidate.isSubmitted" class="col-sm-12 get-set-go">
              <img src="assets/c-next/get-set-go/get_set_go.gif" alt="Get Set Go"/>
              <p>You are now ready to find your dream job. In a few seconds you will be taken to the job matching dashboard</p>
            </div>
            <div *ngIf="candidate.isSubmitted" class="col-sm-12 get-set-go">
              <p>Your profile edited successfully.You will be taken to the job matching dashboard</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



