@import '../../../../css/variables';

.error-messages {
  color: $error-messages;
  font-size: 10px;
  font-style: italic;
  margin: 35px 0 0;
  position: absolute;
  line-height: 11px;
}

.create-profile {
  //background: $profile-background;
  clear: both;
  padding-bottom: 0;
}

.bar-container {
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  height: 60px;
  left: 0;
  margin: 0 auto;
  padding-top: 12px;
  position: fixed;
  top: 50px;
  width: 100%;
  z-index: 999;
}

.bar {
  counter-reset: step;
  margin: 0 auto;
  padding: 0 10px 0 0;
  width: 975px;

  &::before {
    clear: both;
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }

  li {
    float: left;
    font-weight: bold;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: 20%;

    p {
      color: $page-header-text;
      font-size: 10px;
      margin: -5px 0;
      opacity: 1;
      padding: 0 0 3px;
      text-transform: uppercase;
    }

    &::before {
      background-color: $blue;
      border-radius: 50%;
      color: $white;
      content: counter(step);
      counter-increment: step;
      display: block;
      font-size: 12px;
      height: 20px;
      line-height: 18px;
      margin: 0 auto 10px;
      position: relative;
      text-align: center;
      width: 20px;
      z-index: 2;
      opacity: 1;
      border: 1px solid $blue;
    }

    &::after {
      background: $white;
      content: '';
      height: 1px;
      left: 60%;
      position: absolute;
      top: 10px;
      width: 80%;
      z-index: 1;
      opacity: 1;
    }

    &:last-child::after {
      content: none;
      display: none;
    }
  }

  .active {
    p {
      color: $white;
      opacity: 1;
    }

    &::before {
      background: $green;
      border: 1px solid lighten($white, 30%);
      color: $white;
      opacity: 1;
      content: "\2713";
    }

    &::after {
      background: $white;
      opacity: 1;
    }
  }

  .current {
    &::before {
      background: $current !important;
      opacity: 1;
      border: 1px solid $current;
      color: $white;
      content: counter(step);
    }

    &::after {
      background: $white;
      opacity: 1;
    }

    p {
      border-bottom: 2px solid transparent;
      display: inline-block;
      opacity: 1;
      position: relative;
      top: -9px;
      width: auto;
    }
  }
}

.profile-wrapper {
  padding: 0;
  .col-sm-3 {
    width: 25%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .profeiciency-domain {

    .heading > .col-sm-6,
    .main-content > .col-sm-6 {
      padding: 15px;

      &:first-child {
        border-right: 1px solid $border-color1;
      }
    }
  }

  .profile-description {
    margin-top: 0;

    h4 {
      margin: 0 0 10px;
      font-size: 13px;
    }
  }

  .job-title {
    border-radius: 0;
    width: 400px;
    margin-bottom: 10px;
  }
}

.profile-visibility {
  min-height: 85px;
  .heading {
    display: inline;
  }
}

.profile-configurations {

  label {
    padding-left: 0;
    color: $label;
    font-weight: 600;
  }

  .radio-inline {
    font-weight: 100;
    width: 60px;
  }

  .info > p {
    color: $light-blue;
    font-size: 13px;
    font-style: italic;
  }

  img {
    margin-left: 5px;
    width: 30px;
  }

  .btn {
    margin-right: 0;
    &:focus,
    &:active {
      outline: none;
    }
  }

  .button-group {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .social-links {
    margin-top: 15px;
  }
}

.glyphicon-info-sign {
  color: $gray;
}

.get-set-go {

  .modal-dialog {
    width: 70%;
  }

  .modal-content {
    background: $white;
  }

  img {
    width: 200px;
  }

  p {
    font-size: 34px;
    color: $green-text;
  }
}

.toggle-switch-container {
  float: right;
}

.submit-view-profile-btn {
  background: $bg-tabs;
  bottom: 5px;
  display: table;
  left: 0;
  margin: 7px auto;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.profile-visibility-wrapper {
  margin-bottom: 50px;
}

@media only screen and (max-width: 1280px) {
  .bar {
    width: 70%;
  }
  .profile-configurations {
    .col-sm-8,
    .col-sm-4 {
      width: 50%;
    }

    img {
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .bar-container {
    .cn-logo {
      .web-logo {
        display: none;
      }
      .ipad-logo {
        display: block;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .bar {
    li {
      p {
        font-size: 8px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .create-profile {
    background: $white;
  }

  .bar-container {
    background: $bg-bar-container;
    float: left;
    height: 35px;
    margin-top: 0;
    padding-top: 0;
    position: relative;
    top: 0;
    transition: all 1s linear;
  }

  .fixed-bar-container {
    position: fixed !important;
    top: 0;
  }

  .bar {
    margin: 7px auto;
    padding: 0;
    width: 100%;

    li,
    .active,
    .current {
      p {
        display: none;
      }
    }
  }

  .profile-wrapper {
    margin: 40px auto 0;
    min-height: 100vh;

    .col-sm-3 {
      margin: 0 auto;
      width: 200px;
    }

    .col-sm-9 {
      width: 100%;
    }

    .job-title {
      width: 100%;
    }
  }

  .profile-description {
    padding: 0;
    margin-top: 10px;
  }

  .profile-configurations {
    float: left;

    .col-sm-8 {
      width: 100%;
    }

    .social-links {
      text-align: left;
    }
  }

  .toggle-switch-container {
    position: absolute;
    top: 13px;
    right: 10px;
  }

  .profile-visibility {
    padding: 15px 15px 0;

    .profile-info {
      float: left;
      margin: 0;
      min-height: 60px;
      padding: 15px 0 0;
    }
  }
  .submit-view-profile-btn {
    bottom: -15px;
    z-index: 9999;
  }
}

.note-modal {
  .modal-dialog {
    transform: translate(0, -50%);
  }
}

#right-fit-modal {
  .modal-dialog {
    transform: translate(0, -50%);
  }

  .modal-body {
    padding: 15px 15px 0;
  }

  .profile-info {
    color: $text-color;
    display: block !important;
    float: left;
    min-height: 50px;
    padding: 0;
    width: 100%;
    text-align: left;
  }

  .heading-compact {
    font-size: 14px;
    margin: 0 0 10px;
    text-align: left;
  }

  p {
    background: #ececec;
    border: 1px dashed #8c8c8c;
    color: #8c8c8c;
    font-size: 10px;
    padding: 10px;

    span {
      color: #666;
      display: block;
      font-family: 'gothamrnd-book';
      font-weight: 900;
    }
  }

  .toggle-switch-container {
    float: left;
  }

  .button-group {
    margin-bottom: 0;
    padding-left: 0;
  }
}
