<div class="modal-bg" *ngIf="highlightedSection.name=='Professional-Details'"></div>
<div class="section-container" *ngIf="highlightedSection.name =='Professional-Details'">
  <div professionaldetails></div>
  <div class="main-content edit-modal-content clearfix">
    <h4 class="heading">Professional Preferences (Mandatory)</h4>
    <!-- <form [formGroup]="professionalDetailForm" (ngSubmit)="onNext(jobPostForm.value)">-->
    <div class="scrollable-content clearfix">
      <div class="col-md-8 col-sm-10 no-padding">
        <div class="form-group">
          <label>Current Salary</label>
          <!-- <cn-control-messages [control]="professionalDetailForm.controls.currentSalary"></cn-control-messages>-->
          <select [(ngModel)]="candidate.professionalDetails.currentSalary" (change)="saveProfessionalData()">
            <option *ngFor="let c of salaryList" [ngValue]="c">{{c}}</option>
          </select>
          <div class="error-messages"
               *ngIf="candidate.professionalDetails.currentSalary == '' && !isValid">
            <p>{{requiedSalaryValidationMessage}}</p>
          </div>

        </div>

        <div class="form-group">
          <label>Ready To Relocate?</label>
          <!--  <cn-control-messages [control]="professionalDetailForm.controls.relocate"></cn-control-messages>-->
          <select [(ngModel)]="candidate.professionalDetails.relocate" (change)="saveProfessionalData()">
            <option *ngFor="let c of realocationList" [ngValue]="c">{{c}}</option>
          </select>
          <div class="error-messages"
               *ngIf="candidate.professionalDetails.relocate == '' && !isValid">
            <p>{{requiedRelocateValidationMessage}}</p>
          </div>
        </div>

        <div class="form-group">
          <label>Company Culture</label>
          <!-- <cn-control-messages [control]="professionalDetailForm.controls.noticePeriod"></cn-control-messages>-->
          <select [(ngModel)]="candidate.professionalDetails.industryExposure" (change)="saveProfessionalData()">
            <option *ngFor="let c of industryExposureList" [ngValue]="c">{{c}}</option>
          </select>
          <div class="error-messages"
               *ngIf="candidate.professionalDetails.industryExposure == '' && !isValid">
            <p>{{requiedIndustryExposureValidationMessage}}</p>
          </div>
        </div>

        <div class="form-group">
          <label>Notice Period</label>
          <!-- <cn-control-messages [control]="professionalDetailForm.controls.noticePeriod"></cn-control-messages>-->
          <select [(ngModel)]="candidate.professionalDetails.noticePeriod" (change)="saveProfessionalData()">
            <option *ngFor="let c of noticePeriodList" [ngValue]="c">{{c}}</option>
          </select>
          <div class="error-messages"
               *ngIf="candidate.professionalDetails.noticePeriod == '' && !isValid">
            <p>{{requiedNoticePeriodValidationMessage}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="button-group clearfix">
      <!--
                <button class="btn btn-default"  (click)="highlightedSection.name='none'; highlightedSection.isDisable=false" [hidden]="showButton" >Cancel</button>
      -->
     <!-- <div class="saving-loader">Saving...</div>-->
      <button type="submit" class="btn btn-primary" scrollTo scrollTargetSelector="#Employment-History"
              (click)="onNext()" [hidden]="!showButton">Next
      </button>
      <button class="btn btn-primary" (click)="onSave()" [hidden]="showButton">Done</button>
    </div>

    <button class="btn-prev" (click)="onPrevious()"><span
      class="glyphicon glyphicon-chevron-left"></span></button>

    <cn-tool-tip [message]="tooltipMessage"></cn-tool-tip>
  </div>
</div>
<div class="section-container" *ngIf="highlightedSection.name !='Professional-Details'">
  <div class="main-content"
       (click)="onEdit()">
    <div class="compact-view clearfix">
      <h4 class="heading-compact">Professional Preferences
        <button class="btn-edit" (click)="onEdit()"
                [hidden]="highlightedSection.isDisable" title="Edit Professional Preferences & Experience Summary"></button>
      </h4>
      <div class="col-sm-6 col-xs-12 no-padding">
        <div class="col-xs-6 no-padding"><p><label>Current Salary</label></p></div>
        <div class="col-xs-6 no-padding"><p> {{candidate.professionalDetails.currentSalary}}</p></div>
      </div>
      <div class="col-sm-6 col-xs-12 no-padding">
        <div class="col-xs-6 no-padding"><p><label>Ready To Relocate?</label></p></div>
        <div class="col-xs-6 no-padding"><p> {{candidate.professionalDetails.relocate}}</p></div>
      </div>
      <div class="col-sm-6 col-xs-12 no-padding">
        <div class="col-xs-6 no-padding"><p><label>Company Culture</label></p></div>
        <div class="col-xs-6 no-padding"><p> {{candidate.professionalDetails.industryExposure}}</p></div>
      </div>
      <div class="col-sm-6 col-xs-12 no-padding">
        <div class="col-xs-6 no-padding"><p><label>Notice Period</label></p></div>
        <div class="col-xs-6 no-padding"><p> {{candidate.professionalDetails.noticePeriod}}</p></div>
      </div>
    </div>
  </div>
</div>
<div class="divider clearfix visible-xs" *ngIf="highlightedSection.name !='Professional-Details'">&nbsp;</div>


