.error-messages {
  position: absolute;
  margin: -24px 0 0 0;

  p {
    margin: 0;
  }
}


.compact-view {
  p {
    float: left;
    width: 50%;
    margin: 10px 0 0;
  }

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 980px) {
  .compact-view {
    p {
      width: 50%;
      margin: 10px 0 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .compact-view {
    p {
      width: 100%;
      margin-bottom: 15px;

      label {
        width: 50%;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

