@import '../../../../css/variables';

.error-messages {
  position: absolute;
  //margin: -24px 0 0 0;

  p {
    margin: 0;
  }
}

.compact-view {
  p {
    color: $light-black1;
    float: left;
    margin: 10px 0 0;
    width: 100%;
  }

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.main-content {
  .mini-value-portrait-section {
    zoom: 0.3;
    z-index: 999;
  }
  .button-group {
    width: calc(100% - 400px);
  }
}

.professional-preferences-section {
  padding: 0 0 75px 50px;
  width: 58.33333333%;
  h4 {
    padding: 8px 15px 8px 0;
    width: 100% !important;
  }
}

.professional-preferences-help-section {
  background: $theme-color;
  border-radius: 0 9px 9px 0;
}

@media only screen and (max-width: 980px) {
  .compact-view {
    p {
      width: 100%;
      margin: 10px 0 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .compact-view {
    p {
      font-size: 12px;
      color: $name;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  label {
    padding-right: 5px !important;
    width: 100%;
  }
  .professional-preferences-section {
    height: 100vh;
    padding: 0 0 75px 30px;
    width: 94%;
    .button-group {
      width: 100% !important;
    }
  }
}

