@import '../../../css/common';
@import '../../../css/variables';

/*.settings {
  text-align: left;
  display: table-cell;
  vertical-align: middle;

  .settings-content {
    transform: inherit;
    margin: 0 auto;
    float: none;
    left: 0;
    top: 0;
    position: relative;
    background: $white;
    padding: 0;
    text-align: left;
    border: 1px solid $gray;
    box-shadow: -1px 3px 10px $content-box-shadow;

    h5 {
      color: $name;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding: 15px 0 10px 15px;
      background: transparent !important;
      border-bottom: 0 solid $border-color;
      font-family: gothamrnd-light;
    }

    h5 > .glyphicon-remove {
      color: $white;
      font-size: 13px;
      position: absolute;
      right: 15px;
      top: 12px;
      cursor: pointer;
    }

    p {
      text-align: left;
      margin: 0 0 15px;
    }
  }

  ul {
    padding: 0;
  }

  li {
    clear: both;
    display: table;

    .next {
      float: right;
      height: 17px;
      transform: rotate(180deg);
      width: 20px;
    }
  }

  .hide-list {
    display: none;
  }

  .account {
    padding: 15px;
  }
}*/

@media (max-width: 1280px) and (min-width: 981px) {
  .settings {
    .settings-content {
      width: 50%;
    }
  }
}

@media (max-width: 980px) {
  .settings {
    label {
      width: 50%;
    }
  }
}

@media (max-width: 767px) {
  .settings {
    height: calc(100vh - 45px);
    overflow: auto;
    padding-bottom: 54px;
    vertical-align: top;

    .settings-content {
      top: 50px;
      margin-bottom: 15px;
      border: 0;
      box-shadow: none;
    }
  }
}

@media (max-width: 420px) {
  .settings {
    label {
      width: 100%;
    }
  }
}
