<cn-candidate-dashboard-header [candidate]="candidate" *ngIf="role==='candidate'"></cn-candidate-dashboard-header>
<cn-recruiter-shared-header *ngIf="role==='recruiter'"></cn-recruiter-shared-header>
<cn-admin-dashboard-header *ngIf="role==='admin'" [candidate]="candidate"></cn-admin-dashboard-header>
<section class="settings main-form-wrapper">
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11 settings-content">
    <ul>
      <li [class.hide-list]="isSocialLogin">
        <div class="col-xs-12 no-padding">
          <h5>{{getHeadings().CHANGE_PASSWORD}}</h5>
        </div>
        <cn-change-password></cn-change-password>
      </li>
    </ul>
  </div>
</section>
<tpl-footer></tpl-footer>
