<div *ngIf="isComplexityShow">
  <div class="select-complexity clearfix" *ngFor="let item of complexities;let i = index" (click)="selectOption($event)" >
    <div class="complexity-name">
      <p id ="complexity">{{item.name}}</p>
    </div>
    <div class="scenarios">
      <div class="select-option"  *ngFor="let subitem of item.scenario">
        <label>
          <input type="radio" name="{{item.name}}"  id="{{i}}" value="{{subitem}}" >
          <span>{{subitem}}</span>
        </label>
      </div>
    </div>
  </div>
</div>
