<div class="candidate-description">
  <div class="basic-info clearfix">
    <img src="{{image_path}}" alt="profile"/>
    <p class="name">{{candidateDetails.first_name}} {{candidateDetails.last_name}}</p>
    <p>{{candidateDetails.mobile_number}}</p>
    <p>{{candidateDetails.email}}</p>
  </div>

  <div class="details clearfix">
    <div>
      <p>Specialization area:</p>
      <div  *ngFor="let role of candidate.industry.roles;let i = index">
        <span>{{role.name}},</span>
      </div>
    </div>
    <div>
      <p>Industry Exposure:</p>
      <div  *ngFor="let industry of candidate.intrestedIndustries">
        <span>{{industry}}</span>
      </div>
    </div>
    <div>
      <p>Experience:</p>
      <span>{{candidate.professionalDetails.experience}}</span>
    </div>
    <div>
      <p>Current Location:</p>
      <span>Pune</span><!--<span>{{candidateDetails.location.city}}</span>-->
    </div>
    <div>
      <p>Salary Band:</p>
      <span>Know More</span>
    </div>
    <div>
      <p>Availability:</p>
      <span>Know More</span>
    </div>
  </div>
</div>
