
<div class="dashboard-view clearfix" *ngIf="listOfJobs != undefined">
  <header class="col-sm-12 q-card-header">

    <div class="sort-by">
      <label>Sort by</label>
      <select id="menu" [(ngModel)]="qCardModel.sortValue">
        <option value="{{itemList}}" *ngFor="let itemList of qCardModel.listOfMatchings">{{itemList}}</option>
      </select>
    </div>
</header>
<a class="clear-filter" (click)="clearFilter()">Clear all filters</a>
  <div class="card-view clearfix">
    <div *ngFor="let job of listOfJobs| qcardlistsort:[qCardModel.sortValue,'aboveMatch','candidate']| qcardlistfilter:filterMeta:qCardCount ;let i=index">
      <cn-candidate-q-card [job]="job" [type]="type" (onAction)="onActionPerform($event)"></cn-candidate-q-card>
    </div>
  </div>
</div>


