<div class="payumoney-inner-wrapper">
  <h1>Please enter your details</h1>
  <form (submit)="submitPaymentForm()">
    <div  class="form-group">
      <label>First Name :</label>
      <input name="firstname" id="firstname" [(ngModel)]="payUMoney.firstname"
             class="form-control"/>
    </div>
    <div  class="form-group">
      <label>Last Name :</label>
      <input  name="lastname" id="lastname" [(ngModel)]="payUMoney.lastname"
             class="form-control"/>
    </div>
    <div  class="form-group">
      <label>Email :</label>
      <input  name="email" id="email" [(ngModel)]="payUMoney.email"
              class="form-control"/>
    </div>
    <div  class="form-group">
      <label>Phone :</label>
      <input  name="phone" type="number" [(ngModel)]="payUMoney.phone"
              class="form-control"/>
    </div>
    <!--<div  class="form-group disabled-values">
      <label>Package Info :</label>
      <input  name="productinfo" [(ngModel)]="payUMoney.productinfo" disabled
              class="form-control"/>
    </div>-->
    <div  class="form-group disabled-values">
      <label>Amount :</label>
      <input  name="amount" id="amount" [(ngModel)]="payUMoney.amount" disabled
              class="form-control"/>
    </div>

    <button (click)="goToDashboard()" class="btn btn-default">
      Cancel
    </button>
    <button type="submit" class="btn btn-primary">
      Proceed to Pay
    </button>
  </form>

  <!--<form class="col-xs-12 form-details" [formGroup]="payUMoneyForm" (submit)="submitPaymentForm()">

    &lt;!&ndash;<div class="form-group">
      <control-messages [control]="payUMoneyForm.controls.firstname" [submitStatus] = "submitStatus" [isShowErrorMessage]="isShowErrorMessage"></control-messages>
      <label>First Name</label>
      <input type="text" [(ngModel)]="payUMoney.firstname" id="firstname" class="form-control" placeholder="Enter first name" required/>
    </div>&ndash;&gt;

    <div  class="form-group">
      <control-messages [control]="payUMoneyForm.controls.lastname" [submitStatus]="submitStatus" [isShowErrorMessage]="isShowErrorMessage"></control-messages>
      <label>Last Name</label>
      <input type="text" formControlName="lastname" id="lastname" class="form-control" placeholder="Enter last name" required />
    </div>

    &lt;!&ndash;<div  class="form-group">
      &lt;!&ndash;<control-messages [control]="payUMoneyForm.controls.email" [submitStatus] = "submitStatus" [isShowErrorMessage]="isShowErrorMessage"></control-messages>&ndash;&gt;
      <label>Email</label>
      <input type="email" [(ngModel)]="payUMoney.email" id="email" class="form-control" placeholder="Enter email" required />
    </div>

    <div  class="form-group">
      &lt;!&ndash;<control-messages [control]="payUMoneyForm.controls.phone" [submitStatus] = "submitStatus" [isShowErrorMessage]="isShowErrorMessage"></control-messages>&ndash;&gt;
      <label>Phone</label>
      <input type="number" [(ngModel)]="payUMoney.phone" id="phone" class="form-control" placeholder="Enter phone number" required />
    </div>&ndash;&gt;

    <div  class="form-group">
      <label>Package Info</label>
      <input type="text" [(ngModel)]="payUMoney.productinfo" id="packageInfo" class="form-control" disabled/>
    </div>

    <div  class="form-group">
      <label>Amount</label>
      <input type="number" [(ngModel)]="payUMoney.amount" id="amount" class="form-control" disabled/>
    </div>

    <div class="button-group">
      <button type="button" class="btn btn-default" (click)="goToDashboard()">Cancel</button>
      <button type="submit" class="btn btn-primary">Proceed to Pay</button>
    </div>
  </form>-->

</div>
