<div>
  <h1>PayUMoney Payment Request Form </h1>

  <form (submit)="submitPaymentForm()">
    <table>
        <tr>
          <td><b>Mandatory Parameters</b></td>
        </tr>
        <tr>
          <td>First Name: </td>
          <td><input name="firstname" id="firstname" [(ngModel)]="payUMoney.firstname"/></td>
          <td>Amount: </td>
          <td>{{payUMoney.amount}}
            <input name="amount" id="amount" [(ngModel)]="payUMoney.amount"/>
          </td>
        </tr>
        <tr>
          <td>Email: </td>
          <td><input name="email" id="email" [(ngModel)]="payUMoney.email"/></td>
          <td>Phone: </td>
          <td><input name="phone" type="number" [(ngModel)]="payUMoney.phone"/></td>
        </tr>
        <tr>
          <td>Product Info: </td>
          <td colspan="3">
            <textarea name="productinfo" [(ngModel)]="payUMoney.productinfo"></textarea>
          </td>
        </tr>
      <tr><td>
        <button type="submit">Submit</button>
      </td></tr>

      </table>
  </form>
</div>
