<div class="col-md-4"></div>

<div class="col-md-4">
  <h1>Please enter your details</h1>

  <form (submit)="submitPaymentForm()">
    <table>
        <tr>
          <td>First Name : </td>
          <td><input name="firstname" id="firstname" [(ngModel)]="payUMoney.firstname"/></td>
        </tr>
      <tr>
        <td>Last Name : </td>
        <td><input name="lastname" id="lastname" [(ngModel)]="payUMoney.lastname"/></td>
      </tr>
      <tr>
        <td>Email : </td>
        <td><input name="email" id="email" [(ngModel)]="payUMoney.email"/></td>
      </tr>
      <tr>
        <td>Phone : </td>
        <td><input name="phone" type="number" [(ngModel)]="payUMoney.phone"/></td>
      </tr>
      <tr>
        <td>Package Info : </td>
        <td colspan="3">
          <input name="productinfo" [(ngModel)]="payUMoney.productinfo"/>
        </td>
      </tr>
      <tr>
        <td>Amount : </td>
        <td>
          <input name="amount" id="amount" [(ngModel)]="payUMoney.amount"/>
        </td>
      </tr>
      <tr>
        <td> <button (click)="goToDashboard()">Cancel</button></td>
        <td>
          <button type="submit">Proceed to Pay</button>
        </td>
      </tr>

      </table>
  </form>
</div>
