<!--
<div class="create-profile clearfix">
  <div class="bar-container profile-header">
    <ul class="bar" id="bar">
      <li class="active"><p>Enter Roles</p></li>
      <li><p>Describe Roles</p></li>
      <li><p>Proefficiency Level</p></li>
      <li><p>My Skills</p></li>
      <li><p>Professional Details</p></li>
      <li><p>Academic Details</p></li>
      <li><p>Awards</p></li>
    </ul>
  </div>

  <div class="profile-wrapper">
    <div class="col-sm-3">
      <cn-profile-picture></cn-profile-picture>
      <span class="profile-name-first">{{firstName}}</span><span class="profile-name-last">{{lastName}}</span>
    </div>
    <div class="col-sm-9">
      <div class="roles section-container">
        <h4 class="heading">Enter Your Roles</h4>
        <div class="main-content">
          <cn-industry></cn-industry>
        </div>
      </div>

      <div class="section-container">
        <h4 class="heading">Choose Your Capabilities (Max. 10)</h4>
        <div class="main-content">
          <cn-capibility-list></cn-capibility-list>
        </div>
      </div>

      <div class="section-container">
        <h4 class="heading">Choose Complexities</h4>
        <div class="main-content min-height">
          <cn-complexity-list></cn-complexity-list>
        </div>
      </div>

      <div class="section-container clearfix profeiciency-domain">
        <h4 class="heading no-padding">
          <div class="col-sm-6 no-padding">Proficiencies (Max. 20)</div>
          <div class="col-sm-6 no-padding">Domains (Max. 20)</div>
        </h4>
        <div class="main-content clearfix">
          <div class="col-sm-6 no-padding">
            <cn-proficiencydoamin [type]="'profeciency'"></cn-proficiencydoamin>
          </div>
          <div class="col-sm-6 no-padding">
            <cn-proficiencydoamin [type]="'domain'"></cn-proficiencydoamin>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container">
  <h4 class="heading">Professional data</h4>
  <div class="main-content min-height">
    <cn-professional-data></cn-professional-data>
  </div>
</div>

<div class="section-container">
  <h4 class="heading">Employment Histroy</h4>
  <div class="main-content min-height">
<cn-EmploymentHistory></cn-EmploymentHistory>
  </div>
</div>
<div class="section-container">
  <h4 class="heading">Academic Details</h4>
  <div class="main-content min-height">
<cn-academic-details></cn-academic-details>
  </div>
</div>
<div class="section-container">
  <h4 class="heading">Certification/Accreditation</h4>
  <div class="main-content min-height">
    <cn-certification-accreditation></cn-certification-accreditation>
  </div>
</div>

<div class="section-container">
  <h4 class="heading">Awards</h4>
  <div class="main-content min-height">
<cn-awards></cn-awards>
  </div>
</div>
<div class="section-container">
  <h4 class="heading">More About Myself</h4>
  <div class="main-content min-height">
<cn-more-about-myself></cn-more-about-myself>
  </div>
</div>
-->
<cn-job-poster></cn-job-poster>
