<div class="create-profile clearfix">
  <div class="bar-container profile-header">
    <ul class="bar" id="bar">
      <li class="active"><p>Enter Roles</p></li>
      <li [class.active]="whichStepsVisible[1]"><p>Describe Roles</p></li>
      <li [class.active]="whichStepsVisible[2]"> <p>Proficiency Level</p></li>
      <li [class.active]="whichStepsVisible[3]"><p>My Skills</p></li>
      <li [class.active]="whichStepsVisible[4]"><p>Professional Details</p></li>
      <li [class.active]="whichStepsVisible[5]"><p>Academic Details</p></li>
      <li [class.active]="whichStepsVisible[6]"><p>Awards</p></li>
    </ul>
  </div>

  <div class="profile-wrapper container">
    <div class="col-sm-3">
      <cn-profile-picture></cn-profile-picture>
      <span class="profile-name-first">{{firstName}}</span><span class="profile-name-last">{{lastName}}</span>
    </div>
    <div class="col-sm-9">

      <div class="section-container">
        <h4 class="heading">Enter Your Job Title</h4>
        <div class="main-content clearfix">
          <div class="col-sm-10 no-padding">
            <textarea name="jobTitle" placeholder="Enter Your Job Title" class="form-control"[ngModel]="title" (ngModelChange)="selectedtitle($event)"></textarea>
          </div>

        </div>
      </div>

      <div class="roles section-container"   >
        <h4 class="heading">Enter Your Roles</h4>
        <div class="main-content">
          <cn-industry-list></cn-industry-list>
        </div>
      </div>

      <div class="section-container" [hidden]="!isRolesShow">
        <h4 class="heading">Select Area of Work(3)</h4>
        <div class="main-content">
          <cn-role-list> ></cn-role-list>
        </div>
      </div>

      <div class="section-container" [hidden]="!isRoleTypeShow">
        <h4 class="heading">Select role Type</h4>
        <div class="main-content">
          <cn-role-type-list></cn-role-type-list>
        </div>
      </div>


      <div class="section-container" [hidden]="!showCapability">
        <h4 class="heading">Choose Your Capabilities (Max. 10)</h4>
        <div class="main-content">
          <cn-capibility-list></cn-capibility-list>
        </div>
      </div>

      <div class="section-container" [hidden]="!showComplexity">
        <h4 class="heading">Choose Complexities</h4>
        <div class="main-content max-height">
          <cn-complexity-list></cn-complexity-list>
        </div>
      </div>

      <div class="section-container clearfix profeiciency-domain" [hidden]="!showProfeciency">
        <h4 class="heading">Proficiencies (Max. 25)</h4>
        <div class="main-content">
          <cn-proficiency-doamin [type]="'profeciency'"></cn-proficiency-doamin>
        </div>
      </div>
      <div class="section-container clearfix profeiciency-domain" [hidden]="!showProfeciency">
      <div class="col-sm-6 padding-right5">
        <h4 class="heading">select Industry in which you have experience</h4>
        <div class="main-content">
          <cn-industry-experience-list></cn-industry-experience-list>
        </div>
      </div>
       <!-- <div class="col-sm-6 padding-left5">
          <h4 class="heading">Industries (Max. 20)</h4>
          <div class="main-content">
            <cn-proficiency-doamin [type]="'domain'"></cn-proficiency-doamin>
          </div>
        </div>
      </div>-->

      <div class="section-container" [hidden]="!showProfeciency">
        <h4 class="heading">Professional data</h4>
        <div class="main-content">
          <cn-professional-data></cn-professional-data>
        </div>
      </div>

      <div class="section-container" [hidden]="chkEmployeeHistory" [hidden]="!showProfeciency">
        <h4 class="heading">Employment Histroy
          <span class="close-dialog">Close this box if not interested
            <span class="glyphicon glyphicon-remove" (click)="hideEmployeeHistory()"></span>
          </span>
        </h4>
        <div class="main-content clearfix" >
          <cn-employment-history></cn-employment-history>
        </div>
      </div>

      <div class="section-container" [hidden]="!showProfeciency">
        <h4 class="heading">Academic Details</h4>
        <div class="main-content">
          <cn-academic-details></cn-academic-details>
        </div>
      </div>

      <div class="section-container" [hidden]="chkCertification" [hidden]="!showProfeciency">
        <h4 class="heading">Certification/Accreditation
          <span class="close-dialog">Close this box if not interested
            <span class="glyphicon glyphicon-remove" (click)="hideCertification()"></span>
          </span>
        </h4>
        <div class="main-content clearfix">
          <cn-certification-accreditation></cn-certification-accreditation>
        </div>
      </div>

      <div class="section-container"  [hidden]="chkAwards" [hidden]="!showProfeciency">
        <h4 class="heading">Awards
          <span class="close-dialog">Close this box if not interested
            <span class="glyphicon glyphicon-remove" (click)="hideAwards()"></span>
          </span>
        </h4>
        <div class="main-content">
          <cn-awards></cn-awards>
        </div>
      </div>

      <div class="section-container" [hidden]="chkAboutMyself" [hidden]="!showProfeciency">
        <h4 class="heading">More About Myself(Max 250)
          <span class="close-dialog">Close this box if not interested
            <span class="glyphicon glyphicon-remove" (click)="hideAboutMyself()"></span>
          </span>
        </h4>
        <div class="main-content">
          <cn-more-about-myself></cn-more-about-myself>
        </div>
      </div>
      <div class="section-container profile-configurations" [hidden]="!showProfeciency">
        <div class="col-sm-8 no-padding text-left">
          <div class="radio">
            <label>Profile Visibility:</label>
            <label class="radio-inline">
              <input type="radio" name="profile-visibility" id="optionsRadios2"  [ngModel]="selectedvalue1" (ngModelChange)="showorhide($event)" value="option2"> show
            </label>
            <label class="radio-inline">
              <input type="radio" name="profile-visibility" id="optionsRadios3"  [ngModel]="selectedvalue2" (ngModelChange)="showorhide($event)" value="option3" > hide
            </label>
          </div>
          <div class="info"><p>In case you 'Hide' your profile visibility, Recruiters can not see your profile.<br />You can change it later.</p></div>
          <div class="button-group">
            <button class="btn btn-primary"(click)="onSubmit()" >Submit</button>
            <button class="btn btn-default">Cancel</button>
          </div>
        </div>
        <div class="col-sm-4 no-padding text-right">
          <div>
            <label>You Can Share it On:</label>
            <img src="assets/c-next/profile-creator/fb.png" />
            <img src="assets/c-next/profile-creator/linked-in.png" />
            <img src="assets/c-next/profile-creator/twitter.png" />
          </div>
          <div class="button-group">
            <button class="btn btn-danger" style="margin-top: 15px;" (click)="logOut()">Logout</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<cn-recruiter-dashboard></cn-recruiter-dashboard>
-->
<!--<cn-recruiter-dashboard></cn-recruiter-dashboard>-->

