<!--<div *ngFor="let item of profileComparisonResult">
  <cn-profile-comparison-header-meta [matchingPercentage]="item.matchingPercentage" [profileMeta]="item.profileComparisonHeader"></cn-profile-comparison-header-meta>
</div>-->
<div class="candidate-compare-header">
  <div class="matching-capabilities">
    <h6>Core Capabilities Matching</h6>
  </div>
  <div class="matching-candidate-details">
    <!-- Start: repeat this div using for loop -->
    <div class="candidate-details-container">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                class="glyphicon glyphicon-option-vertical"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Add to Cart</a></li>
          <li><a href="#">Reject</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </div>
      <cn-profile-comparison-header-meta></cn-profile-comparison-header-meta>
    </div>
    <!-- End: repeat this div using for loop -->
    <div class="candidate-details-container">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                class="glyphicon glyphicon-option-vertical"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Add to Cart</a></li>
          <li><a href="#">Reject</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </div>
      <cn-profile-comparison-header-meta></cn-profile-comparison-header-meta>
    </div>
    <div class="candidate-details-container">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                class="glyphicon glyphicon-option-vertical"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Add to Cart</a></li>
          <li><a href="#">Reject</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </div>
      <cn-profile-comparison-header-meta></cn-profile-comparison-header-meta>
    </div>
    <div class="candidate-details-container">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                class="glyphicon glyphicon-option-vertical"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Add to Cart</a></li>
          <li><a href="#">Reject</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </div>
      <cn-profile-comparison-header-meta></cn-profile-comparison-header-meta>
    </div>
    <div class="candidate-details-container">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                class="glyphicon glyphicon-option-vertical"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Add to Cart</a></li>
          <li><a href="#">Reject</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </div>
      <cn-profile-comparison-header-meta></cn-profile-comparison-header-meta>
    </div>
    <div class="candidate-details-container">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                class="glyphicon glyphicon-option-vertical"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Add to Cart</a></li>
          <li><a href="#">Reject</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </div>
      <cn-profile-comparison-header-meta></cn-profile-comparison-header-meta>
    </div>
    <div class="candidate-details-container">
      <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown"><span
                class="glyphicon glyphicon-option-vertical"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Add to Cart</a></li>
          <li><a href="#">Reject</a></li>
          <li><a href="#">Remove</a></li>
        </ul>
      </div>
      <cn-profile-comparison-header-meta></cn-profile-comparison-header-meta>
    </div>
  </div>
</div>

