<div class="list-container" id="candidate-list-view">
  <div class="header">
    <!--<a href="./public/candidate.csv" download="candiadte.csv" title="Export Candidate to CSV File"><i class="glyphicon glyphicon-export"></i>Export</a>-->
  </div>
  <div title="Export candidates list to CSV file" class="export-data-link" (click)="generateCandidateDetailFile()"><span class="glyphicon glyphicon-export" ></span>Export</div>
  <div class="list-view" *ngIf="candidates && candidates.length > 0">
    <ul class="list-header">
      <li>
        <h5>{{getLabel().NAME}}</h5>
      </li>
      <li>
        <h5>{{getLabel().JOB_TITLE_LABEL}}</h5>
      </li>
      <li>
        <h5>{{getLabel().EMAIL_FIELD_LABEL}}</h5>
      </li>
      <li>
        <h5>{{getLabel().CONTACT_FIELD_LABEL}}</h5>
      </li>
      <li>
        <h5>{{getLabel().CURRENT_LOCATION}}</h5>
      </li>
      <li>
        <h5>{{getLabel().PROFILE_STATUS}}</h5>
      </li>
      <li>
        <h5>{{getLabel().ACTIVATION_STATUS}}</h5>
      </li>
      <li>
        <h5>{{getLabel().ACTIONS}}</h5>
      </li>
    </ul>
    <div *ngFor="let candidate of candidates;let i = index">
      <ul>
        <li>
          <span (click)="openCandidateDashboard(candidate)">
          <p [class.inactive_candidate]="!candidate.isActivated" title="{{candidate.first_name}} {{candidate.last_name}}" class="username">{{candidate.first_name}} {{candidate.last_name}}
            <span class="glyphicon glyphicon-eye-open" *ngIf="candidate.data && candidate.data.isVisible" title="Profile is public and available in recruiter search"></span>
            <span class="glyphicon glyphicon-eye-close" *ngIf="candidate.data && !candidate.data.isVisible" title="Profile is private hence it will not be visible to recruiter"></span>
          </p>
          </span>
        </li>
        <li>
          <p *ngIf="candidate.data.jobTitle">{{candidate.data.jobTitle}}</p>
        </li>
        <li>
          <p>{{candidate.email}}</p>
        </li>
        <li>
          <p>+91-{{candidate.mobile_number}}</p>
        </li>
        <li>
          <p *ngIf="candidate.data.location && candidate.data.location.city">{{candidate.data.location.city}}</p>
        </li>
        <li>
          <span *ngIf="candidate.data.isSubmitted" class="completed" title="User has successfully created profile and published it.">Created</span>
          <span *ngIf="!candidate.data.isCompleted" class ="incomplete" title="Profile is partially filled hence will not be available in recruiter search results.">Partially created</span>
          <span *ngIf="candidate.data.isCompleted && !candidate.data.isSubmitted" class="partial" title="User has successfully created profile but not published(submitted) it.">Created but not submitted</span>
        </li>
        <li>
          <div *ngIf="candidate.isActivated"><span class="activated" title="User account is active."></span><span>Active</span></div>
          <div *ngIf="!candidate.isActivated"><span class="not-activated" title="User account is inactive."></span><span>Deactive</span></div>
        </li>
        <li>
          <button *ngIf="candidate.isActivated" class="btn-danger btn-custom" (click)="updateDetail(i,candidate,candidate.isActivated)" title="Click to deactivate this account.">Deactivate</button>
          <button *ngIf="!candidate.isActivated" class="btn-primary btn-custom" (click)="updateDetail(i,candidate,candidate.isActivated)" title="Click to activate this account">Activate</button>
          <button class="btn-danger btn-custom btn-view-profile" (click)="viewProfile(candidate,'/value-portrait')" *ngIf="candidate.data.isCompleted" title="Click to view value portrait of this candidate.">View Profile</button>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <cn-filter-bar (onItemSelect)="loadUser($event)"></cn-filter-bar>
  </div>
</div>
<div *ngIf="candidates == undefined || candidates && candidates.length==0"> {{getMessages().NO_CANDIDATES_AVAILABLE}} </div>
