<div class="list-container" id="candidate-list-view">
  <div class="header">
    <!--<a href="./public/candidate.csv" download="candiadte.csv" title="Export Candidate to CSV File"><i class="glyphicon glyphicon-export"></i>Export</a>-->
  </div>
  <div title="Export candidates list to CSV file" class="export-data-link" (click)="generateCandidateDetailFile()"><span class="glyphicon glyphicon-export" ></span>Export</div>
  <a href="./public/candidate.csv" download="candidate.csv" id="link_candidate"  hidden></a>
  <div class="list-view" *ngIf="candidates && candidates.length > 0">
    <ul class="list-header">
      <li>
        <h5>{{getLabel().NAME}}</h5>
      </li>
      <li>
        <h5>{{getLabel().JOB_TITLE_LABEL}}</h5>
      </li>
      <li>
        <h5>{{getLabel().EMAIL_FIELD_LABEL}}</h5>
      </li>
      <li>
        <h5>{{getLabel().CONTACT_FIELD_LABEL}}</h5>
      </li>
      <li>
        <h5>{{getLabel().CURRENT_LOCATION}}</h5>
      </li>
      <li>
        <h5>{{getLabel().PROFILE_STATUS}}</h5>
      </li>
      <li>
        <h5>{{getLabel().ACTIVATION_STATUS}}</h5>
      </li>
      <li>
        <h5>{{getLabel().ACTIONS}}</h5>
      </li>
    </ul>
    <div *ngFor="let candidate of candidates;let i = index">
      <ul>
        <li>
          <p class="username">{{candidate.first_name}} {{candidate.last_name}}
            <span class="glyphicon glyphicon-eye-open" *ngIf="candidate.data && candidate.data.isVisible" title="Profile is Public"></span>
            <span class="glyphicon glyphicon-eye-close" *ngIf="candidate.data && !candidate.data.isVisible" title="Profile is Private"></span>
          </p>
        </li>
        <li>
          <p *ngIf="candidate.data.jobTitle">{{candidate.data.jobTitle}}</p>
        </li>
        <li>
          <p>{{candidate.email}}</p>
        </li>
        <li>
          <p>+91-{{candidate.mobile_number}}</p>
        </li>
        <li>
          <p *ngIf="candidate.data.location && candidate.data.location.city">{{candidate.data.location.city}}</p>
        </li>
        <li>
          <span *ngIf="candidate.data.isSubmitted" class="completed" title="Profile is completed.">Created</span>
          <span *ngIf="!candidate.data.isCompleted" class ="incomplete" title="Profile is partially filled hence will not be available in search results.">Partially created</span>
          <span *ngIf="candidate.data.isCompleted && !candidate.data.isSubmitted" class="partial" title="Profile is completed but user has not visited dashboard.">Created but not submitted</span>
        </li>
        <li>
          <div *ngIf="candidate.isActivated"><span class="activated" title="Profile is active"></span><span>Active</span></div>
          <div *ngIf="!candidate.isActivated"><span class="not-activated" title="Profile is deactivated"></span><span>Deactive</span></div>
        </li>
        <li>
          <button *ngIf="candidate.isActivated" class="btn-danger btn-custom" (click)="updateDetail(i,candidate,candidate.isActivated)" title="Click to deactivate this profile.">Deactivate</button>
          <button *ngIf="!candidate.isActivated" class="btn-primary btn-custom" (click)="updateDetail(i,candidate,candidate.isActivated)" title="Click to activate this profile.">Activate</button>
          <button class="btn-danger btn-custom" (click)="viewProfile(candidate,'/value-portrait')" *ngIf="candidate.data.isCompleted" title="Click to view value portrait of this candidate">View Profile</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<div *ngIf="candidates == undefined || candidates && candidates.length==0"> {{getMessages().NO_CANDIDATES_AVAILABLE}} </div>
