@import '../../../../../../css/variables';

.value-portraot-candidate-capability {
  background: $white;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  h3 {
    background: $theme-color;
    border-radius: 7px;
    box-shadow: -1px 2px 9px 1px rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    color: $white;
    display: inline-block;
    font-family: 'gothamrnd-book';
    font-size: 18px;
    margin: 0;
    padding: 15px 10px;
    width: 226px;
    &:before {
      content: "";
      width: 316px;
      height: 1px;
      background: $black1;
      position: absolute;
      z-index: 0;
      margin-left: -354px;
      margin-top: 9px;
    }
  }
  .show-more-btn {
    background: $light-gray;
    position: absolute;
    right: 9px;
    top: 48%;
    padding: 10px;
    width: 80px;
    height: 80px;
    color: $black1;
    border-radius: 80px;
    border: 0;
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  }
}

.value-portraot-candidate-capability-circle {
  /*display: table;*/
  margin: 0 auto;
  width: 1076px;
  .circle {
    border-radius: 50%;
    box-shadow: -1px 2px 9px 1px rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    display: inline-block;
    height: 175px;
    width: 175px;
    margin: 20px 20px 0;
    position: relative;
    float: left;

  }
  .second-line {
    float: right;
  }
  .inner-circle {
    border-radius: 50%;
    box-shadow: 0 0 4px 2px rgba(125, 125, 125, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
    float: left;
    height: 150px;
    margin: 10px;
    width: 150px;
    span {
      display: table-cell;
      font-size: 14px;
      height: 150px;
      padding: 0px 12px 0;
      vertical-align: middle;
      word-break: keep-all;
      width: 150px;
    }
  }
  .circle:nth-child(even) {
    border: 2px solid $red;
  }
  .circle:nth-child(odd) {
    border: 2px solid #f48c37;
  }
  .five-element {
    .circle {
      .tooltip-content1 {
        left: -212px;
        right: inherit;
        &:after {
          border-bottom: 10px solid $white;
          right: -15px;
          left: initial;
          border-top: 0;
        }
        .complexities-list {
          &:hover {
            border-right: 5px solid $theme-color;
          }
        }
      }
      &:before {
        width: 37px;
        transform: rotate(90deg);
        left: 41%;
        bottom: -22px;
        top: inherit;
      }
    }
  }
  .six-element {
    .circle {
      .tooltip-content1 {
        left: -212px;
        right: inherit;
        &:after {
          border-bottom: 10px solid #fff;
          right: -15px;
          left: initial;
          border-top: 0;
        }
        .complexities-list {
          &:hover {
            border-left: 5px solid $theme-color;
          }
        }
      }
      &:before {
        display: none;
      }
    }
  }
  .fifteen-element {
    .circle {
      .tooltip-content1 {
        left: -212px;
        right: inherit;
        &:after {
          border-bottom: 10px solid $white;
          right: -15px;
          left: initial;
          border-top: 0;
        }
      }
      &:before {
        display: none;
      }
    }
  }
  .eleven-element {
    .circle {
      &:after {
        content: "";
        width: 37px;
        transform: rotate(90deg);
        left: 41%;
        top: -22px;
        position: absolute;
        background: $black1;
        height: 1px;
      }
    }
  }
}

.circle > .tooltip-content {
  display: inline-block;
  background-color: $light-gray;
  border-radius: 4px;
  box-shadow: 3px 3px 15px 1px $gray;
  margin-left: -280px;
  opacity: 0;
  padding: 0px;
  position: absolute;
  transition: all .1s linear;
  width: 280px;
  z-index: 99;
  margin-top: 188px;
  visibility: hidden;
  .complexities-list {
    border-left: 5px solid transparent;
    border-bottom: 1px solid $gray-border-bg;
    color: #000;
    font-size: 14px;
    margin: 0;
    padding: 7px 0 7px 7px;
    text-align: left;
    width: 100%;
    &:hover {
      background: $white;
      border-left: 5px solid $theme-color;
    }
  }
}

.circle:hover > .tooltip-content {
  opacity: 1;
  visibility: visible;
}

.circle .tooltip-content:after {
  content: "";
  border-bottom: 10px solid $light-gray;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  /*bottom:-10px;*/
  top: -10px;
  margin-left: -10px;
  right: 70px;
}

.complexities-list > .tooltip-content1 {
  opacity: 0;
  display: inline-block;
  position: absolute;
  width: 200px;
  background-color: $white;
  padding: 10px;
  transition: all .1s linear;
  box-shadow: 3px 3px 15px 1px $gray;
  border-radius: 4px;
  right: -212px;
  color: $theme-color;
  margin-top: -13px;
}

.complexities-list:hover > .tooltip-content1 {
  opacity: 1;
}

.complexities-list .tooltip-content1:after {
  content: "";
  border-top: 10px solid $white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: 13px;
  left: -6px;
  margin-left: -8px;
  transform: rotate(90deg);
  z-index: 99;
}

.circle::before {
  content: "";
  width: 39px;
  height: 1px;
  background: $black1;
  position: absolute;
  top: 50%;
  left: 174px;
  z-index: 0;
}

.value-portraot-candidate-capability-circle .circle-list:last-child .circle::before {
  display: none;
}

.circle-list:first-child .circle::after {
  content: "";
  width: 47px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 38%;
  top: -29px;
  position: absolute;
  background: $black1;
  height: 1px;
}
