@import '../../../../../../css/variables';

.value-portrait-candidate-capability {
  background: $white;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  width: 100%;
  h3 {
    background: $theme-color;
    border-radius: 7px;
    box-shadow: -1px 2px 9px 1px rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    color: $white;
    display: inline-block;
    font-family: 'gothamrnd-book';
    font-size: 18px;
    margin: 0;
    padding: 15px 10px;
    width: 226px;
    &:before {
      content: "";
      width: 262px;
      height: 1px;
      background: $gray-light1;
      position: absolute;
      z-index: 0;
      margin-left: -299px;
      margin-top: 9px;
    }
  }
  .show-more-btn {
    background: $white;
    position: absolute;
    right: 15px;
    top: 48%;
    padding: 15px 10px;
    width: 80px;
    height: 80px;
    color: $label-border;
    border-radius: 80px;
    border: 6px solid #eaeaea;
    box-shadow: 1px 1px 5px 1px rgba(179, 179, 179, 0.26), 0 2px 10px 0 rgba(158, 158, 158, 0.16);
    line-height: 16px;
    span {
      float: left;
      width: 100%;
      color: #b5b5b5;
    }
  }
}

.value-portrait-candidate-capability-circle {
  /*display: table;*/
  margin: 0 auto;
  width: 950px;
  .circle {
    border-radius: 50%;
    box-shadow: -1px 2px 9px 1px rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 20px 20px 0;
    position: relative;
    float: left;
    &:hover {
      border: 4px solid $portrait-theme !important;
    }
  }
  .second-line {
    float: right;
  }
  .inner-circle {
    border-radius: 50%;
    box-shadow: 0 0 4px 2px rgba(125, 125, 125, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
    float: left;
    height: 125px;
    margin: 8px;
    width: 125px;
    span {
      display: table-cell;
      font-size: 13px;
      height: 125px;
      padding: 0px 12px 0;
      vertical-align: middle;
      word-break: keep-all;
      width: 125px;
    }
  }
  .circle:nth-child(even) {
    border: 4px solid $circle-border;
  }
  .circle:nth-child(odd) {
    border: 4px solid $circle-border;
  }
  .first-element {
    .circle {
      .tooltip-content {
        margin-left: 15px;
        &:after {
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid $portrait-theme;
          left: 0;
          margin-left: -10px;
          position: absolute;
          right: inherit;
        }
      }
    }
  }
  .four-element,
  .six-element,
  .seven-element,
  .fourteen-element,
  .fifteen-element{
    .circle {
      .tooltip-content {
        margin-left: -458px;
        &:after {
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid  $portrait-theme;
          border-right: 0;
          left: inherit;
          margin-left: -10px;
          position: absolute;
          right: -10px;
        }
      }
      .tooltip-content1 {
        left: -212px;
        right: inherit;
        &:after {
          border-bottom: 10px solid $white;
          border-top: 0;
          left: initial;
          right: -15px;
        }
      }
    }
  }
  .five-element {
    .circle {
      .tooltip-content {
        margin-left: -458px;
        &:after {
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid  $portrait-theme;
          border-right: 0;
          left: inherit;
          margin-left: -10px;
          position: absolute;
          right: -10px;
        }
      }
      .tooltip-content1 {
        left: -212px;
        right: inherit;
        &:after {
          border-bottom: 10px solid $white;
          right: -15px;
          left: initial;
          border-top: 0;
        }
      }
      &:before {
        width: 37px;
        transform: rotate(90deg);
        left: 41%;
        bottom: -22px;
        top: inherit;
      }
      .tooltip-content {
        .complexities-list {
          border-left: 5px solid transparent;
          &:hover {
            border-right: 5px solid $portrait-theme;
            border-left: 0;
            padding: 7px 0 7px 12px;
          }
        }
      }
    }
  }
  .six-element {
    .circle {
      .tooltip-content {
        margin-left: -458px;
        &:after {
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid  $portrait-theme;
          border-right: 0;
          left: inherit;
          margin-left: -10px;
          position: absolute;
          right: -10px;
        }
      }
      .tooltip-content1 {
        left: -212px;
        right: inherit;
        &:after {
          border-bottom: 10px solid #fff;
          right: -15px;
          left: initial;
          border-top: 0;
        }
      }
      &:before {
        display: none;
      }
      .tooltip-content {
        .complexities-list {
          border-left: 5px solid transparent;
          &:hover {
            border-right: 5px solid $portrait-theme;
            border-left: 0;
            padding: 7px 0 7px 12px;
          }
        }
      }
    }
  }
  .fifteen-element {
    .circle {
      .tooltip-content1 {
        left: -212px;
        right: inherit;
        &:after {
          border-bottom: 10px solid $white;
          right: -15px;
          left: initial;
          border-top: 0;
        }
      }
      &:before {
        display: none;
      }
      .tooltip-content {
        .complexities-list {
          border-left: 5px solid transparent;
          &:hover {
            border-right: 5px solid $portrait-theme;
            border-left: 0;
            padding: 7px 0 7px 12px;
          }
        }
      }
    }
  }
  .eleven-element {
    .circle {
      &:after {
        content: "";
        width: 37px;
        transform: rotate(90deg);
        left: 41%;
        top: -22px;
        position: absolute;
        background: $gray-light1;
        height: 1px;
      }
    }
  }
}

.circle > .tooltip-content {
  background-color: $portrait-theme;
  bottom: 0;
  border-radius: 4px;
  border-left: 1px solid $white;
  box-shadow: 3px 3px 15px 1px $gray;
  display: inline-block;
  min-height: 180px;
  margin-top: -19px;
  margin-left: 16px;
  opacity: 0;
  padding: 0;
  position: absolute;
  transition: all .1s linear;
  width: 300px;
  visibility: hidden;
  z-index: 99;
  .complexities-list {
    border-left: 5px solid transparent;
    border-bottom: 1px solid #ff927f;
    color: $white;
    font-size: 14px;
    margin: 0;
    padding: 7px 0 7px 7px;
    text-align: left;
    width: 100%;
    &:hover {
      background: $white;
      border-left: 5px solid $portrait-theme;
      color: $portrait-theme;
    }
  }
}

.circle:hover > .tooltip-content {
  opacity: 1;
  visibility: visible;
}

.circle .tooltip-content:after {
  content: "";
  /*border-bottom: 10px solid $portrait-theme;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  top: -10px;
  margin-left: -10px;
  right: 142px;*/
  bottom: 57px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $portrait-theme;
  left: 0;
  margin-left: -10px;
  position: absolute;
  right: inherit;
}

.complexities-list > .tooltip-content1 {
  background-color: $white;
  box-shadow: 3px 3px 15px 1px $gray;
  border-radius: 4px;
  color: $portrait-theme;
  display: inline-block;
  min-height: 56px;
  margin-top: -28px;
  opacity: 0;
  padding: 10px;
  position: absolute;
  right: -212px;
  transition: all .1s linear;
  width: 200px;
}

.complexities-list:hover > .tooltip-content1 {
  opacity: 1;
}

.complexities-list .tooltip-content1:after {
  content: "";
  border-top: 10px solid $portrait-theme;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: -8px;
  margin-left: -8px;
  position: absolute;
  top: 34px;
  transform: rotate(90deg);
  z-index: 99;
}

.circle::before {
  content: "";
  width: 39px;
  height: 1px;
  background: $gray-light1;
  position: absolute;
  top: 50%;
  left: 148px;
  z-index: 0;
}

.value-portrait-candidate-capability-circle .circle-list:last-child .circle::before {
  display: none;
}

.circle-list:first-child .circle::after {
  content: "";
  width: 47px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  left: 38%;
  top: -29px;
  position: absolute;
  background: $gray-light1;
  height: 1px;
}

.value-portrait-notes {
  color: $black1;
  background: $notes-bg;
  display: inline-block;
  float: left;
  font-size: 12px;
  margin: 10px 0;
  padding: 5px;
  position: relative;
  width: 100%;
  z-index: 99999;
  h4 {
    font-size: 12px;
    font-weight: bold !important;
    font-family: 'gothamrnd-book';
    margin: 0 0 5px;
  }
}

@media only screen and (max-width: 767px) {
  .value-portrait-candidate-capability-circle {
    width: 100%;
    .circle {
      float: none;
      margin: 19px 20px;
      &:before {
        position: absolute;
        top: inherit;
        left: 52px !important;
        z-index: 0;
        bottom: -24px;
        transform: rotate(90deg);
      }
    }
    .second-line {
      float: none;
      margin: 0 20px 19px 20px;
    }
  }
  .value-portrait-candidate-capability {
    background: transparent;
    h3 {
      margin: 0 0 30px;
      &:before {
        display: none;
      }
    }
  }
}
