<div class="value-portraot-candidate-capability">
  <h3> Core Capabilities </h3>
  <div class="value-portraot-candidate-capability-circle">
    <div class="circle" *ngFor="let capability of candidate.capabilities;let i=index;" [class.after-five]="i>4">
      <div class="inner-circle">
        <span>
          {{capability.name}}
        </span>
      </div>
      <div class="tooltip-content">
        <div class="complexities-list" *ngFor="let complexity of capability.complexities"> {{complexity.name}}
          <span class="tooltip-content1">
            {{complexity.answer}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
