$primary-option: #1c75bd;
$secondary-option: #00aed5;

.color-panel {
  border-radius: 25px;
  display: inline-block;
  height: 10px;
  padding: 0;
  width: 10px;
}

.primary-color {
  background: $primary-option;
  margin: 0 5px 0 0;
}

.secondary-color {
  background: $secondary-option;
  margin: 0 5px 0 15px;
}

.btn-primary {
  float: right;
  margin-top: 15px;

  &:focus,
  &:active {
    outline: none;
  }
}

.capability-type {
  .instructions {
    margin-top: -5px;
  }
}

@media screen and (max-width: 767px) {
  .capabilities {
    padding: 0;
  }

  .btn-primary {
    float: none;
  }
}
