$text-color: #666;
$white: #fff;
$option-border-color: #f8f8f8;
$primary-option: #1c75bd;
$secondary-option: #00aed5;

p {
  margin: 0;
}

.btn-primary {
  float: right;

  &:focus,
  &:active {
    outline: none;
  }
}

.capability-type {
  .instructions {
    margin-top: -5px;
  }

  .select-option {
    display: inline-block;
    margin: 5px 20px 5px 0;
    text-align: left;
    text-transform: capitalize;
  }
}

.select-option > label {
  margin: 0;
  padding: 10px 0;

  & > input {
    display: none;

    & + span {
      border-radius: 25px;
      color: $text-color;
      cursor: pointer;
      font-weight: 100;
      padding: 6px 10px;
    }

    &:checked {
      & + span {
        color: $white;
      }
    }
  }

  &:hover {
    & > input {
      & + span {
        cursor: pointer;
      }

      &:checked {
        & + span {
          color: $white;
        }
      }
    }
  }
}

.primary > label {
  & > input {

    & + span {
      border: 1px solid $primary-option;

      &:hover {
        border: 1px solid $primary-option;
      }
    }

    &:checked {
      & + span {
        background-color: $primary-option;
        border: 1px solid $primary-option;
      }
    }
  }

  &:hover {
    & > input {
      & + span {
        border: 1px solid $primary-option;
      }

      &:checked {
        & + span {
          background-color: $primary-option;
          border: 1px solid $primary-option;
        }
      }
    }
  }
}

.secondary > label {
  & > input {
    display: none;

    & + span {
      border: 1px solid $secondary-option;

      &:hover {
        border: 1px solid $secondary-option;
      }
    }

    &:checked {
      & + span {
        background-color: $secondary-option;
        border: 1px solid $secondary-option;
      }
    }
  }

  &:hover {
    & > input {
      & + span {
        border: 1px solid $secondary-option;
      }

      &:checked {
        & + span {
          background-color: $secondary-option;
          border: 1px solid $secondary-option;
        }
      }
    }
  }
}

@media screen and (max-width: 1099px) {
  .primary > label {
    & > input {
      & + span {
        &:hover {
          border: 1px solid $primary-option;
        }
      }
    }

    &:hover {
      & > input {
        & + span {
          border: 1px solid $primary-option;
        }
      }
    }
  }

  .secondary > label {
    & > input {
      & + span {
        &:hover {
          border: 1px solid $secondary-option;
        }
      }
    }

    &:hover {
      & > input {
        & + span {
          border: 1px solid $secondary-option;
        }
      }
    }
  }


}

@media screen and (max-width: 980px) {
  .btn-primary {
    float: none;
    margin-top: 15px;
  }

  .capability-type {
    .select-option {
      margin: 0 20px 0 0;
    }
  }
}
