<div class="clearfix">
  <div class="col-sm-12 no-padding">
    <p class="info">Select those capabilities which describe what you are best at or where you would like to position your career.
      Selecting too many capabilities would dilute the matching and alignment with the best job opportunity.
      Hence you should select maximum 10 primary capabilities. You may additionally select upto 10 secondary capabilities.
      Please note that marking the right capabilities is the key to this hiring solution. It is envisaged
      that capabilities of an individual don’t change every day and hence once selected, you would be able to change the capabilities only after 3 months.</p>
    <p><span class="color-panel primary-color"></span>Primary <span class="color-panel secondary-color"></span>Secondary</p>
    <div class="capability-type" >
      <div class="select-option" [class.primary]="isPrimary[i]" [class.secondary]="isSecondary[i]" *ngFor="let item of capabilities;let i = index">
        <label>
          <input type="checkbox" name="checkbox" (click)="selectedOption($event)" id="{{item}}" value="{{item}}"  [disabled]="showfield" [checked]="isChecked(item)">
          <span>{{item}}</span>
        </label>
      </div>
    </div>
    <div class="button-group clearfix">
      <button class="btn btn-primary" (click)="createAndSave()" [disabled]="disablebutton">Confirm &amp; Save</button>
    </div>
  </div>
</div>
