<!--
<bi-project-header></bi-project-header>
-->
<section class="wrapper">
  <div class="container container-material-takeoff">
    <div class="col-sm-9 col-xs-12 padding-right30 left-content">
      <div *ngIf="isMaterialTakeOffReportPresent" class="dropdown filter-dropdrown">
        <div class="page-heading text-center visible-xs">
          Material Takeoff: {{ (elementWiseReport === 'material' ? 'Material Wise' : 'Cost Head Wise' ) }}
        </div>
        <a class="dropdown-toggle visible-xs" type="button" id="dropdownMenuFilter" data-toggle="dropdown">
          <img src="assets/build-info/filter/sort.png" alt="Filter"/>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuFilter">
          <li *ngIf="isMaterialTakeOffReportPresent" (click)="showDropdown($event)" class="pull-left no-padding material-wise-selection">
            <select class="select-costing no-margin" (change)="onChangeGroupBy($event.target.value)">
              <option *ngFor="let elementWiseReport of elementWiseReports" [value]="elementWiseReport.elementKey">{{
                elementWiseReport.elementValue }}</option>
            </select>
          </li>
          <li *ngIf="isMaterialTakeOffReportPresent" (click)="showDropdown($event)" class="pull-left padding-left15 cost-head-selection">
            {{ elementHeading }}
            <select class="select-costing no-margin" (change)="onChangeSecondFilter($event.target.value)">
              <option *ngFor="let element of elements" [value]="element">{{ element }}</option>
            </select>
          </li>
          <li *ngIf="isMaterialTakeOffReportPresent" (click)="showDropdown($event)" class="pull-left padding-left15 building-selection">
            {{getMaterialTakeOffElements().BUILDING}}
            <select  class="select-costing no-margin" [(ngModel)]="building" (change)="onChangeBuilding($event.target.value)">
              <option [value]=getMaterialTakeOffElements().ALL_BUILDINGS>{{getMaterialTakeOffElements().ALL_BUILDINGS}}</option>
              <option *ngFor="let building of buildings" [value]="building">{{ building }}</option>
            </select>
          </li>
        </ul>
      </div>
      <div *ngIf="elementFound">
        <bi-material-take-off-report
          [materialTakeOffReport]="materialTakeOffReport"
          [elementType]="elementWiseReport"
          [elementName]="selectedElement"
          [buildingName]="building"
          [materialTakeOffReport]="materialTakeOffReport">
        </bi-material-take-off-report>
      </div>
      <div *ngIf="isMaterialTakeOffReportPresent === false">
        <h4>{{getMaterialTakeOffElements().REPORT_EMPTY_MESSAGE}}</h4>
      </div>
    </div>
    <div class="col-xs-3 no-padding right-content">
      <advertising-banner></advertising-banner>
    </div>
  </div>
  <div class="disclaimer-section container-fluid disclaimer-container-fluid">
    <div class="col-sm-9 padding-right30">
      <h1> Disclaimer </h1>
      <p [innerHtml]="getMessage().DISCLAIMER_MESSAGE"></p>
    </div>
  </div>
</section>
