<bi-project-header></bi-project-header>
<section class="wrapper">
  <div class="container">
    <div class="col-sm-9 col-xs-12 padding-right30 left-content">
      <div *ngIf="isMaterialTakeOffReportPresent" class="pull-left no-padding">
        <select class="select-costing no-margin" (change)="onChangeGroupBy($event.target.value)">
          <option *ngFor="let elementWiseReport of elementWiseReports" [value]="elementWiseReport.elementKey">{{
            elementWiseReport.elementValue }}</option>
        </select>
      </div>
      <div *ngIf="isMaterialTakeOffReportPresent" class="pull-left padding-left15">
        {{ elementHeading }}
        <select class="select-costing no-margin" (change)="onChangeSecondFilter($event.target.value)">
          <option *ngFor="let element of elements" [value]="element">{{ element }}</option>
        </select>
      </div>
      <div *ngIf="isMaterialTakeOffReportPresent" class="pull-left padding-left15">
        {{getMaterialTakeOffElements().BUILDING}}
        <select  class="select-costing no-margin" [(ngModel)]="building" (change)="onChangeBuilding($event.target.value)">
          <option [value]=getMaterialTakeOffElements().ALL_BUILDINGS>{{getMaterialTakeOffElements().ALL_BUILDINGS}}</option>
          <option *ngFor="let building of buildings" [value]="building">{{ building }}</option>
        </select>
      </div>
      <div *ngIf="elementFound">
        <bi-material-take-off-report
          [materialTakeOffReport]="materialTakeOffReport"
          [elementType]="elementWiseReport"
          [elementName]="selectedElement"
          [buildingName]="building"
          [materialTakeOffReport]="materialTakeOffReport">
        </bi-material-take-off-report>
      </div>
      <div *ngIf="selectedElement === undefined || building === undefined">
        <h4>{{getMaterialTakeOffElements().REPORT_EMPTY_MESSAGE}}</h4>
      </div>
    </div>
    <div class="col-xs-3 no-padding right-content">
      <img src="./assets/build-info/dashboard/ads.png" style="width: 100%; margin-top: 20px;" />
    </div>
  </div>
</section>
