<header class="page-header">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false" (click)="isClassVisible = !isClassVisible;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" (click)="navigateTo('/admin_dashboard'); closeMenu($event);">
          <img src={{MY_LOGO}}/>
          <span>Admin Panel</span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="bg-overlay" [class.show]="isClassVisible" (click)="isClassVisible = false;"></div>
      <div class="collapse navbar-collapse" [class.open-nav]="isClassVisible">


        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown last-child">
            <div class="dropdown">
              <a class="hidden-xs simple-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                <img src="assets/framework/images/dashboard/profile.png" alt="User Profile"/>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu mobile-dropdown">
                <li class="user-info user-info-ipad">
                  <img class="visible-xs" src="assets/framework/images/dashboard/profile.png" alt="User Profile"
                       *ngIf="candidate.basicInformation.picture==undefined"/>
                  <img class="visible-xs" [src]="getImagePath(candidate.basicInformation.picture)" alt="User Profile"
                       *ngIf="candidate.basicInformation.picture!=undefined"/>
                  <h4>{{candidate.basicInformation.first_name}} {{candidate.basicInformation.last_name}}</h4>
                  <h5 *ngIf="candidate.jobTitle != undefined">{{candidate.jobTitle}}</h5>
                </li>
                <li class="divider"></li>

                <li role="menuitem" [routerLinkActive]="['active']">
                  <a class="dropdown-item" [routerLink]="['admin_dashboard']"
                     (click)="navigateTo('/admin_dashboard');">
                    <span class="glyphicon glyphicon-th"></span>My Dashboard
                  </a>
                </li>
                <li role="menuitem" [routerLinkActive]="['active']">
                  <a class="dropdown-item" [routerLink]="['settings']"
                     (click)="navigateTo('/settings/admin'); toggleMenu();">
                    <span class="glyphicon glyphicon-lock"></span>Change Password
                  </a>
                </li>


                <li role="menuitem">
                  <a class="dropdown-item" (click)="logOut()">
                    <span class="glyphicon glyphicon-log-out"></span>Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>


