@import '../../../../../../css/common';

.wrapper {
  margin-top: 80px;
  min-height: calc(100vh - 80px);
  padding: 20px 0 90px;

  h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
}
