<section class="settings main-form-wrapper" style="margin-top: 90px">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11">
    <div class="col-xs-12 no-padding">
      <h5>View Building</h5>

      <div class="col-sm-12">

        <form [formGroup]="viewBuildingForm" (submit)="onSubmit()" class="profile-form clearfix">

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.name" [submitStatus] = "submitStatus"></control-messages>
            <label>Building Name</label>
            <input type="text" [(ngModel)]="buildingModel.name" formControlName="name" id="name"  class="form-control" placeholder="Enter your building name" required />
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.totalSlabArea" [submitStatus] = "submitStatus"></control-messages>
            <label>Slab Area<small> (In sft)</small></label>
            <input type="number" [(ngModel)]="buildingModel.totalSlabArea" formControlName="totalSlabArea" id="totalSlabArea"  class="form-control" placeholder="Enter slab area" required/>
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.totalCarpetAreaOfUnit" [submitStatus] = "submitStatus"></control-messages>
            <label>Carpet Area of all units including Balconies/attached terraces <small> (In sqft)</small></label>
            <input type="number" class="form-control" [(ngModel)]="buildingModel.totalCarpetAreaOfUnit" formControlName="totalCarpetAreaOfUnit" id="totalCarpetAreaOfUnit" placeholder="Enter carpet area" required/>
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.totalSaleableAreaOfUnit" [submitStatus] = "submitStatus"></control-messages>
            <label>Saleble Area<small> (In sft)</small></label>
            <input type="number" class="form-control" [(ngModel)]="buildingModel.totalSaleableAreaOfUnit" formControlName="totalSaleableAreaOfUnit" id="totalSaleableAreaOfUnit" placeholder="Enter Saleble area" required/>
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.plinthArea" [submitStatus] = "submitStatus"></control-messages>
            <label>Plinth Area<small> (In sft)</small></label>
            <input type="number" [(ngModel)]="buildingModel.plinthArea" formControlName="plinthArea" id="plinthArea" class="form-control" placeholder="Enter plinth Area" required/>
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.totalNumOfFloors" [submitStatus] = "submitStatus"></control-messages>
            <label> Total No.of Floors(Excluding parking floors)</label>
            <input type="number" [(ngModel)]="buildingModel.totalNumOfFloors" formControlName="totalNumOfFloors" id="totalNumOfFloors" class="form-control" required/>
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.numOfParkingFloors" [submitStatus] = "submitStatus"></control-messages>
            <label>No. Of Parking Floors</label>
            <input type="number" [(ngModel)]="buildingModel.numOfParkingFloors" formControlName="numOfParkingFloors" id="numOfParkingFloors" class="form-control" placeholder="Enter number Of Parking Floors" required/>
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.carpetAreaOfParking" [submitStatus] = "submitStatus"></control-messages>
            <label>Carpet Area for parking <small> (In sqft)</small></label>
            <input type="number" class="form-control" [(ngModel)]="buildingModel.carpetAreaOfParking" formControlName="carpetAreaOfParking" id="carpetAreaOfParking" placeholder="Enter carpetArea for Parking area" required/>
          </div>

          <div class="form-group">
            <label>Apartment Configuration</label>
          </div>
          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.numOfOneBHK" [submitStatus] = "submitStatus"></control-messages>
            <label>1 BHK</label>
            <input type="number" [(ngModel)]="buildingModel.numOfOneBHK" formControlName="numOfOneBHK" id="numOfOneBHK" class="form-control" required/>
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.numOfTwoBHK" [submitStatus] = "submitStatus"></control-messages>
            <label>2 BHK</label>
            <input type="number" [(ngModel)]="buildingModel.numOfTwoBHK" formControlName="numOfTwoBHK" id="numOfTwoBHK" class="form-control" required/>
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.numOfThreeBHK" [submitStatus] = "submitStatus"></control-messages>
            <label>3 BHK</label>
            <input type="number" [(ngModel)]="buildingModel.numOfThreeBHK" formControlName="numOfThreeBHK" id="numOfThreeBHK" class="form-control" required/>
          </div>

          <div   class="form-group">
            <control-messages [control]="viewBuildingForm.controls.numOfFourBHK" [submitStatus] = "submitStatus"></control-messages>
            <label> 4 BHK</label>
            <input type="number" [(ngModel)]="buildingModel.numOfFourBHK" formControlName="numOfFourBHK" id="numOfFourBHK" class="form-control" required/>
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.numOfFiveBHK" [submitStatus] = "submitStatus"></control-messages>
            <label>5 BHK</label>
            <input type="number" [(ngModel)]="buildingModel.numOfFiveBHK" formControlName="numOfFiveBHK" id="numOfFiveBHK" class="form-control" required/>
          </div>

          <div  class="form-group">
            <control-messages [control]="viewBuildingForm.controls.numOfLifts" [submitStatus] = "submitStatus"></control-messages>
            <label>No. of Lifts</label>
            <input type="number" [(ngModel)]="buildingModel.numOfLifts" formControlName="numOfLifts" id="numOfLifts" class="form-control" required/>
          </div>

          <div class="col-xs-12 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage"><b>{{ error_msg }}</b></div>

          <button type="submit" class="btn btn-primary pull-right">Update</button>
        </form>
      </div>

    </div>
  </div>
</section>

