@import '../../../../css/common';

.wrapper {
  background: $white;
  min-height: calc(100vh - 80px);
  padding: 40px 0 20px 0;
  text-align: center;

  .inner-wrapper {
    margin: 0 auto;
    max-width: 450px;
  }

  .btn-primary {
    display: table;
    margin: 0 auto;
  }
}

.modal {
  .modal-dialog {
    .btn-primary,
    .btn-default {
      width: 90px;
    }
  }

  .modal-body {
    padding: 40px 30px;
  }
}
