@import '../../../../css/common';

.dashboard-profile {
  text-align: left;

  h4 {
    border-bottom: $border-color 1px solid;
    padding-bottom: 15px;

    span {
      margin-right: 15px;
    }
  }

  p {
    padding: 0 15px;
  }

  .btn-modal {
    background: transparent;
    padding: 0;
  }

  .profile {
    padding: 30px 0 0;
    text-align: center;

    .avtar {
      background-color: $white;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      //padding-bottom: 42%;
      height: 120px;
      margin: 0 auto;
      width: 120px;

    }

    h5 {
      color: $text-color;
      margin: 0 auto 15px;
    }

    a {
      color: $text-color;
    }

    [type='file'] {
      display: none;
    }

    .custom-file-upload {

      border: 1px solid $text-color;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      padding: 6px 12px;
    }
  }

  form {
    margin-bottom: 50px;
  }

  .profile-form {
    label {
      width: 100%;
    }

    label > span {
      cursor: pointer;
      float: right;
    }

    label > img {
      height: 20px;
      width: 20px;
    }
  }

  //modal
  .modal {
    &::before {
      content: '';
      display: inline-block;
      height: 100%;
      margin-right: -4px;
      vertical-align: middle;
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      width: 90%;

      h5 {
        width: 80%;
      }
    }
  }

  .in {
    .modal-dialog {
      transform: translate(0, -25%);
    }
  }

  .fb-email-input {
    pointer-events: none;
  }

  .hide-list {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-profile {
    padding-left: 0;
    padding-right: 0;

    h4 {
      margin-top: 15px;
    }

    form {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .profile {
      padding: 15px 0 0;
    }
  }
}

