<section class="dashboard-profile col-sm-10 col-sm-offset-1">
  <div>

    <!--<tpl-loader *ngSwitchCase="true"></tpl-loader>-->
    <app-loader></app-loader>
    <div class="col-sm-12">
      <h4><span class="glyphicon glyphicon-user"></span>Personal information</h4>
    </div>

    <div class="col-sm-3 profile">
      <h5>{{model.first_name}}</h5>

      <div class="avtar" [ngStyle]="{'background-image': 'url(' + image_path + ')'}">
        <!--<img src={{image_path}} alt="Profile Picture">-->
      </div>
      <br>

      <form [class.hide-list]="isSocialLogin">
        <label for="file-upload" class="custom-file-upload">
          Change Picture
        </label>
        <!--<input id="file-upload" type="file"/>-->
        <input id="file-upload" type="file" (change)="fileChangeEvent($event)" placeholder="Upload file"/>
      </form>
    </div>

    <div class="col-sm-7  col-sm-offset-2">
      <div class="clearfix">&nbsp;</div>

      <div class="alert alert-danger clearfix" [hidden]="isShowErrorMessage">
        <div class="col-sm-1 hidden-xs"><span class="glyphicon glyphicon-warning-sign"></span></div>
        <div class="col-sm-10 col-xs-11 error-msg"><b>{{ error_msg }}</b></div>
        <div class="col-sm-1 col-xs-1 close-msg">
          <button (click)="isShowErrorMessage = true" class="btn-close"><span
            class="glyphicon glyphicon-remove"></span></button>
        </div>
      </div>

      <form [formGroup]="userForm" (submit)="onSubmit()" class="profile-form">

        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <label><img src="{{FIRST_NAME_ICON}}"/> First Name </label>
          <control-messages [control]="userForm.controls.first_name"></control-messages>
          <input type="text" [(ngModel)]="model.first_name" formControlName="first_name" id="first_name "
                 placeholder="First Name" class="form-control"/>
        </div>


        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <label><img src="{{LAST_NAME_ICON}}"/> Last Name </label>
          <control-messages [control]="userForm.controls.last_name"></control-messages>
          <input type="text" [(ngModel)]="model.last_name" formControlName="last_name" id="last_name "
                 placeholder="Last Name" class="form-control"/>
        </div>


        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <label><img src="{{EMAIL_ICON}}"/> Email
            <span class="glyphicon glyphicon-pencil" [class.hide-list]="isSocialLogin"
                  (click)="showHideEmailModal()"></span>
          </label>
          <control-messages [control]="userForm.controls.email"></control-messages>
          <input [(ngModel)]="model.email" formControlName="email" id="email" placeholder="Email"
                 class="form-control clear" readonly/>

        </div>

        <div class="form-group" [class.hide-list]="isSocialLogin">
          <label><img src="{{MOBILE_ICON}}"/> Contact
            <span class="glyphicon glyphicon-pencil" (click)="showHideMobileModal()"></span>
          </label>
          <control-messages [control]="userForm.controls.mobile_number"></control-messages>
          <input type="number" [(ngModel)]="model.mobile_number" formControlName="mobile_number"
                 id="mobile_number "
                 placeholder="Mobile Number" class="form-control clear" readonly/>
        </div>
        <div class="clearfix">&nbsp;</div>
        <!--<button type="submit" class="btn btn-default">Edit Profile</button>-->
        <button type="submit" class="btn btn-default" [disabled]="!userForm.valid">Save Profile</button>
      </form>
    </div>

  </div>
</section>


<div class="modal modal-email" [style.display]="getStyleEmail()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="showHideEmailModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5><span class="glyphicon glyphicon-envelope"></span> Change your Email</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Enter your new account email address and we will send you a link to reset your email
                address.</p>
              <tpl-change-email></tpl-change-email>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-mobile" [style.display]="getStyleMobile()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="showHideMobileModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5><span class="glyphicon glyphicon-phone"></span> Change your Mobile</h5>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Enter your new mobile number and we will send you a verification code on mobile
                number you have entered.</p>
              <tpl-change-mobile></tpl-change-mobile>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
