@import '../../../../css/common';
@import '../../../../css/variables';

.dashboard-profile {
  text-align: left;
  margin-top: 100px;

  h4 {
    border-bottom: $border-color 1px solid;
    padding-bottom: 15px;
    margin-bottom: 15px;

    span {
      margin-right: 15px;
    }
  }

  p {
    padding: 0 15px;
  }

  .btn-modal {
    background: transparent;
    padding: 0;
  }

  form {
    margin-bottom: 50px;
  }

  .form-group {
    margin-bottom: 25px;
  }

  .profile-form {
    label {
      width: 100%;
    }

    label > span {
      cursor: pointer;
      float: right;
    }

    label > img {
      height: 20px;
      width: 20px;
    }
  }

  .in {
    .modal-dialog {
      transform: translate(0, -25%);
    }
  }

  .fb-email-input {
    pointer-events: none;
  }

  .hide-list {
    display: none;
  }

  .alert {
    margin: 15px 0;
  }
}

//modal
.modal {
  .modal-dialog {
    h5 {
      width: 80%;
      font-weight: bold;
    }
  }

  .modal-content {
    border: 0;
  }

  .modal-body {
    text-align: left;

    p {
      text-align: left;
    }
  }
}

.user-name {
  margin-top: 20px;
  text-align: center;

  .profile-name-first,
  .profile-name-last {
    color: $light-blue;
    font-family: 'gothamrnd-book';
    font-size: 14px;
    background: none;
    padding: 0;
    text-transform: capitalize;
  }
}

.description-container {
  .image-container {
    width: 130px !important;
    height: 130px !important;
  }
}

@media only screen and (max-width: 768px) {
  .dashboard-profile {
    padding-left: 0;
    padding-right: 0;

    h4 {
      margin-top: 15px;
    }

    form {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .profile {
      padding: 15px 0 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .dashboard-profile {
    margin-top: 70px;
  }
}
