<cn-candidate-dashboard-header [candidate]="candidate" ></cn-candidate-dashboard-header>

<section class="dashboard-profile col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
  <div>

    <!--<tpl-loader *ngSwitchCase="true"></tpl-loader>-->
    <app-loader></app-loader>
    <div class="col-sm-7 col-sm-offset-4">
      <h4><span class="glyphicon glyphicon-user"></span>Personal information</h4>
    </div>

    <div class="col-sm-4 my-info">
      <div class="description-container">
        <div class="image-container">
          <cn-profile-picture (onPictureUpload)="onPictureUpload($event)"></cn-profile-picture>
        </div>
        <div class="user-name">
          <span class="profile-name-first">{{candidate.basicInformation.first_name}}&nbsp;</span><span
                class="profile-name-last">{{candidate.basicInformation.last_name}}</span>
        </div>
      </div>
    </div>

    <div class="col-sm-7">
      <div class="alert alert-danger clearfix" [hidden]="isShowErrorMessage">
        <div class="col-sm-1 hidden-xs"><span class="glyphicon glyphicon-warning-sign"></span></div>
        <div class="col-sm-10 col-xs-11 error-msg"><b>{{ error_msg }}</b></div>
        <div class="col-sm-1 col-xs-1 close-msg">
          <button (click)="isShowErrorMessage = true" class="btn-close"><span
            class="glyphicon glyphicon-remove"></span></button>
        </div>
      </div>

      <form [formGroup]="userForm" (submit)="onSubmit()" class="profile-form">

        <div *ngIf="role==='candidate'" class="form-group" [class.fb-email-input]="isSocialLogin">
          <label><img src="{{FIRST_NAME_ICON}}"/> First Name </label>
          <input type="text" [(ngModel)]="model.first_name" formControlName="first_name" id="first_name "
                 class="form-control"/>
          <control-messages [control]="userForm.controls.first_name"></control-messages>
        </div>


        <div *ngIf="role==='candidate'" class="form-group" [class.fb-email-input]="isSocialLogin">
          <label><img src="{{LAST_NAME_ICON}}"/> Last Name </label>
          <input type="text" [(ngModel)]="model.last_name" formControlName="last_name" id="last_name "
                 class="form-control"/>
          <control-messages [control]="userForm.controls.last_name"></control-messages>
        </div>


        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <label><img src="{{EMAIL_ICON}}"/> Email
            <span class="glyphicon glyphicon-pencil" [class.hide-list]="isSocialLogin"
                  (click)="showHideEmailModal()"></span>
          </label>
          <input [(ngModel)]="model.email" formControlName="email" id="email"
                 class="form-control clear" readonly/>
          <control-messages [control]="userForm.controls.email"></control-messages>

        </div>

        <div class="form-group" [class.hide-list]="isSocialLogin">
          <label><img src="{{MOBILE_ICON}}"/> Contact
            <span class="glyphicon glyphicon-pencil" (click)="showHideMobileModal()"></span>
          </label>
          <input type="number" [(ngModel)]="model.mobile_number" formControlName="mobile_number"
                 id="mobile_number" class="form-control clear" readonly/>
          <control-messages [control]="userForm.controls.mobile_number"></control-messages>
        </div>
        <div class="clearfix">&nbsp;</div>
        <!--<button type="submit" class="btn btn-default">Edit Profile</button>-->
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Save Profile</button>
      </form>
    </div>

  </div>
</section>


<div class="modal modal-email" [style.display]="getStyleEmail()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="showHideEmailModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5><span class="glyphicon glyphicon-envelope"></span> Change your Email</h5>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <p>{{emailRestMessage}}</p>
            <tpl-change-email></tpl-change-email>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-mobile" [style.display]="getStyleMobile()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="showHideMobileModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5><span class="glyphicon glyphicon-phone"></span> Change your Mobile</h5>
        </div>
        <div class="modal-body">
          <div class="col-sm-12">
            <p>{{mobileNumberRestMessage}}</p>
            <tpl-change-mobile></tpl-change-mobile>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
