<header class="page-header">
  <div class="container-fluid">
    <div class="cn-logo">
      <img src="assets/c-next/header/cnext-logo-white.png" alt="logo"/>
    </div>

    <ul class="action-list">
      <li>
        <img src="assets/c-next/icons/print-icon.png" alt="print"/><span class="hidden-xs">Print Job</span>
      </li>
      <li>
        <img src="assets/c-next/icons/pdf-icon.png" alt="pdf"/><span class="hidden-xs">Generate Pdf</span>
      </li>
    </ul>
    <ul class="logout-dropdown">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle drop-down" data-toggle="dropdown" >
          <img src="assets/framework/images/dashboard/3dots.png">
        </a>
        <ul class="dropdown-menu">
          <li>
            <a (click)="logOut()"><b>Logout</b></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button class="btn btn-danger btn-logout" (click)="logOut()">Logout</button>
</header>



<section class="container one-page-summary">
  <div class="col-sm-3 left-content">
    <div>
      <cn-recruiter-job-information [recruiter]="recruiter"></cn-recruiter-job-information>
    </div>
   <div >
      <h4>About Company</h4>
      <cn-additional-details [data]="recruiter.about_company"></cn-additional-details>
    </div>
    <!--  &lt;!&ndash; <div>
       <cn-contact-details [recruiter]="recruiter"></cn-contact-details>
     </div>&ndash;&gt;-->
  </div>

  <div class="col-sm-9 right-content" *ngFor="let postedJob of recruiter.postedJobs">
    <div class="col-sm-12">
      <cn-tabular-list-view [roles]="postedJob.industry.roles"></cn-tabular-list-view>
    </div>
    <div class="col-sm-12 no-padding">
      <div class="col-sm-6" *ngIf="secondaryCapabilities.length>0">
        <h4 >Supplimentry Capabilities</h4>
        <cn-horizontal-list-view [data]="secondaryCapabilities"></cn-horizontal-list-view>
      </div>
      <div class="col-sm-6">
        <h4>Proficiency In</h4>
        <cn-horizontal-list-view [data]="postedJob.proficiencies"></cn-horizontal-list-view>
      </div>
    </div>
    <div class="col-sm-12 no-padding">
      <div class="col-sm-6">
        <h4>Competencies</h4>
        <cn-additional-details [data]="postedJob.competencies"></cn-additional-details>
      </div>
      <div class="col-sm-6">
        <h4>Responsibility</h4>
        <cn-additional-details [data]="postedJob.responsibility"></cn-additional-details>
      </div>
    </div>
  </div>
</section>


