<div class="dashboard-view clearfix">
  <header class="col-sm-12">
    <ul>
      <li>
        <!--<div class="match-cases">
          <label class="radio-inline">
            <input type="radio" name="radiogroup" value="{{match.aboveMatch}}" (click)="matching($event.target.value)">AboveMatch
          </label>
          <label class="radio-inline">
            <input type="radio" name="radiogroup" value="{{match.belowMatch}}" (click)="matching($event.target.value)">BelowMatch
          </label>
        </div>-->
      </li>
      <li>
        <a (click)="clearFilter()">Clear all filters</a>
      </li>
      <li>
        <p>{{matches}} Matche(s) Found</p>
      </li>
    </ul>
    <div class="sort-by">
      <label>Sort by</label>
      <select id="menu" [(ngModel)]="qCardModel.sortValue">
        <option value="{{itemList}}" *ngFor="let itemList of qCardModel.listOfMatchings">{{itemList}}</option>
      </select>
    </div>
    <div class="search">
      <input class="form-control" type="text" />
      <button class="btn btn-search" type="button">Search</button>
    </div>
  </header>

  <div class="card-view clearfix">
    <div class="col-sm-4"
         *ngFor="let item of candidates | dashboardfilter:candidateFilter | orderby:qCardModel.sortValue">
      <div class="panel clearfix">
        <ul>
          <!--<li><span class="glyphicon glyphicon-heart-empty" [hidden]="!showButton.isShowRejectButton" (click)="rejectCandidate(item)"></span></li>-->
          <!--<li><button [hidden]="!showButton.isShowRejectButton"  type="button" (click)="rejectCandidate(item)">Reject</button></li>-->
          <li>
            <div [hidden]="!showButton.isShowViewProfileButton">
              <span class="glyphicon glyphicon-eye-open" data-toggle="modal" [attr.data-target]="'#'+listName"
                    (click)="viewProfile(item,false)"></span>
            </div>
          </li>
          <li>
            <div [hidden]="!showButton.isShowRemoveButton">
              <span class="glyphicon glyphicon-remove" [hidden]="!showButton.isShowRemoveButton"
                    (click)="Cancel(item)"></span>
            </div>
          </li>
        </ul>
        <img class="profile-picture" src="{{item.picture}}" alt="picture" *ngIf="item.picture!=undefined"/>
        <img class="profile-picture" src="{{image_path}}" alt="picture" *ngIf="item.picture==undefined"/>
        <h6>{{item.first_name}} {{item.last_name}}</h6>
        <div class="left-side personal-info">
          <p><span class="glyphicon glyphicon-phone"></span> {{item.mobile_number}}</p>
          <p><span class="glyphicon glyphicon-envelope"></span> {{item.email}}</p>
          <p><span class="glyphicon glyphicon-stats"></span>Skills {{item.matching}}% match</p>
        </div>
        <div class="button-group">
          <button class="btn btn-cart btn-primary" [hidden]="!showButton.isShowViewFullProfileButton" type="button"
                  (click)="viewProfile(item,true)" data-toggle="modal" [attr.data-target]="'#'+listName">View Full
            Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal" id={{listName}} role="dialog">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <h4 class="modal-title">Profile</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="col-sm-12">
              <div *ngIf="!isFullProfileView">
                <h5>{{selectedPerson.first_name}}{{selectedPerson.last_name}}</h5>
                <h5>Contact:{{selectedPerson.mobile_number}}</h5>
                <h5>Email:{{selectedPerson.email}}</h5>
                <h5>Status{{selectedPerson.status}}</h5>
                <h5>Skills:{{selectedPerson.matching}}</h5>
                <cn-tabular-list-view [roles]="selectedCandidate.industry.roles"></cn-tabular-list-view>
              </div>
              <div *ngIf="isFullProfileView">
                <cn-candidate-view [candidateId]="selectedCandidate._id"></cn-candidate-view>
                <button [hidden]="isFullProfileView" type="button" (click)="rejectCandidate(selectedCandidate)">Reject
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

