$border-color: #e8e8e8;
$orange: #e77e22;
$theme-color: #3694d1;
$white: #fff;

.card-view {
  clear: both;
  text-align: left;

  .panel {
    padding: 15px 0 0 0;
    position: relative;
    min-height: 250px;

    p {
      border-bottom: 1px solid $border-color;
      font-size: 12px;
      margin: 0;
      padding: 5px 5px 5px 30px;
      position: relative;

      .glyphicon {
        left: 0;
        position: absolute;
        top: 7px;
        color: $orange;
      }

      &:first-child {
        margin-top: 7px;
      }

      &:last-child {
        border-bottom: 0 solid $border-color;
      }
    }

    .glyphicon-heart-empty {
      color: #999;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 5;
    }

    .shortlisted {
      color: $orange;
    }

    .glyphicon-eye-close {
      position: absolute;
      top: 15px;
      right: 40px;
      color: #999;
      z-index: 5;
    }

    .glyphicon-eye-open {
      position: absolute;
      top: 15px;
      right: 40px;
      color: $orange;
      z-index: 5;
    }

    .right-side {
      text-align: center;
    }

    .profile-picture {
      width: 80px;
      height: 80px;
      margin: 0 auto 10px;
    }

    .username {
      color: $orange;
      text-transform: capitalize;
      font-weight: 900;
    }

    .btn-cart {
      border-radius: 0;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: $theme-color;
      border: 1px solid $theme-color;
      color: $white;
      box-shadow: none;

      &:hover,
      &:focus,
      &:active {
        background-color: $theme-color;
        border: 1px solid $theme-color;
        color: $white;
        box-shadow: none;
      }
    }
  }

  .canvas-container {
    float: none;
    height: 110px;
    position: relative;
    transform: rotateY(180deg);
    width: 110px;
    margin: 0 auto;

    .percentage {
      color: $orange;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .card-view {
    .col-sm-4 {
      width: 50%;
    }
  }
}
@media only screen and (max-width: 980px) {
  .card-view {
    .left-side {
      float:right;
      width: 100%;
    }

    .right-side {
      float:left;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .card-view {
    .col-sm-4 {
      width: 100%;
    }
  }
}


