<div class="dashboard-view clearfix">
  <button type="button" (click)="clearFilter()"> clear filter</button>
  <div class="card-view clearfix">
    <div class="col-sm-6" *ngFor="let item of candidates | dashboardfilter:candidateFilter">
      <div class="panel clearfix">
        <div class="col-sm-12">
          <div class="col-sm-5 col-xs-6 no-padding right-side">
            <img class="profile-picture" src="{{item.picture}}" alt="picture" *ngIf="item.picture!=undefined"/>
            <img class="profile-picture" src="{{image_path}}" alt="picture" *ngIf="item.picture==undefined"/>
          </div>
          <div class="col-sm-7 col-xs-6 no-padding left-side">
            <p><span class="glyphicon glyphicon-user"></span> {{item.first_name}}{{item.last_name}}</p>
            <p><span class="glyphicon glyphicon-phone"></span> {{item.mobile_number}}</p>
            <p><span class="glyphicon glyphicon-envelope"></span> {{item.email}}</p>
            <p class="percentage"><span class="glyphicon glyphicon-stats"></span>Skills {{item.matching}}% <span>match</span></p>
          </div>
        </div>
        <button  class="btn btn-cart btn-block" type="button" data-toggle="modal" data-target="#myModal" (click)="onClick(item)">View Profile</button>
        <button   type="button" (click)="Cancel(item)">Cancel</button>
        <button   type="button" (click)="rejectCandidate(item)">Reject</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Profile</h4>
      </div>
      <div class="modal-body">
        <!--<pre>{{ selectedPerson | json }}  </pre>-->
        <h5>{{selectedPerson.first_name}}{{selectedPerson.last_name}}</h5>
        <h5>Contact:{{selectedPerson.mobile_number}}</h5>
        <h5>Email:{{selectedPerson.email}}</h5>
        <h5>Status{{selectedPerson.status}}</h5>
        <h5>Skills:{{selectedPerson.matching}}</h5>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

