@import '../../../../../css/common';

.wrapper {

  .content {

    h4 {
      color: $white;
      font-size: 22px;
      margin-top: 0;
    }
  }

  .error-message {
    p {
      color: $bg-disabled;
      font-size: 14px;
      text-align: left;
    }
  }
}

