@import '../../../../css/variables';

.error-messages {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.compact-view {
  padding-bottom: 10px !important;

  .heading-compact {
    padding-left: 25px;
  }

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.hide {
  display: none;
}

.full-width {
  margin-top: 20px;
}

.panel {
  margin-top: 35px !important;
}

