$border-color: #ccc;

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.compact-view {
  .btn-edit {
    top: 20px;
    left: 170px;
  }
}

.hide {
  display: none;
}

.full-width {
  margin-top: 20px;
}

