<div class="modal-bg" *ngIf="highlightedSection.name=='EmploymentHistory'"></div>
<div class="section-container clear" *ngIf="highlightedSection.name =='EmploymentHistory'">
  <div class="main-content edit-modal-content clearfix" >

    <h4 class="heading">{{employemntHistoryHeader}} {{OPTIONAL}}</h4>

    <div class="scrollable-content" #EmloymentHostoryParent>
      <form class="description-form" [formGroup]="employeeHistory" novalidate>
        <div class="row">
          <div class="col-md-8 col-sm-10 no-padding" formArrayName="employeeHistories" #EmloymentHostoryInner>
            <div *ngFor="let history of employeeHistory.controls.employeeHistories.controls; let i=index"
                 class="panel panel-default">
              <div>
              <span class="glyphicon glyphicon-trash pull-right"
                    *ngIf="employeeHistory.controls.employeeHistories.controls.length>0 && employeeHistory.controls.employeeHistories.controls.length !==1 "
                    (click)="removeEmployeeHistory(i)"></span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <cn-employee-history [group]="employeeHistory.controls.employeeHistories.controls[i]"
                                     [submitStatus]="submitStatus"></cn-employee-history>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="button-group clearfix">
      <div class="error-messages edit-error-msg" *ngIf="!isValidservicePeriod">
        <span class="glyphicon glyphicon-warning-sign"></span>
        {{serviceValidMessage}}
      </div>
      <!--<div class="saving-loader">Saving...</div>-->
      <button type="submit" class="btn btn-primary"
              (click)="postData('next')" *ngIf="!candidate.isSubmitted"
      >Next
      </button>
      <button type="submit" class="btn btn-primary" (click)="postData('save')"
              *ngIf="candidate.isSubmitted">Done
      </button>
      <button (click)="addEmployeeHistory('addAnother')" class="btn btn-add-another" [disabled]="!employeeHistory.valid">
        Add another
      </button>
    </div>
    <button class="btn-prev" (click)="onPrevious()"><span
      class="glyphicon glyphicon-chevron-left"></span></button>

    <cn-tool-tip [message]="tooltipMessage"></cn-tool-tip>
  </div>
</div>

<div class="section-container"
     [ngClass]="(highlightedSection.name=='EmploymentHistory')?'full-width':'half-width'">
  <div class="main-content" *ngIf="highlightedSection.name !='EmploymentHistory'">
    <div class="compact-view clearfix" (click)="onEdit()">
      <div *ngIf="employeeHistory.controls.employeeHistories.controls.length==0">
        <h4 class="heading-compact icons-section">
          <span class="icons icon-employment-history"></span>
          {{employemntHistoryHeader}} <span class="optional-field">{{OPTIONAL}}</span>
          <button class="btn-edit"
                  (click)="onEdit()"
                  title="Edit Employment History"></button>
        </h4>
      </div>
      <div class="" *ngIf="employeeHistory.controls.employeeHistories.controls.length>0">
        <h4 class="heading-compact icons-section">
          <span class="icons icon-employment-history"></span>
          Employment History <span class="optional-field">(Optional)</span>
          <button class="btn-edit"
                  (click)="onEdit()"
                  title="Edit Employment History"></button>
        </h4>
        <ul class="clearfix">
          <div *ngFor="let item of candidate.employmentHistory;let i = index">
            <div *ngIf="i == 0">
              <li>
                <p>{{item.designation}} at {{item.companyName}} </p>
                <p *ngIf="!item.isPresentlyWorking">From {{item.from.month}} {{item.from.year}} to {{item.to.month}}
                  {{item.to.year}}</p>
                <p *ngIf="item.isPresentlyWorking">From {{item.from.month}} {{item.from.year}} |
                  {{getMessages().MSG_PRESENTLY_WORKING}}</p>
              </li>
            </div>
          </div>
        </ul>
        <p class="more-elements" *ngIf="candidate.employmentHistory.length > 1">{{candidate.employmentHistory.length-1}} more</p>
      </div>
    </div>
  </div>
</div>

