<div class="form col-sm-12 no-padding" *ngFor="let item of tempfield;let i= index">

  <div class="left-content">
    <div class="col-sm-6 no-padding">
      <div class="form-group">
        <input type="text" class="form-control" [ngModel]="company" (ngModelChange)="comPanyName($event)"   required />
        <label>Company Name</label>
      </div>
    </div>

    <div class="col-sm-6 no-padding">
      <div class="form-group">
        <input type="text" class="form-control" name="designation" [ngModel]="design" (ngModelChange)="deSignation($event)" required />
        <label>Designation</label>
      </div>
    </div>

    <div class="worked-from col-sm-12 no-padding">
      <label>worked from</label>
      <div class="col-sm-6 no-padding">
        <div id="monthf" ng2-auto-complete
             [source]="monthList"
             (ngModelChange)="selectedworkfromMonthModel($event)">
          <input class="form-control" [ngModel]="fromMonthModel" [disabled]="disbleRole"  placeholder="MONTH" />
        </div>
      </div>
      <div class="col-sm-6 no-padding">
        <div id="yearf" ng2-auto-complete
             [source]="yearList"
             (ngModelChange)="selectedworkfromYearModel($event)">

          <input class="form-control" [ngModel]="fromYearModel" [disabled]="disbleRole"  placeholder="YYYY" />
        </div>
      </div>
    </div>

    <div class="worked-to col-sm-12 no-padding">
      <label>worked To</label>
      <div class="col-sm-6 no-padding" id="montht" ng2-auto-complete
            [source]="monthList"
            (ngModelChange)="selectedworktoMonthModel($event)">

        <input class="form-control" [ngModel]="toMonthModel" [disabled]="disbleRole"  placeholder="MONTH" />
      </div>
      <div class="col-sm-6 no-padding" id="yeart" ng2-auto-complete
            [source]="yearList"
            (ngModelChange)="selectedworktoYearModel($event)">

        <input class="form-control" [ngModel]="toYearModel" [disabled]="disbleRole"  placeholder="YYYY" />
        <div class="error-messages" *ngIf="isShowYearMessage"><p>Year can not be same or lesser please fill again.</p></div>

      </div>
    </div>
  </div>

  <div class="right-content">
      <div>
        <textarea class="form-control" [ngModel]="remark" (ngModelChange)="reMark($event)" Placeholder="Remark"></textarea>
      </div>
  </div>
</div>


<div class="clear">
  <button type="button" id="more_fields" (click)="addAnother()" class="btn btn-create-profile"  >
    Add Another <span>+</span>
  </button>
  <div class="error-messages" *ngIf="disbleButton"><p>Fields should not be empty.</p></div>
</div>



