<div class="section-container" [hidden]="chkEmployeeHistory">
  <div class="main-content modal-content clearfix" *ngIf="highlightedSection.name =='EmploymentHistory'">
    <h4 class="heading">Employment History
      <span class="close-dialog" [hidden]="isHiddenEmployeehistory">Close this section if not needed
        <span class="glyphicon glyphicon-remove" (click)="hideEmployeeHistory()"></span>
      </span>
    </h4>
    <div class="form col-sm-12 clearfix" *ngFor="let item of candidate.employmentHistory;let i= index">

      <div class="left-content">
        <div class="col-sm-6 padding-right15">
          <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="item.companyName" (change)="postEmploymentHistoy()"   required />
            <label>Company Name</label>
          </div>
        </div>

        <div class="col-sm-6 padding-left15">
          <div class="form-group">
            <input type="text" class="form-control" name="designation" [(ngModel)]="item.designation" (change)="postEmploymentHistoy()" required />
            <label>Designation</label>
          </div>
        </div>

        <div class="worked-from col-sm-12 no-padding">
          <label>From Date</label>
          <div class="col-sm-6 padding-right15">
            <select class="form-control" [(ngModel)]="item.from.month" (change)="postEmploymentHistoy()">
              <option *ngFor="let c of monthList" [selected]="true" [ngValue]="c">{{c}}</option>
            </select>
          </div>
          <div class="col-sm-6 padding-left15">
            <select class="form-control" [(ngModel)]="item.from.year" (change)="postEmploymentHistoy()">
              <option *ngFor="let c of yearList" [selected]="true" [ngValue]="c">{{c}}</option>
            </select>
          </div>
        </div>

        <div class="worked-to col-sm-12 no-padding">
          <label>To Date</label>
          <div class="col-sm-6 padding-right15">
            <select class="form-control" [(ngModel)]="item.to.month" (change)="postEmploymentHistoy()">
              <option *ngFor="let c of monthList" [selected]="true" [ngValue]="c">{{c}}</option>
            </select>
          </div>
          <div class="col-sm-6 padding-left15">
            <select class="form-control" [(ngModel)]="item.to.year" (change)="postEmploymentHistoy()">
              <option *ngFor="let c of yearList" [selected]="true" [ngValue]="c">{{c}}</option>
            </select>


          </div>
        </div>
      </div>

      <div class="right-content">
        <div>
          <textarea class="form-control" [(ngModel)]="item.remarks" (change)="postEmploymentHistoy()" Placeholder="Remark"></textarea>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="clear">
        <div class="error-messages" *ngIf="isShowDateErrorMessage"><p>Please fill valid month/year.</p></div>
        <button type="button" id="more_fields" (click)="addAnother()" class="btn btn-create-profile"  >
          Add Another <span>+</span>
        </button>
        <div class="error-messages" *ngIf="isShowError"><p>Fields should not be empty Or Dates are not valid</p></div>
      </div>
      <div class="button-group clearfix">
        <button class="btn btn-primary" scrollTo scrollTargetSelector="#academic-details"
                (click)="onNext()" [disabled]="disableButton">Next
        </button>
      </div>
    </div>
  </div>
  <div class="main-content" *ngIf="highlightedSection.name !='EmploymentHistory'">
    <div class="compact-view clearfix">
      <button class="btn-edit" (click)="highlightedSection.name='EmploymentHistory'"></button>
      <h4 class="heading">Employment History</h4>
      <ul>
        <li *ngFor="let item of candidate.employmentHistory">
          <p>{{item.designation}} at {{item.companyName}} </p>
          <p>From {{item.from.month}} {{item.from.year}} to {{item.to.month}} {{item.to.year}}</p>
        </li>
      </ul>
    </div>
  </div>

</div>









