<header class="page-header" id="candidate-header" style="margin-top: 50px;background: #9ca4ab">
    <div class="container-fluid" style="background: #9ca4ab">
      <ul>
        <li>
          <a type="button" class="btn btn_dashboard" [routerLinkActive]="['active']" [routerLink]="['/project/cost-summary', projectId]" cost-summary>Cost Summary</a>
        </li>
        <li>
          <a type="button" class="btn btn_dashboard" [routerLinkActive]="['active']" [routerLink]='["/project/material-takeoff",projectId]'>Material Takeoff</a>
        </li>
        <li>
            <a type="button" class="btn btn_dashboard" [routerLinkActive]="['active']" [routerLink]="['/building/list', projectId]">Building Master</a>
        </li>
        <li>
          <a type="button" class="btn btn_dashboard" [routerLinkActive]="['active']"  [routerLink]="['/project/details', projectId]" >Project Master</a>
        </li>
      </ul>
    </div>
</header>
