.active{
  text-decoration:underline yellow;
  color: white;
}

.btn_dashboard {
  border:none;
  background:none;
  outline: none;
  color: white;
}

.btn_dashboard:hover {
  border:none;
  background:none;
  outline: none;
  color: white;
}


