<header  class="header-container">
  <div class="container">
    <div class="col-sm-12">
      <ul>
        <li>
          <a type="button" [routerLinkActive]="['active']" [routerLink]="['/project/cost-summary', getCurrentProjectId()]" cost-summary>Cost Summary</a>
        </li>
        <li>
          <a type="button"  [routerLinkActive]="['active']" [routerLink]='["/project/material-takeoff",getCurrentProjectId()]'>Material Takeoff</a>
        </li>
        <li>
          <a type="button"  [routerLinkActive]="['active']"  [routerLink]="['/project/details', getCurrentProjectId()]" >Project Details</a>
        </li>
      </ul>
    </div>
  </div>
</header>
<bi-project-list-header></bi-project-list-header>

