<header class="page-header" id="candidate-header" style="margin-top: 50px">
    <div class="container-fluid">
      <ul>
        <li>
          <button type="button" class="btn btn-primary">Cost Summary</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary">Material Takeoff</button>
        </li>
        <li>
            <button type="button" class="btn btn-primary" (click)="navigateToWithId('/building/list')">Building Master</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary" (click)="navigateToWithId('/project/details')">Project Master</button>
        </li>
        <li>
          <button type="button" class="btn btn-primary">Rates</button>
        </li>
      </ul>
    </div>
</header>
