.default-upload-img {
  border: 1px solid #ccc;
  display: table-cell;
  height: 150px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
  width: 150px;
  img.upload-img {
    width: 100%;
  }
}

.file {
  position: absolute;
  overflow: hidden;
  right: 28px;
  bottom: 8px;
}
.file input {
  position: absolute;
  opacity: 0;
  right: 0;
  width: 34px;
  height: 35px;
  bottom: 0;
}
