<div>
  <div>
    <img  *ngIf="image_path && !isLoading" src={{image_path}} alt="Profile Picture">
    <div class="default-upload-img">
      <img  *ngIf="!image_path && !isLoading" src="assets/build-info/create-new-project/create-new-project.png" alt="Profile Picture">
    </div>
    <img *ngIf="isLoading" src="assets/build-info/loader/loader.gif" alt="Loader" >

    <div class="file">
      <img src="assets/build-info/dashboard/camera.png" width="35" />
      <input  id="file-upload" type="file" (change)="uploadProjectImage($event)" placeholder="Upload Image">
    </div>
    <button  *ngIf="image_path && !isLoading" type="button" (click)="removeProjectImage()" placeholder="Remove Image">Remove</button>
  </div>
    <!--<input  id="file-upload" type="file" (change)="uploadProjectImage($event)" placeholder="Upload Image">
  <button  *ngIf="image_path && !isLoading" type="button" (click)="removeProjectImage()" placeholder="Remove Image">Remove</button>-->
</div>
