<div class="modal-bg" *ngIf="highlightedSection.name=='AcademicDetails'"></div>
<div class="section-container clear"  *ngIf="highlightedSection.name =='AcademicDetails'">
  <div class="main-content modal-content clearfix">
    <h4 class="heading">Academic Details</h4>
    <form class="description-form" [formGroup]="academicDetail" novalidate>
      <div formArrayName="academicDetails">
        <div *ngFor="let history of academicDetail.controls.academicDetails.controls; let i=index"
             class="panel panel-default">
          <div>
          <span class="glyphicon glyphicon-trash pull-right"
                *ngIf="academicDetail.controls.academicDetails.controls.length>0 && academicDetail.controls.academicDetails.controls.length !==1 "
                (click)="removeAcademicDetail(i)"></span>
          </div>
          <div class="panel-body" [formGroupName]="i">
            <cn-academics [group]="academicDetail.controls.academicDetails.controls[i]"></cn-academics>
          </div>
        </div>
      </div>

      <div class="margin-20">
        <button (click)="addAcademicDetail()" class="btn btn-create-profile" [disabled]="!academicDetail.valid">
          Add another
        </button>
      </div>
      <div class="button-group clearfix">
        <button class="btn btn-default" (click)="highlightedSection.name='none';highlightedSection.isDisable=false">
          Cancel
        </button>
        <button type="submit" class="btn btn-success" scrollTo scrollTargetSelector="#certification"
                (click)="postData('next')" [disabled]="!academicDetail.valid" [hidden]="!showButton">Next
        </button>
        <button type="submit" class="btn btn-success" (click)="postData('save')" [disabled]="!academicDetail.valid"
                [hidden]="showButton">Save
        </button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>


<div class="section-container"
     [ngClass]="(highlightedSection.name=='AcademicDetails')?'full-width':'quarter-width'"
     *ngIf="highlightedSection.name !='AcademicDetails'">
  <div class="main-content">
    <div class="compact-view clearfix">
      <div *ngIf="academicDetail.controls.academicDetails.controls.length==0">

        <h4 class="heading-compact"
            (click)="highlightedSection.name='AcademicDetails';addAcademicDetail();highlightedSection.isDisable=true;showButton=false">
          <img src="assets/c-next/icons/education-icon.png" alt="employment"/>
          Academic Details
          <span class="glyphicon glyphicon-plus" title="Add Academic Details"></span>
        </h4>
      </div>

      <div class="vertical-container" *ngIf="academicDetail.controls.academicDetails.controls.length>0">
        <button class="btn-edit"
                (click)="highlightedSection.name='AcademicDetails';highlightedSection.isDisable=true;showButton=false"
                [hidden]="highlightedSection.isDisable" tooltip="Edit Academic Details"></button>
        <cn-vertical-list-view [data]="candidate.academics" [type]="'academic details'" [calledFrom]="'candidateview'"></cn-vertical-list-view>
      </div>
    </div>
  </div>
</div>

