<div class="section-container">
  <div class="main-content modal-content clearfix" *ngIf="highlightedSection.name =='AcademicDetails'">
    <h4 class="heading">Academic Details</h4>
    <form [formGroup]="academicDetail" novalidate >
      <div formArrayName="acdemicDetails">
        <div *ngFor="let history of academicDetail.controls.acdemicDetails.controls; let i=index"
             class="panel panel-default">
          <div>
          <span class="glyphicon glyphicon-trash pull-right"
                *ngIf="academicDetail.controls.acdemicDetails.controls.length>0 && academicDetail.controls.acdemicDetails.controls.length !==1 "
                (click)="removeAcdemicDetail(i)"></span>
          </div>
          <div class="panel-body" [formGroupName]="i">
            <cn-academics [group]="academicDetail.controls.acdemicDetails.controls[i]"></cn-academics>
          </div>
        </div>
      </div>

      <div class="margin-20">
        <button (click)="addAcdemicDetail()" class="btn btn-create-profile" [disabled]="!academicDetail.valid">
          Add another
        </button>
      </div>
      <div class="button-group clearfix">
        <button class="btn btn-default"  (click)="highlightedSection.name='none';highlightedSection.isDisable=false" [hidden]="showButton">Cancel</button>
        <button type="submit" class="btn btn-primary" scrollTo scrollTargetSelector="#certification"
                (click)="postData('next')" [disabled]="!academicDetail.valid"  [hidden]="!showButton">Next
        </button>
        <button type="submit" class="btn btn-primary" (click)="postData('save')" [disabled]="!academicDetail.valid"
                [hidden]="showButton">Save
        </button>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>


<div class="section-container"  [ngClass]="(highlightedSection.name=='EmploymentHistory' || highlightedSection.name=='Awards' || highlightedSection.name=='Certification')?'full-width':'quarter-width'" *ngIf="highlightedSection.name !='AcademicDetails'">
  <div class="main-content">
    <div class="compact-view clearfix">
      <button class="btn-edit" (click)="highlightedSection.name='AcademicDetails';highlightedSection.isDisable=true;showButton=false" [hidden]="highlightedSection.isDisable"></button>
      <div *ngIf="candidate.academics.length>0">
        <cn-vertical-list-view [data]="candidate.academics" [type]="'acedemic details'" ></cn-vertical-list-view>
      </div>
    </div>
  </div>
</div>

