<div class="academic-details clearfix" *ngFor="let item of tempfield;let i= index">
  <div class="col-sm-4 no-padding">
    <div class="form-group">
      <input type="text" class="form-control" [ngModel]="schoolName" (change)="selectedSchoolName($event.target.value)" (focus)="changeValue()" required />
      <label>School/College Name</label>
    </div>
  </div>

  <div class="col-sm-4 no-padding">
    <div class="form-group">
      <input class="form-control" type="text" [ngModel]="universityName" (change)="selectedeUniversityName($event.target.value)" required />
      <label>Board/University Name</label>
    </div>
  </div>

  <div class="col-sm-4 no-padding">
    <div class="form-group">
      <div id="yearf" ng2-auto-complete
           [source]="yearList"
           (ngModelChange)="selectedPassingYear($event)">
        <input class="form-control" type="text" [ngModel]="passingyear" required />
        <label>Year of Passing</label>
      </div>
    </div>
  </div>

  <div class="col-sm-10 no-padding">
    <textarea placeholder="Specialization/Remarks" [ngModel]="specialization" (change)="selectedSpecialization($event.target.value)" class="form-control"></textarea>
  </div>
</div>


<div class="clear">
  <button type="button" id="more_fields" (click)="addAnother()" class="btn btn-create-profile" [disabled]="disbleRole" >
    Add Another <span>+</span>
  </button>
  <div class="error-messages" *ngIf="disbleButton"><p>Fields should not be empty.</p></div>
</div>




