@import '../../../../css/variables';

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.compact-view {
  padding-bottom: 10px !important;

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }

  .heading-compact {
    padding-left: 25px;
  }
}

.full-width {
  margin-top: 20px;
}

