$border-color: #ccc;

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.compact-view {
  padding-bottom: 10px !important;

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.full-width {
  margin-top: 20px;
}

