<div class="basic-description" *ngIf="candidateDetails != undefined">
  <div class="basic-info clearfix">
    <img src="assets/framework/images/dashboard/profile.png" alt="User Profile"
         *ngIf="candidateDetails.picture==undefined"/>
    <img [src]="getImagePath(candidateDetails.picture)" alt="User Profile" *ngIf="candidateDetails.picture!=undefined"/>
    <p class="name">{{candidateDetails.first_name}} {{candidateDetails.last_name}}</p>
    <p>{{candidate.jobTitle}}</p>
  </div>

  <div class="details clearfix">
    <label>Mobile</label>
    <span>{{candidateDetails.mobile_number}}</span>
    <label>Email</label>
    <span>{{candidateDetails.email}}</span>
    <label>Specialization area</label>
    <span *ngFor="let role of candidate.industry.roles;let i = index">{{role.name}}
        <span *ngIf="candidate.industry.roles.length>1 &&  i!=candidate.industry.roles.length-1">,</span>
      </span>
    <label>Industry Exposure</label>
    <span *ngFor="let industry of candidate.interestedIndustries;let i = index">{{industry}}
        <span *ngIf="candidate.interestedIndustries.length>1 && i!=candidate.interestedIndustries.length-1">,</span>
      </span>
    <label>Experience</label>
    <span>{{candidate.professionalDetails.experience}}</span>
    <label>Current Location</label>
    <span>{{candidateDetails.location.city}}</span><!--<span>{{candidateDetails.location.city}}</span>-->
    <label>Salary Band</label>
    <span>{{candidate.professionalDetails.currentSalary}}</span>
    <label>Availability</label>
    <span>{{candidate.professionalDetails.relocate}}</span>
  </div>
</div>
