<button type="button" class="btn btn-block" data-toggle="collapse" data-target="#filter-container">Filters</button>
<div [hidden]="!isShowJobFilter">
  <div id="filter-container" class="collapse filter-container">
    <p class="info">Adjust these filters to get more numbers of candidates</p>
    <div class="inner col-sm-12">
      <label>Proficiency</label>
      <select  [(ngModel)]="candidateFilter.filterByValue" (change)="filterBy()">
        <option value="{{itemList}}" *ngFor="let itemList of proficiencyList">{{itemList}}</option>
      </select>
    </div>

     <!-- <label>Proficiency
        <div ng2-auto-complete
             [source]="proficiencyList"
             (ngModelChange)="selectRolesModel($event)">
          <input class="form-control" [ngModel]="roleModel" placeholder="Select"/>
        </div>
      </label>-->
    <div class="inner col-sm-12">
      <label>Current Location</label>
      <select  [(ngModel)]="candidateFilter.filterByValue" (change)="filterBy()">
        <option value="{{itemList}}" *ngFor="let itemList of locationList">{{itemList}}</option>
      </select>
    </div>

     <!-- <label>Current Location
        <div ng2-auto-complete
             [source]="locationList"
             (ngModelChange)="selectRolesModel($event)">
          <input class="form-control" [ngModel]="roleModel" placeholder="Select"/>
        </div>
      </label>-->
    <div class="inner col-sm-12">
      <label>Experience</label>
      <select  [(ngModel)]="candidateFilter.filterByValue" (change)="filterBy()">
        <option value="{{itemList}}" *ngFor="let itemList of experienceList">{{itemList}}</option>
      </select>
    </div>

      <!--<label>Experience
        <div ng2-auto-complete
             [source]="experienceList"
             (ngModelChange)="selectRolesModel($event)">
          <input class="form-control" [ngModel]="roleModel" placeholder="Select"/>
        </div>
      </label>-->

    <div class="inner col-sm-12">
      <label>Education</label>
      <select  [(ngModel)]="candidateFilter.filterByValue" (change)="filterBy()">
        <option value="{{itemList}}" *ngFor="let itemList of educationList">{{itemList}}</option>
      </select>
    </div>

      <!--<label>Education
        <div ng2-auto-complete
             [source]="educationList"
             (ngModelChange)="selectRolesModel($event)">
          <input class="form-control" [ngModel]="roleModel" placeholder="Select"/>
        </div>
      </label>-->

    <div class="inner col-sm-12">
      <label>Lead Time to Join</label>
      <select  [(ngModel)]="candidateFilter.filterByValue" (change)="filterBy()">
        <option value="{{itemList}}" *ngFor="let itemList of jointimeList">{{itemList}}</option>
      </select>
    </div>

     <!-- <label>Lead Time to Join
        <div ng2-auto-complete
             [source]="jointimeList"
             (ngModelChange)="selectRolesModel($event)">
          <input class="form-control" [ngModel]="roleModel" placeholder="Select"/>
        </div>
      </label>-->

      <!--<label>Salary Range</label>
      <div class="col-sm-6 padding-right5">
        <label>
          <div ng2-auto-complete
               [source]="salaryrangeListMin"
               (ngModelChange)="selectRolesModel($event)">
            <input class="form-control" [ngModel]="roleModel" placeholder="Min"/>
          </div>
        </label>
      </div>
      <div class="col-sm-6 padding-left5">
        <label>
          <div ng2-auto-complete
               [source]="salaryrangeListMax"
               (ngModelChange)="selectRolesModel($event)">
            <input class="form-control" [ngModel]="roleModel" placeholder="Max"/>
          </div>
        </label>
      </div>-->
    <div class="inner col-sm-12">
      <label>Industry Exposure</label>
      <select  [(ngModel)]="candidateFilter.filterByValue" (change)="filterBy()">
        <option value="{{itemList}}" *ngFor="let itemList of jointimeList">{{itemList}}</option>
      </select>
    </div>

     <!-- <label>Industry Exposure
        <div ng2-auto-complete
             [source]="industryList"
             (ngModelChange)="selectRolesModel($event)">
          <input class="form-control" [ngModel]="roleModel" placeholder="Select"/>
        </div>
      </label>-->
  </div>
</div>

