@import "../../../css/common";

.home-page {
  h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    text-align: left;
  }

  .navbar {
    background: none;
    border: none;
    margin: 0;

    .navbar-brand {
      display: inline-block;
      height: auto;
      margin: 60px 0;
      padding: 0;
      .logo-image {
        height: 67px;
        width: 105px;
      }
    }
    .navbar-right {
      float: right;
      padding: 0;
      min-height: 67px;
      margin: 60px 0;
    }
    .navbar-nav {
      li {
        a {
          color: $text-color;
          font-size: 14px;
          text-transform: uppercase;
          transition: all 0.3s ease;

          &:hover {
            color: $black;
            text-shadow: 0 0 0px $black;
          }
        }

        .login-link {
          color: $homepage-heading-subtext;
          font-size: 16px;
          font-weight: bold;

          &:hover {
            color: $homepage-bright-yellow;
          }
        }

        &.call-btn-item {
          .call-btn-wrapper {
            border-left: 1px solid $black;
            margin: 0 0 0 30px;
            padding: 0 0 0 30px;

            .call-btn {
              background: transparent url("../../../assets/build-info/home-page/call-icon.svg") right center no-repeat;
              display: block;
              height: 17px;
              opacity: 0.5;
              padding: 0;
              width: 17px;

              &:hover {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  .left-row {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 50px 0 0;
    width: 100%;
    ul {
      color: $homepage-heading;
      font-size: 24px;
      list-style: none;
      padding: 0;

      li {
        counter-increment: li;
        display: inline-block;
        font-size: 45px;
        font-weight: 700;
        padding-left: 15px;
        position: relative;

        &:before {
          color: $theme-color;
          content: "•";
          display: inline-block;
          font-size: 32px;
          margin-left: -20px;
          width: 20px;
        }

        &:first-child {
          padding-left: 0;

          &:before {
            display: none;
          }
        }
      }
    }
  }
  .request-btn {
    display: inline-block;
    width: 100%;
    button {
      background: transparent;
      border: 2px solid$homepage-bright-yellow;
      border-radius: 25px;
      color: $homepage-heading;
      font-size: 20px;
      float: left;
      height: 46px;
      margin: 20px 0;
      padding: 0;
      min-width: 330px;
      span.cricle {
        background: $homepage-bright-yellow;
        border-radius: 42px;
        float: left;
        height: 42px;
        line-height: 36px;
        width: 42px;
      }
      span.btn-label {
        float: left;
        padding: 7px 18px;
      }
    }
  }

  .start-trial-btn {
    button {
      background: $homepage-bright-yellow;
      border-radius: 25px;
      color: $homepage-heading;
      font-size: 14px;
      float: left;
      height: 42px;
      margin: 30px 0 5px;
      padding: 10px 40px;
      border: 0;
    }
    span {
      display: inline-block;
      font-size: 12px;
      text-align: left;
      width: 100%;
    }
  }

  .line {
    background: $homepage-bright-yellow;
    border-radius: 4px;
    height: 7px;
    display: table;
    margin: 0 auto;
    width: 200px;
  }

  .users-guide {
    .guide-blocks {
      & > div[class*="col-"] {
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    h3 {
      color: $homepage-heading;
      font-size: 80px;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 60px;
    }
    h4 {
      color: $homepage-heading;
      font-size: 35px;
      font-weight: 700;
      margin: 25px 0 15px;
      text-align: left;
    }
    .video-img {
      box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.17);
      height: 257px;
      width: 100%;
    }
    .thumbnail {
      border: 0;
      margin: 0 0 40px 0;
      padding: 0;

      .caption {
        padding: 0;
      }
    }
    p {
      color: $homepage-heading;
      font-size: 14px;
      line-height: 19px;
      text-align: left;
    }
  }
  .product-pricing {
    position: relative;
    z-index: 111;
    h3 {
      color: $homepage-heading;
      font-size: 80px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: left;
      span.line {
        margin: 0 0 20px 0;
      }
      .primary-part {
        display: block;
        line-height: 0.8;
        padding-left: 50px;
      }
      label {
        color: $homepage-heading-subtext;
        float: left;
        font-size: 40px;
        font-weight: 700;
        margin: 20px 0 30px 0;
        width: 100%;
      }
    }

    .description {
      color: $homepage-heading;
      font-size: 20px;
      line-height: 27px;
      padding: 0 0 0 50px;
      text-align: justify;
    }
    .line {
      margin: 0;
    }
  }
  .yellow-bg {
    margin-bottom: 100px;
    padding-bottom: 200px;
    position: relative;
    width: 100%;
    &::before {
      background: $homepage-bright-yellow;
      content: "";
      transform: skewY(-8deg) translateY(-50px);
      position: absolute;
      top: 470px;
      right: 0;
      left: 0;
      bottom: 45px;
    }
  }
  .yellow-bg-line {
    background: $homepage-bright-yellow;
    transform: skewY(-8deg) translateY(-50px);
    min-height: 5px;
    width: 100%;
  }
  .pricing-card {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.17);
    display: table;
    height: 506px;
    margin: 100px auto 90px;
    padding: 55px 37px 45px;
    width: 466px;
    .card-list {
      color: $homepage-heading;
      font-size: 20px;
      padding: 10px 0 10px 50px;

      label {
        font-weight: 400;
      }

      span {
        font-weight: 700;
      }
    }
    .price {
      color: $homepage-heading;
      font-size: 28px;
      font-weight: bold;
      margin: 30px 0;
    }
    .package-details {
      list-style: none;

      li {
        color: $homepage-heading;
        font-size: 14px;
        line-height: 1;
        margin: 0 0 10px 0;
      }
    }
    .buy-now-btn {
      display: inline-block;
      margin: 20px auto 0;

      .btn {
        color: $homepage-heading;
        font-size: 14px;
        font-weight: 700;
        height: 42px;
        padding: 0 15px;
        width: 100%;
      }
    }
  }
  .form-left {
    background-color: $homepage-bright-yellow;
    border-radius: 4px;
    box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.17);
    float: left;
    height: 498px;
    margin: 86px 42px 42px 115px;
    padding: 48px 37px;
    position: relative;
    width: 380px;
    z-index: 1;
    h4 {
      color: $homepage-heading;
      p {
        color: $homepage-heading;
        font-size: 24px;
        line-height: 59px;
        text-align: left;

        span {
          font-weight: bold;
          font-size: 34px;
        }
      }
    }
  }
  .form-right {
    background: #fff;
    box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    display: inline-block;
    float: left;
    margin-left: -130px;
    padding: 50px 80px;
    width: 700px;
    .form-group {
      margin-bottom: 65px;
      input {
        border: 0;
        border-bottom: 1px solid #979797;
        font-size: 16px;
        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: $homepage-heading;
          font-size: 16px;
        }
        &::-moz-placeholder {
          /* Firefox 19+ */
          color: $homepage-heading;
          font-size: 16px;
        }
        &:-ms-input-placeholder {
          /* IE 10+ */
          color: $homepage-heading;
          font-size: 16px;
        }
        &:-moz-placeholder {
          /* Firefox 18- */
          color: $homepage-heading;
          font-size: 16px;
        }
      }
      select {
        color: $homepage-heading;
        font-size: 16px;
      }
    }
    .btn-primary {
      font-size: 14px;
      font-weight: bold;
      height: 42px;
      text-transform: uppercase;
      padding: 6px 20px;
      width: auto;
    }
  }
  .estimation-services {
    display: inline-block;
    padding: 0 0 70px;
    position: relative;
    z-index: 111;
    h3 {
      color: $homepage-heading;
      float: left;
      font-size: 70px;
      font-weight: 700;
      margin: 0;
      text-align: center;
      width: 100%;
      span.line {
        background: #fff;
        margin: 0 auto 20px;
      }
      .primary-part {
        display: block;
        line-height: 0.8;
      }
      label {
        color: #fff;
        float: left;
        font-size: 40px;
        font-weight: 700;
        margin: 20px 0 0 0;
        width: 100%;
      }
    }

    .service-info {
      color: $homepage-heading;
      font-size: 20px;
      line-height: 27px;
      margin: 40px 0 70px 0;
    }
  }
  .our-customers {
    position: relative;
    z-index: 111;
    h3 {
      color: $homepage-heading;
      float: left;
      font-size: 70px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: left;
      width: 100%;
      span {
        padding-left: 50px;
      }
      span.line {
        background: #fff;
        display: table-cell;
      }
      label {
        color: #fff;
        float: left;
        font-size: 40px;
        font-weight: 700;
        padding-left: 50px;
        width: 100%;
      }
    }
    h5 {
      color: $homepage-heading;
      font-size: 20px;
      padding-left: 40px;
      text-align: left;
      span {
        font-weight: bold;
      }
    }

    .tabs-wrapper {
      margin: 30px 0 0 0;
    }

    .customer-tabs-container {
      background-color: #fff;
      padding: 38px 0;

      .nav-tabs {
        border: none;
        text-align: center;

        li {
          border-radius: 5px;
          display: inline-block;
          float: none;
          filter: grayscale(1);
          height: 70px;
          margin: 0 35px;
          transition: all 0.3s ease;
          width: 70px;

          &:hover {
            transform: scale(1.6);
          }

          &.active {
            filter: none;
            transform: scale(1.6);
          }

          a {
            background-color: transparent;
            border: none;
            height: 100%;
            margin: 0;
            padding: 0;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .tab-content {
      color: $homepage-heading;

      .tab-pane {
        padding: 60px 0;
      }

      .content-heading {
        font-size: 30px;
        font-weight: 700;
      }

      .content-text-container {
        font-size: 20px;
        line-height: 27px;
        padding: 14px 220px;

        .content-text {
          position: relative;

          &::before,
          &::after {
            content: "";
            height: 48px;
            position: absolute;
            width: 55px;
          }

          &::before {
            background: transparent url("../../../assets/build-info/home-page/double-quote.svg") no-repeat;
            left: -65px;
            top: -15px;
          }

          &::after {
            background: transparent url("../../../assets/build-info/home-page/double-quote.svg") no-repeat;
            bottom: 10px;
            right: -65px;
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }

  .other-products {
    margin-top: 100px;
    h3 {
      color: $homepage-heading;
      float: left;
      font-size: 70px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: center;
      width: 100%;
      label {
        color: $homepage-heading-subtext;
        float: left;
        font-size: 40px;
        font-weight: 700;
        padding-top: 10px;
        width: 100%;
      }
    }
    h4 {
      color: $homepage-heading;
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
    }
    p {
      color: $homepage-heading;
      font-size: 14px;
      font-weight: normal;
      line-height: 19px;
    }
    .build-info-section {
      border-right: 1px solid #979797;
      float: left;
      margin-right: 15px;
      padding: 98px 45px 30px 0;
      width: calc(25% - 30px);
    }
    .product-lists {
      border-radius: 29px;
      float: left;
      margin: 0 15px;
      padding: 30px 10px;
      transition: all 0.5s ease;
      width: calc(25% - 30px);

      &:hover {
        background-color: #f0f0f0;

        .app-links {
          opacity: 1;
          visibility: visible;
        }
      }

      .product-image {
        height: 166px;
      }

      .app-links {
        float: left;
        margin: 10px 0 0;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        transition: all 0.5s ease;
        width: 100%;

        .store-image {
          cursor: pointer;
          display: inline-block;
          margin: 0 20px;

          img {
            height: 25px;
          }
        }
      }
    }
  }

  .contact-us {
    h3 {
      color: $homepage-heading;
      font-size: 80px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: left;
      span {
        padding-left: 50px;
      }
      label {
        color: $homepage-heading-subtext;
        float: left;
        font-size: 40px;
        font-weight: 700;
        padding-left: 50px;
        width: 100%;
      }
    }
    .line {
      margin: 0;
    }
    .toggleswitch label {
      display: inline-block;
      border: 1px solid $black;
      padding: 5px 10px;
      margin: 10px 10px 10px 0;
      font-size: 14px;
      font-weight: normal;
      span {
        float: right;
        margin: 2px 4px 2px 7px;
      }
    }

    /* Don't hide the radio button in older browsers */
    .toggleswitch input:checked,
    .toggleswitch input:not(:checked) {
      display: none;
    }

    .r-btn {
      height: 37px;
      border: 1px solid #d3d3d3;
      border-radius: 18.5px;
      background-color: rgba(216, 216, 216, 0.33);
      color: $homepage-heading;
      font-size: 14px;
    }

    .toggleswitch input:checked + .r-btn {
      background-color: rgba(255, 209, 94, 0.38);
      border: 1px solid $homepage-bright-yellow;
    }
    .form-group {
      label.form-control {
        border: 0;
        font-size: 16px;
      }
    }
    .form-left {
      margin: 69px 42px 42px 150px;
      img {
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 50px;
        font-size: 18px;
        color: $homepage-heading;
        line-height: 24px;
      }
    }
  }
}

.padding-top-25 {
  padding-top: 25px;
}

.p-t-b-10 {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  margin: 40px 0 0;
  width: 100%;
  .navbar-right {
    margin: 0;
    li {
      display: block;
      float: left;
      margin-left: 15px;
    }
  }
  .navbar {
    margin: 0;
  }
  .navbar-default {
    background-color: $homepage-bright-yellow;
    padding: 30px 0 0;
  }
  a {
    color: $homepage-heading;
    font-size: 16px;
    font-weight: bold;
  }
  .navbar-nav {
    margin: 7.5px 0;
  }
}

footer ul.footerleft {
  margin: 0;
  padding: 8px 0;
  li {
    display: inline;
    margin-right: 25px;
  }
}

.copyright-label {
  border-top: 1px solid $homepage-heading;
  padding: 25px 0;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .navbar {
    .navbar-nav {
      display: table;

      & > li {
        display: table-cell;
        float: none;
        vertical-align: middle;
      }
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
  .home-page,
  footer {
    .container {
      width: calc(100vw - 106px);
    }
  }
}

@media screen and (min-width: 1366px) {
  .home-page,
  footer {
    .container {
      width: calc(1366px - 106px);
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .home-page,
  footer {
    .container {
      width: 960px;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
}

@media screen and (max-width: 767px) {
  .container {
    background: none;
    padding: 0 25px;
  }
}

@media screen and (max-width: 1170px) {
  .container {
    width: 100%;
  }
}
