<div class="home-page">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="visible-xs visible-sm call-login-btns">
          <div class="call-btn-item">
            <div class="call-btn-wrapper">
              <a href="" class="call-btn"></a>
            </div>
          </div>
          <div class="login-link-item"><a href="" class="login-link">login</a></div>
        </div>
        <a class="navbar-brand" href="#">
          <img alt="My Build Cost Logo" class="logo-image" src="./assets/build-info/home-page/buildinfo-logo.png">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a>Features</a></li>
          <li><a (click)="scrollToSection(usersGuideSection)">User's guide</a></li>
          <li><a (click)="scrollToSection(pricingSection)">Pricing</a></li>
          <li><a (click)="scrollToSection(estimationServicesSection)">Estimation Services</a></li>
          <li><a (click)="scrollToSection(customersSection)">Customers</a></li>
          <li><a (click)="scrollToSection(otherProductsSection)">Other Products</a></li>
          <li><a>About us</a></li>
          <!--<li>
            <a href="../navbar/">
              <img alt="" class="logo-image" src="./assets/build-info/header/buildinfo-logo.png">
            </a>
          </li>-->
          <li class="hidden-xs hidden-sm call-btn-item">
            <div class="call-btn-wrapper">
              <a href="" class="call-btn"></a>
            </div>
          </li>
          <li class="hidden-xs hidden-sm login-link-item"><a href="" class="login-link">login</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="container">
    <div class="row video-section-row">
      <div class="col-sm-12 col-md-6">
        <div class="left-row">
          <ul>
            <li class="fadein-sub-element">Budget</li>
            <li class="fadein-sub-element">Estimate</li>
            <li class="fadein-sub-element">Control</li>
          </ul>
        </div>
        <h2> Your Construction Cost </h2>

        <div class="request-btn">
          <button>
            <span class="cricle">
              <img height="19" src="./assets/build-info/home-page/landingpage-user.svg"/>
            </span>
            <span class="btn-label"> Request for online demo </span>
          </button>
        </div>

        <div class="start-trial-btn">
          <button>Start 15 Days Trial</button>
          <span> No obligation. No card details required. </span>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 video-img">
        <img alt="" data-toggle="modal" data-target="#video-modal" width="100%" src="./assets/build-info/home-page/landing-img.svg">
      </div>
    </div>
  </section>

  <section class="users-guide container" #usersGuideSection>
    <h3>
      <span class="line"></span>
      User's guide
    </h3>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <div class="row guide-blocks">
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="video-img">
                </div>
                <div class="caption">
                  <h4>Nigeria</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                    metus.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="video-img">
                </div>
                <div class="caption">
                  <h4>Greenland</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                    metus.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="video-img">
                </div>
                <div class="caption">
                  <h4>Russian Federation</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                    metus.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="video-img">
                </div>
                <div class="caption">
                  <h4>Nigeria </h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                    metus.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
                <div class="video-img">
                </div>
                <div class="caption">
                  <h4>Greenland</h4>
                  <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
                    metus.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="yellow-bg">
    <section class="product-pricing" #pricingSection>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3>
              <span class="line"></span>
              <span class="primary-part">
                Product
                <label>pricing</label>
              </span>
            </h3>

            <p class="description">
              My Build Cost is FREE for 15 days trial period. If you wish to continue your subscription 
              after free trial period, following paid package is available.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="pricing-card">
              <div class="card-icon">
                <img alt="" height="143" src="./assets/build-info/home-page/building-icon.svg">
              </div>
              <div class="price">Rs 3499/-</div>
              <div class="row card-list">
                <div class="col-xs-7 col-sm-6 col-sm-offset-1 text-left">No. of Projects</div>
                <div class="col-xs-4 col-sm-5 text-left">
                  <span>1</span>
                </div>
              </div>
    
              <div class="row card-list">
                <div class="col-xs-7 col-sm-6 col-sm-offset-1 text-left">No. of Buildings</div>
                <div class="col-xs-4 col-sm-5 text-left">
                  <span>5</span>
                </div>
              </div>
    
              <div class="row card-list">
                <div class="col-xs-7 col-sm-6 col-sm-offset-1 text-left">Package Duration</div>
                <div class="col-xs-4 col-sm-5 text-left">
                  <span>1 year</span>
                </div>
              </div>

              <div class="row">
                <ul class="col-xs-12 padding-top-25 package-details">
                  <li>No AMC cost</li>
                  <li>No support/training cost</li>
                  <li>No software upgradation cost</li>
                </ul>
              </div>
    
              <div class="row">
                <div class="col-xs-12">
                  <div class="buy-now-btn">
                    <button class="btn btn-primary">START YOUR FREE TRIAL</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="estimation-services" #estimationServicesSection>
      <h3>
        <span class="line"></span>
        <span class="primary-part">
          Estimation
          <label>services</label>
        </span>
      </h3>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="service-info">
              Don't have in house estimation team? No worries!
              <strong>Our team can provide you the estimates derived from the most advanced take off tools to ensure accuracy. That too at very reasonable fees.</strong>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-left">
              <div class="hidden-xs">
                <p>Adding data seems complicated?</p>
                <p>Don’t worry, <span>we will estimate your project</span></p>
                <p>on behalf of you.</p>
              </div>
              
              <div class="visible-xs">
                <p>Adding data seems complicated? Don’t worry, <span>we will estimate your project</span> on behalf of you.</p>
              </div>
            </div>
            <div class="form-right">
              <div class="col-md-8 col-md-offset-1">
                <form>
                  <div class="form-group">
                    <input type="text" id="name" class="form-control" placeholder="Name*"/>
                  </div>

                  <div class="form-group">
                    <input type="email" id="email" class="form-control" placeholder="Email iD*"/>
                  </div>

                  <div class="form-group">
                    <input type="text" id="number" class="form-control" placeholder="Contact Number*"/>
                  </div>

                  <div class="form-group">
                    <input type="text" id="company-name" class="form-control" placeholder="Company Name*"/>
                  </div>

                  <div class="form-group">
                    <select class="form-control">
                      <option selected>City</option>
                      <option>Colombia</option>
                      <option>Argentina</option>
                      <option>Mexico</option>
                      <option>Perú</option>
                      <option>Ecuador</option>
                    </select>
                  </div>

                  <button class="btn btn-primary">SUBMIT</button>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="our-customers" #customersSection>
      <div class="container">
        <h3>
          <span class="line"></span>
          <span class="primary-part">
            Our
            <label>customers</label>
          </span>
        </h3>
        <div class="row">
          <div class="col-xs-12 ">
            <h5> Trusted by leading <span> Developers, Contractors and Architects </span></h5>
          </div>
        </div>
      </div>

      <div class="tabs-wrapper">
        <div class="customer-tabs-container">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                      <img src="./assets/build-info/home-page/our-customer-default.svg" alt="" class="img-responsive">
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                      <img src="./assets/build-info/home-page/our-customer-default.svg" alt="" class="img-responsive">
                    </a>
                  </li>
                  <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                      <img src="./assets/build-info/home-page/our-customer-default.svg" alt="" class="img-responsive">
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="home">
                  <div class="content-heading">Sandvik Asia Pvt Ltd - Heading 1</div>

                  <div class="content-text-container">
                    <div class="content-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="profile">
                  <div class="content-heading">Sandvik Asia Pvt Ltd - Heading 2</div>

                  <div class="content-text-container">
                    <div class="content-text">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                    </div>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="messages">
                  <div class="content-heading">Sandvik Asia Pvt Ltd - Heading 3</div>

                  <div class="content-text-container">
                    <div class="content-text">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="other-products" #otherProductsSection>
    <div class="container">
      <h3>
        <span class="line"></span>
        <span class="primary-part">
          Other products
          <label>By Big Slice Technologies Pvt Ltd</label>
        </span>
      </h3>

      <div class="big-slice-logo">
        <img src="./assets/build-info/home-page/big-slice-logo.svg" alt="Big Slice Logo" class="img-responsive" />
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="build-info-section">
            <img alt="" height="129" src="./assets/build-info/home-page/buildingo-logo.svg" class="img-responsive">
            <h4 class="products-name">
              Buildinfo.co.in
            </h4>
            <p>
              Informative website for the construction indusrty
            </p>
          </div>

          <div class="product-lists">
            <img alt="" class="product-image" src="./assets/build-info/home-page/rateanalysis-logo.svg">
            <h4 class="products-name">
              Rate Analysis
            </h4>
            <p>
              Featuring Rate Analysis of all major
              Civil and Finishing items with updated
              material and labour rates
            </p>
            <div class="app-links">
              <span class="store-image">
                <img alt="" class="img-responsive" src="./assets/build-info/home-page/playstore-logo.svg">
              </span>
              <span class="store-image">
                <img alt="" class="img-responsive" src="./assets/build-info/home-page/appstore-logo.svg">
              </span>
            </div>
          </div>

          <div class="product-lists">
            <img alt="" class="product-image" src="./assets/build-info/home-page/mycivilcalc-logo.svg">
            <h4 class="products-name">
              My Civil CalC
            </h4>
            <p>
              Everyday calculator with additional 
              unique feature of calculating with units like 
              feet, inch, metre and milimetre
            </p>
            <div class="app-links">
              <span class="store-image">
                <img alt="" class="img-responsive" src="./assets/build-info/home-page/playstore-logo.svg">
              </span>
              <span class="store-image">
                <img alt="" class="img-responsive" src="./assets/build-info/home-page/appstore-logo.svg">
              </span>
            </div>
          </div>

          <div class="product-lists">
            <img alt="" class="product-image" src="./assets/build-info/home-page/materialanalysis-logo.svg">
            <h4 class="products-name">
              Material Analysis
            </h4>
            <p>
              A FREE app which gives material 
              take offs of all commonly used 
              construction and finishing items. 
            </p>
            <div class="app-links">
              <span class="store-image">
                <img alt="" class="img-responsive" src="./assets/build-info/home-page/playstore-logo.svg">
              </span>
              <span class="store-image">
                <img alt="" class="img-responsive" src="./assets/build-info/home-page/appstore-logo.svg">
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="contact-us" #contactUsSection>
    <div class="container">
      <h3>
        <span class="line"></span>
        <span class="primary-part">
          Contact
          <label>us</label>
        </span>
      </h3>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-left">
            <div class="form-group">
              <div class="col-xs-12">
                <img alt="" height="36" src="./assets/build-info/home-page/mobilenumber.svg">
                <p>
                  +91 985858558
                </p>
              </div>
              <div class="col-xs-12">
                <img alt="" height="36" src="./assets/build-info/home-page/mailid.svg">
                <p>
                  bigslicetechnologies@gmail.com
                </p>
              </div>
              <div class="col-xs-12">
                <img alt="" height="36" src="./assets/build-info/home-page/location.svg">
                <p>
                  102/A, Malave bhavan, behind Mangala theatre, Shivajinagar, Pune-411005
                </p>
              </div>
            </div>
          </div>
          <div class="form-right">
            <form>
            <div class="col-md-8 col-md-offset-1">

                <div class="form-group">
                  <input type="email" id="email1" class="form-control" placeholder="Email iD*"/>
                </div>

                <div class="form-group">
                  <input type="text" id="number1" class="form-control" placeholder="Contact Number*"/>
                </div>

                <div class="form-group">
                  <input type="text" id="company-name1" class="form-control" placeholder="Company Name*"/>
                </div>
            </div>
              <div class="col-md-11 col-md-offset-1">
                <div class="form-group pull-left col-xs-12 no-padding">
                  <label class="col-xs-12 no-padding form-control"> Where do you want to send this lead? </label>
                  <div class="toggleswitch">
                    <div class="radio-button">
                      <input id="opt_a" name="option" type="radio" value="opt_a">
                      <label for="opt_a" class="r-btn">
                        <img alt="" height="19" src="./assets/build-info/home-page/contactform-support.svg">
                        <span> Support team </span>
                      </label>
                    </div>

                    <div class="radio-button">
                      <input checked="checked" id="opt_b" name="option" type="radio" value="opt_b">
                      <label for="opt_b" class="r-btn">
                        <img alt="" height="22" src="./assets/build-info/home-page/contactform-sales.svg">
                        <span> Sales </span>
                      </label>
                    </div>

                    <div class="radio-button">
                      <input id="opt_c" name="option" type="radio" value="opt_c">
                      <label for="opt_c" class="r-btn">
                        <img alt="" height="19" src="./assets/build-info/home-page/contactform-estimate.svg">
                        <span> Estimation services </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-12 text-left col-md-offset-1">
                <button class="btn btn-primary">SUBMIT</button>
              </div>

              </form>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<footer class="footer">
  <nav class="navbar navbar-default navbar-custom">
    <div class="container p-t-b-10">
      <div class="nav navbar-nav navbar-left">
        <ul class="footerleft">
          <!-- <li>
            <a href="">Other products </a>
          </li> -->
          <li>
            <a href="">Terms and conditions</a>
          </li>
          <li>
            <a href="">Privacy policy </a>
          </li>
        </ul>
      </div>

      <div class="nav navbar-nav navbar-right">
        <ul>
          <li>
            <a href="">
              <img alt="" height="41" src="./assets/build-info/home-page/youtube-footer.svg">
            </a>
          </li>
          <li>
            <a href="">
              <img alt="" height="41" src="./assets/build-info/home-page/facebook-footer.svg">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright-label">Copyright © 2019 Big Slice Technologies Pvt Ltd (OPC) - All Right Reserved</div>
  </nav>
</footer>

<div id="video-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!--<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>-->
      <div class="modal-body">
        <video width="750" height="430" controls id="bi-video" >
          <source  src="./assets/build-info/home-page/MBC_animation_gold.mp4" type="video/mp4">
          <!--<source src="mov_bbb.ogg" type="video/ogg">-->
          Your browser does not support HTML5 video.
        </video>
      </div>
      <button type="button" class="close video-close" data-dismiss="modal">
        &times;
      </button>

    </div>

  </div>
</div>
