@import "../../../css/common";

.home-page {
  h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    color: #3C3C3C;
  }

  .navbar {
    background: none;
    border: none;
    margin: 0;

    .navbar-brand {
      display: inline-block;
      height: auto;
      margin: 60px 0;
      padding: 0;

      .logo-image {
        height: 67px;
        width: 105px;
      }
    }

    .navbar-right {
      float: right;
      padding: 0;
      min-height: 67px;
      margin: 60px 0;
    }

    .navbar-nav {
      li {
        a {
          color: $text-color;
          font-size: 14px;
          text-transform: uppercase;
          transition: all 0.3s ease;

          &:hover {
            color: $black;
            text-shadow: 0 0 0px $black;
          }
        }
      }
    }

    .navbar-header,
    .navbar-collapse {
      .login-link-item {
        .login-link {
          color: $homepage-heading-subtext;
          font-size: 16px;
          font-weight: bold;
          padding: 10px 0;
          margin: 0 15px;

          &:hover {
            color: $homepage-bright-yellow;
          }
        }
      }

      .call-btn-item {
        .call-btn-wrapper {
          border-left: 1px solid $black;
          margin: 0 0 0 30px;
          padding: 0 0 0 30px;

          .call-btn {
            background: transparent url("../../../assets/build-info/home-page/call-icon.svg") right center no-repeat;
            display: block;
            height: 17px;
            opacity: 0.5;
            padding: 0;
            width: 17px;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .left-row {
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 50px 0 0;
    width: 100%;

    ul {
      color: $homepage-heading;
      font-size: 24px;
      list-style: none;
      padding: 0;

      li {
        counter-increment: li;
        display: inline-block;
        font-size: 45px;
        font-weight: 700;
        padding-left: 15px;
        position: relative;

        &:before {
          color: $theme-color;
          content: "•";
          display: inline-block;
          font-size: 32px;
          margin-left: -20px;
          width: 20px;
        }

        &:first-child {
          padding-left: 0;

          &:before {
            display: none;
          }
        }
      }
    }
  }

  .request-btn {
    display: inline-block;
    width: 100%;

    button {
      background: transparent;
      border: 2px solid $homepage-bright-yellow;
      border-radius: 25px;
      color: $homepage-heading;
      font-size: 20px;
      float: left;
      height: 46px;
      margin: 20px 0;
      padding: 0;
      min-width: 330px;

      span.cricle {
        background: $homepage-bright-yellow;
        border-radius: 42px;
        float: left;
        height: 42px;
        line-height: 36px;
        width: 42px;
      }

      span.btn-label {
        float: left;
        padding: 7px 18px;
      }
    }
  }

  .start-trial-btn {
    button {
      background: $homepage-bright-yellow;
      border-radius: 25px;
      color: $homepage-heading;
      font-size: 14px;
      font-weight: 700;
      float: left;
      height: 42px;
      margin: 30px 0 5px;
      padding: 10px 40px;
      border: 0;
    }

    span {
      display: inline-block;
      font-size: 12px;
      text-align: left;
      width: 100%;
    }
  }

  .line {
    background: $homepage-bright-yellow;
    border-radius: 4px;
    height: 7px;
    display: table;
    margin: 0 auto;
    width: 200px;
  }

  .users-guide {
    margin-top: 60px;
    margin-bottom: 60px;

    .guide-blocks {
      & > div[class*="col-"] {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    h3 {
      color: $homepage-heading;
      font-size: 80px;
      font-weight: 700;
      line-height: 1.25;
      margin-bottom: 60px;
    }

    h4 {
      color: $homepage-heading;
      font-size: 32px;
      font-weight: 700;
      margin: 25px 0 15px;
      text-align: left;
    }

    .video-img {
      box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.17);
      height: 257px;
      width: 100%;
    }

    .thumbnail {
      border: 0;
      margin: 0 0 40px 0;
      padding: 0;

      .caption {
        padding: 0;
      }
    }

    p {
      color: $homepage-heading;
      font-size: 14px;
      line-height: 19px;
      text-align: left;
    }

    .user-guide-btn{
      color: #3C3C3C;
      font-size: 14px;
      background-color: #FFD15E;
      font-weight: 700;
      height: 42px;
      padding: 15px;
      margin-bottom: 45px;
      margin-top: 30px;
      text-transform: uppercase;
    }
    .description {
      font-size: 18px;
      text-align: center;
      line-height: 24px;
    }
  }

  .product-pricing {
    position: relative;
    z-index: 111;

    h3 {
      color: $homepage-heading;
      font-size: 80px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: left;

      span.line {
        margin: 0 0 20px 0;
      }

      .primary-part {
        display: block;
        line-height: 0.8;
        padding-left: 50px;
      }

      label {
        color: $homepage-heading-subtext;
        float: left;
        font-size: 40px;
        font-weight: 700;
        margin: 20px 0 30px 0;
        width: 100%;
      }
    }

    .description {
      color: $homepage-heading;
      font-size: 18px;
      line-height: 24px;
      margin: 0;
      padding: 0 50px;
      text-align: justify;
    }

    .line {
      margin: 0;
    }
  }

  .yellow-bg {
    padding-bottom: 200px;
    position: relative;
    width: 100%;

    &::before {
      background: $homepage-bright-yellow;
      content: "";
      transform: skewY(-8deg) translateY(-50px);
      position: absolute;
      top: 740px;
      right: 0;
      left: 0;
      bottom: 45px;
    }
  }

  .yellow-bg-line {
    background: $homepage-bright-yellow;
    transform: skewY(-8deg) translateY(-50px);
    min-height: 5px;
    width: 100%;
  }

  .pricing-card {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.17);
    margin: 68px auto 70px;
    max-width: 466px;
    padding: 55px 37px 45px;

    .card-list {
      color: $homepage-heading;
      font-size: 20px;
      padding: 10px 0;

      span {
        font-weight: 700;
      }
    }

    .price {
      color: $homepage-heading;
      font-size: 28px;
      font-weight: bold;
      margin: 30px 0;
    }

    .package-details {
      list-style: none;

      li {
        color: $homepage-heading;
        font-size: 14px;
        line-height: 1;
        margin: 0 0 10px 0;
      }
    }

    .buy-now-btn {
      display: inline-block;
      margin: 20px auto 0;

      .btn {
        color: $homepage-heading;
        font-size: 14px;
        background-color: #FFD15E;
        font-weight: 700;
        height: 42px;
        padding: 0 15px;
        width: 100%;
      }
    }
  }

  .form-left {
    background-color: $homepage-bright-yellow;
    border-radius: 4px;
    box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.17);
    float: left;
    height: 498px;
    margin: 86px 42px 42px 115px;
    padding: 48px 37px;
    position: relative;
    width: 380px;
    z-index: 1;

    p {
      color: $homepage-heading;
      font-size: 24px;
      line-height: 59px;

      span {
        font-weight: bold;
        font-size: 34px;
      }
    }
  }

  .form-right {
    background: #fff;
    box-shadow: 0 8px 33px 0 rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    display: inline-block;
    float: left;
    margin-left: -130px;
    padding: 50px 80px;
    width: 700px;

    .form-group {
      margin-bottom: 65px;

      input {
        border: 0;
        border-bottom: 1px solid #979797;
        font-size: 16px;

        &::-webkit-input-placeholder {
          /* Chrome/Opera/Safari */
          color: $homepage-heading;
          font-size: 16px;
        }

        &::-moz-placeholder {
          /* Firefox 19+ */
          color: $homepage-heading;
          font-size: 16px;
        }

        &:-ms-input-placeholder {
          /* IE 10+ */
          color: $homepage-heading;
          font-size: 16px;
        }

        &:-moz-placeholder {
          /* Firefox 18- */
          color: $homepage-heading;
          font-size: 16px;
        }
      }

      select {
        color: $homepage-heading;
        font-size: 16px;
      }
    }

    .btn-primary {
      font-size: 14px;
      background-color: #FFD15E;
      font-weight: bold;
      height: 42px;
      text-transform: uppercase;
      padding: 6px 20px;
      width: auto;
      &:hover{
        background-color: #ffd64d;
      }
    }
  }

  .estimation-services {
    display: inline-block;
    margin: 0 0 70px 0;
    padding: 0;
    position: relative;
    z-index: 111;

    h3 {
      color: $homepage-heading;
      float: left;
      font-size: 70px;
      font-weight: 700;
      margin: 20px 0 0 0;
      text-align: center;
      width: 100%;

      span.line {
        background: #fff;
        margin: 0 auto 20px;
      }

      .primary-part {
        display: block;
        line-height: 0.8;
      }

      label {
        color: #fff;
        float: left;
        font-size: 40px;
        font-weight: 700;
        margin: 20px 0 0 0;
        width: 100%;
      }
    }

    .service-info {
      color: $homepage-heading;
      font-size: 20px;
      line-height: 27px;
      position: relative;
      margin: 40px 0 120px 0;
    }

    .estimation-icons {
      height: 60px;
    }
  }

  .our-customers {
    position: relative;
    z-index: 111;

    h3 {
      color: $homepage-heading;
      float: left;
      font-size: 70px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: left;
      width: 100%;

      span {
        padding-left: 50px;
      }

      span.line {
        background: #fff;
        display: table-cell;
      }

      label {
        color: #fff;
        float: left;
        font-size: 40px;
        font-weight: 700;
        padding-left: 50px;
        width: 100%;
      }
    }

    h5 {
      color: $homepage-heading;
      font-size: 20px;
      padding-left: 40px;
      text-align: left;

      span {
        font-weight: bold;
      }
    }

    .tabs-wrapper {
      margin: 30px 0 0 0;
    }

    .customer-tabs-container {
      background-color: #fff;
      padding: 38px 0;

      .nav-tabs {
        border: none;
        text-align: center;

        li {
          border-radius: 5px;
          display: inline-block;
          float: none;
          filter: grayscale(1);
          height: 70px;
          margin: 0 35px;
          transition: all 0.3s ease;
          width: 70px;

          &:hover {
            transform: scale(1.6);
          }

          &.active {
            filter: none;
            transform: scale(1.6);
          }

          a {
            background-color: transparent;
            border: none;
            height: 100%;
            margin: 0;
            padding: 0;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .tab-content {
      color: $homepage-heading;

      .tab-pane {
        padding: 60px 0;
      }

      .content-heading {
        font-size: 30px;
        font-weight: 700;
      }

      .content-text-container {
        font-size: 20px;
        line-height: 27px;
        padding: 14px 220px;

        .content-text {
          position: relative;

          &::before,
          &::after {
            content: "";
            height: 48px;
            position: absolute;
            width: 55px;
          }

          &::before {
            background: transparent url("../../../assets/build-info/home-page/double-quote.svg") no-repeat;
            left: -65px;
            top: -15px;
          }

          &::after {
            background: transparent url("../../../assets/build-info/home-page/double-quote.svg") no-repeat;
            bottom: 10px;
            right: -65px;
            transform: rotateZ(180deg);
          }
        }
      }
    }
  }

  .other-products {
    margin: 0 0 42px 0;

    h3 {
      color: $homepage-heading;
      float: left;
      font-size: 70px;
      font-weight: 700;
      margin-bottom: 15px;
      text-align: center;
      width: 100%;

      label {
        color: $homepage-heading-subtext;
        float: left;
        font-size: 40px;
        font-weight: 700;
        padding-top: 10px;
        width: 100%;
      }
    }

    h4 {
      color: $homepage-heading;
      font-size: 18px;
      font-weight: bold;
      line-height: 24px;
    }

    p {
      color: $homepage-heading;
      font-size: 14px;
      font-weight: normal;
      line-height: 19px;
    }

    .big-slice-logo {
      img {
        margin: 0 auto 64px;
      }
    }

    .build-info-section {
      border-right: 1px solid #979797;
      float: left;
      margin: 15px 30px 0 0;
      min-width: 327px;
      padding: 48px 45px 15px 0;
      width: calc(25% - 30px);

      img {
        margin: 0 auto;
      }

      p {
        margin: 0 auto;
        max-width: 255px;
      }
    }

    .product-lists {
      border-radius: 29px;
      float: left;
      margin: 0;
      padding: 15px 10px 25px 10px;
      transition: all 0.5s ease;
      width: calc(25% - 30px);

      &:hover {
        background-color: #f0f0f0;

        .app-links {
          opacity: 1;
          visibility: visible;
        }
      }

      .product-image {
        height: 166px;
      }

      .app-links {
        float: left;
        margin: 10px 0 0;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        transition: all 0.5s ease;
        width: 100%;

        .store-image {
          cursor: pointer;
          display: inline-block;
          margin: 0 20px;

          img {
            height: 25px;
          }
        }
      }
    }
  }

  .contact-us {
    h3 {
      color: $homepage-heading;
      font-size: 80px;
      font-weight: 700;
      margin-bottom: 30px;
      text-align: left;

      span {
        padding-left: 50px;
      }

      label {
        color: $homepage-heading-subtext;
        float: left;
        font-size: 40px;
        font-weight: 700;
        padding-left: 50px;
        width: 100%;
      }
    }

    .line {
      margin: 0;
    }

    .toggleswitch label {
      display: inline-block;
      border: 1px solid $black;
      padding: 5px 10px;
      margin: 10px 10px 10px 0;
      font-size: 14px;
      font-weight: normal;
      transition: all 0.3s ease;

      span {
        float: right;
        margin: 2px 4px 2px 7px;
      }
    }

    /* Don't hide the radio button in older browsers */
    .toggleswitch input:checked,
    .toggleswitch input:not(:checked) {
      display: none;
    }

    .r-btn {
      height: 37px;
      border: 1px solid #d3d3d3;
      border-radius: 18.5px;
      background-color: rgba(216, 216, 216, 0.33);
      color: $homepage-heading;
      font-size: 14px;
    }

    .toggleswitch input:checked + .r-btn {
      background-color: rgba(255, 209, 94, 0.38);
      border: 1px solid $homepage-bright-yellow;
    }

    .form-group {
      label.form-control {
        border: 0;
        font-size: 16px;
      }
    }

    .form-left {
      margin: 69px 42px 42px 150px;

      img {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 50px;
        font-size: 18px;
        color: $homepage-heading;
        line-height: 24px;
      }
    }
  }
}

.form-success {
  padding: 49px 80px;
  min-height: 530px;
  text-align: left;
  h1{
    font-size: 30px;
    line-height: 41px;
  }
  .success-msg {
    font-size: 40px;
    font-weight: bold;
    line-height: 65px;
    padding-bottom: 30px;
    color: #3c3c3c;
  }
}

.about-us {
  h3 {
    color: $homepage-heading;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;

    label {
      color: $homepage-heading-subtext;
      float: left;
      font-size: 40px;
      font-weight: 700;
      width: 100%;
    }
  }

  .decription {
    margin-top: 90px;
  }
}

#video-modal {
  .modal-content {
    width: 780px;
  }

  .modal-dialog {
    transform: translate(-15%, -50%);
  }
}

.video-img {
  cursor: pointer;

  img {
    height: 571px;
  }
}

.video-close {
  font-size: 30px;
  position: absolute;
  right: 22px;
  top: 15px;
  opacity: 0.6;
  z-index: 99;
}

.padding-top-25 {
  padding-top: 25px;
}

.p-t-b-10 {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  margin: 90px 0 0;
  width: 100%;

  .navbar-right {
    margin: 0;

    li {
      display: block;
      float: left;
      margin-left: 15px;
    }
  }

  .navbar {
    margin: 0;
  }

  .navbar-default {
    background-color: $homepage-bright-yellow;
    padding: 30px 0 0;
  }

  a {
    color: $homepage-heading;
    font-size: 16px;
    font-weight: bold;
  }

  .navbar-nav {
    margin: 7.5px 0;
  }
}

footer ul.footerleft {
  margin: 0;
  padding: 8px 0;

  li {
    display: inline;
    margin-right: 25px;
  }
}

.copyright-label {
  border-top: 1px solid $homepage-heading;
  padding: 25px 0;
  margin-top: 20px;
}

.bg-white {
  background: #fff none !important;
}

@media screen and (min-width: 768px) {
  .navbar {
    .navbar-nav {
      display: table;

      & > li {
        display: table-cell;
        float: none;
        vertical-align: middle;
      }
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1365px) {
  .home-page,
  footer {
    .container {
      width: calc(100vw - 106px);
    }
  }
}

@media screen and (min-width: 1366px) {
  .home-page,
  footer {
    .container {
      width: calc(1366px - 106px);
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .home-page,
  footer {
    .container {
      width: 960px;
    }
  }
}

// iPad & Mobile Devices both
@media (max-width: 1200px) {
  .container {
    width: 100%;
  }

  #video-modal {
    &.modal {
      .modal-dialog {
        transform: translateX(0) translateY(-50%);

        .modal-content {
          width: 100%;

          video {
            height: auto;
            width: 100%;
          }
        }
      }
    }

    .modal-body {
      line-height: 0.8;
      padding: 10px;
    }
  }

  .home-page {
    .navbar {
      .navbar-header {
        align-items: center;
        display: flex;
        float: none;

        .navbar-toggle {
          display: block;
          margin: 21px 0;
          order: 2;
        }

        .call-login-btns {
          align-items: center;
          display: flex !important;
          margin: 0 15px 0 0;
          order: 1;

          .call-btn-wrapper {
            border: none;
            margin: 0 15px 0 0;
            padding: 0;
          }
        }

        .navbar-brand {
          margin: 10px auto 10px 0;
          order: 0;

          .logo-image {
            height: auto;
            width: 90px;
          }
        }
      }

      .navbar-nav {
        margin: 0;
      }
    }

    .navbar-collapse {
      background-color: #ffffff;
      border-top: 1px solid rgba(0, 0, 0, 0.05);
      box-shadow: 0 12px 10px rgba(0, 0, 0, 0.05);
      left: 0;
      position: absolute;
      width: 100%;

      &.collapse {
        display: none !important;
      }

      .navbar-nav {
        display: block;
        float: none !important;
        margin-top: 7.5px;

        & > li {
          display: block;
          float: none;

          & > a {
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }

        &.navbar-left,
        &.navbar-right {
          float: none;
        }
      }

      &.collapse.in {
        display: block !important;
      }
    }

    .video-section-row {
      margin: 30px 0;

      .video-img {
        img {
          height: auto;
          width: 75%;
        }
      }
    }

    .request-btn {
      button {
        float: initial;
        font-size: 14px;
        height: 42px;
        line-height: 1.7;
        min-width: 240px;

        span {
          &.cricle {
            border-radius: 40px;
            height: 40px;
            line-height: 34px;
            width: 40px;
            margin: -1px 0 -1px -2px;
          }
        }
      }
    }

    .start-trial-btn {
      button {
        float: initial;
        margin: 0;
        min-width: 240px;
      }

      span {
        margin: 5px 0 15px 0;
        text-align: center;
      }
    }

    h2 {
      display: inline-block;
      margin: 5px auto;
    }

    .yellow-bg {
      &::before {
        top: 700px;
      }
    }

    .users-guide {
      h4 {
        font-size: 25px;
      }
    }

    .product-features,
    .users-guide,
    .product-pricing,
    .estimation-services,
    .our-customers,
    .other-products,
    .contact-us,
    .about-us {
      h3 {
        display: inline-block;
        font-size: 40px;
        line-height: 1;
        margin: 20px 0 40px 0;
        text-align: center;

        .primary-part {
          display: flex;
          flex-direction: column;
          line-height: 0.8;
          padding: 0;
        }

        span {
          &.line {
            display: block;
            margin: 0 auto 10px;
            padding: 0;
          }
        }

        label {
          font-size: 28px;
          line-height: 1.3;
          margin: 10px 0 0;
          padding: 0;
        }
      }

      .description {
        font-size: 16px;
        padding: 0 15px;
      }

      .service-info {
        margin: 0;
        padding: 0 10px;
        text-align: justify;
      }

      h5 {
        max-width: 245px;
        margin: 0 auto;
        padding: 0;
      }
    }

    .users-guide {
      margin-top: 60px;
    }

    .product-pricing {
      padding-top: 0;
      margin-top: 60px;
    }

    .our-customers {
      .customer-tabs-container {
        .nav-tabs {
          li {
            height: 45px;
            margin: 0 25px;
            width: 45px;
          }
        }
      }
    }

    .estimation-services {
      .service-info {
        margin: 0 0 40px 0;
      }
    }

    .about-us {
      h5 {
        margin: 15px 0;
      }

      p {
        margin-top: 0;
        text-align: justify;
      }
    }

    .pricing-card {
      padding: 20px;
      width: calc(100vw - 40px);
    }
  }
}

// iPad Devices Only
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .home-page {
    .left-row {
      margin: 0;

      ul {
        margin: 0 auto;

        li {
          font-size: 34px;
        }
      }
    }

    h2 {
      font-size: 28px;
    }

    .form-left {
      height: auto;
      margin: 0 0 0 5px;
      padding: 30px;
      transform: translateY(50%);
      width: 280px;

      p {
        font-size: 22px;
        line-height: 50px;
        margin: 0;

        span {
          font-size: 20px;
        }
      }
    }

    .form-right {
      margin-left: -50px;
      padding: 40px 60px;
      width: calc(100vw - 270px);
    }

    .our-customers {
      .tab-content {
        .content-text-container {
          padding: 14px 100px;
        }
      }
    }

    .other-products {
      .build-info-section {
        border: none;
        margin: 0;
        min-width: initial;
        padding: 45px 15px;
        width: 50%;

        h4 {
          margin: 25px 0 10px;
        }
      }

      .product-lists {
        padding: 15px 40px 25px;
        margin: 15px 0;
        width: 50%;

        &:hover {
          background-color: transparent;
        }

        .app-links {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .contact-us {
      .form-left {
        transform: translateY(15%);
        margin: 0;
        width: 325px;
        padding: 30px 10px;
      }

      .form-right {
        width: calc(100% - 275px);
      }
    }
  }
}

// Mobile Devices Only
@media screen and (max-width: 767px) {
  #video-modal {
    .modal-body {
      padding: 5px;
    }
  }

  .home-page {
    .container {
      padding-left: 15px;
      padding-right: 15px;
    }

    .navbar {
      .navbar-header {
        .navbar-toggle {
          margin: 12px 0;
        }

        .navbar-brand {
          .logo-image {
            height: auto;
            width: 60px;
          }
        }
      }

      .navbar-nav {
        margin: 0;
      }
    }

    .video-section-row {
      margin: 30px -15px;
    }

    .left-row {
      margin: 20px 0 0;

      ul {
        margin: 0 auto;

        li {
          font-size: 20px;

          &::before {
            font-size: 20px;
            width: 16px;
          }
        }
      }
    }

    h2 {
      font-size: 18px;
    }

    .product-features,
    .users-guide,
    .product-pricing,
    .estimation-services,
    .our-customers,
    .other-products,
    .about-us {
      h3 {
        label {
          margin: 5px 0 0;
        }
      }
    }


    .other-products {
      h3 {
        margin: 20px 0;
      }

      .big-slice-logo {
        img {
          margin: 0 auto;
        }
      }

      .build-info-section {
        border: none;
        float: left;
        margin: 15px 0;
        min-width: initial;
        padding: 15px 0;
        width: 100%;
      }

      .product-lists {
        border-radius: 0;
        border-top: 1px solid #dddddd;
        margin: 0;
        padding: 25px 10px;
        width: 100%;

        &:hover {
          background-color: transparent;
        }

        .app-links {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    .contact-us {
      .form-left {
        margin: 0 5px;
        padding: 15px 5px;
        width: calc(100% - 10px);

        img {
          height: 35px;
          margin: 10px 0;
        }

        p {
          font-size: 16px;
          margin-bottom: 10px;
          padding-top: 5px;
        }
      }

      .form-right {
        width: calc(100% - 10px);
      }
    }

    .pricing-card {
      .card-list {
        font-size: 14px;
        padding: 10px 0 10px 8%;
      }
    }

    .form-left {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 0px 30px 2px rgba(0, 0, 0, 0.17);
      height: auto;
      margin: 0 5px;
      padding: 10px 15px;
      width: auto;

      p {
        font-size: 16px;
        line-height: 26px;
        margin: 0;

        span {
          font-size: 16px;
        }
      }
    }

    .form-right {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: 0 18px 20px 0 rgba(0, 0, 0, 0.17);
      float: initial;
      margin: 0;
      padding: 20px 0;
      position: relative;
      width: calc(100% - 10px);
      z-index: 10;

      .form-group {
        margin-bottom: 25px;
      }
    }

    .our-customers {
      .tab-content {
        .content-text-container {
          font-size: 18px;
          line-height: 1.4;
          padding: 14px 20px;
          text-align: justify;

          .content-text {
            &::before,
            &::after {
              background-size: contain;
              height: 15px;
              width: 15px;
            }

            &::before {
              left: -20px;
              top: -5px;
            }

            &::after {
              bottom: 5px;
              right: -20px;
            }
          }
        }
      }
    }

    .about-us {
      /*.founder-image {
        .contact-grey-box {
          height: calc(100vw - 55px);
          width: calc(100vw - 55px);
        }

        .grey-yellow-box {
          height: calc(100vw - 55px);
          width: calc(100vw - 55px);
        }
      }*/
    }
  }

  footer {
    .navbar-default {
      padding: 0;
    }

    ul {
      &.footerleft {
        padding: 0 0 10px;

        li {
          display: block;
          margin: 0 0 15px 0;
        }
      }
    }

    .navbar-right {
      ul {
        margin: 0;
        padding: 0;
        text-align: center;

        li {
          display: inline-block;
          float: none;
          margin: 0 5px;
        }
      }
    }

    .copyright-label {
      margin: 0;
      padding: 20px;
    }
  }
  .customers-slider {
    .slide {
      margin-left: 20px;
    }
  }
}


.product-features {
  h3 {
    color: $homepage-heading;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: left;

    span.line {
      margin: 0 0 20px 0;
    }

    .primary-part {
      display: block;
      line-height: 0.8;
      padding-left: 50px;
    }

    label {
      color: $homepage-heading-subtext;
      float: left;
      font-size: 40px;
      font-weight: 700;
      margin: 20px 0 30px 0;
      width: 100%;
    }
  }

  .gray-bg {
    background-color: #F9F9FB;
    border-radius: 32px;
    display: inline-block;
    min-height: 350px;
    padding: 10px 18px;
  }

  h2 {
    color: #3C3C3C;
    font-size: 80px;
    font-weight: bold;
    line-height: 138px;
  }

  p {
    color: #3C3C3C;
    font-size: 18px;
    line-height: 29px;
    /*padding-left: 50px;*/
    text-align: left;
  }

  h4 {
    color: #3C3C3C;
    font-size: 22px;
    font-weight: bold;
    line-height: 29px;
    min-height: 70px;
    padding: 0px;
  }

  .product-features-step {
    height: 348px;
    overflow: hidden;
  }

  .features {
    color: #3C3C3C;
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }

  .stepsdivider {
    padding-top: 120px;

    img {
      margin: 0 auto 50px;
    }
  }
}

.costcontrol-header {
  h3 {
    color: #3C3C3C;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    padding: 28px 0 0 10px;

    &:before {
      content: url("./assets/build-info/home-page/quote-start.svg");
      position: relative;
      right: 9px;
      top: 3px;
    }

    &:after {
      content: url("./assets/build-info/home-page/quote-end.svg");
      position: relative;
      left: 8px;
      top: 4px;
    }
  }

  p {
    color: #3C3C3C;
    font-size: 15px;
    line-height: 22px;
  }
}

.estimation-services {
  p {
    color: #3C3C3C;
    font-size: 27px;
    text-align: left;
    line-height: 44px;
  }

  .estimation-enquire-btn {
    border-radius: 24.5px;
    background-color: #FFFFFF;
    border: none;
    font-weight: bold;
  }

  h4 {
    padding-top: 110px;
    padding-bottom: 39px;
    color: #3C3C3C;
    font-size: 39px;
    font-weight: bold;
    line-height: 44px;
  }

  .estimation-learnmore {
    background: none;
    color: #3C3C3C;
    font-size: 19px;
    font-weight: bold;
    line-height: 1;
    margin-left: -160px;
    position: relative;
    padding: 10px;

    &:before {
      content: '';
      position: absolute;
      display: block;
      height: 2px;
      top: 50%;
      left: -30px;
      width: 50px;
      background: #000;
      z-index: 1;
      transform: translateX(-50%) translateY(-100%);
      -webkit-transform: translateX(-50%);
    }

    &:hover {
      background-color: #ffffff;
      transition: all 1s;
    }
  }
}


.why-estimation, .outsource-estimation, .cost-estimation {
  padding: 60px;

  h3 {
    font-size: 50px;
    padding-left: 50px;
    line-height: 75px;
    padding-bottom: 22px;
  }

  ul li {
    font-size: 19px;
    line-height: 38px;
  }
  .privacy-modal-dialog{
    h5{
      padding-left: 20px;
      padding-top: 20px;
    }
    h2{
      font-size: 16px;
      padding-left: 20px;
    }
   ul{
      li{
        font-size: 14px;
        line-height: 30px;
        list-style-type: none;
        margin-bottom: 0;
        margin-left: -20px;
        padding-left: 5px;
      }
    }
    ol{
      li{
        padding-left: 5px;
      }
    }
    h6{
      margin-left: -20px;
    }
    .privacy-modal-title{
      font-size: 18px;
      font-weight: bold;
      margin-left: 20px;
    }

  }
  .estimation-modal-dialog {
    top: 0;
    transform: translate(0, 0);
    width: 1250px;
    padding-bottom: 40px;

    .modal-body {
      .estimation-modal-close {
        float: right;
        font-size: 50px;
        font-weight: 400;
        height: 22px;
        padding: 0;
        width: 22px;
        line-height: 0;
        position: relative;
        right: 8px;
        top: 0px;
        color: #000;
        border: none;
        background: none;
      }
    }

    h4 {
      color: #3C3C3C;
      font-size: 27px;
      font-weight: bold;
      line-height: 44px;
      text-align: left;
      padding-left: 40px;
    }

    .estimation-inner-lists {
      list-style: none;
      padding-left: 50px;

      & > li:before {
        content: "\2022";
        color: #FFD15E;
        font-weight: bold;
        display: inline-block;
        font-size: 38px;
        position: absolute;
        left: -20px;
      }
    }

    ol {
      margin-top: 30px;

      li {
        margin-bottom: 10px;
      }
    }

    li {
      text-align: left;
      margin-bottom: 50px;
      position: relative;
    }
  }

  /*.modal {
    padding: 60px;

    h3 {
      font-size: 50px;
      padding-left: 50px;
      line-height: 105px;
    }

    ul li {
      font-size: 21px;
      line-height: 44px;
    }
  }*/

}

.why-estimation .modal-content {
  background: #ffffff url(./assets/build-info/home-page/question.svg) no-repeat right top;
}

.outsource-estimation .modal-content {
  background: #ffffff url(./assets/build-info/home-page/Handbackground.svg) no-repeat right top;
}

.cost-estimation .modal-content {
  background: #ffffff url(./assets/build-info/home-page/CombinedShape.svg) no-repeat right top;
}


.middleline {
  height: 5px;
  width: 96px;
  background-color: #FFD15E;
  margin-left: 595px;
  margin-top: -35px;
}

/*About us section*/

.about-us {
  margin-top: 100px;
  margin-bottom: 150px;

  .line {
    margin-bottom: 20px;
  }

  .primary-part {
    color: #3C3C3C;
    font-size: 70px;
    font-weight: bold;
    line-height: 40px;
  }

  .contact-grey-box {
    height: 329px;
    width: 324px;
    border-radius: 4px;
    background-color: #ECECEC;
    float: left;
    z-index: auto;
  }

  .founder-image {
    display: inline-block;
    text-align: center;
    margin: 0 0 10px;
  }

  .grey-yellow-box {
    height: 325px;
    width: 324px;
    padding: 15px;
    border-radius: 4px;
    background-color: #FFD15E;
    position: absolute;
    z-index: 1;
    top: 23px;
    left: 39px;
  }

  .decription {
    color: #3C3C3C;
    font-size: 18px;
    line-height: 28px;
  }

  h4 {
    color: #E5B642;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
    line-height: 55px;
    margin: 15px 0 10px;
  }

  h5 {
    color: #3C3C3C;
    padding-top: 20px;
    text-align: left;
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
  }

  p {
    color: #3C3C3C;
    font-size: 18px;
    text-align: left;
    line-height: 28px;
  }

  label {
    color: #E5B642;
    font-size: 40px;
    font-weight: bold;
  }

  /*.founder-image, .about-founder {
    margin-top: 70px;
  }*/
}

//Slider css

.customers-slider {
  width: 100%;

  .slide {
    display: inline-block;
    background-color: #fff;
    padding: 15px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 1px 3px 7px #868686;
  }
}

//slider css end


// Mobile Devices Only
@media screen and (max-width: 767px) {
  .home-page {
    .navbar {
      .navbar-header {
        .navbar-toggle {
          margin: 12px 0;
        }

        .navbar-brand {
          .logo-image {
            height: auto;
            width: 60px;
          }
        }
      }

      .navbar-nav {
        margin: 0;
      }
    }

    .left-row {
      margin: 20px 0 0;

      ul {
        margin: 0 auto;

        li {
          font-size: 20px;

          &::before {
            font-size: 20px;
            width: 16px;
          }
        }
      }
    }

    h2 {
      font-size: 18px;
    }

    .pricing-card {
      .card-list {
        font-size: 14px;
        padding: 10px 0 10px 8%;
      }
    }

    .form-left {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: 0 0px 30px 2px rgba(0, 0, 0, 0.17);
      height: auto;
      margin: 0 5px;
      padding: 10px 15px;
      width: auto;

      p {
        font-size: 16px;
        line-height: 26px;
        margin: 0;

        span {
          font-size: 16px;
        }
      }
    }

    .form-right {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-shadow: 0 18px 20px 0 rgba(0, 0, 0, 0.17);
      float: initial;
      margin: 0;
      padding: 20px 0;
      position: relative;
      width: calc(100% - 10px);
      z-index: 10;

      .form-group {
        margin-bottom: 25px;
      }
    }

    .product-pricing {
      padding-top: 10px;
    }
  }
  .costcontrol-header {
    h3 {
      font-size: 16px;
      padding-left: 0;
    }
  }

  .product-features {
    margin-top: 50px;

    h2 {
      font-size: 50px;
    }

    h3 {
      left: 0;
      font-size: 27px;
      line-height: 20px;
    }

    .line {
      margin-left: 11px;
    }

    .features {
      text-align: center;
      font-size: 14px;
    }

    .gray-bg {
      margin-bottom: 50px;
      min-height: auto;
    }

    h4 {
      text-align: center;
      min-height: 0;
      font-size: 16px;
    }

    p {
      text-align: center;
      font-size: 14px;
    }

    .stepsdivider {
      padding: 0 !important;

      img {
        margin: 0 auto 10px;
      }
    }

    .description {
      padding-bottom: 30px !important;
    }
  }
  .estimation-services {
    .primary-part {
      font-size: 50px;
      margin-bottom: 0px;
      padding-bottom: 77px;
      padding-left: 8px;
      color: #3C3C3C;
    }

    .services-info {
      font-size: 17px;
      position: relative;
      padding-left: 8px;
      top: 30px;
    }

    .estimation-services-service {
      margin-top: 60px;
      text-align: center;

      p {
        text-align: center;
        font-size: 20px;
        padding-left: 8px;
        line-height: 30px;
        padding-top: 30px;
      }

      .estimation-learnmore {
        margin-left: 0;
        margin-top: 8px;
        font-size: 16px;
        &:hover {
          background-color: #ffffff;
        }
      }

      img {
        margin: 0 auto;
      }

      .estimation-setp1 {
        margin-top: -40px;
      }
    }
  }
  .costcontrol-header {
    h3 {
      padding: 0;
      text-align: center;

      &:before {
        right: 8px;
      }
    }

    p {
      padding-left: 8px;
    }
  }
  .why-estimation, .outsource-estimation, .cost-estimation {
    padding: 0;

    .estimation-modal-dialog {
      top: 0;
      transform: translate(0, 0);
      min-width: 300px !important;
      width: auto;
      padding-bottom: 40px;

      .modal-body {
        .estimation-modal-close {
          float: right;
          font-size: 35px;
          font-weight: 400;
          height: 22px;
          padding: 0;
          width: 22px;
          line-height: 0;
          position: relative;
          right: -2px;
          top: -3px;
          color: #000;
          border: none;
          background: none;
        }

        h3 {
          font-size: 16px;
          padding-top: 10px;
          margin-top: 0px;
          line-height: 26px;
          padding-left: 0;
        }

        h4 {
          font-size: 16px;
          line-height: 26px;
          padding-left: 0;
        }

        .estimation-inner-lists {
          padding-left: 10px;

          li {
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 10px;

            &:before {
              left: -21px;
              font-size: 30px;
            }
          }
        }
      }

      ol {
        margin-top: 10px;
      }
    }
    .privacy-modal-dialog {
      h2{
        line-height: 25px;
        margin-left: -10px;
      }

      li{
        margin-left: -20px;
      }
      h5{
        line-height: 23px;
      }
      .privacy-modal-title{
        margin-left: 10px;
      }
    }
  }
  .about-us {
    h4 {
      font-size: 30px;
      padding-top: 10px;
    }

    h3 {
      margin-bottom: 0 !important;
    }

    label {
      font-size: 30px;
    }

    .primary-part {
      font-size: 40px;

    }

    .decription {
      font-size: 14px;
      text-align: justify;
      padding-top: 35px;
    }

    p {
      font-size: 14px;
      text-align: justify;
    }

    /*.contact-grey-box {
      height: 270px;
      margin-left: 17px;
      width: 270px;
      margin-top: -40px;
    }

    .grey-yellow-box {
      height: 270px;
      left: 16px;
      width: 266px;
      top: -19px;
      right: 0;
    }

    h5 {
      padding-top: 0;
    }

    .about-founder {
      margin-top: 30px;
    }*/
  }
  .footer {
    margin-top: -110px;
  }
  .form-success {
    padding: 10px 20px;
    min-height: auto;
    text-align: left;
    .success-msg {
      font-size: 30px;
      line-height: 34px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .product-features {
    margin-top: 60px;

    h4 {
      font-size: 16px;
      min-height: auto;
    }

    p {
      font-size: 14px;
      line-height: 26px;
    }

    .features {
      font-size: 14px;
    }

    .line {
      margin-left: 20px;
    }

    h3 {
      margin-left: 110px;

    }

    .stepsdivider {
      padding-top: 60px;

      &:last-child {
        .gray-bg {
          min-height: auto;
        }
      }
    }

    .gray-bg {
      min-height: 428px;
    }
  }

  .costcontrol-header {
    h3:before {
      right: 7px;
    }
  }

  .estimation-services {
    .estimation-services-service {
      margin-top: 60px;

      p {
        text-align: center;
      }

      .estimation-learnmore {
        margin-left: 0;
        margin-top: 8px;
      }

      img {
        margin: 0 auto;
      }
    }
  }

  .why-estimation, .outsource-estimation, .cost-estimation {
    .privacy-modal-close{
      right: 16px;
      top: 3px;
    }
    .estimation-modal-dialog {
      top: 0;
      transform: translate(0, 0);
      width: 600px;
      padding-bottom: 40px;
      margin-left: 90px;

      h4 {
        font-size: 18px;
        padding-top: 42px;
        line-height: 26px;
        padding-left: 0;
      }

      .estimation-inner-lists {
        padding-left: 22px;
      }

      .estimation-modal-close {
        right: 20px;
        top: 9px;
      }
    }
  }
  .middleline {
    margin-left: 250px;
  }
  .outsource-estimation {
    li:before {
      left: -12px;
      font-size: 30px;
    }

    h3 {
      line-height: 78px;
      padding-top: 30px;
    }
  }
  .about-us {
    .description {
      font-size: 14px;
    }

    .contact-grey-box {
      height: 280px;
      width: 278px;
    }

    .grey-yellow-box {
      height: 278px;
      padding: 15px;
      width: 275px;
    }

    p {
      font-size: 14px;

    }
  }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
  .about-us {
    .contact-grey-box {
      height: 260px;
      width: 260px;
    }
    .grey-yellow-box {
      height: 264px;
      top: 7px;
      left: 25px;
      width: 264px;
    }
  }
}
