<div class="change-password">

  <form [formGroup]="userForm" (submit)="onSubmit()">
    <p>{{getMessages().MSG_CHANGE_PASSWORD}}</p>

    <div class="form-group">
      <cn-control-messages [control]="userForm.controls.current_password"></cn-control-messages>
      <label>{{getLabels().CURRENT_PASSWORD_LABEL}}</label>
      <input type="password" formControlName="current_password" id="current_password" class="form-control" required/>
    </div>

    <div class="form-group">
      <cn-control-messages [control]="userForm.controls.new_password"></cn-control-messages>
      <label>{{getLabels().NEW_PASSWORD_LABEL}}</label>
      <input type="password" formControlName="new_password" id="new_password" class="form-control" required/>
    </div>

    <div class="form-group">
      <cn-control-messages *ngIf="isPasswordConfirm == false"
                           [control]="userForm.controls.confirm_password"></cn-control-messages>
      <label>{{getLabels().CONFIRM_PASSWORD_LABEL}}</label>
      <input type="password" formControlName="confirm_password" id="confirm_password"
             (blur)="makePasswordConfirm()" class="form-control" required/>
      <span class="error-messages" *ngIf="isPasswordConfirm == true">{{getMessages().MSG_CONFIRM_PASSWORD}}</span>
    </div>
    <div class="col-sm-10 col-xs-11 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage"><b>{{
      error_msg }}</b></div>
    <button type="submit" class="btn btn-primary pull-right">{{getButtons().CHANGE_PASSWORD_BUTTON}}</button>

  </form>
</div>


<div class="modal popup" [style.display]="getStyle()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-label="Close" (click)="showHideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5>{{getMessages().MSG_CHANGE_PASSWORD_SUCCESS_HEADER}}</h5>
        </div>
        <div class="modal-body">
          <p>{{getMessages().MSG_CHANGE_PASSWORD_SUCCESS}}</p>
          <div class="clearfix">&nbsp;</div>
          <button type="button" class="btn btn-primary" (click)="logOut()">Yes</button>
          <button type="button" class="btn btn-danger" (click)="showHideModal()">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
