@import '../../../css/common';
@import '../../../css/variables';

.change-password {
  .error-messages {
    color: $error-messages;
    font-size: 10px;
    font-style: italic;
    margin: 1px 0 0;
    position: absolute;
    line-height: 12px;
  }

  form {
    label {
      z-index: 1 !important;
    }

    label > img {
      height: 20px;
      width: 20px;
    }
  }
  .form-group {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.modal {
  h5 {
    font-weight: bold;
    color: $cn-theme-color;
    padding: 0;
    font-size: 16px;
    background: $modal-bg1 !important;
  }

  .modal-content {
    border: 0;
  }

  .modal-body {
    padding: 0 15px;
    text-align: left;

    p {
      text-align: left;
      margin: 15px 0;
    }
  }
}

@media (max-width: 767px) {
  .change-password {
    .form-group {
      input {
        margin: 0;
      }
    }
  }
}

