@import '../../../css/common';
@import '../../../css/variables';


.settings {
  text-align: left;
  display: table-cell;
  vertical-align: middle;

  .settings-content {
    transform: inherit;
    margin: 0 auto;
    float: none;
    left: 0;
    top: 0;
    position: relative;
    background: $white;
    padding: 0;
    text-align: left;
    border: 1px solid $gray;
    box-shadow: -1px 3px 10px $content-box-shadow;

    h5 {
      color: $name;
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding: 15px 0 10px 15px;
      background: transparent !important;
      border-bottom: 0 solid $border-color;
      font-family: gothamrnd-light;
    }

    h5 > .glyphicon-remove {
      color: $white;
      font-size: 13px;
      position: absolute;
      right: 15px;
      top: 12px;
      cursor: pointer;
    }

    p {
      text-align: left;
      margin: 0 0 15px;
    }
  }

  ul {
    padding: 0;
  }

  li {
    clear: both;
    display: table;

    .next {
      float: right;
      height: 17px;
      transform: rotate(180deg);
      width: 20px;
    }
  }

  .hide-list {
    display: none;
  }

  .account {
    padding: 15px;
  }
}
.change-password {
  .error-messages {
    color: $error-messages;
    font-size: 10px;
    font-style: italic;
    margin: 1px 0 0;
    position: absolute;
    line-height: 12px;
  }

  form {
    label {
      z-index: 1 !important;
    }

    label > img {
      height: 20px;
      width: 20px;
    }
  }
  .form-group {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

.modal {
  h5 {
    font-weight: bold;
    color: $cn-theme-color;
    padding: 0;
    font-size: 16px;
    background: $modal-bg1 !important;
  }

  .modal-content {
    border: 0;
  }

  .modal-body {
    padding: 0 15px;
    text-align: left;

    p {
      text-align: left;
      margin: 15px 0;
    }
  }
}

@media (max-width: 767px) {
  .change-password {
    .form-group {
      input {
        margin: 0;
      }
    }
  }

  .modal {
    .modal-body {
      p {
        padding: 0;
      }
    }
  }
}

