<tpl-dashboard-header *ngIf="isUserSignIn == 1"></tpl-dashboard-header>
<header class="create-new-header">
  <button class="btn-back" (click)="goBack()"><img src="assets/build-info/create-new-project/back.png" /><span>{{getButton().GO_BACK}}</span></button>
  <button class="btn-close" (click)="goBack()"><img src="assets/build-info/create-new-project/close.png" /><span>{{getButton().CLOSE_BUTTON}}</span></button>
</header>
<section [class.wrapper]="isUserSignIn == 1">
  <div class="page-background" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND_TRANSPARENT + ')'}">
    <div class="inner-content clearfix">
      <div class="content">
        <h4 class="visibe-xs hidden-sm hidden-md hidden-lg">{{getMenus().COPY_BUILDING}}</h4>
        <bi-building-form [submitActionLabel]="'Done'" (onSubmitEvent)="onSubmit($event)" [buildingModel]="cloneBuildingModel" *ngIf="cloneBuildingModel" [buildingName]="oldBuildingName"></bi-building-form>
      </div>
    </div>
  </div>
</section>

