<div class="modal" [style.display]="setStyleForDialogueBox()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="onCancel()">
            <span>&times;</span>
          </button>
          <h5 class="modal-title">{{getHeading().CLONE_JOB}}</h5>
        </div>
        <div class="modal-body">
            <div class="col-sm-12">
              <div class="form-group">
                <label>{{getLabel().JOB_TITLE}}</label>
                <input class="form-control" type="text" maxlength="40" [(ngModel)]="selectedJobTitle"/>
                <p class="error-messages" *ngIf="isShowEmptyTitleError">Job Title can not be Empty</p>
              </div>
            </div>
          <div class="button-group">
            <button (click)="onClone()" class="btn btn-primary">{{getButtonLabel().CLONE_BUTTON}}</button>
            <button (click)="onCancel()" class="btn btn-default">{{getButtonLabel().CANCEL_BUTTON}}</button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
