@import '../../../../css/variables';

.modal-content {
  .modal-title {
    color: $theme-color;
    font-size: 16px;
    font-weight: 900;
  }

  .form-group {
    margin-top: 25px;
  }

  .button-group {
    text-align: left !important;
  }

  .error-messages {
    color: $error-messages;
    font-size: 10px;
    font-style: italic;
    margin: 0;
    position: absolute;
    line-height: 16px;
  }

  .button-group {
    margin: 30px 0 10px;
  }
}
