<cn-user-header></cn-user-header>
<section class="container">
  <div class="page-background">
    <div class="inner-content clearfix">
      <div class="content">
        <h4>Forgot your password?</h4>
        <p>{{forgotPasswordMessage}}</p>

        <form [formGroup]="userForm" (submit)="onSubmit()" novalidate>
          <div class="form-group">
            <control-messages [control]="userForm.controls.email" [submitStatus]="submitStatus"></control-messages>
            <label>Email address</label>
            <input formControlName="email" id="email" class="form-control" autocomplete="off" required
                   placeholder="johndoe@example.com" [(ngModel)]="emailForForgetPassword"/>
          </div>

          <div class="col-sm-10 col-xs-11 error-msg alert alert-danger form-alert">
            <b>{{ error_msg }}</b>
          </div>
          <div class="button-group">
            <button type="submit" class="btn btn-primary">{{forgotPasswordButtonLabel}}</button>
            <div class="other-links">
              <div *ngIf='isShowLoader' class="forgot-password-loader">
                <img src="assets/build-info/loader/main-loading.svg" height="20" width="160"/>
              </div>
              <a (click)="goBack()">Back to sign in</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
