@import '../../../framework/landing-page/landing-page.component';

.page-background {

  .inner-content {
    .content {
      width: 450px;
    }

    p {
      margin-bottom: 10px;
    }
    .forgot-password-loader {
      position: absolute;
      left: 0;
    }

    .btn-primary {
      margin: 0;
    }

    .form-group {
      margin-top: 40px;
    }

    .button-group {
      position: relative;
    }

    .other-links {
      font-size: 13px;
      font-weight: 600;
    }

  }
}

@media screen and (max-width: 767px) {
  .page-background {
    .inner-content {
      .content {
        width: 100%;
        h4 {
          font-size: 34px;
          margin-bottom: 10px;
        }
        p {
          font-size: 14px;
          margin: 0 auto;
          width: 230px;
        }
        .form-group {
          margin-bottom: 40px;
        }
      }
    }
  }
}
