@import '../../../framework/landing-page/landing-page.component';

.page-background {

  .inner-content {
    .content {
      width: 450px;
    }

    p {
      margin-bottom: 10px;
    }
    .forgot-password-loader {
      position: absolute;
      left: 0;
    }

    .btn-primary {
      margin: 0;
    }

    .form-group {
      margin-top: 40px;
    }

    .button-group {
      position: relative;
    }

    .other-links {
      font-weight: 600;
    }

  }
}
