<header class="page-header">
  <nav class="navbar">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false" (click)="isClassVisible = !isClassVisible;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" [routerLink]="['/dashboard']" (click)="navigateTo('/dashboard');">
          <img src={{HEADER_LOGO}}/>
        </a>
      </div>

      <div class="bg-overlay" [class.show]="isClassVisible" (click)="isClassVisible = false;"></div>
      <div class="collapse navbar-collapse" [class.open-nav]="isClassVisible">
        <div class="container">
          <ul class="nav navbar-nav navbar-left hidden-xs navbar-links">
            <li role="menuitem" [routerLinkActive]="['active']">
              <a class="dropdown-item"  [routerLink]="['/dashboard']" (click)="navigateTo('/dashboard');">Project Master</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item">Learn</a>
            </li>
            <!--<li role="menuitem">
              <a class="dropdown-item" href="http://buildinfo.co.in" target="_blank">Rates</a>
            </li>-->
          </ul>
          <bi-project-selector></bi-project-selector>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown last-child">
            <div class="dropdown">
              <a class="hidden-xs simple-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                <!--<img src="assets/framework/images/dashboard/profile.png" alt="User Profile"/>-->
                <h6>{{user_first_name}}</h6>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu mobile-dropdown">
                <li class="user-info">
                  <!--<img class="visible-xs" src="assets/framework/images/dashboard/profile.png" alt="User Profile"/>
                  <h4>{{user_first_name}}</h4>-->
                  <div class="my-info">
                    <div class="description-container clearfix">
                      <div class="image-container">
                        <!--<cn-profile-picture (onPictureUpload)="onPictureUpload($event)"></cn-profile-picture>-->
                        <p>{{first_letter}}</p>
                      </div>
                      <div class="description">
                        <div class="user-name">
                          <p class="profile-name">{{user_first_name}}</p>
                          <p class="profile-email">{{user_email}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="divider"></li>
                <li role="menuitem" [routerLinkActive]="['active']">
                  <a class="dropdown-item" [routerLink]="['/dashboard/details']"
                     (click)="navigateTo('/dashboard/details');">Account Details
                  </a>
                </li>
                <!--<li role="menuitem" [routerLinkActive]="['active']">
                  <a class="dropdown-item" [routerLink]="['/dashboard/change-password']" (click)="navigateTo('/dashboard/change-password');">
                    <span class="glyphicon glyphicon-lock"></span>Change Password
                  </a>
                </li>-->
                <li role="menuitem">
                  <a class="dropdown-item" (click)="logOut()">
                    Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <bi-share-print-page></bi-share-print-page>
      </div>
    </div>
  </nav>
</header>
