<header class="page-header" id="candidate-header">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false" (click)="isClassVisible = !isClassVisible;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" (click)="navigateTo('/'); closeMenu($event);">
          <img src={{MOBILE_LOGO}}/>
        </a>
      </div>
      <ul class="header-links visible-xs">
        <li>
          <a class="dropdown-item" [routerLink]="['value-portrait']"
             (click)="navigateToWithId('/value-portrait');">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
        <li>
          <a class="dropdown-item" [routerLink]="['profile-edit']"
             (click)="navigateTo('/candidate/profile');">
            <span class="	glyphicon glyphicon-edit"></span>
          </a>
        </li>
      </ul>
      <div class="bg-overlay" [class.show]="isClassVisible" (click)="isClassVisible = false;"></div>
      <div class="collapse navbar-collapse" [class.open-nav]="isClassVisible">
        <ul class="nav navbar-nav navbar-left hidden-xs navbar-links">
          <li role="menuitem" [routerLinkActive]="['active']">
            <a class="dropdown-item"  [routerLink]="['/dashboard']" (click)="navigateTo('/dashboard');">
              <span class="icon-dashboard"></span>My Dashboard
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown last-child">
            <div class="dropdown">
              <a class="hidden-xs simple-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                <img src="assets/framework/images/dashboard/profile.png" alt="User Profile"/>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu mobile-dropdown">
                <li class="user-info user-info-ipad">
                  <img class="visible-xs" src="assets/framework/images/dashboard/profile.png" alt="User Profile"/>
                  <h4>{{user_first_name}} {{user_last_name}}</h4>
                </li>
                <li class="divider"></li>
                <li role="menuitem" [routerLinkActive]="['active']">
                  <a class="dropdown-item" [routerLink]="['/dashboard/details']"
                     (click)="navigateTo('/dashboard/details');">
                    <span class="glyphicon glyphicon-list-alt"></span>Account2 Details
                  </a>
                </li>
                <li role="menuitem" [routerLinkActive]="['active']">
                  <a class="dropdown-item" [routerLink]="['/dashboard/change-password']" (click)="navigateTo('/dashboard/change-password');">
                    <span class="glyphicon glyphicon-lock"></span>Change Password
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" (click)="logOut()">
                    <span class="glyphicon glyphicon-log-out"></span>Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </nav>
</header>
