$text-color: #576b7c;
$name: #666;
$blue-color: #0d75fa;
$light-green: #96e328;
$orange: #ffb316;
$red: #e82c0c;
$green: #68ab26;
$blue: #0d75fa;

.basic-description {
  text-align: left;

  p,
  span,
  label {
    color: $text-color;
    font-size: 13px;
    word-break: keep-all;
  }

  .basic-info {
    img {
      float: left;
      margin-right: 15px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    .name {
      color: $name;
      font-family: 'gothamrnd-book';
      font-weight: bold;
      text-transform: capitalize;
      width: calc(100% - 70px);
      float: left;
    }

    p {
      color: $text-color;
      margin: 0 0 5px;
    }
  }

  .details {
    border-bottom: 1px solid $blue-color;
    margin: 0;
    padding-bottom: 15px;

    .col-sm-6 {
      min-height: 20px;
    }

    span {
      color: $text-color;
      width: 100%;
    }

    label {
      color: $blue-color;
      font-weight: bold;
      font-family: 'gothamrnd-book';
      margin: 20px 0 0;
      width: 100%;
    }
  }
}

.first-label {
  margin-top: 0;
}

.exact {
  color: $light-green !important;
}

.above {
  color: $green !important;
}

.below {
  color: $orange !important;
}

.missing {
  color: $red !important;
}
