<section class="container-fluid one-page-summary">
  <div class="col-sm-3 left-content">
    <div>
      <div class="basic-description" *ngIf="recruiter != undefined">

        <div class="basic-info clearfix">
          <img src= "assets/framework/images/dashboard/profile.png" alt="User Profile" *ngIf="recruiter.company_logo==undefined"/>
          <img [src]="getImagePath(recruiter.company_logo)"  alt="User Profile" *ngIf="recruiter.company_logo!=undefined"/>
          <p class="name">{{recruiter.company_name}}</p>
        </div>

        <div class="details clearfix" *ngFor="let postedJob of recruiter.postedJobs">
          <label>Job Title</label>
          <span>{{postedJob.jobTitle}}</span>
          <label>Hiring Manger</label>
          <span>{{postedJob.hiringManager}}</span>
          <label>Department</label>
          <span>{{postedJob.department}}</span>
          <label>Industry</label>
          <span>{{postedJob.industry.name}}</span>
          <label>Specialization area</label>
      <span *ngFor="let role of postedJob.industry.roles;let i = index">{{role.name}}
        <span *ngIf="postedJob.industry.roles.length>1 &&  i!=postedJob.industry.roles.length-1">,</span>
      </span>
          <label>Additional Industry</label>
      <span *ngFor="let industry of postedJob.interestedIndustries;let i = index">{{industry}}<span
        *ngIf="recruiter.postedJobs[0].interestedIndustries.length>1 && i!=postedJob.interestedIndustries-1">,</span>
      </span>
          <label [class.exact]="data.educationMatch=='exact'" [class.above]="data.educationMatch=='above'"
                 [class.below]="data.educationMatch=='below'" [class.missing]="data.educationMatch=='missing'">Education</label>
          <span>{{postedJob.education}}</span>
          <label [class.exact]="data.experienceMatch=='exact'" [class.above]="data.experienceMatch=='above'"
                 [class.below]="data.experienceMatch=='below'" [class.missing]="data.experienceMatch=='missing'">Experience</label>
          <span>{{postedJob.experience}}</span>
          <label [class.exact]="data.salaryMatch=='exact'" [class.above]="data.salaryMatch=='above'"
                 [class.below]="data.salaryMatch=='below'" [class.missing]="data.salaryMatch=='missing'" >Salary</label>
          <span>{{postedJob.salary}}</span>
          <label  [class.exact]="data.releaseMatch=='exact'" [class.above]="data.releaseMatch=='above'"
                  [class.below]="data.releaseMatch=='below'" [class.missing]="data.releaseMatch=='missing'">Joining Period</label>
          <span>{{data.joiningPeriod}}</span>
          <label>Location</label>
          <span>pune</span>
        </div>
      </div>
    </div>
    <div>
      <h4>About Company</h4>
      <cn-additional-details [data]="recruiter.about_company"></cn-additional-details>
    </div>
    <!--  &lt;!&ndash; <div>
       <cn-contact-details [recruiter]="recruiter"></cn-contact-details>
     </div>&ndash;&gt;-->
  </div>

  <div class="col-sm-9 right-content" *ngFor="let postedJob of recruiter.postedJobs">
    <div class="col-sm-12">
      <cn-capability-compare [roles]="data.industry.roles"></cn-capability-compare>
    </div>
    <div class="col-sm-12 no-padding">
      <!--<div class="col-sm-6" *ngIf="secondaryCapabilities.length>0">
        <h4 >Supplimentry Capabilities</h4>
        <cn-horizontal-list-view [data]="secondaryCapabilities"></cn-horizontal-list-view>
      </div>-->
      <div class="col-sm-6">
        <h4>Proficiency In</h4>
        <cn-proficiency-compare [data]="data.proficiencies" [matchdData]="data.proficienciesMatch"></cn-proficiency-compare>
      </div>
    </div>
    <!--<div class="col-sm-12 no-padding">
      <div class="col-sm-6">
        <h4>Competencies</h4>
        <cn-additional-details [data]="postedJob.competencies"></cn-additional-details>
      </div>
      <div class="col-sm-6">
        <h4>Responsibility</h4>
        <cn-additional-details [data]="postedJob.responsibility"></cn-additional-details>
      </div>
    </div>-->
  </div>
</section>




