@import '../../../../../css/variables';

.basic-description {
  text-align: left;
  padding-top: 38px;

  p,
  span,
  label {
    color: $text-color2;
    font-size: 13px;
    word-break: keep-all;
  }

  .basic-info {
    img {
      float: left;
      margin-right: 15px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    .name {
      color: $name;
      font-family: 'gothamrnd-book';
      font-weight: bold;
      text-transform: capitalize;
      width: calc(100% - 70px);
      float: left;
    }

    p {
      color: $text-color2;
      margin: 0 0 5px;
      word-break: keep-all;
      float: left;
    }
  }

  .details {
    border-bottom: 1px solid $blue-color;
    margin: 0;
    padding-bottom: 15px;

    .col-sm-6 {
      min-height: 20px;
    }

    span {
      color: $text-color2;
      width: 100%;
    }

    label {
      color: $blue-color;
      font-weight: bold;
      font-family: 'gothamrnd-book';
      margin: 20px 0 0;
      width: 100%;
    }
  }
}

.first-label {
  margin-top: 0;
}

.exact {
  color: $green2 !important;
}

.above {
  color: $green !important;
}

.below {
  color: $orange1 !important;
}

.missing {
  color: $red1 !important;
}
