<div  class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-body">
      <h1>{{getHeadings().CREATE_PROJECT_MODAL_HEADING}}</h1><br><br>
      <h1 *ngIf="isProjectModalActive">{{getMessage().MSG_CONFIRMATION_CREATE_PROJECT}}</h1><br><br>
      <div *ngIf="isRetainModalActive">
      <p [innerHtml]="getMessage().MSG_CREATE_PROJECT_CONFIRMATION"></p>
      </div>
      <button class="btn btn-primary bi-btn" type="button" (click)="onCancel()" data-dismiss="modal">Cancel</button>
      <button *ngIf="isRetainModalActive" type="button" class="btn btn-default" (click)="onContinue()" data-dismiss="modal">Continue</button>
      <button *ngIf="isProjectModalActive" type="button" class="btn btn-default" (click)="onProjectModalClick()" data-dismiss="modal">Yes I'm sure</button>
    </div>
  </div>

</div>
<div *ngIf="retainProjectScreen">
  <bi-retain-project [isSubscriptionAvailable]="isSubscriptionAvailable"
                     [packageName]="packageName" [premiumPackageAvailable]="premiumPackageAvailable">

  </bi-retain-project>
</div>



