$profile-background: #f2f2f2;
$process-color: #224879;
$active-color: #fff;
$active-text-color: #224879;
$active-progress-line: #8eb4d9;
$bubble-background: #35567e;
$white: #fff;
$border-color: #e8e8e8;

.error-messages {
  color: #f66761;
  font-size: 10px;
  font-style: italic;
  margin: 0;
  position: absolute;
  line-height: 11px;
}


.form-control {
  background-color: $white;
  border-radius: 0;
  display: block;
  box-shadow: none;
  padding: 6px;
  width: 100%;
  font-size: 12px;

  &:focus,
  &:active {
    outline: none;
  }
}

.col-sm-3 {
  margin-bottom: 15px;
  width: 23.3%;

  .list {
    display: inline-block;
    width: 100%;

    .form-control {
      width: 100%;
    }
  }
}

label {
  width: 100%;
  font-size: 14px;
  float:left;
  margin: 15px 0 5px;
}

@media only screen and (max-width: 1024px) {
  label {
    font-size: 11px;
    float:left;
    line-height: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .form-control {
    margin: 0 0 10px 0;
  }

  .col-sm-4 {
    padding: 0;
  }
}