
  <div class="col-sm-6">
    <label>Job Location:</label>

    <div class="col-sm-3 padding-right5">
      <div class="list">
        <div ng2-auto-complete
             [source]="countries"
             (ngModelChange)="selectCountryModel($event)">
          <input  [ngModel]="countryModel" class="form-control" placeholder="Country" />
        </div>
      </div>
    </div>
    <div class="col-sm-3 padding-right5">
      <div class="list">
        <div ng2-auto-complete
             [source]="states"
             (ngModelChange)="selectStateModel($event)">
          <input [ngModel]="stateModel" class="form-control" (click)="selectCountryMessage()" placeholder="State" [disabled]="isCountrySelected"/>
         <!-- <span  class="error-messages">Please select Country first.</span>-->
        </div>
      </div>
    </div>
    <div class="col-sm-3 no-padding">
      <div class="list">
        <div ng2-auto-complete
             [source]="cities"
             (ngModelChange)="selectCityModel($event)">
          <input  [ngModel]="cityModel" class="form-control" (click)="selectStateMessage()" placeholder="City" [disabled]="isStateSelected"/>
         <!-- <span  class="error-messages">Please select Country and State first.</span>-->
        </div>
      </div>
    </div>
  </div>

 <!-- <div class="col-sm-6">
    <label class="select-label">Select State:</label>

  </div>

  <div class="col-sm-6">
    <label class="select-label">Select City:</label>

  </div>-->

  <!--<div class="col-sm-6">
    <label>PIN:</label>
    <input type="number" class="form-control" id="pin" [(ngModel)]="pin" (ngModelChange)="isPinSelected($event)" min="100000" max="999999"/>
  </div>-->

