// Dark Theme Variables /
$dark-theme-color: #3695d1;
$dark-theme-hover: #a44537;
$dark-theme-background: #6f3025;
$dark-theme-gradient-light: #ec7350;
$dark-theme-gradient-dark: #a83f63;
$white: #fff;

//Dark Theme common classes
// Gradient Background
%dark-theme-gradient {
  background: linear-gradient(141deg, $dark-theme-gradient-dark 0%, $dark-theme-gradient-light 100%);
}

.dark-theme {

  // Loader
  .loader-container {

    .inner-loader { border-top: 5px solid $dark-theme-color; }
  }
  // Heading
  h3 { color: $dark-theme-color; }

  // Buttons
  .btn-default {
    background: $dark-theme-color;
    border: $dark-theme-color 1px solid;
    color: $white;

    &:hover,
    &:active,
    &:focus {
      background: $dark-theme-color;
      border: $dark-theme-color 1px solid;
      color: $white;
    }

    &:disabled  {
      background: $dark-theme-color;
      border: $dark-theme-color 1px solid;
    }
  }

  // Other Links
  .other-links {

    a { color: $dark-theme-color; }
  }

  // Forms
  form {

    .form-control {

      &:focus,
      &:active {
        border-bottom: $dark-theme-color 1px solid;
      }
    }
  }
  // Header
  header {  @extend %dark-theme-gradient; }

  //splash screen header

  .page-background {
    .page-header {
      background: $dark-theme-color;
    }
  }

  //wrapper heading
  .wrapper {
    h5 {
      background: $dark-theme-color;
    }
  }

  // Side Menu Bar
  .dashboard {

    .menu-container { @extend %dark-theme-gradient; }

    nav {
      .profile { background: $dark-theme-background; }
    }

    nav > ul > li {
      border-bottom: 1px solid $dark-theme-hover;

      a {
        &:hover {
          background: $dark-theme-hover;
        }
      }
    }
  }

  // Settings, About , Notification
  .settings,
  .about,
  .notification {

    ul > li {

      h5 {
        color: $dark-theme-color;
      }

      .read {
        background: $dark-theme-color;
      }
    }

    ul > li > a {

      &:hover,
      &:focus {
        color: $dark-theme-color;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .dark-theme {
    // Buttons
    .btn-default {

      &:disabled  {
        opacity: .3;
      }
    }
  }
}
