// Light Theme Variables
$light-theme-color: #83ce85;
$light-theme-hover: #23a2ad;
$light-theme-background: #1c6872;
$light-theme-gradient-light: #96ce8e;
$light-theme-gradient-dark: #64c6d8;
$white: #fff;

// Light Theme Common classes
// Gradient Background
%light-theme-gradient {
  background: linear-gradient(141deg, $light-theme-gradient-dark 0%, $light-theme-gradient-light 100%);
}


.light-theme {

  // Loader
  .loader-container {

    .inner-loader {
      border-top: 5px solid $light-theme-color;
    }
  }
  // Heading
  h3 { color: $light-theme-color; }

  // buttons
  .btn-default {
    background: $light-theme-color;
    border: $light-theme-color 1px solid;
    color: $white;

    &:hover,
    &:active,
    &:focus {
      background: $light-theme-color;
      border: $light-theme-color 1px solid;
      color: $white;
    }

    &:disabled  {
      background: $light-theme-color;
      border: $light-theme-color 1px solid;
    }
  }


  // Other Links
  .other-links {

    a { color: $light-theme-color; }
  }

  // Forms
  form {

    .form-control {

      &:focus {
        border-bottom: $light-theme-color 1px solid;
      }
    }
  }

  // Header
  header { @extend %light-theme-gradient; }

  // Side Menu Bar
  .dashboard {

    .menu-container { @extend %light-theme-gradient; }

    nav {
      .profile {  background: $light-theme-background; }
    }

    nav > ul > li {

      a {
        border-bottom: 1px solid $light-theme-hover;

        &:hover {
          background: $light-theme-hover;
        }
      }
    }
  }

  // Settings, About , Notification
  .settings,
  .about,
  .notification {

    ul > li {
      h5 {
        color: $light-theme-color;
      }

      .read {
        background: $light-theme-color;
      }
    }

    ul > li > a {

      &:hover,
      &:focus {
        color: $light-theme-color;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .light-theme {
    // Buttons
    .btn-default {

      &:disabled  {
        opacity: .4;
      }
    }
  }
}
