<section class="wrapper">
  <div class="container">
    <div class="col-sm-12 no-padding" *ngIf="isVisible">
      <ul class="animated-list">

        <li (click)="createProject(isSubscriptionExist,isRetainModalActive,isProjectModalActive,premiumPackageAvailable)" class="animate-item" [ngStyle]="animateView ? getListItemAnimation(i) : null">
          <div class="building-image-container">
            <div class="building-image" title="Create New Project" >
              <img src="assets/build-info/create-new-project/plus-sign.png" />
            </div>
          </div>
          <h4 *ngIf="projects.length>0">{{ getButton().CREATE_NEW_PROJECT }}</h4>
          <h4 *ngIf="projects.length==0">{{ getButton().CREATE_TRIAL_PROJECT }}</h4>
        </li>

        <li *ngFor="let project of projects; let i = index" class="animate-item" [ngStyle]="animateView ? getListItemAnimation(i) : null">
          <bi-project-item [project]="project"></bi-project-item>
        </li>

        <li *ngIf="!isSamplePrjUser">
          <bi-project-item [project]="sampleProject[0]"></bi-project-item>
        </li>
      </ul>

      <div class="modal fade default-modal" id="createProjectConfirmation" role="dialog">
        <bi-create-project-confirmation-modal
          [isProjectModalActive]="isProjectModalActive"
          [isRetainModalActive]="isRetainModalActive"
          [isSubscriptionAvailable]="isSubscriptionExist"
          [packageName]="packageName"
          [premiumPackageAvailable]="premiumPackageAvailable">
        </bi-create-project-confirmation-modal>
      </div>


    </div>
  </div>
</section>
