<section class="wrapper">
  <div class="container">
    <div class="col-sm-12 no-padding">
      <ul>
        <li *ngFor="let project of projects">
          <bi-project-item [project]="project"></bi-project-item>
        </li>
        <li (click)="createProject()">
          <div class="building-image-container">
            <div class="building-image">
              <span class="glyphicon glyphicon-plus"></span>
            </div>
          </div>
          <h4>{{getButton().CREATE_NEW_PROJECT}}</h4>
        </li>
      </ul>
    </div>
  </div>
</section>
