<div class="list-container" *ngIf="candidates && candidates.length>0">
  <div class="header">
    <!--<a href="./public/candidate.csv" download="candiadte.csv" title="Export Candidate to CSV File"><i class="glyphicon glyphicon-export"></i>Export</a>-->
  </div>
  <a href="./public/candidate.csv" download="candiadte.csv" title="Export Candidate to CSV File"
     class="export-data-link"><i class="glyphicon glyphicon-export"></i>Export</a>
  <div class="list-view">
    <ul class="list-header">
      <li>
        <h5>Name</h5>
      </li>
      <li>
        <h5>Job Title</h5>
      </li>
      <li>
        <h5>Email Address</h5>
      </li>
      <li>
        <h5>Contact</h5>
      </li>
      <li>
        <h5>Current Location</h5>
      </li>
      <li>
        <h5>Profile Status</h5>
      </li>
      <li>
        <h5>Activation Status</h5>
      </li>
      <li>
        <h5>Activation Action</h5>
      </li>
    </ul>
    <div *ngFor="let candidate of candidates;let i = index">
      <ul>
        <li>
          <p>{{candidate.first_name}} {{candidate.last_name}}</p>
        </li>
        <li>
          <p *ngIf="candidate.data.jobTitle">{{candidate.data.jobTitle}}</p>
        </li>
        <li>
          <p>{{candidate.email}}</p>
        </li>
        <li>
          <p>+91-{{candidate.mobile_number}}</p>
        </li>
        <li>
          <p *ngIf="candidate.data.location && candidate.data.location.city">{{candidate.data.location.city}}</p>
        </li>
        <li>
          <span *ngIf="candidate.data.isSubmitted" class="completed">Created</span>
          <span *ngIf="!candidate.data.isCompleted" class ="incomplete">Partially created</span>
          <span *ngIf="candidate.data.isCompleted && !candidate.data.isSubmitted" class="partial">Created but not submitted</span>
        </li>
        <li>
          <div *ngIf="candidate.isActivated"><span class="activated" title="Activated"></span><span>Active</span></div>
          <div *ngIf="!candidate.isActivated"><span class="not-activated" title="Deactivated"></span><span>Deactive</span></div>
        </li>
        <li>
          <button *ngIf="candidate.isActivated" class="btn-danger btn-custom" (click)="updateDetail(i,candidate,candidate.isActivated)">Deactivate</button>
          <button *ngIf="!candidate.isActivated" class="btn-primary btn-custom" (click)="updateDetail(i,candidate,candidate.isActivated)">Activate</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--
<div *ngIf="candidates && candidates.length==0">There are no candidate in the Database </div>
-->
