@import '../../../../css/variables';

.error-messages {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

.compact-view {
  //border-bottom: 1px solid $border-color;

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}
