<div class="select-industry" >
  <div>
    <div class="select-option"  *ngFor="let choice of industryNames;let i = index">
      <label >
        <input type="radio"  name="choice" id="{{choice}}" value="{{choice}}" [disabled]="disableIndustry" (click)="selectOption($event.target.value)"  >
        <span>{{choice}}</span>
      </label>
    </div>
  </div>


  <!--<cn-single-select-list [radioData]="industryNames"  (selectedData)="selectIndustryModel($event)" ></cn-single-select-list>-->


  <div class="button-group clearfix">
    <button class="btn btn-primary" (click)="showHideModal()" [disabled]="disbleButton">Cofirm &amp; Save</button>
  </div>
</div>

<div class="modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Are you sure you want to save your Role(s)?</p>
              <p>Once you save your Role(s), You can't change it for 3 months.</p>
              <div class="button-group">
                <button class="btn btn-default" (click)="showHideModal()">No</button>
                <button class="btn btn-primary" (click)="disableIndustrires()">Yes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
