<div class="select-industry clearfix" >
  <div class="col-sm-12">
    <p class="info">Default value set to your own industry. Select a different value if you wish to hire from a different industry background</p>
    <div class="max-height">
      <div class="select-option"  *ngFor="let choice of industries;let i = index">
        <label >
          <input type="radio"  name="choice.name" id="{{choice.name}}" value="{{choice.name}}" [disabled]="candidateIndustry.name" (click)="choosedIndustry(choice)" [checked]="choice.name===candidateIndustry.name"  >
          <span>{{choice.name}}</span>
        </label>
      </div>
    </div>
    <div class="button-group clearfix"  >
      <button class="btn btn-primary" (click)="showHideModal()" [disabled]="candidateIndustry.name">Confirm</button>
    </div>
  </div>
</div>

<div class="modal" [style.display]="getStyleModal()" >
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Saving industry details. Once saved, you can not change it for 3 months.</p>

              <div class="button-group">
                <button class="btn btn-primary" (click)="disableIndustrires()">Save</button>
                <button class="btn btn-default" (click)="showHideModal()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
