<section class="wrapper activate-user" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}">

  <!--<tpl-loader *ngSwitchCase="true"></tpl-loader>-->
  <app-loader></app-loader>

  <img class="app-logo" src={{MY_LOGO_PATH}} alt="Application Logo">
  <p>{{MY_TAG_LINE}}</p>

  <div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 content">

    <h1>Congratulations!</h1>

    <div class="clearfix">&nbsp;</div>

    <p>Your email has been {{ activationStatus }}. You may start using your account with new email address immediately. </p>

    <div class="clearfix">&nbsp;</div>

    <a class="btn btn-default"(click)="navigateTo();">LOGIN</a>

  </div>

  <div class="clearfix">&nbsp;</div>

  <div class="other-links footer">
    <a>{{UNDER_LICENCE}}</a>
  </div>
  <main>
    <router-outlet></router-outlet>
  </main>

</section>



