.work-area {
  .btn {
    &:focus,
    &:active {
      outline: none;
    }
  }

  .btn-primary {
    float: right;
  }
}

@media only screen and (max-width: 980px) {
  .work-area {
    .btn-primary {
      float: none;
      margin-top: 15px;
    }
  }
}
$text-color: #666;
$white: #fff;
$option-border-color: #999;
$primary-option: #1c75bd;


.select-option {
  display: inline-block;
  margin: 5px 20px 5px 0;
  text-align: left;
  text-transform: capitalize;
}

.select-option > label {
  margin: 0;
  padding: 10px 0;

  & > input {
    display: none;

    & + span {
      border: 1px solid $option-border-color;
      border-radius: 25px;
      color: $text-color;
      cursor: pointer;
      font-size: 12px;
      font-weight: 100;
      padding: 6px 10px;

      &:hover {
        border: 1px solid $option-border-color;
      }
    }

    &:checked {
      & + span {
        color: $white;
        background: $primary-option;
        border: 1px solid $primary-option;
      }
    }
  }

  &:hover {
    & > input {
      & + span {
        cursor: pointer;
      }

      &:checked {
        & + span {
          color: $white;
          background: $primary-option;
          border: 1px solid $primary-option;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .select-option > label {
    & > input {
      & + span {
        &:hover {
          border: 0 solid $primary-option;
        }
      }
    }

    &:hover {
      & > input {
        & + span {
          border: 0 solid $primary-option;
        }
      }
    }
  }
}


@media screen and (max-width: 980px) {
  .select-option {
    margin: 0 15px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .select-option > label {
    padding: 7px 0;

    & > input {
      & + span {
        font-size: 10px;
      }
    }
  }
}
