<div class="work-area">
  <p class="info">Select those areas of work which describe what you are best at or where you would like to position your career. Normally, an individual works
    across maximum 2 to 3 work areas in parallel. You can select upto maximum 3 work areas. One selected, you would be able to change the work
    areas only after 3 months.</p>
  <div class="select-option"  *ngFor="let choice of roleNames;let i = index">
    <label>
      <input type="checkbox"   name="choices" id="{{choice}}" [disabled]="showfield || isChecked(choice)" value="{{choice}}" (click)="selectOption($event)" [checked]="isChecked(choice)" />
      <span>{{choice}}</span>
    </label>
    <div class="error-messages" *ngIf="alert"><p>You have selected maximum work areas</p></div>
  </div>


  <div class="button-group clearfix">
    <button class="btn btn-primary" (click)="showHideModal()" [disabled]="disbleButton">Confirm &amp; Save</button>
  </div>
</div>

<div class="modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Saving area of work details. Once saved, you can not change it for 3 months.</p>

              <div class="button-group">
                <button class="btn btn-default" (click)="showHideModal()">Cancel</button>
                <button class="btn btn-primary" (click)="disableRolelist()">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
