@import '../../../css/common';
@import '../../../css/variables';

.error-messages {
  color: $error-messages;
  font-size: 10px;
  font-style: italic;
  margin: 0;
  position: absolute;
  line-height: 15px;
}

.alert {
  margin: 0 15px 20px;
}

.employer-form {
  .radio-group {
    padding: 0 0 15px;
  }

  .item-radio {
    float: left;
  }

  .form-group {
    padding: 0 15px;
    width: 50%;

    label {
      left: 15px;
    }
  }

  .recaptcha {
    margin-bottom: 10px;
  }
  .select-option {
    &:hover {
      span {
        background: transparent;
        color: $text-color;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .alert {
    margin: 0 0 20px;
  }

  .employer-form {
    .add-logo {
      float: none;
    }

    .form-group {
      width: 100%;
    }

    .button-group {
      padding: 15px 0 0;
    }
  }
}
