<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h2 class="modal-title">Delete {{elementType}}</h2>
    </div>
    <div class="modal-body">
      <p class="font-16">Do you want to delete a {{elementType}} ?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary bi-btn" type="button" (click)="deleteElement()" data-dismiss="modal">Yes</button>
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
