@import '../../../css/common';

.modal-body {
  padding: 30px 40px 40px;
  text-align: center;
  p {
    color: $warning-text;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
  }
  .bi-btn {
    margin-right: 20px;
  }
  .btn {
    padding: 0 25px;
  }
  .modal-icon {
    margin: 0 0 10px 0;
    i {
      display: inline-block;
      font-weight: normal;
      height: 70px;
      position: relative;
      top: 1px;
      width: 80px;
    }
  }
}


@media only screen and (max-width: 767px) {
  .modal-body {
    padding: 30px 15px 40px;

    .btn {
      padding: 0 5px;
      width: 100px;
    }

    .bi-btn {
      margin-right: 5px;
    }
  }
}
