<div *ngIf="candidate != undefined && candidate.summary != undefined">
  <cn-candidate-header [candidate]="candidate"></cn-candidate-header>

  <!--<ul class="nav navbar-nav navbar-left list-counts clearfix">
    <li>
      <div class="dropdown">
        <a data-toggle="dropdown">
          <div class="canvas-container">
            <span
              class="percentage"><span>{{candidate.summary.percentProfileCompleted | number : '1.0-0'}}%</span></span>
          </div>
        </a>
        <p>Profile Completed</p>
      </div>
    </li>
    <li>
      <img src="assets/c-next/header/jobs-posted.png" alt="search"/>
      <span>{{candidate.summary.numberOfTimeSearched}}</span>
      <p>Times searched</p>
    </li>
    <li>
      <img src="assets/c-next/header/matching-profiles.png" alt="view"/>
      <span>{{candidate.summary.numberOfTimesViewed}}</span>
      <p>Times Viewed</p>
    </li>
    <li>
      <img src="assets/c-next/header/candidates-applied.png" alt="cart"/>
      <span>{{candidate.summary.numberOfTimesaddedToCart}}</span>
      <p>Times Added to cart</p>
    </li>
  </ul>-->
</div>
