<div class="section-container" *ngIf="highlightedSection.name=='Profile'">
  <cn-tool-tip [message]="tooltipMessage"></cn-tool-tip>
  <div class="main-content clearfix modal-content">
    <h4 class="heading">My Profile</h4>

    <div class="col-sm-3 text-center">
      <cn-profile-picture (onPictureUpload)="onPictureUpload($event)"></cn-profile-picture>
      <div class="user-name">
        <span class="profile-name-first">{{candidateDetails.first_name}}&nbsp;</span><span class="profile-name-last">{{candidateDetails.last_name}}</span>
      </div>
    </div>

    <div class="col-sm-9 profile-description">
      <h4>Enter Your Job Title</h4>
      <div class="error-messages" *ngIf="isTitleFilled">Job title should not be empty.</div>
      <input name="jobTitle" placeholder="e.g. Software Engineer" class="form-control job-title"
             [(ngModel)]="candidate.jobTitle" (ngModelChange)="onJobTitleChange()">

      <div class="clearfix">&nbsp;</div>
      <h4>Select your Core Industry (Any One)</h4>
      <cn-industry-list [selectedIndustry]="candidate.industry"
                        (valueChange)="onIndustryChange($event)"></cn-industry-list>
    </div>
    <div class="button-group clearfix">
      <button class="btn btn-default" (click)="onCancel()"
              [hidden]="showButton">Cancel
      </button>
      <button class="btn btn-primary" (click)="onNext()" [hidden]="!showButton" [disabled]="disableButton">Next</button>
        <button class="btn btn-primary"  (click)="onSave()" [hidden]="showButton" [disabled]="disableButton">Save</button>
    </div>
  </div>
</div>
<div class="section-container"
     [ngClass]="(highlightedSection.name !=='Work-Area' && highlightedSection.name !=='Capabilities')?'half-width':'full-width'">
  <div class="main-content profile-main-content" *ngIf="highlightedSection.name!='Profile'">
    <div class="compact-view clearfix">
      <!--[hidden]="highlightedSection.isLocked"-->
      <!--
            <span class=" glyphicon glyphicon-lock" title="you can edit this field after {{highlightedSection.date| date:'mediumDate'}}" *ngIf="highlightedSection.isLocked"></span>
      -->
      <div class="img-container">
        <!--<img src="{{image_path}}" alt="Profile Picture"/>-->
        <cn-profile-picture (onPictureUpload)="onPictureUpload($event)"></cn-profile-picture>
      </div>

      <div>
        <p lass="truncate-text" class="user-name">
          <span class="profile-name-first">{{candidateDetails.first_name}}</span>&nbsp;
          <span class="profile-name-last">{{candidateDetails.last_name}}</span>
          <button class="btn-edit"
                  (click)="highlightedSection.name='Profile';disableButton=false;showButton=false;highlightedSection.isDisable=true"
                  [hidden]="highlightedSection.isDisable"></button>
        </p>
        <p class="truncate-text"><label>Job Title</label> <span title="{{candidate.jobTitle}}">{{candidate.jobTitle}}</span></p>
        <p lass="truncate-text"><label>Industry</label> <span title="{{candidate.industry.name}}">{{candidate.industry.name}}</span></p>
      </div>
    </div>
  </div>
  <!-- <div [class.modal-bg]="highlightedSection.name!='Profile'"></div>-->
</div>


<div class="modal popup" [style.display]="getStyleModal()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <p>Data will be flushed.</p>
            <div class="button-group">
              <button class="btn btn-primary" (click)="showModalStyle = !showModalStyle;onNext()">Ok</button>
              <button class="btn btn-default" (click)="showHideModal()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
