@import '../../../../css/variables';

.user-name {
  margin-bottom: 10px;

  .profile-name-first,
  .profile-name-last {
    color: $light-blue;
    background: none;
    font-family: 'gothamrnd-book';
    font-size: 14px;
    padding: 0;
    text-transform: capitalize;
    word-break: break-all;
    word-wrap: break-word;
  }
}

.job-title {
  color: $black;
  font-family: 'gothamrnd-book';
  font-size: 18px;
  background: none;
  padding: 0;
  text-transform: capitalize;
}

.compact-view {

  .user-name {

    .profile-name-first {
      font-size: 21px;
    }

    .profile-name-last {
      font-size: 21px;
      margin: 0 8px 0 2px;
    }
  }

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }

  .profile-details {
    display: inline-block;
    width: 40%;
    label {
      min-width: 160px;
    }
  }
}

.form-container {
  padding: 0 50px;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.scrollable-content {
  padding: 0 !important;
  width: 66.666% !important;
  float: left;
}

.user-profile-details {
  .form-container {
    padding: 0 17px;
  }
}

.edit-modal-content {
  .user-name {
    margin-top: 30px;
  }
}

.btn-prev {
  opacity: 0;
}

@media only screen and (max-width: 980px) {
  .scrollable-content {
    padding: 0 !important;
    width: 58.3% !important;

    .form-container {
      padding: 0 15px;
    }
  }
}
@media only screen and (max-width: 767px) {
  .user-name {
    .profile-name-first,
    .profile-name-last {
      font-size: 14px;
    }
  }

  .compact-view {
    .user-name {
      width: calc(100% - 80px);
      overflow: auto;
      text-overflow: clip;
      white-space: normal;
      text-align: left;

      .profile-name-first,
      .profile-name-last {
        font-size: 14px;
      }
    }

    .profile-details {
      display: block;
      width: 100%;
      margin-bottom: 5px;
      font-size: 12px;

      label {
        min-width: 100%;
        display: block;
        color: $theme-color;
        font-size: 12px;
      }
    }

    .job-title {
      font-size: 12px;
      display: block;
    }
  }

  .col-sm-3,
  .col-sm-9 {
    padding: 0;
  }

  .scrollable-content {
    width: 100% !important;
  }

  .scrollable-content-mobile {
    clear: both;
    height: calc(100vh - 170px);
    overflow: auto;
  }

  .divider {
    margin: 0 0 10px;
  }
}
