$light-blue: #1b75bc;

h4 {
  font-size: 13px;
  margin: 0 0 10px;
  font-family: 'gothamrnd-book';
  font-weight: 900;
}

.main-content {
  input {
    width: 75%;
  }
}

.user-name {
  margin-top: 15px;
  word-wrap: break-word;

  .profile-name-first,
  .profile-name-last {
    color: $light-blue;
    font-family: 'gothamrnd-book';
    font-size: 20px;
    font-weight: 900;
    background: none;
    padding: 0;
    text-transform: capitalize;
  }

 /* .profile-name-last {
    color: #1B75BC;
    font-family: 'gothamrnd-book';
    font-weight: 900;
  }*/
}

/*.main-content {
  .button-group {
    position: absolute;
    bottom:0;
    right: 0;
  }
}*/

.compact-view {
  z-index: 1;

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-main-content {
  .compact-view {
    min-height: 185px;
  }
}

@media only screen and (max-width: 767px) {
  .user-name {
    .profile-name-first, .profile-name-last {
      font-size: 16px;
    }
  }

  .col-sm-3,
  .col-sm-9 {
    padding: 0;
  }
}
