@import '../../../css/variables';

.profile {
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0 auto;

  .avtar {
    border-radius: 50%;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    overflow: hidden;
    border: 1px solid $border-color1;
    box-sizing: border-box;
    position: relative;
    background: $white;
  }

  form {
    bottom: -21%;
    position: absolute;
    right: 34%;
    padding: 0;
  }

  .avtar > img {
    border-radius: 0;
    height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  [type='file'] {
    display: none;
  }

  .custom-file-upload {
    cursor: pointer;
    width: auto;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .profile {
    .avtar > form {
      bottom: 0;
      position: absolute;
      right: 0;
    }
  }
}
