@import '../../../framework/landing-page/landing-page.component';

.page-background {
  background: no-repeat fixed 0 100%;
  clear: both;

  .inner-content {
    padding-bottom: 30px;

    /*.content {
      margin-top: 25px;
    }*/

    .content > h4 {
      margin-bottom: 30px;
      text-align: left;
    }
  }
}

.wrapper {
  /*margin-top: 80px;*/
  min-height: calc(100vh - 80px);
  padding: 0;
}

.create-new-header {
  top: 80px;
  height: 0;
}
