<tpl-dashboard-header *ngIf="isUserSignIn == 1 "></tpl-dashboard-header>
<header class="create-new-header">
  <button class="btn-back" (click)="goBack()"><img src="assets/build-info/create-new-project/back.png" /><span>{{getButton().GO_BACK}}</span></button>
  <button class="btn-close" (click)="goBack()"><img src="assets/build-info/create-new-project/close.png" /><span>{{getButton().CLOSE_BUTTON}}</span></button>
</header>
<section [class.wrapper]="isUserSignIn == 1">
  <div class="page-background" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND_TRANSPARENT + ')'}">
    <div class="inner-content container clearfix">
      <div class="content col-sm-12">
        <h4 class="visibe-xs hidden-sm hidden-md hidden-lg">{{getHeadings().CREATE_NEW_PROJECT}}</h4>
        <bi-project-form [submitActionLabel]="'Next'" (onSubmitEvent)="onSubmit($event)"></bi-project-form>
      </div>
    </div>
  </div>
</section>

