@import '../../../../css/common';

.wrapper {

  .content {

    h4 {
      color: $white;
      font-size: 22px;
      margin-top: 0;
    }
  }
}

@media (max-width: 768px) {
  .wrapper {
    .content {
      h4 {
        font-size: 18px;
      }
    }
  }
}
