<div *ngIf="profileComparisonData.length">
  <div id="printProfileComparison" class="compare-candidate-view">
    <div class="compare-candidate-container">
      <cn-print-screen [screenIdForPrint]="'printProfileComparison'"></cn-print-screen>
      <cn-profile-comparison-header [profileComparisonResult]="profileComparisonData"
                                    (actionOnComparisonList)="actionOnComparisonList($event)"></cn-profile-comparison-header>
      <cn-profile-capability-comparison
        [profileComparisonResult]="profileComparisonData"></cn-profile-capability-comparison>
      <cn-profile-attribute-comparison
        [profileComparisonJobData]="profileComparisonJobData"
        [profileComparisonResult]="profileComparisonData"></cn-profile-attribute-comparison>
    </div>
  </div>
</div>
