<!--
<cn-profile-comparison-header [profileComparisonResult]="profileComparison.profileComparisonData" (actionOnComparisonList)="actionOnComparisonList($event)"></cn-profile-comparison-header>
<cn-profile-capability-comparison
  [profileComparisonResult]="profileComparison.profileComparisonData"></cn-profile-capability-comparison>
<cn-profile-attribute-comparison [profileComparisonResult]="profileComparison.profileComparisonData"></cn-profile-attribute-comparison>
-->

<div class="compare-candidate-view">
  <div class="compare-candidate-container">
    <cn-profile-comparison-header [profileComparisonResult]="profileComparisonData"
                                  (actionOnComparisonList)="actionOnComparisonList($event)"></cn-profile-comparison-header>
    <cn-profile-attribute-comparison
      [profileComparisonResult]="profileComparisonData"></cn-profile-attribute-comparison>
    <cn-profile-capability-comparison
      [profileComparisonResult]="profileComparisonData"></cn-profile-capability-comparison>
  </div>
</div>
