<!--<cn-profile-comparison-header [profileComparisonResult]="profileComparison.profileComparisonData" (actionOnComparisonList)="actionOnComparisonList($event)"></cn-profile-comparison-header>
<cn-profile-capability-comparison
  [profileComparisonResult]="profileComparison.profileComparisonData"></cn-profile-capability-comparison>
<cn-profile-attribute-comparison [profileComparisonResult]="profileComparison.profileComparisonData"></cn-profile-attribute-comparison>-->

<div class="compare-candidate-view">
  <div class="container">
    <cn-profile-comparison-header></cn-profile-comparison-header>
    <cn-profile-attribute-comparison></cn-profile-attribute-comparison>
  </div>
</div>
