<div class="select-role col-sm-12">
  <div>
    <div class="select-option"  *ngFor="let choice of roleTypes;let i = index">
      <label >
        <input type="radio"  name="choice" id="{{choice}}" value="{{choice}}" [disabled]="disableRoletype||candidateRoletype" (click)="choosedRoleType(choice)" [checked]="choice===candidateRoletype"  >
        <span>{{choice}}</span>
      </label>
    </div>
  </div>

  <div class="button-group clearfix">
    <button class="btn btn-primary" (click)="showHideModal()" [disabled]="disableButton||disableRoletype||candidateRoletype">Next</button>
  </div>
</div>

<div class="modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Saving role details. Once saved, you cannot change it for 3 months.</p>
              <div class="button-group">
                <button class="btn btn-primary" (click)="disableRoleltype()">Save</button>
                <button class="btn btn-default" (click)="showHideModal()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
