@import '../../../../css/variables';

.select-role {
  margin-bottom: 15px;
  .btn {
    &:focus,
    &:active {
      outline: none;
    }
  }

  .btn-success {
    float: right;
    margin-top: 15px;
  }
}

@media screen and (max-width: 767px) {
  .select-role {
    padding: 0;

    .btn-success {
      float: none;
    }
  }
}

