<section class="main-form-wrapper registration" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}">

  <!--<tpl-loader *ngSwitchCase="true"></tpl-loader>-->
  <app-loader></app-loader>

  <div class="col-lg-6 col-md-8 col-sm-10 col-xs-10 content">

    <h5>Register</h5>

    <form [formGroup]="userForm" (submit)="onSubmit()">

      <div class="alert alert-danger clearfix" [hidden]="isShowErrorMessage">
        <div class="col-sm-1 hidden-xs"><span class="glyphicon glyphicon-warning-sign"></span></div>
        <div class="col-sm-10 col-xs-11 error-msg"><b>{{ error_msg }}</b></div>
        <div class="col-sm-1 col-xs-1 close-msg">
          <button (click)="closeErrorMessage()" class="btn-close"><span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </div>

      <div class="radio-group text-left clearfix">
        <label class="lable-name">Register as</label>
        <label for="employee" class="radio-inline">
          <input type="radio" id="employee" name="register_as" value="employee" />
          Employee
        </label>

        <label for="employer" class="radio-inline">
          <input type="radio" id="employer" name="register_as" value="employer" />
          Employer
        </label>
      </div>

      <div class="Employee_form">
        <div class="form-group">
          <control-messages [control]="userForm.controls.first_name"></control-messages>
          <input type="text" formControlName="first_name" id="first_name" class="form-control" required/>
          <label>First Name</label>
        </div>

        <div class="form-group">
          <control-messages [control]="userForm.controls.last_name"></control-messages>
          <input type="text" formControlName="last_name" id="last_name" class="form-control" required/>
          <label>Last Name</label>
        </div>

       <!-- <div class="form-group">
         <control-messages [control]="userForm.controls.username"></control-messages>
         <input type="text" formControlName="username" id="username" class="form-control" required/>
         <label>Username</label>
        </div>-->

        <div class="form-group">
          <control-messages [control]="userForm.controls.email"></control-messages>
          <input type="email" formControlName="email" id="email" class="form-control" required/>
          <label>Email</label>
        </div>

        <div class="form-group">
          <control-messages [control]="userForm.controls.password"></control-messages>
          <input type="password" formControlName="password" id="password" class="form-control" required/>
          <label>Password</label>
        </div>

        <div class="form-group">
          <control-messages [control]="userForm.controls.conform_password"></control-messages>
          <input type="password" formControlName="conform_password" id="conform_password"
                 (blur)="makePasswordConfirm()" class="form-control" required/>
          <label>Confirm Password</label>
          <div class="error-message-registration" *ngIf="isPasswordConfirm == true">
            <p>Passwords does not match.</p>
          </div>
        </div>

       <!-- <div class="form-group">
          <control-messages [control]="userForm.controls.birth_year"></control-messages>
          <input type="number" formControlName="birth_year" id="birth_year" class="form-control" required/>
          <label>Birth Year </label>
        </div>-->

        <div class="form-group">
          <control-messages [control]="userForm.controls.mobile_number"></control-messages>
          <input type="number" formControlName="mobile_number" id="mobile_number" class="form-control" required/>
          <label>Mobile</label>
        </div>

        <div class="form-group">
          <select class="form-control" id="country" required>
            <option selected>Country1</option>
            <option>Country2</option>
            <option>Country3</option>
            <option>Country4</option>
          </select>
          <label for="country">Country</label>
        </div>

        <div class="form-group">
          <select class="form-control" id="state" required>
            <option selected>State1</option>
            <option>State2</option>
            <option>State3</option>
            <option>State4</option>
          </select>
          <label for="state">State</label>
        </div>

        <div class="form-group" >
          <select class="form-control" id="city" required>
            <option selected>City1</option>
            <option>City2</option>
            <option>City3</option>
            <option>City4</option>
          </select>
          <label for="city">City</label>
        </div>

        <!--<div class="form-group" >
          <control-messages [control]="userForm.controls.PIN"></control-messages>
          <input type="number" formControlName="PIN" id="PIN" class="form-control" required/>
          <label>PIN</label>
        </div>-->

        <!--<div class="form-group">
          <control-messages [control]="userForm.controls.captcha"></control-messages>
          <input type="number" formControlName="captcha" id="captcha" class="form-control" placeholder="Enter Captcha Here " required/>
        </div>-->

      </div>

      <div class="Employer_form">

        <div class="form-group">
          <control-messages [control]="userForm.controls.company_name"></control-messages>
          <input type="text" formControlName="company_name" id="company_name" class="form-control" required/>
          <label>Company Name</label>
        </div>

        <div class="form-group">
          <label for="file-upload" class="custom-file-upload">
            Add logo
          </label>
          <!--<input id="file-upload" type="file"/>-->
          <input id="file-upload" type="file" (change)="fileChangeEvent($event)" placeholder="Add Logo"/>
        </div>

        <div class="form-group" >
          <select class="form-control" id="company_size" required>
            <option selected>Company Size</option>
            <option>below 50</option>
            <option>50 - 100</option>
            <option>100 - 500</option>
            <option>above 500</option>
          </select>
          <label for="city">City</label>
        </div>

      </div>


      <div class="button-group">
        <!--<button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Send OTP</button>-->
          <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Create an account</button>
      </div>
    </form>

  </div>
</section>

