@import '../../../css/common';

.registration {

  .error-message-registration {
    text-align: left;

    p {
      color: $toaster-error;
      font-size: 10px;
      font-style: italic;
      margin: 10px 0 0;
      text-align: right;
    }
  }

  .radio-group {
    padding: 15px;
  }

  .alert {
    margin: 15px;
  }

  form {
    padding: 0;
  }

  .registartion-btn-radio {
    margin-top: -40px;
    margin-bottom: 15px;
  }

}

@media only screen and (min-width: 769px) {
  .registration {
    .content {
      width: 80%;
    }
  }
}


@media only screen and (min-width: 1024px) {
  .registration {
    .content {
      width: 70%;
    }
  }
}

@media only screen and (min-width: 1279px) {
  .registration {
    .content {
      width: 60%;
    }

    form {
      padding: 15px;
    }
  }
}

@media only screen and (min-width: 1366px) {
  .registration {
    .content {
      width: 50%;
    }
  }
}

@media only screen and (min-width: 1920px) {
  .registration {
    .content {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .registration {

    .content {
      width: 84%;
    }

    .form-group {
      padding: 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .registration {
    .error-message-registration > p {
      text-align: left;
    }

    .registartion-btn-radio {
      margin-top: 0;
      padding: 0;
    }
  }

  .main-form-wrapper {
    .content {
      .radio-group {
        padding: 0 0 15px;
      }
    }
  }
}
