<section class="main-form-wrapper registration">
  <main-header></main-header>
  <app-loader></app-loader>
  <div class="content">

    <h5>Register </h5>

    <form>

      <div class="radio-group text-left clearfix">
        <div>
          <label class="lable-name">Register as</label>
          <label for="candidate" class="radio-inline">
            <input type="radio" id="candidate" name="register_as" value="candidate" (click)="showHideCandidate()" checked />
            Candidate
          </label>

          <label for="recruiter" class="radio-inline">
            <input type="radio" id="recruiter" name="register_as" value="recruiter" (click)="showHideRecruiter()"/>
            Recruiter
          </label>

        </div>

        <div class="registration-btn-radio text-left clearfix" [hidden]="isRecruiter">
          <label class="lable-name">Recruiting for</label>
          <label for="self" class="radio-inline">
            <input type="radio" id="self" name="recruiting_for" value="self" (click)="recruitmentForSelf()" checked/>
            Own company
          </label>

          <label for="others" class="radio-inline">
            <input type="radio" id="others" name="recruiting_for" value="others" (click)="recruitmentForOthers()" />
            Other company
          </label>
        </div>
      </div>

      <div class="Employee_form" [hidden]="isCandidate">
        <cn-candidate-registration></cn-candidate-registration>
      </div>

      <div class="Employer_form" [hidden]="isRecruiter">
        <cn-recruiter-registration></cn-recruiter-registration>
      </div>
    </form>
  </div>
</section>

