@import '../../../css/variables';

.profile-wrapper {
  .dashboard-tabs {
    top: 100px !important;
    border-top: 1px solid #b2bcc3;
  }

  .dashboard-tabs > li {
    &:first-child {
      margin-left: 0 !important;
    }
  }

  h4 {
    top: 22px;
    position: fixed;
    color: $theme-color;
    z-index: 10;
    text-align: left;
    padding: 16px 15px 16px 125px;
    background: #edf1f5;
  }
}

