<div class="clearfix">
  <div class="proficiency-container col-sm-12">
    <!--<p>Add your <span  *ngIf="proficiencyType">proficiencies/tools/technologies</span><span *ngIf="domainType">domains you work</span></p>-->
    <p class="info">Enter all key words that describe your area of expertise or specialization. These proficiencies will be used for second level of matching post
     capability.<span class="error-messages">You can edit this list anytime.</span></p>
    <p class="instructions" *ngIf="showAlert">You can select maximum 25 proficiencies.</p>

    <div class="list clearfix">
      <div class="col-sm-4 no-padding">
        <div class="form-group">
          <div ng2-auto-complete
               [source]="proficiencies.names"
               (ngModelChange)="selectedProficiencyModel($event)">
            <input  class="form-control" [(ngModel)]="proficiencyModel" id={{type}} placeholder="{{proficiencies.label}}" />
           <br/> <br/> <br/>
            </div>
          <!--<select class="form-control"  (change) = "selectedProficiencyModel($event.target.value)">
            <option *ngFor="let c of selectedproficiencies" [selected]="true" [ngValue]="c">{{c}}</option>
          </select>-->
<!--
          <button type="button"  class="btn btn-create-profile"  value="Add Other"  (click)="onSelect()" >Click to add new proficiency</button>
          <div [hidden]="isShow" class="add-proficiency">
            <input  class="form-control" [(ngModel)]="proficiencyother" (ngModelChange)="enterProficiency($event)" id={{addOther}} placeholder="Other Proficiency" />
            <button type="button"  class="btn btn-create-profile"  value="AddProficiency"  (click)="addProficiencyToMasterData()">Add Proficiency</button>
          </div>-->
        </div>
      </div>

      <div class="col-sm-8 padding-left15">
        <div class="btn-container clearfix">
          <div *ngFor="let item of candidate.proficiencies; let i = index">
            <button type="button" class="btn btn-create-profile" (click)="deleteItem($event)">
              {{item}} <span class="glyphicon glyphicon-remove" ></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



