<div class="modal" [style.display]="setStyleForDialogueBox()">
    <div class="modal-bg">
        <div class="modal-dialog modal-md">
            <div class="modal-content" *ngIf="showCloseDialogue">
                <div class="modal-header">
                    <button type="button" class="close" (click)="onCancel()">
                        <span>&times;</span>
                    </button>
                    <h5 class="modal-title" *ngIf="reasonForClosingJob && reasonForClosingJob.length>0">{{reasonForClosingJob[0].question}}</h5>
                </div>
                <div class="modal-body" *ngIf="reasonForClosingJob && reasonForClosingJob.length>0">
                    <div class="col-sm-12">
                        <div class="scenarios">
                            <div class="item-radio" *ngFor="let answer of reasonForClosingJob[0].answers let i of index">
                                <label>
                                    <input type="radio" name="reasons" value="{{answer}}"
                                           (change)="onJobCloseReason(answer)" [checked]="false">
                                    <span>{{answer}}</span>
                                    <div class="check"></div>
                                </label>
                            </div>
                        </div>
                        <div class="error-messages" *ngIf="isShowNoSelectionError">{{getMessages().SELECT_REASON_FOR_JOB_CLOSE}}</div>
                    </div>
                    <div class="button-group">
                        <button (click)="onCloseJob()" class="btn btn-primary">{{getButtonLabel().CLOSE_BUTTON}}</button>
                        <button (click)="onCancel()" class="btn btn-default">{{getButtonLabel().CANCEL_BUTTON}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
