<div class="modal" [style.display]="setStyleForDialogueBox()">
    <div class="modal-bg">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" (click)="onCancel()">
                        <span>&times;</span>
                    </button>
                    <h5 class="modal-title" *ngIf="reasonForClosingJob && reasonForClosingJob.length>0">{{reasonForClosingJob[0].question}}</h5>
                </div>
                <div class="modal-body" *ngIf="reasonForClosingJob && reasonForClosingJob.length>0">
                    <div class="scenarios">
                        <div class="item-radio" *ngFor="let answer of reasonForClosingJob[0].answers">
                            <label>
                                <input type="radio" name="ccc" value="{{answer}}"
                                       (change)="onJobCloseReason(answer)">
                                <span>{{answer}}</span>
                                <div class="check"></div>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <!--<label>{{getLabel().CLOSE_JOB}}</label>
                            <input class="form-control" type="text" maxlength="40" [(ngModel)]="selectedJobTitle"/>
                            <p class="error-messages" *ngIf="isShowNoSelectionError">Select any one of these options</p>-->
                        </div>
                    </div>
                    <div class="button-group">
                        <button (click)="onCloseJob()" class="btn btn-primary">{{getButtonLabel().CLOSE_BUTTON}}</button>
                        <button (click)="onCancel()" class="btn btn-default">{{getButtonLabel().CANCEL_BUTTON}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
