@import '../../../../../../../css/common';

.get-quantity-section {
  background: $azure;
  border: 1px solid $table-border;
  border-radius: 6px;
  display: block;
  float: left;
  //left: 50%;
  //left: 35%;
  //left: 43%;
  left: 31%;
  margin: 0 auto 15px;
  padding: 5px;
  position: relative;
  transform: translateX(-50%);
  //width: 100%;
  width: 70%;

  .close {
    margin: 0 4px 15px 5px;
    height: 13px;
    width: 10px;
  }
  table {
    border-radius: 5px;
    margin: 0;
    thead {
      th {
        background: $jagged-ice;
        font-size: 11px;
        text-align: center;
        padding: 3px 0;
        //width: 14%;

        &:first-child {
          border-radius: 5px 0 0 0;
          padding: 0 9px;
          text-align: left;
        }
        &:last-child {
          border-radius: 0 5px 0 0;
        }
      }
    }
    tr {
      background: transparent;
      border-bottom: 1px solid $azure;
      td {
        padding: 0;
        border-right: 1px solid $jagged-ice;
        border-top: 0 solid transparent;
        .form-control {
          background: transparent;
          border: 1px solid transparent;
          border-radius: 0;
          box-shadow: none;
          color: $black-theme-color;
          display: block;
          font-size: 11px;
          //font-weight: bold;
          height: 27px;
          padding: 4px 7px;
          width: 100%;
          &:focus {
            box-shadow: 0 0 0 transparent;
          }
        }
        .unit-input {
          background: transparent;
          border: 0;
          box-shadow: 0 0 0;
          display: table;
          margin: 0 auto;
          width: 30px;
        }
        input[type='number'] {
          text-align: right;
        }
        .unit-input {
          width: 60px;
        }
      }
      .get-delete {
        border: 0;
        float: left;
        height: 28px;
        padding: 2px;
        width: 40px;
        span {
          color: $table-btn-bg;
          float: left;
        }
        .col-xs-2 {
          display: block;
        }
      }
      td.remark-icon {
        padding: 5px 9px 5px 0;
        text-align: left;
      }
      .glyphicon.glyphicon-trash {
        cursor: pointer;
        top: 6px;
      }
      .get-amount-value {
        background: $white;
        //box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      }
      &:hover {
        .get-delete {
          .col-xs-2 {
            display: block;
          }
        }
      }
    }

    .total-amt-row {
      td {
        &:first-child {
          border-radius: 0 0 0 5px;
        }
        &:last-child {
          border: 0;
          border-radius: 0 0 5px 0;
        }
      }
    }
    .total-amount {
      background: $jagged-ice;
      font-size: 11px;
      font-weight: bold;
      padding: 2px 0 !important;
      text-align: right !important;

      &:first-child {
        padding: 3px 9px !important;
        text-align: left !important;
      }

      &:nth-child(7) {
        //padding-left: 15px;
        text-align: center !important;
      }

      width: 98px;
      label {
        font-size: 11px;
        font-weight: bold;
      }
      span {
        padding-right: 8px;
      }
    }
  }
  .add-new-btn {
    background: transparent;
    border: 1px solid $persian-green;
    border-radius: 2px;
    color: $persian-green;
    font-size: 12px;
    padding: 2px 4px;
    height: auto;
    margin: 5px 0;
    float: left;
  }
  .save-btn {
    background: $persian-green;
    color: $white;
    @extend .add-new-btn;
    float: right;
    padding: 3px 24px;
  }

  .cancel {
    background: none;
    border: 1px solid #6598CA;
    border-radius: 2px;
    color: $persian-green;
    float: right;
    margin: 5px 3px;
    padding: 3px 18px;

    &:hover,
    &:active,
    &:focus {
      @extend .cancel;
    }
  }
}

.arrow-up {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $azure;
  left: 50%;
  margin-top: -14px;
  position: absolute;
  width: 0;
  height: 0;
}

.get-quantity-section:after, .get-quantity-section:before {
  bottom: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  left: 10.5%;
  position: absolute;
  pointer-events: none;
  width: 0;
}

.get-quantity-section:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: $azure;
  border-width: 8px;
  margin-left: -18px;
}
.get-quantity-section:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: $table-border;
  border-width: 10px;
  margin-left: -20px;
}

.required-field {
  border: 1px solid $error !important;
}

@media only screen and (max-width: 767px) {
  .get-quantity-section {
    margin: 0 0 10px;
    left: 50%!important;
    table {
      pointer-events: none;

      tr {
        td {
          &:nth-child(7) {
            border: 0;
          }
        }
      }
    }
    .close {
      margin: 0 4px 5px 5px;
    }

    thead {
      th {
        &:nth-child(7) {
          border-radius: 0 5px 0 0;
        }
      }
    }

    .total-amt-row {
      td {
        &:nth-child(7) {
          border: 0;
          border-radius: 0 0 5px 0;
        }
      }
    }
  }
  .get-quantity-section:after, .get-quantity-section:before {
    display: none;
  }
}
.validate-amount {
  border: 1px solid red !important;

}
@media (min-width:1500px) and (max-width: 1920px) {
  .get-quantity-section::before,.get-quantity-section:after{
    left: 19%;
  }
}
.unit-text-center{
  text-align: center;
}
