<header class="page-header" *ngIf="candidate != undefined">
  <div class="container-fluid">
    <div class="user-info col-sm-3">
      <img src= "assets/framework/images/dashboard/profile.png" alt="User Profile" *ngIf="candidate.basicInformation.picture==undefined"/>
      <img [src]="getImagePath(candidate.basicInformation.picture)"  alt="User Profile" *ngIf="candidate.basicInformation.picture!=undefined"/>
      <h4>{{candidate.basicInformation.first_name}} {{candidate.basicInformation.last_name}}</h4>
      <h5>{{candidate.jobTitle}}</h5>
    </div>
    <ul class="list-counts clearfix">
      <li >
        <div class="dropdown">
          <a  data-toggle="dropdown">
          <div class="canvas-container">
            <!-- <cn-progress-bar [value]="candidate.summary.percentProfileCompleted" [color]="'#fff'" [rotation]="false"></cn-progress-bar>
             <cn-progress-bar [value]="candidate.summary.percentProfileCompleted" [color]="'#e77e22'" [rotation]="true" ></cn-progress-bar>-->
            <span class="percentage"><span>{{candidate.summary.percentProfileCompleted | number : '1.0-0'}}%</span></span>
          </div>
          </a>
          <p>Profile Completed</p>
          <ul class="dropdown-menu">
            <li><a routerLink="/profile_summury">View Profile</a></li>
            <li><a routerLink="/create_profile">Edit Profile</a></li>
          </ul>
        </div>
      </li>
      <li>
        <img src="assets/c-next/header/jobs-posted.png" alt="search"/>
        <span>{{candidate.summary.numberOfTimeSearched}}</span>
        <p>Times searched</p>
      </li>
      <li>
        <img src="assets/c-next/header/matching-profiles.png" alt="view"/>
        <span>{{candidate.summary.numberOfTimesViewed}}</span>
        <p>Times Viewed</p>
      </li>
      <li>
        <img src="assets/c-next/header/candidates-applied.png" alt="cart"/>
        <span>{{candidate.summary.numberOfTimesaddedToCart}}</span>
        <p>Times Added to cart</p>
      </li>
    </ul>
    <ul class="logout-dropdown">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle drop-down" data-toggle="dropdown" >
          <img src="assets/framework/images/dashboard/3dots.png">
        </a>
        <ul class="dropdown-menu">
          <li>
            <a (click)="logOut()"><b>Logout</b></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <button type="submit" class="btn btn-default btn-logout" (click)="logOut()">Logout</button>
</header>

