<header class="page-header">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->

      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false" (click)="isClassVisible = !isClassVisible;">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" (click)="navigateTo('/create_profile'); closeMenu($event);" *ngIf="!candidate.isCompleted">
          <img src={{MY_LOGO}}/>
        </a>
        <a class="navbar-brand" (click)="navigateTo('/candidate_dashboard'); closeMenu($event);" *ngIf="candidate.isCompleted">
          <img src={{MY_LOGO}}/>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="bg-overlay" [class.show]="isClassVisible" (click)="isClassVisible = false;"></div>
      <div class="collapse navbar-collapse" [class.open-nav]="isClassVisible">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown last-child">
            <div class="dropdown">
              <a class="hidden-xs simple-dropdown dropdown-toggle" data-toggle="dropdown" href="#">
                <img src="assets/framework/images/dashboard/profile.png" alt="User Profile"
                     *ngIf="candidate.basicInformation.picture==undefined"/>
                <img [src]="getImagePath(candidate.basicInformation.picture)" alt="User Profile"
                     *ngIf="candidate.basicInformation.picture!=undefined"/>
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu mobile-dropdown">
                <li class="user-info user-info-ipad">
                  <img class="visible-xs" src="assets/framework/images/dashboard/profile.png" alt="User Profile"
                       *ngIf="candidate.basicInformation.picture==undefined"/>
                  <img class="visible-xs" [src]="getImagePath(candidate.basicInformation.picture)" alt="User Profile"
                       *ngIf="candidate.basicInformation.picture!=undefined"/>
                  <h4>{{candidate.basicInformation.first_name}} {{candidate.basicInformation.last_name}}</h4>
                  <h5 *ngIf="candidate.jobTitle != undefined">{{candidate.jobTitle}}</h5>
                </li>
                <li class="divider"></li>
                <li role="menuitem" [routerLinkActive]="['active']" *ngIf="candidate.isCompleted==true">
                  <a class="dropdown-item" [routerLink]="['candidate_dashboard']"
                     (click)="navigateTo('/candidate_dashboard');">
                    <span class="glyphicon glyphicon-th"></span>My Dashboard
                  </a>
                </li>
                <li role="menuitem" [routerLinkActive]="['active']" *ngIf="candidate.isCompleted==true">
                  <a class="dropdown-item" [routerLink]="['value-portrait']"
                     (click)="navigateToWithId('/value-portrait');">
                    <span class="glyphicon glyphicon-user"></span>Value Portrait
                  </a>
                </li>
                <!--<li role="menuitem" [routerLinkActive]="['active']" *ngIf="candidate.isCompleted==true">
                  <a class="dropdown-item" [routerLink]="['profile-summary']"
                     (click)="navigateTo('/profile_summary');">
                    <span class="glyphicon glyphicon-eye-open"></span>View Profile
                  </a>
                </li>-->
                <li role="menuitem" [routerLinkActive]="['active']" *ngIf="candidate.isCompleted==true">
                  <a class="dropdown-item" [routerLink]="['profile-edit']"
                     (click)="navigateTo('/create_profile');">
                    <span class="	glyphicon glyphicon-edit"></span>Edit Profile
                  </a>
                </li>
                <li role="menuitem" [routerLinkActive]="['active']">
                  <a class="dropdown-item" [routerLink]="['profile']"
                     (click)="navigateTo('/profile/candidate'); toggleMenu();">
                    <span class="glyphicon glyphicon-list-alt"></span>Account Details
                  </a>
                </li>
                <li role="menuitem" [routerLinkActive]="['active']">
                  <a class="dropdown-item" [routerLink]="['settings']"
                     (click)="navigateTo('/settings/candidate'); toggleMenu();">
                    <span class="glyphicon glyphicon-lock"></span>Change Password
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item"
                     (click)="highlightedSection.name='GuideTour'">
                    <span class="glyphicon glyphicon-road"></span>Guided Tour
                  </a>
                </li>
                <li role="menuitem">
                  <a class="dropdown-item" (click)="logOut()">
                    <!--<a class="dropdown-item" (click)="navigateTo('/')">-->
                    <span class="glyphicon glyphicon-log-out"></span>Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>

<div *ngIf="highlightedSection.name=='GuideTour'">
  <cn-guided-tour (onSkip)="onSkip($event)"></cn-guided-tour>
</div>
