@import '../../../../../css/variables';

.header-links {
  position: absolute;
  top: 13px;
  right: 15px;
  z-index: 1000;

  li {
    margin: 0 25px 0 0;

    a {
      font-size: 18px;
      color: $white;
    }

    &:last-child {
      margin: 0;
    }
  }
}
