<div>
  <span class="glyphicon glyphicon-filter visible-xs" (click)="isFilterVisible = !isFilterVisible"></span>
  <a *ngIf="showClearFilter" class="clear-filter" [class.recruiter-clear-filter]="isRecuirter" (click)="clearFilter()" >Clear all filters</a>
  <form [formGroup]="userForm" (submit)="clearFilter()">
    <div [class.filter-bg]="isFilterVisible" (click)="isFilterVisible = false"></div>
    <div class="filter-container" [class.open-filter]="isFilterVisible" [class.recruiter-filter]="isRecuirter">
      <h4 class="candidate-filters-label hidden-xs" [class.open-filter]="isFilterVisible">
        <span class="glyphicon glyphicon-filter filter-icons"></span>
        <span *ngIf="isRecuirter">Candidate</span> Filters
      </h4>
      <div class="inner col-sm-12">
        <h5 data-toggle="collapse" href="#education" (click)="openEducationPanel=!openEducationPanel"
            [ngClass]="{'panel-up': openEducationPanel , 'panel-down': !openEducationPanel }">Education</h5>
        <div id="education" class="collapse">
          <div *ngFor="let itemList of educationList">
            <label class="checkbox">
              <input type="checkbox" formControlName="eduction" value="{{itemList}}"
                     (change)="filterByEducation($event)">{{itemList}}
            </label>
          </div>
        </div>

        <h5 data-toggle="collapse" href="#experience" (click)="openExperiencePanel=!openExperiencePanel"
            [ngClass]="{'panel-up': openExperiencePanel , 'panel-down': !openExperiencePanel }"
            >Experience <b
          class="small-label">(In Year)</b></h5>
        <div id="experience" class="min-max-values clearfix  collapse">
          <div class="col-sm-6 padding-right5">
            <label>Min</label>
            <select formControlName="experienceMin" (change)="selectExperiencesMinModel($event.target.value)">
              <option value="" selected></option>
              <option value="{{itemList}}"
                      *ngFor="let itemList of experienceRangeList | minrange:qCardFilter.experienceMaxValue">
                {{itemList}}
              </option>
            </select>
          </div>
          <div class="col-sm-6 padding-left5">
            <label>Max</label>
            <select formControlName="experienceMax" (change)="selectExperiencesMaxModel($event.target.value)">
              <option value="" selected></option>
              <option value="{{itemList}}"
                      *ngFor="let itemList of experienceRangeList | maxrange:qCardFilter.experienceMinValue">
                {{itemList}}
              </option>
            </select>
          </div>
        </div>

        <h5 data-toggle="collapse" href="#salary" (click)="openSalaryPanel=!openSalaryPanel"
            [ngClass]="{'panel-up': openSalaryPanel , 'panel-down': !openSalaryPanel }"
            >Salary Range <b
          class="small-label">(In Lacs)</b></h5>
        <div id="salary" class="min-max-values clearfix collapse">
          <div class="col-sm-6 padding-right5">
            <label>Min</label>
            <select formControlName="salaryMin" (change)="selectSalaryMinModel($event.target.value)">
              <option value="" selected></option>
              <option value="{{itemList}}"
                      *ngFor="let itemList of salaryRangeList | minrange:qCardFilter.salaryMaxValue">{{itemList}}
              </option>
            </select>
          </div>
          <div class="col-sm-6 padding-left5">
            <label>Max</label>
            <select formControlName="salaryMax" (change)="selectSalaryMaxModel($event.target.value)">
              <option value="" selected></option>
              <option value="{{itemList}}"
                      *ngFor="let itemList of salaryRangeList | maxrange:qCardFilter.salaryMinValue">{{itemList}}
              </option>
            </select>
          </div>
        </div>
        <div *ngIf="!isRecuirter">
          <h5 data-toggle="collapse" href="#company-size" (click)="openCompanySizePanel=!openCompanySizePanel"
              [ngClass]="{'panel-up': openCompanySizePanel , 'panel-down': !openCompanySizePanel }"
              class="company-size-label">Company Size</h5>
          <div id="company-size" class="collapse">
            <select formControlName="companysize" (change)="filterByCompanySize($event.target.value)">
              <option value="" selected></option>
              <option value="{{itemList}}" *ngFor="let itemList of companySizeList">{{itemList}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="!isRecuirter">
          <h5 data-toggle="collapse" href="#joblocation" (click)="openLocationPanel=!openLocationPanel"
              [ngClass]="{'panel-up': openLocationPanel , 'panel-down': !openLocationPanel }"
               class="location-label">
            Location</h5>
          <div id="joblocation" class="collapse">
            <select formControlName="location" (change)="jobsFilterByLocation($event.target.value)">
              <option value="" selected></option>
              <option value="{{itemList}}" *ngFor="let itemList of locationList">{{itemList}}</option>
            </select>
          </div>
        </div>

        <div *ngIf="isRecuirter">
          <h5 data-toggle="collapse" href="#location" (click)="openCurrentLocationPanel=!openCurrentLocationPanel"
              [ngClass]="{'panel-up': openCurrentLocationPanel , 'panel-down': !openCurrentLocationPanel }"
              class="current-location-label">Current Location</h5>
          <div id="location" class="collapse">
            <label class="radio">
              <input type="radio" [attr.id]="'radio-button-1'" name="radiogroup" value="{{location}}"
                     (click)="candidatesFilterByLocation($event.target.value)">
              {{location}}
            </label>
            <label class="radio">
              <input type="radio" [attr.id]="'radio-button-2'" name="radiogroup" value="{{All}}"
                     (click)="candidatesFilterByLocation($event.target.value)">All
            </label>
          </div>
        </div>

        <h5 data-toggle="collapse" href="#proficiencies" (click)="openKeyskillsPanel=!openKeyskillsPanel"
            [ngClass]="{'panel-up': openKeyskillsPanel , 'panel-down': !openKeyskillsPanel }"
            >Key Skills</h5>
        <div id="proficiencies" class="collapse">
          <div *ngFor="let itemList of proficiencyList">
            <label class="checkbox">
              <input formControlName="proficiencies" type="checkbox" value="{{itemList}}"
                     (change)="filterByProficiency($event)">{{itemList}}
            </label>
          </div>
        </div>

        <h5 data-toggle="collapse" href="#lead-time" (click)="openJoiningPeriodPanel=!openJoiningPeriodPanel"
            [ngClass]="{'panel-up': openJoiningPeriodPanel , 'panel-down': !openJoiningPeriodPanel }"
            >Lead Time to Join</h5>
        <div id="lead-time" class="collapse">
          <select formControlName="timetojoin" (change)="filterByJoinTime($event.target.value)">
            <option value="" selected></option>
            <option value="{{itemList}}" *ngFor="let itemList of jointimeList">{{itemList}}</option>
          </select>
        </div>

        <h5 data-toggle="collapse" href="#industry-exposure" (click)="openDomainPanel=!openDomainPanel"
            [ngClass]="{'panel-up': openDomainPanel , 'panel-down': !openDomainPanel }"
            >Domain Exposure</h5>
        <div id="industry-exposure" class="collapse">
          <div *ngFor="let itemList of industryList">
            <label class="checkbox">
              <input formControlName="industry" type="checkbox" value="{{itemList}}"
                     (change)="filterByIndustryExposure($event)">{{itemList}}
            </label>
          </div>
        </div><br>

        <div *ngIf="isRecuirter">
          <h5 data-toggle="collapse" href="#mustHave" (click)="mustHaveComplexityPanel=!mustHaveComplexityPanel"
            [ngClass]="{'panel-up': mustHaveComplexityPanel , 'panel-down': !mustHaveComplexityPanel }"
          >Must Have Capabilities</h5>
          <div id="mustHave" class="collapse">
            <div>
              <label class="checkbox">
                <input formControlName="mustHaveComplexity" type="checkbox" value="{{itemList}}"
                       (change)="filterByMustHaveComplexity($event)">Apply{{itemList}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

