.recruiter-filter {
  height: calc(100vh - 177px) !important;
  padding-bottom: 0 !important;
  top: 177px !important;
  z-index: 1001 !important;

  h4 {
    padding: 15px !important;
    top: 132px !important;
  }
}

.filter-icons {
  font-size: 12px;
  margin-right: 4px;
}

.default-checkbox {
  margin: 15px 10px 5px 0;
  width: 100%;
  position: relative;

  span {
    position: absolute;
    top: 0;
    left: 22px;
    font-size: 12px;
  }
}
