.recruiter-filter {
  height: calc(100vh - 177px) !important;
  padding-bottom: 0 !important;
  top: 169px !important;

  h4 {
    top: 132px !important;
  }
  .inner {
    margin: 0;
  }
}

.filter-icons {
  font-size: 12px;
  margin-right: 4px;
}

.default-checkbox {
  margin: 15px 10px 5px 0;
  width: 100%;
  position: relative;

  span {
    position: absolute;
    top: 0;
    left: 22px;
    font-size: 12px;
  }
}

#education,
#experience {
    max-height: 160px;
    overflow-y: auto;
}
