<div>
  <form [formGroup]="userForm" (submit)="clearFilter()">
    <div class="filter-container">
      <h4>Filters</h4>
      <div class="inner col-sm-12">
        <h5 data-toggle="collapse" href="#education"
            [class.panel-up]="arrow" [class.panel-down]="!arrow" (click)="arrow=!arrow">Education</h5>
        <div id="education" class="collapse">
          <div *ngFor="let itemList of educationList">
            <label class="checkbox">
              <input type="checkbox" formControlName="eduction" value="{{itemList}}"
                     (change)="filterByEducation($event)">{{itemList}}
            </label>
          </div>
        </div>

        <h5 data-toggle="collapse" href="#experience"
            [class.panel-up]="arrow1" [class.panel-down]="!arrow1" (click)="arrow1=!arrow1">Experience</h5>
        <div id="experience" class="min-max-values clearfix  collapse">
          <div class="col-sm-6 padding-right5">
            <label>Min</label>
            <select formControlName="experienceMin" (change)="selectExperiencesMinModel($event.target.value)">
              <option value="{{itemList}}"
                      *ngFor="let itemList of experienceRangeList | minrange:qCardFilter.experienceMaxValue">
                {{itemList}}
              </option>
            </select>
          </div>
          <div class="col-sm-6 padding-left5">
            <label>Max</label>
            <select formControlName="experienceMax" (change)="selectExperiencesMaxModel($event.target.value)">
              <option value="{{itemList}}"
                      *ngFor="let itemList of experienceRangeList | maxrange:qCardFilter.experienceMinValue">
                {{itemList}}
              </option>
            </select>
          </div>
        </div>

        <h5 data-toggle="collapse" href="#salary"
            [class.panel-up]="arrow2" [class.panel-down]="!arrow2" (click)="arrow2=!arrow2">Salary Range</h5>
        <div id="salary" class="min-max-values clearfix collapse">
          <div class="col-sm-6 padding-right5">
            <label>Min</label>
            <select formControlName="salaryMin" (change)="selectSalaryMinModel($event.target.value)">
              <option value="{{itemList}}"
                      *ngFor="let itemList of salaryRangeList | minrange:qCardFilter.salaryMaxValue">{{itemList}}
              </option>
            </select>
          </div>
          <div class="col-sm-6 padding-left5">
            <label>Max</label>
            <select formControlName="salaryMax" (change)="selectSalaryMaxModel($event.target.value)">
              <option value="{{itemList}}"
                      *ngFor="let itemList of salaryRangeList | maxrange:qCardFilter.salaryMinValue">{{itemList}}
              </option>
            </select>
          </div>
        </div>
        <div *ngIf="!isRecuirter">
          <h5 data-toggle="collapse" href="#company-size"
              [class.panel-up]="arrow8" [class.panel-down]="!arrow8" (click)="arrow8=!arrow8">Comapny Size</h5>
          <div id="company-size" class="collapse">
            <select formControlName="companysize" (change)="filterByCompanySize($event.target.value)">
              <option value="{{itemList}}" *ngFor="let itemList of companySizeList">{{itemList}}</option>
            </select>
          </div>
        </div>
        <div *ngIf="!isRecuirter">
          <h5 data-toggle="collapse" href="#joblocation"
              [class.panel-up]="arrow7" [class.panel-down]="!arrow7" (click)="arrow7=!arrow7">Location</h5>
          <div id="joblocation" class="collapse">
            <select formControlName="location" (change)="jobsFilterByLocation($event.target.value)">
              <option value="{{itemList}}" *ngFor="let itemList of locationList">{{itemList}}</option>
            </select>
          </div>
        </div>

        <div *ngIf="isRecuirter">
          <h5 data-toggle="collapse" href="#location"
              [class.panel-up]="arrow3" [class.panel-down]="!arrow3" (click)="arrow3=!arrow3">Current Location</h5>
          <div id="location" class="collapse">
            <label class="radio">
              <input type="radio" [attr.id]="'radio-button-1'" name="radiogroup" value="{{location}}"
                     (click)="candidatesFilterByLocation($event.target.value)">
              {{location}}
            </label>
            <label class="radio">
              <input type="radio" [attr.id]="'radio-button-2'" name="radiogroup" value="{{All}}"
                     (click)="candidatesFilterByLocation($event.target.value)">All
            </label>
          </div>
        </div>

        <h5 data-toggle="collapse" href="#proficiencies"
            [class.panel-up]="arrow4" [class.panel-down]="!arrow4" (click)="arrow4=!arrow4">Proficiencies</h5>
        <div id="proficiencies" class="collapse">
          <div *ngFor="let itemList of proficiencyList">
            <label class="checkbox">
              <input formControlName="proficiencies" type="checkbox" value="{{itemList}}"
                     (change)="filterByProficiency($event)">{{itemList}}
            </label>
          </div>
        </div>

        <h5 data-toggle="collapse" href="#lead-time"
            [class.panel-up]="arrow5" [class.panel-down]="!arrow5" (click)="arrow5=!arrow5">Lead Time to Join</h5>
        <div id="lead-time" class="collapse">
          <select formControlName="timetojoin" (change)="filterByJoinTime($event.target.value)">
            <option value="{{itemList}}" *ngFor="let itemList of jointimeList">{{itemList}}</option>
          </select>
        </div>

        <h5 data-toggle="collapse" href="#industry-exposure"
            [class.panel-up]="arrow6" [class.panel-down]="!arrow6" (click)="arrow6=!arrow6">Industry Exposure</h5>
        <div id="industry-exposure" class="collapse">
          <div *ngFor="let itemList of industryList">
            <label class="checkbox">
              <input formControlName="industry" type="checkbox" value="{{itemList}}"
                     (change)="filterByIndustryExposure($event)">{{itemList}}
            </label>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

