.recruiter-filter {
  top: 216px !important;
  padding-bottom: 0 !important;
  height: calc(100vh - 238px) !important;
  z-index: 1001 !important;

  h4 {
    top: 170px !important;
    padding: 15px !important;
  }
}

.filter-icons {
  font-size: 12px;
  margin-right: 4px;
}
