@import '../../../../css/common';

.wrapper {

  .radio-inline {
    color: $wrapper-text;
    width: 40%;

    input {
      -moz-appearance: none;
    }
  }

  .content {

    h4 {
      color: $white;
      font-size: 22px;
      margin-top: 0;
    }
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    .radio-inline {
      margin-left: 0;
      width: 100%;
    }
  }
}
