@import '../../../../css/common';

.main-form-wrapper {
  form {
    padding: 0 30px;
  }

  .radio-inline {
    color: $wrapper-text;
    width: 40%;

    input {
      -moz-appearance: none;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-form-wrapper {
    .radio-inline {
      margin-left: 0;
      width: 100%;
    }
  }
}
