<section class="main-form-wrapper verify-user" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}">

  <!--<tpl-loader *ngSwitchCase="true"></tpl-loader>-->
  <app-loader></app-loader>

  <div class="col-lg-4 col-sm-8 col-xs-10 content">

    <h5>Verify your account</h5>

    <form [formGroup]="userForm" (submit)="onSubmit()">

      <p>You are almost done! We just need to verify your account before you can start using it.</p>

      <div class="radio text-left">
        <label for="chkMobile" class="radio-inline">
          <input type="radio" id="chkMobile" name="chkOption" (click)="showHideMobile()" value="chkMobile" />
          Phone Verification
        </label>

        <label for="chkEmail" class="radio-inline">
          <input type="radio" id="chkEmail" name="chkOption" (click)="showHideEmail()" value="chkEmail" />
          Email Verification
        </label>
      </div>

      <div class="form-group" id="inputMobile" [hidden]="chkMobile" >
        <control-messages [control]="userForm.controls.mobile_number"></control-messages>
        <input type="number" [(ngModel)]="model.mobile_number" formControlName="mobile_number" id="mobile_number" placeholder="Mobile Number"
               class="form-control"/>
      </div>

      <div class="form-group" id="inputEmail" [hidden]="chkEmail">
        <control-messages [control]="userForm.controls.email"></control-messages>
        <input [(ngModel)]="model.email" formControlName="email" id="email" placeholder="Email" class="form-control" readonly/>
      </div>

      <div class="clearfix">&nbsp;</div>
      <button type="submit" class="btn btn-default">Verify user
      </button>
    </form>

  </div>

</section>



