@import '../../../../css/common';

.main-form-wrapper {
  form {
    padding: 15px;
  }



  .form-group {
    margin-top: 15px;
  }

  .radio-inline {
    color: $text-color;
    width: 40%;

    input {
      -moz-appearance: none;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .main-form-wrapper {
    form {
      padding: 15px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-form-wrapper {
    .radio-inline {
      margin-left: 0;
      width: 100%;
    }
  }
}
