<section class="main-form-wrapper verify-user" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}">

  <main-header></main-header>

  <app-loader></app-loader>

  <div class="col-lg-4 col-sm-6 col-xs-10 content">

    <h5>Verify your account <span class="glyphicon glyphicon-remove" (click)="navigateTo('/landing')"></span></h5>

    <form [formGroup]="userForm" (submit)="onSubmit()">

      <p><b>You are almost done! We just need to verify your account before you can start using it.</b></p>

      <div class="form-group" id="inputMobile" [hidden]="chkMobile"  >
        <control-messages [control]="userForm.controls.mobile_number"></control-messages>
        <p>One Time Password(OTP) will be sent on the following mobile Number.</p>
        <input type="number" [(ngModel)]="model.mobile_number" formControlName="mobile_number" id="mobile_number" class="form-control" required/>

      </div>

      <div class="button-group" [hidden]="chkMobile">
        <button type="submit" class="btn btn-primary">Verify MobileNumber</button>
      </div>
      </form>

    <form [formGroup]="userForm" (submit)="onSubmit()" [hidden]="chkEmail">
      <div class="form-group" id="inputEmail" >
        <control-messages [control]="userForm.controls.email"></control-messages>
       <p>Verification link will be emailed on the following email address.</p>
        <input type="email" [(ngModel)]="model.email" formControlName="email" id="email" class="form-control" readonly />

      </div>

      <div class="button-group" [hidden]="isMailSent">
        <button type="submit" class="btn btn-primary">Verify user</button>
      </div>

      <div class="button-group" [hidden]="chkEmail" *ngIf="isMailSent ==true">
        <button type="submit" class="btn btn-primary">Resend Verification Email</button>
      </div>
    </form>

  </div>

</section>



