<div class="vertical-view" *ngIf="data != undefined">
  <div *ngIf="type=='employment history'">
    <div>  <!--*ngIf="data[0].designation!=undefined && data[0].designation !=''"-->
      <div titile="employment" class="employment-icon"></div>
      <span>{{type}}</span>
      <ul *ngIf="calledFrom=='singlepageview'">
          <li *ngFor="let item of data;let i = index" >
            <p *ngIf="item.isPresentlyWorking!=true">{{item.from.year}} - {{item.to.year}}</p>
            <p *ngIf="item.isPresentlyWorking===true">{{item.from.year}} - {{getMessages().MSG_PRESENTLY_WORKING}}</p>
            <p>{{item.designation}}</p>
            <p>{{item.companyName}}</p>
            <p [class.text-ellipsis]="!readMore[i]" [class.text-wrap]="readMore[i]">{{item.remarks}}</p>
            <p class="read-more" (click)="readMore[i] = !readMore[i]" *ngIf="item.remarks.length>30">Read More</p>
            <p class="read-less" (click)="readMore[i] = !readMore[i]">Read Less</p>
          </li>
      </ul>
      <ul class="candidate-vertical-view" *ngIf="calledFrom=='candidateview'">
          <li *ngFor="let item of data;let i = index" >
            <div *ngIf="i == 0">
              <p *ngIf="item.isPresentlyWorking!=true">{{item.from.year}} - {{item.to.year}}</p>
              <p *ngIf="item.isPresentlyWorking===true">{{item.from.year}} - {{getMessages().MSG_PRESENTLY_WORKING}}</p>
              <p>{{item.designation}}</p>
              <p>{{item.companyName}}</p>
              <p [class.text-ellipsis]="!readMore[i]" [class.text-wrap]="readMore[i]">{{item.remarks}}</p>
              <p class="read-more" (click)="readMore[i] = !readMore[i]" *ngIf="item.remarks.length>30">Read More</p>
              <p class="read-less" (click)="readMore[i] = !readMore[i]">Read Less</p>
              <p *ngIf="data.length != 1">( {{data.length-1}} more )</p>
            </div>
          </li>
      </ul>
    </div>
  </div>
  <div *ngIf="type=='academic details'">
    <div> <!--*ngIf="data[0].specialization!=undefined && data[0].specialization !=''"-->
      <div titile="education" class="education-icon"></div>
      <span>{{type}}</span>
      <ul *ngIf="calledFrom=='singlepageview'">
        <li *ngFor="let item of data;let i = index">
          <p>{{item.yearOfPassing}}</p>
          <p>{{item.specialization}}</p>
          <p>{{item.board}}</p>
          <p [class.text-ellipsis]="!readMore[i]" [class.text-wrap]="readMore[i]">{{item.schoolName}}</p>
          <p class="read-more" (click)="readMore[i] = !readMore[i]" *ngIf="item.schoolName.length>30">Read More</p>
          <p class="read-less" (click)="readMore[i] = !readMore[i]">Read Less</p>
        </li>
      </ul>
      <ul class="candidate-vertical-view" *ngIf="calledFrom=='candidateview'">
        <li  *ngFor="let item of data;let i = index">
          <div *ngIf="i == 0">
          <p>{{item.yearOfPassing}}</p>
          <p>{{item.specialization}}</p>
          <p>{{item.board}}</p>
          <p [class.text-ellipsis]="!readMore[i]" [class.text-wrap]="readMore[i]">{{item.schoolName}}</p>
          <p class="read-more" (click)="readMore[i] = !readMore[i]" *ngIf="item.schoolName.length>30">Read More</p>
          <p class="read-less" (click)="readMore[i] = !readMore[i]">Read Less</p>
          <p *ngIf="data.length != 1">( {{data.length-1}} more )</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="type=='awards'|| type=='certifications'">
    <div><!--*ngIf="data[0].specialization!=undefined && data[0].specialization !=''"-->
      <div titile="certifications" *ngIf="type=='certifications'" class="certificates-icon"></div>
      <div titile="awards" *ngIf="type=='awards'" class="awards-icon"></div>
      <!--<img src="assets/c-next/icons/certificates.png" alt="certifications" *ngIf="type=='certifications'"/>
      <img src="assets/c-next/icons/awards.png" alt="awards" *ngIf="type=='awards'"/>-->
      <span>{{type}}</span>
      <ul  *ngIf="calledFrom =='singlepageview'">
          <li *ngFor="let item of data;let i = index">
            <p>{{item.year}}</p>
            <p>{{item.name}}</p>
            <p>{{item.issuedBy}}</p>
            <p *ngIf="item.code!=''">{{item.code}}</p>
            <p [class.text-ellipsis]="!readMore[i]" [class.text-wrap]="readMore[i]">{{item.remark}}</p>
            <p class="read-more" (click)="readMore[i] = !readMore[i]" *ngIf="item.remark.length>20  ">Read More</p>
              <p class="read-less" (click)="readMore[i] = !readMore[i]">Read Less</p>
          </li>
      </ul>
      <ul class="candidate-vertical-view" *ngIf="calledFrom=='candidateview'">
        <li *ngFor="let item of data;let i = index">
          <div *ngIf="i == 0">
          <p>{{item.year}}</p>
          <p>{{item.name}}</p>
          <p>{{item.issuedBy}}</p>
          <p *ngIf="item.code!=''">{{item.code}}</p>
          <p [class.text-ellipsis]="!readMore[i]" [class.text-wrap]="readMore[i]">{{item.remark}}</p>
          <p class="read-more" (click)="readMore[i] = !readMore[i]" *ngIf="item.remark.length>20  ">Read More</p>
          <p class="read-less" (click)="readMore[i] = !readMore[i]">Read Less</p>
          <p *ngIf="data.length != 1">( {{data.length-1}} more )</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
