@import '../../../../../../css/common';

$theme-color: #3694d1;
$text-color: #576b7c;
$bg-color: #fff;

.vertical-view {
  font-size: 13px;
  margin-bottom: 15px;
  text-align: left;

  &::before {
    clear: both;
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }

  img {
    margin-right: 5px;
    width: 25px;
  }

  span {
    color: $theme-color;
    text-transform: capitalize;
  }

  ul {

    margin: 10px auto;
    padding: 0;

    li {
      list-style-type: none;
      margin: 0;
      padding: 5px 0;
      position: relative;
      text-align: left;
      width: 100%;

      &::before {
        background-color: $text-color;
        border: 5px solid $bg-color;
        border-radius: 50%;
        content: '';
        display: block;
        margin: 0;
        padding: 5px;
        position: absolute;
        top: 0;
        z-index: 2;
      }

      &::after {
        background: $text-color;
        content: '';
        height: 100%;
        left: 10px;
        position: absolute;
        top: 0;
        width: 1px;
        z-index: 1;
      }

      &:last-child::after {
        content: none;
        display: none;
      }

      p {
        color: $text-color;
        margin: -4px 0 5px;
        padding: 0 0 5px 30px;
        word-break: break-all;
      }

      .text-ellipsis {
        @extend %text-ellipsis;
      }

      .read-less,
      .read-more {
        color: $theme-color;
        cursor: pointer;
        display: none;
        font-size: 13px;
        font-weight: bold;
      }

      .text-ellipsis ~ .read-more {
        display: block;
      }

      .text-wrap ~ .read-less {
        display: block;
      }
    }
  }

  .candidate-vertical-view {
    li:first-child {
      display: block;
    }

    li {
      display: none;

      &::after {
        display: none;
      }
    }
  }
}
