<section class="main-form-wrapper dashboard-profile">
  <div class="dashboard-profile-content clearfix">
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
    <div class="col-sm-6" style="margin-top: 140px">

      <form [formGroup]="viewProjectForm" (submit)="onSubmit()" class="profile-form clearfix">

        <div class="form-group">
          <label>Project Name
            <span class="glyphicon glyphicon-pencil"></span>
          </label>
          <input [(ngModel)]="model.name" formControlName="name" id="name"
                 class="form-control clear"/>
        </div>


        <div class="form-group">
          <label>Project Address
            <span class="glyphicon glyphicon-pencil"></span>
          </label>
          <input [(ngModel)]="model.region" formControlName="region" id="region"
                 class="form-control clear"/>
        </div>


        <div class="form-group">
          <label>Plot Area<small> (In sqm)</small>
            <span class="glyphicon glyphicon-pencil"></span>
          </label>
          <input [(ngModel)]="model.plotArea" formControlName="plotArea" id="plotArea"
                 class="form-control clear"/>
        </div>

        <div class="form-group">
          <label>Project Duration<small> (In months)</small>
            <span class="glyphicon glyphicon-pencil"></span>
          </label>
          <input [(ngModel)]="model.projectDuration" formControlName="projectDuration" id="projectDuration"
                 class="form-control clear"/>
        </div>

        <div class="form-group">
          <label>Plot Periphery<small> (In Rm)</small>
            <span class="glyphicon glyphicon-pencil"></span>
          </label>
          <input [(ngModel)]="model.plotPeriphery" formControlName="plotPeriphery" id="plotPeriphery"
                 class="form-control clear"/>
        </div>


        <div class="col-xs-12 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage"><b>{{
          error_msg }}</b></div>
        <button type="submit" class="btn btn-primary pull-right">
          Update
        </button>
      </form>
    </div>
  </div>
</section>

