$white: #fff;
$border-color: #ddd;
$profile-background: #f2f2f2;


.error-messages {
  color: #f66761;
  font-size: 10px;
  font-style: italic;
  margin: 0;
  position: absolute;
  line-height: 11px;
}

.job-info {
  margin: 15px 30px 0;
}

.job-poster {
  border: 1px solid $border-color;
  margin: 15px 30px;
  background: $profile-background;
  clear: both;
}

.button-group {
  text-align: right;


  .btn {
    margin: 0 0 0 15px;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

@media only screen and (max-width: 980px) {
  .job-info {
    margin: 15px 15px 0;
  }

  .job-poster {
    margin: 15px;
  }

  .button-group {
    .btn {
      margin: 15px 0 0 15px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .roles {
    .col-sm-12 {
      padding: 0;
    }
  }
}