<div class="clearfix ">


  <div class="job-poster">

    <cn-basic-job-information [highlightedSection]="highlightedSection" [jobPosterModel]="jobPosterModel"
                              (onComplete)="onBasicJobInformationComplete($event)"></cn-basic-job-information>

    <div id="work-area" >
    <cn-work-area [roles]="rolesForMain" [highlightedSection]="highlightedSection" (onComplete)="selectRole($event)"
                  [hidden]="!isShowRoleList"></cn-work-area>
    </div>

    <div id="capability-area">
    <cn-capabilities [roles]="rolesForCapability" [candidateRoles]="jobPosterModel.industry.roles"
                     [highlightedSection]="highlightedSection"
                     (onComplete)="selectRole($event)" [hidden]="!isShowCapability"></cn-capabilities></div>

    <div id="complexity-area" >
    <cn-complexities [roles]="rolesForComplexity" [candidateRoles]="jobPosterModel.industry.roles"
                     [highlightedSection]="highlightedSection"
                     [isComplexityPresent]="isComplexityPresent"
                     (onComplete)="selectRoleFromComplexity($event)" [hidden]="!isShowComplexity"></cn-complexities></div>

    <div id="proficiency-area">
    <cn-job-proficiencies [proficiencies]="proficiencies"  [jobPosterModel]="jobPosterModel"
                      [highlightedSection]="highlightedSection"
                      (onComplete)="selectProficiency($event)" [hidden]="!isShowProficiency">
    </cn-job-proficiencies>
    </div>

    <div id="industry-experience">
    <cn-industry-experience [candidateExperiencedIndustry]="jobPosterModel.interestedIndustries"
      [highlightedSection]="highlightedSection"
      (onComplete)="selectExperiencedIndustry($event)"
      [hidden]="!isShowProficiency"></cn-industry-experience></div>


    <div [hidden]="!isShowProficiency">
      <cn-compentacies-and-responsibilities [jobPosterModel]="jobPosterModel" [highlightedSection]="highlightedSection" (onComplete)="onCompentansiesandResponsibilitycomplete($event)" [hidden]="!isShowProficiency"></cn-compentacies-and-responsibilities>
    </div>
    <div class="button-group" [hidden]="!isShowProficiency">
      <button type="submit" class="btn btn-primary" (click)="mockupSearch()" >Mock Search</button><!--[disabled]="disableButton"-->
      <button type="submit" class="btn btn-danger" (click)="showHideModal()" [disabled]="disableButton">Post Job</button>
    </div>
  </div>
</div>


<div class="modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>Your job post details are successfully added to your job listing.</p>
              <div class="button-group">
                <button class="btn btn-primary" (click)="postjob()">Ok</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
