$border-color: #e8e8e8;
$light-blue: #0d75fa;
$primary-option: #0d75fa;
$secondary-option: #81d4fa;
$modal-bg: rgba(0, 0, 0, .5);
$active-section: #a8de78;
$theme-color: #0d75fa;
$black: #333;
$white: #fff;

.modal-bg {
  background: $modal-bg;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  animation: fadein .5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-content {
  z-index: 101;
  position: relative;
  border-radius: 0;
  //animation: fadein .5s;
  margin: 7px 15px;
  box-shadow: 1px 1px 1px 0 $modal-bg;
  border: 1px solid $theme-color;
  padding: 0 0 15px !important;
  overflow: hidden;
}

.edit-modal-content {
  z-index: 100;
  position: fixed;
  border-radius: 0;
  margin: 0 auto;
  box-shadow: 1px 1px 1px 0 $modal-bg;
  border: 2px solid $white;
  padding: 0;
  overflow: auto;
  top: 50%;
  left: 50%;
  width: 950px;
  height: 500px;
  transform: translate(-50%, -50%) !important;
  border-radius: 10px;
}

.compact-view {
  clear: both;
  //border: 1px solid $border-color;
  position: relative;
  padding: 5px;
  //z-index: 2;
  user-select: none;

  .btn-edit {
    background: transparent url("../assets/c-next/compact-view/pencil.png") no-repeat 50% 50%;
    background-size: cover;
    border: 0;
    display: inline-block;
    height: 20px;
    opacity: 1;
    padding: 0;
    transition: opacity 0.25s ease-out;
    width: 20px;
    top: 5px;
    right: 5px;
    position: absolute;
  }

  .see-more {
    clear: both;
    position: relative;
    top: -3px;

    p {
      color: $theme-color;
      font-size: 10px;
      text-align: center;
    }

    span {
      color: $theme-color;
      font-size: 8px;
      text-align: center;
      display: block;
    }
  }

  .btn-edit[hidden] {
    display: none;
  }

  .glyphicon-lock {
    background-color: #fff;
    color: #ccc;
    height: 20px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
    z-index: 4;
  }

  .heading {
    margin: 0 0 15px !important;
    padding: 0 !important;
    border-radius: 0 !important;
  }

  .sub-areas {
    border-bottom: 1px solid $border-color;
    padding-bottom: 5px;
  }

  .img-container {
    border: 1px solid $border-color;
    border-radius: 50%;
    box-sizing: border-box;
    float: left;
    height: 85px;
    margin: 0 15px 0 0;
    overflow: hidden;
    position: relative;
    width: 85px;

    img {
      background: #e6e6e6;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      width: 100%;
    }

    form {
      display: none !important;
    }
  }

  p {
    font-size: 12px;
    margin: 0;
  }

  label {
    //min-width: 90px;
    margin-bottom: 0;
    padding: 0 10px 0 0;
    font-size: 14px;
    font-weight: 500;
    font-family: 'gothamrnd-book';
    min-width: 145px;
    color: $black;
  }

  .option-list {
    float: left;
    margin: 5px 10px 5px 0;
  }

  .option {
    font-weight: 900;
    font-size: 12px;
    text-transform: capitalize;
    background: $theme-color;
    color: $white;
    border-radius: 25px;
    padding: 3px 15px;
  }

  .content {
    border-bottom: 0 !important;
    padding-bottom: 0 !important;
  }

  span {
    padding-left: 0;
  }

  ul {
    padding-left: 22px;

    li {
      color: #666;
      float: left;
      //list-style-type: disc;
      list-style-image: url('../../../assets/c-next/compact-view/list-type.png');
      margin-bottom: 0;
      padding-right: 25px;
      text-transform: capitalize;
      width: 100%;
    }
  }

}

.quarter-width {
  width: 25%;
  float: left;
}

.half-width {
  width: 50%;
  float: left;
}

.full-width {
  width: 100%;
}

@media only screen and (max-width: 1280px) {
  .compact-view {
    .btn-edit {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .compact-view {
    ul {
      li {
        width: 100%;
      }
    }

    .option {
      li {
        width: 50%;
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .edit-modal-content {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {

  .modal-content {
    margin: 5px;
  }

  .compact-view {
    padding: 5px;

    label {
      min-width: 50px;
    }

    .img-container {
      height: 65px;
      margin: 0 5px 0 0;
      width: 65px;
    }

    .heading {
      margin-top: 0 !important;
    }

    .select-option {
      span {
        font-size: 9px;
      }
    }

    .capability-complexity {
      border-top: 0 !important;

      .content {
        margin: 0 !important;
      }
    }

    ul,
    .option {
      li {
        float: left;
        width: 100%;
      }
    }
  }
}

.my-info {
  height: 400px;
  position: relative;
  border-right: 1px solid $border-color;
}

.description-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;

  .image-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 15px;
    display: block;
    position: relative;

    .avtar {
      border-radius: 50% !important;
    }

    .avtar > form {
      bottom: -15px !important;
      position: absolute !important;
      right: 33% !important;
    }
  }
}
