@import '../../../css/common';
@import '../../../css/variables';

.card-view {
  clear: both;
  text-align: left;
  margin-top: 135px;
  //background-color: $active-color;

  .panel {
    //border:1px solid $border-color;
    border-radius: 0;
    box-shadow: 2px 2px 2px $profile-section-shadow;
    margin: 13px 0;
    padding: 45px 15px 10px;
    position: relative;
    cursor: pointer;

    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 5px;
      top: 5px;
      z-index: 99;

      li {
        float: left;
        padding: 0 5px;
        cursor: pointer;
      }

      .glyphicon {
        background: $white;
        color: $text-color4;
        cursor: pointer;
        font-size: 12px;
      }

      .glyphicon-star {
        font-size: 15px;
        top: 3px;
      }

      .shortlisted {
        color: $orange;
      }

      .glyphicon-eye-open,
      .active-star {
        color: $theme-color;
      }

      img {
        width: 10px;
        height: 10px;
      }
    }

    p {
      @extend %text-ellipsis;
      border-bottom: 1px solid $border-color;
      font-size: 13px;
      margin: 0;
      padding: 8px 5px 8px 30px;
      position: relative;
      min-height: 35px;
      z-index: 1;

      img {
        left: 0;
        position: absolute;
        top: 5px;
      }

      &:first-child {
        border-top: 1px solid $border-color;
      }

      span {
        width: 100%;
      }
    }

    .personal-info p {
      span {
        left: 0;
        position: absolute;
        top: 10px;
        color: $orange;
      }
    }

    .profile-picture {
      border: 1px solid $border-color1;
      border-radius: 50%;
      display: inline-block;
      height: 40px;
      margin-right: 10px;
      width: 40px;
    }

    h6 {
      color: $theme-color;
      font-weight: 900;
      font-size: 13px;
      margin: 0 0 5px;
      text-transform: capitalize;
      font-family: 'gothamrnd-book';
      position: relative;
      top: 0;
      left: 0;
      @extend %text-ellipsis;
      min-height: 32px;
    }

    h5 {
      color: $orange;
      font-family: 'gothamrnd-light';
      font-weight: 600;
      font-size: 13px;
      color: $name;
      margin: 0 0 5px;
      @extend %text-ellipsis;
    }

    &:hover {
      box-shadow: 0 0 5px 2px rgba(13, 117, 250, 0.4);

      ul {
        display: block;
      }
    }
  }

  .btn-cart {
    background: transparent;
    border: 1px solid $theme-color;
    border-radius: 0;
    box-shadow: none;
    color: $theme-color;
    display: table;
    font-size: 12px !important;
    height: 32px !important;
    margin: 0 auto 6px auto;
    padding: 6px 15px !important;
    position: relative;
    width: 64%;
    z-index: 2;

    &:hover,
    &:focus,
    &:active {
      background-color: $theme-color;
      border: 1px solid $theme-color;
      box-shadow: none;
      color: $white;
    }
  }

  .panel-container {
    position: relative;
    z-index: 9;

    .button-group {
      position: absolute;
      width: 92%;
      bottom: 13px;
      padding: 5px;
      display: none;
      background: rgba(255,255,255,0.9);
      height: 89%;
      z-index: 9;

      .btn {
        border-radius: 0;
      }
    }

    &:hover {
      .button-group {
        display: block;
      }
    }
  }

  header {
    margin: 10px 10px 0;
    padding-bottom: 0;
  }

  .canvas-container {
    color: $theme-color;
    float: none;
    margin: 0 auto;
    height: 90px;
    position: relative;
    transform: rotateY(180deg);
    width: 90px;

    span {
      left: 50%;
      position: absolute;
      text-align: center;
      top: 45%;
      transform: translate(-50%, -50%) rotateY(180deg);
      font-family: 'gothamrnd-book';
      font-size: 20px;
    }

    p {
      position: absolute;
      left: 50%;
      text-align: center;
      top: 73%;
      transform: translate(-50%, -50%) rotateY(180deg);
      color: $theme-color;
      font-size: 10px;
      padding: 0;
      border: 0;
    }
  }

  .details {
    padding: 0 10px;
  }
}

header {
  font-size: 13px;
  text-align: left;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;

    li {
      float: left;
      margin: 0 15px 0 0;
    }
  }

  .match-cases {
    width: auto;
    float: left;

    label {
      font-weight: 600;
    }
  }

  p {
    margin: 0 !important;
  }

  .sort-by {
    float: right;
    margin-left: 15px;

    .form-group {
      margin-bottom: 0 !important;
    }

    .form-group > label {
      margin: 5px;
    }

    select {
      border: 0;
      border-bottom: 1px solid $gray;
      -moz-appearance: none;
      -webkit-appearance: none;
      background: transparent url(../assets/framework/images/form/drop-down.png) no-repeat 95% 50%;
      border-radius: 0;
      box-shadow: none;
      padding: 6px;
      width: 140px;
      display: inline-block;
    }
  }

  .search {
    float: right;

    input {
      width: auto;
      border-radius: 0;
      padding: 5px 15px;
      height: 28px;
      display: inline;
    }

    .btn-search {
      background: transparent;
      border-radius: 0;
      color: $white;
      padding: 0;
      margin: -3px 0 0 -37px;
    }

  }
}

.clear-filter {
  border: 1px solid $theme-color;
  color: $theme-color;
  font-size: 12px;
  padding: 7px 14px;
  position: fixed;
  top: 95px;
  right: 420px;
  z-index: 1000;
  &:hover,
  &:focus,
  &:active {
    border: 1px solid $theme-color;
    color: $theme-color;
  }
}

.recruiter-clear-filter {
  top: 145px !important;
}

#matched-job,
#cart-job,
#applied-job,
#rejected-job {
  .card-view {
    margin-top: 0;
    position: absolute;
    top: 185px;
    width: calc(100% - 200px);
  }
}

#compare-candidates {
  .compare-candidate-view {
    left: 15px;
    margin-bottom: 0;
    position: absolute;
    top: 150px;
  }

  .empty-list-message {
    left: 50%;
  }
}

#cart-job {
  .empty-list-message {
    margin-top: 90px !important;
  }
}

#cart-job {
  .card-view {
    background: $body-bg;
    top: 176px;
    z-index: 9;
  }
}

#applied-job {
  .empty-list-message {
    margin-top: 60px !important;
  }
}

#rejected-job {
  .empty-list-message {
    margin-top: 120px !important;
  }
}

#matched {
  .card-view {
    margin-top: 95px;
  }
}

.empty-list-message {
  width: 600px;
  margin: 0 auto;
  background: $white;
  padding: 20px;
  border: 1px solid $border-color1;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.15);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  h4 {
    color: $theme-color;
    font-size: 20px;
  }
}

.proficiencies {
  min-height: 34px !important;
  float: left;
  padding-top: 5px;
}

.icons-section {
  .industry {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -10px -8px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 0;
  }
  .salary {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -10px -60px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 0;
  }
  .experience {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -9px -87px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 0;
  }
  .current-location {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -9px -34px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 0;
  }
  .education {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -10px -167px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 0;
  }
  .company-size {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -10px -114px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 0;
  }
  .date-posted {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -10px -222px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 0;
  }

  .edit-profile-pic {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -9px -304px;
    width: 30px !important;
    height: 30px;
    display: block;
  }
  p:last-child {
    border-bottom: 0 solid $border-color;
  }
}

.proficiencies-icon {
  background: url(../assets/c-next/card-view/sprite.png) no-repeat -9px -140px;
  width: 30px !important;
  height: 26px;
  position: absolute;
  cursor: pointer;
}

.compare-candidate-icon {
  background: url(../assets/c-next/card-view/sprite.png) no-repeat -10px -566px;
  width: 20px;
  height: 20px;
  display: block;
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 50px;
  z-index: 20;
}

#applied,
#applied-job,
.inAppliedClass {
  .icons-section {
    .industry {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -57px -8px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .salary {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -57px -60px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .experience {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -57px -87px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .current-location {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -57px -34px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .education {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -57px -168px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .company-size {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -57px -114px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .date-posted {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -57px -221px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
  }
  .card-view,
  .dashboard-view h6,
  .panel h6 {
    color: $orange;
    .canvas-container {
      color: $orange;
      p {
        color: $orange;
      }
    }
  }
  .proficiencies-icon {
    background: url("../assets/c-next/card-view/sprite.png") no-repeat -56px -141px;
    width: 30px !important;
    height: 26px;
    position: absolute;
    left: 0;
  }

  .compare-candidate-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -54px -566px;
    right: 25px !important;
  }

  .btn-cart {
    background: transparent;
    color: $orange;
    border: 1px solid $orange;

    &:hover,
    &:focus,
    &:active {
      background: $orange;
      border: 1px solid $orange;
      color: $white;
    }
  }
  .canvas-container,
  .canvas-container p {
    color: $orange;
  }

  .job-unavailable {
    filter: grayscale(1);

    .company-name-label {
      color: $gray !important;
    }
    .company-date {
      text-align: right !important;
    }
    .job-unavailable-message {
      color: $text-color;
      display: block;
      font-size: 12px;
    }
  }
}

#rejected,
#rejected-job,
.inRejectClass {
  .icons-section {
    .industry {
      background: url("../assets/c-next/card-view/pink-icons/industry.png") no-repeat 3px 1px;
    }
    .salary {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -103px -60px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .experience {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -103px -87px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .current-location {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -103px -34px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .education {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -103px -168px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .company-size {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -103px -114px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .date-posted {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -104px -222px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
  }
  .card-view,
  .dashboard-view h6,
  .panel h6 {
    color: $pink;
    .canvas-container {
      color: $pink;
      p {
        color: $pink;
      }
    }
  }
  .proficiencies-icon {
    background: url("../assets/c-next/card-view/sprite.png") no-repeat  -103px -143px;

  }
  .company-date {
    right: 30px;
  }
  .compare-candidate-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -106px -566px;
  }

  .btn-cart {
    background: transparent;
    color: $pink;
    border: 1px solid $pink;

    &:hover,
    &:focus,
    &:active {
      background: $pink;
      border: 1px solid $pink;
      color: $white;
    }
  }
  .canvas-container,
  .canvas-container p {
    color: $pink;
  }
}

#cart-job,
.inCartClass {
  .icons-section {
    .industry {
      background: url("../assets/c-next/card-view/purple-icons/industry.png") no-repeat 3px 8px;
    }
    .salary {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -149px -60px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .experience {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -149px -87px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .current-location {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -149px -34px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .education {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -149px -167px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
    .company-size {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -149px -114px;
      width: 20px !important;
      height: 20px;
      position: absolute;
      left: 0;
    }
  }
  .card-view,
  .dashboard-view h6,
  .panel h6 {
    color: $purple;
    .canvas-container {
      color: $purple;
      p {
        color: $purple;
      }
    }
  }
  .proficiencies-icon {
    background: url("../assets/c-next/card-view/purple-icons/proficiency.png") no-repeat 5px 2px;
    min-height: 53px !important;
  }
  .compare-candidate-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -156px -566px;
  }

  .btn-cart {
    background: transparent;
    color: $purple;
    border: 1px solid $purple;

    &:hover,
    &:focus,
    &:active {
      background: $purple;
      border: 1px solid $purple;
      color: $white;
    }
  }
  .canvas-container,
  .canvas-container p {
    color: $purple;
  }
}

.candidate-search-section .card-view .panel-container .button-group {
  float: right;
  margin: -47px 0 0 0;
  position: relative;
  padding: 0 10px;
  text-align: right;
  width: 100%;
  z-index: 99;
}

.candidate-search-section .card-view .panel-container .button-group .btn {
  border-radius: 0;
  margin: 0 auto;
  padding: 0 !important;
  text-align: center;
  width: 49%;
}


@media only screen and (min-width: 1367px) {
  .card-view {
    .col-sm-4 {
      width: 25%;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .empty-list-message {
    width: 600px;
    left: calc(50% - 100px);
    text-align: left;
  }
}

@media only screen and (max-width: 1024px) {
  .card-view {
    .col-sm-4 {
      width: 50%;
    }
  }

  header {
    .search {
      float: none;
      margin-top: 10px;
    }
  }

  .empty-list-message {
    width: 400px;
  }
}

@media only screen and (max-width: 980px) {
  .card-view {
    .left-side {
      float: right;
      width: 100%;
    }

    .right-side {
      float: left;
      width: 100%;
    }

    .btn-cart {
      padding: 6px !important;
    }
  }

  header {
    .sort-by {
      margin-top: 4px;
    }
  }

  .candidate-search-section .card-view .panel-container .button-group {
    padding: 0 6px;
  }

  .candidate-search-section .card-view .panel-container .button-group .btn {
    font-size: 12px;
  }
}

@media only screen and (max-width: 767px) {
  .card-view {
    max-height: inherit;
    overflow: auto;
    margin-bottom: 0;
    padding-bottom: 45px;

    .col-sm-4 {
      width: 100%;
    }

    .panel {
      margin: 10px 0;

      h6 {
        overflow: visible;
        text-overflow: clip;
      }
    }

    .panel-container {
      padding: 0 5px;
    }
  }

  header {
    ul {
      margin: 0 !important;
    }
    .sort-by {
      margin: 0 20px 0 0;
    }

    .sort-by > select {
      border-bottom: 0;
      width: 115px;
    }
  }

  .empty-list-message {
    width: 90%;
    left: calc(50%);
  }

  #matched {
    .card-view {
      margin-top: 88px;
      margin-bottom: 0;
      min-height: calc(100vh - 123px);
    }
  }

  .clear-filter {
    left: 5px;
    padding: 7px;
    position: fixed;
    right: inherit;
    top: 91px;
  }

  #candidate-dashboard-cards {
    .home-page-footer {
      position: absolute;
    }
  }
}

