@import '../../../css/variables';

.check-box {
  display: inline-block;
  margin: 5px 20px 15px 0;
  text-align: left;
}

.check-box > label {
  margin: 0;
  min-height: 22px;
  padding: 0 15px 0 22px;
  position: relative;

  & > input {
    display: none;

    & + span {
      color: $text-color;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      min-width: 100px;
      display: inline-block;
      user-select: none;
      background: $white;
      border: 0;
      box-shadow: none;
      text-align: left;
      padding: 0;

      &:hover {
        color: $text-color;
        border: 0;
        box-shadow: none;
      }
    }

    &:checked {
      & + span {
        color: $theme-color;
        background-color: $white;
        border: 0;
        box-shadow: none;
      }
    }
  }
  & > input[type='checkbox'] {
    & ~ .check {
      cursor: pointer;
      display: block;
      position: absolute;
      border: 1px solid $option-border-color;
      border-radius: 0;
      height: 16px;
      width: 16px;
      top: 3px;
      left: 0;
      z-index: 5;
      transition: border .25s linear;
      -webkit-transition: border .25s linear;

      &::before {
        display: block;
        position: absolute;
        content: "\2713";
        border-radius: 100%;
        top: 50%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
        color: $white;
      }
    }

    &:checked {
      & ~ .check {
        border: 1px solid $primary-option1;

        &::before {
          color: $primary-option1;
          background: $white;
        }
      }
    }
  }

  & > input:disabled {
    & + span {
      cursor: not-allowed;
    }
  }

  &:hover {
    & > input {
      & + span {
        cursor: pointer;
      }

      &:checked {
        & + span {
          color: $primary-option1;
          background-color: $white;
          border: 0;
          box-shadow: none;
        }

        & ~ .check {
          border: 1px solid $primary-option1;

          &::before {
            background: $white;
          }
        }
      }
    }

    & > input:disabled {
      & + span {
        cursor: not-allowed;
      }
    }
  }
}
