@import '../../../css/common';

$border-color: #e8e8e8;
$orange: #e77e22;
$theme-color: #3694d1;
$white: #fff;
$purple: #7366ad;
$profile-section-shadow: rgba(0, 0, 0, 0.04);
$active-color: #edf1f5;

.card-view {
  clear: both;
  text-align: left;
  margin-top: 20px;
  //background-color: $active-color;

  .panel {
    //border:1px solid $border-color;
    border-radius: 0;
    box-shadow: 2px 2px 2px $profile-section-shadow;
    margin: 10px 0 10px;
    padding: 45px 15px 10px 15px;
    position: relative;

    ul {
      display: none;
      list-style: none;
      padding: 0;
      margin: 0;
      position: absolute;
      z-index: 5;
      top: 5px;
      right: 5px;

      li {
        float:left;
        padding: 0 5px;
        cursor: pointer;
      }

      .glyphicon {
        background: #fff;
        color: #999;
        cursor: pointer;
        font-size: 12px;
      }

      .glyphicon-star {
        font-size: 15px;
      }

      .shortlisted {
        color: $orange;
      }

      .glyphicon-eye-open,
      .active-star {
        color: $orange;
      }
    }

    p {
      @extend %text-ellipsis;
      border-bottom: 1px solid $border-color;
      font-size: 12px;
      margin: 0;
      padding: 8px 5px 8px 30px;
      position: relative;
      min-height: 33px;

      img {
        left: 0;
        position: absolute;
        top: 5px;
      }

      &:last-child {
        border-bottom: 0 solid $border-color;
      }

      span {
        width: 100%;
      }
    }

    .personal-info p {
      span {
        left: 0;
        position: absolute;
        top: 10px;
        color: $orange;
      }
    }

    .profile-picture {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
    }

    h6 {
      color: $orange;
      font-weight: 900;
      font-size: 14px;
      margin: 0 0 5px;
      text-transform: capitalize;
      font-family: 'gothamrnd-book';
      position: relative;
      top: 0;
      left:0;
      @extend %text-ellipsis;
    }

    h5 {
      color: $orange;
      font-family: 'gothamrnd-light';
      font-weight: 600;
      font-size: 12px;
      color: #666;
      margin: 0 0 5px;
      @extend %text-ellipsis;
    }

    .btn-cart {
      border-radius: 0;
      background-color: $theme-color;
      border: 1px solid $theme-color;
      box-shadow: none;
      color: $white;
      width: 100%;

      &:hover,
      &:focus,
      &:active {
        background-color: $theme-color;
        border: 1px solid $theme-color;
        box-shadow: none;
        color: $white;
      }
    }

    &:hover {
      .button-group,
      ul {
        display: block;
      }
    }
  }

  header {
    margin: 10px 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $border-color;
  }

  .canvas-container {
    color: $orange;
    float: none;
    margin: 0 auto;
    height: 90px;
    position: relative;
    transform: rotateY(180deg);
    width: 90px;

    span {
      left: 50%;
      position: absolute;
      text-align: center;
      top: 45%;
      transform: translate(-50%, -50%) rotateY(180deg);
      font-family: 'gothamrnd-book';
      font-size: 20px;
    }

    p {
      position: absolute;
      left: 50%;
      text-align: center;
      top: 66%;
      transform: translate(-50%, -50%) rotateY(180deg);
      color: $orange;
      font-size: 10px;
    }
  }

  .button-group {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 5px 5px;
    background: #fff;
    display: none;

    .btn {
      border-radius: 0;
    }
  }

  .details {
    padding: 10px;
  }
}

header {
  font-size: 12px;
  text-align: left;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;

    li {
      float: left;
      margin: 0 15px 0 0;
    }
  }

  .match-cases {
    width: auto;
    float: left;

    label {
      font-weight: 600;
    }
  }

  p {
    margin: 0 !important;
  }

  .sort-by {
    float: right;
    margin-left: 15px;

    select {
      width: 120px;
    }
  }

  .search {
    float: right;

    input {
      width: auto;
      border-radius: 0;
      padding: 5px 15px;
      height: 28px;
      display: inline;
    }

    .btn-search {
      background: transparent;
      border-radius: 0;
      color: #fff;
      padding: 0;
      margin: -3px 0 0 -37px;
    }

  }
}

@media only screen and (min-width: 1367px) {
  .card-view {
    .col-sm-4 {
      width: 25%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .card-view {
    .col-sm-4 {
      width: 50%;
    }
  }

  header {
    .search {
      float: none;
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 980px) {
  .card-view {
    .left-side {
      float:right;
      width: 100%;
    }

    .right-side {
      float:left;
      width: 100%;
    }
  }

  header {
    .sort-by {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .card-view {
    max-height: inherit;
    overflow: auto;

    .col-sm-4 {
      width: 100%;
    }
  }
}
