@import '../../../css/common';

$white: #fff;
$border-color: #e8e8e8;
$text-color: #666;
$purple: #7366ad;
$highlight: #596c7d;
$theme-color: #27aae1;
$orange: #fbb040;
$green: #8dc63f;
$red: #ef4136;
$border-light: #efefef;


.profile-wrapper {
  margin: 95px auto 15px;

 /* .col-sm-3 {
    width: 25%;
  }

  .col-sm-9 {
    width: 75%;
    padding-left: 0;
  }*/

  .btn-back {
    border: 0;
    margin: 0;
    padding: 5px;
    color: $text-color;
    width: auto;
    position: fixed;
    top: 55px;
    right: 10px;
    z-index: 999;

    &:focus,
    &:hover {
      outline: none;
    }
  }

  .list-view {
    color: $text-color;
    padding: 0;
    text-align: left;
    position: fixed;
    top: 90px;
    background: #edf4f7;
    width: 100%;
    z-index: 999;

    .panel {
      padding: 5px 10px;
      cursor: pointer;
      box-shadow: none;
      margin: 0;
      background: transparent;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    ul > li {
      float: left;
      padding: 0 25px;
      width: auto;

      &:first-child {
        padding: 0;
      }
    }

    p {
      margin: 5px 0;
      padding: 0;
      color: $text-color;
      @extend %text-ellipsis;
    }

    .job-posted {
      font-size: 10px;
      text-align: center;

      p {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $purple;
        color: $white;
        position: relative;
        margin: 10px auto 5px auto;
      }

      span {
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h4 {
      font-size: 18px;
      margin: 5px 0 0;
      color: $highlight;
      @extend %text-ellipsis;
    }

    .contact-info {
      p {
        margin-top: 17px;
      }

      p > img {
        margin-right: 10px;
        position: relative;
        top: 0;
        width: 15px;
      }
    }
  }

  .dashboard-tabs {
    background: $white;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index:999;
  }

  .sub-tabs {
    background: $white;
    width: 100%;
    position: fixed;
    top: 156px;
    z-index: 999;

    a {
      padding: 10px 15px 10px 45px;
    }

    .count {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #7264b5;
      color: #fff;
      position: absolute;
      display: inline-block;
      top: 8px;
      left: 8px;

      span {
        left: 50%;
        font-size: 10px;
        font-weight: 100;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    li:first-child > a > .count {
      background-color: $green;
    }

    li:nth-child(2)  > a > .count {
      background-color: $orange;
    }

    li:nth-child(4)  > a > .count {
      background-color: $theme-color;
    }

    li:nth-child(5)  > a > .count {
      background-color: $red;
    }
  }

  .q-card-header {
    background: $white;
    position: fixed;
    top: 197px;
    z-index: 999;
    padding: 4px 215px 4px 5px;
    border-bottom: 1px solid $border-light;

    ul {
      margin-top: 0 !important;
    }
  }

  .match-cases{
    padding: 0;
    border: 1px solid $border-color;

    label{
      position: relative;
      z-index: 2;
      color: $text-color;
      padding: 5px;
      margin: 0;
    }

    input{
      display: none;
    }

    input:checked + span{
      box-shadow: 0 0 4px 0 #a5d6f7 inset, 0 0 1px 0 #a5d6f7;
      position: absolute;
      /* z-index: -1; */
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      /* display: inline-block; */
      padding: 5px;
      color: $theme-color;
    }
  }

  .candidate-listing {
    padding: 147px 0 0 200px;
  }
}


.candidate-profile-wrapper {
  margin: 135px auto 15px;

  .q-card-header {
    top: 91px;
  }
}

@media only screen and (max-width: 1280px) {
  .profile-wrapper {
    padding: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .profile-wrapper {
    .col-sm-3 {
      width: 30%;

    }

    .col-sm-9 {
      width: 70%;
      padding: 0;
    }

    .list-view {
      ul > li {
        padding: 0 10px;

        &:first-child {
          padding: 0 10px 0 0;
        }
      }
    }

    .sub-tabs {
      a {
        padding: 10px 10px 10px 45px;
      }
    }
  }

  .candidate-listing {
    padding: 55px 0 0 200px;
  }
}

@media only screen and (max-width: 767px) {
  .profile-wrapper {
    .col-sm-9 {
      float: none;
      padding: 0;
      width: 100%;
    }

    .col-sm-3 {
      border: 1px solid $border-color;
      float: none;
      margin: 0 2%;
      padding: 0;
      width: 96%;
    }

    .list-view {
      p {
        font-size: 12px;
      }

      h4 {
        font-size: 16px;
        margin: 0;
      }

      .job-posted {
        margin-bottom: 10px;
      }

      .contact-info {
        clear: both;
        padding: 0;
      }

      .contact-info > .col-xs-6 {
        p {
          margin-top: 5px;
        }
      }
    }
  }
}

