@import '../../../css/common';

$white: #fff;
$border-color: #e8e8e8;
$text-color: #666;
$purple: #7366ad;
$highlight: #596c7d;
$theme-color: #27aae1;
$orange: #fbb040;
$green: #8dc63f;
$red: #ef4136;
$border-light: #efefef;
$active-color: #edf1f5;
$border-blue: #d1dce4;


.profile-wrapper {
  .wrapper-border {
    border: 1px solid $border-color;
    background: #fff;
  }


  .btn-back {
    border: 0;
    margin: 0;
    padding: 5px;
    color: $text-color;
    width: auto;
    position: fixed;
    top: 50px;
    right: 10px;
    z-index: 999;

    &:focus,
    &:hover {
      outline: none;
    }
  }

  .list-view {
    color: $text-color;
    padding: 0;
    text-align: left;
    position: fixed;
    top: 83px;
    background: $active-color;
    width: 100%;
    z-index: 999;
    padding-right: 200px;

    .panel {
      padding: 5px 15px;
      cursor: pointer;
      box-shadow: none;
      margin: 0;
      background: transparent;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    ul > li {
      float: left;
      padding: 0 25px;
      width: auto;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    p {
      margin: 5px 0;
      padding: 0;
      color: $text-color;
      @extend %text-ellipsis;
    }

    .job-posted {
      font-size: 10px;
      text-align: center;

      p {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $purple;
        color: $white;
        position: relative;
        margin: 0 auto;
      }

      span {
        font-size: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h4 {
      font-size: 18px;
      margin: 0 0 0;
      color: $highlight;
      @extend %text-ellipsis;
      font-weight: bold;
      font-family: "gothamrnd-book";
      text-transform: capitalize;
      margin-top: 6px;
    }

    .contact-info {
      margin-top: 3px;

      p {
        margin-top: 0;
      }

      p > img {
        margin-right: 10px;
        position: relative;
        top: 0;
        width: 15px;
      }
    }
  }

  .dashboard-tabs {
    background: $white;
    position: fixed;
    top: 49px;
    left: 0;
    width: 100%;
    z-index:999;
  }

  .sub-tabs {
    border-top: 1px solid $border-blue;
    background: $active-color;
    width: 100%;
    position: fixed;
    top: 123px;
    z-index: 999;
    padding: 0 15px;

    a {
      padding: 10px 15px 9px 45px;
    }

    .count {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: #7264b5;
      color: #fff;
      position: absolute;
      display: inline-block;
      top: 8px;
      left: 8px;

      span {
        left: 50%;
        font-size: 10px;
        font-weight: 100;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    li > a > .match-count {
      background-color: $green;
    }

    li  > a > .shortlisted-count {
      background-color: $orange;
    }

    li  > a > .applied-count {
      background-color: $theme-color;
    }

    li  > a > .rejected-count {
      background-color: $red;
    }
  }

  .q-card-header {
    background: $active-color;
    position: fixed;
    top: 163px;
    z-index: 999;
    padding: 4px 215px 4px 15px;
    border-top: 1px solid $border-blue;

    ul {
      margin: 5px 0 !important;
    }
  }

  .match-cases{
    padding: 0 4px 0 0;
    border: 1px solid $border-blue;
    border-radius: 12px;
    height: 27px;

    label{
      color: #666;
      padding: 0;
      margin: 4px -4px 0 0;

      &:first-child > span {
        border-radius: 12px 0 0 12px;
      }

      &:last-child > span {
        border-radius: 0 12px 12px 0;
      }
    }

    input{
      display: none;
    }

    input + span {
      background: $white;
      width: 100%;
      height: 100%;
      padding: 5px 15px;
    }

    input:checked + span{
      background: $theme-color;
      color: $white;
    }
  }

  .candidate-listing {
    padding: 115px 0 15px 200px;
    background: $active-color;
    min-height: 100%;
  }
}


.candidate-profile-wrapper {

  .q-card-header {
    top: 90px;
  }
}

@media only screen and (max-width: 1024px) {
  .profile-wrapper {
    .col-sm-3 {
      width: 30%;

    }

    .col-sm-9 {
      width: 70%;
      padding: 0;
    }

    .list-view {
      ul > li {
        padding: 0 10px;

        &:first-child {
          padding: 0 10px 0 0;
        }
      }
    }

    .sub-tabs {
      a {
        padding: 10px 10px 10px 45px;
      }
    }
  }

  .candidate-listing {
    padding: 55px 0 0 200px;
  }
}

@media only screen and (max-width: 767px) {
  .profile-wrapper {
    .col-sm-9 {
      float: none;
      padding: 0;
      width: 100%;
    }

    .col-sm-3 {
      border: 1px solid $border-color;
      float: none;
      margin: 0 2%;
      padding: 0;
      width: 96%;
    }

    .list-view {
      p {
        font-size: 12px;
      }

      h4 {
        font-size: 16px;
        margin: 0;
      }

      .job-posted {
        margin-bottom: 10px;
        padding: 0;
      }

      .contact-info {
        clear: both;
        padding: 0;
      }

      .contact-info > .col-xs-6 {
        p {
          margin-top: 5px;
        }
      }
    }
  }
}

