@import '../../../css/common';
@import '../../../css/variables';

.profile-wrapper {

  .btn-back {
    border: 0;
    margin: 0;
    padding: 7px 0;
    color: $text-color;
    width: auto;

    &:focus,
    &:hover {
      outline: none;
      box-shadow: none;
    }
  }

  .list-view {
    background: $active-color;
    color: $text-color;
    padding: 0;
    position: fixed;
    text-align: left;
    top: 50px;
    width: 100%;
    z-index: 999;

    .panel {
      padding: 5px 15px;
      cursor: pointer;
      box-shadow: none;
      margin: 0;
      background: transparent;
    }

    ul {
      padding: 0;
      margin: 0;
      list-style: none;
    }

    ul > li {
      float: left;
      padding: 0 20px;
      width: auto;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    p {
      margin: 0;
      padding: 0;
      color: $text-color;
      @extend %text-ellipsis;
    }

    label {
      margin: 0;
      padding: 0;
      color: $text-color;
      @extend %text-ellipsis;
      font-size: 10px;
      //border-bottom: 1px solid $label-border;
    }

    .job-posted {
      font-size: 10px;
      text-align: center;

      p {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: $purple;
        color: $white;
        position: relative;
        margin: 0 auto;
      }

      span {
        font-size: 13px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h4 {
      font-size: 18px;
      color: $highlight;
      @extend %text-ellipsis;
      font-weight: bold;
      font-family: "gothamrnd-book";
      text-transform: capitalize;
      margin: 10px 0 0;
    }

    .contact-info {
      margin-top: 3px;

      p {
        margin-top: 0;
      }

      p > img {
        margin-right: 10px;
        position: relative;
        top: 0;
        width: 15px;
      }
    }
  }

  .dashboard-tabs {
    background: $bg-tabs;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .sub-tabs {
    border-top: 1px solid $border-blue;
    border-bottom: 1px solid $border-blue;
    background: $white;
    height: 39px;
    left: 0;
    padding: 0 15px;
    position: fixed;
    top: 93px;
    width: 100%;
    z-index: 99;

    a {
      padding: 8px 15px 8px 45px;
    }

    .count {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background-color: $dark-green;
      color: #fff;
      position: absolute;
      display: inline-block;
      top: 8px;
      left: 8px;

      span {
        left: 50%;
        font-size: 10px;
        font-weight: 100;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    li.match-count-tabs a {
      span {
        background: $purple;
      }
    }
    li.match-count-tabs.active a{
      border-bottom: 3px solid $purple !important;
      color: $purple !important;
      span {
        background: $purple;
      }
    }

    li.recruiters-count-tabs a {
      span {
        background: $dark-green;
      }
    }

    li.recruiters-count-tabs.active a {
      border-bottom: 3px solid $dark-green !important;
      color: $dark-green !important;
    }

    li.cart-job-tabs.active a {
      border-bottom: 3px solid $dark-green !important;
      color: $dark-green !important;
    }

    li.applied-count-tabs.active a {
      border-bottom: 3px solid $orange !important;
      color: $orange !important;
    }

    li.rejected-job-tabs.active a {
      border-bottom: 3px solid $red !important;
      color: $red !important;
    }

    li.compare-candidate-tabs.active a {
      border-bottom: 3px solid $highlight !important;
      color: $highlight !important;
    }

    li > a > .match-count {
      background-color: $purple;
    }

    li > a > .shortlisted-count {
      background-color: $orange;
    }

    li > a > .applied-count {
      background-color: $orange;
    }

    li > a > .rejected-count {
      background-color: $red;
    }

    li > a > .compare-candidate-count {
      background-color: $highlight;
    }
  }

  .q-card-header {
    background: $active-color;
    left: 0;
    padding: 4px 15px 6px;
    position: fixed;
    top: 132px;
    width: calc(100% - 200px);
    z-index: 999;

    ul {
      margin: 5px 0 !important;
    }
  }

  .match-cases {
    padding: 0 4px 0 0;
    border: 1px solid $border-blue;
    border-radius: 12px;
    height: 27px;

    label {
      color: #666;
      padding: 0;
      margin: 4px -4px 0 0;

      &:first-child > span {
        border-radius: 12px 0 0 12px;
      }

      &:last-child > span {
        border-radius: 0 12px 12px 0;
      }
    }

    input {
      display: none;
    }

    input + span {
      background: $white;
      width: 100%;
      height: 100%;
      padding: 5px 15px;
    }

    input:checked + span {
      background: $theme-color;
      color: $white;
    }
  }

  .candidate-listing {
    padding: 115px 200px 15px 0;
    background: $active-color;
    min-height: 100%;
  }
}

.candidate-dashboard-wrapper {

  .q-card-header {
    top: 89px;
  }
}

#candidate-list-view,
#recruiter-list-view {
  .list-header {
    li > h5 {
      overflow: visible;
      white-space: normal;
      text-overflow: clip;
    }
  }
}
.compare-candidate-container {
  .print-btn {
    background: $theme-color;
    color: $white;
    right: 15px;
    top: 101px;
  }

  .message-content {
    position: fixed !important;
    right: 15px !important;
    top: 133px !important;
  }
}

.print-btn {
  background: $white;
  border: 0;
  border-radius: 4px;
  color: $theme-color;
  margin: 0;
  padding: 2px 10px;
  position: fixed;
  right: 80px;
  text-transform: uppercase;
  top: -25px;
  z-index: 99;
  span {
    margin: 0 5px 0 0;
    top: 2px;
  }
}

@media only screen and (max-width: 1024px) {
  .profile-wrapper {
    .col-sm-3 {
      width: 30%;

    }

    .col-sm-9 {
      width: 70%;
    }

    .list-view {
      ul > li {
        padding: 0 10px;

        &:first-child {
          padding: 0 10px 0 0;
        }
      }
    }
  }

  .candidate-listing {
    padding: 55px 200px 0 0;
  }
}

@media only screen and (max-width: 767px) {
  .profile-wrapper {
    .col-sm-9 {
      float: none;
      width: 100%;
    }

    .col-sm-3 {
      //border: 1px solid $border-color;
      float: none;
      margin: 0;
      padding: 0;
      width: 100%;
    }

    .list-view {
      p {
        font-size: 13px;
      }

      h4 {
        font-size: 16px;
        margin: 0;
      }

      .job-posted {
        margin-bottom: 10px;
        padding: 0;
      }

      .contact-info {
        clear: both;
        padding: 0;
      }

      .contact-info > .col-xs-6 {
        p {
          margin-top: 5px;
        }
      }
    }
    .candidate-listing {
      .q-card-header {
        width: 100%;
        border-bottom: 1px solid $filter-border;

        ul {
          margin: 0 !important;
        }
      }
    }

    .sub-tabs {
      a {
        padding: 10px 5px 10px 35px;
        text-align: left;
      }
    }
  }
}

