$theme-color: #3694d1;
$white: #fff;

.dashboard-modal {

  .modal-dialog {
    width: 80%;
    height: 80%;
    top: 50%;
    -webkit-transform: translate(0, -50%) !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 0;
    position: fixed;
    margin: 0 auto;
    left: 50%;
  }

  .compare-modal-dialog {
    width: 100%;
    height: calc(100% - 70px);
    top: 50%;
    -webkit-transform: translate(0, -50%) !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 0;
    position: fixed;
    margin: 10px auto 0;
    left: 50%;
  }

  .modal-body {
    padding: 0;
    border-radius: 0;
    position: relative;
    margin-top: 0;
  }

  .modal-header {
    position: fixed;
    top: -28px;
    left: 0;
    background: $theme-color;
    z-index: 100;
    right: 0;
    margin: 0 15px;
    border-radius: 0;
    box-sizing: border-box;
    padding: 5px 15px 5px 0;
    border-bottom: 1px solid $theme-color;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      float: left;
      margin-left: 15px;
    }

    h5 {
      margin: 0;
      padding: 5px 15px;
      text-align: left;
      color: $white;
      font-size: 13px;
    }

    h4 {
      margin: 0;
      padding: 5px 15px;
      text-align: left;
      color: $white;
      font-size: 13px;
    }

    .close {
      position: absolute;
      right: 11px;
      top: 14px;
      opacity: 1;
      width: 13px;
      height: auto;
    }
  }

  .modal-content {
    height: 100%;
    overflow: auto;
    border-radius: 0;
    border: 1px solid $white;
    padding: 15px 0;
    background: $white !important;
  }

  .button-group {
    display: block;
    position: fixed;
    bottom: -7px;
    right: 0;
    background: $white;
    z-index: 100;
    border-radius: 0;
    box-sizing: border-box;
    padding: 5px 15px;
    width: auto;
    margin: 0 15px 0 240px;
    text-align: right;

    button {
      display: inline-block;
      border-radius: 0;
    }
  }

  p {
    font-size: 13px;
  }

  .vertical-view {
    ul {
      li::before {
        border: 5px solid $white !important;
      }
    }
  }

  .one-page-summary {
    margin-top: 0;
    p {
      text-align: left;
    }

    .left-content {
      background: #f0f5f7;
      position: fixed;
      height: 100%;
      top: 7px;
      left: 15px;
      overflow: auto;
      width: 225px;
      padding: 15px;
      z-index: 1;
    }

    .right-content {
      width: 100%;
      padding-left: 240px;
    }
  }
}
