@import '../../../css/variables';

.filter-container {
  padding: 0;
  position: fixed;
  top: 96px;
  right: 0;
  height: calc(100vh - 117px);
  overflow: auto;
  border-left: 1px solid $gray;
  text-align: left;
  width: 200px;
  background: $filter-bg;

  p {
    color: $text-color;
  }

  h4 {
    margin: 0;
    color: $name;
    padding: 14px 6px 7px;
    font-size: 14px;
    font-family: 'gothamrnd-book';
    position: fixed;
    top: 90px;
    right: 0;
    background-color: $filter-bg;
    width: 200px;
    z-index: 10;
    border-left: 1px solid $border-color;
  }

  .inner {
    margin: 31px 0;
    padding: 0 2px 15px;

    h5 {
      background: $filter-heading;
      margin: 0 0 2px;
      padding: 5px;
      font-weight: 600;
      color: $theme-color;
      position: relative;
      cursor: pointer;
      font-size: 13px;
      font-family: 'gothamrnd-book';
    }

    label {
      color: $text-color4;
      font-size: 12px;
      margin: 0;
      width: 100%;
    }

    h5:first-child {
      margin: 0 0 2px;
    }

    .current-location-label,
    .company-size-label,
    .location-label {
      margin: 0 0 2px !important;
    }

    .radio,
    .checkbox {
      padding-left: 25px;
    }

    .min-max-values {
      margin-bottom: 10px;
    }

    h5::after {
      height: 14px;
      width: 13px;
      position: absolute;
      right: 6px;
      top: 6px;
      content: "";
    }

    .collapse.in {
      background: #dfe9ef;
      display: block;
      margin: -2px 0 2px;
      padding: 0 5px 5px;
    }

    .key-skills-filter.panel-down::after,
    .panel-up::after {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -9px -944px;
      top: 5px;
    }

    .key-skills-filter.panel-up::after,
    .panel-down::after {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -160px -925px;
    }
  }

  .form-control {
    background: url('../../../../../assets/framework/images/form/drop-down.png') no-repeat;
    background-color: $white;
    background-position: 95% 50%;
    border-radius: 0;
    box-shadow: none;
    margin-top: 5px;
    padding: 7px 5px;
    width: 100%;
    font-size: 14px;

    &:focus,
    &:active {
      outline: none;
    }
  }
  select {
    padding: 4px 2px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .filter-bg {
    background: $modal-bg;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    animation: fadein 0.5s;
  }

  .filter-container {
    border-left: 0;
    box-shadow: none;
    right: 0;
    left: inherit;
    top: 128px;
    border-left: 1px solid $filter-border;
    width: 0;
    transition: 0.5s ease;
    visibility: hidden;
    opacity: 1;
    overflow-x: hidden;
    height: calc(100vh - 128px);
    z-index: 1051;

    h4 {
      left: 30px;
      right: inherit;
      padding: 10px;
      top: 90px;
      border-left: 0;
      background-color: transparent;
      width: 80px;
    }

    p {
      margin: 0 10px;
    }

    .col-sm-6 {
      padding: 0;
    }

    .inner {
      padding: 10px;
      border: 0;
      background: transparent;
      box-shadow: none;
      width: 200px;
    }
  }

  .open-filter {
    visibility: visible !important;
    width: 200px !important;
  }

  .glyphicon-filter {
    position: fixed;
    top: 100px;
    right: 9px;
    font-size: 17px;
    z-index: 1000;
    color: $filter-icon;
  }

  button {
    border: 0;
    background: $bg-tab-content;
    border-radius: 0;
    padding: 6px 10px;
    text-align: left;

    &:focus,
    &:active,
    &:hover {
      border: 0;
      box-shadow: none;
      outline: 0 !important;
    }
  }
}
