@import '../../../css/variables';

.filter-container {
  padding: 0;
  position: fixed;
  top: 127px;
  right: 0;
  height: calc(100vh - 127px);
  overflow: auto;
  border-left: 1px solid #ccc;
  text-align: left;
  width: 200px;
  background: #edf1f5;
  z-index: 998;

  p {
    color: $text-color;
  }

  h4 {
    margin: 0;
    color: #666;
    padding: 55px 15px 15px;
    font-size: 13px;
    font-family: 'gothamrnd-book';
    position: fixed;
    top: 50px;
    right: 0;
    background-color: $filter-bg;
    width: 200px;
    z-index: 10;
    border-left: 1px solid $border-color;
  }

  .inner {
    padding: 0 15px 15px;

    h5 {
      margin: 20px 0 5px;
      font-weight: 600;
      color: $theme-color;
      position: relative;
      cursor: pointer;
      font-size: 13px;
      font-family: 'gothamrnd-book';
    }

    label {
      color: #999;
      font-size: 12px;
      margin: 0;
      width: 100%;
    }

    .radio,
    .checkbox {
      padding-left: 30px;
    }

    .min-max-values {
      margin-bottom: 10px;
    }

    h5::after {
      height: 8px;
      width: 8px;
      position: absolute;
      right: 0;
      top: 0;
      content: "";
    }

    .panel-up::after {
      background: url(../../../../../assets/framework/images/dashboard/up-arrow.png) no-repeat 50% 40%;
      top: 5px;
    }

    .panel-down::after {
      background: url("../../../../../assets/framework/images/dashboard/down-arrow.png") no-repeat 50% 60%;
    }
  }

  .form-control {
    background: url('../../../../../assets/framework/images/form/drop-down.png') no-repeat;
    background-color: $white;
    background-position: 95% 50%;
    border-radius: 0;
    box-shadow: none;
    margin-top: 5px;
    padding: 6px;
    width: 100%;
    font-size: 14px;

    &:focus,
    &:active {
      outline: none;
    }
  }
  select {
    padding: 0 0 6px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 767px) {
  .filter-container {
    border-left: 0;
    box-shadow: none;
    left: 0;
    right: inherit;
    top: 163px;
    border-right: 1px solid $filter-border;
    width: 0;
    transition: .5s ease;
    visibility: hidden;
    opacity: 0;
    height: calc(100vh - 163px);

    h4 {
      left: 0;
      right: inherit;
      padding: 10px;
      top: 129px;
      border-left: 0;
      border-right: 1px solid $filter-border;
      width: 0;
      transition: .5s ease;
      visibility: hidden;
      opacity: 0;
    }

    p {
      margin: 0 10px;
    }

    .col-sm-6 {
      padding: 0;
    }

    .inner {
      padding: 0 10px;
      border: 0;
      background: transparent;
      box-shadow: none;
    }
  }

  .open-filter {
    opacity: 1 !important;
    visibility: visible !important;
    width: 200px !important;
  }

  .glyphicon-filter {
    position: fixed;
    top: 100px;
    left: 9px;
    font-size: 17px;
    z-index: 1000;
    color: $filter-icon;
  }

  button {
    border: 0;
    background: $bg-tab-content;
    border-radius: 0;
    padding: 6px 10px;
    text-align: left;

    &:focus,
    &:active,
    &:hover {
      border: 0;
      box-shadow: none;
      outline: 0 !important;
    }
  }
}
