$white: #fff;
$border-color: #ddd;
$text-color: #333;
$bg-tab-content: #f9f9f9;
$profile-section-shadow: rgba(204, 204, 204, 1);
$active-tab-border: #b2bcc3;

.filter-container {
  padding-bottom: 60px;
  position: fixed;
  top: 85px;
  left: 0;
  height: 100vh;
  overflow: auto;
  border: 1px solid $active-tab-border;
  //background: $bg-tab-content;
  //box-shadow: 0 0 1px 0 $profile-section-shadow;
  text-align: left;
  width: 200px;
  background: $white;
  z-index: 998;

  p {
    color: $text-color;
  }

  h4 {
    margin: 0;
    color: #666;
    padding: 15px 15px 25px;
    font-size: 13px;
    font-family: 'gothamrnd-book';
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #fff;
    width: 200px;
    z-index: 10;
    border-right: 1px solid $active-tab-border;
  }

  .inner {
    padding: 0 15px 15px;

    h5 {
      margin: 20px 0 5px;
      font-weight: 900;
      color: #999;
      position: relative;
      cursor: pointer;
      font-size: 12px;
      font-family: 'gothamrnd-book';
    }

    label {
      color: #999;
      font-size: 12px;
      margin: 0;
      width: 100%;
    }

    .radio,
    .checkbox {
      padding-left: 30px;
    }

    .min-max-values {
      margin-bottom: 10px;
    }

    h5::after {
      height: 8px;
      width: 8px;
      position: absolute;
      right: 0;
      top: 0;
      content: "";
    }

    .panel-up::after {
      background: url(../../../../../assets/framework/images/dashboard/up-arrow.png) no-repeat 50% 40%;
    }

    .panel-down::after {
      background: url("../../../../../assets/framework/images/dashboard/down-arrow.png") no-repeat 50% 60%;
    }
  }

  .form-control {
    background: url('../../../../../assets/framework/images/form/drop-down.png') no-repeat;
    background-color: $white;
    background-position: 95% 50%;
    border-radius: 0;
    box-shadow: none;
    margin-top: 5px;
    padding: 6px;
    width: 100%;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

@media only screen and (max-width: 767px) {
  .filter-container {
    border: 0;
    background: $bg-tab-content;
    box-shadow: none;

    p {
      margin: 0 10px;
    }

    .col-sm-6 {
      padding: 0;
    }

    .inner {
      padding: 10px;
      border: 0;
      background: transparent;
      box-shadow: none;
    }
  }

  button {
    border: 0;
    background: $bg-tab-content;
    border-radius: 0;
    padding: 6px 10px;
    text-align: left;

    &:focus,
    &:active,
    &:hover {
      border: 0;
      box-shadow: none;
      outline: 0 !important;
    }
  }
}
