@import '../../../css/variables';

$shadow-color: rgba(0, 0, 0, .175);
$overlay: rgba(0, 0, 0, .4);

.page-header {
  border-bottom: 1px solid $black;
  box-shadow: 0 0 2px 1px $header-shadow;
  background: $black;
  height: 50px;
  left: 0;
  margin: 0 auto;
  padding-top: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  text-align: left;

  .navbar-brand {
    margin-left: 0 !important;

    img {
      margin-top: 6px;
      width: 100px;
    }
  }

  .user-info {
    margin: 12px 0 0;
    text-align: right;

    img {
      border-radius: 50%;
      height: 35px;
      margin: 7px 10px 0 15px;
      width: 35px;
      float: left;
    }

    h4 {
      color: #666;
      display: block;
      font-family: 'gothamrnd-book';
      font-size: 13px;
      padding: 0 10px 5px;
      overflow: visible;
      text-overflow: clip;
      text-transform: capitalize;
      width: 100%;
      white-space: pre-wrap;
      text-align: left;
      margin-top: 10px;
    }

    h5 {
      color: #666;
      display: block;
      font-family: 'gothamrnd-book';
      font-size: 12px;
      padding: 0 10px 5px;
      margin: 0;
      overflow: visible;
      text-overflow: clip;
      text-transform: capitalize;
      width: 100%;
      white-space: pre-wrap;
      text-align: left;
    }
  }

  .last-child {

    a {
      padding: 22px 15px;
      user-select: none;

      img {
        border-radius: 50%;
        height: 35px;
        margin: 7px 0 0;
        width: 35px;
        //border: 2px solid $theme-color;
        z-index: -1;
        position: relative;

        &:hover,
        &:focus {
          border: 2px solid $white;
        }
      }

      .caret {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px dashed $white;
        margin: 8px 0 0;
      }
    }

    .open > a {
      background: none;

      &:hover,
      &:focus {
        background: none;
      }

      img {
        border: 2px solid $white;
      }
    }

    .btn-group {
      margin-right: 3px;
    }

    .dropdown-menu {
      border-radius: 0;
      margin-top: 9px;
      padding: 0;
      right: 15px;
      min-width: 180px;

      li {
        margin: 0;
        width: 100%;
      }

      .dropdown-item {
        padding: 15px 10px;
        font-size: 13px;
        font-weight: 600;
        color: #666;

        span {
          margin-right: 15px;
        }
      }

      .divider {
        margin: 5px 0 0;
      }

      p {
        margin: 0 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
      }
    }
  }

  .navbar-toggle {
    float: left;
    border: 0;
    margin: 8px 0 0 5px;
    .icon-bar {
      background: $white;
    }
  }
}

.navbar-left {
  top: 0;
  position: fixed;
  left: 200px;
  z-index: 1000;
}

.list-counts > li {
  color: $white;
  list-style: none;
  width: auto;
  text-align: center;
  padding: 2px 25px 0px 0;
  display: table;
  margin: 0 auto;

  p {
    color: $white;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
  }

  span {
    font-size: 20px;
    line-height: 27px;
  }

  img {
    margin-top: -9px;
  }

  .dropdown > a {
    color: $white;
  }
}

@media only screen and (max-width: 1024px) {
  .page-header {
    .container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page-header {
    .list-counts > li {
      margin-top: 7px;
      padding-right: 10px;

      span {
        font-size: 16px;
        line-height: 25px;
      }

      p {
        display: none;
      }
    }

    .navbar-brand {
      padding: 0 15px 15px 0;

      img {
        margin-top: 2px;
        width: 50px;
      }
    }

    .bg-overlay {
      background: $overlay;
      height: 100%;
      left: 0;
      opacity: 0;
      position: fixed;
      top: 0;
      transition: .5s ease;
      visibility: hidden;
      width: 100%;
      z-index: 999;
    }

    .navbar-collapse {
      background-color: $black;
      box-shadow: 0 6px 12px $shadow-color;
      height: 100vh;
      left: 0;
      max-height: 100vh;
      overflow-x: hidden;
      padding: 0;
      position: fixed;
      top: 0;
      transition: .5s ease;
      width: 0;
      z-index: 1001;
      display: block;
    }

    .last-child {
      margin: 0;
    }

    .last-child .dropdown-menu {
      display: block;
      position: static;
      background-color: transparent;
      border: 0 none;
      box-shadow: none;
      margin-top: 0;
      width: 100%;
    }

    .last-child .dropdown-menu .dropdown-item {
      color: #a5a5a5;
      padding: 15px;
    }

    .active .dropdown-item {
      background-color: #000;
      color: #fff !important;
    }

    .last-child .dropdown-toggle {
      pointer-events: none;
    }

    .user-info {
      h4,
      h5 {
        color: #fff;
      }
    }

    .divider {
      border-bottom: 1px solid #666;
    }

    .open-nav {
      width: 250px;
    }

    .show {
      opacity: 1;
      visibility: visible;
    }
  }
}
