$white: #fff;
$theme-color: #3694d1;
$header-shadow: rgba(0, 0, 0, 0.4);

.page-header {
  border-bottom: 1px solid $theme-color;
  box-shadow: 0 0 2px 1px $header-shadow;
  background: $theme-color;
  height: 50px;
  left: 0;
  margin: 0 auto;
  padding-top: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  text-align: left;

  .navbar-brand {
    margin-left: 0 !important;

    img {
      margin-top: -4px;
      width: 100px;
    }
  }

  .user-info {
    margin: 12px 0 0 0;
    text-align: right;

    h4 {
      color: $white;
      display: table-cell;
      font-family: 'gothamrnd-book';
      font-size: 14px;
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      vertical-align: middle;
      width: auto;
      white-space: nowrap;
      max-width: 200px;
    }

    h5 {
      color: $white;
      height: 20px;
      font-family: 'gothamrnd-book';
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: capitalize;
      vertical-align: middle;
      width: auto;
      white-space: nowrap;
      margin: 0;
      max-width: 200px;
    }
  }

  .last-child {

    a {
      padding: 22px 15px;
      user-select: none;

      img {
        border-radius: 50%;
        height: 35px;
        margin: 7px 0 0 0;
        width: 35px;
        border: 2px solid $theme-color;
        z-index: -1;
        position: relative;

        &:hover,
        &:focus {
          border: 2px solid $white;
        }
      }

      .caret {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px dashed $white;
        margin: 8px 0 0 0;
        display: none;
      }
    }

    .open > a {
      background: none;

      &:hover,
      &:focus {
        background: none;
      }

      img {
        border: 2px solid $white;
      }
    }

    .btn-group {
      margin-right: 3px;
    }

    .dropdown-menu {
      border-radius: 0;
      margin-top: 9px;
      padding: 0;

      li {
        margin: 0;
        width: 100%;
      }

      .dropdown-item {
        padding: 15px 10px;
        font-size: 12px;
        font-weight: 600;
        color: #666;

        span {
          margin-right: 15px;
        }
      }

      .divider {
        margin: 5px 0 0;
      }

      p {
        margin: 0 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
      }
    }
  }
}

.navbar-left {
  top: 0;
  position: fixed;
  left: 200px;
  z-index: 1000;
}
.list-counts > li {
  color: $white;
  float: left;
  list-style: none;
  width: auto;
  text-align: center;
  padding: 5px 25px 5px 0;

  p {
    color: $white;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
  }

  span {
    font-size: 20px;
    line-height: 27px;
  }

  img {
    margin-top: -9px;
  }

  .dropdown > a {
    color: $white;
  }
}

@media only screen and (max-width: 1920px) {
  .page-header {

    .user-info-desktop {
      display: block;
    }

    .user-info-ipad,
    .divider {
      display: none;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .page-header {
    .user-info {
      h4,
      h5 {
        max-width: 115px;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .page-header {
    .container {
      width: 100%;
    }

    .user-info-desktop {
      display: none;
    }
    .user-info-ipad,
    .divider {
      display: block;

      h4, h5 {
        color: #666;
        width: 100%;
        padding: 5px 10px;
        text-align: left;
        display: block;
        font-size: 14px;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}


@media only screen and (max-width: 767px) {
  .page-header {
    .list-counts > li {
      margin-top: 7px;
      padding-right: 10px;

      span {
        font-size: 16px;
        line-height: 25px;
      }

      p {
        display: none;
      }
    }
  }
}
