@import '../../../css/variables';

.page-header {
  border-bottom: 1px solid $black;
  box-shadow: 0 0 2px 1px $header-shadow;
  background: $black;
  height: 50px;
  left: 0;
  margin: 0 auto;
  padding-top: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  text-align: left;

  .navbar-brand {
    margin-left: 0 !important;

    img {
      margin-top: -4px;
      width: 100px;
    }
  }

  .user-info {
    margin: 12px 0 0;
    text-align: right;

    h4 {
      color: #666;
      display: block;
      font-family: 'gothamrnd-book';
      font-size: 13px;
      padding: 0 10px 5px;
      overflow: visible;
      text-overflow: clip;
      text-transform: capitalize;
      width: 100%;
      white-space: pre-wrap;
      text-align: left;
      margin-top: 10px;
    }

    h5 {
      color: #666;
      display: block;
      font-family: 'gothamrnd-book';
      font-size: 12px;
      padding: 0 10px 5px;
      margin: 0;
      overflow: visible;
      text-overflow: clip;
      text-transform: capitalize;
      width: 100%;
      white-space: pre-wrap;
      text-align: left;
    }
  }

  .last-child {

    a {
      padding: 22px 15px;
      user-select: none;

      img {
        border-radius: 50%;
        height: 35px;
        margin: 7px 0 0;
        width: 35px;
        //border: 2px solid $theme-color;
        z-index: -1;
        position: relative;

        &:hover,
        &:focus {
          border: 2px solid $white;
        }
      }

      .caret {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px dashed $white;
        margin: 8px 0 0;
      }
    }

    .open > a {
      background: none;

      &:hover,
      &:focus {
        background: none;
      }

      img {
        border: 2px solid $white;
      }
    }

    .btn-group {
      margin-right: 3px;
    }

    .dropdown-menu {
      border-radius: 0;
      margin-top: 9px;
      padding: 0;
      right: 15px;
      min-width: 180px;

      li {
        margin: 0;
        width: 100%;
      }

      .dropdown-item {
        padding: 15px 10px;
        font-size: 13px;
        font-weight: 600;
        color: #666;

        span {
          margin-right: 15px;
        }
      }

      .divider {
        margin: 5px 0 0;
      }

      p {
        margin: 0 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 200px;
      }
    }
  }
}

.navbar-left {
  top: 0;
  position: fixed;
  left: 200px;
  z-index: 1000;
}

.list-counts > li {
  color: $white;
  list-style: none;
  width: auto;
  text-align: center;
  padding: 2px 25px 0px 0;
  display: table;
  margin: 0 auto;

  p {
    color: $white;
    font-size: 10px;
    line-height: 12px;
    margin: 0;
  }

  span {
    font-size: 20px;
    line-height: 27px;
  }

  img {
    margin-top: -9px;
  }

  .dropdown > a {
    color: $white;
  }
}

@media only screen and (max-width: 1024px) {
  .page-header {
    .container {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page-header {
    .list-counts > li {
      margin-top: 7px;
      padding-right: 10px;

      span {
        font-size: 16px;
        line-height: 25px;
      }

      p {
        display: none;
      }
    }
  }
}
