$modal-bg: #f2f2f2;
$text-color: #666;

.modal-dialog {
  border-radius: 8px;
  text-align: center;
  position: relative;

  .modal-body {
    padding: 0;
  }

  .modal-content {
    background: $modal-bg;
    border-radius: 8px;
  }

  p {
    color: $text-color;
    font-size: 13px;
    text-align: center;
  }

  .close {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 15;
  }
}

.popup {
  .button-group {
    margin: 20px 0 10px;
    text-align: center !important;
  }

  .btn {
    display: inline-block;
    float: none !important;
    margin-top: 0;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 450px;
    margin: 0 auto;
  }
}
