$white: #fff;
$theme-color: #3694d1;
$border-color: #e8e8e8;

.page-header {
  background: $theme-color;
  border-bottom: 1px solid $theme-color;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .cn-logo {
    position: fixed;
    top: 10px;
    left: 15px;
    width: 120px;

    img {
      width: 100%;
    }
  }

  .action-list {
    padding: 0;
    position: fixed;
    z-index: 1000;
    top: 7px;
    right: 280px;

    li {
      color: $white;
      float: left;
      list-style-type: none;
      margin-left: 15px;
    }
  }
}

.one-page-summary {
  margin-top: 55px;
  text-align: left;
  padding: 15px 0 60px !important;
  background: #fff;

  .left-content {
    border-right: 1px solid $border-color;
  }

  h4 {
    font-size: 13px;
    font-family: gothamrnd-book;
    margin: 0;
    padding: 10px 0;
  }
}

.proficiencies-matched-heading,
.extra-proficiencies-heading {
  float: left;
  width: auto;
  margin: 2px 15px 0 0 !important;
  padding: 10px 0;
}

.proficiency-compare-section-area {
  h4 {
    font-size: 13px;
    font-family: gothamrnd-book;
    margin: 0 15px 0 0;
    padding: 10px 0;
    float: left;
    width: auto;
  }
}

@media only screen and (max-width: 1366px) {
  .one-page-summary {
    width: 100%;
  }

  .left-content {
    width: 20%;
  }

  .right-content {
    width: 80%;
  }
}

@media only screen and (max-width: 1024px) {
  .page-header {
    .action-list {
      padding: 2px 30px 0 0;
    }
  }
  .one-page-summary {
    .left-content {
      width: 30%;
    }

    .right-content {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .one-page-summary {
    margin-bottom: 20px;

    .left-content,
    .right-content {
      border-right: 0;
      width: 100%;
    }

    .col-md-6 {
      padding: 0;
    }
  }
}
