@import '../../../css/variables';

.page-header {
  background: $theme-color;
  height: 50px;
  left: 0;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1003;

  .cn-logo {
    position: fixed;
    top: 10px;
    left: 15px;
    width: 120px;

    img {
      width: 100%;
    }
  }

  .action-list {
    padding: 0;
    position: fixed;
    z-index: 1000;
    top: 7px;
    right: 280px;

    li {
      color: $white;
      float: left;
      list-style-type: none;
      margin-left: 15px;
    }
  }
}

.one-page-summary {
  margin-top: 55px;
  text-align: left;
  padding: 15px 0 !important;
  background: #fff;

  .left-content {
    border-right: 1px solid $border-color;
  }

  h4 {
    font-size: 14px;
    font-family: gothamrnd-book;
    margin: 0;
    padding: 10px 0;
  }

  .capability-of-capabilities-section {
    .btn-edit {
      display: none !important;
    }
    .capability-edit > .inner {
      &:hover {
        border: 1px solid $white !important;
      }
    }
  }
}

.proficiencies-matched-heading,
.extra-proficiencies-heading {
  float: left;
  width: auto;
  margin: 2px 15px 0 0 !important;
  padding: 10px 0;
}

.proficiency-compare-section-area {
  font-size: 12px;
  color: $text-color;
  h4 {
    font-size: 14px;
    font-family: 'gothamrnd-light';
    margin: 0 15px 0 0;
    padding: 7px 0;
    float: left;
    width: 200px;
    white-space: inherit;
    font-family: 'gothamrnd-book';
    font-weight: 600;
    color: $theme-color;
  }
  span {
    color: $text-color;
    font-size: 14px;
    font-family: 'gothamrnd-book';
  }
  .exact {
    .right-tick {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -49px -404px;
      float: right;
      height: 22px;
      width: 26px;
    }
  }
  .missing {
    .missing-icon {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -145px -404px;
      float: right;
      height: 22px;
      width: 26px;
    }
  }
}
.left-content {
  width: 250px;
}

.right-content {
  width: calc(100% - 250px);
}

.job-description-modal {
  .complexity-name {
    max-height: inherit !important;
  }
}

@media only screen and (max-width: 1366px) {
  .one-page-summary {
    width: 100%;
  }

  .left-content {
    width: 250px;
  }

  .right-content {
    width: calc(100% - 250px);
  }
}

@media only screen and (max-width: 1024px) {
  .page-header {
    .action-list {
      padding: 2px 30px 0 0;
    }
  }
  .one-page-summary {
    .left-content {
      width: 30%;
    }

    .right-content {
      width: 70%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page-header {
    z-index: 1052;
  }
  .one-page-summary {
    margin-bottom: 20px;

    .left-content,
    .right-content {
      border-right: 0;
      width: 100%;
    }

    .col-md-6 {
      padding: 0;
    }
  }
}
