@import '../../../css/variables';

.select-option {
  display: inline-block;
  margin: 5px 20px 5px 0;
  text-align: left;
}

.select-option {
  label:focus {
    border: 1px solid $theme-color !important;
  }
}

.select-option > label {
  margin: 0;
  padding: 0;

  & > input {
    display: none;

    & + span {
      border: 1px solid $primary-option1;
      border-radius: 25px;
      box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
      color: $primary-option1;
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
      padding: 4px 10px;
      min-width: 100px;
      display: inline-block;
      text-align: center;
      user-select: none;

      &:hover {
        border: 1px solid $primary-option1;
        box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
      }
    }

    &:checked {
      & + span {
        color: $white;
        background-color: $primary-option1;
        border: 1px solid $primary-option1;
        box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
      }
    }
  }
  & > input[type='radio'] {
    & ~ .check {
      cursor: pointer;
      display: none;
      position: absolute;
      border: 2px solid $option-border-color;
      border-radius: 100%;
      height: 14px;
      width: 14px;
      top: 4px;
      left: 0;
      z-index: 5;
      transition: border 0.25s linear;
      -webkit-transition: border 0.25s linear;

      &::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 6px;
        width: 6px;
        top: 50%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
      }
    }

    &:checked {
      & ~ .check {
        border: 2px solid $primary-option1;

        &::before {
          background: $primary-option1;
        }
      }
    }
  }

  & > input[type='checkbox'] {
    & ~ .check {
      cursor: pointer;
      display: none;
      position: absolute;
      border: 1px solid $option-border-color;
      border-radius: 0;
      height: 16px;
      width: 16px;
      top: 4px;
      left: 0;
      z-index: 5;
      transition: border 0.25s linear;
      -webkit-transition: border 0.25s linear;

      &::before {
        display: block;
        position: absolute;
        content: "\2713";
        border-radius: 100%;
        top: 50%;
        left: 50%;
        margin: auto;
        transform: translate(-50%, -50%);
        transition: background 0.25s linear;
        -webkit-transition: background 0.25s linear;
        color: $white;
        background: transparent;
      }
    }

    &:checked {
      & ~ .check {
        border: 1px solid $primary-option1;

        &::before {
          color: $primary-option1;
        }
      }
    }
  }

  & > input:disabled {
    & + span {
      cursor: not-allowed;
    }
  }

  &:hover {
    & > input[type='radio'] {
      & + span {
        cursor: pointer;
      }

      &:checked {
        & + span {
          color: $white;
        }

        & ~ .check {
          border: 1px solid $primary-option1;

          &::before {
            background: $primary-option1;
          }
        }
      }
    }

    & > input[type='checkbox'] {
      & + span {
        cursor: pointer;
      }

      &:checked {
        & + span {
          color: $white;
        }

        & ~ .check {
          border: 1px solid $primary-option1;

          &::before {
            color: $primary-option1;
            background: transparent;
          }
        }
      }
    }

    & > input:disabled {
      & + span {
        cursor: not-allowed;
      }
    }
  }
}

.primary > label {
  & > input {

    & + span {
      border: 1px solid $primary-option1;
      box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;

      &:hover {
        border: 1px solid $primary-option1;
        box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
      }
    }

    &:checked {
      & + span {
        background-color: $primary-option1;
        border: 1px solid $primary-option1;
        box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
      }
    }
  }

  &:hover {
    & > input {
      & + span {
        border: 1px solid $primary-option1;
        box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
      }

      &:checked {
        & + span {
          background-color: $primary-option1;
          border: 1px solid $primary-option1;
          box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
        }
      }
    }
  }
}

.secondary > label {
  & > input {
    display: none;

    & + span {
      border: 1px solid $primary-option1;
      box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;

      &:hover {
        border: 1px solid $primary-option1;
        box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
      }
    }

    &:checked {
      & + span {
        background-color: $primary-option1;
        border: 1px solid $primary-option1;
        box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
      }
    }
  }

  &:hover {
    & > input {
      & + span {
        border: 1px solid $primary-option1;
        box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
      }

      &:checked {
        & + span {
          background-color: $primary-option1;
          border: 1px solid $primary-option1;
          box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
        }
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .primary > label {
    & > input {
      & + span {
        &:hover {
          border: 1px solid $primary-option1;
          box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
        }
      }
    }

    &:hover {
      & > input {
        & + span {
          border: 1px solid $primary-option1;
          box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
        }
      }
    }
  }

  .secondary > label {
    & > input {
      & + span {
        &:hover {
          border: 1px solid $primary-option1;
          box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
        }
      }
    }

    &:hover {
      & > input {
        & + span {
          border: 1px solid $primary-option1;
          box-shadow: 0 0 1px 0 $primary-option1 inset, 0 0 1px 0 $primary-option1;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .select-option {
    margin: 5px 10px 5px 0;
    display: block;
  }
  .select-option > label {
    min-height: 22px;
    padding: 0 15px 0 22px;
    position: relative;

    & > input {
      & + span {
        font-size: 12px;
        background: $white;
        color: $text-color;
        border: 0;
        box-shadow: none;
        text-align: left;
        padding: 0;

        &:hover {
          border: 0;
          box-shadow: none;
        }
      }

      &:checked {
        & + span {
          color: $primary-option1;
          background-color: $white;
          border: 0;
          box-shadow: none;
        }
      }
    }

    & > input[type='radio'] {

      & ~ .check {
        display: block;
      }
    }

    & > input[type='checkbox'] {

      & ~ .check {
        display: block;
      }
    }

    &:hover {
      & > input {
        &:checked {
          & + span {
            color: $primary-option1;
            background-color: $white;
            border: 0;
            box-shadow: none;
          }
        }
      }

      & > input[type='checkbox'] {
        &:checked {
          & ~ .check {
            &::before {
              background: transparent;
            }
          }
        }
      }
    }
  }
}
