$text-color: #666;
$white: #fff;
$option-border-color: #e8e8e8;
$primary-option: #3694d1;
$secondary-option: #3694d1;

.select-option2 {
  display: block;
  margin: 10px 10px 10px 0;
  text-align: left;
}

.select-option2 > label {
  margin: 0;
  min-height: 22px;
  padding: 0;
  position: relative;

  & > input {
    display: block;
    position: absolute;
    top: 2px;
    left: -2px;

    & + span {
      color: $text-color;
      cursor: pointer;
      font-size: 13px;
      font-weight: 600;
      padding: 2px 10px 2px 25px;
      min-width: 100px;
      display: inline-block;
      text-align: left;
      user-select: none;
    }

    &:checked {
      & + span {
        color: $primary-option;
      }
    }

    &:hover,
    &:focus {
      outline: none;
    }
  }

  & > input:disabled {
    & + span {
      cursor: not-allowed;
    }
  }

  &:hover {
    & > input {
      & + span {
        cursor: pointer;
      }

      &:checked {
        & + span {
          color: $primary-option;
        }
      }
    }

    & > input:disabled {
      & + span {
        cursor: not-allowed;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .select-option {
    margin: 5px 10px 5px 0;
  }
  .select-option > label {
    & > input {
      & + span {
        font-size: 10px;
      }
    }
  }
}
