@import '../../../css/variables';

.nav-tabs {
  border-bottom: 1px solid $border-light;

  li {
    margin: 0;

    a {
      background: $white;
      border: 0 solid transparent;
      border-bottom: 3px solid transparent;
      border-radius: 0;
      color: $text-color;
      font-family: 'gothamrnd-book';
      font-size: 13px;
      padding: 10px 15px;

      &:focus,
      &:hover {
        color: $text-color;
        background-color: transparent;
        border-bottom: 3px solid transparent;
      }
    }
  }

  .active {
    a {
      background: $white !important;
      border: 0 !important;
      border-bottom: 3px solid $theme-color !important;
      color: $theme-color !important;
    }
  }
}

.dashboard-tabs {
  border-bottom: 1px solid $active-tab-border;

  li {
    width: auto;

    a {
      background-color: $active-tab !important;
      border: 0 solid $active-tab;
      border-bottom: 4px solid $active-tab;
      border-radius: 0;
      color: $text-color;
      font-family: 'gothamrnd-book';
      font-size: 13px;
      padding: 14px 15px 4px;
      top: 0;

      &:focus,
      &:hover {
        color: $text-color;
      }
    }

    &:first-child {
      margin-left: 132px;
    }
  }

  .active {
    a {
      background: $active-tab !important;
      //border: 1px solid $active-tab-border !important;
      border-bottom: 4px solid $theme-color !important;
      color: $theme-color !important;
    }
  }
}

#recruiter-dashboard-tabs,
#recruiter-job-dashboard-tabs,
.my-job-tabs {
  border-bottom: 0;
  background: $page-header-bg;
  left: 100px;
  position: fixed;
  top: 0;
  width: auto;
  z-index: 1004;

   li {
     margin-left: 15px;
     width: auto;

     a {
       background-color: transparent !important;
       border: 0 solid transparent;
       border-bottom: 4px solid transparent;
       border-radius: 0;
       color: $white;
       font-family: 'gothamrnd-light';
       font-size: 12px;
       padding: 15px 5px 14px 30px;
       top: 0;
       text-transform: uppercase;

       &:focus,
       &:hover {
         color: $white;
       }
     }

     a > .icon-dashboard {
       background: url('../../assets/c-next/card-view/sprite.png') no-repeat -5px -770px;
     }

     a > .icon-candidate-search {
       background: url('../../assets/c-next/card-view/sprite.png') no-repeat -82px -770px;
     }

     a > span {
       height: 20px;
       left: 0;
       position: absolute;
       top: 15px;
       width: 20px;
       z-index: 1056;
     }

     .btn-new-job {
       background-color: $theme-color !important;
       border: 0 !important;
       border-radius: 4px;
       color: $white !important;
       height: 30px;
       margin-top: 10px;
       padding: 7px 10px;
     }
   }

   .active {
     a {
       background: transparent !important;
       border-bottom: 4px solid $theme-color !important;
       color: $white !important;
     }

     .btn-new-job {
       background-color: $theme-color !important;
       border: 0 !important;
       color: $white !important;
     }
   }
 }

.my-job-tabs.profile-wrapper {
  .dashboard-tabs {
    background: transparent;
    border: 0;
    left: 575px;
    top: 0;
    z-index: 9999;
    &:first-child {
      .active {
        margin-left: 0;
        a {
          padding: 16px 5px 14px 30px;
          .icon-dashboard {
            background: url(../../assets/c-next/card-view/sprite.png) no-repeat -56px -921px;
          }
        }
      }
    }
  }
}

.tab-content {
  border-top-color: transparent;
}

@media only screen and (max-width: 1280px) {
  .nav-tabs {
    li:first-child {
      a {
        //margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav-tabs {
    li {
      a {
        font-size: 12px;
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .nav-tabs {
    li {
      width: 30%;

      a {
        font-size: 11px;
        margin-right: 0;
        padding: 10px 5px;
      }
    }

    li:first-child {
      a {
        margin-left: 0;
      }
    }

    li:last-child {
      width: 40%;
    }
  }

  .dashboard-tabs {
    li {
      &:first-child {
        margin-left: 0;
      }
    }
  }
}


@media only screen and (max-width: 480px) {
  .nav-tabs {
    li {
      a {
        font-size: 10px;
        padding: 10px 0 10px 5px;
      }
    }
  }
}
