$text-color: #333;
$bg-tab-content: #fff;
$nav-tab: #7264b3;
$profile-section-shadow: rgba(204, 204, 204, 1);
$border-color: #ddd;
$border-light: #efefef;
$white: #fff;
$theme-color: #3694d1;
$orange: #ffc107;

.nav-tabs {
  border-bottom: 1px solid $border-light;

  li {
    margin: 0;

    a {
      background-color: $bg-tab-content !important;
      border: 0 solid $white;
      border-bottom: 3px solid $white;
      border-radius: 0;
      color: $text-color;
      font-family: 'gothamrnd-book';
      font-size: 12px;
      padding: 10px 15px;

      &:focus,
      &:hover {
        color: $text-color;
      }
    }
  }

  .active {
    a {
      border: 0 !important;
      border-bottom: 3px solid $theme-color !important;
      color: $theme-color !important;
    }
  }
}

.dashboard-tabs {
  border-bottom: 1px solid #ffc107 ;

  li {
    width: 200px;

    a {
      background-color: $bg-tab-content !important;
      border: 0 solid $bg-tab-content;
      border-bottom: 3px solid $bg-tab-content;
      border-radius: 0;
      color: $text-color;
      font-family: 'gothamrnd-book';
      font-size: 12px;
      padding: 10px 15px;

      &:focus,
      &:hover {
        color: $text-color;
      }
    }
  }

  .active {
    a {
      background-color: $orange !important;
      border: 0 !important;
      border-bottom: 3px solid $orange !important;
      color: $white !important;
    }
  }
}

.tab-content {
  background: $bg-tab-content;
  border-top-color: transparent;
  //padding: 15px 0;
}


@media only screen and (max-width: 1280px) {
  .nav-tabs {
    li:first-child {
      a {
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav-tabs {
    li {
      a {
        font-size: 12px;
        width: auto;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .nav-tabs {
    li {
      width: 50%;

      a {
        font-size: 11px;
        margin-right: 0;
        padding: 10px 5px;
      }
    }

    li:first-child {
      a {
        margin-left: 0;
      }
    }
  }
}
