$text-color: #333;
$bg-tab-content: #fff;
$nav-tab: #7264b3;
$profile-section-shadow: rgba(204, 204, 204, 1);
$border-color: #ddd;
$border-light: #efefef;
$white: #fff;
$theme-color: #3694d1;

.nav-tabs {
  border-bottom: 1px solid $border-light;

  li {
    margin: 0;

    a {
      background-color: $bg-tab-content !important;
      border: 0 solid $white;
      border-bottom: 3px solid $white;
      border-radius: 0;
      color: $text-color;
      font-size: 12px;
      font-family: 'gothamrnd-book';
      padding: 10px 15px;

      &:focus,
      &:hover {
        color: $text-color;
      }
    }
  }
}

.nav-tabs {
  .active {
    a {
      border: 0 !important;
      border-bottom: 3px solid $theme-color !important;
      color: $theme-color !important;
    }
  }
}

.tab-content {
  background: $bg-tab-content;
  border-top-color: transparent;
  //padding: 15px 0;
}


@media only screen and (max-width: 1280px) {
  .nav-tabs {
    li:first-child {
      a {
        margin-left: 5px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .nav-tabs {
    li {
      a {
        width: auto;
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .nav-tabs {
    li {
      width: 50%;

      a {
        padding: 10px 5px;
        margin-right: 0;
        font-size: 11px;
      }
    }

    li:first-child {
      a {
        margin-left: 0;
      }
    }
  }
}