@import '../../../css/variables';

.guided-tour-overlay-bg {
  background: rgba(0, 0, 0, 0.7);
  height: 110%;
  position: fixed;
  top: -43px;
  width: 100%;
}

.guided-tour-overlay {
  position: fixed;
  top: 100px;
  left: 413px;
  p {
    color: $white;
    font-size: 18px;
    float: left;
    font-weight: normal;
    padding-left: 54px;
  }
}

.down-arrow {
  background: url(../assets/c-next/card-view/sprite.png) no-repeat -65px -648px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 17px;
  width: 50px;
  z-index: 9999;
}

.guided-tour-containt {
  color: $white;
  font-size: 18px;
  font-weight: normal;
  padding: 0px 0 0 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.cn-work-area-guided-tour {
  color: $white;
  font-size: 18px;
  padding: 22px 0 0 52px;
  position: fixed;
  top: 15px;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    text-align: left;
  }
  .down-arrow {
    top: 75px;
  }
}

.capabilities-guided-tour {
  color: $white;
  font-size: 18px;
  padding: 0 0 0 40px;
  position: absolute;
  top: 18px;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    text-align: left;
  }
  .up-arrow {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -124px -657px;
    left: 85px;
    position: absolute;
    top: -26px;
  }
}

.capability-guided-tour {
  color: $white;
  font-size: 18px;
  padding: 0 0 0 70px;
  position: fixed;
  top: 71px;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    padding: 21px 0;
    text-align: left;
  }
  .down-arrow {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -65px -648px;
    height: 50px;
    left: 23px;
    position: absolute;
    top: 30px;
    transform: rotate(-15deg);
    width: 50px;
    z-index: 9999;
  }
}

.capability-right-fit-guided-tour {
  border-radius: 5px;
  font-size: 18px;
  left: 50%;
  min-height: 106px;
  padding: 5px 15px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 680px;

  p {
    color: $white;
    font-weight: normal;
    text-align: left;
  }
}

.guided-tour-notes {
  bottom: 46px;
  color: $white;
  font-size: 18px;
  padding: 0;
  position: fixed;
  left: 31px;
  width: 79%;
  p {
    color: $white;
    font-weight: normal;
    text-align: left;
    span {
      font-weight: bold;
    }
  }
}

.key-skills-guided-tour {
  color: $white;
  font-size: 18px;
  padding: 0;
  position: fixed;
  top: 274px;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    text-align: left;
  }
  .up-arrow {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -124px -657px;
    position: absolute;
    transform: rotate(-352deg);
    top: -33px;
    left: 37px;
  }
}

.more-about-myself-guided-tour {
  color: $white;
  font-size: 18px;
  left: 382px;
  padding: 0;
  position: fixed;
  top: 144px;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    text-align: left;
  }
  .up-arrow {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -124px -657px;
    left: 37px;
    position: absolute;
    top: -33px;
    transform: rotate(-352deg);
  }
}

.guided-tour-description {
  position: relative;
  z-index: 99999;
}

.guided-tour-overlay-key-skills {
  margin-left: 276px;
  p {
    color: $white;
    font-weight: normal;
    font-size: 18px;
    float: left;
    margin: 3px;
  }
  .down-arrow {
    float: left;
    position: relative;
  }
}

.up-arrow {
  background: url(../assets/c-next/card-view/sprite.png) no-repeat -5px -648px;
  height: 50px;
  left: 0;
  position: relative;
  width: 50px;
  z-index: 999999;
  float: left;
}

.guided-tour-section {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  img {
    height: 100%;
    width: 100%;
  }
  .got-it-btn {
    cursor: pointer;
    position: absolute;
    width: 150px;
    height: 40px;
    right: 40px;
    bottom: 95px;
    background: $got-it-btn-bg;
    span {
      color: $white;
      padding: 6px 9px;
      display: inline-block;
      font-size: 20px;
      width: 100%;
      text-align: center;
    }
  }
}

.welcome-guided-tour {
  display: table;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  top: 33%;
  width: 100%;
  h1 {
    color: $white;
    font-weight: normal;
    text-align: center;
    width: auto;
    float: none;
    font-size: 30px;
    margin: 0 0 19px;
  }
  p {
    color: $white;
    font-weight: normal;
    font-size: 19px;
    float: none;
    margin: 0 auto 20px;
    padding: 0;
    width: 600px;
  }
}

.dashboard-job-posting-guided-tour {
  color: $white;
  font-size: 18px;
  left: 240px;
  padding: 61px 0 0 52px;
  position: fixed;
  top: 45px;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    text-align: left;
  }
  .down-arrow {
    top: 75px;
  }
}

.value-portrait-tour-section {
  .got-it-btn {
    span {
      left: 0;
      position: absolute;
    }
  }
}


.value-portrait-tour {
  margin: 0 auto;
  min-width: 1200px;
  position: absolute;
  text-align: center;
}

.value-portrait-social-guided-tour {
  color: $white;
  font-size: 18px;
  padding: 20px 0 0 50px;
  position: absolute;
  right: 20px;
  top: 0;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    text-align: right;
  }
  .up-arrow {
    float: right;
    left: inherit;
    right: -7px;
    top: -63px;
  }
}

.value-portrait-proceed-to-dashboard-guided-tour {
  color: $white;
  font-size: 18px;
  padding: 20px 0 0 50px;
  position: absolute;
  right: 136px;
  top: -70px;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    text-align: right;
  }
  .up-arrow {
    float: right;
    left: inherit;
    right: -7px;
    top: -63px;
  }
}

.dashboard-matching-degree-guided-tour {
  color: $white;
  font-size: 18px;
  left: 131px;
  padding: 22px 0 0 0;
  position: fixed;
  top: 412px;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    text-align: left;
  }
  .down-arrow {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -125px -648px;
    left: -29px;
    top: -21px;
  }
}

.dashboard-menu-guided-tour {
  color: $white;
  font-size: 18px;
  right: 63px;
  padding: 22px 0 0 52px;
  position: fixed;
  top: 14px;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    text-align: left;
  }
  .up-arrow {
    left: inherit;
    position: absolute;
    right: -42px;
    top: -1px;
  }
}

.dashboard-filter-guided-tour {
  color: $white;
  font-size: 18px;
  right: 100px;
  padding: 22px 0 0 52px;
  position: fixed;
  top: 290px;
  width: 390px;
  p {
    color: $white;
    font-weight: normal;
    text-align: left;
  }
  .up-arrow {
    left: inherit;
    position: absolute;
    right: -42px;
    top: -1px;
  }
}

.profile-submission-guided-tour {
  bottom: 153px;
  color: $white;
  font-size: 18px;
  left: inherit;
  padding: 0;
  position: fixed;
  right: 9px;
  top: inherit;
  width: auto;
  p {
    color: $white;
    font-weight: normal;
    text-align: left;
  }
  .down-arrow {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -124px -657px;
    bottom: -54px;
    left: 167px;
    position: absolute;
    top: inherit;
    transform: rotate(-115deg);
  }
}

@media screen and (min-width: 1367px) and (max-width: 1920px) {
  .dashboard-job-posting-guided-tour {
    left: 345px;
    top: 103px;
  }
  .dashboard-matching-degree-guided-tour {
    left: 231px;
    top: 576px;
  }
  .more-about-myself-guided-tour {
    left: 582px;
    top: 171px;
  }
  .profile-submission-guided-tour {
    right: 211px;
  }
  .key-skills-guided-tour {
    top: 249px;
  }
}

@media screen and (max-width: 767px) {
  .guided-tour-overlay-bg,
  .guided-tour-overlay,
  .down-arrow,
  .guided-tour-containt,
  .cn-work-area-guided-tour,
  .capabilities-guided-tour,
  .capability-guided-tour,
  .guided-tour-notes,
  .key-skills-guided-tour,
  .more-about-myself-guided-tour,
  .guided-tour-description,
  .guided-tour-overlay-key-skills,
  .up-arrow,
  .guided-tour-section,
  .welcome-guided-tour,
  .dashboard-job-posting-guided-tour,
  .dashboard-matching-degree-guided-tour,
  .dashboard-menu-guided-tour,
  .dashboard-filter-guided-tour,
  .profile-submission-guided-tour,
  .capability-right-fit-guided-tour {
    display: none;
  }
}
