$info: #666;

.info {
  font-size: 10px;
  //font-style: italic;
  //background: url('../../../assets/c-next/profile-creator/info-orange.png')  no-repeat  0 0;
  padding: 2px 0 2px;
  display: block;
  margin: 0 0 10px;
  color: $info;

  ul {
    padding: 0 0 0 10px;
    margin-top: -6px;
  }
}

.recruiter-profile-wrapper {
  margin: 95px 0 15px;
  width: 85%;

  .hide-recruiter-info {
    display: none;
  }

  .main-content {
    margin: 30px auto !important;
  }
}

.candidate-profile-wrapper {
  width: 850px;
  margin: 70px auto 15px;

  .hide-candidate-info {
    display: none;
  }
}
