$info: #999;

.info {
  font-size: 10px;
  font-style: italic;
  background: url('../../../assets/c-next/profile-creator/info.png')  no-repeat  0 0;
  padding: 2px 0 2px 25px;
  display: block;
  margin: 0 0 10px;
  color: $info;

  ul {
    padding: 0 0 0 10px;
    margin-top: -6px;
  }
}


.recruiter-profile-wrapper {
  margin: 100px auto 15px;

  .hide-recruiter-info {
    display: none;
  }
}

.candidate-profile-wrapper {
  margin-top: 65px;

  .hide-candidate-info {
    display: none;
  }
}
/*
@media only screen and (max-width: 1280px) {

}*/

@media only screen and (max-width: 1280px) {
  .candidate-profile-wrapper {
    margin-top: 55px;
    padding: 0;
  }
}


