@import '../../../css/variables';

.info {
  font-size: 11px;
  font-style: italic;
  padding: 2px 0;
  display: block;
  margin: 0 0 10px;
  color: $info;

  ul {
    padding: 0 0 0 10px;
    margin-top: -6px;
  }
}

.recruiter-profile-wrapper {
  margin: 65px auto 30px;
  width: 850px;

  .hide-recruiter-info {
    display: none;
  }

  .edit-modal-content {
    margin: 30px auto !important;
  }
}

.candidate-profile-wrapper {
  margin: 125px auto 30px;
  width: 850px;

  .hide-candidate-info {
    display: none;
  }
}

#complexity-compact-view {
  .row-section,
  .content {
    border: 0;
  }
}

@media only screen and (max-width: 980px) {
  .recruiter-profile-wrapper,
  .candidate-profile-wrapper {
    width: 90%;
  }
}

@media only screen and (max-width: 767px) {
  .recruiter-profile-wrapper,
  .candidate-profile-wrapper {
    width: 100%;
  }

  .recruiter-profile-wrapper {
    .edit-modal-content {
      margin: 45px auto 0 !important;
    }
  }
}
