@import '../../../css/variables';

.section-container {
  text-align: left;
  position: relative;

  .tooltip-message {
    background: $theme-color;
    border-radius: 0 8px 8px 0;
    clear: both;
    font-size: 13px;
    height: 100%;
    padding: 15px;
    position: fixed;
    width: 235px;
    right: 0;
    top: 0;

    ul {
      padding: 0 5px;
      margin: 0;
      list-style: none;
    }

    p {
      margin: 0 0 15px;
      font-size: 12px;
      display: block;
      color: $white;
    }

    h5 {
      margin: 8px 0 3px;
      font-size: 13px;
      font-weight: 900;
      font-family: 'gothamrnd-book';
      color: $white;
    }
  }
}

.create-profile {
  .page-header {
    background: transparent !important;
    border-bottom: 1px solid transparent !important;
    margin-top: 10px !important;
    box-shadow: none !important;

    .last-child {
      .dropdown-menu {
        margin-top: 25px !important;
      }
    }
  }

  .navbar {
    margin: 13px 0 0 !important;
  }
}

.wrapper {
  background: $white;
  //border: 1px solid $border-color;
  margin-bottom: 15px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 5px;
  clear: both;
}

.complexity-wrapper {
  padding: 5px;
}

.profile-visibility-wrapper {
  .main-content {
    .compact-view {
      cursor: default !important;
    }
  }
}

.scrollable-content {
  overflow: auto;
  height: 496px;
  padding: 70px 250px 75px 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.main-content {
  padding: 0;
  text-align: left;
  position: relative;
  background: $white;

  .heading {
    color: $black !important;
    font-size: 24px;
    margin: 0 0 10px;
    padding: 8px 15px 8px 30px;
    position: relative;
    text-align: left;
    font-family: 'gothamrnd-light';
    border-radius: 5px;
    overflow: visible !important;
    text-overflow: clip !important;
    white-space: normal !important;
    width: calc(100% - 235px) !important;
    background: $white;
    z-index: 2;

    span {
      background: transparent;
      color: $theme-color;
      float: right;
      font-size: 13px;
      font-style: italic;
      font-weight: 400;
    }

    .light-font {
      font-weight: 100;
      font-family: 'gothamrnd-light';
      float: none;
    }

    .close-dialog {
      padding: 2px 35px 0 0;
    }

    .glyphicon-remove {
      border: 1px solid $theme-color;
      border-radius: 50%;
      font-style: normal;
      padding: 5px;
      position: absolute;
      right: 15px;
      top: 4px;
    }
  }

  .heading-compact {
    color: $theme-color;
    font-size: 14px;
    font-family: 'gothamrnd-book';
    margin: 5px 0;

    img {
      margin-right: 10px;
      //width: 20px;
    }
  }

  .glyphicon-plus,
  .glyphicon-minus {
    color: #3694d1;
    border: 1px solid #3694d1;
    padding: 3px 3px 3px 4px;
    border-radius: 15px;
    cursor: pointer;
    float: none;
    font-size: 10px;
  }

  .btn {
    &:focus,
    &:active {
      outline: 0;
    }
  }

  .btn-create-profile {
    background-color: $theme-color;
    border: 1px solid $theme-color;
    border-radius: 25px;
    box-shadow: 0 0 1px 0 $theme-color inset, 0 0 1px 0 $theme-color;
    color: $white;
    font-size: 13px;
    padding: 1px 15px;
    height: auto !important;
    margin: 0 5px 0 0;
    font-family: 'gothamrnd-book';
    text-transform: none !important;

    &:focus,
    &:active,
    &:hover {
      border: 1px solid $theme-color;
      box-shadow: 0 0 1px 0 $theme-color inset, 0 0 1px 0 $theme-color;
    }
  }

  .instructions {
    color: $instruction;
    font-size: 13px;
    font-style: italic;
    margin: 0;
  }

  .error-messages {
    padding-left: 0;
    color: $error-messages;
    font-size: 11px;
    padding-left: 0;
    position: absolute;

    p {
      color: $error-messages;
      font-size: 11px;
      padding-left: 0;
    }
  }

  .edit-error-msg {
    z-index: 3;
    max-width: 500px;
  }

  span {
    //background-color: $white;
    color: $text-color;
    padding-left: 0;
  }

  .hide-next-btn:disabled {
    display: none;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      margin: 0;
    }

    .form-control {
      padding: 0;
    }
  }

  textarea {
    height: 100px;
    resize: vertical;
    width: 100%;
    border-radius: 0;
    margin-top: 10px;
  }

  select {
    border-radius: 0;
    //margin: 0 0 25px;
  }

  label {
    font-size: 14px;
    color: $black;
    font-family: 'gothamrnd-book';
  }

  .button-group {
    text-align: right;
    position: absolute;
    bottom: 0;
    padding: 7px 15px;
    width: calc(100% - 235px);
    z-index: 2;
    background: $white;

    button[hidden] {
      display: none;
    }

    .saving-loader {
      float: left;
      margin-top: 10px;
    }

    .btn {
      float: right;
      margin-left: 10px;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  .btn-prev {
    position: absolute;
    top: 50%;
    left: 15px;
    background: transparent;
    border: 0;
    background: url('../../assets/c-next/profile-creator/previous.png') center center;
    padding: 12px 7px;
    z-index: 2;

    span {
      display: none;
    }
  }

  .form {
    border: 1px solid $border-color;
    margin: 10px 0 20px;
    padding: 15px;
    position: relative;

    &:first-child {
      border-top: 0;
      padding-top: 0;
      margin-top: 0;
    }
  }
}

.description-form {
  padding: 0;

  .panel-default {
    //background: #f8f8f8;
    border: 0;
    box-shadow: none;
    padding: 0;
    position: relative;

    .glyphicon-trash {
      background-color: transparent;
      color: #999;
      padding: 7px 5px 5px;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 12px;
      cursor: pointer;
    }
  }

  .form-group {
    margin-bottom: 30px;

    label {
      margin: 0;
    }
  }

  .panel-body {
    padding: 15px;
  }

  select {
    padding: 6px 0;
    background: transparent url(../assets/framework/images/form/drop-down.png) no-repeat 98% 50%;
    border-top: transparent 1px solid;
    border-left: transparent 1px solid;
    border-right: transparent 1px solid;
    box-shadow: none;

    &:focus,
    &:active,
    &:hover {
      border-top: transparent 1px solid;
      border-left: transparent 1px solid;
      border-right: transparent 1px solid;
    }
  }

  textarea {
    height: 65px;
    margin-top: 0;
    background: transparent;
    border-radius: 4px;
  }
}

.btn-add-another {
  background: transparent;
  color: $theme-color;
  font-size: 14px !important;
  font-family: 'gothamrnd-book';
  font-weight: 600;
}

.divider {
  border-bottom: 1px solid $border-color;
  clear: both;
  height: 1px;
  margin: 5px 0;
}

.toggle-switch {
  width: 48px;
  float: right;

  .switch {
    position: relative;
    display: inline-block;
    height: 28px;
    min-width: 100%;
  }

  input {
    display: none;

    &:checked + .slider {
      background-color: $pink;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px $pink;
    }

    &:checked + .slider::before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $border-color;
    -webkit-transition: .4s;
    transition: .4s;
    &::before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  .round {
    border-radius: 34px;

    &::before {
      border-radius: 50%;
    }
  }
}
.switch-label {
  padding-right: 15px;
  line-height: 26px;
}

.profile-info {
  width: 75%;
  display: inline-block !important;
}

@media only screen and (max-width: 980px) {
  .main-content {
    .btn-default {
      float: none;
      margin: 0;
    }

    .instructions {
      margin-top: 10px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .main-content {
    padding: 5px;

    .info {
      font-size: 10px;
      background: none;
      padding-left: 0;
      display: block;

      ul {
        padding: 0 0 0 15px;
      }
    }

    .btn-success {
      float: none;
      margin-top: 10px;
    }

    .heading {
      .close-dialog {
        visibility: hidden;

        .glyphicon-remove {
          visibility: visible;
        }
      }
    }
  }
}

.icons-section {
  .education-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -10px -167px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 5px;
  }

  .certification {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -10px -222px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 5px;
  }

  .employment-history {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -10px -195px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 5px;
  }

  .award {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -10px -249px;
    width: 20px !important;
    height: 20px;
    position: absolute;
    left: 5px;
  }
}

