<div *ngIf="candidate != undefined">
  <cn-candidate-dashboard-header [candidate]="candidate"></cn-candidate-dashboard-header>


  <div class="container-fluid profile-wrapper candidate-dashboard-wrapper">
    <!--<h4>{{}} total jobs available</h4>-->
    <div>
      <div class="clearfix">
        <div>
          <div class="candidate-listing">
            <cn-filter [candidate]="candidate" [locations]="_locationList" [role]=false></cn-filter>
            <ul class="nav nav-tabs sub-tabs">
              <li class="match-count-tabs active">
                <a id="matched_anchor" (click)="showMatchedJobs()" data-toggle="tab" href="#matched"><span
                  class="count"><span>{{jobList.length}}</span></span> Matched</a>
              </li>
              <li class="applied-count-tabs">
                <a (click)="showAppliedJobs()" data-toggle="tab" href="#applied"><span
                  class="applied-count count"><span>{{candidate.summary.numberOfJobApplied}}</span></span> Applied</a>
              </li>
              <li class="rejected-job-tabs">
                <a (click)="showRejectedJobs()" data-toggle="tab" href="#rejected"><span
                  class="rejected-count count"><span>{{candidate.summary.numberJobsBlocked}}</span></span> Not
                  Interested</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="matched" class="tab-pane fade in active matched">
                <cn-q-card-list [joblistCount]="jobList.length" [listOfJobs]="jobList" [type]="'none'"
                                (onAction)="onActionPerformOnExactList($event)"></cn-q-card-list>
                <div class="empty-list-message" *ngIf="candidate.summary.numberOfmatched==0">
                  <p>Currently there are no jobs matching to your profile.
                    This is because the jobs posted currently by recruiters demand a different set of capabilities that
                    what you possess. This dashboard shows job postings that match your capability profile.
                    It is recommended that you keep visiting this page frequently to see the best matching jobs.</p>
                </div>
              </div>
              <div id="applied" class="tab-pane fade"><!--[hidden]="!hideSection"-->
                <cn-candidate-job-list [progress_bar_color]="'#ff9700'" [type]="'apply'" [listOfJobs]="appliedJobs"
                                       (onAction)="onActionOnApplyJob($event)"
                ></cn-candidate-job-list><!--[hidden]="type !=='apply'"-->
                <div class="empty-list-message" *ngIf="candidate.summary.numberOfJobApplied==0 ">
                  <p>Presently there are no jobs for which you have applied</p>
                </div>
              </div>
              <div id="rejected" class="tab-pane fade"><!-- [hidden]="!hideSection" -->
                <cn-candidate-job-list [progress_bar_color]="'#e91d62'" [type]="'block'" [listOfJobs]="blockedJobs"
                                       (onAction)="onActionOnBlockJob($event)"
                ></cn-candidate-job-list><!-- [hidden]="type !=='block'" -->
                <div class="empty-list-message"  *ngIf="candidate.summary.numberJobsBlocked==0 ">
                  <p>Currently you have not marked any jobs as "Not Interested".</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


