@import '../../../../css/variables';

.profile-wrapper {

  .list-view > ul > li {
    padding: 0 15px;

    &:first-child {
      padding: 0 15px 0 0;
    }
  }

  .list-view > .job-posted {
    p {
      margin: 0 auto 5px;
    }
  }

  .list-view > .contact-info {
    p {
      margin-top: 15px;
    }

    p > img {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  .sub-tabs {
    top: 50px;
    border-bottom: 2px solid #d1dce4;
    border-top: 0 solid #d1dce4;

    li:first-child > a > .count {
      background-color: $purple;
    }

    li:nth-child(2) > a > .count {
      background-color: $orange;
    }

    li:nth-child(3) > a > .count {
      background-color: $red;
    }

    li:nth-child(5) > a > .count {
      background-color: $red;
    }
  }

  .candidate-listing {
    padding: 0 200px 0 0;

    .matched {
      margin-top: 35px;
      //background: $active-color;
    }

    .candidate-tabs {
      padding-left: 15px !important;
    }
  }
}

@media only screen and (max-width: 767px) {
  .profile-wrapper {
    .candidate-listing {
      padding: 0;

      .candidate-tabs {
        padding: 0 !important;
      }
    }
  }
}
