<div class="guided-tour-section" *ngIf="guidedTourStatus?.indexOf(overlayScreensDashboardImgName) == -1">
  <img src={{overlayScreensDashboardImgPath}} alt="Profile Picture">
  <div class="guided-tour-overlay-bg">
    <div class="got-it-btn" (click)="tourGuideGotIt()">
      <span>{{gotItMessage}}</span>
    </div>
  </div>
</div>
<div class="guided-tour-description"
     *ngIf="guidedTourStatus?.indexOf(overlayScreensDashboardImgName) == -1">
  <div class="dashboard-job-posting-guided-tour">
    <p>
      {{getMessage().GUIDED_TOUR_COMPATIBILITY_SCORES_MESSAGE}}
    </p>
    <span class="down-arrow"></span>
  </div>
</div>
<div class="guided-tour-description"
     *ngIf="guidedTourStatus?.indexOf(overlayScreensDashboardImgName) == -1">
  <div class="dashboard-matching-degree-guided-tour">
    <p [innerHTML]="getMessage().GUIDED_TOUR_MATCHING_EXPERTISE_MESSAGE"></p>
    <span class="down-arrow"></span>
  </div>
</div>
<div class="guided-tour-description"
     *ngIf="guidedTourStatus?.indexOf(overlayScreensDashboardImgName) == -1">
  <div class="dashboard-menu-guided-tour">
    <p [innerHTML]="getMessage().GUIDED_TOUR_MATCHING_MENU_HELP_MESSAGE"></p>
    <span class="up-arrow"></span>
  </div>
</div>

<div class="guided-tour-description"
     *ngIf="guidedTourStatus?.indexOf(overlayScreensDashboardImgName) == -1">
  <div class="dashboard-filter-guided-tour">
    <p [innerHTML]="getMessage().GUIDED_TOUR_COMPATIBILITY_FILTERS_MESSAGE"></p>
    <span class="up-arrow"></span>
  </div>
</div>


<div *ngIf="candidate != undefined">

  <cn-candidate-dashboard-header [candidate]="candidate"></cn-candidate-dashboard-header>


  <div class="container-fluid profile-wrapper candidate-dashboard-wrapper">
    <div>
      <div class="clearfix">
        <div>
          <div class="candidate-listing" id="candidate-dashboard-cards">
            <cn-filter [candidate]="candidate" [locations]="_locationList" [role]=false
                       (changeFilter)="changeFilter($event)"></cn-filter>
            <ul class="nav nav-tabs sub-tabs candidate-tabs">
              <li [ngClass]="{'recruiters-count-tabs' : true, 'active': isRecruiterReferred}"
                  *ngIf="isRecruiterReferred">
                <a id="recruiters-anchor" (click)="showRecruitersMatchedJobs()" data-toggle="tab"
                   href="#recruiters"><span
                  class="count"><span>{{recruitersJobList.length}}</span></span> {{companyName}}</a>
              </li>
              <li [ngClass]="{'match-count-tabs' : true, 'active': !isRecruiterReferred}">
                <a id="matched_anchor" (click)="showMatchedJobs()" data-toggle="tab" href="#matched"><span
                  class="count"><span>{{jobList.length}}</span></span> Matched</a>
              </li>
              <li class="applied-count-tabs">
                <a (click)="showAppliedJobs()" data-toggle="tab" href="#applied"><span
                  class="applied-count count"><span>{{candidate.summary.numberOfJobApplied}}</span></span> Applied</a>
              </li>
              <li class="rejected-job-tabs">
                <a (click)="showRejectedJobs()" data-toggle="tab" href="#rejected"><span
                  class="rejected-count count"><span>{{candidate.summary.numberJobsBlocked}}</span></span> Not
                  Interested</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="recruiters"
                   [ngClass]="{'tab-pane' : true, 'fade in' : isRecruiterReferred, 'fade' : !isRecruiterReferred, 'active' : isRecruiterReferred, 'recruiters-anchor' : true}"
                   *ngIf="isRecruiterReferred">
                <cn-q-card-list *ngIf="typeOfListVisible=='recruiters'" [joblistCount]="recruitersJobList.length"
                                [listOfJobs]="recruitersJobList" [type]="'none'" [progress_bar_color]="'#00a79d'"
                                (onAction)="onActionPerformOnExactList($event)"
                                (onSortByChange)="onSortChange($event)"></cn-q-card-list>
                <div class="empty-list-message" *ngIf="candidate.summary.numberOfRecruiterJobs==0">
                  <p>{{emptyDashboardMessage}}</p>
                </div>
              </div>
              <div id="matched"
                   [ngClass]="{'tab-pane' : true, 'fade in' : !isRecruiterReferred, 'fade' : isRecruiterReferred, 'active' : !isRecruiterReferred, 'matched' : true}">
                <cn-q-card-list *ngIf="typeOfListVisible=='matched'" [joblistCount]="jobList.length"
                                [listOfJobs]="jobList" [type]="'none'" [progress_bar_color]="'#7264b5'"
                                (onAction)="onActionPerformOnExactList($event)"
                                (onSortByChange)="onSortChange($event)"></cn-q-card-list>
                <div class="empty-list-message" *ngIf="candidate.summary.numberOfmatched==0">
                  <p>{{emptyDashboardMessage}}</p>
                </div>
              </div>
              <div id="applied" class="tab-pane fade">
                <cn-candidate-job-list *ngIf="typeOfListVisible=='applied'" [progress_bar_color]="'#f15a24'"
                                       [type]="'apply'" [listOfJobs]="appliedJobs"
                                       (onAction)="onActionOnApplyJob($event)"
                                       (onSortByChange)="onSortChange($event)"></cn-candidate-job-list>
                <div class="empty-list-message" *ngIf="candidate.summary.numberOfJobApplied==0 ">
                  <p>{{noAppliedJobMessage}}</p>
                </div>
              </div>
              <div id="rejected" class="tab-pane fade">
                <cn-candidate-job-list *ngIf="typeOfListVisible=='rejected'" [progress_bar_color]="'#e91d62'"
                                       [type]="'block'" [listOfJobs]="blockedJobs"
                                       (onAction)="onActionOnBlockJob($event)"
                                       (onSortByChange)="onSortChange($event)"
                ></cn-candidate-job-list>
                <div class="empty-list-message" *ngIf="candidate.summary.numberJobsBlocked==0 ">
                  <p>{{noNotIntrestedJobMessage}}</p>
                </div>
              </div>
              <tpl-footer></tpl-footer>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


