$theme-color: #3694d1;
$white: #fff;

.option {
  border: 1px solid $theme-color;
  border-radius: 25px;
  color: $theme-color;
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  margin: 5px 15px 5px 0;
  min-width: 100px;
  padding: 4px 10px;
  text-align: center;
}
