@import '../../../css/common';
@import '../../../css/variables';

.error-messages {
  color: $error-messages;
  font-size: 10px;
  font-style: italic;
  margin: 0;
  position: absolute;
  line-height: 15px;
}
.dashboard-profile {
  text-align: left;
  display: table-cell;
  vertical-align: middle;

  .dashboard-profile-content {
    transform: inherit;
    margin: 0 auto;
    float: none;
    left: 0;
    top: 0;
    position: relative;
    background: $white;
    text-align: left;
    border: 1px solid $gray;
    box-shadow: -1px 3px 10px $content-box-shadow;
    padding: 15px 0;

    h5 {
      color: $name;
      font-size: 20px;
      font-weight: bold;
      margin: 0 0 15px;
      padding: 0 15px;
      background: transparent !important;
      border-bottom: 0 solid $border-color;
      font-family: gothamrnd-light;
    }

    h5 > .glyphicon-remove {
      color: $white;
      font-size: 13px;
      position: absolute;
      right: 15px;
      top: 12px;
      cursor: pointer;
    }

    p {
      text-align: left;
      margin: 0 0 15px;
    }
  }

  .candidate-profile-content {
    width: 60%;
  }

  p {
    padding: 0 15px;
  }

  .btn-modal {
    background: transparent;
    padding: 0;
  }

  .form-group {
    margin-bottom: 25px;
    margin-top: 15px;
  }

  .profile-form {
    label {
      width: 100%;
      z-index: 1 !important;
    }

    label > span {
      cursor: pointer;
      float: right;
    }
  }

  .in {
    .modal-dialog {
      transform: translate(0, -25%);
    }
  }

  .fb-email-input {
    pointer-events: none;
  }

  .hide-list {
    display: none;
  }
}

//modal
.modal {
  .modal-dialog {
    h5 {
      font-weight: bold;
      color: $cn-theme-color;
      padding: 0;
      font-size: 16px;
      background: $modal-bg1 !important;
    }
  }

  .modal-content {
    border: 0;
    margin: 7px 0;
  }

  .modal-body {
    text-align: left;

    p {
      text-align: left;
    }
  }
}

.user-name {
  margin-top: 20px;
  text-align: center;

  .profile-name-first,
  .profile-name-last {
    background: none;
    color: $black-theme-color;
    font-family: 'gothamrnd-book';
    font-size: 14px;
    padding: 0;
    text-transform: capitalize;
    word-break: break-all;
    word-wrap: break-word;
  }
}

.description-container {
  .image-container {
    width: 130px !important;
    height: 130px !important;
  }
}

@media only screen and (max-width: 980px) {
  .dashboard-profile {
    .dashboard-profile-content {
      width: 75%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .dashboard-profile {
    vertical-align: top;
    padding-bottom: 65px;

    .dashboard-profile-content {
      top: 50px;
      margin-bottom: 0;
      padding: 15px 0 0;
      width: calc(100% - 30px);
      border: 0;
      box-shadow: none;
    }

    form {
      padding: 15px 0 0;
    }
  }
}
