<cn-candidate-dashboard-header *ngIf="role==='candidate'" [candidate]="candidate"></cn-candidate-dashboard-header>
<cn-recruiter-shared-header *ngIf="role==='recruiter'"></cn-recruiter-shared-header>
<section class="main-form-wrapper dashboard-profile">
  <div class="dashboard-profile-content clearfix" [class.candidate-profile-content]="role==='candidate'">

    <cn-app-loader></cn-app-loader>

    <h5>{{getHeadings().ACCOUNT_DETAILS_HEADING}}</h5>

    <div class="col-sm-4 my-info">
      <div class="description-container">
        <div class="image-container">
          <cn-profile-picture (onPictureUpload)="onPictureUpload($event)"></cn-profile-picture>
        </div>
        <div *ngIf="role==='candidate'" class="user-name">
          <span class="profile-name-first">{{model.first_name}}&nbsp;</span>
          <span class="profile-name-last">{{model.last_name}}</span>
        </div>

        <div *ngIf="role!='candidate'" class="user-name">
          <span class="profile-name-first">{{company_name}}&nbsp;</span>
        </div>

      </div>
    </div>

    <div class="col-sm-8" *ngIf="role==='candidate'">

      <form [formGroup]="userForm" (submit)="onSubmit()" class="profile-form clearfix">

        <div  class="form-group" [class.fb-email-input]="isSocialLogin">
          <cn-control-messages [control]="userForm.controls.first_name"></cn-control-messages>
          <label>{{getLabels().FIRST_NAME_LABEL}} </label>
          <input type="text" [(ngModel)]="model.first_name" formControlName="first_name" id="first_name "
                 class="form-control"/>
        </div>


        <div  class="form-group" [class.fb-email-input]="isSocialLogin">
          <cn-control-messages [control]="userForm.controls.last_name"></cn-control-messages>
          <label>{{getLabels().LAST_NAME_LABEL}}</label>
          <input type="text" [(ngModel)]="model.last_name" formControlName="last_name" id="last_name "
                 class="form-control"/>
        </div>


        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <cn-control-messages [control]="userForm.controls.email"></cn-control-messages>
          <label>{{getLabels().EMAIL_FIELD_LABEL}}
            <span class="glyphicon glyphicon-pencil" [class.hide-list]="isSocialLogin"
                  (click)="showHideEmailModal()"></span>
          </label>
          <input [(ngModel)]="model.email" formControlName="email" id="email"
                 class="form-control clear" readonly/>
        </div>


        <div class="form-group" [class.hide-list]="isSocialLogin">
          <cn-control-messages [control]="userForm.controls.mobile_number"></cn-control-messages>
          <label>{{getLabels().CONTACT_FIELD_LABEL}}
            <span class="glyphicon glyphicon-pencil" (click)="showHideMobileModal()"></span>
          </label>
          <input type="number" [(ngModel)]="model.mobile_number" formControlName="mobile_number"
                 id="mobile_number" class="form-control clear" readonly/>
        </div>

        <div class="col-xs-12 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage"><b>{{
          error_msg }}</b></div>
        <button type="submit" class="btn btn-primary pull-right">
          {{getLabels().SAVE_PROFILE_LABEL}}
        </button>
      </form>
    </div>




    <div class="col-sm-8"  *ngIf="role!='candidate'">

      <form [formGroup]="recruiterForm" (submit)="onSubmit()" class="profile-form clearfix">

        <div  class="form-group" [class.fb-email-input]="isSocialLogin">
          <cn-control-messages [control]="recruiterForm.controls.company_name"></cn-control-messages>
          <label>{{getLabels().COMPANY_NAME_LABEL}} </label>
          <input type="text" [(ngModel)]="company_name" formControlName="company_name" id="company_name "
                 class="form-control"/>
        </div>

        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <cn-control-messages [control]="recruiterForm.controls.email"></cn-control-messages>
          <label>{{getLabels().EMAIL_FIELD_LABEL}}
            <span class="glyphicon glyphicon-pencil" [class.hide-list]="isSocialLogin"
                  (click)="showHideEmailModal()"></span>
          </label>
          <input [(ngModel)]="model.email" formControlName="email" id="recruiter_email"
                 class="form-control clear" readonly/>
        </div>


        <div class="form-group" [class.hide-list]="isSocialLogin">
          <cn-control-messages [control]="recruiterForm.controls.mobile_number"></cn-control-messages>
          <label>{{getLabels().CONTACT_FIELD_LABEL}}
            <span class="glyphicon glyphicon-pencil" (click)="showHideMobileModal()"></span>
          </label>
          <input type="number" [(ngModel)]="model.mobile_number" formControlName="mobile_number"
                 id="recruiter_mobile_number" class="form-control clear" readonly/>
        </div>

        <div *ngIf="role!=='candidate'"class="form-group" [class.fb-email-input]="isSocialLogin">
          <cn-control-messages [control]="recruiterForm.controls.company_website"></cn-control-messages>
          <label>{{getLabels().COMPANY_WEBSITE_FIELD_LABEL}}(Optional)</label>
          <input type="text" [(ngModel)]="company_website" (keydown)="onCompnayWebsite()" formControlName="company_website" id="recruiter_company_website"
                 placeholder="www.example.com" class="form-control clear"/>
          <span class="error-messages" *ngIf="!isCompanyWebsiteValid">{{getMessages().MSG_ERROR_VALIDATION_INVALID_URL_REQUIRED}}</span>

        </div>


        <div class="col-xs-12 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage"><b>{{
          error_msg }}</b></div>
        <button type="submit" class="btn btn-primary pull-right">
          {{getLabels().SAVE_PROFILE_LABEL}}
        </button>
      </form>
    </div>


  </div>
</section>
<tpl-footer></tpl-footer>

<div class="modal modal-email" [style.display]="getStyleEmail()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="showHideEmailModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">{{getHeadings().CHANGE_EMAIL_HEADING}}</h5>
        </div>
        <div class="modal-body">
          <p>{{getMessages().MSG_RESET_EMAIL_ADDRESS}}</p>
          <div class="col-sm-12">
            <cn-change-email></cn-change-email>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-mobile" [style.display]="getStyleMobile()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="showHideMobileModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">{{getHeadings().CHANGE_MOBILE_NUMBER_HEADING}}</h5>
        </div>
        <div class="modal-body">
          <p>{{getMessages().MSG_RESET_MOBILE_NUMBER}}</p>
          <div class="col-sm-12">
            <cn-change-mobile></cn-change-mobile>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


