<!--
<header class="home-page-header">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;

      <div class="navbar-header">

        <button type="button" [class.collapsed]="!isClassVisible"
                (click)="isClassVisible = !isClassVisible; closeNotificationDropdown();"
                class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        &lt;!&ndash;TODO Abhijeet <a class="navbar-brand" (click)="navigateTo('/dashboard'); closeMenu($event);"><img
          src={{MY_LOGO}}></a>&ndash;&gt;
        <a class="navbar-brand" (click)="navigateTo('/dashboard'); closeMenu();"><img
          src={{MY_LOGO}}></a>
        <span class="visible-xs mobile-notification">
                  <div class="dropdown" [class.open]="isOpenNotification">
                      <a id="simple-dropdown-notify" class="simple-dropdown-notify" data-toggle="dropdown"
                         (click)="openDropdownNotification(); closeMenu();">
                        <div class="unread-messages-count">5</div>
                        <img src="assets/framework/images/header/notification-color.svg">
                      </a>
                      <ul class="dropdown-menu notify-dropdown">
                        <tpl-notification></tpl-notification>
                      </ul>
                  </div>
                </span>

      </div>

      &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
      <div class="collapse navbar-collapse" [class.in]="isClassVisible" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-left">
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['about']" (click)="navigateTo('/dashboard/about'); toggleMenu();">
              <span class="glyphicon glyphicon-info-sign"></span>About Us
            </a>
          </li>
          <li [routerLinkActive]="['active']">
            <a [routerLink]="['contact']" (click)="navigateTo('/dashboard/contact'); toggleMenu();">
              <span class="glyphicon glyphicon-comment"></span>Contact Us
            </a>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown notification-li hidden-xs">
            <div class="dropdown" [class.open]="isOpenNotification">
              <a id="simple-dropdown-notification" data-toggle="dropdown"
                 (click)="openDropdownNotification();">
                <div class="unread-messages-count">5</div>
                <img src="assets/framework/images/header/notification-color.svg">
              </a>
              <ul class="dropdown-menu">
                <tpl-notification></tpl-notification>
              </ul>
            </div>
          </li>

          <li class="dropdown last-child">
            <div class="dropdown" [class.open]="isOpenProfile">
              <a id="simple-dropdown" class="simple-dropdown" data-toggle="dropdown"
                 (click)="openDropdownProfile();">
                <img src={{PROFILE_IMG_PATH}} alt="Profile image"><span class="caret"></span>
              </a>
              <ul class="dropdown-menu mobile-dropdown">
                <li role="menuitem" [routerLinkActive]="['active']">
                  <a class="dropdown-item" [routerLink]="['profile']"
                     (click)="navigateTo('/user/details'); toggleMenu();">
                    <span class="glyphicon glyphicon-user"></span>Profile
                  </a>
                </li>

                <li role="menuitem" [routerLinkActive]="['active']">
                  <a class="dropdown-item" [routerLink]="['settings']"
                     (click)="navigateTo('/user/change-password'); toggleMenu();">
                    <span class="glyphicon glyphicon-cog"></span>Settings
                  </a>
                </li>

                <li class="divider hidden-xs"></li>

                <li role="menuitem">
                  <a class="dropdown-item" (click)="logOut()">
                    &lt;!&ndash;<a class="dropdown-item" (click)="navigateTo('/')">&ndash;&gt;
                    <span class="glyphicon glyphicon-log-out"></span>Sign Out
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>

      </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;
    </div>&lt;!&ndash; /.container-fluid &ndash;&gt;
  </nav>
</header>
-->
