@import '../../../../css/common';

$shadow-color: rgba(0, 0, 0, .175);

.home-page-header {
  z-index: 98;

  .navbar-brand {
    margin-left: 0;

    img {
      margin-top: -4px;
      width: 100px;
    }
  }

  .simple-dropdown-notify {
    padding: 17px 15px;
  }

  .notify-dropdown {
    margin-left: -187px;
    margin-top: 15px;
    padding: 0;
  }

  .mobile-notification {
    img {
      height: 20px;
      width: 20px;
    }
  }

  .navbar {
    border-radius: 0;
    margin-bottom: 0;
  }

  .navbar-left {
    a {
      span {
        display: none;
        margin-right: 15px;
      }

      &:hover {
        background: $header-bg;
      }
    }
  }

  .navbar-right {

    .btn-default {
      background: $grey-background;
      border-color: $grey-background;
    }

    li {
      img {
        width: 15px;
      }
    }

    .notification-li {
      a {
        padding: 27px 15px;

        img {
          height: 20px;
          margin-top: 17px;
          width: 20px;
        }

        &:hover {
          background: $header-bg;
        }
      }

      .dropdown-menu {
        border-radius: 0;
        margin-top: 15px;
        min-width: 350px;
        padding: 0;
      }
    }

    .last-child {

      a {
        padding: 22px 15px;

        img {
          border-radius: 50%;
          height: 35px;
          margin: 7px 10px 0 0;
          width: 35px;
        }

        .caret {
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 5px dashed $grey-background;
          margin: 8px 15px 0 0;
        }

        &:hover {
          background: $header-bg;
        }
      }

      .btn-group {
        margin-right: 3px;
      }

      .dropdown-menu {
        border-radius: 0;
        margin-top: 9px;
        padding: 0;

        li {
          display: block;
        }

        .dropdown-item {
          color: $grey-background;
          padding: 15px 10px;

          span {
            margin-right: 15px;
          }
        }

        .divider {
          margin: 0;
        }

        p {
          margin: 0 0 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: 200px;
        }
      }

      .dropdown-menu > .active > a {
        background-color: $header-bg;

        &:focus,
        &:hover {
          background-color: $header-bg;
        }
      }
    }
  }

  ul {

    li {
      display: inline;
    }
  }

  .unread-messages-count {
    background: $bg-disabled;
    border-radius: 4px;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.3;
    margin: 0;
    min-height: 13px;
    padding: 1px 3px;
    position: absolute;
    right: 5px;
    top: 5px;
  }
}

@media (max-width: 960px) {
  .home-page-header {
    .navbar-left {
      li > a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .home-page-header {
    text-align: left;

    .navbar-collapse {
      box-shadow: 0 6px 12px $shadow-color;
    }

    .navbar-nav > li > a {
      &:focus,
      &:hover {
        color: $grey-background;
      }
    }

    .simple-dropdown-notify {
      padding: 15px;
      position: absolute;
      right: 70px;
    }

    .mobile-notification {
      position: static;
      right: 70px;
      top: 15px;

      .notify-dropdown {
        background: $bg-wrapper;
        border: 0;
        border-bottom: $border-color 1px solid;
        border-radius: 0;
        height: 300px;
        margin: 50px 0 0;
        overflow: auto;
        width: 100%;
      }
    }

    .simple-dropdown {
      display: none;
    }

    .navbar-left {
      a {
        span {
          display: inline-block;
          margin-right: 15px;
        }
      }
    }

    .navbar-right {
      .dropdown {
        width: 100%;
      }

      li {
        &:last-child {
          .dropdown-menu {
            margin-top: 0;
          }

          .btn-group {
            margin-right: 0;
          }
        }
      }
    }

    .mobile-dropdown {
      background: transparent;
      border: 0;
      box-shadow: none;
      display: block;
      margin-top: 0;
      min-width: 100%;
      position: relative;
    }

    .navbar-nav {
      margin-bottom: 0;
      margin-top: 0;
    }

    .navbar-form {
      margin: 0;
    }
  }
}
