<section class="contact col-sm-10 col-sm-offset-1">

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.8584840329254!2d73.85285701450476!3d18.490068287426826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c01b83fabc9f%3A0x6ff10e2338411cf6!2sTechprimelab+Software+Pvt.+Ltd.!5e0!3m2!1sen!2sin!4v1475071805276"
            height="300" frameborder="0" allowfullscreen></iframe>

    <div class="clearfix hidden-xs">&nbsp;</div>
    <div class="clearfix">&nbsp;</div>

    <div class="row">

        <div class="col-sm-6 content-left text-left">

            <p>Please provide the following details and we will get back to you soon.</p>

            <div class="clearfix clear hidden-xs">&nbsp;</div>

            <div class="alert alert-danger clearfix" [hidden]="isShowErrorMessage" >
                <div class="col-sm-1 hidden-xs"><span class="glyphicon glyphicon-warning-sign"></span></div>
                <div class="col-sm-10 col-xs-11 error-msg"><b>{{ error_msg }}</b></div>
                <div class="col-sm-1 col-xs-1 close-msg">
                    <button (click)="closeErrorMessage()" class="btn-close"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>

            <form [formGroup]="userForm" (submit)="onSubmit()">

                <div class="form-group input-group">
                    <control-messages [control]="userForm.controls.first_name"></control-messages>
                    <span class="input-group-addon glyphicon glyphicon-user"></span>
                    <input type="text" formControlName="first_name" id="first_name " placeholder="Name"
                           class="form-control"/>
                </div>


                <div class="form-group input-group">
                    <control-messages [control]="userForm.controls.email"></control-messages>
                    <span class="input-group-addon glyphicon glyphicon-envelope"></span>
                    <input formControlName="email" id="email" placeholder="Email" class="form-control"/>
                </div>

                <div class="form-group input-group">
                    <control-messages [control]="userForm.controls.message"></control-messages>
                    <span class="input-group-addon glyphicon glyphicon-comment"></span>
                    <textarea formControlName="message" id="message" placeholder="Message" class="form-control" rows="4"></textarea>
                </div>

                <button type="submit" class="btn btn-default" [disabled]="!userForm.valid">Send Mail</button>
                <div class="clearfix">&nbsp;</div>

            </form>

        </div>

        <div class="col-sm-6">

            <div class="content-right">

                <h5>Address</h5>
                <p>Bldg. No. 14, 1st Floor, Electronic Estate, Parvati, Pune-Satara Road, Pune 411009, MH, INDIA</p>

                <h5>Contact</h5>
                <p>+91 (20) 2421 8865</p>
                <p>+91 98233 18865</p>

                <h5>Email</h5>
                <p>sales@techprimelab.com</p>
                <p>careers@techprimelab.com</p>

            </div>

        </div>

    </div>

</section>
