<section class="main-form-wrapper activate-user" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}">

  <app-loader></app-loader>

  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-10 content">

    <h5>{{resultStatus}}!</h5>

    <div class="clearfix">&nbsp;</div>

    <p>{{emailBody}}</p>

    <div class="clearfix">&nbsp;</div>


    <div class="btn-group">
      <a class="btn btn-default"(click)="navigateTo();">LOGIN</a>
    </div>

    <div class="clearfix">&nbsp;</div>

  </div>
</section>



