<cn-user-header></cn-user-header>

<section class="container activate-user">
  <div class="page-background">
    <div class="inner-content clearfix">
      <div class="content" *ngIf="isEmailVerification;else other_content">
        <div class="inner-content">
          <h5>{{activationMessageHeading}}</h5>
          <p>{{activationMessage}}</p>
          <div class="btn-group">
            <a class="btn btn-primary" (click)="navigateTo();">Sign In</a>
          </div>
        </div>
        <ng-template #other_content>
          <div class="content" >
            <div class="inner-content">
              <h5>{{emailVerificationMessageHeading}}</h5>
              <p>{{emailVerificationMessage}}<br /></p>
              <div class="btn-group">
                <a class="btn btn-success" (click)="navigateTo();">Sign In</a>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</section>



