@import '../../../framework/landing-page/landing-page.component';

.activate-user {
  .content {
    h5 {
      font-size: 20px;
      background: transparent !important;
      border: 0 !important;
    }

    p {
      margin-bottom: 20px;
    }
  }
}
