<section class="main-form-wrapper activate-user">

  <main-header></main-header>

  <app-loader></app-loader>

  <div class="col-md-8 col-xs-10 content">

    <h5>Congratulations! Welcome To Job Mosis.</h5>

    <div class="inner-content">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.<br /></p>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged.<br /><br /></p>
      <p>Your account has been created successfully. Kindly click Sign In.</p>

      <div class="btn-group">
        <a class="btn btn-success" (click)="navigateTo();">Sign In</a>
      </div>

    </div>

  </div>
</section>



