<section class="main-form-wrapper verify-user" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}">

  <!--<tpl-loader *ngSwitchCase="true"></tpl-loader>-->
  <app-loader></app-loader>

  <div class="col-lg-4 col-sm-8 col-xs-10 content">

    <h5>Verify your phone</h5>

    <form [formGroup]="userForm" (submit)="onSubmit()">

      <p>Please enter the verification code sent to your phone number.</p>

      <div class="form-group">
        <control-messages [control]="userForm.controls.otp"></control-messages>
        <input type="number" formControlName="otp" id="otp" placeholder="One Time Password(OTP)"
               class="form-control"/>
      </div>

      <div class="clearfix">&nbsp;</div>

      <button type="submit" class="btn btn-default" [disabled]="!userForm.valid">Verify Phone
      </button>
      <div class="clearfix">&nbsp;</div>

    </form>
      <a class="other-links" (click)="resendVerificationCode()">Resend OTP</a>

  </div>

</section>



