<section class="main-form-wrapper verify-user">

  <main-header></main-header>

  <app-loader></app-loader>

  <div class="col-md-4 col-sm-6 col-xs-10 content">

    <h5>Verify Your Mobile Number
      <!--<span class="glyphicon glyphicon-remove" (click)="navigateTo('/landing')"></span>--></h5>

    <div class="alert alert-danger clearfix" [hidden]="isShowErrorMessage">
      <div class="col-sm-1 hidden-xs"><span class="glyphicon glyphicon-warning-sign"></span></div>
      <div class="col-sm-10 col-xs-11 error-msg"><b>{{ error_msg }}</b></div>
      <div class="col-sm-1 col-xs-1 close-msg">
        <button (click)="isShowErrorMessage = true" class="btn-close"><span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
    </div>

    <form [formGroup]="userForm" (submit)="onSubmit()">

      <p>Please enter the verification code sent to your phone number.</p>

      <div class="form-group">
        <control-messages [control]="userForm.controls.otp"></control-messages>
        <input type="number" formControlName="otp" id="otp" class="form-control" required/>
        <label>One Time Password(OTP)</label>
      </div>

      <div class="button-group">
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Verify Phone</button>
        <a class="btn btn-danger" (click)="resendVerificationCode()">Resend OTP</a>
      </div>
    </form>
  </div>
</section>

<div class="modal verify-mobile-modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <h5>Congratulations!</h5>

              <div class="content">

                <p>Your Account verified Successfully.Kindly Click On Sign In.</p>

                <div class="button-group">
                  <button class="btn btn-primary" (click)="navigateTo()">Sign In</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



