<ul class="social-icon">
  <li>
    <a href="https://www.facebook.com/techprimelab" target="_blank">
      <img src={{FACEBOOK_ICON}} alt="Facebook Link">
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/+TechprimelabSoftware" target="_blank">
      <img src={{GOOGLE_PLUS_ICON}} alt="Google Plus Link">
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/company/techprimelab-software-pvt.-ltd." target="_blank">
      <img src={{LINKEDIN_ICON}} alt="Linked In Link">
    </a>
  </li>
</ul>
