<cn-user-header></cn-user-header>
<section class="container">
  <div class="page-background">
    <div class="inner-content clearfix">
      <div class="content">
        <h4>{{getHeadings().RESET_PASSWORD_HEADING}}</h4>
        <p class="reset-note">{{getLabels().RESET_PASSWORD_MESSAGE}} {{ APP_NAME }} account.</p>

        <form [formGroup]="userForm" (submit)="onSubmit()" novalidate>
          <div class="form-group">
            <control-messages [control]="userForm.controls.new_password" [submitStatus]="submitStatus"></control-messages>
            <label>{{getLabels().NEW_PASSWORD_LABEL}}</label>
            <input type="password" formControlName="new_password" id="new_password" class="form-control" required/>
          </div>

          <div class="form-group">
            <control-messages [control]="userForm.controls.confirm_password"
                              [submitStatus]="submitStatus"></control-messages>
            <label>{{getLabels().CONFIRM_PASSWORD_LABEL}}</label>
            <input type="password" formControlName="confirm_password" id="confirm_password"
                   (blur)="makePasswordConfirm()" class="form-control" required/>
            <div class="error-message" *ngIf="isPasswordConfirm == true"><p>{{getMessages().MSG_ERROR_VALIDATION_PASSWORD_MISMATCHED}}</p></div>
          </div>
          <div class="col-sm-10 col-xs-11 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage"><b>{{ error_msg }}</b></div>
          <div class="button-group">
            <button type="submit" class="btn btn-primary">{{getButtons().RESET_PASSWORD_BUTTON}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

