@import '../../../../framework/landing-page/landing-page.component';

.page-background {

  .error-message {
    p {
      color: $error;
      font-size: 10px;
      font-style: italic;
      margin: 10px 0 0;
      text-align: left;
    }
  }
  .reset-note {
    margin: 0 0 25px;
  }

  .inner-content {
    .content {
      width: 450px;
    }

    .btn-primary {
      margin: 0;
    }

    .form-group {

      &:first-child {
        margin-top: 40px;
      }
    }

    .button-group {
      position: relative;
    }

    .other-links {
      font-weight: 600;
    }

  }
}

@media only screen and (max-width: 767px) {
  .main-form-wrapper {

    .error-message {
      p {
        text-align: left;
      }
    }
  }
}


