@import '../../../../css/variables';

.list-container {
  text-align: center;
  margin-top: 190px;

  .header {
    padding: 5px 15px;
    background: #edf1f5;
    position: fixed;
    width: 100%;
    top: 142px;
    text-align: right;
  }

  .list-view {
    padding: 0 15px 30px;
    text-align: center;
    top: 190px !important;

    h5 {
      text-align: center;
    }
  }
}
