@import '../../../../../framework/landing-page/landing-page.component';

.page-background {
  background: no-repeat fixed 0 100%;
  clear: both;

  .inner-content {
    padding-bottom: 30px;

    .content {
      margin-top: 55px;
    }

    .content > h4 {
      text-align: left;
    }

    .content > form > .form-sub-heading {
      text-align: left;
      border-bottom: 1px solid $border-color;
      padding-bottom: 5px;
      color: $heading;
      font-weight: 600;
    }
  }
}
