<header class="create-new-header">
  <button class="btn-back" (click)="goBack()"><img src="assets/build-info/create-new-project/back.png" /><span>Back</span></button>
  <button class="btn-close" (click)="goBack()"><img src="assets/build-info/create-new-project/close.png" /><span>Close</span></button>
</header>
<section class="page-background" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND_TRANSPARENT + ')'}">
  <div class="inner-content clearfix">
    <div class="content">
      <h4>Add Building in Project</h4>
      <form [formGroup]="addBuildingForm" (submit)="onSubmit()">

        <div  class="form-group">
          <control-messages [control]="addBuildingForm.controls.name" [submitStatus] = "submitStatus"></control-messages>
          <label>Building Name</label>
          <input type="text" [(ngModel)]="model.name" formControlName="name" id="name"  class="form-control" placeholder="Enter your building name" required />
        </div>

        <div  class="form-group">
          <control-messages [control]="addBuildingForm.controls.totalSlabArea" [submitStatus] = "submitStatus"></control-messages>
          <label>Slab Area<small> (In sft)</small></label>
          <input type="number" [(ngModel)]="model.totalSlabArea" formControlName="totalSlabArea" id="totalSlabArea"  class="form-control" placeholder="Enter slab area" required/>
        </div>

        <div  class="form-group">
          <control-messages [control]="addBuildingForm.controls.totalCarperAreaOfUnit" [submitStatus] = "submitStatus"></control-messages>
          <label>Carpet Area including Balconies/attached terraces <small> (In sqft)</small></label>
          <input type="number" class="form-control" [(ngModel)]="model.totalCarperAreaOfUnit" formControlName="totalCarperAreaOfUnit" id="totalCarperAreaOfUnit" placeholder="Enter carpet area" required/>
        </div>

        <div  class="form-group">
          <control-messages [control]="addBuildingForm.controls.totalSaleableAreaOfUnit" [submitStatus] = "submitStatus"></control-messages>
          <label>Saleble Area <small>(In sft)</small></label>
          <input type="number" class="form-control" [(ngModel)]="model.totalSaleableAreaOfUnit" formControlName="totalSaleableAreaOfUnit" id="totalSaleableAreaOfUnit" placeholder="Enter Saleble area" required/>
        </div>

        <div  class="form-group">
          <control-messages [control]="addBuildingForm.controls.plinthArea" [submitStatus] = "submitStatus"></control-messages>
          <label>Plinth Area <small>(In sft)</small></label>
          <input type="number" [(ngModel)]="model.plinthArea" formControlName="plinthArea" id="plinthArea" class="form-control" placeholder="Enter plinth Area" required/>
        </div>

        <div  class="form-group">
          <control-messages [control]="addBuildingForm.controls.totalNoOfFloors" [submitStatus] = "submitStatus"></control-messages>
          <label> Total No.of Floors <small>(Excluding parking floors)</small></label>
          <input type="number" [(ngModel)]="model.totalNoOfFloors" formControlName="totalNoOfFloors" id="totalNoOfFloors" class="form-control" required/>
        </div>

        <div  class="form-group">
          <control-messages [control]="addBuildingForm.controls.noOfParkingFloors" [submitStatus] = "submitStatus"></control-messages>
          <label>No. Of Parking Floors</label>
          <input type="number" [(ngModel)]="model.noOfParkingFloors" formControlName="noOfParkingFloors" id="noOfParkingFloors" class="form-control" placeholder="Enter no Of Parking Floors" required/>
        </div>

        <div  class="form-group">
          <control-messages [control]="addBuildingForm.controls.carpetAreaOfParking" [submitStatus] = "submitStatus"></control-messages>
          <label>Carpet Area for parking <small>(In sqft)</small></label>
          <input type="number" class="form-control" [(ngModel)]="model.carpetAreaOfParking" formControlName="carpetAreaOfParking" id="carpetAreaOfParking" placeholder="Enter carpetArea for Parking area" required/>
        </div>

        <p class="form-sub-heading">Apartment Configuration</p>
        <div class="row">
          <div class="col-sm-6">
            <div  class="form-group">
              <control-messages [control]="addBuildingForm.controls.noOfOneBHK" [submitStatus] = "submitStatus"></control-messages>
              <label>1 BHK</label>
              <input type="number" [(ngModel)]="model.noOfOneBHK" formControlName="noOfOneBHK" id="noOfOneBHK" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6">
            <div  class="form-group">
              <control-messages [control]="addBuildingForm.controls.noOfTwoBHK" [submitStatus] = "submitStatus"></control-messages>
              <label>2 BHK</label>
              <input type="number" [(ngModel)]="model.noOfTwoBHK" formControlName="noOfTwoBHK" id="noOfTwoBHK" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6">
            <div  class="form-group">
              <control-messages [control]="addBuildingForm.controls.noOfThreeBHK" [submitStatus] = "submitStatus"></control-messages>
              <label>3 BHK</label>
              <input type="number" [(ngModel)]="model.noOfThreeBHK" formControlName="noOfThreeBHK" id="noOfThreeBHK" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6">
            <div   class="form-group">
              <control-messages [control]="addBuildingForm.controls.noOfFourBHK" [submitStatus] = "submitStatus"></control-messages>
              <label> 4 BHK</label>
              <input type="number" [(ngModel)]="model.noOfFourBHK" formControlName="noOfFourBHK" id="noOfFourBHK" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6">
            <div  class="form-group">
              <control-messages [control]="addBuildingForm.controls.noOfFiveBHK" [submitStatus] = "submitStatus"></control-messages>
              <label>5 BHK</label>
              <input type="number" [(ngModel)]="model.noOfFiveBHK" formControlName="noOfFiveBHK" id="noOfFiveBHK" class="form-control" />
            </div>
          </div>
          <div class="col-sm-6">
            <div  class="form-group">
              <control-messages [control]="addBuildingForm.controls.noOfLift" [submitStatus] = "submitStatus"></control-messages>
              <label>No. of Lifts</label>
              <input type="number" [(ngModel)]="model.noOfLift" formControlName="noOfLift" id="noOfLift" class="form-control" />
            </div>
          </div>
        </div>
        <div class="col-xs-12 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage"><b>{{ error_msg }}</b></div>

        <button type="submit" class="btn btn-primary">Next</button>
      </form>
    </div>
  </div>
</section>

