<div class="basic-description" *ngIf="recruiter != undefined">

  <div class="basic-info clearfix">
    <img src="assets/framework/images/dashboard/profile.png" alt="User Profile"
         *ngIf="recruiter.company_logo==undefined"/>
    <img [src]="getImagePath(recruiter.company_logo)" alt="User Profile" *ngIf="recruiter.company_logo!=undefined"/>
    <p class="name">{{recruiter.company_name}}</p>
  </div>


  <div class="details clearfix">
    <label>Job Title</label>
    <span>{{job.jobTitle}}</span>
    <label>{{getLabel().REQUIRMENT_OWNER}}</label>
    <span>{{job.hiringManager}}</span>
    <label *ngIf="recruiter.isRecruitingForself">Department</label>
    <label *ngIf="!recruiter.isRecruitingForself">Company</label>
    <span>{{job.department}}</span>
    <label>Industry</label>
    <span>{{job.industry.name}}</span>
    <label>Area of Work</label>
    <span *ngFor="let role of job.industry.roles;let i = index">{{role.name}}
        <span *ngIf="job.industry.roles.length>1 &&  i!=job.industry.roles.length-1">,</span>
      </span>
    <label>Domain Exposure</label>
    <span *ngFor="let industry of job.interestedIndustries;let i = index">{{industry}}<span
      *ngIf="job.interestedIndustries.length>1 && i!=job.interestedIndustries.length-1">,</span>
      </span>
    <label *ngIf="job.releventIndustries.length">Relevant Industry Exposure</label>
    <span *ngFor="let value of job.releventIndustries;let i = index">
      {{value}}
      <span *ngIf="job.releventIndustries.length>1 &&  i!=job.releventIndustries.length-1">,</span>
    </span>
    <label>Education</label>
    <span>{{job.education}}</span>
    <span *ngFor="let education of job.educationForJob">
      <span>{{education.educationDegree}}</span>
            <span *ngIf="education.specialization">({{education.specialization}})<br/></span>

    </span>


    <label *ngIf="job.experienceMinValue !=job.experienceMaxValue">Experience Band
      <span class="optional-field">{{getLabel().YEARS}}</span>
    </label>
    <span *ngIf="job.experienceMinValue !=job.experienceMaxValue">{{job.experienceMinValue}} - {{job.experienceMaxValue}}</span>
    <label *ngIf="job.experienceMinValue ==job.experienceMaxValue">Experience
      <span class="optional-field"> {{getLabel().YEARS}} </span> </label>
    <span *ngIf="job.experienceMinValue ==job.experienceMaxValue">{{job.experienceMinValue}}</span>
    <label *ngIf="job.salaryMinValue != job.salaryMaxValue">Salary Band
      <span class="optional-field"> {{getLabel().IN_LAKH}} </span> </label>
    <span *ngIf="job.salaryMinValue != job.salaryMaxValue">{{job.salaryMinValue}} - {{job.salaryMaxValue}}</span>
    <label *ngIf="job.salaryMinValue == job.salaryMaxValue">Salary
      <span class="optional-field"> {{getLabel().IN_LAKH}}</span> </label>
    <span *ngIf="job.salaryMinValue == job.salaryMaxValue">{{job.salaryMinValue}}</span>
    <label>Joining Period</label>
    <span>{{job.joiningPeriod}}</span>
    <label>Job Location</label>
    <span>{{job.location.city}}</span>
    <label>Date Posted</label>
    <span>{{job.postingDate | date:'mediumDate'}}</span>
    <div *ngIf="recruiter.company_website!=undefined||''"><label>Website</label>
    <span>{{recruiter.company_website}} </span></div>
    <label *ngIf="recruiter != undefined && recruiter.about_company && recruiter.about_company !== ''">About Company</label>
    <span>{{recruiter.about_company}} </span>
  </div>
</div>

