@import '../../../../../css/common';

.clone-modal {
  .modal-dialog {
    width: 450px;
  }
  .modal-body {
    height: 500px;
    overflow-y: scroll;
  }
  .next-btn,
  .clone-btn {
    padding: 0 40px;
    width: auto;
  }
  .modal-header {
    .modal-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 95%;
    }
  }
}
.apartment-configuration-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.following-items-title {
  border-bottom: 1px solid $clone-border;
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 10px 0;
  padding: 0 0 10px;
  text-align: left;
}
.cost-summary-row-list {
  .text-center {
    text-align: centerc;
  }
}
.collapse-items {
  border-bottom: 1px solid $clone-border;
  float: left;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  input[type=checkbox] {
    margin: 4px 3px 0 3px;
    padding: 0;
  }
  a {
    color: $name;
    font-weight: 600;
  }
  .collapse.in {
    padding: 10px 0 0 10px;
    input[type=checkbox] {
      width: 30px;
    }
  }
  .inner-items {
    float: left;
    padding: 0 0 10px;
  }
  .sub-inner-items {
    padding: 10px 0 0 25px;
  }
}
.up-arrow {
  display: none;
}

.total-body {
  padding: 15px 0 !important;
}

.table-dashboard {
  thead > tr,
  tbody > tr {
    box-shadow: 10px 10px 10px $panel-shadow;

    th:nth-child(2),
    td:nth-child(2),
    th:nth-child(4),
    td:nth-child(4) {
      width: 120px;
    }

    th:nth-child(3),
    td:nth-child(3) {
      width: 140px;
    }

    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4) {
      text-align: right;
    }

    td:nth-child(3) > .edit-field {
      input {
        text-align: right;
      }
    }

    td {
      &:first-child {
        border-radius: 6px 0 0 6px;
      }

      &:nth-child(5) {
        border-radius: 0 6px 6px 0;
        text-align: right;
        width: 120px;
      }
    }

    th {
      &:first-child {
        border-radius: 6px 0 0 6px;
      }

      &:last-child {
        border-radius: 0 6px 6px 0;
      }
    }
  }
}

.add-cost-head {
  td {
    &:last-child {
      border-radius: 0 6px 6px 0;
    }
  }
}

.total-table {
  tbody > tr {
    &:hover {
      background: $white !important;
    }
  }
}

.wrapper {
  .btn-get-amount {
    min-width: 100px;
  }
}

.panel-default {
  .panel-heading {
    background: $header-bg;
  }
}

.btn-add-item {
  background: $white;
  border: 0;
  border-radius: 20px;
  color: $heading;
  height: 36px;
  padding: 6px 60px;
  margin: 0;
  font-weight: 800;
  font-size: 12px;

  .glyphicon-plus {
    padding-right: 6px;
  }

  &:hover,
  &:active,
  &:focus {
    background: $white;
    border: 0;
    color: $heading;
  }
}

.download-pdf-list {
  span {
    font-weight: bold;
    font-size: 12px;
    padding: 4px 0 0;
  }
}

.first-child-list {
  &:hover {
    background: transparent !important;
  }
}

@media only screen and (max-width: 980px) {
  .left-content {
    padding-right: 10px;
    width: 100%;
  }

  .right-content {
    display: none;
  }
}





