@import '../../../../../css/common';

.wrapper {
  background-color: $page-background;
  width: 100%;
  min-height: 100vh;
  margin-top: 100px;
  text-align: left;
  padding-top:30px;

  label {
    color: $heading;
    font-weight: 400;
    font-size: 12px;
  }

  select {
    background: transparent url(../assets/framework/images/form/drop-down.png) no-repeat 92% 50%;
    border: 1px solid $heading;
    border-radius: 8px;
    color: $heading;
    font-size: 12px;
    margin-right: 15px;
    padding: 2px 5px;
    width: 100px;
    font-weight: 400;
  }
}

.btn-get-amount {
  background: transparent;
  border: 1px solid #00a79d;
  color: #00a79d;
  border-radius: 4px;
  padding: 2px 4px;
  height: auto;
  margin: 5px 0;
}

.table-row-spacing {
  border-collapse: separate;
  border-spacing: 0 10px;
}

table {
  font-size: 12px;
  margin: 0;

  tr {
    background-color: $white;
    box-shadow: 10px 10px 10px $panel-shadow;

    th {
      color: $heading;
      font-weight: 700;
      vertical-align: middle;
    }

    th > .sub-heading {
      font-weight: 600;
      font-size: 10px;
    }

    td, th {
      border: 0;
    }
  }

  thead {

  }
}
