
  <div class="section-container">
    <div class="main-content clearfix modal-content" *ngIf="highlightedSection.name=='Capabilities'">
      <h4 class="heading">Choose Your Capabilities (Max 10)</h4>

      <div class="clearfix">
        <div class="capabilities col-sm-12">
          <div class="info">
            <ul>
              <li>Select those capabilities which describe what you are best at or where you would
                like to position your career. </li>
              <li> Selecting too many capabilities would dilute the matching and alignment with
                the best job opportunity.</li>
              <li>Hence you should select maximum 10 primary
            capabilities.You may additionally select upto 10 secondary capabilities.</li>
              </ul>
          </div>
          <p class="legends">
            <span class="color-panel primary-color"></span>Primary
            <span class="color-panel secondary-color"></span>Secondary
          </p>
          <div class="capability-type max-height">
            <span class="capability-option" *ngFor="let role of roles">
              <div class="select-option"
                   *ngFor="let item of role.capabilities;let i = index"
                   [class.primary]="item.isPrimary || primaryNames.indexOf(item.name)!=-1"
                   [class.secondary]="item.isSecondary || secondaryNames.indexOf(item.name)!=-1">
                <label>
                  <input type="checkbox" name="checkbox" (click)="selectedCapability(role,item,$event)" id="{{item.name}}"
                         value="{{item.name}}"
                         [checked]="secondaryNames.indexOf(item.name)!=-1||primaryNames.indexOf(item.name)!=-1">
                  <span>{{item.name}}</span>
                </label>
              </div>
            </span>
          </div>
          <div class="button-group clearfix">
            <button class="btn btn-primary" scrollTo scrollTargetSelector="#complexity-area"
                    (click)="onNext()" [disabled]="disableButton">Next
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="main-content" *ngIf="highlightedSection.name!='Capabilities'">
      <div class="compact-view clearfix">
        <button class="btn-edit" (click)="highlightedSection.name='Capabilities'" [hidden]="highlightedSection.isLocked"></button>
        <span class=" glyphicon glyphicon-lock" title="you can edit this field after {{highlightedSection.date}}" *ngIf="highlightedSection.isLocked"></span>
        <h4 class="heading">Capabilities</h4>
        <span class="capability-option" *ngFor="let role of roles">
          <div class="select-option" *ngFor="let item of role.capabilities">
            <span
                [class.primary]="primaryNames.indexOf(item.name)!=-1"
                [class.secondary]="secondaryNames.indexOf(item.name)!=-1">{{item.name}}</span>
          </div>
        </span>
      </div>
    </div>
   <!-- <div [class.modal-bg]="highlightedSection.name!='Capabilities'"></div>-->
  </div>






