<div class="modal-bg" *ngIf="highlightedSection.name=='Capabilities'"></div>
<div class="section-container clear clearfix" *ngIf="highlightedSection.name=='Capabilities'">

  <div class="main-content clearfix edit-modal-content">
    <h4 class="heading" *ngIf="isCandidate">Select those capabilities that describe your current strength.
    </h4>
    <h4 class="heading" *ngIf="!isCandidate">Capabilities that are required in the candidate
    </h4>
    <div class="error-messages edit-error-msg" *ngIf="!isValid">{{validationMessage}}</div>
    <div class="scrollable-content capabilities">
      <div class="capability-type">
        <span class="capability-option" *ngFor="let role of roles">
          <!--<h5 class="sub-areas">Area Of Work - {{role.name}}</h5>-->
          <div class="select-option"
               *ngFor="let item of role.capabilities;let i = index"
               [class.primary]="item.isPrimary || primaryNames.indexOf(item.code)!=-1"
               [class.secondary]="item.isSecondary || secondaryNames.indexOf(item.code)!=-1">
            <label *ngIf="capabilitiesCodes.indexOf(item.code)!=-1">
              <input type="checkbox" name="checkbox" (click)="selectedCapability(role,item,$event)" id="{{item.name}}"
                     value="{{item.name}}"
                     [checked]="secondaryNames.indexOf(item.code)!=-1||primaryNames.indexOf(item.code)!=-1">
              <span>{{item.name}}</span>
            </label>
          </div>
        </span>
      </div>
    </div>

    <cn-tool-tip [message]="tooltipCandidateMessage" *ngIf="isCandidate"></cn-tool-tip>
    <cn-tool-tip [message]="tooltipRecruiterMessage" *ngIf="!isCandidate"></cn-tool-tip>

    <button class="btn-prev" (click)="highlightedSection.name='Work-Area'"><span
      class="glyphicon glyphicon-chevron-left"></span></button>

    <div class="button-group clearfix">
      <!--<div class="saving-loader">Saving...</div>-->
      <button class="btn btn-primary" scrollTo scrollTargetSelector="#complexity-area"
              (click)="onNext()" [hidden]="!showButton">Next
      </button>
      <button class="btn btn-primary" (click)="onSave()" [hidden]="showButton">Next</button>
    </div>
  </div>
</div>

<!--<div class="section-container" *ngIf="highlightedSection.name!='Capabilities'">
  <div class="main-content">
    <div class="compact-view clearfix">
      <h4 class="heading-compact">Capabilities
        <button class="btn-edit" (click)="highlightedSection.name='Capabilities';highlightedSection.isDisable=true;showButton=false"
                [hidden]="highlightedSection.isDisable" title="Edit Capabilities"></button>
      </h4>

      <span class="option" *ngFor="let item of primaryNames;let i = index">
        <span>
          {{item}}&nbsp;<span *ngIf="primaryNames.length>1 && i!=primaryNames.length -1">,</span>&nbsp;
        </span>
      </span>
      <div *ngIf="secondaryNames != undefined && secondaryNames.length>0">
      <span class="option" *ngFor="let item of secondaryNames;let j = index">
        <span>
          {{item}}&nbsp;<span *ngIf="secondaryNames.length>1 && j != secondaryNames.length -1">,</span>&nbsp;
        </span>
      </span>
      </div>
    </div>
    &lt;!&ndash; <div [class.modal-bg]="highlightedSection.name!='Capabilities'"></div>&ndash;&gt;
  </div>
</div>-->
