<div class="modal-bg" *ngIf="highlightedSection.name=='Capabilities'"></div>
<div class="section-container clear clearfix" *ngIf="highlightedSection.name=='Capabilities'">
  <cn-tool-tip [message]="tooltipCandidateMessage" *ngIf="isCandidate"></cn-tool-tip>
  <cn-tool-tip [message]="tooltipRecruiterMessage" *ngIf="!isCandidate"></cn-tool-tip>
  <div class="main-content clearfix modal-content">
    <h4 class="heading">Select those capabilities that describe your current strenght</h4>
    <div class="clearfix">
      <div class="capabilities col-sm-12">
        <div class="capability-type">
          <span class="capability-option" *ngFor="let role of roles">
            <!--<h5 class="sub-areas">Area Of Work - {{role.name}}</h5>-->
            <div class="select-option"
                 *ngFor="let item of role.capabilities;let i = index"
                 [class.primary]="item.isPrimary || primaryNames.indexOf(item.name)!=-1"
                 [class.secondary]="item.isSecondary || secondaryNames.indexOf(item.name)!=-1">
              <label>
                <input type="checkbox" name="checkbox" (click)="selectedCapability(role,item,$event)" id="{{item.name}}"
                       value="{{item.name}}"
                       [checked]="secondaryNames.indexOf(item.name)!=-1||primaryNames.indexOf(item.name)!=-1">
                <span>{{item.name}}</span>
              </label>
            </div>
          </span>
        </div>
        <div class="error-messages" *ngIf="emptyCapabilities">Select your capabilities.</div>
        <div class="button-group clearfix">
          <button class="btn btn-success" scrollTo scrollTargetSelector="#complexity-area"
                  (click)="onNext()" [hidden]="!showButton">Next
          </button>
          <button class="btn btn-default" (click)="onCancel()" [hidden]="showButton">Cancel</button>
          <button class="btn btn-success"  (click)="onSave()"  [hidden]="showButton">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section-container"
     [ngClass]="(highlightedSection.name=='Work-Area' || highlightedSection.name=='Profile')?'full-width':'half-width'"
     *ngIf="highlightedSection.name!='Capabilities'">
  <div class="main-content">
    <div class="compact-view clearfix">
      <h4 class="heading">Capabilities
        <button class="btn-edit" (click)="highlightedSection.name='Capabilities';highlightedSection.isDisable=true;showButton=false"
                [hidden]="highlightedSection.isDisable" title="Edit Capabilities"></button>
      </h4>

      <span class="option" *ngFor="let item of primaryNames;let i = index">
        <span>
          {{item}}&nbsp;<span *ngIf="primaryNames.length>1 && i!=primaryNames.length -1">,</span>&nbsp;
        </span>
      </span>
      <div *ngIf="secondaryNames != undefined && secondaryNames.length>0">
      <span class="option" *ngFor="let item of secondaryNames;let j = index">
        <span>
          {{item}}&nbsp;<span *ngIf="secondaryNames.length>1 && j != secondaryNames.length -1">,</span>&nbsp;
        </span>
      </span>
      </div>
    </div>
    <!-- <div [class.modal-bg]="highlightedSection.name!='Capabilities'"></div>-->
  </div>
</div>
<div class="clearfix divider clear"></div>
