<div class="dashboard-view clearfix"> <!--[hidden]="!isShowQCardView"-->
  <header class="col-sm-12 q-card-header">
    <ul>
      <li>
        <div class="match-cases" *ngIf="type=='matchedList'">
          <label class="radio-inline">
            <input  type="radio" name="radiogroup" value="{{match.aboveMatch}}" (click)="matching($event.target.value)" checked="checked">Exact Match or Higher Capabilities
            <span></span>
          </label>
          <label class="radio-inline">
            <input  type="radio" name="radiogroup" value="{{match.belowMatch}}" (click)="matching($event.target.value)">With One Level Lower Capabilities
            <span></span>
          </label>
        </div>
      </li>
      <li>
        <p>Showing {{qCardCount.count}} out of {{totalQCardMatches.count}}</p>
      </li>
      <li>
        <a (click)="clearFilter()">Clear all filters</a>
      </li>
    </ul>
    <!--<div class="search">-->
      <!--<input class="form-control" type="text" />-->
      <!--<button class="btn btn-search" type="button"><img src="./assets/framework/images/dashboard/search.png"></button>-->
    <!--</div>-->

    <div class="sort-by">
      <label>Sort by</label>
      <select id="menu"  [(ngModel)]="qCardModel.sortValue">
        <option value="{{itemList}}" *ngFor="let itemList of qCardModel.listOfMatchings">{{itemList}}</option>
      </select>
    </div>
  </header>

  <div class="card-view clearfix">
    <!--<div class="col-sm-4" *ngFor= "let item of candidates">&lt;!&ndash;| candidatematching: matchFormat&ndash;&gt;-->
      <div class="col-sm-4" *ngFor= "let item of candidates | dashboardsort:qCardModel.sortValue | candidatematching: matchForma: totalQCardMatches | dashboardfilter:filterMeta:qCardCount;let i=index;">
      <div class="panel clearfix">
        <img class="profile-picture" src="assets/framework/images/dashboard/profile.png" alt="Profile Picture"/>
        <h6 class="username">{{item.first_name}} {{item.last_name}}</h6>
        <ul *ngIf="type=='matchedList'">
          <li>
            <span class="glyphicon glyphicon-heart-empty" *ngIf="emailsOfShrortListedCandidates.indexOf(item.email)==-1" (click)="addRemoveToShortList(item)" ></span>
            <span style="height:10px;width:10px;background-color: red" *ngIf="emailsOfShrortListedCandidates.indexOf(item.email)!=-1" (click)="addRemoveToShortList(item)" >Stared</span>
          </li>
        </ul>
        <div class="col-sm-7 col-xs-6 no-padding left-side">
          <p><img src="assets/c-next/card-view/salary.png" alt="Salary"/>$ {{item.salary}}</p>
          <p><img src="assets/c-next/card-view/experience.png" alt="Experience"/>{{item.experience}}</p>
          <p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.location}}</p>
          <!--<p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.education}}</p>-->
          <!--<p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.noticePeriod}}</p>-->
          <p class="proficiencies">
            <img src="assets/c-next/card-view/proficiencies.png" alt="Location"/>
            <span *ngFor="let proficiency of item.proficiencies;let i=index" >
            <span *ngIf="i < 5">{{proficiency}}
              <span *ngIf="i>=0 && i<4 &&  item.proficiencies.length-1 != i ">,&nbsp;</span>
            </span>
          </span>
            <br /><span *ngIf="item.proficiencies.length > 5">( {{item.proficiencies.length-5}} More )</span>
          </p>
          <!--<p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.interestedIndustries}}</p>-->
          <!--<p><img src="assets/c-next/card-view/relocation.png" alt="Location"/><span *ngIf="item.location == 'Yes'">Ready to Relocate</span><span *ngIf="item.location != 'Yes'">Not Ready to Relocate</span></p>-->
        </div>
        <div class="col-sm-5 col-xs-6 no-padding right-side">
          <div class="canvas-container">
            <cn-progress-bar [value]="item.matching" [color]="'#e77e22'" [rotation]="false"></cn-progress-bar>
            <cn-progress-bar [value]="item.matching" [color]="'#e77e22'" [rotation]="true" ></cn-progress-bar>
            <span *ngIf="matchFormat == 'aboveMatch'">{{item.exact_matching + item.above_one_step_matching | number : '1.0-0'}}%</span>
            <span *ngIf="matchFormat == 'belowMatch'">{{item.below_one_step_matching + item.above_one_step_matching + item.exact_matching | number : '1.0-0'}}%</span>
          </div>
          <p>Skills matching</p>
        </div>
        <div class="button-group" *ngIf="type=='matchedList'">
          <div class="col-sm-6 padding-right5">
            <button class="btn btn-cart btn-block" type="button" (click)="viewProfile(item._id)">View</button>
          </div>
          <div class="col-sm-6 padding-left5">
            <button class="btn btn-cart btn-block" type="button"
                    (click)="actionOnQCard('add','matchedList','cartListed',item)">Add To Cart
            </button>
          </div>
        </div>
        <div class="button-group" *ngIf="type=='cartListed'" >
          <div class="col-sm-6 padding-right5">
            <button class="btn btn-cart btn-block" type="button" (click)="viewProfile(item._id)">View</button>
          </div>
          <div class="col-sm-6 padding-left5">
            <button class="btn btn-cart btn-block" type="button"
                    (click)="actionOnQCard('remove','cartListed','cartListed',item)">Remove
            </button>
          </div>
          <div class="col-sm-6 padding-left5">
            <button class="btn btn-cart btn-block" type="button"
                    (click)="actionOnQCard('add','cartListed','rejectedList', item)">Reject
            </button>
          </div>
        </div>
        <div class="button-group" *ngIf="type=='applied'">
          <div class="col-sm-6 padding-right5">
            <button class="btn btn-cart btn-block" type="button" (click)="viewProfile(item._id)">View</button>
          </div>
          <div class="col-sm-6 padding-left5">
            <button class="btn btn-cart btn-block" type="button"
                    (click)="actionOnQCard('add','applied','cartListed',item)">Add To Cart
            </button>
          </div>
        </div>
        <div class="button-group" *ngIf="type=='rejectedList'">
          <div class="col-sm-6 padding-right5">
            <button class="btn btn-cart btn-block" type="button" (click)="viewProfile(item._id)">View</button>
          </div>
          <div class="col-sm-6 padding-left5">
            <button class="btn btn-cart btn-block" type="button"
                    (click)="actionOnQCard('remove','rejectedList','rejectedList',item)">Remove
            </button>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
<div *ngIf="type!='cartListed'"class="modal dashboard-modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12" *ngIf="selectedCandidate != undefined" >
              <div>
                <h5>{{candidateDetails.first_name}}{{candidateDetails.last_name}}</h5>
               <!-- <h5>Contact:{{candidateDetails.mobile_number}}</h5>
                <h5>Email:{{candidateDetails.email}}</h5>-->
                <div *ngIf="selectedCandidate.industry != undefined ">
                <cn-tabular-list-view [roles]="selectedCandidate.industry.roles"></cn-tabular-list-view>
              </div>
              <div class="button-group" >
                <button class="btn btn-primary" (click)="addToCart(selectedCandidate._id)">Add To Cart</button>
                <button class="btn btn-default" (click)="Reject(selectedCandidate._id) ">Reject</button>
              </div>
              <div class="button-group">
                  <button class="btn btn-primary" (click)="closeJob()" >Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="type=='cartListed'" class="modal" [style.display]="getStyleModal()">
  <cn-candidate-view [candidateId]="selectedCandidate._id"></cn-candidate-view>
</div>
