<div class="dashboard-view clearfix"> <!--[hidden]="!isShowQCardView"-->
  <header class="col-sm-12 q-card-header">
    <ul>
      <li>
      </li>
      <li>
      </li>
    </ul>
    <div class="sort-by">
      <div class="form-group">
      <label>Sort by</label>
        <select id="menu" [(ngModel)]="qCardModel.sortValue" (change)="changeSort()" >
          <option value="{{itemList}}" *ngFor="let itemList of qCardModel.listOfMatchings">{{itemList}}</option>
        </select>
      </div>
    </div>
  </header>
  <div class="card-view clearfix">
    <div class="col-sm-4 panel-container"
         *ngFor="let item of candidates ; let i=index;">
      <div class="panel clearfix" (click)="viewProfile(item)">
        <ul>
          <li *ngIf="type=='matchedList'">
            <span class="shortlist-icon" *ngIf="emailsOfShrortListedCandidates.indexOf(item.email)==-1"
                  (click)="addRemoveToShortList(item)" title="Shortlist the candidate"></span>
            <span class="active-shortlist-icon"
                  *ngIf="emailsOfShrortListedCandidates.indexOf(item.email)!=-1"
                  (click)="addRemoveToShortList(item)" title="Remove candidate from shortlisted"></span>
          </li>
          <li *ngIf="type=='cartListed' || type=='rejectedList'">
            <a (click)="actionOnQCard('remove','cartListed','cartListed',item)" *ngIf="type=='cartListed'" title='Remove candidate from "Cart" list'>
              <img src="assets/c-next/card-view/close-grey.png"/></a>
            <a (click)="actionOnQCard('remove','rejectedList','rejectedList',item)" *ngIf="type=='rejectedList'" title='Remove candidate from "Rejected" list'>
              <img src="assets/c-next/card-view/close-grey.png"/></a>
          </li>
        </ul>
        <header class="clearfix">
          <div class="col-md-8 col-sm-7 col-xs-6 no-padding">
            <h6 class="username" title="{{item.first_name}} {{item.last_name}}">
              <img src="assets/framework/images/dashboard/profile.png" class="profile-picture" alt="User Profile"
                   *ngIf="item.picture==undefined" title="{{item.first_name}} {{item.last_name}}"/>
              <img [src]="getImagePath(item.picture)" class="profile-picture" alt="User Profile"
                   *ngIf="item.picture!=undefined" title="{{item.first_name}} {{item.last_name}}"/>
              {{item.first_name}} {{item.last_name}}
            </h6>

          </div>
          <div class="col-md-4 col-sm-5 col-xs-6 no-padding canvas-cricle">
            <div class="canvas-container"
                 title="Matching Percentage : {{item.exact_matching + item.above_one_step_matching | number : '1.0-0'}}%">
              <cn-progress-bar  [value]="item.exact_matching + item.above_one_step_matching" [color]="progress_bar_color" [rotation]="false"></cn-progress-bar>
              <cn-progress-bar [value]="item.exact_matching + item.above_one_step_matching" [color]="progress_bar_color" [rotation]="true"></cn-progress-bar>
              <span >{{item.exact_matching + item.above_one_step_matching | number : '1.0-0'}}%</span>
              <p>Match</p>
            </div>
          </div>
        </header>
        <div class="col-sm-8 no-padding">
          <div class="col-sm-12 details">
            <!--<p class="proficiencies" title="Key Skills">
              <span class="proficiencies-icon"></span>
              <span *ngFor="let proficiency of item.proficiencies;let i=index">
                <span *ngIf="i < 5">{{proficiency}}
                  <span *ngIf="i>=0 && i<4 &&  item.proficiencies.length-1 != i ">,&nbsp;</span>
                </span>
              </span>
              <br/><span *ngIf="item.proficiencies.length > 5">( {{item.proficiencies.length-5}} More )</span>
            </p>-->
            <div class="proficiencies proficiencies-key-skills">
              <span class="proficiencies-icon"></span>
              <div class="skills-lists">
                <b *ngFor="let proficiency of item.proficiencies;let i=index">
                  {{proficiency}}<b *ngIf="i>=0 && i<4 &&  item.proficiencies.length-1 != i ">,&nbsp;</b>
                </b>
                <span *ngIf="item.proficiencies.length == 0">
                    {{getLabel().NONE}}
                </span>
              </div>
              <span class="tooltip-content-new" *ngIf="item.proficiencies.length !== 0">
               <span *ngFor="let proficiency of item.proficiencies;let i=index">
                  {{proficiency}}
                <span *ngIf="i>=0 && i<4 &&  item.proficiencies.length-1 != i ">,&nbsp;</span>
               </span>
              </span>
            </div>
            <div class="icons-section">
              <p class="border-bottom" title="Salary : ₹ {{item.salary}} lakh">
                <span class="salary"></span>
                ₹ {{item.salary}} lakh
              </p>
              <p class="border-bottom" title="Experience : {{item.experience}} years ">
                <span class="experience"></span>
                {{item.experience}}
                <span *ngIf="item.experience == 1">year</span>
                <span *ngIf="item.experience > 1">years</span>
              </p>
              <p title="Current Location : {{item.location}}">
                <span class="current-location"></span>
                {{item.location}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="button-group"
           [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)">
        <!--<div class="col-sm-6 padding-right5">
          <button class="btn btn-cart btn-block" type="button" >View</button>
        </div>-->
        <div class="col-sm-12 text-right">
            <cn-recruiter-action *ngIf="!candidates.isVisible"
                                 [candidate]="item"
                                 [jobId]="jobId"
                                 [type]="type"
                                 [isValuePortraitView]="false">
            </cn-recruiter-action>
            <!--<button *ngIf="!candidates.isVisible" class="btn btn-cart" type="button" [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)"
                    (click)="viewProfile(item)" [innerHTML]="getButtons().MATCH_AGAINST_THIS_JOB">
            </button>
            <button *ngIf="!candidates.isVisible" class="btn btn-cart" type="button" [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)"
                    (click)="navigateToApplicantSearch('/recruiter/search', item)" [innerHTML]="getButtons().MATCH_AGAINST_ALL_JOB">
            </button>
            <button *ngIf="!candidates.isVisible" class="btn btn-cart" type="button" [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)"
                    (click)="navigateWithId('/value-portrait', item)" [innerHTML]="getButtons().SHOW_VALUE_PORTRAIT">
            </button>
            <button *ngIf="!candidates.isVisible" class="btn btn-cart" type="button" [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)"
                    (click)="addForCompareView(item,type)" [innerHTML]="getButtons().COMPARE_WITH_OTHERS">
            </button>
            <button *ngIf="type !='rejectedList'" class="btn btn-cart" type="button" [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)"
                    (click)="actionOnQCard('add','applied','rejectedList', item)">Reject
            </button>-->
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="type!='cartListed'" class="modal dashboard-modal recruiter-modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <cn-job-compare-view [typeOfView]="'compact'" (close)="closeJob()" [candiadteId]="selectedCandidate._id" [jobId]="jobId"></cn-job-compare-view>
          <div class="button-group" *ngIf="type=='applied' || type=='matchedList'|| type=='rejectedList'">
           <!-- <button class="btn btn-primary" [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)" (click)="actionOnQCard('add','applied','cartListed',modelCandidate)">Add To
              Cart
            </button>
            <button class="btn btn-danger" [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)" (click)="actionOnQCard('add','applied','rejectedList', modelCandidate)">
              Reject
            </button>-->
            <div class="action-button"
                 [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)">
                <cn-recruiter-action
                        [candidate]="modelCandidate"
                        [isOverlayView]="true" [jobId]="jobId"
                        [type]="type"
                        [isValuePortraitView]="false">
                </cn-recruiter-action>
            </div>
          </div>
          <!--<div class="button-group" *ngIf="type=='matchedList'">
            <button  class="btn btn-primary" type="button"
                     [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)" (click)="actionOnQCard('add','matchedList','cartListed',modelCandidate)">Add To Cart
            </button>
            <button class="btn btn-danger" [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)" (click)="actionOnQCard('add','matchedList','rejectedList', modelCandidate)">
              Reject
            </button>
          </div>-->

        </div>
      </div>
    </div>
  </div>

</div>

<div  *ngIf="type=='cartListed'" class="modal dashboard-modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="compare-modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <cn-job-compare-view [typeOfView]="'spa_candidate'" (close)="closeJob()" [candiadteId]="selectedCandidate._id" [jobId]="jobId"></cn-job-compare-view>

          <!--
          <div class="modal-header">
            <h4>Profile Description</h4>
            <img src="/assets/c-next/card-view/close-white.png" (click)="closeJob()" class="close"/>
          </div>
          <div class="row">
            <cn-job-compare-view [typeOfView]="'spa_candidate'" (close)="closeJob()" [candiadteId]="selectedCandidate._id" [jobId]="jobId"></cn-job-compare-view>
          </div>
-->
          <div class="button-group" >
              <div class="action-button"
                   [class.hidden]="(isJobPostExpired || isJobPostClosed) || (isJobPostExpired && isJobPostClosed)">
              <cn-recruiter-action
                      [candidate]="modelCandidate"
                      [isOverlayView]="true" [jobId]="jobId"
                      [type]="type"
                      [isValuePortraitView]="false">
              </cn-recruiter-action>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="isShowPrintView && type=='cartListed'">
  <div class="row capability-complexity">
    <ul class="legends">
      <li ><span class="legend-icon legend-above"></span>Candidate capabilities higher than desired</li>
      <li ><span class="legend-icon legend-exact"></span>Candidate capabilities with exact match</li>
      <li ><span class="legend-icon legend-below"></span>Candidate capabilities slightly less than desired</li>
      <li ><span class="legend-icon legend-missing"></span>Large mismatch of capabilities</li>
    </ul>
  </div>
  <cn-job-compare-view [jobCompareIdForPrint]="'print-job-compare-view'" [typeOfView]="'spa_candidate'" (close)="closeJob()" [candiadteId]="selectedCandidate._id" [jobId]="jobId"></cn-job-compare-view>
</div>
