<div class="dashboard-view clearfix"> <!--[hidden]="!isShowQCardView"-->
  <header class="col-sm-12 q-card-header">
    <ul>
      <li>
        <!--<div class="match-cases" *ngIf="type=='matchedList'">
          <label class="radio-inline">
            <input type="radio" name="radiogroup" value="{{match.aboveMatch}}" (click)="matching($event.target.value)"
                   checked="checked">
            <span>Exact Match or Higher Capabilities</span>
          </label>
          <label class="radio-inline">
            <input type="radio" name="radiogroup" value="{{match.belowMatch}}" (click)="matching($event.target.value)">
            <span>With One Level Lower Capabilities</span>
          </label>
        </div>-->
      </li>
      <!--<li>
        <p>Showing {{qCardCount.count}} out of {{totalQCardMatches.count}}</p>
      </li>-->
      <li>
        <!--<a class="clear-filter recruiter-clear-filter" (click)="clearFilter()">Clear all filters</a>-->
      </li>
    </ul>
    <div class="sort-by">
      <div class="form-group">
        <label>Sort by</label>
        <select id="menu" [(ngModel)]="qCardModel.sortValue" (change)="changeSort()" >
          <option value="{{itemList}}" *ngFor="let itemList of qCardModel.listOfMatchings">{{itemList}}</option>
        </select>
      </div>
    </div>
  </header>

  <div class="card-view clearfix">
    <!--<div class="col-sm-4" *ngFor= "let item of candidates">&lt;!&ndash;| candidatematching: matchFormat&ndash;&gt;-->
    <div class="col-sm-4 panel-container"
         *ngFor="let item of candidates | qcardmatching: matchFormat: totalQCardMatches :type | qcardlistfilter:filterMeta:qCardCount | qcardlistsort:[qCardModel.sortValue,matchFormat];let i=index;">
      <!--<span class="compare-candidate-icon" (click)="addForCompareView(item._id)"
            title="Compare the Candidates"></span>-->
      <div class="panel clearfix" (click)="viewProfile(item)">
        <ul>
          <li *ngIf="type=='matchedList'">
            <span class="glyphicon glyphicon-star" *ngIf="emailsOfShrortListedCandidates.indexOf(item.email)==-1"
                  (click)="addRemoveToShortList(item)" title="Shortlist the candidate"></span>
            <span class="glyphicon glyphicon-star active-star"
                  *ngIf="emailsOfShrortListedCandidates.indexOf(item.email)!=-1"
                  (click)="addRemoveToShortList(item)" title="Remove candidate from shortlisted"></span>
          </li>
          <li *ngIf="type=='cartListed' || type=='rejectedList'">
            <a (click)="actionOnQCard('remove','cartListed','cartListed',item)" *ngIf="type=='cartListed'" title='Remove candidate from "Cart" list'>
              <img src="assets/c-next/card-view/close-grey.png"/></a>
            <a (click)="actionOnQCard('remove','rejectedList','rejectedList',item)" *ngIf="type=='rejectedList'" title='Remove candidate from "Rejected" list'>
              <img src="assets/c-next/card-view/close-grey.png"/></a>
          </li>
        </ul>
        <header class="clearfix">
          <div class="col-md-8 col-sm-7 col-xs-6 no-padding">
            <h6 class="username" title="{{item.first_name}} {{item.last_name}}">
              <img src="assets/framework/images/dashboard/profile.png" class="profile-picture" alt="User Profile"
                   *ngIf="item.picture==undefined" title="{{item.first_name}} {{item.last_name}}"/>
              <img [src]="getImagePath(item.picture)" class="profile-picture" alt="User Profile"
                   *ngIf="item.picture!=undefined" title="{{item.first_name}} {{item.last_name}}"/>
              {{item.first_name}} {{item.last_name}}
            </h6>

          </div>
          <div class="col-md-4 col-sm-5 col-xs-6 no-padding canvas-cricle">
            <div class="canvas-container"
                 title="Matching Percentage : {{item.exact_matching + item.above_one_step_matching | number : '1.0-0'}}%">
              <cn-progress-bar  [value]="item.exact_matching + item.above_one_step_matching" [color]="progress_bar_color" [rotation]="false"></cn-progress-bar>
              <cn-progress-bar [value]="item.exact_matching + item.above_one_step_matching" [color]="progress_bar_color" [rotation]="true"></cn-progress-bar>
              <span >{{item.exact_matching + item.above_one_step_matching | number : '1.0-0'}}%</span>
              <p>Match</p>
            </div>
          </div>
        </header>
        <div class="col-sm-8 no-padding">
          <div class="col-sm-12 details">
            <!--<p class="proficiencies" title="Key Skills">
              <span class="proficiencies-icon"></span>
              <span *ngFor="let proficiency of item.proficiencies;let i=index">
                <span *ngIf="i < 5">{{proficiency}}
                  <span *ngIf="i>=0 && i<4 &&  item.proficiencies.length-1 != i ">,&nbsp;</span>
                </span>
              </span>
              <br/><span *ngIf="item.proficiencies.length > 5">( {{item.proficiencies.length-5}} More )</span>
            </p>-->
            <div class="proficiencies proficiencies-key-skills" title="Key Skills">
              <span class="proficiencies-icon"></span>
              <div class="skills-lists">
                <b *ngFor="let proficiency of item.proficiencies;let i=index">
                  {{proficiency}}<b *ngIf="i>=0 && i<4 &&  item.proficiencies.length-1 != i ">,&nbsp;</b>
                </b>
              </div>
              <span class="tooltip-content-new">
               <span *ngFor="let proficiency of item.proficiencies;let i=index">
                  {{proficiency}}
               <span *ngIf="i>=0 && i<4 &&  item.proficiencies.length-1 != i ">,&nbsp;</span>
              </span>
              </span>
            </div>
            <div class="icons-section">
              <p class="border-bottom" title="Salary : ₹ {{item.salary}}">
                <span class="salary"></span>
                ₹ {{item.salary}}
              </p>
              <p class="border-bottom" title="Experience : {{item.experience}}">
                <span class="experience"></span>
                {{item.experience}}
              </p>
              <p title="Current Location : {{item.location}}">
                <span class="current-location"></span>
                {{item.location}}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="button-group" *ngIf="type=='matchedList'">
        <!--<div class="col-sm-6 padding-right5">
          <button class="btn btn-cart btn-block" type="button" >View</button>
        </div>-->
        <div class="col-sm-12 text-right">
          <button class="btn btn-cart" type="button"
                  (click)="actionOnQCard('add','matchedList','cartListed',item)">Add To Cart
          </button>
          <button class="btn btn-cart" type="button"
                  (click)="addForCompareView(item,type)">Compare
          </button>
        </div>
      </div>
      <div class="button-group" *ngIf="type=='cartListed'">
        <!-- <div class="col-sm-12 no-padding">
           <button class="btn btn-cart btn-block" type="button" (click)="viewProfile(item)">View</button>
         </div>-->
        <div class="col-sm-12 text-right">
          <button class="btn btn-cart" type="button"
                  (click)="addForCompareView(item,type)">Compare
          </button>
        </div>
      </div>
      <div class="button-group" *ngIf="type=='applied'">
        <!--<div class="col-sm-6 padding-right5">
          <button class="btn btn-cart btn-block" type="button" (click)="viewProfile(item)">View</button>
        </div>-->
        <div class="col-sm-12 text-right">
          <button class="btn btn-cart" type="button"
                  (click)="actionOnQCard('add','applied','cartListed',item)">Add To Cart
          </button>
          <button class="btn btn-cart" type="button"
                  (click)="addForCompareView(item,type)">Compare
          </button>
        </div>
      </div>
      <div class="button-group" *ngIf="type=='rejectedList'">
        <!-- <div class="col-sm-12 no-padding">
           <button class="btn btn-cart btn-block" type="button" (click)="viewProfile(item)">View</button>
         </div>-->
        <div class="col-sm-12 text-right">
          <button class="btn btn-cart" type="button"
                  (click)="addForCompareView(item,type)">Compare
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="type!='cartListed'" class="modal dashboard-modal recruiter-modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <cn-job-compare-view [typeOfView]="'compact'" (close)="closeJob()" [candiadteId]="selectedCandidate._id" [jobId]="jobId"></cn-job-compare-view>
          <!--<div class="common-footer">
            <tpl-footer></tpl-footer>
          </div>-->
          <!--<div class="modal-header">
            <img src="assets/framework/images/dashboard/profile.png" class="profile-picture" alt="User Profile"
                 *ngIf="candidateDetails.picture==undefined"/>
            <img [src]="getImagePath(candidateDetails.picture)" class="profile-picture" alt="User Profile"
                 *ngIf="candidateDetails.picture!=undefined"/>
            <h5>{{candidateDetails.first_name}} {{candidateDetails.last_name}}</h5>
            <img src="/assets/c-next/card-view/close-white.png" (click)="closeJob()" class="close"/>
          </div>-->
<!--          <div class="col-sm-12 no-padding" *ngIf="selectedCandidate != undefined">
            <div>
              &lt;!&ndash; <h5>Contact:{{candidateDetails.mobile_number}}</h5>
               <h5>Email:{{candidateDetails.email}}</h5>&ndash;&gt;
              &lt;!&ndash;<div *ngIf="selectedCandidate.industry != undefined ">
              <cn-tabular-list-view [roles]="selectedCandidate.industry.roles"></cn-tabular-list-view>
            </div>&ndash;&gt;
              <cn-job-compare-view [typeOfView]="'compact'" [candiadteId]="selectedCandidate._id" [jobId]="jobId"></cn-job-compare-view>
            </div>
          </div>-->
          <div class="button-group" *ngIf="type=='applied'">
            <button class="btn btn-primary" (click)="actionOnQCard('add','applied','cartListed',modelCandidate)">Add To
              Cart
            </button>
            <button class="btn btn-danger" (click)="actionOnQCard('add','applied','rejectedList', modelCandidate)">
              Reject
            </button>
          </div>
          <div class="button-group" *ngIf="type=='matchedList'">
            <button class="btn btn-primary" type="button"
                    (click)="actionOnQCard('add','matchedList','cartListed',modelCandidate)">Add To Cart
            </button>
            <button class="btn btn-danger" (click)="actionOnQCard('add','matchedList','rejectedList', modelCandidate)">
              Reject
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="type=='cartListed'" class="modal dashboard-modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="compare-modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <cn-job-compare-view [typeOfView]="'spa_candidate'" (close)="closeJob()" [candiadteId]="selectedCandidate._id" [jobId]="jobId"></cn-job-compare-view>

          <!--
          <div class="modal-header">
            <h4>Profile Description</h4>
            <img src="/assets/c-next/card-view/close-white.png" (click)="closeJob()" class="close"/>
          </div>
          <div class="row">
            <cn-job-compare-view [typeOfView]="'spa_candidate'" (close)="closeJob()" [candiadteId]="selectedCandidate._id" [jobId]="jobId"></cn-job-compare-view>
          </div>
-->
          <div class="button-group">
            <button class="btn btn-danger" (click)="actionOnQCard('add','cartListed','rejectedList', modelCandidate)">
              Reject
            </button>

          </div>

        </div>
      </div>
      <!--<div class="common-footer">
        <tpl-footer></tpl-footer>
      </div>-->
    </div>
  </div>
</div>

