@import '../../../../../css/variables';

.card-view {
  margin-top: 70px;

  .panel {
    padding: 0;
    border: 0;
  }

  .border-bottom {
    border-bottom: 1px solid $border-color;
  }

  .details {
    padding: 0 10px;
  }
}

header {
  ul {
    padding: 0;
    margin: 5px;
    list-style: none;
    float: left;

    li:nth-child(2) {
      margin-top: 5px;
    }
    li:nth-child(3) {
      margin-top: 5px;
    }
  }

  .sort-by,
  .search {
    float: right;
    margin-left: 15px;
    margin-top: 3px;
  }
}

.recruiter-modal {
  .modal-header {
    left: 0;
  }
}

.details {
  .col-sm-6,
  .col-sm-12 {
    padding: 10px;
  }
}

.skills-lists {
  width: 245px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 27px;
}

.proficiencies-key-skills > .tooltip-content-new {
  display: inline-block;
  background-color: $light-gray;
  border-radius: 4px;
  box-shadow: 3px 3px 15px 1px $gray;
  opacity: 0;
  padding: 10px;
  position: absolute;
  transition: all .1s linear;
  width: 230px;
  z-index: 99;
  margin-top: 9px;
  left: 0;
  visibility: hidden;
  border-left: 1px solid $white;
  span {
    color: $black1;
  }
}

.proficiencies-key-skills:hover > .tooltip-content-new {
  opacity: 0;
  visibility: hidden;
}

.proficiencies-key-skills .tooltip-content-new:after {
  content: "";
  border-bottom: 10px solid $light-gray;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  /*bottom:-10px;*/
  top: -10px;
  margin-left: -10px;
  right: 70px;
}

.hidden {
  display: none;
}

.star-icon {
  height: 16px;
  position: absolute;
  right: 0;
  width: 16px;
  z-index: 9999;
}

.active-shortlist-icon {
  background: url(../../assets/c-next/card-view/sprite.png) no-repeat -87px -790px;
  @extend .star-icon;
  visibility: hidden;
}

.shortlist-icon {
  background: url(../../assets/c-next/card-view/sprite.png) no-repeat -60px -790px;
  @extend .star-icon;
  visibility: hidden;
}
