.modal {

  .modal-dialog {
    width: 80%;
    height: 80%;
    top: 50%;
    -webkit-transform: translate(0, -50%) !important;
    transform: translate(-50%, -50%) !important;
    border-radius: 8px;
    position: fixed;
    margin: 0 auto;
    left: 50%;
  }

  .modal-body {
    padding: 0;
    border-radius: 8px;
    position: relative;
  }

  .modal-header {
    position: fixed;
    top: 0;
    left: 0;
    background: #f2f2f2;
    z-index: 100;
    right: 0;
    margin: 0 15px;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    padding: 5px 15px;

    h4 {
      margin: 0;
      padding: 5px 15px;
      text-align: left;
      font-size: 16px;
    }

    .close {
      position: absolute;
      right: 11px;
      top: 14px;
      opacity: 1;
      width: 13px;
    }
  }

  .modal-content {
    height: 100%;
    overflow: auto;
    border-radius: 8px;
  }

  .button-group {
    display: block;
    position: fixed;
    bottom: -8px;
    right: 0;
    background: #f2f2f2;
    z-index: 100;
    margin: 0 15px;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
    padding: 5px 15px;
    width: auto;
    text-align: right;

    button {
      display: inline-block;
    }

    button:nth-child(1){
      background: #3694d1;
      border-radius: 0;
    }
  }

}

.card-view {
  .panel {
    padding: 35px 0 15px 15px;
  }
}

header{
  ul{
    padding: 0;
    margin: 5px;
    list-style: none;
    float: left;

    li:nth-child(2){
      margin-top: 5px;
    }
    li:nth-child(3){
      margin-top: 5px;
    }
  }

  .sort-by, .search {
    float: right;
    margin-left: 15px;
  }

  .match-cases{
    background: #edf4f7;
    padding: 5px;
    padding-left: 0;
    label{
      position: relative;
      z-index: 2;
      color: black;
    }

    input{
      display: none;
    }

    input:checked + span{
      background-color: #a5d6f7;
      border: 8px solid #a5d6f7;
      box-shadow: 0 0 4px 0 #a5d6f7 inset, 0 0 1px 0 #a5d6f7;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      left: 2px;
      top: -4px;
      display: inline-block;
      padding: 5px;
    }
  }
}
