<header class="page-header">
  <div class="cn-logo" (click)="onHomePage()">
    <img src="{{getImagePath().MOBILE_WHITE_LOGO}}"/>
  </div>
  <nav *ngIf="!(MainHeaderMenuHideShow == 'hiringManger')">
    <ul>
     <!-- <li *ngIf="!(MainHeaderMenuHideShow == 'signin')"><a (click)="onLogin()">Sign In</a></li>-->
      <li *ngIf="!(MainHeaderMenuHideShow == 'applicant')">Don't Have account? <a (click)="onSignUp()">Signup Here</a></li>
    </ul>
  </nav>
  <span class="glyphicon glyphicon-log-out" (click)="onHomePage()" *ngIf="MainHeaderMenuHideShow === 'hiringManger'"></span>
</header>
