.error-messages {
  color: #f66761;
  font-size: 10px;
  font-style: italic;
  margin: 0;
  position: absolute;
  line-height: 11px;
  margin-top: -10px;
}

.form-control {
  border-radius: 0;
  height: 100px;
  margin: 0 0 15px 0;
  resize: none;
  width: 100%;
}

.description {
  padding: 15px;
}

@media only screen and (max-width: 767px) {
  .description {
    margin-bottom: 15px;
    display: block;
    float: left;
    width: 100%;
  }
}
