<div class="dashboard-view clearfix">

  <header class="col-sm-12">
    <div class="sort-by">
      <label>Sort by</label>
      <select [(ngModel)]="qCardModel.name" (change)="sortBy()">
        <option value="Date">Date</option>
      </select>
    </div>
  </header>

  <div class="col-sm-12 list-view" *ngIf="jobListInput.length > 0">
    <div class="panel clearfix" *ngFor="let item of jobListInput | orderBy:format">
      <div class="col-sm-6 no-padding job-posted clearfix">
        <div class="col-xs-2 no-padding">
          <p><span>52</span></p>Matches
        </div>
        <div class="col-xs-10 padding-left15">
          <h4>{{item.jobTitle}}</h4>
          <p>{{item.department}}</p>
        </div>
      </div>
      <div class="col-sm-6 contact-info">
        <div class="col-xs-6 no-padding">
          <p><img src="../../../../assets/c-next/post-job/calendar.png" alt="calendar"/>{{item.postingDate | date:'shortDate'}}</p>
        </div>
        <div  class="col-xs-6 no-padding">
          <p><img src="../../../../assets/c-next/post-job/contact-person.png" alt="Hiring Manager"/>{{item.hiringManager}}</p>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="jobListInput.length == 0">You havn't posted any job yet</div>
</div>

