<label>Sort by</label>
<select [(ngModel)]="qCardModel.name" (change)="sortBy()">
  <option value="Date">Date</option>
</select>
<div *ngIf="jobListInput.length > 0">
  <div *ngFor="let item of jobList | orderBy:format">
    <span>JobTitle : {{item.jobTitle}}</span>
    <span>Department : {{item.department}}</span>
    <span>Posting date : {{item.postingDate | date:'shortDate'}} </span>
    <span>Hiring Manager : {{item.hiringManager}}</span>
  </div>
</div>
<div *ngIf="jobListInput.length == 0">You havn't posted any job yet</div>

