<div class="dashboard-view clearfix">

  <header class="col-sm-12">
    <!--<div class="sort-by">
      <label>Sort by</label>
      <select [(ngModel)]="qCardModel.name" (change)="sortBy()">
        <option value="Date">Date</option>
      </select>
    </div>-->
    <div class="search">
      <input class="form-control" type="text" />
      <button class="btn btn-search" type="button"><img src="./assets/framework/images/dashboard/search.png"></button>
    </div>
  </header>

  <div class="list-view" *ngIf="jobListInput.length > 0">
    <div class="col-md-3" *ngFor="let item of jobListInput | orderBy:format;let i = index" (click)="onJobClikecd(item)">
      <div class="panel clearfix">
        <span class="glyphicon glyphicon-trash"></span>
        <div class="job-posted clearfix">
          <div class="col-xs-2 no-padding">
            <p><span>{{item.candidateInCart}}</span></p>
          </div>
          <div class="col-xs-10 padding-left15">
            <h4>{{item.jobTitle}}</h4>
            <span>{{item.department}}</span>
          </div>
          <div class="contact-info clearfix">
            <div class="col-sm-12 no-padding">
              <div class="col-xs-2 no-padding">
                <img src="../../../../assets/c-next/post-job/calendar.png" alt="calendar"/>
              </div>
              <div class="col-xs-10 padding-left15">
                <p>{{item.postingDate | date:'mediumDate'}}</p>
              </div>
            </div>
            <div class="col-sm-12 no-padding">
              <div class="col-xs-2 no-padding">
                <img src="../../../../assets/c-next/post-job/contact-person.png" alt="Hiring Manager"/>
              </div>
              <div class="col-xs-10 padding-left15">
                <p>{{item.hiringManager}}</p>
              </div>
            </div>
          </div>
          <!--<div class="button-group">
            <button class="btn btn-primary">Post Job</button>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 text-center" *ngIf="jobListInput.length == 0">You havn't posted any job yet</div>
</div>

