@import '../../../../css/common';

$purple: #7264b5;
$highlight: #596c7d;
$white: #fff;
$text-color: #999;

.dashboard-view {
  text-align: left;

  .list-view {
    color: $text-color;

    .panel {
      padding: 5px 10px;
      cursor: pointer;
    }

    p {
      padding: 0;
      color: $text-color;
      @extend %text-ellipsis;
    }

    .job-posted > .col-xs-2 {
      font-size: 10px;
      text-align: center;

      p {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: $purple;
        color: $white;
        position: relative;
        margin: 0 auto 5px auto;
      }

      span {
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h4 {
      font-size: 20px;
      margin: 14px 0 0 0;
      color: $highlight;
      @extend %text-ellipsis;
    }

    .contact-info > .col-xs-6 {
      p {
        margin-top: 25px;
      }

      p > img {
        font-size: 20px;
        margin-right: 10px;
        position: relative;
        top: 0;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .dashboard-view {
    .list-view {
      p {
        font-size: 12px;
      }

      h4 {
        font-size: 16px;
        margin: 0;
      }

      .job-posted {
        margin-bottom: 10px;
      }

      .contact-info {
        padding: 0;
        clear: both;
      }

      .contact-info > .col-xs-6 {
        p {
          margin-top: 5px;
        }
      }
    }
  }
}