<cn-value-portrait-header [candidate]="candidate"></cn-value-portrait-header>
<cn-candidate-info-block [candidate]="candidate"></cn-candidate-info-block>
<cn-candidate-capability-portrait [candidate]="candidate"></cn-candidate-capability-portrait>

<div class="col-xs-12 no-padding value-portraot-bottom-section">
  <div class="col-lg-4 value-portraot-candidate-industry">
    <span class="icon"> </span>
    <label>
      Additional Industry Exposure
    </label>
    <span>
      {{candidate.interestedIndustries}}
    </span>
  </div>
  <div class="col-lg-4 value-portraot-candidate-keyskills">
    <span class="icon"> </span>
    <label>
      Key Skills
    </label>
    <span>
      <b *ngFor="let proficiency of candidate.proficiencies">{{proficiency}}</b>
    </span>
  </div>
  <div class="col-lg-4">
    <div class="avout-myself-btn">
      About Myself
      <div class="tooltip-content3">
        {{candidate.aboutMyself}}
      </div>
    </div>

  </div>
</div>

