@import '../../../../../css/variables';

.value-portrait-bottom-section {
  background: $white;
  padding: 0;
  .value-portrait-candidate-industry {
    padding-top: 10px;
    .icon {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -42px -472px;
      float: left;
      height: 34px;
      width: 50px;
    }
    label {
      color: $black1;
      float: left;
      font-family: 'gothamrnd-book';
      font-weight: bold;
      margin: 7px 5px 25px 0;
    }
    span {
      float: left;
      padding-top: 8px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 265px);
      white-space: nowrap;
    }
  }

  .value-portrait-candidate-keyskills {
    padding-top: 10px;
    .icon {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -91px -472px;
      float: left;
      height: 34px;
      width: 50px;
    }
    label {
      color: $black1;
      float: left;
      font-family: 'gothamrnd-book';
      font-size: 16px;
      font-weight: bold;
      font-size: 16px;
      margin: 8px 5px 25px 0;
    }
    span {
      float: left;
      font-size: 16px;
      padding-top: 8px;
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 150px);
      white-space: nowrap;
    }
  }
}

.about-myself-btn {
  border-radius: 7px;
  border: 3px solid $portrait-theme;
  box-shadow: 0 0 4px 2px rgba(125, 125, 125, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
  margin: 0 10px;
  padding: 10px;
  width: 200px;
}

.about-myself-btn > .tooltip-content3 {
  color: $portrait-theme;
  opacity: 0;
  display: inline-block;
  position: absolute;
  width: 600px;
  margin-left: -148px;
  max-height: 200px;
  overflow: auto;
  bottom: 69px;
  background-color: $white;
  padding: 10px;
  transition: all .1s linear;
  box-shadow: 3px 3px 15px 1px $gray;
  border-radius: 4px;
  visibility: hidden;
  right: 10px;
  text-align: left;
  z-index: 9;
}

.about-myself-btn:hover > .tooltip-content3 {
  opacity: 1;
  visibility: visible;
}

.hover-down-arrow {
  content: "";
  border-top: 10px solid $white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 59px;
  display: none;
  left: 49%;
  margin-top: -47px;
  position: absolute;
  z-index: 9;
}

.hover-block > .tooltip-content4,
.hover-block > .domain-exposure-tooltip-content{
  color: $theme-color;
  opacity: 0;
  display: inline-block;
  position: absolute;
  width: 370px;
  max-height: 140px;
  margin-left: -148px;
  overflow: auto;
  bottom: 69px;
  background-color: $white;
  padding: 10px;
  transition: all .1s linear;
  box-shadow: 3px 3px 15px 1px $gray;
  border-radius: 4px;
  visibility: hidden;
  right: 10px;
  text-align: left;
  z-index: 9;
  b {
    float: left;
  }
}

.hover-block:hover > .tooltip-content4,
.hover-block:hover > .domain-exposure-tooltip-content{
  opacity: 1;
  visibility: visible;
}

.hover-block:hover,
.hover-block > .domain-exposure-tooltip-content {
  .hover-down-arrow {
    display: block;
  }
}
.about-myself-btn:hover{
  .hover-down-arrow {
    display: block;
    left: 29%;
  }
}

.domain-exposure-tooltip-content:after {
  content: "";
  border-top: 10px solid $white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: fixed;
  margin-left: 120px;
  margin-top: 30px;
}

.user-info-black,
.user-bottom-section {
  display: none;
}

.remark {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

@media only screen and (max-width: 768px) {

  .value-portrait-bottom-section {
    background: $value-portrait-bg;
    padding: 0;
    color: $black;
    .tooltip-content3,
    .tooltip-content4,
    .domain-exposure-tooltip-content{
      background: transparent;
      &:after {
        display: none;
      }
      b {
        color: $black;
      }
    }
  }

  .value-portrait-tabs {
    background: $white;
  }
  .user-bottom-section {
    background: $white;
    padding: 7px 0 7px 15px;
    .info-block-tabs {
      display: inline-block;
      text-align: left;
      margin: 0 0 10px;
      width: 100%;
      span {
        color: $black1;
        float: left;
        font-size: 16px;
        font-family: 'gothamrnd-book';
        font-weight: bold;
        margin: 7px 5px 0 0;
        width: 100%;
      }
    }
  }
  .about-myself-btn > .tooltip-content3 {
    background: transparent;
    color: $black;
  }
  .value-portrait-candidate-industry,
  .value-portrait-candidate-keyskills {
    span {
      display: none;
    }
    label {
      margin: 7px 5px 0 0 !important;
      font-size: 16px;
    }
    .tooltip-content4,
    .domain-exposure-tooltip-content{
      opacity: 0.9;
      visibility: visible;
      box-shadow: 0 0 0 transparent;
      padding: 0;
      width: 100%;
      margin: 0;
      right: inherit;
      top: inherit;
      position: inherit;
      &:after {
        display: none;
      }
    }
  }
  .about-myself-btn {
    box-shadow: 0 0 0 transparent;
    border: 0;
    text-align: left;
    float: left;
    margin: 10px 0;
    color: $black1;
    padding: 0;
    font-family: 'gothamrnd-book';
    width: 100%;
    label {
      font-size: 16px;
      padding-top: 10px;
    }
    .tooltip-content3 {
      opacity: 0.9;
      visibility: visible;
      box-shadow: 0 0 0 transparent;
      padding: 0;
      width: 100%;
      margin: 0;
      right: inherit;
      top: inherit;
      position: inherit;
      display: block;
    }
  }
  .user-bottom-section {
    display: block;
  }
  .user-info-black {
    display: block;
    background: $value-portrait-bg;
    padding: 15px;
    width: 100%;
    .info-block-tabs {
      display: inline-block;
      text-align: left;
      margin: 0 0 10px;
      width: 100%;
      span {
        color: $black1;
        float: left;
        font-size: 16px;
        font-family: 'gothamrnd-book';
        font-weight: bold;
        margin: 7px 5px 0 0;
        width: 100%;
      }
    }
  }

  .remark {
    white-space: normal;
  }
}
