<div *ngIf="isCandidate">
<div class="guided-tour-section guided-tour-overlay value-portrait-tour-section" *ngIf="guidedTourStatus?.indexOf(valuePortraitImgName) == -1">
    <img src={{valuePortraitImgName}} alt="Profile Picture">
    <div class="guided-tour-overlay-bg">
      <div class="got-it-btn" (click)="tourGuideGotIt()">
        <span>{{getHeadings().GOT_IT}}</span>
      </div>
    </div>
</div>

<div class="guided-tour-description value-portrait-tour" *ngIf="guidedTourStatus?.indexOf(valuePortraitImgName) == -1">
    <div class="value-portrait-social-guided-tour">
      <p>
        {{getMessage().GUIDED_TOUR_VALUE_PORTRAIT_GO_TO_DASHBOARD}}
      </p>
      <span class="up-arrow"></span>
    </div>
</div>
<div class="guided-tour-description value-portrait-tour" *ngIf="guidedTourStatus?.indexOf(valuePortraitImgName) == -1">
    <div class="value-portrait-proceed-to-dashboard-guided-tour">
      <p>
  {{getMessage().GUIDED_TOUR_VALUE_PORTRAIT_MWSSAGE}}
      </p>
      <span class="up-arrow"></span>
    </div>
</div>
</div>
<cn-value-portrait-header [candidate]="candidate"></cn-value-portrait-header>
<cn-candidate-info-block [candidate]="candidate"
                         class="visible-lg visible-md hidden-sm hidden-xs"></cn-candidate-info-block>
<!--<cn-candidate-capability-portrait [candidate]="candidate"
                                  class="hidden-xs"></cn-candidate-capability-portrait>-->

<div class="value-portrait-tabs">
  <div class="tab-content clearfix">
    <div class="tab-pane active" id="core-capabilities-tabs">
      <cn-candidate-capability-portrait [candidate]="candidate" class="">
      </cn-candidate-capability-portrait>
    </div>
  </div>
</div>

<div class="user-info-black">
  <div class="current-location-tabs info-block-tabs">
    <span id="currentlocation"> Current Location </span>
    <div class="" role="currentlocation" aria-labelledby="currentlocation">
      {{candidate.location.city}}
    </div>
  </div>
  <div class="experience-level-tabs info-block-tabs">
    <span id="experience" data-toggle="dropdown"> Experience Level </span>
    <div class="" role="experience" aria-labelledby="experience">
      {{candidate.professionalDetails.experience}}
    </div>
  </div>
  <div class="education-tabs info-block-tabs">
    <span id="education"> Education </span>
    <div class="" role="education" aria-labelledby="education">
      <div *ngFor="let academic of candidate.academics" class="line-block">
        <b>{{academic.yearOfPassing}}</b>
        <b><label><strong>{{academic.specialization}}</strong></label> | <label>{{academic.board}}</label></b>
        <b class="remark">{{academic.schoolName}}</b>
      </div>
      <div *ngIf="candidate.academics.length == 0" class="line-block">
        Not Available
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 no-padding user-bottom-section">
  <div class="employment-tabs info-block-tabs">
    <span id="employment"> Employment </span>
    <div class="" role="employment" aria-labelledby="employment">
      <div *ngFor="let history of candidate.employmentHistory" class="line-block">
        <b *ngIf="history.isPresentlyWorking!=true">{{history.from.year}} - {{history.to.year}}</b> //To do lucky-add if
        else instead of using two ngIf
        <b *ngIf="history.isPresentlyWorking===true">{{history.from.year}} - {{getMessages().MSG_PRESENTLY_WORKING}}</b>
        <b><label><strong>{{history.designation}}</strong></label> | <label>{{history.companyName}}</label></b>
        <b class="remark">{{history.remarks}}</b>
      </div>
      <div *ngIf="candidate.employmentHistory.length == 0" class="line-block">
        Not Available
      </div>
    </div>
  </div>

  <div class="certification-tabs info-block-tabs">
    <span id="certification"> Certification </span>
    <div class="" role="certification" aria-labelledby="certification">
      <div *ngFor="let certification of candidate.certifications" class="line-block">
        <b>{{certification.year}}</b>
        <b><label><strong>{{certification.name}}</strong></label> | {{certification.issuedBy}} </b>
        <b *ngIf="certification.code!=''">, ({{certification.code}}) </b>
        <b class="remark">{{certification.remark}}</b>
      </div>
      <div *ngIf="candidate.certifications.length == 0" class="line-block">
        Not Available
      </div>
    </div>
  </div>

  <div class="awards-tabs info-block-tabs">
    <span id="awards"> Awards </span>
    <div class="" role="awards" aria-labelledby="awards">
      <div *ngFor="let award of candidate.awards" class="line-block">
        <b>{{award.year}}</b>
        <b><label><strong>{{award.name}}</strong></label> | {{award.issuedBy}} </b>
        <b class="remark">{{award.remark}}</b>
      </div>
      <div *ngIf="candidate.awards.length == 0" class="line-block">
        Not Available
      </div>
    </div>
  </div>
</div>

<div class="col-xs-12 no-padding value-portrait-bottom-section">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 value-portrait-candidate-industry">
    <div class="hover-block">
      <span class="icon"> </span>
      <label>
        Additional Domain Exposure:
      </label>
      <span>
         <b *ngFor="let industry of candidate.interestedIndustries;let i = index">
           <b>{{industry}}<small *ngIf="candidate.interestedIndustries.length -1 != i">, </small></b>
          </b>
      </span>
      <div class="domain-exposure-tooltip-content">
        <b *ngFor="let industry of candidate.interestedIndustries;let i = index"><b>{{industry}}</b>
          <small *ngIf="candidate.interestedIndustries.length -1 != i"> ,</small>
        </b>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 value-portrait-candidate-keyskills">
    <div class="hover-block">
      <span class="icon"> </span>
      <label>
        Key Skills:
      </label>
      <span>
        <b *ngFor="let proficiency of candidate.proficiencies;let i=index">{{proficiency}}<small
          *ngIf="candidate.proficiencies.length -1 != i">,</small>
        </b>
      </span>
      <div class="tooltip-content4">
        <b *ngFor="let proficiency of candidate.proficiencies;let i=index">
          <b>{{proficiency}}</b>
          <small *ngIf="candidate.proficiencies.length -1 != i">,&nbsp;</small>
        </b>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 value-portrait-about-myself">
    <div class="about-myself-btn">
      <label> About Myself </label>
      <div class="tooltip-content3">
        {{candidate.aboutMyself}}
      </div>
      <div *ngIf="candidate.aboutMyself == ''" class="tooltip-content3">
        Not Available
      </div>
    </div>

  </div>
  <div class="visible-xs" *ngIf="!isShareView && isCandidate">
        <cn-share></cn-share>
    </div>
    <div class="value-portrait-footer">
    <tpl-footer></tpl-footer>
  </div>
</div>



