<cn-value-portrait-header [candidate]="candidate"></cn-value-portrait-header>
<cn-candidate-info-block [candidate]="candidate"></cn-candidate-info-block>
<cn-candidate-capability-portrait [candidate]="candidate"></cn-candidate-capability-portrait>

<div class="col-xs-12 no-padding value-portraot-bottom-section">
  <div class="col-xs-4 value-portraot-candidate-industry">
    <div class="hover-block">
      <span class="icon"> </span>
      <label>
        Additional Industry Exposure:
      </label>
      <span>
        <b>{{candidate.interestedIndustries}}</b>
      </span>
      <div class="tooltip-content4">
        <b>{{candidate.interestedIndustries}}</b>
      </div>
    </div>
  </div>
  <div class="col-xs-4 value-portraot-candidate-keyskills">
    <div class="hover-block">
      <span class="icon"> </span>
      <label>
        Key Skills:
      </label>
      <span>
        <b *ngFor="let proficiency of candidate.proficiencies;let i=index">{{proficiency}}
          <b *ngIf="candidate.proficiencies.length -1 != i">,</b>
        </b>
      </span>
      <div class="tooltip-content4">
        <b *ngFor="let proficiency of candidate.proficiencies;let i=index">
          <b>{{proficiency}}</b>
          <b *ngIf="candidate.proficiencies.length -1 != i">,</b>
        </b>
      </div>
    </div>
  </div>
  <div class="col-xs-4">
    <div class="about-myself-btn">
      About Myself
      <div class="tooltip-content3">
        {{candidate.aboutMyself}}
      </div>
    </div>

  </div>
</div>

