@import '../../../../css/common';
@import '../../../../css/variables';

.change-email {
  .error-message {
    color: $error-messages;
    font-size: 10px;
    font-style: italic;
    margin: 1px 0 0;
    position: absolute;
    line-height: 12px;
  }

  form {
    label > img {
      height: 20px;
      width: 20px;
    }
  }

  .form-group {
    margin-bottom: 20px;
  }
}
