<div class="change-email col-sm-12 no-padding">
  <div>
    <cn-app-loader></cn-app-loader>

    <div class="col-sm-12 no-padding">

      <form [formGroup]="userForm" (submit)="onSubmit()">

        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <cn-control-messages [control]="userForm.controls.current_website"></cn-control-messages>
          <label>Current Website</label>
          <input [(ngModel)]="model.current_website" formControlName="current_website" id="current_website"
                 class="form-control" readonly/>
        </div>

        <div class="form-group" [class.fb-email-input]="isSocialLogin">
          <cn-control-messages [control]="userForm.controls.new_company_website"></cn-control-messages>
          <label>New Website</label>
          <input [(ngModel)]="model.new_company_website" formControlName="new_company_website" id="new_company_website"
                 class="form-control"/>
        </div>


        <div class="col-xs-12 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage"><b>{{
          error_msg }}</b></div>
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Change</button>
      </form>
    </div>
  </div>
</div>
