
<meta name="viewport" content="width=device-width">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">

<div style="background-color: #eaeced;padding: 1px 0;">
  <div style="background-color: #fff;max-width: 620px; margin:10px auto 10px auto;
  box-shadow: 0 0 20px rgba(150,150,150,0.2);">
    <table style="width:100%;margin:0 auto;" cellpadding="0" cellspacing="0">
      <thead style="background-color:#ffffff;text-align: left;height: 80px;width: 100%;">
      <tr>
        <td style="text-align:left;padding:20px 20px 0 20px;border-radius:4px 0 0 0;">
          <a target='_blank'
             href="$applicationLink$"
             style="border-bottom: 1px solid #eeeeee;display: block;padding: 0 0 20px 0;">
            <img src='cid:unique@application-logo'
                 alt="Application Logo"
                 style="border: 0;height: 60px;margin: 0 auto;display: block;"/>
          </a>
        </td>
      </tr>
      </thead>
    </table>
    <table style='width:100%;max-width: 458px;padding: 0 20px;margin:0 auto;text-align:center;font-family: Open Sans, arial, sans-serif;'
           cellpadding='0' cellspacing='0' bgcolor='#fff'>
      <tr>
        <td colspan='2'>
          <div style='padding: 1px;'>
            <p style='color:#434c5e;font-size: 24px;margin:24px 0 70px 0'>Project added successfully!</p>
            <p style='text-align:left;color: #696f77;font-size:14px;line-height: 20px;text-align:justify'>
              Dear $first_name$,
              <br/><br/>
              Your request for adding a new project <u>project_name</u> is successful and current status of this  new project is:
              <br/><br/>
            </p>
            <table style="border-collapse: collapse;color: #434c5e;font-size:14px;font-weight: 700;line-height: 20px;width: 100%;">
              <tbody>
                <tr style="border-bottom: 1px solid #efefef;border-top: 1px solid #efefef;">
                  <td style="padding: 6px 15px 6px 0;">Subscription Period</td>
                  <td style="padding: 6px 0 6px 15px;">3 years</td>
                </tr>
                <tr style="border-bottom: 1px solid #efefef;">
                  <td style="padding: 6px 15px 6px 0;">Start date</td>
                  <td style="padding: 6px 0 6px 15px;">12/04/2018</td>
                </tr>
                <tr style="border-bottom: 1px solid #efefef;">
                  <td style="padding: 6px 15px 6px 0;">End date</td>
                  <td style="padding: 6px 0 6px 15px;">11/04/2021</td>
                </tr>
                <tr style="border-bottom: 1px solid #efefef;">
                  <td style="padding: 6px 15px 6px 0;">Number of buildings you can add under this project</td>
                  <td style="padding: 6px 0 6px 15px;">5 (Default)</td>
                </tr>
              </tbody>
            </table>
            <br/>
            <p style="text-align:left;color: #696f77;font-size:14px;line-height: 20px;">
              To add more buildings to this <u>project_name</u>, please <a href="#" style="color: #00adff;text-decoration: none;">click here</a>.
            </p>
            <p style='text-align:left;color: #696f77;font-size:14px;line-height: 20px;'>
              Regards,<br/>
              My Build Cost Team<br/>
            </p>
            <p style='text-align:left;color: #bbbbbb;font-size:13px;line-height: 20px;'>
              PS: If you have any queries, please email us on
              <a href="mailto:bigslicetechnologies@gmail.com" style='text-decoration: none;color: #00adff;'>
                bigslicetechnologies@gmail.com</a>
            </p>
            <br/>
          </div>
        </td>
      </tr>
    </table>
    <table style="width:100%;margin:0 auto;text-align:center;border-top: 1px solid #eeeeee" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
      <tbody>
      <tr>
        <td colspan="2" style="border-radius:0 0 4px 4px;font-family: Open Sans, arial, sans-serif;">
          <div>
            <p style="font-size: 10px;margin:10px 0;color: #bbbbbb;">&copy; Big Slice Technologies Pvt. Ltd.(OPC), 2018</p>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
