<div class="col-sm-8 no-padding" [formGroup]="certificateForm">
  <div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Certification Name</label>
          <input type="text" class="form-control" formControlName="name" required/>
          <div class="error-messages"
               *ngIf="(certificateForm.get('name').touched || submitStatus)&& certificateForm.get('name').hasError('required')">
            Certification Name is required
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>Certification authority</label>
          <input class="form-control" type="text" formControlName="issuedBy" required/>
          <div class="error-messages"
               *ngIf="(certificateForm.get('issuedBy').touched || submitStatus)&& certificateForm.get('issuedBy').hasError('required')">
            Authority Name is required
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>Year </label>
          <select class="select" formControlName="year">
            <option *ngFor="let academicYear of yearList" [ngValue]="academicYear">{{academicYear}}
            </option>
          </select>
          <div class="error-messages"
               *ngIf="(certificateForm.get('year').touched || submitStatus)&& certificateForm.get('year').hasError('required')">
            Year Of Passing is required
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding">
      <label>Certification/Accreditation Details <span class="optional-field">(Optional)</span></label>
      <textarea row="2" formControlName="remark"
                class="form-control"></textarea>
    </div>
  </div>
</div>


