<div [formGroup]="certificateForm">
  <div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control"  formControlName="name" required/>
          <label>Certification Name</label>
          <small  class="text-danger" *ngIf="certificateForm.get('name').touched && certificateForm.get('name').hasError('required')">
            Certification Name is required
          </small>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <input class="form-control" type="text"  formControlName="issuedBy"  required/>
          <label>Certification authority</label>
          <small  class="text-danger" *ngIf="certificateForm.get('issuedBy').touched && certificateForm.get('issuedBy').hasError('required')">
            Authority Name is required
          </small>
        </div>
      </div>

      <div class="col-sm-4">
        <label>Year </label>
        <select class="form-control"  formControlName="year" >
          <option *ngFor="let acadmicyear of yearList" [ngValue]="acadmicyear">{{acadmicyear}}
          </option>
        </select>
        <small  class="text-danger" *ngIf="certificateForm.get('year').touched && certificateForm.get('year').hasError('required')">
          Year Of Passing is required
        </small>
      </div>
    </div>

    <div class="col-sm-12 no-padding">
        <textarea placeholder="Certification/Accreditation Details"  formControlName="remark" class="form-control"></textarea>
    </div>
  </div>
</div>


