@import '../../../../../css/common';
.form-group {
  .form-control, textarea {
    background: transparent;
  }
}
.button-group {
  float: left;
  text-align: center;
  width: 100%;

  .btn-default {
    margin-right: 15px;
  }
  .btn-primary {
    width: 120px;
  }
}
.fadein-element .fadein-sub-element:nth-child(1)  { animation-delay: 0.00s; }
.fadein-element .fadein-sub-element:nth-child(2)  { animation-delay: 0.06s; }
.fadein-element .fadein-sub-element:nth-child(3)  { animation-delay: 0.12s; }
.fadein-element .fadein-sub-element:nth-child(4)  { animation-delay: 0.18s; }
.fadein-element .fadein-sub-element:nth-child(5)  { animation-delay: 0.24s; }
.fadein-element .fadein-sub-element:nth-child(6)  { animation-delay: 0.30s; }
.fadein-element .fadein-sub-element:nth-child(7)  { animation-delay: 0.36s; }
.fadein-element .fadein-sub-element:nth-child(8)  { animation-delay: 0.42s; }
.fadein-element .fadein-sub-element:nth-child(9)  { animation-delay: 0.48s; }
.fadein-element .fadein-sub-element:nth-child(10) { animation-delay: 0.54s; }
.fadein-element .fadein-sub-element:nth-child(11) { animation-delay: 0.60s; }

.disabled-input {
  label, input {
    background: transparent !important;
    pointer-events: none;
    opacity: 0.5;
  }
}

@media screen and (max-width: 767px) {
  .button-group {
    .btn {
      padding: 5px 25px;
    }
  }
  .form-details {
    padding: 15px;
  }
}
