$theme-color: #3694d1;
$white: #fff;
$gray: #ccc;
$green: #7E9B5D;
$red: #EF5C48;
$light-green: #B1D669;
$orange: #EAA83D;


.option {
  border-radius: 28px;
  color: #000000;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 15px 5px 0;
  min-width: 100px;
  padding: 5px 10px 5px 15px;
  text-align: center;
  height: 28px;
  border: 1px solid $light-green;
  background: transparent !important;
  img {
    width: 18px;
    margin: 0 0 0 10px;
    float: right;
  }
}

.exact {
  background: $green;
}

.above {
  background: $light-green !important;
}

.below {
  background: $orange !important;
}

.missing {
  background: $red !important;
}

.extra {
  background: $gray !important;
}
