@import '../../../../../../css/variables';

.option {
  border-radius: 28px;
  color: #000000;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 15px 5px 0;
  min-width: 100px;
  padding: 5px 10px 5px 15px;
  text-align: center;
  height: 28px;
  border: 1px solid $light-green;
  background: transparent !important;
  img {
    width: 18px;
    margin: 0 0 0 10px;
    float: right;
  }
}

.exact {
  background: $green2;
}

.above {
  background: $green !important;
}

.below {
  background: $orange2 !important;
}

.missing {
  background: $red2 !important;
}

.extra {
  background: $gray !important;
}
