<div class="welcome-text" *ngIf="screenType=='welcomescreen'">
  <div class="content">
   <h4>{{dashboardWelcomeMessage}}</h4>
      <p>{{initialMessageToDisplay}}</p>
    <img src="{{getImagePath().POST_NEW_JOB}}" alt="Post New Job"/>
    <p>{{getMessage().POST_NEW_JOB_MESSAGE}}</p>
  </div>
</div>

<div class="job-list clearfix" *ngIf="screenType=='jobList'">
  <header class="col-sm-12">
    <div class="select-option default-checkbox">
      <label>
        <input  type="checkbox" [checked]="showClosedJobs" (change)="displayClosedJobs()" />
        <div class="check"></div>
      </label>
      <span>{{getLabel().SHOW_CLOSED_JOBS}}</span>
    </div>
  </header>

  <div class="card-view clearfix">

    <cn-job-clone [selectedJobId]="selectedJobId"  [selectedJobTitle]="selectedJobTitle"
                  [isCloneButtonClicked]="isCloneButtonClicked"
                  (raiseJobEditViewEventEmitter)="onJobCloned($event)" ></cn-job-clone>
      <cn-job-close [selectedJobTitleForClose]="selectedJobTitle" [selectedJobProfile]="selectedJobProfile"
      [isJobCloseButtonClicked]="isJobCloseButtonClicked"></cn-job-close>
    <div  class="col-md-3" *ngFor="let item of jobListInput | orderBy:format | closedJobFilter : showClosedJobs;let i = index">
      <div class="dropdown clone-job-menu">
        <button class="btn dropdown-toggle btn-menu" type="button" data-toggle="dropdown"><span
                class="glyphicon glyphicon-option-vertical"></span></button>
        <ul class="dropdown-menu">
          <li (click)="raiseCloneEvent(item)"><a>{{getLabel().CLONE_JOB}}</a></li>
          <li *ngIf="!item.isJobPostClosed" (click)="renewJobPost(item)"><a>Renew Job Post</a></li>
          <li *ngIf="item.isJobPosted" (click)="closeJobPost(item)"><a>{{getLabel().CLOSE_JOB}}</a></li>
        </ul>
      </div>
      <div class="panel clearfix" (click)="onJobClicked(item._id,item.isJobPosted)" [class.closed_post_job]="item.isJobPostClosed">
        <span class="glyphicon glyphicon-share" title="This job is shared with hiring manager." *ngIf="item.isJobShared && !item.isJobPosted"></span>
        <div class="job-posted clearfix">
          <div class="col-xs-2 no-padding">

            <div *ngFor="let i of item.candidate_list">
              <p *ngIf="i.name == 'cartListed'" title="{{i.ids.length}} Candidates In Cart">
                <span>{{i.ids.length}}</span></p>
            </div>
            <p *ngIf="item.candidate_list.length == 0" title="Candidates In Cart"><span>0</span></p>
          </div>
          <div class="col-xs-10 padding-left15">
            <h4 title="Job Title : {{item.jobTitle}}">{{item.jobTitle}}</h4>
            <span title="Hiring Department : {{item.department}}" *ngIf="recruiter.isRecruitingForself">{{item.department}}</span>
            <span title="Hiring Company : {{item.department}}" *ngIf="!recruiter.isRecruitingForself">{{item.department}}</span>
          </div>
          <div class="contact-info clearfix">
            <div class="col-sm-12 no-padding" title="Date Posted : {{item.postingDate | date:'mediumDate'}}">
              <div class="col-xs-2 no-padding">
                <img src="{{getImagePath().CALENDAR}}" alt="calendar"/>
              </div>
              <div class="col-xs-10 padding-left15" title="Date Posted : {{item.postingDate | date:'mediumDate'}}">
                <p>{{item.postingDate | date:'mediumDate'}}</p>
              </div>
            </div>
            <div class="col-sm-12 no-padding" title="Hiring Manager : {{item.hiringManager}}">
              <div class="col-xs-2 no-padding">
                <img src="{{getImagePath().CONTACT_PERSON}}" alt="Hiring Manager"/>
              </div>
              <div class="col-xs-10 padding-left15" title="Hiring Manager : {{item.hiringManager}}">
                <p class="hiring-manager">{{item.hiringManager}}</p>
              </div>
            </div>
            <div class="col-sm-12 no-padding renew-job">
              <div class="col-xs-2 no-padding">
                <span *ngIf="item.daysRemainingForExpiring > 7" title="{{item.daysRemainingForExpiring}} days remaining for expiry" class="glyphicon glyphicon-refresh active" ></span>
                <span class="glyphicon glyphicon-refresh about-to-expire" *ngIf="item.daysRemainingForExpiring <= 7 && item.daysRemainingForExpiring >= 1" title="{{item.daysRemainingForExpiring}} days remaining for expiry"></span>
                <span class="glyphicon glyphicon-refresh expired" *ngIf="item.daysRemainingForExpiring <= 0" title="Expired"></span>
              </div>
              <div class="col-xs-10 padding-left15" [class.posted-job]="!item.isJobPosted">
                <p class="active" *ngIf="item.daysRemainingForExpiring > 7" title="{{item.daysRemainingForExpiring}} days remaining for expiry">{{item.daysRemainingForExpiring}} days remaining for expiry</p>
                <p class="about-to-expire" *ngIf="item.daysRemainingForExpiring <= 7 && item.daysRemainingForExpiring >= 1" title="{{item.daysRemainingForExpiring}} days remaining for expiry">{{item.daysRemainingForExpiring}} days remaining for expiry</p>
                <p class="expired" *ngIf="item.daysRemainingForExpiring <= 0">Expired</p>
              </div>
            </div>
          </div>
        </div>
        <div class="edit-job-notification" title="Post this job" *ngIf="!item.isJobPosted">POST JOB</div>
      </div>
    </div>
  </div>
</div>


