@import '../../../../../css/common';
@import '../../../../../css/variables';

.welcome-text {
  height: 100vh;
  text-align: left;
  z-index: 100000;

  .content {
    border-radius: 0;
    color: $name;
    margin: 0 auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 80%;
    z-index: 100;
  }

  img {
    margin: 15px 0;
    width: 100%;
  }

  h4 {
    color: $theme-color;
    font-size: 20px;
  }
}

.job-list {
  margin-top: 30px;
  text-align: left;

  .card-view {
    color: $text-color4;
    margin-top: 20px !important;

    .panel {
      cursor: pointer;
      min-height: 175px;
      padding: 10px 10px 0;
      position: relative;

      .glyphicon-share {
        color: $theme-color;
        position: absolute;
        right: 32px;
        top: 9px;
        width: auto;
        z-index: 1;
      }

      &:hover {
        .glyphicon-trash {
          display: block;
        }
      }
    }

    .glyphicon-trash {
      cursor: pointer;
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      width: auto;
    }

    span {
      color: $text-color4;
      display: block;
      font-size: 13px;
      padding: 0;
      @extend %text-ellipsis;
    }

    .renew-job {

      .posted-job > p {
        width: calc(100% - 70px);
      }

      .glyphicon-refresh {
        display: table;
        margin: 10px auto;
        width: auto;
      }

      .expired {
        color: $light-red1;
      }

      .about-to-expire {
        color: $dark-orange;
      }

      span.active {
        color: $highlight;
      }
    }

    .job-posted > .col-xs-2 {
      font-size: 10px;
      margin-bottom: 10px;
      min-height: 40px;
      text-align: center;

      p {
        background-color: $purple;
        border-radius: 50%;
        color: $white;
        height: 34px;
        margin: 0 auto 5px;
        position: relative;
        width: 30px;
      }

      span {
        color: $white;
        font-size: 13px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }

    h4 {
      @extend %text-ellipsis;
      color: $highlight;
      font-size: 16px;
      font-weight: bold;
      margin: 0 0 5px;
      text-transform: capitalize;
      width: calc(100% - 50px);
    }

    .contact-info {
      border-top: 1px solid $contact-info;
      clear: both;
      margin-bottom: 5px;

      p {
        border: 0;
        color: $text-color4;
        font-size: 13px;
        margin-top: 0;
        padding-left: 5px;
      }

      img {
        display: block;
        margin: 10px auto;
        text-align: center;
        width: 13px;
      }
    }
  }
}

.panel {
  position: relative;

  .edit-job-notification {
    background: $theme-color;
    bottom: 5px;
    border-radius: 2px;
    color: $white;
    display: block;
    font-size: 11px;
    padding: 2px 8px;
    position: absolute;
    right: 5px;
    z-index: 10;
  }

  &:hover {
    .btn-edit-job {
      display: block;
    }
  }
}

.hiring-manager {
  width: calc(100% - 70px) !important;
}

.btn-menu {
  background: transparent;
  cursor: pointer;
  color: $gray-light2;
  font-size: 12px;
  height: auto;
  padding: 2px 0 0 2px;
  position: absolute;
  right: 5px;
  top: 17px;
  z-index: 1;
  span {
    border: 1px solid transparent;
    float: right;
    height: 26px;
    margin: -4px 0;
    padding: 5px 2px !important;
    width: 24px !important;
    &:hover {
      background: $border-color1;
    }
  }

  &:active,
  &:hover,
  &:focus {
    background: transparent !important;
    box-shadow: none !important;
    outline: none;
  }
}

.dropdown-menu {
  background: $white;
  border: 1px solid $border-color1;
  border-radius: 0;
  box-shadow: 0 1px 2px $menu-box-shadow;
  min-width: 84px;
  left: inherit;
  padding: 0;
  right: 5px;
  top: 40px;
  z-index: 997;

  li {
    a {
      font-size: 12px;
      font-weight: bold;
      padding: 5px;

      &:hover {
        background: $contact-info;
      }
    }

    &:last-child > a {
      background: #d0d0d0;
      opacity: 0.3;
    }
  }
}


@media only screen and (min-width: 1367px) {
  .job-list {
    .card-view > .col-md-3 {
      width: 20%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .job-list {
    .card-view > .col-md-3 {
      width: 33%;
    }
  }
}

@media only screen and (max-width: 980px) {
  .job-list {
    .card-view > .col-md-3 {
      width: 50%;
      float: left;
    }
  }
}

@media only screen and (max-width: 767px) {
  .job-list {
    .card-view {
      p {
        font-size: 12px;
      }

      .job-posted {
        margin-bottom: 10px;
      }

      .contact-info {
        padding: 0;
        clear: both;

        p {
          margin-top: 0;
        }
      }
    }

    .card-view > .col-md-3 {
      width: 100%;
    }
  }
}

.checkbox {
  position: absolute;
  right: 10px;
  z-index: 1000;
  top: -16px;
}