<div class="welcome-text" *ngIf="screenType=='welcomescreen'">
  <div class="content">
   <h4>{{dashboardWelcomeMessage}}</h4>
      <p>{{initialMessageToDisplay}}</p>
      <img src="assets/c-next/recruiter-welcome-screen/post-new-job.png" alt="Post New Job"/>
      <p>Please click on "Post New Job" to proceed.</p>
  </div>
</div>

<div class="job-list clearfix" *ngIf="screenType=='jobList'">
  <header class="col-sm-12">
    <!-- <div class="search">
       <input class="form-control" type="text" />
       <button class="btn btn-search" type="button"><img src="./assets/framework/images/dashboard/search.png"></button>
     </div>-->
  </header>

  <div class="card-view clearfix">
    <div class="col-md-3" *ngFor="let item of jobListInput | orderBy:format;let i = index"
         (click)="onJobClicked(item._id,item.isJobPosted)">
      <div class="panel clearfix">
       <!-- <span class="glyphicon glyphicon-trash"></span>-->
        <div class="job-posted clearfix">
          <div class="col-xs-2 no-padding">

            <div *ngFor="let i of item.candidate_list">
              <p *ngIf="i.name == 'cartListed'" title="{{i.ids.length}} Candidates In Cart">
                <span>{{i.ids.length}}</span></p>
            </div>
            <p *ngIf="item.candidate_list.length == 0" title="Candidates In Cart"><span>0</span></p>
          </div>
          <div class="col-xs-10 padding-left15">
            <h4 title="Job Title : {{item.jobTitle}}">{{item.jobTitle}}</h4>
            <span title="Hiring Department : {{item.department}}" *ngIf="recruiter.isRecruitingForself">{{item.department}}</span>
            <span title="Hiring Company : {{item.department}}" *ngIf="!recruiter.isRecruitingForself">{{item.department}}</span>
          </div>
          <div class="contact-info clearfix">
            <div class="col-sm-12 no-padding" title="Date Posted : {{item.postingDate | date:'mediumDate'}}">
              <div class="col-xs-2 no-padding">
                <img src="../../../../assets/c-next/post-job/calendar.png" alt="calendar"/>
              </div>
              <div class="col-xs-10 padding-left15" title="Date Posted : {{item.postingDate | date:'mediumDate'}}">
                <p>{{item.postingDate | date:'mediumDate'}}</p>
              </div>
            </div>
            <div class="col-sm-12 no-padding" title="Hiring Manager : {{item.hiringManager}}">
              <div class="col-xs-2 no-padding">
                <img src="../../../../assets/c-next/post-job/contact-person.png" alt="Hiring Manager"/>
              </div>
              <div class="col-xs-10 padding-left15" title="Hiring Manager : {{item.hiringManager}}">
                <p class="hiring-manager">{{item.hiringManager}}</p>
              </div>
            </div>
          </div>
        </div>
        <!--<button class="btn-edit-job" title="Post Job" (click)="onJobEdit(item._id,item.isJobPosted)" *ngIf="!item.isJobPosted">Post Job
        </button>-->
        <div class="edit-job-notification" title="Post this job." *ngIf="!item.isJobPosted">Post job</div>
      </div>
    </div>
  </div>
  <!--div class="col-sm-12 text-center" *ngIf="jobListInput.length==0">You havn't posted any job yet</div>-->
</div>


