<header class="page-header">
  <div class="container-fluid">
    <cn-recruiter-shared-header></cn-recruiter-shared-header>
    <ul class="list-counts clearfix">
      <li>
        <img src="assets/c-next/header/jobs-posted.png" alt="Job posted"/>
        <span>{{jobCount}}</span>
        <p>Jobs Posted</p>
      </li>
      <li>
        <img src="assets/c-next/header/matching-profiles.png" alt="Matching Profiles"/>
        <span>{{headerInfo.totalNumberOfCandidateInCart}}</span>
        <p>Canidates in Cart</p>
      </li>
      <li>
        <img src="assets/c-next/header/candidates-applied.png" alt="Candidates Applied"/>
        <span>{{headerInfo.totalNumberOfCandidatesApplied}}</span>
        <p>Candidate Applied</p>
      </li>
    </ul>
  </div>
</header>

