<header class="page-header">
  <div class="container-fluid">
    <cn-recruiter-shared-header></cn-recruiter-shared-header>
    <ul class="nav navbar-nav navbar-left list-counts">
      <li>
        <img src="assets/c-next/header/jobs-posted.png" alt="Job posted"/>
        <span>{{jobCount}}</span>
        <p>Jobs Posted</p>
      </li>
      <li>
        <img src="assets/c-next/header/matching-profiles.png" alt="Matching Profiles"/>
        <span *ngIf="headerInfo">{{headerInfo.totalNumberOfCandidateInCart}}</span>
        <p>Candidates in Cart</p>
      </li>
      <li>
        <img src="assets/c-next/header/candidates-applied.png" alt="Candidates Applied"/>
        <span *ngIf="headerInfo">{{headerInfo.totalNumberOfCandidatesApplied}}</span>
        <p> Applied Candidates</p>
      </li>
    </ul>
  </div>
</header>

