<section class="notification">
    <ul>
      <li *ngFor="let notification of notifications">
        <div class="col-xs-12 message" [class.unread]="!notification.is_read" (click)="readNotification(notification._id);">
          <div class="col-sm-2 col-xs-2 padding-right5">
            <img src="assets/images/notification/notification.svg" alt="Notifications">
          </div>
          <div class="col-sm-10 col-xs-10 padding-left5">
            <div class="read"><!--{{notification.is_read}}--></div>
            <h5>{{notification.title}}</h5>
            <p>{{notification.description}}</p>
          </div>
        </div>
      </li>
    </ul>
</section>
