@import '../../../../css/common';

.settings {

  h4 {
    border-bottom: $border-color 1px solid;
    padding-bottom: 15px;

    span {
      margin-right: 15px;
    }
  }

  li {
    clear: both;
    display: table;

    .next {
      float: right;
      height: 17px;
      transform: rotate(180deg);
      width: 20px;
    }
  }

  .hide-list {
    display: none;
  }

  label {
    color: $text-color;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0;
    padding: 15px 15px 15px 0;
    width: 25%;

    input {
      float: left;
      margin-right: 10px;
    }
  }

  .account {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .settings {
    padding-left: 0;
    padding-right: 0;

    .password-heading {
      margin-top: 15px;
    }

    label {
      width: 50%;
    }
  }
}

@media (max-width: 420px) {
  .settings {

    label {
      width: 100%;
    }
  }
}
