@import '../../../../css/common';

.settings {
  text-align: left;
  width: 25%;
  margin: 100px auto 0;

  h4 {
    border-bottom: $border-color 1px solid;
    padding-bottom: 15px;

    span {
      margin-right: 15px;
    }
  }

  ul {
    padding: 0;
  }

  li {
    clear: both;
    display: table;

    .next {
      float: right;
      height: 17px;
      transform: rotate(180deg);
      width: 20px;
    }
  }

  .hide-list {
    display: none;
  }

  label {
    color: $text-color;
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0;
    padding: 15px 15px 15px 0;
    width: 25%;

    input {
      float: left;
      margin-right: 10px;
    }
  }

  .account {
    padding: 15px;
  }
}

@media (max-width: 1280px) {
  .settings {
    width: 40%;
  }
}

@media (max-width: 980px) {
  .settings {
    width: 70%;

    .password-heading {
      margin-top: 15px;
    }

    label {
      width: 50%;
    }
  }
}

@media (max-width: 767px) {
  .settings {
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 420px) {
  .settings {
    label {
      width: 100%;
    }
  }
}
