<cn-candidate-dashboard-header [candidate]="candidate" *ngIf="role==='candidate'"></cn-candidate-dashboard-header>
<cn-recruiter-shared-header *ngIf="role==='recruiter'"></cn-recruiter-shared-header>
<cn-admin-dashboard-header *ngIf="role==='admin'" [candidate]="candidate"></cn-admin-dashboard-header>
<section class="settings">

  <ul>

    <li [class.hide-list]="isSocialLogin">
      <div class="col-xs-12">
        <h4 class="password-heading"><span class="glyphicon glyphicon-lock"></span>Change password</h4>
        <p>{{changePasswordMessage}}</p>
      </div>
      <tpl-change-password></tpl-change-password>
    </li>

    <!-- <li>
       <div class="col-xs-12">
         <h4><span class="glyphicon glyphicon-bell"></span>Notification</h4>

         <p>{{ APP_NAME }} notifies you about changes to your account and changes to things you are watching.
           Notifications appear in your {{ APP_NAME }} inbox and are sent via email to prajakta.pawar@techprimelab.com
           (Configure email)</p>
         <label>Notifications
           <input type="checkbox">
         </label>
       </div>
     </li>
 -->
    <!-- <li>
       <div class="col-xs-12">
         <h4><span class="glyphicon glyphicon-picture"></span>Appearance</h4>
         <p>{{changeThemeMessage}}</p>
         <label>Dark Theme
           <input type="radio" (click)="darkTheme()" name="theme" [checked]="themeIs == INITIAL_THEME">
         </label>
         <label>Light Theme
           <input type="radio" (click)="lightTheme()" name="theme" [checked]="themeIs == LIGHT_THEME">
         </label>
       </div>
     </li>-->
  </ul>
</section>
