@import '../../framework/landing-page/landing-page.component';
.page-background {
  .content-background {
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .inner-content {
    .checkbox {
      text-align: left;
    }

    .btn-primary {
      margin: 10px 0;
    }
  }
}
