@import '../../../../../css/variables';

.list-view {
  left: 0 !important;
  border-bottom: 1px solid #d1dce4;

  .panel {
    cursor: default !important;
    padding: 2px 15px !important;
  }
}

.view-details {
  padding-top: 6px;
  font-size: 13px;
  display: block;
}

.job-info {
  margin-top: -4px !important;

  li {
    margin: 9px 0 5px !important;
    text-align: center;
  }

  li > p {
    margin-top: -4px;
    font-size: 13px;
  }

  .job-expired > p,
  .job-expired > label {
    color: $error;
  }
}

.job-details {
  width: 100%;

  li {
    padding: 0 5px 0 0;
  }

  li:first-child {
    max-width: 90%;
  }

  li > h4 {
    display: inline-block;
    cursor: default;
  }

  li > a {
    color: $theme-color;
    display: block;
    font-weight: 900;
    font-family: 'gothamrnd-book';
    font-size: 12px;
    margin: 14px 0 0 7px;
  }
}

.job-dashboard-modal-content {
  margin-top: 1px;
}

.clone-job-menu {
  position: fixed;
  top: 102px;
  right: 15px;
  z-index: 1001;

  .btn-menu {
    background: transparent;
    cursor: pointer;
    color: $light-black1;
    height: 34px;
    padding: 9px 5px;

    span {
      border: 1px solid transparent;
      float: right;
      height: 26px;
      margin: -6px 0 0;
      padding: 5px 2px !important;
      width: 24px !important;
      &:hover {
        background: $border-color1;
      }
    }

    &:active,
    &:hover,
    &:focus {
      background: transparent !important;
      box-shadow: none !important;
      outline: none;
    }
  }

  .dropdown-menu {
    left: inherit;
    padding: 0;
    right: 0;

    li {
      float: none;

      &:last-child > a {
        background: #d0d0d0;
        opacity: 0.3;
      }
    }

    li > a {
      padding: 5px 15px;

      &:active,
      &:hover,
      &:focus {
        background: $contact-info;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .job-details {
    li > h4 {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .job-details {
    li:first-child {
      max-width: 85%;
    }
  }
}
