.list-view {
  left: 0 !important;
  border-bottom: 1px solid #d1dce4;

  .panel {
    padding: 2px 15px !important;
  }
}

.view-details {
  padding-top: 6px;
  font-size: 13px;
  display: block;
}

.job-info {
  margin-top: -4px !important;

  li {
    text-align: center;
    margin-top: 5px !important;
  }

  li > p {
    margin-top: -4px;
    font-size: 13px;
  }
}

.panel {
  cursor: default;
}

.job-details {
  width: 100%;

  li {
    padding: 0 5px 0 0;
  }

  li:first-child {
    max-width: 90%;
  }

  li > h4 {
    display: inline-block;
    cursor: default;
  }

  li > a {
    font-size: 9px;
    text-decoration: underline;
    margin-top: 10px;
    display: block;
  }
}


@media only screen and (max-width: 1024px) {
  .job-details {
    li > h4 {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .job-details {
    li:first-child {
      max-width: 85%;
    }
  }
}
