@import '../../../../../css/variables';

.list-view {
  border-bottom: 1px solid $border-blue;
  left: 0 !important;
  z-index: 1001 !important;

  .panel {
    cursor: default !important;
    padding: 2px 15px !important;
  }
}

.view-details {
  padding-top: 6px;
  font-size: 13px;
  display: block;
}

.job-info {
  margin-top: -4px !important;

  li {
    margin: 7px 0 0 !important;
    text-align: center;
  }

  li > p {
    margin-top: -4px;
    font-size: 13px;
  }

  .job-expired > p,
  .job-expired > label {
    color: $error;
  }
}

.job-details {
  width: 100%;

  li {
    padding: 0 10px 0 0;
  }

  li:first-child {
    max-width: 90%;
  }

  li > h4 {
    display: inline-block;
    cursor: pointer;
  }

  li > .view-job {
    color: $theme-color;
    display: block;
    font-weight: 900;
    font-family: 'gothamrnd-book';
    font-size: 12px;
    margin: 12px 0 0 7px;
  }
}

.job-dashboard-modal-content {
  margin-top: 1px;
}

.clone-job-menu {
  margin-top: 10px;
  .btn-menu {
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    padding: 9px 5px;

    span {
      color: $theme-color;
      font-family: 'gothamrnd-book';
      font-size: 12px;
      font-weight: 900;
      padding: 5px !important;
    }

    .caret {
      padding: 0 !important;
    }

    &:active,
    &:hover,
    &:focus {
      background: transparent !important;
      box-shadow: none !important;
      outline: none;
    }
  }

  .dropdown-menu {
    margin: 10px 0 0 0;

    li {
      float: none;
      max-width: 100%;
      padding: 0;
    }

    li > a {
      padding: 5px 15px;

      &:active,
      &:hover,
      &:focus {
        background: $contact-info;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .job-details {
    li > h4 {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .job-details {
    li:first-child {
      max-width: 85%;
    }
  }
}
