<cn-recruiter-header [headerInfo]="headerInfo" [jobCount]="jobCount"></cn-recruiter-header>
<div class="container-fluid profile-wrapper">
  <ul class="nav nav-tabs dashboard-tabs">
    <li class="active"><a data-toggle="tab" href="#">My Job Posts</a></li>
    <li><a data-toggle="tab" (click)="navigateTo('recruiterdashboard','post_new_job')">Post New Job</a></li>
  </ul>
  <div class="candidate-listing">
    <cn-filter [hidden]="whichListVisible[4]" [selectedJob]="selectedJobProfile" [role]=true></cn-filter>
    <div class="col-sm-12 no-padding">
      <button class="btn btn-back" (click)="navigateTo('recruiterdashboard',undefined)">All Jobs</button>
      <div class="list-view" *ngIf="selectedJobProfile!=undefined">
        <div class="panel clearfix">
          <div class="col-md-7 col-sm-6 no-padding">
            <ul class="pull-left job-details">
              <!--<li class="job-posted"><p><span>{{recruiterJobView.numberOfCandidatesInCart}}</span></p></li>-->
              <li>
                <h4 title="View Job Details" title="{{selectedJobProfile.jobTitle}}">{{selectedJobProfile.jobTitle}}</h4>
              </li>
              <li>
                <a (click)="viewJobDetails()">view job</a>
              </li>
              <!--<li>
                <a class="view-details" (click)="viewJobDetails()">view job details</a>
              </li>-->
            </ul>
          </div>
          <div class="col-md-5 col-sm-6 no-padding">
            <ul class="pull-right job-info">
              <li class="contact-info"><label>Industry</label><p>{{selectedJobProfile.industry.name}}</p></li>
              <li *ngIf="isRecruitingForSelf" class="contact-info">
                <label>Hiring Manager</label>
                <p>{{selectedJobProfile.hiringManager}}</p>
              </li>
              <li *ngIf="!isRecruitingForSelf" class="contact-info">
                <label>Hiring Company</label>
                <p>{{selectedJobProfile.department}}</p>
              </li>
              <li class="contact-info">
                <label>Date Posted</label>
                <p>{{selectedJobProfile.postingDate | date :'dd MMM yyyy'}}</p>
              </li>
              <li class="contact-info">
                <label>Expiry Date</label>
                <p>{{selectedJobProfile.expiringDate | date :'dd MMM yyyy'}}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs sub-tabs">
      <li class="active match-count-tabs">
        <a (click)="getMatchingProfiles()" id="matched_anchor" data-toggle="tab" href="#matched-job"><span
          class="match-count count"><span>{{recruiterJobView.numberOfMatchedCandidates}}</span></span> Matched</a>
      </li>
      <li class="cart-job-tabs">
        <a (click)="getSelectedListData('cartListed')" data-toggle="tab" href="#cart-job"><span class="count"><span>{{recruiterJobView.numberOfCandidatesInCart}}</span></span>
          In Cart</a>
      </li>
      <li class="applied-count-tabs">
        <a (click)="getSelectedListData('applied')" data-toggle="tab" href="#applied-job"><span class="applied-count count"><span>{{recruiterJobView.numberOfCandidatesApplied}}</span></span>
          Applied</a>
      </li>
      <li class="rejected-job-tabs">
        <a (click)="getSelectedListData('rejectedList')" data-toggle="tab" href="#rejected-job"><span
          class="rejected-count count"><span>{{recruiterJobView.numberOfCandidatesrejected}}</span></span> Rejected</a>
      </li>
      <li class="compare-candidate-tabs">
        <a (click)="getCompareDetail()" data-toggle="tab" href="#compare-candidates"><span
                class="compare-candidate-count count"><span>{{recruiterJobView.numberOfCandidatesInCompare}}</span></span>Compare</a>
      </li>
    </ul>
    <div id="matched-job" class="tab-pane fade in active ">
      <cn-q-card-view (addForCompare)="addForCompare($event)" [progress_bar_color]="'#29b6f6'"
                      (addedTocart)="AddedToCart($event)" *ngIf="whichListVisible[0]" [candidateQlist]="candidateQlist"
                      [filterMeta]="filterMeta"
                      [candidates]="candidateQlist.matchedCandidates" [type]="'matchedList'" [jobId]="jobId"
                      [recuirterListCountModel]="recruiterJobView"></cn-q-card-view>
      <p class="empty-list-message" *ngIf="recruiterJobView.numberOfMatchedCandidates==0">{{emptyListMessage}}</p>

    </div>
    <div id="cart-job" class="tab-pane fade">
      <cn-q-card-view (addForCompare)="addForCompare($event)" [progress_bar_color]="'#7264b5'"
                      (addedTocart)="AddedToCart($event)" *ngIf="whichListVisible[1]" [candidateQlist]="candidateQlist"
                      [filterMeta]="filterMeta"
                      [candidates]="candidateQlist.cartCandidates" [type]="'cartListed'" [jobId]="jobId"
                      [recuirterListCountModel]="recruiterJobView"></cn-q-card-view>
      <p class="empty-list-message" *ngIf="recruiterJobView.numberOfCandidatesInCart==0">{{emptyCartMessage}}</p>
    </div>
    <div id="applied-job" class="tab-pane fade">
      <cn-q-card-view (addForCompare)="addForCompare($event)" (addedTocart)="AddedToCart($event)"
                      [progress_bar_color]="'#f7c72d'" *ngIf="whichListVisible[2]" [candidateQlist]="candidateQlist"
                      [filterMeta]="filterMeta"
                      [candidates]="candidateQlist.appliedCandidates" [type]="'applied'" [jobId]="jobId"
                      [recuirterListCountModel]="recruiterJobView"></cn-q-card-view>
      <p class="empty-list-message" *ngIf="recruiterJobView.numberOfCandidatesApplied==0">There are no pending applications from candidates for this job posting.</p>
    </div>
    <div id="rejected-job" class="tab-pane fade">
      <cn-q-card-view (addForCompare)="addForCompare($event)" (addedTocart)="AddedToCart($event)"
                      [progress_bar_color]="'#ff5722'" *ngIf="whichListVisible[3]" [candidateQlist]="candidateQlist"
                      [filterMeta]="filterMeta"
                      [candidates]="candidateQlist.rejectedCandidates" [type]="'rejectedList'" [jobId]="jobId"
                      [recuirterListCountModel]="recruiterJobView"></cn-q-card-view>
      <p class="empty-list-message" *ngIf="recruiterJobView.numberOfCandidatesrejected==0">
        {{emptyRejectedList}}</p>
    </div>

    <div id="compare-candidates" class="tab-pane fade">
      <cn-profile-comparison  [profileComparison]="profileComparison"
                             (performActionOnComparisonList)="performActionOnComparisonList($event)"
                             *ngIf="whichListVisible[4]"></cn-profile-comparison>
      <!--add below to cn-profile-comparison tag
      (performActionOnComparisonList)="performActionOnComparisonList($event)"
      *ngIf="whichListVisible[4]"

       uncomment below code -->
      <p class="empty-list-message" *ngIf="recruiterJobView.numberOfCandidatesInCompare==0 && whichListVisible[4]">There
        are no candidates to
        compare.</p>

    </div>

  </div>
  <tpl-footer></tpl-footer>
</div>
<div class="modal dashboard-modal" [style.display]="getModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content job-dashboard-modal-content">
        <div class="modal-body">
          <div class="modal-header">
            <h4>Job Description</h4>
            <img src="/assets/c-next/card-view/close-white.png" (click)="closeJob()" class="close"/>
          </div>
          <cn-job-view [jobId]="selectedJobProfile._id" [calledFrom]="'jobDashboard'"></cn-job-view>
        </div>
      </div>
    </div>
  </div>
</div>

