$theme-color: #3694d1;
$heading-color: #dbeef6;
$border-color: #ccc;

.capability-complexity {
  .heading {
    background: #dbeef6 !important;
    margin: 0;
    width: 100%;
    border-radius: 0;

    h4 {
      font-size: 12px;
      font-family: gothamrnd-book;
      margin: 0;
      padding: 10px 0;
    }
  }

  .content {
    border-bottom: 1px solid $border-color;
    margin: 10px 0;
    padding-bottom: 10px;

    span {
      font-size: 12px;
    }

    .complexity-name {
      color: $theme-color;
    }
  }

  .devider {
    width: 100%;
    height: 10px;
    clear: both;
  }
}

@media only screen and (max-width: 767px) {
  .capability-complexity {
    border-top: 1px solid $theme-color;

    .content {
      .col-md-4,
      .col-sm-6 {
        min-height: inherit;
        margin-bottom: 15px;
      }

      span {
        display: block;
        padding-bottom: 5px;
      }
    }

    .heading {
      padding: 0 15px !important;
      margin: 0 !important;

      h4 {
        padding: 5px 0;
      }
    }

    .col-sm-3 {
      span {
        padding: 0 15px;
      }
    }

    .col-sm-3,
    .col-sm-9 {
      padding: 0;
    }

    .col-sm-4 {
      padding: 0 15px;
      width: 100%;
    }
  }
}