.employee-form {
  .alert {
    margin: 0 15px;
  }

  .form-group {
    padding: 0 15px;
    width: 50%;
  }

  label {
    left: 15px;
  }

  .select-label {
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .employee-form {
    padding: 0;

    .alert {
      margin: 0;
    }

    .form-group {
      padding: 0;
      width: 100%;
    }

    label {
      left: 0;
    }
  }
}
