<form [formGroup]="userForm" (submit)="onSubmit()" class="employee-form">

  <div class="alert alert-danger clearfix" [hidden]="isShowErrorMessage">
    <div class="col-sm-1 hidden-xs"><span class="glyphicon glyphicon-warning-sign"></span></div>
    <div class="col-sm-10 col-xs-11 error-msg"><b>{{ error_msg }}</b></div>
    <div class="col-sm-1 col-xs-1 close-msg">
      <button (click)="closeErrorMessage()" class="btn-close"><span class="glyphicon glyphicon-remove"></span>
      </button>
    </div>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.first_name"></control-messages>
    <input type="text" formControlName="first_name" id="first_name" class="form-control" required/>
    <label>First Name</label>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.last_name"></control-messages>
    <input type="text" formControlName="last_name" id="last_name" class="form-control" required/>
    <label>Last Name</label>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.email"></control-messages>
    <input type="email" formControlName="email" id="email" class="form-control" required/>
    <label>Email</label>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.mobile_number"></control-messages>
    <input type="number" formControlName="mobile_number" id="mobile_number" class="form-control" required/>
    <label>Mobile</label>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.password"></control-messages>
    <input type="password" formControlName="password" id="password" class="form-control" required/>
    <label>Password</label>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.conform_password"></control-messages>
    <input type="password" formControlName="conform_password" id="conform_password"
           (blur)="makePasswordConfirm()" class="form-control" required/>
    <label>Confirm Password</label>
    <div class="error-message-registration" *ngIf="isPasswordConfirm == true">
      <p>Passwords does not match.</p>
    </div>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.birth_year"></control-messages>
    <input type="number" formControlName="birth_year" id="birth_year" class="form-control" required/>
    <label>Birth Year</label>
  </div>

  <div class="form-group">
    <div ng2-auto-complete
         [source]="countries"
         (ngModelChange)="selectCountryModel($event)">
      <input class="form-control" [ngModel]="countryModel" [ngModelOptions]="{standalone: true}" />
      <label class="select-label">Select Country</label>
    </div>
  </div>

  <div class="form-group">
    <div ng2-auto-complete
         [source]="states"
         (ngModelChange)="selectStateModel($event)">
      <input class="form-control" [ngModel]="stateModel" [ngModelOptions]="{standalone: true}"/>
      <label class="select-label">Select State</label>
    </div>
  </div>

  <div class="form-group">
    <div ng2-auto-complete
         [source]="cities"
         (ngModelChange)="selectCityModel($event)">
      <input class="form-control" [ngModel]="cityModel" [ngModelOptions]="{standalone: true}" />
      <label class="select-label">Select City</label>
    </div>
  </div>

  <div class="form-group" >
    <control-messages [control]="userForm.controls.pin"></control-messages>
    <input type="number" formControlName="pin" id="pin" class="form-control" required/>
    <label>PIN</label>
  </div>


  <div class="button-group">
    <!--<button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Send OTP</button>-->
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Create an account</button>
  </div>
</form>

