<footer class="footer home-page-footer">
  <p class="copyright-statement">{{ APP_NAME }} {{UNDER_LICENCE}}</p>
  <p class="faq hidden-xs"> <span class="faq-statement">{{getMessage().FAQ_MESSAGE}}
    <span class="glyphicon glyphicon-phone"></span>
    {{getMessage().FAQ_CONTACT_NUMBER}}<span class="glyphicon glyphicon-question-sign" (click)="goToFaq()"></span>
    <span class="faq-link" (click)="goToFaq()">FAQ</span></span>
  </p>
  <p class="faq visible-xs">
    <span class="faq-statement">
    <span class="glyphicon glyphicon-phone"></span>{{getMessage().FAQ_CONTACT_NUMBER}}
    <span class="glyphicon glyphicon-question-sign" (click)="goToFaq()"></span>
    </span>
  </p>
</footer>
