@import '../../../../css/common';
@import '../../../../css/variables';

.home-page-footer {
  background: $black1;
  bottom: 0;
  height: 21px;
  line-height: 0;
  padding: 0 15px;
  position: fixed;
  width: 100%;
  z-index: 1050;

  p,
  a {
    color: $footer-color;
    font-size: 12px;
  }

  .copyright-statement {
    float: left;
    text-align: left;
    width: 30%;
  }

  .faq {
    color: $footer-color;
    float: right;
    margin-top: 4px;
    text-align: right;
    width: 70%;
  }

  .faq-statement {
    color: $theme-orange;

    .faq-link {
      color: $theme-orange;
      cursor: pointer;
      font-size: 12px;
    }

    .glyphicon {
      color: $footer-color;
      margin: 0 5px 0 15px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .home-page-footer {
    padding: 0 5px;
    height: 45px;
    position: relative;

    p,
    a {
      font-size: 9px;
    }

    .copyright-statement {
      text-align: center;
      width: 100%;
    }

    .faq {
      text-align: center;
      margin-top: 3px;
      width: 100%;
    }

    .faq-statement {
      .glyphicon {
        font-size: 12px;
        margin: 0 5px 0 10px;
      }
    }
  }
}

