// Dark Theme Variables /
$cn-theme-color: #3694d1;
$cn-theme-hover: #317db5;
$cn-theme-btn-danger: #e77e22;
$cn-theme-btn-danger-hover: #d26f23;
$cn-theme-background: #6f3025;
$cn-theme-gradient-light: #1c75bd;
$cn-theme-gradient-dark: #284598;
$white: #fff;

//Dark Theme common classes
// Gradient Background
%cn-theme-gradient {
  background: linear-gradient(141deg, $cn-theme-gradient-light 0%, $cn-theme-gradient-dark 100%);
}

.cn-theme {

  // Loader
  .loader-container {
    .inner-loader {
      border-top: 5px solid $cn-theme-color;
    }
  }

  // Heading
  h3 {
    color: $cn-theme-color;
  }

  // Buttons
  .btn-success {
    background: #67c116;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      background: #58a90f;
      color: $white;
    }
  }

  .btn-primary {
    background: $cn-theme-color;
    color: $white;

    &:hover,
    &:active,
    &:focus {
      background: $cn-theme-hover;
      color: $white;
    }
  }

  // Buttons
  .btn-danger {
    background: $cn-theme-btn-danger;
    color: $white;

    &:hover,
    &:active,
    &:focus {
      background: $cn-theme-btn-danger-hover;
      color: $white;
    }

    &:disabled {
      background: $cn-theme-btn-danger;
    }
  }

  // Other Links
  .other-links {
    a {
      color: $cn-theme-color;
    }
  }

  // Forms
  form {
    .form-control {

      &:focus,
      &:active {
        border-bottom: $cn-theme-color 1px solid;
        box-shadow: none;
      }
    }
  }

  // Header
  /*header {  @extend %cn-theme-gradient; }*/

  // Side Menu Bar
  .dashboard {
    .menu-container {
      background: $cn-theme-color;
    }

    nav {
      .profile {
        background: $cn-theme-color;
      }
    }

    nav > ul > li {
      border-bottom: 1px solid $cn-theme-hover;

      a {
        &:hover {
          background: $cn-theme-hover;
        }
      }
    }
  }

  // Settings, About , Notification
  .settings,
  .about,
  .notification {
    ul > li {

      h5 {
        color: $cn-theme-color;
      }

      .read {
        background: $cn-theme-color;
      }
    }

    ul > li > a {

      &:hover,
      &:focus {
        color: $cn-theme-color;
      }
    }
  }

  //cn-splash screen header
  .page-header {
    background: $cn-theme-color;
  }

  //cn-wrapper heading
  .main-form-wrapper {
    h5 {
      background: $cn-theme-color;
    }
  }

  .verify-mobile-modal {
    .modal-body {
      h5 {
        background: $cn-theme-color;
      }
    }
  }
  //cn-create profile
  .profile-header {
    background: $cn-theme-color;
  }

  .profile-wrapper {
    .heading {
      color: $cn-theme-color;
    }

    .btn-create-profile {
      border: 1px solid $cn-theme-color;

      &:active,
      &:focus {
        outline: 0;
        box-shadow: 0;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .cn-theme {
    // Buttons
    .btn-default {
      &:disabled {
        opacity: .3;
      }
    }
  }
}
