// Dark Theme Variables /
@import '../../../css/variables';


//Dark Theme common classes
// Gradient Background
%cn-theme-gradient {
  background: linear-gradient(141deg, $cn-theme-gradient-light 0%, $cn-theme-gradient-dark 100%);
}

.cn-theme {

  // Loader
  .loader-container {
    .inner-loader {
      border-top: 5px solid $cn-theme-color;
    }
  }

  // Heading
  h3 {
    color: $cn-theme-color;
  }

  // Buttons
  .btn-success {
    background: $cn-theme-color;
    color: #fff;
    height: 38px;
    padding: 9px 25px;
    border-radius: 5px;

    &:hover,
    &:active,
    &:focus {
      background: $cn-theme-color;
      color: $white;
    }
  }

  .btn-primary {
    background: $cn-theme-color;
    color: $white;
    height: 38px;
    padding: 9px 25px !important;

    &:hover,
    &:active,
    &:focus {
      background: $cn-theme-hover;
      color: $white;
    }
  }

  // Buttons
  .btn-danger {
    background: $cn-theme-btn-danger;
    color: $white;
    height: 38px;
    padding: 9px 25px !important;
    border-radius: 5px;
    &:hover,
    &:active,
    &:focus {
      background: $cn-theme-btn-danger !important;
      color: $white !important;
    }

    &:disabled {
      background: $cn-theme-btn-danger !important;
    }
  }

  // Other Links
  .other-links {
    a {
      color: $cn-theme-color;
      font-size: 12px;
    }
  }

  // Forms
  form {
    .form-control {

      &:focus,
      &:active {
        border-bottom: $cn-theme-color 2px solid;
        box-shadow: none;
      }
    }
  }

  // Side Menu Bar
  .dashboard {
    .menu-container {
      background: $cn-theme-color;
    }

    nav {
      .profile {
        background: $cn-theme-color;
      }
    }

    nav > ul > li {
      border-bottom: 1px solid $cn-theme-hover;

      a {
        &:hover {
          background: $cn-theme-hover;
        }
      }
    }
  }

  // Settings, About , Notification
  .about,
  .notification {
    ul > li {

      h5 {
        color: $cn-theme-color;
      }

      .read {
        background: $cn-theme-color;
      }
    }

    ul > li > a {

      &:hover,
      &:focus {
        color: $cn-theme-color;
      }
    }
  }

  //cn-splash screen header
  .page-header {
    background: $black1;
  }

  //cn-wrapper heading
  .main-form-wrapper {
    h5 {
      background: $cn-theme-color;
    }
  }

  .verify-mobile-modal {
    .modal-body {
      h5 {
        background: $cn-theme-color;
      }
    }
  }
  //cn-create profile
  .profile-header {
    background: $black1;
  }

  .profile-wrapper {
    .heading {
      color: $cn-theme-color;
    }

    .btn-create-profile {
      border: 1px solid $cn-theme-color;

      &:active,
      &:focus {
        outline: 0;
        box-shadow: 0;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .cn-theme {
    // Buttons
    .btn-default {
      &:disabled {
        opacity: 0.3;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .btn-primary {
    height: 35px;
    padding: 5px 15px !important;
  }
}
