<h3 *ngIf="currentView === 'createProject'">{{getMenus().CREATE_NEW_PROJECT}}</h3>
<h3 *ngIf="currentView === 'createBuilding'">{{getMenus().ADD_BUILDING_TO_PROJECT}}</h3>
<div *ngIf="(currentView !== 'createProject') && (currentView !== 'createBuilding') || (currentView === 'costSummary')">
  <select  [(ngModel)]="selectedProjectName" (change)="selectedProject($event.target.value)">
    <option value="My Projects">{{getMenus().MY_PROJECTS}}</option>
    <option *ngFor="let project of projects" [value]="project.name">{{project.name}}</option>
  </select>
</div>
