<section class="wrapper">
  <div class="inner-wrapper">

    <!--<h5>Account Details</h5>-->

    <div class="col-sm-12 my-info">
      <div class="description-container clearfix">
        <div class="image-container">
          <!--<cn-profile-picture (onPictureUpload)="onPictureUpload($event)"></cn-profile-picture>-->
          <p>{{first_letter}}</p>
        </div>
        <div class="description">
          <div class="user-name">
            <p class="profile-name">{{model.first_name}}</p>
            <p class="profile-email">{{model.email}}&nbsp;</p>
            <a [routerLink]="['/dashboard/change-password']" (click)="navigateTo('/dashboard/change-password');">Change Password</a>
          </div>
        </div>
      </div>
    </div>


    <div class="col-sm-12 text-left">

      <form [formGroup]="userForm" (submit)="onSubmit()" class="profile-form clearfix">

        <div  class="form-group">
          <label>{{getLabels().FIRST_NAME_LABEL}}</label>
          <input type="text" [(ngModel)]="model.first_name" formControlName="first_name" id="first_name "
                 class="form-control"/>
        </div>
        <!-- <div  class="form-group">
          <label>LAST NAME</label>
          <input type="text" [(ngModel)]="model.last_name" formControlName="last_name" id="last_name "
                 class="form-control"/>
        </div>-->
        <div class="form-group">
          <label>{{getLabels().EMAIL_FIELD_LABEL}}
            <span title="Edit Email" class="glyphicon glyphicon-pencil"
                  (click)="showHideEmailModal()"></span>
          </label>
          <input [(ngModel)]="model.email" formControlName="email" id="email"
                 class="form-control clear" readonly/>
        </div>

        <div class="form-group"[class.hide-list]>
          <control-messages [control]="userForm.controls.mobile_number"></control-messages>
          <label>{{getLabels().CONTACT_FIELD_LABEL}}
            <!--<span class="glyphicon glyphicon-pencil" (click)="showHideMobileModal()"></span>-->
          </label>
          <input type="number" [(ngModel)]="model.mobile_number" formControlName="mobile_number"
                 id="mobile_number" class="form-control clear" />
        </div>

        <div class="form-group"[class.hide-list]>
          <control-messages [control]="userForm.controls.company_name"></control-messages>
          <label>{{getLabels().COMPANY_NAME_LABEL}}</label>
          <input type="text" [(ngModel)]="model.company_name" formControlName="company_name" id="company_name"
                 class="form-control clear"/>
        </div>

        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="form-group"[class.hide-list]>
              <control-messages [control]="userForm.controls.state"></control-messages>
              <label>{{getLabels().STATE_LABEL}}</label>
              <input type="text" [(ngModel)]="model.state" formControlName="state" id="state"
                     class="form-control clear"/>
            </div>
          </div>

          <div class="col-sm-6 col-xs-12">
            <div class="form-group"[class.hide-list]>
              <control-messages [control]="userForm.controls.city"></control-messages>
              <label>{{getLabels().CITY_LABEL}}</label>
              <input type="text" [(ngModel)]="model.city" formControlName="city" id="city"
                     class="form-control clear"/>
            </div>
          </div>
        </div>

        <div class="col-xs-12 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage"><b>{{
          error_msg }}</b></div>
        <button type="submit" class="btn btn-primary">
          Save Profile
        </button>
      </form>
    </div>
  </div>
</section>


<div class="modal modal-email" [style.display]="getStyleEmail()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="showHideEmailModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">{{getHeadings().CHANGE_EMAIL_HEADING}}</h5>
        </div>
        <div class="modal-body">
          <p>{{getMessages().MSG_RESET_EMAIL_ADDRESS}}</p>
          <div class="row">
            <div class="col-sm-12">
              <cn-change-email (onEmailChangeSuccess)="showHideEmailModal()"></cn-change-email>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div class="modal modal-mobile user-profile-model" [style.display]="getStyleMobile()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="showHideMobileModal()">
            <span aria-hidden="true">&times;</span>
          </button>
          <h5 class="modal-title">{{getHeadings().CHANGE_MOBILE_NUMBER_HEADING}}</h5>
        </div>
        <div class="modal-body">
          <p>{{getMessages().MSG_RESET_MOBILE_NUMBER}}</p>
          <div class="row">
            <div class="col-sm-12">
              <cn-change-mobile (onMobileNumberChangeComplete)="onMobileNumberChangeComplete()"></cn-change-mobile>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->
