<section class="container-fluid one-page-summary">
  <div class="col-sm-3 left-content">
    <div>
      <cn-recruiter-job-information [recruiter]="recruiter"></cn-recruiter-job-information>
    </div>
    <div>
      <h4>About Company</h4>
      <cn-additional-details [data]="recruiter.about_company"></cn-additional-details>
    </div>
  </div>

  <div class="col-sm-9 right-content" *ngFor="let postedJob of recruiter.postedJobs">
    <div class="col-sm-12">
      <cn-tabular-list-view [roles]="postedJob.industry.roles"></cn-tabular-list-view>
    </div>
    <div class="col-sm-12 no-padding">
      <div class="col-sm-12" *ngIf="secondaryCapabilities.length>0">
        <h4>Supplimentary Capabilities</h4>
        <cn-horizontal-list-view [data]="secondaryCapabilities"></cn-horizontal-list-view>
      </div>
      <div class="col-sm-12">
        <h4>Proficiency In</h4>
        <cn-horizontal-list-view [data]="postedJob.proficiencies"></cn-horizontal-list-view>
      </div>
      <div class="col-sm-12"
           *ngIf="postedJob.additionalProficiencies != undefined && postedJob.additionalProficiencies.length>0">
        <h4>Additional Proficiency</h4>
        <cn-horizontal-list-view [data]="postedJob.additionalProficiencies"></cn-horizontal-list-view>
      </div>
    </div>
    <div class="col-sm-12 no-padding">
      <div class="col-sm-12">
        <h4>Competencies</h4>
        <cn-additional-details [data]="postedJob.competencies"></cn-additional-details>
      </div>
      <!--<div class="col-sm-12">
        <h4>Responsibility</h4>
        <cn-additional-details [data]="postedJob.responsibility"></cn-additional-details>
      </div>-->
    </div>
  </div>
</section>
