<section class="container-fluid one-page-summary">
  <div class="col-sm-3 left-content">
    <div>
      <cn-recruiter-job-information [recruiter]="recruiter"></cn-recruiter-job-information>

    </div>

  </div>

  <div class="col-sm-9 right-content job-description-modal" *ngFor="let postedJob of recruiter.postedJobs">
    <div class="col-sm-12">
      <cn-capability-compare [isCompact]="true" [rowsToShow]="capabilities.length" [capabilities]="capabilities" *ngIf="capabilities && capabilities.length >0" > </cn-capability-compare>
    </div>
    <div class="col-sm-12 no-padding">
      <!--<div class="col-sm-12" *ngIf="secondaryCapabilities.length>0">
        <h4>Supplimentary Capabilities</h4>
        <cn-horizontal-list-view [data]="secondaryCapabilities"></cn-horizontal-list-view>
      </div>-->
      <div class="col-sm-12 proficiency-compare-section-area">
        <div class="pull-left col-xs-3 no-padding text-left">
          <h4>Key Skills</h4>
        </div>
        <div class="pull-left col-xs-8 no-padding text-left">
          <div class="pull-left" style="padding-top: 6px;padding-right: 7px; font-size: 12px;" *ngFor="let item of postedJob.proficiencies;let i = index">
            <span>{{item}}</span>,
          </div>
        </div>
      </div>
      <div class="col-sm-12 proficiency-compare-section-area"
           *ngIf="postedJob.additionalProficiencies != undefined && postedJob.additionalProficiencies.length>0">
        <div class="pull-left col-xs-3 no-padding text-left">
          <h4>Additional Key Skills</h4>
        </div>
        <div class="pull-left col-xs-8 no-padding text-left">
          <div class="pull-left" style="padding-top: 6px;padding-right: 7px; font-size: 12px;" *ngFor="let item of postedJob.additionalProficiencies;let i = index">
            <span>{{item}}</span>,
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 proficiency-compare-section-area" *ngIf="postedJob.competencies && postedJob.competencies !== ''" >
      <div class="pull-left col-xs-3 no-padding text-left">
        <h4>Competencies and Responsibilities</h4>
      </div>
      <div class="pull-left col-xs-8 no-padding text-left">
        <cn-additional-details [data]="postedJob.competencies"></cn-additional-details>
      </div>
      <!--<div class="col-sm-12">
        <h4>Responsibility</h4>
        <cn-additional-details [data]="postedJob.responsibility"></cn-additional-details>
      </div>-->
    </div>
    <div class="col-sm-12 no-padding" [hidden]="calledFrom ==='jobDashboard'">
      <div class="button-group">
        <button class="btn btn-primary btn-search" (click)="onJobClicked(postedJob._id)">Search Candidates for this Job</button>
      </div>
    </div>
  </div>
</section>
