<div [formGroup]="employeeForm">
  <div class="left-content">
    <div class="col-sm-6 padding-right15">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="companyName" required/>
        <label>Company Name</label>
        <small  class="text-danger" *ngIf="employeeForm.get('companyName').touched && employeeForm.get('companyName').hasError('required')">
          Company Name is required
        </small>
      </div>
    </div>

    <div class="col-sm-6 padding-left15">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="designation" required/>
        <label>Designation</label>
        <small *ngIf="employeeForm.get('designation').touched && employeeForm.get('designation').hasError('required')" class="text-danger">
          Designation is required
        </small>
      </div>
    </div>

    <div class="col-sm-12 no-padding">
      <div class="worked-from col-sm-6 padding-right15">
        <div formGroupName="from">
          <label>From Date</label>
          <div class="col-sm-6 padding-right5">
            <select class="form-control" formControlName="month" required>
              <option *ngFor="let c of monthList" [ngValue]="c">{{c}}</option>
            </select>
          </div>
          <div class="col-sm-6 padding-left5">
            <select class="form-control" formControlName="year" required>
              <option *ngFor="let c of yearList"  [ngValue]="c">{{c}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="worked-to col-sm-6 padding-left15">
        <div formGroupName="to">
          <label>To Date</label>
          <div class="col-sm-6 padding-right5">
            <select class="form-control" formControlName="month" required>
              <option *ngFor="let c of monthList" [ngValue]="c">{{c}}</option>
            </select>
          </div>
          <div class="col-sm-6 padding-left5">
            <select class="form-control" formControlName="year" required>
              <option *ngFor="let c of yearList"  [ngValue]="c">{{c}}</option>
            </select>
          </div>
          <!--<div >  &lt;!&ndash;*ngIf="item.to.month ==''"&ndash;&gt;
            <label class="checkbox-inline">
              <input type="checkbox" (click)="setCurrentDate()" name="TillDate" value="TillDate"/>Till Date
            </label>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="right-content">
    <div>
      <textarea class="form-control" formControlName="remarks" Placeholder="Remark"></textarea>
    </div>
  </div>
</div>
