<div [formGroup]="employeeForm">
  <div class="left-content">
    <div class="col-sm-6 padding-right5">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="companyName" required/>
        <label>Company Name</label>
        <div class="error-messages"
             *ngIf="employeeForm.get('companyName').touched && employeeForm.get('companyName').hasError('required')">
          <p>Company Name is required</p>
        </div>
      </div>
    </div>

    <div class="col-sm-6 padding-left5">
      <div class="form-group">
        <input type="text" class="form-control" formControlName="designation" required/>
        <label>Designation</label>
        <div class="error-messages"
             *ngIf="employeeForm.get('designation').touched && employeeForm.get('designation').hasError('required')">
          <p>Designation is required</p>
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding">
      <div class="worked-from col-sm-6 no-padding">
        <div formGroupName="from">
          <div class="col-sm-3 no-padding">
            <label>From Date</label>
          </div>
          <div class="col-sm-6 padding-left5">
            <select class="form-control" formControlName="month" required>
              <option value ={{month}} *ngFor="let month of monthList">{{month}}</option>
            </select>
          </div>
          <div class="col-sm-3 padding-left5">
            <select class="form-control" formControlName="year" (change)="onFromYear($event.target.value)" required>
              <option value="{{year}}" *ngFor="let year of yearList | minrange:toYear" >{{year}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="worked-to col-sm-6 padding-left5">
        <div formGroupName="to">
          <div class="col-sm-3 no-padding">
            <label>To Date</label>
          </div>
          <div class="col-sm-6 padding-right5">
            <select class="form-control" formControlName="month" required>
              <option value ={{month}} *ngFor="let month of monthList" >{{month}}</option>
            </select>
          </div>
          <div class="col-sm-3 padding-left5">
            <select class="form-control" formControlName="year" (change)="onToYear($event.target.value)" required>
              <option value="{{year}}" *ngFor="let year of yearList | maxrange:fromYear" >{{year}}</option>
            </select>
          </div>
          <!--<div >  &lt;!&ndash;*ngIf="item.to.month ==''"&ndash;&gt;
            <label class="checkbox-inline">
              <input type="checkbox" (click)="setCurrentDate()" name="TillDate" value="TillDate"/>Till Date
            </label>
          </div>-->
        </div>
      </div>
    </div>
  </div>
  <div class="right-content">
    <div>
      <textarea class="form-control" formControlName="remarks" Placeholder="Remark"></textarea>
    </div>
  </div>
</div>
