$border-color: #ccc;

.error-messages {
  position: absolute;

  p {
    color: #e82c0c;
    font-size: 10px;
    padding-left: 0;
    font-style: italic;
    margin: 0;
  }
}

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.left-content {
  width: 50%;
  float: left;
  padding-right: 5px;

  .worked-to,
  .worked-from {
    select {
      margin-bottom: 0;
    }
  }
}

.right-content {
  width: 50%;
  float: left;
  padding-left: 5px;
}

.compact-view {
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.hide {
  display: none;
}

@media only screen and (max-width: 980px) {
  .left-content,
  .right-content {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .left-content {
    padding: 0 15px;
  }

  .col-sm-12,
  .col-sm-6,
  .form {
    clear: both;
    padding: 0;
  }

  .right-content {
    margin-bottom: 15px;
    padding: 0 15px;
  }
}
