<div class="attribute-container">
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Key Skills</h6>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <!-- Start: repeat this div using for loop -->
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult |valueSortFilter">
        <!--<div *ngFor="let value of item.proficienciesMatch">
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            {{value}}
          </p>
        </div>
        <div *ngFor="let value of item.proficienciesUnMatch">
          <p class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            {{value}}
          </p>
        </div>-->
        <div *ngFor="let value of item.candidateSkillStatus |attributeFilter:profileComparisonJobData.proficiencies">
          <p *ngIf="value.status == 'Match'" class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            {{value.name}}
          </p>
          <p *ngIf="value.status == 'UnMatch'" class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            {{value.name}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Current Salary</h6>
        <p>{{profileComparisonJobData.salaryMinValue}} Lac - {{profileComparisonJobData.salaryMaxValue}} Lac</p>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <!-- Start: repeat this div using for loop -->
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult|valueSortFilter">
        <div>
          <p *ngIf="item.salaryMatch === 'exact'" class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            {{item?.professionalDetails.currentSalary}}
          </p>
          <p *ngIf="item.salaryMatch !== 'exact'" class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            {{item?.professionalDetails.currentSalary}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Total Experience</h6>
        <p>{{profileComparisonJobData.experienceMinValue}} Year - {{profileComparisonJobData.experienceMaxValue}}
          Year</p>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult">
        <div>
          <p *ngIf="item?.experienceMatch == 'exact'" class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            {{item?.professionalDetails.experience}}
          </p>
          <p *ngIf="item?.experienceMatch !== 'exact'" class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            {{item?.professionalDetails.experience}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Notice Period</h6>
        <p>{{profileComparisonJobData.joiningPeriod}}</p>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult|valueSortFilter">
        <div>
          <p class="matching-attribute">
            <span class="matching-attribute-icon"></span>
            {{item?.professionalDetails.noticePeriod}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Education</h6>
        <p>{{profileComparisonJobData.education}}</p>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult|valueSortFilter">
        <p>
          <span>
            {{item?.professionalDetails.education}}
          </span>
        </p>
      </div>
    </div>
  </div>
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Industry</h6>
        <p>{{profileComparisonJobData.industryName}}</p>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult|valueSortFilter">
        <div>
          <p>
            <span></span>
            {{item?.industryName}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Location</h6>
        <p>{{profileComparisonJobData.city}}</p>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult |valueSortFilter">
        <div>
          <p>
            {{item?.location.city}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Extra Key Skills</h6>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult |valueSortFilter">
        <p>
          <span *ngFor="let value of item.proficiencies;let i = index">
            <span *ngIf="item.proficienciesMatch.indexOf(value) == -1">
              {{value}}<span *ngIf="i !== item.proficiencies.length-1">,</span>&nbsp;
            </span>
        </span>
        </p>
      </div>
    </div>
  </div>
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Domain</h6>
        <p *ngFor="let value of profileComparisonJobData.interestedIndustries">
          {{value}}
        </p>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult|valueSortFilter">
        <!--<div *ngIf="item.proficienciesMatch.indexOf(value) !== -1">-->
        <div *ngFor="let value of item.interestedIndustryMatch">
          <p class="matching-attribute" *ngIf="item.interestedIndustryMatch.indexOf('None') == -1">
            <span class="matching-attribute-icon"></span>
            {{value}}
          </p>
        </div>
        <!--</div>-->
        <div *ngFor="let value of item.interestedIndustries">
          <p *ngIf="item.interestedIndustryMatch.indexOf(value) == -1" class="mismatch-attribute">
            <span class="mismatch-attribute-icon"></span>
            {{value}}
          </p>
        </div>
    </div>

    </div>
  </div>
  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Additional Capabilities</h6>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult|valueSortFilter">
        <p>
          <span *ngFor="let value of item.additionalCapabilites;let i = index">
            {{value}}<span *ngIf="i !== item.additionalCapabilites.length-1">,</span>&nbsp;
          </span>
        </p>
      </div>
    </div>
  </div>

  <div class="candidate-compare-attribute clearfix">
    <div class="matching-attribute-name">
      <div class="inner">
        <h6>Company Culture</h6>
      </div>
    </div>
    <div class="matching-candidate-attributes">
      <div class="candidate-attribute-list" *ngFor="let item of profileComparisonResult|valueSortFilter">
        <p>
          <span>
            {{item?.professionalDetails.industryExposure}}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
