@import '../../../../../../css/common';
@import '../cost-summary.component';

.panel-default {
  margin-top: 5px;
  .panel-body {
    border: 0;
    padding: 0;
  }
}
.tt-price {
  display: block;
  //width: 75px;
  width: 100%;
  //min-width: 65px;
  //max-width: 100px;
}
@media only screen and (max-width: 767px) {
  .panel-default {
    .panel-heading {
      float: left;
      width: 100%;
      a {
        border-radius: 3px;
        float: left;
        font-size: 18px;
        padding: 10px 20px 10px 25px;
        position: relative;
        width: 100%;
      }
      .menu-items > a {
        border-radius: 2px;
        height: 24px;
        padding: 0;
        width: 14px;
      }
    }
  }
  .table-dashboard{
    tbody{
      tr{
        td{
          &:first-child{
            min-width: 100%;
          }
          &:nth-child(7){
            width: 100%!important;
          }
        }
      }
    }
  }
}
.cost-summary-table{
  tr{
    td{
      border-right: 1px solid #f3f3f3;
      overflow-wrap: break-word;
      &:nth-child(1){
        max-width: 115px;
      }
    }
  }
}
.no-underline{
  text-decoration: none!important;
}
.total-table-common-amenities {
  tr {
    //td {
    //    width: 11%;
    //    &:nth-child(1) {
    //      width: 17%;
    //    }
    //    &:nth-child(3) {
    //      width: 15%;
    //    }
    //    &:nth-child(7) {
    //      width: 14%!important;
    //    }
    //}
    td{
      text-align: right;
      border-right: 1px solid #f3f3f3;
      //width: 11%;
      &:nth-child(1){
        width: 17%!important;
      }
      &:nth-child(3){
        width: 11%!important;
      }
      &:nth-child(4){
        width: 11%!important;
      }
      &:nth-child(6){
        width: 11%!important;
      }
      &:nth-child(7){
        width: 12%!important;
        border-radius: 0 !important;
      }
      &:nth-child(8){
        width: 12%!important;
      }
      &:nth-child(9){
        width: 12%!important;
      }
      &:nth-child(10){
        width: 12%!important;
      }
      &:last-child {
        border-radius: 0 6px 6px 0;
        //text-align: center;
        //width: 120px;
      }
    }
  }
}
@media (min-width:1500px) and (max-width: 1920px) {
  .total-table-common-amenities{
    tbody{
      tr{
        td{
          &:nth-child(1){
            width: 18%!important;
          }
        }
      }
    }
  }
}
