<div class="list-container" id="recruiter-list-view">
  <div class="header">
    <!--<a href="./public/recruiter.csv" download="Recruiter.csv" title="Export recruiter to CSV File"><i class="glyphicon glyphicon-export"></i>Export</a>-->
  </div>
  <div title="Export recruiters list to CSV file" class="export-data-link" (click)="generateRecruiterDetailFile()"><span class="glyphicon glyphicon-export" ></span>Export</div>
  <div *ngIf="recruiters && recruiters.length > 0" class="list-view">
    <ul class="list-header">
      <li>
        <h5>{{getLabel().COMPANY_NAME}}</h5>
      </li>
      <li>
        <h5>{{getLabel().EMAIL_FIELD_LABEL}}</h5>
      </li>
      <li>
        <h5>{{getLabel().CONTACT_FIELD_LABEL}}</h5>
      </li>
      <li>
        <h5>{{getLabel().CURRENT_LOCATION}}</h5>
      </li>
      <li>
        <h5>{{getLabel().TOTAL_POSTED_JOB}}</h5>
      </li>
      <li>
        <h5>{{getLabel().ACTIVATION_STATUS}}</h5>
      </li>
      <li>
        <h5>{{getLabel().ACTIONS}}</h5>
      </li>
    </ul>
    <div *ngFor="let recruiter of recruiters;let i = index">
      <ul>
        <li>
          <p>{{recruiter.data.company_name}} ({{recruiter.data.company_size}})</p>
        </li>
        <li>
          <p>{{recruiter.email}}</p>
        </li>
        <li>
          <p>+91-{{recruiter.mobile_number}}</p>
        </li>
        <li>
          <p *ngIf="recruiter.location && recruiter.location.city">{{recruiter.location.city}}</p>
        </li>
        <li>
          <span *ngIf="recruiter.data && jobs">{{jobs.length}}</span>
        </li>
        <li>
          <div *ngIf="recruiter.isActivated"><span class="activated" title="User account is active."></span><span>Active</span></div>
          <div *ngIf="!recruiter.isActivated"><span class="not-activated" title="User account is inactive."></span><span>Deactivated</span></div>
        </li>
        <li>
          <button *ngIf="recruiter.isActivated" class="btn-danger btn-custom" (click)="updateDetail(i,recruiter,recruiter.isActivated)" title="Click to deactivate this account.">Deactivate</button>
          <button *ngIf="!recruiter.isActivated" class="btn-primary btn-custom" (click)="updateDetail(i,recruiter,recruiter.isActivated)" title="Click to activate this account">Activate</button>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <cn-filter-bar (onItemSelect)="loadUser($event)"></cn-filter-bar>
  </div>
</div>
<div *ngIf="recruiters == undefined || recruiters && recruiters.length==0"> {{getMessages().NO_RECRUITERS_AVAILABLE}} </div>
