<section class="main-form-wrapper company-details" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}">
  <main-header></main-header>

  <app-loader></app-loader>

  <div class="content">

    <h5>Upload Documents <span class="glyphicon glyphicon-remove" (click)="navigateTo('/landing')"></span></h5>

    <form [formGroup]="companyDetailsForm" (submit)="onSubmit()">

      <h4>{{company_name}}</h4>

      <div class="col-sm-12 no-padding">
        <div class="col-sm-2 no-padding">
          <label>Logo:</label>
        </div>
        <div class="col-sm-7">
          <cn-profile-picture></cn-profile-picture>
        </div>
      </div>

      <div class="col-sm-10 no-padding">
        <div [class.hide-list]="isSocialLogin">
          <div class="col-sm-2 no-padding">
            <label for="file-upload">Document1:</label>
          </div>
          <div class="col-sm-7">
            <textarea type="text" formControlName="description1" id="description1" class="form-control"></textarea>
          </div>
          <div class="col-sm-3 no-padding">
            <label for="file-upload" class="custom-file-upload">Upload File</label>
            <input id="file-upload" type="file" (change)="fileChangeEvent($event)" placeholder="Upload file" />
          </div>
        </div>
      </div>

      <div class="col-sm-10 no-padding">
        <div [class.hide-list]="isSocialLogin">
          <div class="col-sm-2 no-padding">
            <label for="file-upload">Document2:</label>
          </div>
          <div class="col-sm-7">
            <textarea type="text" formControlName="description2" id="description2" class="form-control"></textarea>
          </div>
          <div class="col-sm-3 no-padding">
            <label for="file-upload" class="custom-file-upload">Upload File</label>
            <input id="file-upload2" type="file" (change)="fileChangeEvent2($event)" placeholder="Upload file"/>
          </div>
        </div>
      </div>

      <div class="col-sm-10 no-padding">
        <div [class.hide-list]="isSocialLogin">
          <div class="col-sm-2 no-padding">
            <label for="file-upload">Document3:</label>
          </div>
          <div class="col-sm-7">
            <textarea type="text" formControlName="description3" id="description3" class="form-control"></textarea>
          </div>
          <div class="col-sm-3 no-padding">
            <label for="file-upload" class="custom-file-upload">Upload File</label>
            <input id="file-upload3" type="file" (change)="fileChangeEvent3($event)" placeholder="Upload file"/>
          </div>
        </div>
      </div>

      <div class="button-group">
        <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit Documents</button>
      </div>
    </form>
  </div>
</section>
