$btn-color: #0d75fa;
$text-color: #333;
$border-color: #e8e8e8;

.error-messages {
  color: #f66761;
  font-size: 10px;
  font-style: italic;
  margin: 3px 0 0;
  position: absolute;
  line-height: 11px;
}

.btn {
  &:focus,
  &:active {
    outline: 0;
  }
}

.company-details {
  background-position: 0 0;
  display: table;

  .content {
    left: 50%;
    margin: 0 0 35px;
    position: absolute;
    top: 18%;
    transform: translate(-50%, 0);
    width: 40%;
  }

  form {
    padding: 15px;

    h4 {
      margin: 0 0 15px;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .upload-documents {
    clear: both;
    float: left;
    margin-top: 20px;
    border: 1px solid $border-color;
    width: 100%;

    label {
      margin-top: 15px;
    }

    [type='file'] {
      display: none;
    }

    .col-sm-12 {
      display: inline-block;
      padding: 0 0 30px;
      clear: both;
      width: 100%;
    }

    textarea {
      width: 100%;
      resize: none;
      border-radius: 0;
      overflow-y: auto;

    }

    .custom-file-upload {
      background: #0d75fa;
      border-radius: 4px;
      cursor: pointer;
      display: inline-block;
      float: left;
      margin: 0 10px 0 0;
      padding: 2px;
    }

    .file-name {
      margin: 7px 0 0;
      font-size: 12px;
      color: $btn-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 20px;
    }
  }

  .button-group {
    float: left;
    margin: 15px 0;
  }

  .about-company {
    height: 120px;
    border-radius: 0;
    resize: none;
  }

  input {
    border-radius: 0;
  }

  label {
    font-weight: 100;
    color: $text-color;
    margin: 5px 0;
  }
}

@media only screen and (max-width: 1366px) {
  .company-details {
    .content {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .company-details {
    .content {
      width: 60%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .company-details {
    .content {
      width: 70%;
    }

    form {
      padding: 15px;
    }
  }
}

@media only screen and (max-width: 980px) {
  .company-details {
    .content {
      width: 80%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .company-details {
    .content {
      width: 90%;
    }

    .upload-documents {
      padding: 0;
      border: 0;

      .col-sm-5 {
        padding: 0;

        input {
          margin-bottom: 20px;
        }

        .error-messages {
          margin: -17px 0 0;
        }
      }

      .file-name {
        white-space: pre-wrap;
      }
    }
  }
}
