$message: #00aed5;
$border-color: #e8e8e8;

.proficiency-container {
  .messages {
    color: $message;
    padding: 0;
  }
}

.compact-view {
  border-bottom: 1px solid $border-color;
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .proficiency-container {
    padding: 0;
  }
}


