<div class="clearfix">
  <div class="section-container clearfix profeiciency-domain" >
    <div class="main-content  modal-content clearfix"  *ngIf="highlightedSection.name=='Proficiencies'">
      <h4 class="heading">Proficiencies (Max 25)</h4>
      <p class="info">Enter all key words that describe your area of expertise or specialization. These
        proficiencies will be used for second level of matching post
        capability. <span class="messages">You can edit this list anytime.</span></p>
      <div class="proficiency-container col-sm-12">

        <cn-multi-select  [data]="proficiencies" [selectedData]="choosedproficiencies" (onComplete)="onProficiencyComplete($event)"  ></cn-multi-select>
        <div class="button-group clearfix">
          <button class="btn btn-primary" scrollTo scrollTargetSelector="#industry-experience"
                  (click)="onNext()" [disabled]="disablebutton">Next
          </button>
        </div>
      </div>
    </div>
    <div class="main-content" *ngIf="highlightedSection.name !='Proficiencies'">
      <div class="compact-view clearfix">
        <button class="btn-edit" (click)="highlightedSection.name='Proficiencies';disablebutton=false"></button>
        <h4 class="heading">Proficiencies</h4>
        <span class="option col-sm-3 padding-right15" *ngFor="let item of choosedproficiencies;let i = index">
          {{item}}
        </span>
      </div>
    </div>
  </div>
</div>






