$border-color: #e8e8e8;
$text-color: #666;
$btn-color: #3694d1;
$message: #00aed5;

.proficiency-container  {

  .btn-container {
    border: 1px solid $border-color;
    min-height: 65px;
    padding: 15px 15px 5px;
    margin-top: 5px;

    div {
      float: left;
      margin: 0 10px 10px 0;
    }

    .btn-create-profile {
      font-size: 12px;
      padding: 6px 15px;
      background-color: #fff;
      border: 1px solid $btn-color;

      .glyphicon-remove {
        top: 3px;
      }
    }

    span {
      color:  $btn-color;
      font-size: 12px;
      padding-left: 20px;
    }
  }

  .add-proficiency {
    margin-top: 15px;

    input {
      margin: 15px 0;
    }
  }

  .info-message {
    font-size: 12px;
    font-style: italic;
    margin: 0 0 10px;
  }

  .messages {
    color: $message;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .proficiency-container {
    padding: 0;
  }
}


