@import '../../../../css/variables';

.compact-view {
  //border-bottom: 1px solid $border-color;
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.proficiencies-left-section {
  margin-right: 18px;
  padding: 0 0 75px 50px;
  width: 56.333333%;
  h4 {
    padding: 8px 15px 8px 0;
    width: 100% !important;
  }
}

.main-content {
  .mini-value-portrait-section {
    zoom: 0.3;
    z-index: 999;
  }
  .button-group {
    width: calc(100% - 400px);
  }
}

@media only screen and (max-width: 767px) {
  .proficiencies-left-section {
    padding: 0 0 75px 30px;
    width: 97%;
  }
  .button-group  {
    width: 100% !important;
  }
  .select-keyskill {
    float: none;
  }
}
