@import '../../../../../../../css/common';

.table-categories {
  //border-bottom: 1px solid $border-color;

  tr {
    display: inline-block;
    width: 100%;

    .delete-Quantity-details {
      cursor: pointer;
      margin-top: 5px;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      width: 20px;
    }

    &:hover {
      opacity: 1;
    }
  }
  thead > tr {
    border-top: 1px solid $gray-light;
    border-bottom: 1px solid $gray-light;
  }

  tr > td,
  tr > th {
    float: left;

    &:nth-child(1) {
      width: 295px;
    }

    &:nth-child(2),
    &:nth-child(4) {
      text-align: right;
      width: 130px;
    }

    &:nth-child(2) {
      .btn-get-amount {
        margin-right: 20px;
      }
    }

    &:nth-child(3) {
      text-align: left;
      width: 75px;
    }

    &:nth-child(4) {
      .value {
        padding-right: 28px;
      }
    }

    &:nth-child(5) {
      text-align: right;
      width: 110px;
    }

    &:nth-child(6) {
      width: 110px;
      text-align: center;
    }


    &:last-child {
      vertical-align: top;
    }
    .edit-field {
      margin: 2px;
      min-height: 25px;
    }

    .value {
      padding: 7px 0;
      display: inline-block;
    }
  }

  .quantity-name {
    box-shadow: none;
    font-size: 12px;
    height: 26px;
    margin: 1px 0 5px;
    padding: 3px;
  }
  .hide-hover {
    &:hover {
      background: transparent;
    }
  }

  .show-embedded-table {
    display: block;
    float: right !important;
    margin-right: 5px;
    padding: 0;
    width: calc(100% - 356px) !important;
  }

  .edit-cost-null {
    display: inline-block;
    padding: 5px;
  }

  .edit-cost {
    border-bottom: 1px solid $body-text;
    display: inline-block;
    padding: 7px 2px 2px;
  }
}
