<div class="modal-bg" *ngIf="highlightedSection.name=='ReleventIndustry'"></div>
<div class="section-container" *ngIf="highlightedSection.name=='ReleventIndustry'">
  <!--
    <cn-tool-tip [message]="tooltipMessage"></cn-tool-tip>
  -->
  <div class="main-content clearfix edit-modal-content">

    <h4 class="heading">Do you wish to see candidates with similar skills from other industries?</h4>
    <div class="scrollable-content">
      <p>{{suggestionMsgForReleventIndustry}}</p>
      <!--<input type="checkbox" name="relevent" value="relevent" (change)="getReleventIndustry($event)"
             [checked]="showRleventindustry == true"> Relevent Industry-->
      <div class="col-sm-12 no-padding select-industry">
        <div>
          <div class="select-option" *ngFor="let item of releventIndustries;let i = index">
            <label>
              <input type="checkbox" name="item.name" id="{{item.name}}" value="{{item.name}}"
                     (click)="onValueChange($event,i)" [checked]="item.isChecked == true">
              <span>{{item.name}}</span>
              <div class="check"></div>
            </label>
          </div>
        </div>
      </div>
    </div>

    <cn-tool-tip [message]="tooltipMessage"></cn-tool-tip>

    <button class="btn-prev" (click)="onPrevious()"><span
      class="glyphicon glyphicon-chevron-left"></span></button>
    <div class="button-group clearfix">
      <!--<div class="saving-loader">Saving...</div>-->
      <button class="btn btn-primary"
              (click)="goNext()" [hidden]="!showButton">Next
      </button>

      <button class="btn btn-primary" (click)="onSave()" [hidden]="showButton">Done
      </button>
    </div>
  </div>
</div>

<div class="section-container" *ngIf="highlightedSection.name!='ReleventIndustry' && releventIndustries.length">
  <div class="main-content" (click)="onEdit()">
    <div class="compact-view clearfix">
      <button class="btn-edit"
              (click)="onEdit()"
              title="ReleventIndustry"></button>
      <div class="col-sm-3 padding-right15">
        <h4 class="heading-compact">Additional Industries
        </h4>
      </div>
      <div class="col-sm-9 padding-left15">
        <div class="option-list" *ngFor="let item of slectedReleventIndustry;let i = index">
          <span class="option">{{item}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
