<div class="modal-bg" *ngIf="highlightedSection.name=='ReleventIndustry'"></div>
<div class="section-container" *ngIf="highlightedSection.name=='ReleventIndustry'">
  <!--
    <cn-tool-tip [message]="tooltipMessage"></cn-tool-tip>
  -->
  <div class="main-content clearfix edit-modal-content">
    <div class="col-sm-9 profile-description">
      <div class="select-industry clearfix">
        <div class="col-sm-12 no-padding">
          <span>{{suggestionMsgForReleventIndustry}}</span>
          <input type="checkbox" name="relevent" value="relevent" (change)="getReleventIndustry($event)" [checked]="showRleventindustry == true"> Relevent Industry<br>
          <div *ngIf="showRleventindustry">
          <div class="max-height">
            <div class="select-option" *ngFor="let item of releventIndustries;let i = index">
              <label>
                <input type="checkbox" name="item.name" id="{{item.name}}" value="{{item.name}}"
                       (click)="onValueChange($event,i)" [checked]="item.isChecked == true">
                <span>{{item.name}}</span>
              </label>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn-prev" (click)="highlightedSection.name='IndustryExposure'"><span
      class="glyphicon glyphicon-chevron-left"></span></button>
    <div class="button-group clearfix">
      <!--<div class="saving-loader">Saving...</div>-->
      <button class="btn btn-primary"
              (click)="onNext()" [hidden]="!showButton">Next
      </button>

      <button class="btn btn-primary" (click)="onSave()" [hidden]="showButton">Done
      </button>
    </div>
  </div>
</div>

<div class="section-container" *ngIf="highlightedSection.name!='ReleventIndustry'">
  <div class="main-content">
    <div class="compact-view clearfix">
      <h4 class="heading">ReleventIndustry
        <button class="btn-edit" (click)="highlightedSection.name='ReleventIndustry';showButton=false;disableButton=false" title="ReleventIndustry"></button>
      </h4>
      <div class="clearfix">
        <div class="select-option" *ngFor="let item of workAreasToUpdate;let i = index">
          <label>
            <p>{{item}}</p>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
