//Common Variables
$white: #fff;
$bg-notification-unread: #fafafa;
$bg-wrapper: #f8f8f8;
$loader-border: #f3f3f3;
$header-bg: #e8e8e8;
$border-color: #e8e8e8;
$border-grey: #ccc;
$wrapper-text: #aaa;
$wrapper-border: #999;
$text-color: #666;
$sub-heading: #666;
$grey-background: #777;
$error-success: #42a948;
$error-failure: #a94442;
$toaster-error: #f66761;
$toaster-success: #42a948; // #3ec59d;
$bg-disabled: #e82c0c;
$background-black-alpha5: rgba(0, 0, 0, .5);
$toaster-message: rgba(102, 102, 102, .35);
$bg-content: rgba(255, 255, 255, .1);
$modal-bg: rgba(0, 0, 0, .7);


//Common Classes
// Remove important
.no-border { border: transparent 1px solid; }

.no-padding { padding: 0; }

.clear { clear: both; }

.margin-right15 { margin-right: 15px; }

.margin-left15 { margin-left: 15px; }

.padding-left5 {
  padding-left: 5px;
  padding-right: 0;
}

.padding-right5 {
  padding-left: 0;
  padding-right: 5px;
}

:focus { outline: none; }

%background-img {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

//Common Css
//Body
body,
html {
  font-family: Arial, sans-serif;
  height: 100%;
  text-align: center;

  //Container
  .container-fluid {
    height: 100%;
    min-height: 100%;
    padding: 0;
    position: relative;
  }
}

//Sections
main {
  section {
    padding-top: 50px;
  }

  //Unordered List
  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: table;
      padding: 0;
      text-align: left;
      width: 100%;
    }

    li > a {
      color: $text-color;
      display: block;
      padding: 15px;
      width: 100%;
    }
  }
}

// Page Loader
.loader-container {
  background: $background-black-alpha5;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;

  .inner-loader {
    animation: spin 2s linear infinite;
    border: 5px solid $loader-border;
    border-radius: 50%;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: fixed;
    top: 50%;
    vertical-align: middle;
    width: 50px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


// Paragraphs
p {
  color: $text-color;
  margin: 10px 0;
  word-wrap: break-word;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

//Forms
form {
  margin-top: 20px;

  .form-group {

    label {
      color: $text-color;
      display: block;
      float: left;
      font-size: 14px;
      font-weight: 100;
    }

    .form-control {
      background: transparent;
      border-left: transparent 1px solid;
      border-radius: 0;
      border-right: transparent 1px solid;
      border-top: transparent 1px solid;
      box-shadow: none;
      color: $text-color;
      display: block;
      padding: 6px 0;

      &:focus {
        box-shadow: none;
        outline: 0;
      }
    }
  }

  [type='number'] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -moz-appearance: textfield;
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }
  }
}

//Buttons
.btn {
  border-radius: 25px;
  padding: 6px 25px;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.btn,
.btn-notification,
.btn-back {

  &:focus,
  &:active,
  &:hover {
    box-shadow: none;
    outline: none;
  }
}

.btn-back,
.btn-close,
.btn-notification {
  background: none;
  border: 0;
  display: block;
  position: relative;
}

.btn-notification {
  float: right;
  margin-top: 15px;
  width: 26px;
  z-index: 99;

  img {
    width: 17px;
  }
}

.btn-back {
  margin-top: 14px;
  width: 22px;
  z-index: 101;

  &:focus {
    outline: none;
  }
}

.btn-close {
  float: right;
  padding: 0;
  width: 12px;
  z-index: 101;

  &:focus {
    outline: none;
  }
}

// Headings
h3,
h4,
h5 {
  @extend %text-ellipsis;
  display: block;
}

h3 {
  font-size: 80px;
  margin: 80px auto 0;
}

h4 {
  color: $sub-heading;
  margin: 30px auto 0;
}

h5 {
  font-size: 16px;
}

// Other Links
.other-links {
  font-size: 12px;
  margin: 15px 0 0;
  text-align: center;
}

// Toaster Messages
.toaster-message {
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0 $toaster-message;
  margin-left: -200px;
  max-height: 200px;
  overflow: auto;
  padding: 15px 0;
  position: fixed;
  right: 15px;
  text-align: left;
  top: 71px;
  width: 400px;
  z-index: 10;

  P,
  span {
    color: $white;
    margin: 0;
  }
}

.toaster-error {
  background: $toaster-error;
  z-index: 1;
}

.toaster-success {
  background: $toaster-success;
  z-index: 2;
}

.alert {
  margin: 0;
  padding: 10px;

  .error-msg,
  .close-msg,
  .col-sm-1 {
    padding: 0;
    text-align: left;
  }
}

//popup or modals

.modal {
  animation: fadein .5s;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .modal-bg {
    background: $modal-bg;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    p {
      text-align: justify;
    }
  }

  .modal-dialog {
    top: 50%;
    transform: translate(0, -50%);
  }

  .modal-header {
    h5 {
      margin-bottom: 0;
      margin-top: 0;
      text-align: left;
      width: 80%;
    }
  }
}

.main-form-wrapper {
  @extend %background-img;
  background-color: $bg-wrapper;
  height: 100vh;
  left: 0;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;

  .content {
    background: $white;
    left: 50%;
    margin-right: -50%;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 50%;
    transform: translate(-50%, -50%);

    h5 {
      color: $white;
      font-family: 'helvlightregular';
      font-size: 18px;
      margin: 0;
      padding: 10px 0 10px 30px;
    }

    p {
      text-align: justify;
    }
  }

  form {
    margin-top: 0;
    padding: 15px;

    [type='number'] {
      -moz-appearance: textfield;
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
    }

    .form-control {
      color: $text-color;
    }
  }

  .radio-group {
    padding: 15px 0;
    width: 100%;

    label, .lable-name {
      width: 120px;
      margin-right: 15px;
    }
  }

  .button-group {
    clear: both;
    text-align: center;
    width: 100%;

    .btn {
      float: none;
    }
  }

  .form-group {
    float: left;
    margin-bottom: 25px;
    padding: 0;
    position: relative;
    width: 100%;

    label {
      -moz-transition: top .5s ease-in, font-size .5s ease-in;
      -webkit-transition: top .5s ease-in, font-size .5s ease-in;
      color: $wrapper-border;
      font-size: 14px;
      font-weight: normal;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 10px;
      //transition: .2s ease all;
      transition: top .5s ease-in, font-size .5s ease-in;
    }

    input {
      &:focus ~ label,
      &:valid ~ label {
        font-size: 12px;
        top: -10px;
      }
    }

    select {
      &:focus ~ label,
      &:valid ~ label {
        font-size: 12px;
        top: -10px;
      }
    }
  }
}

control-messages {
  div {
    color: $toaster-error;
    font-size: 10px;
    font-style: italic;
    margin: 35px 0 6px;
    padding-right: 0;
    position: absolute;
    right: 0;
  }
}

.dashboard {
  control-messages {
    div {
      margin: 35px 0 0;
    }
  }
}

.registration {
  control-messages {
    div {
      padding: 0 15px 0 0;
    }
  }
}

.contact {
  control-messages {
    div {
      margin: 7px 5px 0;
    }
  }
}

// Media Queries
@media only screen and (max-width: 768px) {

  .container-fluid>.navbar-collapse,
  .container-fluid>.navbar-header,
  .container>.navbar-collapse,
  .container>.navbar-header {
    margin-left: 0;
    margin-right: 0;
  }

  input,
  select,
  textarea {
    font-size: 14px;
  }

  .main-form-wrapper {
    .content {
      h5 {
        padding-left: 15px;
      }
    }
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .main-form-wrapper {
    height: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .toaster-message {
    margin-right: -40%;
    position: fixed;
    right: 50%;
    width: 80%;
  }

  .main-form-wrapper {
    .content {
      left: 50%;
      margin: 50px 0;
      top: 0;
      transform: translate(-50%, 0);

      form {
        padding: 15px;
      }

      .radio-group {
        padding: 15px 0;
      }

      .radio-inline {
        width: auto;
        display: inline-block;
        margin: 0 20px 0 0;
      }

      form > .form-group,
      .lable-name {
        width: 100%;
        padding: 0;
      }

      .form-group > label {
        left: 0;
      }
    }

    control-messages {
      div {
        left: 0;
        margin-top: 35px;
        padding: 0;
        text-align: left;
      }
    }
  }

  .contact {
    .form-control {
      margin-top: 25px;
    }

    control-messages {
      div {
        left: 0;
        margin: -18px 0 0 15px;
        position: absolute;
        text-align: left;
      }
    }
  }

  .dashboard-profile,
  .settings,
  .change-email,
  .change-mobile {
    label {
      margin-bottom: 0;
    }

    input {
      margin-bottom: 20px;
    }

    control-messages {
      div {
        left: 0;
        margin-top: 53px;
        padding: 0 0 0 15px;
        text-align: left;
      }
    }
  }

}

