//Common Variables
$white: #fff;
$bg-notification-unread: #fafafa;
$bg-wrapper: #f8f8f8;
$loader-border: #d5d5d5;
$header-bg: #e8e8e8;
$border-color: #e8e8e8;
$border-grey: #ccc;
$wrapper-text: #aaa;
$wrapper-border: #999;
$text-color: #333;
$sub-heading: #666;
$grey-background: #777;
$error-success: #42a948;
$error-failure: #a94442;
$toaster-error: #f66761;
$toaster-success: #ffd; // #3ec59d;
$bg-disabled: #e82c0c;
$background-black-alpha5: rgba(0, 0, 0, .1);
$toaster-message: rgba(102, 102, 102, .35);
$bg-content: rgba(255, 255, 255, .1);
$modal-bg: rgba(0, 0, 0, .7);
$btn-color: #1c75bd;
$input-bg: rgba(255, 255, 255, .1);
$label: #333;
$theme-color: #66afe9;
$gray-shadow: rgba(0, 0, 0, .075);
$blue-shadow: rgba(102, 175, 233, .6);
$body-bg: #edf1f5;
$required-field: #e82c0c;
$optional-field: #29b6f6;

.btn-logout {
  margin-top: 15px;
  position: fixed;
  right: 10px;
  top: -4px;
  z-index: 1000;
  padding: 3px 15px !important;
  background: #266f9e !important;
  border: #266f9e 1px solid !important;
  box-shadow: 0 0 1px 0 #266f9e inset, 0 0 1px 0 #266f9e !important;

  &:active,
  &:hover,
  &:focus {
    color: $white;
    outline: 0;
  }
}

//Common Classes
.no-border {
  border: transparent 1px solid;
}

.no-padding {
  padding: 0;
}

.clear {
  clear: both;
}

.margin-right15 {
  margin-right: 15px;
}

.margin-left15 {
  margin-left: 15px;
}

.padding-left5 {
  padding-left: 5px;
  padding-right: 0;
}

.padding-right5 {
  padding-left: 0;
  padding-right: 5px;
}

.padding-left15 {
  padding-left: 15px;
  padding-right: 0;
}

.padding-right15 {
  padding-left: 0;
  padding-right: 15px;
}

.required-field {
  color: $required-field;
  font-size: 14px;
  font-weight: bold;
}

.optional-field {
  color: $optional-field !important;
  font-size: 12px;
  font-weight: bold;
}

.input-group-addon {
  padding: 6px 12px 6px 0;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 4px;
  font-weight: bold;
}

:focus {
  outline: none;
}

%background-img {
  background-size: cover;
  background: no-repeat fixed 0 0;
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

//Common Css
//Body
body,
html {
  font-family: 'gothamrnd-light';
  font-weight: 600;
  //height: 100%;
  text-align: center;
  background: $body-bg;

  //Container
  .container-fluid {
    height: 100%;
    min-height: 100%;
    padding: 0;
    position: relative;
  }
}

//Sections
main {
  section {
    padding-top: 50px;
  }

  //Unordered List
  ul {
    list-style: none;
    padding-left: 0;

    li {
      display: table;
      padding: 0;
      text-align: left;
      width: 100%;
    }

    li > a {
      color: $text-color;
      display: block;
      padding: 15px;
      width: 100%;
    }
  }
}

// Page Loader
.loader-container {
  background: $background-black-alpha5;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;

  .inner-loader {
    animation: spin 2s linear infinite;
    border: 5px solid $white;
    border-radius: 50%;
    //display: none;
    height: 50px;
    right: 20px;
    //margin-left: -25px;
    //margin-top: -25px;
    position: fixed;
    /*bottom: 20px;*/
    vertical-align: middle;
    width: 50px;
    z-index: 100000;
    left: 50%;
    top: 45%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Paragraphs
p {
  color: $text-color;
  margin: 10px 0;
  word-wrap: break-word;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

//Forms

select,
.select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: $white url('../assets/framework/images/form/drop-down.png') no-repeat 98% 50%;
  border: 1px solid $white;
  border-bottom: 1px solid $border-grey;
  border-radius: 0;
  box-shadow: none;
  padding: 6px 0;
  width: 100%;
  font-size: 16px;
  font-family: 'gothamrnd-book';

  &:focus,
  &:active {
    border: 1px solid $white;
    border-bottom: 1px solid $theme-color;
    //box-shadow: inset 0 1px 1px $gray-shadow, 0 0 8px $blue-shadow;
    outline: 0;
  }

  option {
    color: #666;
    font-weight: 900;
    font-size: 13px;
    padding: 2px 0;
  }
}

.form-group {
  position: relative;

  label {
    color: $label;
    display: block;
    float: left;
    font-size: 14px;
    font-family: 'gothamrnd-book';
  }

  .form-control {
    background: transparent;
    border-left: transparent 1px solid;
    border-radius: 0;
    border-right: transparent 1px solid;
    border-top: transparent 1px solid;
    box-shadow: none;
    color: $text-color;
    display: block;
    padding: 6px 0;
    font-size: 16px;
    font-family: 'gothamrnd-book';

    &:focus {
      box-shadow: none;
      outline: 0;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:active,
    &:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 1000px white inset !important;
      background: $input-bg !important;
      -webkit-text-fill-color: $text-color;
      border-left: 1px solid $white;
      border-top: 1px solid $white;
      border-right: 1px solid $white;
      color: $text-color !important;
    }
  }
}

[type='number'] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
  appearance: none;
  margin: 0;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }
}

[type='radio'] {
  margin-top: 4px !important;
  width: 20px;
}

//Buttons
.btn {
  border-radius: 4px;
  height: 38px;
  padding: 9px 25px;
  font-weight: bold;
  box-shadow: 0 0 1px 0 #fff inset, 0 0 1px 0 #fff;
  border: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  &:focus,
  &:active,
  &:hover {
    box-shadow: 0 0 1px 0 #fff inset, 0 0 1px 0 #fff;
    outline: none;
    border: 0;
  }
}

.btn-default {
  background: #c1bfba;
  color: $white;
}

.btn-notification,
.btn-back {
  &:focus,
  &:active,
  &:hover {
    box-shadow: none;
    outline: none;
  }
}

.btn-back,
.btn-close,
.btn-notification {
  background: none;
  border: 0;
  display: block;
  position: relative;
}

.btn-notification {
  float: right;
  margin-top: 15px;
  width: 26px;
  z-index: 99;

  img {
    width: 17px;
  }
}

.btn-back {
  margin-top: 14px;
  width: 22px;
  //z-index: 101;

  &:focus {
    outline: none;
  }
}

.btn-close {
  float: right;
  padding: 0;
  width: 12px;
  z-index: 101;

  &:focus {
    outline: none;
  }
}

// Headings
h3,
h4,
h5 {
  @extend %text-ellipsis;
  display: block;
}

h3 {
  font-size: 80px;
  margin: 80px auto 0;
}

h4 {
  color: #333;
  font-weight: 600;
  margin: 30px auto 0;
}

.max-height {
  max-height: 285px;
  overflow: auto;
}

.min-height {
  height: 285px;
  overflow: auto;
}

// Other Links
.other-links {
  float: right;
  font-size: 11px;
  margin: 14px 14px 22px;
  text-align: right;
}

// Toaster Messages
.toaster-message {
  border-radius: 4px;
  box-shadow: 5px 5px 5px 0 $toaster-message;
  margin-left: -200px;
  max-height: 200px;
  overflow: auto;
  padding: 15px 0;
  position: fixed;
  right: 15px;
  text-align: left;
  top: inherit;
  width: 400px;
  z-index: 10;
  bottom: 15px;

  P,
  span {
    color: #000;
    margin: 0;
  }
}

.toaster-error {
  background: $toaster-error;
  z-index: 1000;
  p {
    color: #000;
  }
}

.toaster-success {
  background: $toaster-success;
  z-index: 1001;
  color: #000;
}

.alert {
  margin: 15px 15px 0;
  padding: 10px;

  .error-msg,
  .close-msg,
  .col-sm-1 {
    padding: 0;
    text-align: left;
  }
}


//popup or modals
.modal {
  animation: fadein .5s;

  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .modal-bg {
    background: $modal-bg;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .modal-dialog {
    top: 50%;
    transform: translate(0, -50%);
  }

  .modal-header {
    h5 {
      margin-bottom: 0;
      margin-top: 0;
      text-align: left;
      width: 80%;
    }
  }
}

control-messages {
  div {
    color: $toaster-error;
    font-size: 10px;
    font-style: italic;
    line-height: 12px;
    margin: 35px 0 6px;
    padding-right: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.dashboard {
  control-messages {
    div {
      margin: 35px 0 0;
    }
  }
}

.employee-form,
.employer-form {
  control-messages {
    div {
      padding: 0 0 0 15px;
    }
  }
}

.job-info {
  control-messages {
    div {
      padding: 0 0 0 15px;
    }
  }

  .form-group{
    control-messages {
      div {
        margin: 53px 0 0;
      }
    }
  }
}

.min-range {
  control-messages {
    div {
      padding: 0;
    }
  }
}

.contact {
  control-messages {
    div {
      margin: 7px 5px 0;
    }
  }
}

.company-details {
  .about-company > control-messages {
    div {
      margin: 120px 0 0;
    }
  }
}

//company upload page
#company-logo {
  .profile {
    width: 120px;
    padding: 0;
    text-align: left;
    margin: 0;



    .avtar > img {
      background: transparent;
    }

    form {
      bottom: -15px;
      position: absolute;
      right: 39px;
      text-align: right;
      padding: 0;
    }

    form > label {
      margin-bottom: 0;
      width: 30px;
      cursor: pointer;
      display: inline-block;
      float: left;
    }
  }
}

.logout-dropdown {
  position: fixed;
  right: 15px;
  top: 6px;
  display: none;

  li {
    width: auto;
    list-style: none;

    img {
      height: 30px;
      margin-top: 4px;
    }
  }

  .dropdown-menu {
    right: 0;
    margin: 10px 0 0;
    left: auto;
  }
}

.canvas-cricle {
  position: absolute;
  right: 0px;
  top: 56px;
}

.form-alert{
  background-color:transparent;
  border-color: transparent;
  padding: 0;
  margin: 0 0 10px;
}

.navbar-brand {
  padding: 0px 15px 15px 15px;
}

.profile-summary {
  margin-top: 30px;
}

.common-footer {
  footer {
    bottom: -28px !important;
    background: transparent !important;
    text-align: center;
  }
}

.value-portraot-footer {
  footer {
    display: inline-block;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative !important;
    z-index: 1 !important;
  }
}

.guided-tour-section {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 9999;
  top: 0;
  left: 0;
  img {
    height: 100%;
    width: 100%;
  }
  .got-it-btn {
    cursor: pointer;
    position: absolute;
    width: 118px;
    height: 32px;
    right: 82px;
    bottom: 25px;
    background: #fe5722;
    span {
      color: $white;
      padding: 6px 9px;
      display: inline-block;
      font-size: 16px;
      width: 100%;
      text-align: center;
    }
  }
}

// Media Queries
@media only screen and (max-width: 1024px) {
  .logout-dropdown {
    display: block;
  }

  .btn-logout {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .container-fluid > .navbar-collapse,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }

  input,
  select,
  textarea {
    font-size: 13px;
  }
}

@media only screen and (max-width: 767px) {

  .padding-left15,
  .padding-right15 {
    padding: 0;
  }

  .toaster-message {
    margin-right: -50%;
    right: 50%;
    width: 100%;
    bottom: 0;
    border-radius: 0;
    padding: 7px 0;
  }

  .contact {
    .form-control {
      margin-top: 25px;
    }

    control-messages {
      div {
        left: 0;
        margin: -18px 0 0 15px;
        position: absolute;
        text-align: left;
      }
    }
  }

  .dashboard-profile,
  .settings,
  .change-email,
  .change-mobile {
    label {
      margin-bottom: 0;
    }

    input {
      margin-bottom: 20px;
    }

    control-messages {
      div {
        left: 0;
        margin-top: 53px;
        padding: 0 0 0 15px;
        text-align: left;
      }
    }
  }

  .alert {
    margin: 15px 15px 0;
  }

  recaptcha {
    div,
    iframe {
      width: 100% !important;
    }
  }

  .company-details {
    control-messages {
      div {
        margin: 120px 0 0;
      }
    }
  }

  .max-height {
    max-height: inherit;
    overflow: auto;
  }

  .min-height {
    height: auto;
    overflow: auto;
  }

  h4 {
    text-overflow: clip;
    overflow: visible;
    white-space: normal;
  }
}

@media screen and (min-width: 300px) and (max-width: 766px) {
  .employee-form,
  .employer-form {
    control-messages {
      div {
        padding: 0 !important;
      }
    }
  }

  .btn {
    border-radius: 4px;
    height: 35px;
    padding: 5px 15px;
    font-size: 14px;
  }
  #recruiter-form {
    control-messages {
      div {
        padding: 0 0 0 15px !important;
      }
    }
  }
}
