//Common Variables
$white: #ffffff;
$bg-notification-unread: #fafafa;
$bg-wrapper: #f8f8f8;
$loader-border: #d5d5d5;
$header-bg: #ffe48d;
$heading: #434c5e;
$body-text: #434c5e;
$border-color: #e4e4e4;
$wrapper-text: #aaa;
$text-color: #696f77;
$grey-background: #777;
$error: #f66761;
$toaster-success: #ffd;
$bg-disabled: #e82c0c;
$background-black-alpha5: rgba(0, 0, 0, 0.1);
$toaster-message: rgba(102, 102, 102, 0.35);
$modal-bg: rgba(67, 76, 94, 0.95);
$input-bg: rgba(255, 255, 255, 0.1);
$theme-color: #ffdb4d;
$theme-color-hover: #ffd15b;
$btn-focus: #009de4;
$black: #000;
$placeholder-color: #bcbec0;
$link-color:#231f20;
$inactive-link: #bbb;
$active-link: #231f20;
$red-gradient-light: rgba(255,0,0,0);
$red-gradient-dark: rgb(235, 107, 86);
$close-button-shadow: rgba(0,0,0,0.3);
$blue: #29b6f6;
$hover-list-bg: #dbdbdb;
$select-hover-bg: #b2eaf9;
$gray-light: #dddddd;
$shadow-color: rgba(0, 0, 0, 0.175);
$overlay: rgba(0, 0, 0, 0.4);
$content-box-shadow: rgba(0, 0, 0, 0.15);
$gray: #ccc;
$gray-dark: #bbb;
$name: #666;
$cn-theme-color: #3694d1;
$light-white: #f2f2f2;
$black-theme-color: #1f2532;
$footer-color: rgba(255, 255, 255, 0.7);
$theme-orange: #f79d00;
$default-button-hover: #ececec;
$link: #27aae1;
$unit: #888888;
$page-background: #f7f7f7;
$panel-shadow: rgba(0,0,0,.05);
$menu-item-links: #f1f2f2;
$menu-item-hover-color: #e8d288;
$azure: #EDF4F9;
$jagged-ice: #bed8e7;
$get-amount: #6598CA;
$persian-green: #6598CA;
$above-cost: #f15a29;
$below-cost: #6598CA;
$clone-border: #e5e5e5;
$dashboard-link: #6598CA;
$table-btn-bg: #6598CA;
$table-border: #9DC2E0;
$delete-cost-head-bg: #fbfbfb;
$table-row-hover: #f7fdff;
$text-disabled: #ccc;
$disable-input: #999;
$disabled-input-bg: #f1f1f1;
$row-border: #f3f3f3;
$user-profile-pic: #a1a5ae;
$user-profile-text: #e3e4e7;
$warning-text: #fd4f00;
$mobile-menu-color: #58595b;
$mobile-menu-background-color: #ffffff;
$row-border: #eaeaea;
