$theme-color: #29b6f6;
$orange: #f7c72d;
$green: #8dc63f;
$red: #e91d62;
$active-color: #edf1f5;
$border-color: #ccc;
$light-blue: #00aed5;
$border-color1: #e8e8e8;
$white: #fff;
$profile-background: #f2f2f2;
$process-color: #224879;
$active-text-color: #000;
$active-progress-line: #8eb4d9;
$bubble-background: #35567e;
$label: #888;
$blue: #29b6f6;
$current: #ff9700;
$green-text: #42a948;
$current-border: #888;
$primary-option: #3694d1;
$secondary-option: #81d4fa;
$border-color1: #e8e8e8;
$text-color: #333;
$option-border-color: #999;
$profile-background: #f2f2f2;
$btn-color: #3694d1;
$message: #00aed5;
$bg-container: #f8f8f8;
$blue-color: #29b6f6;
$name: #666;
$text-color2: #576b7c;
$heading-color: #dbeef6;
$black: #333;
$purple: #7264b5;
$highlight: #596c7d;
$text-color4: #999;
$contact-info: #f5f5f5;
$light-green: #96e328;
$orange1: #f7c72d;
$red1: #ff3d00;
$green1: #68ab26;
$blue1: #29b6f6;
$gray: #ccc;
$light-green2: #B1D669;
$orange2: #f7c72d;
$green2: #7E9B5D;
$blue2: #3694d1;
$red2: #EF5C48;
$capability-label: #777;
$footer-bg: #f8f8f8;
$profile-section-shadow: rgba(0, 0, 0, 0.04);
$pink: #e91d62;
$modal-bg: rgba(0, 0, 0, .5);
$active-section: #a8de78;
$border-blue: #d1dce4;
$label-border: #a7a7a7;
$bg-tabs: #edf1f5;
$bg-tab-content: #f9f9f9;
$profile-section-shadow1: rgba(204, 204, 204, 1);
$filter-bg: #edf1f5;
$bg-wrapper: #f8f8f8;
$header-shadow: rgba(0, 0, 0, 0.4);
$modal-bg1: #f2f2f2;
$primary-option1: #29b6f6;
$secondary-option1: #29b6f6;
$border-light: #efefef;
$active-tab-border: #b2bcc3;
$active-tab: #edf1f5;
$info: #888;
$instruction: #00aed5;
$error: #e82c0c;
$switch-shadow: rgba(0, 0, 0, 0.2);
$cn-theme-color: #29b6f6;
$cn-theme-hover: #29b6f6;
$cn-theme-btn-danger: #e77e22;
$cn-theme-btn-danger-hover: #d26f23;
$cn-theme-background: #6f3025;
$cn-theme-gradient-light: #1c75bd;
$cn-theme-gradient-dark: #284598;
$header-bg: #edf1f5;
$theme-color2: #3694d1;
$circle-border: #fba026;
$orange3: #fac51c;
$orange4: #ffd15f;
$black1: #000;
$light-orange: #fba026;
$dark-orange: #f48c37;
$light-red: #eb6b56;
$light-red1: #e14938;
$dark-red1: #b8312f;
$light-gray: #eaeaea;
$gray-border-bg: #c5c5c5;

