@import '../../../../css/variables';

.error-messages {
  position: fixed;
  //margin: -25px 0 0;
  bottom: 15px;
  left: 15px;
}

.compact-view {
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.heading {
  .sub-heading {
    float: none !important;
    position: relative;
    font-size: 13px !important;
    padding: 0 !important;
  }
}

@media screen and (max-width: 980px) {
  .select-option {
    margin: 0 15px 0 0;
  }
}

/*
@media screen and (max-width: 767px) {
  .select-option > label {
    padding: 7px 0;
  }
}
*/

.industry-domin-left-section {
  margin-right: 18px;
  padding: 0 0 75px 50px;
  width: 56.333333%;
  h4 {
    padding: 8px 15px 8px 0;
    width: 100% !important;
  }
}

.main-content {
  .mini-value-portrait-section {
    zoom: 0.3;
    z-index: 999;
  }
  .button-group {
    width: calc(100% - 400px);
  }
}
