<div class="modal-bg" *ngIf="highlightedSection.name=='IndustryExposure'"></div>
<div class="section-container profeiciency-domain" *ngIf="highlightedSection.name=='IndustryExposure'">

  <div class="main-content edit-modal-content clearfix">
    <div class="col-sm-9">
      <h4 class="heading">Additional Industry Exposure<!-- <span class="sub-heading">(In additional to your core industry, select Industries In which you have work exposure / experience)</span>-->
      </h4>
      <div class="col-sm-12 industry-experience">
        <div class="select-option" *ngFor="let choice of industries;let i = index">
          <label>
            <input type="checkbox" name="choice.name" value="{{choice.name}}"
                   (click)="selectIndustryModel(choice.name,$event)"
                   [checked]="candidateExperiencedIndustry.indexOf(choice.name)!=-1">
            <span>{{choice.name}}</span>
          </label>
        </div>
        <div class="error-messages"
             *ngIf="submitStatus">
          <p>You can't leave this empty.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3 no-padding">
      <cn-tool-tip [message]="tooltipCandidateMessage" *ngIf="isCandidate"></cn-tool-tip>
      <cn-tool-tip [message]="tooltipRecruiterMessage" *ngIf="!isCandidate"></cn-tool-tip>
    </div>
    <button class="btn-prev" (click)="highlightedSection.name='Proficiencies'"><span
      class="glyphicon glyphicon-chevron-left"></span></button>

    <div class="button-group clearfix">
      <div class="saving-loader">Saving...</div>
      <button class="btn btn-primary" scrollTo scrollTargetSelector="#professional-details"
              (click)="onNext()" [hidden]="!showButton">Next
      </button>
      <button class="btn btn-primary" (click)="onSave()" [hidden]="showButton">Next
      </button>
    </div>
  </div>
</div>
<div class="section-container profeiciency-domain" *ngIf="highlightedSection.name !='IndustryExposure'">
  <div class="main-content"  (click)="highlightedSection.name='IndustryExposure';disableButton=false;highlightedSection.isDisable=true;showButton=false">
    <div class="compact-view clearfix">
      <div class="col-sm-3 padding-right15">
        <h4 class="heading-compact">Industry Exposure
         <!-- <button class="btn-edit"
                  (click)="highlightedSection.name='IndustryExposure';disableButton=false;highlightedSection.isDisable=true;showButton=false"
                  [hidden]="highlightedSection.isDisable" title="Edit Industry Exposure"></button>-->
        </h4>
      </div>
      <div class="col-sm-9 padding-left15">
        <div class="option-list" *ngFor="let item of candidateExperiencedIndustry;let i = index">
          <span class="option">{{item}}</span><!--&nbsp;<span
          *ngIf="candidateExperiencedIndustry.length>1 && i!=candidateExperiencedIndustry.length -1">,</span>&nbsp;-->
        </div>
      </div>
    </div>
  </div>
</div>

