$text-color: #666;
$white: #fff;
$option-border-color: #999;
$primary-option: #1c75bd;

.messages {
  color: #00aed5;
  padding: 0;
}

.compact-view {
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
  .option {
    padding: 0;
  }
}

@media screen and (max-width: 980px) {
  .select-option {
    margin: 0 15px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .select-option > label {
    padding: 7px 0;
  }

  .industry-experience {
    padding: 0;
  }
}
