$text-color: #666;
$white: #fff;
$option-border-color: #999;
$primary-option: #1c75bd;

.error-messages {
  color: #f66761;
  font-size: 10px;
  font-style: italic;
  margin: 0;
  line-height: 11px;
}

@media screen and (max-width: 980px) {
  .select-option {
    margin: 0 15px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .select-option > label {
    padding: 7px 0;
  }

  .industry-experience {
    padding: 0;
  }
}
