<div class="form col-sm-12 no-padding certification" *ngFor="let item of candidate.certifications;let i= index">

    <div class="col-sm-4 no-padding">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="item.name"  (change)="postCertificates()" required />
        <label> Name</label>
      </div>
    </div>

    <div class="col-sm-4 no-padding">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="item.issuedBy"  (change)="postCertificates()" required />
        <label>Issued By</label>
      </div>
    </div>


    <div class="col-sm-4 no-padding">
      <div class="form-group">
          <select class="form-control" [(ngModel)]="item.year" (change)="postCertificates()">
            <option *ngFor="let c of yearList" [ngValue]="c">{{c}}</option>
          </select>
          <label>Year of Certification</label>
      </div>
    </div>


  <div class="col-sm-10 no-padding">
    <div>
      <textarea class="form-control" [(ngModel)]="item.remark" (change)="postCertificates()" Placeholder="Certification/Accreditation"></textarea>
    </div>
  </div>
</div>

<div class="clear">
  <button type="button" id="more_fields" (click)="addAnother()" class="btn btn-create-profile" [disabled]="disbleRole" >
    Add Another <span>+</span>
  </button>
  <div class="error-messages" *ngIf="disbleButton"><p>Fields should not be empty.</p></div>

</div>



