<div class="clearfix divider clear">&nbsp;</div>
<div class="modal-bg" *ngIf="highlightedSection.name=='Certification'"></div>
<div class="section-container clear"  *ngIf="highlightedSection.name =='Certification'">
  <div class="main-content edit-modal-content clearfix">

    <h4 class="heading">Certification/Accreditation (Optional)</h4>
    <div class="scrollable-content">
      <form class="description-form" [formGroup]="certificationDetail" novalidate>
        <div class="row">
          <div class="col-sm-8 no-padding" formArrayName="certifications">
            <div *ngFor="let history of certificationDetail.controls.certifications.controls; let i=index"
                 class="panel panel-default">
              <div>
            <span class="glyphicon glyphicon-trash pull-right"
                  *ngIf="certificationDetail.controls.certifications.controls.length>0 && certificationDetail.controls.certifications.controls.length !==1 "
                  (click)="removeCertification(i)"></span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <cn-certificates [group]="certificationDetail.controls.certifications.controls[i]" [submitStatus] = "submitStatus"></cn-certificates>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <cn-tool-tip [message]="tooltipMessage"></cn-tool-tip>

    <div class="button-group clearfix">
      <!--<div class="saving-loader">Saving...</div>-->
      <button type="submit" class="btn btn-primary" scrollTo scrollTargetSelector="#certification"
              (click)="postData('next')" *ngIf="!candidate.isSubmitted">Next
      </button>
      <button type="submit" class="btn btn-primary" (click)="postData('save')" *ngIf="candidate.isSubmitted">Done
      </button>
      <button (click)="addCertification('addAnother')" class="btn btn-add-another" [disabled]="!certificationDetail.valid">
        Add another
      </button>
    </div>
    <button class="btn-prev" (click)="highlightedSection.name='Awards'"><span
      class="glyphicon glyphicon-chevron-left"></span></button>
  </div>
</div>

<div class="section-container"
     [ngClass]="(highlightedSection.name=='Certification')?'full-width':'half-width'"
     *ngIf="highlightedSection.name !='Certification'">
  <div class="main-content" (click)="highlightedSection.name='Certification';highlightedSection.isDisable=true;showButton=false">
    <div class="compact-view clearfix">
      <div *ngIf="certificationDetail.controls.certifications.controls.length==0">

        <h4 class="heading-compact icons-section">
          <span class="certification"></span>
          Certifications <span class="optional-field">(Optional)</span>
          <button class="btn-edit" (click)="highlightedSection.name='Certification';highlightedSection.isDisable=true;showButton=false" title="Edit Certifications"></button>
        </h4>
      </div>

      <div class="" *ngIf="certificationDetail.controls.certifications.controls.length>0">
        <h4 class="heading-compact icons-section">
          <span class="certification"></span>
          Certifications <span class="optional-field">(Optional)</span>
          <button class="btn-edit" (click)="highlightedSection.name='Certification';highlightedSection.isDisable=true;showButton=false" title="Edit Certifications"></button>
        </h4>
        <ul>
          <div *ngFor="let item of candidate.certifications;let i = index">
            <div *ngIf="i == 0">
              <li>
                <p>{{item.name}} at {{item.issuedBy}} in {{item.year}}</p>
              </li>
            </div>
          </div>
        </ul>
        <p class="more-elements" *ngIf="candidate.certifications.length > 1">{{candidate.certifications.length-1}} more</p>
      </div>
    </div>
  </div>
</div>

