@import '../../../../css/variables';

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.certification {
  .worked-from,
  .worked-to {
    label {
      margin-bottom: 10px;
      width: 100%;
    }

    .form-control {
      margin-bottom: 15px;
      padding: 6px;
    }
  }
}

.compact-view {
  .heading-compact {
    padding-left: 25px;
  }

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.full-width {
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .compact-view {
    ul {
      li {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .certification {
    .col-sm-4 {
      width: 50%;
    }

    .col-sm-10 {
      clear: both;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .certification {
    padding: 0;

    .col-sm-4,
    .col-sm-12 {
      padding: 0;
      width: 100%;
    }

    .row {
      margin: 0;
    }
  }
}
