<div class="form col-sm-12 no-padding certification" *ngFor="let item of tempfield;let i= index">

    <div class="col-sm-4 no-padding">
      <div class="form-group">
        <input type="text" class="form-control" [ngModel]="certificateName" (ngModelChange)="selectedCertificate($event)" required />
        <label> Name</label>
      </div>
    </div>

    <div class="col-sm-4 no-padding">
      <div class="form-group">
        <input type="text" class="form-control"  [ngModel]="companyName" (ngModelChange)="selectedCompanyName($event)" required />
        <label>Company Name</label>
      </div>
    </div>


    <div class="col-sm-4 no-padding">
      <div class="form-group">
        <div id="yearf" ng2-auto-complete
             [source]="yearList"
             (ngModelChange)="selectedYearModel($event)">
          <input class="form-control" type="text" [ngModel]="fromYearModel" required />
          <label>Year of Certification</label>
        </div>
      </div>
    </div>


  <div class="col-sm-10 no-padding">
    <div>
      <textarea class="form-control" [ngModel]="certificate" (ngModelChange)="addedCertification($event)" Placeholder="Certification/Accreditation"></textarea>
    </div>
  </div>
</div>

<div class="clear">
  <button type="button" id="more_fields" (click)="addAnother()" class="btn btn-create-profile" [disabled]="disbleRole" >
    Add Another <span>+</span>
  </button>
  <div class="error-messages" *ngIf="disbleButton"><p>Fields should not be empty.</p></div>

</div>



