@import '../../../../css/common';
@import '../../../../css/variables';

.change-password {
  .error-message {
    p {
      color: $error-messages;
    }
  }

  form {
    label > img {
      height: 20px;
      width: 20px;
    }
  }
  .form-group {
    margin-bottom: 25px;
  }

  .alert {
    margin: 15px 0;
  }
}

.modal {
  h5 {
    font-weight: bold;
  }

  .modal-content {
    border: 0;
  }

  .modal-body {
    padding: 0 15px;
    text-align: left;

    p {
      text-align: left;
    }
  }
}

