<div class="modal-bg" *ngIf="highlightedSection.name=='Proficiencies'"></div>
<div class="clearfix">
  <div id="job-proficiencies" class="section-container clearfix" *ngIf="highlightedSection.name=='Proficiencies'">
    <div class="main-content  edit-modal-content clearfix edit-keyskill">

      <h4 class="heading">{{jobProficienciesHeading}} </h4>
      <div id="proficiency-container" class="scrollable-content proficiency-container">
        <cn-multi-select [type]="'Mandatory'" [data]="proficiencies"
                         [maxLength]="maxNumberOfMandatory"
                         [selectedData]="jobPosterModel.proficiencies"
                         (onComplete)="onMandatoryProficiencyComplete($event)"
                         [maxKeySkillsValidationMessage] = "maxKeySkillsValidationMessage"></cn-multi-select>
        <label class="select-keyskill">{{getMessage().PRESS_ENTER_KEYSKILL}}</label>
        <div class="clearfix">&nbsp;</div>
      </div>

      <cn-tool-tip [message]="tooltipMessage"></cn-tool-tip>

      <button class="btn-prev" (click)="onPrevious()"><span
              class="glyphicon glyphicon-chevron-left"></span></button>
      <div class="button-group clearfix">
        <button class="btn btn-success" scrollTo scrollTargetSelector="#industry-experience"
                (click)="onNext()" [hidden]="!showButton">Next
        </button>
        <button class="btn-info btn btn-success" (click)="onSave()"  [hidden]="showButton">Done</button>
      </div>
      <div class="keyskills-label" *ngIf="isshowModal">
        <p>
          {{getMessage().KEYSKILLS_MESSAGE}}
        </p>
      </div>
    </div>
  </div>
  <div class="section-container clearfix" *ngIf="highlightedSection.name !='Proficiencies'">
    <div class="main-content" (click)="onEdit()">
      <div class="compact-view clearfix">
        <button class="btn-edit" (click)="onEdit()" title="Edit Key Skills"></button>

        <div class="col-sm-3 padding-right15">
          <h4 class="heading-compact">Key Skills</h4>
        </div>
        <div class="col-sm-9 padding-left15">
          <div>
            <div class="option-list" *ngFor="let item of jobPosterModel.proficiencies;let i = index">
            <span class="option">
              {{item}}
            </span>
              <span *ngIf="jobPosterModel.proficiencies.length>1 && i!=jobPosterModel.proficiencies.length -1">,&nbsp;</span>&nbsp;
            </div>
            <div class="option-list" *ngIf="jobPosterModel.proficiencies && jobPosterModel.proficiencies.length==0 ">
            <span class="option">
              None
            </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="divider clearfix" *ngIf="highlightedSection.name !='Proficiencies'">&nbsp;</div>
</div>






