@import '../../../../css/variables';
$border-color: #e8e8e8;
$text-color: #333;
$btn-color: #3694d1;
$message: #00aed5;

.proficiency-container {

  .info-message {
    font-size: 13px;
    font-style: italic;
    margin: 0 0 10px;
  }

  .messages {
    color: $message;
    padding: 0;
  }

  label {
    font-weight: bold;
    font-size: 13px;
    color: $text-color;
  }
}

.compact-view {
  //border-bottom: 1px solid $border-color;
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.scrollable-content {
  z-index: inherit !important;
  position: relative !important;
  padding-bottom: 30px !important;
}

@media screen and (max-width: 767px) {
  .proficiency-container {
    padding: 0;
  }
}


