@import '../../../../css/variables';

.proficiency-container {

  .info-message {
    font-size: 13px;
    font-style: italic;
    margin: 0 0 10px;
  }

  .messages {
    color: $message;
    padding: 0;
  }

  label {
    font-weight: bold;
    font-size: 13px;
    color: $message;
  }
}

.compact-view {
  //border-bottom: 1px solid $border-color;
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 767px) {
  .proficiency-container {
    padding: 0;
  }
}


