<div class="clearfix">
    <div class="section-container clearfix proficiency-container" >
      <div class="main-content  modal-content clearfix"  *ngIf="highlightedSection.name=='Proficiencies'">
        <h4 class="heading">Proficiencies (Max 25)</h4>
        <p class="info">Enter all key words that describe your area of expertise or specialization. These
          proficiencies will be used for second level of matching post
          capability. <span class="messages">You can edit this list anytime.</span></p>
        <div class="col-sm-12">
          <label>Mandatory Proficiencies</label>
          <cn-multi-select [type]="Mandatory" [data]="proficiencies" [selectedData]="jobPosterModel.proficiencies" (onComplete)="onMandatoryProficiencyComplete($event)"  ></cn-multi-select>
          <label>Additional Proficiencies</label>
          <cn-multi-select [type]="Additional" [data]="proficiencies" [selectedData]="jobPosterModel.additionalProficiencies" (onComplete)="onOptionalProficiencyComplete($event)" ></cn-multi-select>
          <div class="button-group clearfix">
            <button class="btn btn-primary" scrollTo scrollTargetSelector="#industry-experience"
                    (click)="onNext()" [disabled]="disablebutton">Next
            </button>
          </div>
        </div>
      </div>
      <div class="main-content" *ngIf="highlightedSection.name !='Proficiencies'">
        <div class="compact-view clearfix">
          <button class="btn-edit" (click)="highlightedSection.name='Proficiencies';disablebutton=false"></button>
          <h4 class="heading">Proficiencies</h4>
          <div class="col-sm-12 no-padding">
            <div class="col-md-2 col-sm-3 padding-right15">
              <label>Mandatory</label>
            </div>
            <div class="col-md-10 col-sm-9 padding-left15">
              <span class="option" *ngFor="let item of jobPosterModel.proficiencies;let i = index">
                {{item}}<span *ngIf="jobPosterModel.proficiencies.length>1 && i!=jobPosterModel.proficiencies.length-1">,</span>
              </span>
            </div>
          </div>
          <div class="col-sm-12 no-padding">
            <div class="col-md-2 col-sm-3 padding-right15">
              <label>Additional</label>
            </div>
            <div class="col-md-10 col-sm-9 padding-left15">
              <span class="option" *ngFor="let item of jobPosterModel.additionalProficiencies;let i = index">
                {{item}}<span *ngIf="jobPosterModel.additionalProficiencies.length>1 && i!=jobPosterModel.additionalProficiencies.length-1">,</span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>






