<div class="col-xs-12 no-padding value-portrait-candidate-info-block">
  <ul>
    <li>
      <div class="current-location-tabs info-block-tabs" [class.grayBox]="candidate.location.city !='' && isMiniView">
        <span id="currentlocation"> Current Location </span>
        <div class="tooltip-content2" role="currentlocation" aria-labelledby="currentlocation">
          {{candidate.location.city}}
        </div>
      </div>
    </li>
    <li>
      <div class="experience-level-tabs info-block-tabs" [class.grayBox]="candidate.professionalDetails && candidate.professionalDetails.experience !== undefined && isMiniView">
        <span id="experience"> Experience Level </span>
        <div class="tooltip-content2" role="experience" aria-labelledby="experience">
          {{candidate.professionalDetails.experience}}
        </div>
      </div>
    </li>
    <li>
      <div class="education-tabs info-block-tabs" [class.grayBox]="candidate.academics.length != 0 && isMiniView">
        <span id="education"> Education </span>
        <div class="tooltip-content2" role="education" aria-labelledby="education">
          <div *ngFor="let academic of candidate.academics" class="line-block">
            <b>{{academic.yearOfPassing}}</b>
            <b><label><strong>{{academic.educationDegree}} </strong></label>
              <label *ngIf="academic.specialization&&academic.educationDegree">|</label> {{academic.specialization}}</b>
            <b><label>{{academic.board}}</label></b>
            <b class="line-break">{{academic.schoolName}}</b>
          </div>
          <div *ngIf="candidate.academics.length == 0" [class.grayBox]="candidate.academics.length == 0 && isMiniView" class="line-block">
            Not Available
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="employment-tabs info-block-tabs" [class.grayBox]="candidate.employmentHistory.length != 0 && isMiniView">
        <span id="employment"> Employment </span>
        <div class="tooltip-content2" role="employment" aria-labelledby="employment">
          <div *ngFor="let history of candidate.employmentHistory" class="line-block">
            <b *ngIf="history.isPresentlyWorking!=true">{{history.from.year}} - {{history.to.year}}</b>
            <b *ngIf="history.isPresentlyWorking===true">{{history.from.year}} -Presently working</b>
            <b><label><strong>{{history.designation}}</strong></label> | <label>{{history.companyName}}</label></b>
            <b class="line-break">{{history.remarks}}</b>
          </div>
          <div *ngIf="candidate.employmentHistory.length == 0" class="line-block">
            Not Available
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="certification-tabs info-block-tabs" [class.grayBox]="candidate.certifications.length != 0 && isMiniView">
        <span id="certification"> Certification </span>
        <div class="tooltip-content2" role="certification" aria-labelledby="certification">
          <div *ngFor="let certification of candidate.certifications" class="line-block">
            <b>{{certification.year}}</b>
            <b><label><strong>{{certification.name}}</strong></label> | {{certification.issuedBy}} </b>
            <b *ngIf="certification.code!=''">({{certification.code}})</b>
            <b class="line-break">{{certification.remark}}</b>
          </div>
          <div *ngIf="candidate.certifications.length == 0" class="line-block" >
            Not Available
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="awards-tabs info-block-tabs" [class.grayBox]="candidate.awards.length != 0 && isMiniView">
        <span id="awards"> Awards </span>
        <div class="tooltip-content2" role="awards" aria-labelledby="awards">
          <div *ngFor="let award of candidate.awards" class="line-block">
            <b>{{award.year}}</b>
            <b><label><strong>{{award.name}}</strong></label> | {{award.issuedBy}} </b>
            <b class="line-break">{{award.remark}}</b>
          </div>
          <div *ngIf="candidate.awards.length == 0" class="line-block" [class.grayBox]="candidate.awards.length == 0">
            Not Available
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
