<div class="col-xs-12 no-padding value-portraot-candidate-info-block">
  <ul>
    <li>
      <div class="current-location-tabs info-block-tabs">
        <span> Current Location </span>
        <div class="tooltip-content2">
          {{candidate.location.city}}
        </div>
      </div>
    </li>
    <li>
      <div class="experience-level-tabs info-block-tabs">
        <span> Experience Level </span>
        <div class="tooltip-content2">
          {{candidate.professionalDetails.experience}}
        </div>
      </div>
    </li>
    <li>
      <div class="education-tabs info-block-tabs">
        <span> Education </span>
        <div class="tooltip-content2">
          <div *ngFor="let academic of candidate.academics">
            <b>{{academic.yearOfPassing}}</b>
            <b><label>{{academic.specialization}}</label>|<label>{{academic.board}}</label></b>
            <b>{{academic.schoolName}}</b>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="employment-tabs info-block-tabs">
        <span> Employment </span>
        <div class="tooltip-content2">
          <div *ngFor="let history of candidate.employmentHistory">
            <b>{{history.from.year}} - {{history.to.year}}</b>
            <b>{{history.designation}}</b>
            <b>{{history.remarks}}</b>
            <b>{{history.companyName}}</b>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="certification-tabs info-block-tabs">
        <span> Certification </span>
        <div class="tooltip-content2">
          <div *ngFor="let certification of candidate.certifications">
            <b>{{certification.year}}</b>
            <b>{{certification.name}}</b>
            <b>{{certification.remark}}</b>
            <b>{{certification.issuedBy}}</b>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="awards-tabs info-block-tabs">
        <span> Awards </span>
        <div class="tooltip-content2">
          <div *ngFor="let award of candidate.awards" class="tooltip-content2">
            <b>{{award.year}}</b>
            <b>{{award.name}}</b>
            <b>{{award.remark}}</b>
            <b>{{award.issuedBy}}</b>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
