@import '../../../../../../css/variables';

.value-portrait-candidate-info-block {
  ul {
    background: $white;
    float: left;
    margin: 0;
    padding: 5px 0 20px;
    width: 100%;

    li {
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      position: relative;
      width: 16.6%;
      .current-location-tabs {
        background: $orange3;
        border-radius: 2px;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        margin: 0 5px;
        span {
          color: $white;
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          padding: 10px;
          width: 100%;
        }
        .tooltip-content2 {
          width: 195px;
          right: 0;
          left: 5px;
          margin: 0;
        }
      }
      .experience-level-tabs {
        background: $light-orange;
        border-radius: 2px;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        margin: 0 5px;
        span {
          color: $white;
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          padding: 10px;
          width: 100%;
        }
        .tooltip-content2 {
          width: 195px;
          right: 0;
          left: -27px;
          margin: 0;
        }
      }
      .education-tabs {
        background: $dark-orange;
        border-radius: 2px;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        margin: 0 5px;
        span {
          color: $white;
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          padding: 10px;
          width: 100%;
        }
      }
      .employment-tabs {
        background: $light-red;
        border-radius: 2px;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        margin: 0 5px;
        span {
          color: $white;
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          padding: 10px;
          width: 100%;
        }
      }
      .certification-tabs {
        background: $light-red1;
        border-radius: 2px;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        margin: 0 5px;
        span {
          color: $white;
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          padding: 10px;
          width: 100%;
        }
      }
      .awards-tabs {
        background: $dark-red1;
        border-radius: 2px;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
        margin: 0 5px;
        span {
          color: $white;
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          padding: 10px;
          width: 100%;
        }
        .tooltip-content2 {
          right: 0;
        }
      }
      &:first-child {
        width: 17%;
      }
    }
  }
}


.info-block-tabs > .tooltip-content2 {
  /*opacity: 0;*/
  background-color: $white;
  box-shadow: 3px 3px 15px 1px $gray;
  border-radius: 4px;
  margin-left: -48px;
  padding: 10px;
  position: absolute;
  transition: all .1s linear;
  top: 52px;
  opacity: 0;
  visibility: hidden;
  width: 240px;
  z-index: 9;
  b {
    float: left;
    width: 100%;
    text-align: left;
  }
  strong {
    font-weight: bold;
    color: $black1;
    font-family: 'gothamrnd-book';
  }
  label {
    display: initial;
  }
  .line-block {
    margin-bottom: 7px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 7px;
    &:last-child {
      border-bottom: 0;
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.open {
  .tooltip-content2 {
    display: block !important;
  }
}

.info-block-tabs:hover > .tooltip-content2 {
  opacity: 1;
  visibility: visible;
}

.tooltip-content2:after {
  background: $white;
  box-shadow: -1px -1px 2px -2px rgba(0, 0, 0, 0.5);
  content: "";
  height: 12px;
  position: absolute;
  right: 40%;
  transform: rotate(45deg);
  top: -8px;
  width: 12px;
}

@media only screen and (max-width: 767px) {
  .value-portrait-candidate-info-block {
    padding: 0;
    width: 100%;
    ul {
      padding: 20px 10px;
      li {
        width: 100%;
        .info-block-tabs {
          .tooltip-content2 {
            position: relative;
            width: 100%;
            left: inherit;
            right: inherit;
            top: 0;
            box-shadow: 0 0 0 transparent;
            margin: 0;
            &:after {
              left: 50%;
              right: inherit;
              margin: 0;
            }
          }
        }
        &:first-child {
          width: 100%;
        }
      }
    }
  }
}
