@import '../../../../css/variables';

.auto-suggestion-list {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  left: 31px;
  position: absolute;
  top: 49px;
  width: 498px;
  z-index: 99;
  ul {
    padding: 0;
    margin: 0;
    li {
      background: $white;
      display: block;
      padding: 5px 10px 3px;
      .suggestion-lists {
        label {
          font-family: 'gothamrnd-book';
          font-weight: 600;
          color: $black1;
        }
        span {
          color: #989898;
        }
      }
      &:hover {
        background: #f2f2f2;
      }
      &:first-child {
        background: #f2f2f2;
      }
    }
  }
}

.candidate-search-input {
  background: $active-color;
  height: 50px;
  padding-top: 10px;
  position: relative;
  z-index: 10;
  input {
    border: 1px solid $gray;
    float: left;
    padding: 9px 7px 7px 10px;
    width: 500px;
  }
  .search-btn {
    color: $white;
    background: $theme-color;
    border: 0;
    float: left;
    height: 38px;
    margin: 0;
    padding: 8px 31px;
  }
}

.search-left-content {
  background: $white;
  margin-bottom: 30px;
}

.search-container {
  text-align: left;
  margin-top: 100px;
  .card-view {
    float: left;
    margin-top: 10px;
    width: 100%;
  }
  .empty-list-message {
    left: 53%;
    text-align: center;
  }
  .view-profile-btn {
    background: $theme-color;
    border: 0;
    clear: both;
    color: $white;
    display: table;
    margin: 0;
    padding: 7px 25px;
  }
}

.profile-visibility-message {
  position: relative;
  width: auto;
  float: right;

  .message-content {
    background: $white;
    border: 1px solid $border-color1;
    box-shadow: 0 2px 4px 0 $gray-light1;
    color: $light-black;
    display: none;
    font-size: 12px;
    padding: 5px 0;
    position: absolute;
    right: 0;
    top: 44px;
    width: 230px;
    z-index: 998;

    img {
      display: block;
      width: 20px;
    }
  }

  .display-message {
    display: block !important;
  }
}

@media only screen and (max-width: 1024px) {
  .search-left-content {
    width: 100%;
  }
  .candidate-search-input {
    input {
      width: 400px;
    }
  }

  .auto-suggestion-list {
    width: 400px;
  }
}

@media only screen and (max-width: 980px) {
  .search-left-content {
    width: 100%;
  }
  .candidate-search-input {
    padding: 10px 0;
    input {
      width: 300px;
    }
  }

  .auto-suggestion-list {
    width: 300px;
  }
}

@media only screen and (max-width: 767px) {
  .search-left-content {
    width: calc(100% - 30px);
    margin: 0 auto;
    padding: 15px;
  }
}
