@import '../../../../css/common';

.about {
  h4 {
    border-bottom: $border-color 1px solid;
    margin-bottom: 30px;
    padding-bottom: 15px;
  }

  .info {
    background: $grey-background;
    margin-top: 30px;
    padding: 80px;

    img {
      width: 140px;
    }
  }

  p {
    text-align: justify;
  }
}
@media only screen and (max-width: 768px) {
  .about {

    h4 {
      margin: 15px auto;
    }

    .info {
      margin-top: 15px;
      padding: 60px;
    }
  }
}
