<div *ngFor="let item of candidate.awards;let i= index" class="awards col-sm-12 clearfix">

  <div class="row">

    <div class="col-sm-4">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="item.name"(change)="postAwardDetails()"  (focus)="changeValue()" required />
        <label>Title</label>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]="item.issuedBy" (change) = "postAwardDetails()"  (focus)="changeValue()" required />
        <label>Issued By</label>
      </div>
    </div>

    <div class="col-sm-4">
      <label >Year</label>
      <select class="form-control"   [(ngModel)]="item.year" (change) = "postAwardDetails()">
        <option *ngFor="let AwardYear of yearList" [selected]="true" [ngValue]="AwardYear">{{AwardYear}}</option>
      </select>
    </div>
  </div>

  <div class="col-sm-12 no-padding">
    <textarea class="form-control" [(ngModel)]="item.remark"(change)="postAwardDetails()" placeholder="Enter Awards Details" class="form-control"></textarea>
  </div>

  <div class="clear">
    <button type="button" id="more_fields" (click)="addAnother()" class="btn btn-create-profile"  >
      Add Another <span>+</span>
    </button>
    <div class="error-messages" *ngIf="isShowError"><p>Fields should not be empty.</p></div>
  </div>
</div>




