$border-color: #ccc;

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.compact-view {
  .btn-edit {
    top: 20px;
    left: 80px;
  }
}

.full-width {
  margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .compact-view {
    ul {
      li {
        width: 50%;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .awards {
    .col-sm-4 {
      width: 50%;
    }

    .col-sm-10 {
      width: 100%;
      clear: both;
    }
  }
}

@media only screen and (max-width: 767px) {
  .awards {
    padding: 0;

    .col-sm-4,
    .col-sm-12 {
      padding: 0;
      width: 100%;
    }

    .row {
      margin: 0;
    }
  }
}
