$border-color: #ccc;

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.awards {
  border-top: 1px solid $border-color;
  margin: 10px 0 20px;

  &:first-child {
    border: 0;
  }

  .form-control {
    border-radius: 0;
    margin: 0 0 15px;
  }

  textarea {
    height: 100px;
    resize: vertical;
    width: 100%;
  }
}

@media only screen and (max-width: 980px) {
  .awards {
    .col-sm-4 {
      width: 50%;
    }

    .col-sm-10 {
      width: 100%;
      clear: both;
    }
  }
}

@media only screen and (max-width: 767px) {
  .awards {
    .col-sm-4,
    .form-control {
      margin: 0;
      width: 100%;
    }
  }
}
