<div class="guided-tour-section guided-tour-overlay"
     *ngIf="guidedTourStatus?.indexOf(guidedTourImgOverlayScreensProfile) == -1 && isGuideImg == true">
  <img src={{guidedTourImgOverlayScreensProfilePath}} alt="Profile Picture">
  <div class="guided-tour-overlay-bg">
    <div class="got-it-btn" (click)="onGotItGuideTour()">
      <span>{{gotItMessage}}</span>
    </div>
  </div>
</div>
<div class="guided-tour-description"
     *ngIf="guidedTourStatus?.indexOf(guidedTourImgOverlayScreensProfile) == -1 && isGuideImg == true">
  <div class="profile-submission-guided-tour">
    <p [innerHTML]="getMessage().GUIDED_TOUR_PROFILE_SUBMISSION_MESSAGE"></p>
    <span class="down-arrow"></span>
  </div>
</div>
<div class="guided-tour-description"
     *ngIf="guidedTourStatus?.indexOf(guidedTourImgOverlayScreensProfile) == -1 && isGuideImg == true">
  <div class="guided-tour-notes">
    <p [innerHTML]="getMessage().GUIDED_TOUR_PROFILE_SUBMISSION_NOTE_MESSAGE"></p>
  </div>
</div>
<div class="clearfix divider clear visible-xs">&nbsp;</div>
<div class="modal-bg" *ngIf="highlightedSection.name=='Awards'"></div>
<div class="section-container clear" *ngIf="highlightedSection.name =='Awards'">
  <div class="main-content edit-modal-content clearfix">
    <div class="scrollable-content awards-section col-xs-7" #awardParentDiv>
      <h4 class="heading">{{awardsHeading}}</h4>
      <form class="description-form" [formGroup]="awardDetail" novalidate>
        <div class="row">
          <div class="col-md-8 col-sm-10 no-padding" formArrayName="awards" #awardInnerDiv>
            <div *ngFor="let history of awardDetail.controls.awards.controls; let i=index"
                 class="panel panel-default">
              <div>
                <span class="glyphicon glyphicon-trash pull-right"
                      *ngIf="awardDetail.controls.awards.controls.length>0 && awardDetail.controls.awards.controls.length !==1 "
                      (click)="removeAward(i)"></span>
              </div>
              <div class="panel-body" [formGroupName]="i">
                <cn-award [group]="awardDetail.controls.awards.controls[i]" [submitStatus] = "submitStatus"></cn-award>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="button-group clearfix">
      <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#right-fit-modal"
              (click)="this.highlightedSection.name = 'none';postData('next')" *ngIf="!candidate.isSubmitted" tabindex="1">{{getButton().NEXT}}</button>
      <button type="submit" class="btn btn-primary" (click)="postData('save')"
              *ngIf="candidate.isSubmitted">Done
      </button>
      <button (click)="addAward('addAnother')" class="btn btn-add-another" [disabled]="!awardDetail.valid">
        Add another
      </button>
    </div>
    <button class="btn-prev" (click)="onPrevious()"><span
            class="glyphicon glyphicon-chevron-left"></span></button>

    <div class="col-xs-5 awards-help-section" *ngIf="isCandidate">
      <div class="bg-empty-class col-xs-5"></div>
      <div class="mini-value-portrait-section">
        <h3 [innerHTML]="getMessage().CLICK_BELOW_FOR_PREVIEW_MSG">
        </h3>
        <cn-value-portrait (click)="navigateToWithId('/value-portrait');"
                           [isShareView]="false" [isMiniView]="true"
                           [userId]="userId" *ngIf="isCandidate"></cn-value-portrait>
      </div>
      <cn-tool-tip id="candidate-tooltip" [message]="tooltipMessage" *ngIf="isCandidate"></cn-tool-tip>
    </div>
  </div>
</div>

<div class="section-container" *ngIf="highlightedSection.name !='Awards'"
     [ngClass]="(highlightedSection.name=='Awards' )?'full-width':'half-width'">
  <div class="main-content" (click)="onEdit()">
    <div class="compact-view clearfix">
      <div *ngIf="awardDetail.controls.awards.controls.length==0">
        <!--*ngIf="candidate.awards != undefined && candidate.awards.length==1 && candidate.awards[0].name=='' && candidate.awards[0].issuedBy=='' "-->

        <h4 class="heading-compact icons-section">
          <span class="icons icon-award"></span>
          Awards <span class="optional-field">(Optional)</span>
          <button class="btn-edit" (click)="onEdit()"></button>
        </h4>
      </div>
      <div class="" *ngIf=" awardDetail.controls.awards.controls.length>0 ">
        <h4 class="heading-compact icons-section">
          <span class="icons icon-award"></span>
          Awards <span class="optional-field">(Optional)</span>
          <button class="btn-edit" (click)="onEdit()" title="Edit Awards"></button>
        </h4>
        <ul class="clearfix">
          <div *ngFor="let item of candidate.awards;let i = index">
            <div *ngIf="i == 0">
              <li>
                <p>{{item.name}} at {{item.issuedBy}} in {{item.year}}</p>
              </li>
            </div>
          </div>
        </ul>
        <p class="more-elements" *ngIf="candidate.awards.length > 1">{{candidate.awards.length-1}} more</p>
      </div>
    </div>
  </div>
</div>
<div class="clearfix divider clear visible-xs" *ngIf="highlightedSection.name !='Awards'">&nbsp;</div>





