@import '../../../../css/common';
$border-gray: #ccc;
$theme-color: #66afe9;

.error-messages {
  color: #f66761;
  font-size: 10px;
  font-style: italic;
  margin: 0;
  position: absolute;
  line-height: 11px;
}

.alert {
  margin: 0 15px 20px;
}

.employer-form {
  .radio-group {
    padding: 0 0 15px;
  }

  .form-group {
    padding: 0 15px;
    width: 50%;

    label {
      left: 15px;
    }
  }

  .list {
    .form-control {
      appearance: none;
      border: 0;
      border-bottom: 1px solid $border-gray;
      -moz-appearance:none;
      -webkit-appearance:none;
      background: url('../assets/framework/images/form/drop-down.png') no-repeat;
      background-color: $white;
      background-position: 95% 50%;
      border-radius: 0;
      box-shadow: none;
      padding: 6px;
      width: 100%;

      &:focus,
      &:active {
        border: 1px solid $theme-color;
      }
    }
  }

  .recaptcha {
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 1280px) {
  .employer-form {
    .button-group {
      padding: 0 0 15px 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .alert {
    margin: 0 0 20px;
  }

  .employer-form {
    .add-logo {
      float: none;
    }

    .form-group {
      width: 100%;
    }

    .button-group {
      padding: 15px 0 0;
    }
  }
}
