@import '../../../../../../css/variables';

.value-portrait-candidate-profile-section {
  background: $page-header-bg;
  display: inline-block;
  height: 80px;
  padding: 10px 20px;
  .value-portrait-candidate-profile-img {
    padding-left: 30px;
    img {
      border-radius: 50%;
      box-shadow: 0 0 4px 2px rgba(125, 125, 125, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
      float: left;
      height: 60px;
      margin: 0;
      position: relative;
      width: 60px;
      z-index: 9;
    }
  }
  .value-portrait-candidate-name {
    color: $white;
    display: inline-block;
    font-family: 'gothamrnd-book';
    font-size: 14px;
    margin: 0 0 -4px -15px;
    overflow: hidden;
    padding: 0 0 0 25px;
    text-transform: uppercase;
    text-overflow: ellipsis;
    width: calc(100% - 78px);
    white-space: nowrap;
  }
  .value-portrait-candidate-job-title {
    color: $white;
    display: inline-block;
    font-family: 'gothamrnd-book';
    font-size: 12px;
    margin-left: -15px;
    overflow: hidden;
    padding: 0 0 5px 25px;
    text-overflow: ellipsis;
    width: calc(100% - 78px);
    white-space: nowrap;
    label {
      float: left;
    }
    span {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      WIDTH: calc(100% - 58px);
    }
  }
}

.value-portrait-candidate-number {
  display: inline-block !important;
  margin: 5px 0 -4px;
  width: 100%;
  .phone-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -147px -846px;
    float: left;
    height: 28px;
    margin: 0;
    width: 34px;
  }
  span {
    float: left;
    font-size: 12px;
    margin-top: 5px;
    a {
      color: $white;
    }
  }
}

.value-portrait-candidate-email {
  display: inline-block !important;
  margin: -7px 0;
  width: 100%;
  .email-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -147px -884px;
    float: left;
    height: 28px;
    margin: 0;
    width: 34px;
  }
  span {
    float: left;
    font-size: 12px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 50px);
    a {
      color: $white;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: lowercase;
      white-space: nowrap;
    }
  }
}

.value-portrait-candidate-industry {
  display: inline-block !important;
  width: 100%;
  .industry-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat  -41px -471px;
    float: left;
    height: 34px;
    width: 50px;
  }
  label {
    color: $white;
    float: left;
    font-family: 'gothamrnd-book';
    font-size: 14px;
    font-weight: bold;
    margin: 10px 5px 0 0;
    max-width: 103px;
  }
  span {
    display: block;
    font-size: 12px;
    padding-top: 10px;
  }
}

.value-portrait-candidate-area-work {
  display: inline-block;
  width: 100%;
  .area-work-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -94px -469px;
    float: left;
    height: 37px;
    width: 50px;
  }
  label {
    color: $white;
    float: left;
    font-family: 'gothamrnd-book';
    font-size: 12px;
    font-weight: bold;
    margin: 10px 5px 25px 0;
    width: 103px;
  }
  span {
    color: $white;
    display: table-cell;
    font-size: 12px;
    height: 60px;
    vertical-align: middle;
    width: 100%;
  }
}

.padding-left-0 {
  padding-left: 0;
}

@media only screen and (max-width: 768px) {
  .value-portrait-candidate-profile-section {
    background: $white;
    height: auto;
    padding: 10px 15px;
    .value-portrait-candidate-name {
      color: $black1;
      background: transparent;
      font-size: 18px;
      margin: 0;
      padding: 0 15px;
      width: calc(100% - 100px);
    }
    .value-portrait-candidate-job-title {
      color: $black1;
      background: transparent;
      float: right;
      margin: 0;
      padding: 0 0 0 15px;
      width: calc(100% - 100px);
      label {
        float: left;
      }
      span {
        width: calc(100% - 70px);
        float: left;
      }
    }
    .value-portrait-candidate-profile-img {
      float: left;
      padding-left: 0;
      img {
        width: 100px;
        height: 100px;
        margin: 0 auto 20px;
        display: table;
        float: none;
      }
    }
    .value-portrait-candidate-number {
      margin: 12px 0 0 0;
      .phone-icon {
        height: 24px;
        width: 40px;
        float: left;
        margin-left: -9px;
        background: url(../assets/c-next/card-view/sprite.png) no-repeat -2px -615px;
      }
      span {
        margin: 0;
        width: calc(100% - 35px);
        a {
          color: $black1;
        }
      }
    }
    .value-portrait-candidate-email {
      margin: 0;
      .email-icon {
        height: 24px;
        width: 40px;
        float: left;
        margin-left: -9px;
        background: url(../assets/c-next/card-view/sprite.png) no-repeat -45px -615px;
      }
      span {
        margin: 0;
        width: calc(100% - 35px);
        a {
          color: $black1;
        }
      }
    }
    .value-portrait-candidate-industry {
      margin: 10px 0;
      display: none !important;
      span, label {
        display: inline-block;
        padding: 0;
        margin: 0 5px 0 0;
        width: 100%;
      }
    }
    .value-portrait-candidate-area-work {
      label {
        color: $black1;
        display: inline-block;
        font-size: 14px;
        margin: 8px 0 0;
        width: 100%;
      }
      span {
        color: $black1;
        height: 30px;
        padding: 0;
        width: auto;
      }
    }
    .padding-0 {
      padding: 0;
    }
    .border-top {
      border-top: 1px solid $gray;
      margin: 10px 0 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  .value-portrait-candidate-profile-section {
    .value-portrait-candidate-email {
      span {
        overflow: visible;
        text-overflow: clip;
        white-space: normal;
        word-break: break-all;
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 399px) {

}
