@import '../../../../../../css/variables';

.value-portrait-candidate-profile-section {
  background: $filter-border;
  display: inline-block;
  min-height: 166px;
  padding: 10px 20px;
  .value-portrait-candidate-profile-img {
    img {
      border-radius: 50%;
      box-shadow: 0 0 4px 2px rgba(125, 125, 125, 0.28), 0 0 1px 0 rgba(0, 0, 0, 0.16);
      float: left;
      height: 174px;
      margin: 10px 0 -55px 0;
      position: relative;
      width: 174px;
      z-index: 9;
    }
  }
  .value-portrait-candidate-name {
    background: $orange3;
    display: inline-block;
    font-size: 20px;
    font-family: 'gothamrnd-book';
    width: calc(100% - 160px);
    padding: 10px 25px;
    margin: 50px 0 0 -15px;
    text-transform: capitalize;
  }
  .value-portrait-candidate-job-title {
    background: $orange4;
    display: inline-block;
    width: calc(100% - 160px);
    padding: 5px 25px;
    margin-left: -15px;
    text-transform: capitalize;
  }
}

.value-portrait-candidate-number {
  display: inline-block;
  margin: 45px 0 10px 0;
  width: 100%;
  .phone-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -135px -434px;
    float: left;
    height: 34px;
    margin: 0;
    width: 50px;
  }
  span {
    float: left;
    font-size: 14px;
    margin-top: 5px;
    a {
      color: $black1;
    }
  }
}

.value-portrait-candidate-email {
  display: inline-block;
  margin: 45px 0 10px 0;
  width: 100%;
  .email-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat 6px -474px;
    float: left;
    height: 34px;
    margin: 0;
    width: 50px;
  }
  span {
    float: left;
    font-size: 14px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 50px);
    a {
      color: $black1;
    }
  }
}

.value-portrait-candidate-industry {
  display: inline-block;
  width: 100%;
  .industry-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat  -41px -471px;
    float: left;
    height: 34px;
    width: 50px;
  }
  label {
    color: $black1;
    float: left;
    font-family: 'gothamrnd-book';
    font-size: 14px;
    font-weight: bold;
    margin: 10px 5px 0 0;
    max-width: 103px;
  }
  span {
    display: block;
    font-size: 14px;
    padding-top: 10px;
  }
}

.value-portrait-candidate-area-work {
  display: inline-block;
  width: 100%;
  .area-work-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -94px -469px;
    float: left;
    height: 37px;
    width: 50px;
  }
  label {
    color: $black1;
    float: left;
    font-family: 'gothamrnd-book';
    font-size: 14px;
    font-weight: bold;
    margin: 10px 5px 25px 0;
    width: 103px;
  }
  span {
    display: block;
    float: left;
    font-size: 14px;
    padding-top: 10px;
    width: calc(100% - 170px);
  }
}

.padding-left-0 {
  padding-left: 0;
}

@media only screen and (max-width: 767px) {
  .value-portrait-candidate-profile-section {
    background: $white;
    padding: 10px 15px;
    .value-portrait-candidate-name {
      background: transparent;
      margin: 0;
      padding: 0 15px;
      width: calc(100% - 100px);
    }
    .value-portrait-candidate-job-title {
      background: transparent;
      float: left;
      margin: 0;
      padding: 0 0 0 15px;
      width: calc(100% - 100px);
    }
    .value-portrait-candidate-profile-img {
      float: left;
      img {
        width: 100px;
        height: 100px;
        margin: 0 auto 20px;
        display: table;
        float: none;
      }
    }
    .value-portrait-candidate-number {
      margin: 12px 0 0 0;
      .phone-icon {
        height: 24px;
        width: 40px;
        float: left;
        margin-left: -9px;
        background: url(../assets/c-next/card-view/sprite.png) no-repeat -2px -615px;
      }
      span {
        margin: 0;
      }
    }
    .value-portrait-candidate-email {
      margin: 0;
      .email-icon {
        height: 24px;
        width: 40px;
        float: left;
        margin-left: -9px;
        background: url(../assets/c-next/card-view/sprite.png) no-repeat -45px -615px;
      }
      span {
        margin: 0;
      }
    }
    .value-portrait-candidate-industry {
      margin: 10px 0;
      span, label {
        padding: 0;
        margin: 0 5px 0 0;
      }
    }
    .value-portrait-candidate-area-work {
      label {
        margin: 0;
        width: auto;
      }
      span {
        padding: 0;
        width: auto;
      }
    }
    .padding-0 {
      padding: 0;
    }
    .border-top {
      border-top: 1px solid $gray;
      margin: 10px 0 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 399px) {

}
