@import '../../../../css/variables';

.error-messages {
  position: fixed;
  bottom: 15px;
  left: 15px;
}

.compact-view {
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 767px) {
  .compact-view {
    .option-list {
      position: relative;
      margin-left: 17px;
      display: block;
      width: 100%;

      &::before {
        display: block;
        position: absolute;
        content: '';
        border-radius: 100%;
        height: 5px;
        width: 5px;
        top: 8px;
        left: -18px;
        margin: auto;
        background: $name;
      }
    }
  }
}
