<div class="modal-bg" *ngIf="highlightedSection.name=='Work-Area'"></div>
<div class="section-container" *ngIf="highlightedSection.name=='Work-Area'">
  <div class="main-content clearfix edit-modal-content">
    <div class="scrollable-content col-xs-7 candidate-work-area">
      <h4 class="heading title" *ngIf="isCandidate">Select area of work that describes your current focus.</h4>
      <h4 class="heading title" *ngIf="!isCandidate">In which area(s) is the candidate expected to work? </h4>
      <div class="select-option" *ngFor="let item of roles;let i = index">
        <label>
          <input type="checkbox" name="choices"
                 value="{{item.name}}" (click)="selectOption(item,$event)"
                 [checked]="isSelected(item.code)"/>
          <span>{{item.name}}</span>
          <div class="check"></div>
        </label>
        <div class="hover-list" *ngIf="item.allcapabilities && item.allcapabilities.length > 0">
          <h2>Capabilities under {{item.name}}</h2>
          <div class="lists-item" *ngFor="let capability of item.allcapabilities">
            <span>{{capability}}</span>
          </div>
        </div>
      </div>
    </div>

    <button class="btn-prev" (click)="onPrevious()"><span
      class="glyphicon glyphicon-chevron-left"></span></button>

    <div class="error-messages edit-error-msg" [class.info-message]="isInfoMessage" *ngIf="!isValid">
      <span class="glyphicon glyphicon-info-sign" *ngIf="isInfoMessage"></span>
      <span class="glyphicon glyphicon-warning-sign"></span>
      {{validationMessage}}
    </div>
    <div class="error-messages edit-error-msg info-message" *ngIf="isOthers">
      <span class="glyphicon glyphicon-info-sign" *ngIf="isOthers"></span>
      {{getMessage().OTHERS_AOW_MESSAGE}}
    </div>

    <div *ngIf="!isOthers" class="button-group clearfix candidate-work-area-btn">
      <!--<div class="saving-loader">Saving...</div>-->
      <button class="btn btn-primary" scrollTo scrollTargetSelector="#capability-area" (click)="onSave()"
              [hidden]="!showButton">Next</button>
      <button class="btn btn-primary" (click)="onSave()" [hidden]="showButton">Next</button>
    </div>

      <div *ngIf="isOthers" class="button-group clearfix">
          <button class="btn btn-primary" scrollTo scrollTargetSelector="#capability-area" (click)="onClose()">Close</button>
      </div>
    <div class="col-md-5 col-xs-12 work-area-section">
      <div class="bg-empty-class col-md-5 col-xs-12"></div>
      <div class="jobs-available-message" *ngIf="isCandidate">
        <span class="jobs-count">
          {{availableJobs}}
        </span>
        <p>
          {{getMessage().JOBS_AVALLABLE_MESSAGE}}
        </p>
      </div>
      <cn-tool-tip [message]="tooltipCandidateMessage" *ngIf="isCandidate"></cn-tool-tip>
      <cn-tool-tip [message]="tooltipRecruiterMessage" *ngIf="!isCandidate"></cn-tool-tip>
    </div>
  </div>
</div>

<div class="section-container"
     *ngIf="highlightedSection.name!='Work-Area'">
  <div class="main-content"
       (click)="OnEdit()">
    <div class="compact-view clearfix">
      <button class="btn-edit"
              (click)="OnEdit()"
              [hidden]="highlightedSection.isDisable" title="Edit Work Area"></button>
      <div class="col-sm-3 padding-right15">
        <h4 class="heading-compact">Area of work</h4>
      </div>
      <div class="col-sm-9 padding-left15">
        <div class="option-list" *ngFor="let item of selectedRoles;let i = index">
          <span class="option">
            {{item.name}}
          </span>
          <span *ngIf="selectedRoles.length>1 && i!=selectedRoles.length -1">,&nbsp;</span>&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
