<div class="section-container" *ngIf="highlightedSection.name=='Work-Area'">
  <cn-tool-tip [message]="tooltipCandidateMessage" *ngIf="isCandidate"></cn-tool-tip>
  <cn-tool-tip [message]="tooltipRecruiterMessage" *ngIf="!isCandidate"></cn-tool-tip>
  <div class="main-content clearfix modal-content">
    <h4 class="heading">Select Area of Work (Max 3)</h4>
    <div class="work-area col-sm-12">
      <div class="select-option" *ngFor="let item of roles;let i = index">
        <label>
          <input type="checkbox" name="choices"
                 value="{{item.name}}" (click)="selectOption(item,$event)"
                 [checked]="isSelected(item.name)"/>
          <span>{{item.name}}</span>
        </label>
        <div class="error-messages" *ngIf="alert">You have selected maximum work areas.</div>
      </div>

      <div class="button-group clearfix">
        <button class="btn btn-primary" scrollTo scrollTargetSelector="#capability-area" (click)="onNext()"
                [disabled]="!(savedSelectedRoles.length>0)" [hidden]="!showButton">Next</button>
        <button class="btn btn-default" (click)="onCancel()" [hidden]="showButton">Cancel</button>
        <button class="btn btn-primary"  (click)="onSave()"  [disabled]="!(savedSelectedRoles.length>0)" [hidden]="showButton">Save</button>
      </div>
    </div>
  </div>
</div>

<div class="modal popup" [style.display]="getStyleModal()">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <p>You can select maximum 3 Areas of Work.</p>
              <div class="button-group">
                <form>
                  <button class="btn btn-primary" (click)="showHideModal()">OK</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal popup" [style.display]="getStyleModal2()">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <p>data will be flushed</p>
            <div class="button-group">
              <form>
                <div class="button-group">
                  <button class="btn btn-primary" (click)="showModalStyle2 = !showModalStyle2;onNext()">Ok</button>
                  <button class="btn btn-primary" (click)="showHideModal2()">Cancel</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section-container" [class.recruite-view]="isCandidate == false"
     [ngClass]="(highlightedSection.name=='Profile' || isCandidate == false)?'full-width':'half-width work-area-section'"
     *ngIf="highlightedSection.name!='Work-Area'">
  <div class="main-content">
    <div class="compact-view clearfix">
      <h4 class="heading">Area Of Work
        <button class="btn-edit"
                (click)="highlightedSection.name='Work-Area';showButton=false;highlightedSection.sectionName='capability';highlightedSection.isDisable=true"
                [hidden]="highlightedSection.isDisable"></button>
      </h4>
      <ul>
        <li *ngFor="let item of selectedRoles;let i = index">
          <span class="option">
            {{item.name}}
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>
