<div class="alert alert-danger clearfix" [hidden]="isShowErrorMessage">
  <div class="col-sm-1 hidden-xs"><span class="glyphicon glyphicon-warning-sign"></span></div>
  <div class="col-sm-10 col-xs-11 error-msg"><b>{{ error_msg }}</b></div>
  <div class="col-sm-1 col-xs-1 close-msg">
    <button (click)="isShowErrorMessage = true" class="btn-close"><span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>

<form [formGroup]="userForm" (submit)="onSubmit()" class="employee-form">

  <div class="form-group">
    <control-messages [control]="userForm.controls.first_name"></control-messages>
    <input type="text" formControlName="first_name" id="first_name" class="form-control" maxlength="20" required/>
    <label>First Name</label>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.last_name"></control-messages>
    <input type="text" formControlName="last_name" id="last_name" class="form-control" maxlength="20" required/>
    <label>Last Name</label>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.email"></control-messages>
    <input type="email" formControlName="email" id="email" maxlength="40" class="form-control" required/>
    <label>Email</label>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.mobile_number"></control-messages>
    <input type="number" formControlName="mobile_number" id="mobile_number" class="form-control" required/>
    <label>Mobile</label>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.password"></control-messages>
    <input type="password" formControlName="password" id="password" [(ngModel)]="model.password"
           class="form-control"(blur)="makePasswordConfirm()" required/>
    <label>Password</label>
  </div>

  <div class="form-group">
    <control-messages [control]="userForm.controls.confirm_password"></control-messages>
    <input type="password" formControlName="confirm_password" id="confirm_password"
           [(ngModel)]="model.confirm_password" (blur)="makePasswordConfirm()" class="form-control" required/>
    <label>Confirm Password</label>
    <span class="error-messages"
          *ngIf="isPasswordConfirm == true"> Passwords do not match </span>
  </div>

  <div class="form-group">
    <div id="yearf" ng2-auto-complete
         [source]="validBirthYearList"
         min-chars="2"
         max-num-list="10"
         [accept-user-input]="false"
         (ngModelChange)="selectYearModel($event)"
         no-match-found-text="Please select valid birth year.">
      <input formControlName="birth_year" [ngModel]="passingYear" id="birth_year" class="form-control"
             placeholder="Year of Birth" required autocomplete="off"/>
      <!--<label class="select-label">Year of Birth</label>-->
    </div>
  </div>


  <div class="form-group">
    <control-messages [control]="userForm.controls.location"></control-messages>

    <input type="text" formControlName="location" class="form-control" placeholder="Location"
           (setAddress)="getAddress($event)" (city)="selectedCity($event)" mygoogleplace/>

  </div>

  <div class="form-group recaptcha">
    <recaptcha
      [(ngModel)]="userForm.captcha"
      formControlName="captcha"
      siteKey="6LdEDRkUAAAAAKCCqc0EIlMY8FLxSdH4GxrYSI6A"></recaptcha>
  </div>

  <div class="button-group">
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Create my account</button>
  </div>
</form>

