$profile-background: #f2f2f2;
$process-color: #224879;
$active-color: #fff;
$active-text-color: #224879;
$active-progress-line: #8eb4d9;
$bubble-background: #35567e;
$white: #fff;
$border-color: #e8e8e8;

.create-profile {
  background: $profile-background;
  clear: both;
  padding-bottom: 50px;
}

.bar-container {
  height: 90px;
  left: 0;
  margin: 0 auto;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.bar {
  counter-reset: step;
  margin: 0;
  padding: 0;

  &::before {
    clear: both;
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }

  li {
    float: left;
    font-weight: bold;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: 14%;

    p {
      color: $process-color;
    }

    &::before {
      background-color: $bubble-background;
      border-radius: 50%;
      color: $process-color;
      content: counter(step);
      counter-increment: step;
      display: block;
      font-size: 14px;
      height: 25px;
      line-height: 25px;
      margin: 0 auto 10px;
      position: relative;
      text-align: center;
      width: 25px;
      z-index: 2;
    }

    &::after {
      background: $process-color;
      content: '';
      height: 2px;
      left: 60%;
      position: absolute;
      top: 12px;
      width: 80%;
      z-index: 1;
    }

    &:last-child::after {
      content: none;
      display: none;
    }
  }

  .active {
    P {
      color: $white;
    }

    &::before {
      background: $white;
      border: 1px solid lighten($active-color, 30%);
      color: $active-text-color;
    }

    &::after {
      background: $active-progress-line;
    }
  }
}

.profile-wrapper {
  margin: 90px auto 0;
  width: 85%;

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .max-height {
    max-height: 400px;
    overflow: auto;
  }

  .min-height {
    min-height: 350px;
    overflow: auto;
  }

  .profeiciency-domain {
    .heading,
    .main-content {
      padding: 0;
    }

    .heading > .col-sm-6,
    .main-content > .col-sm-6 {
      padding: 15px;

      &:first-child {
        border-right: 1px solid $border-color;
      }
    }
  }

  .profile-name-first {
    color: #3695d1;
    font-size: 20px;
    font-weight: 900;
    background: none;
    padding: 0;
  }
  .profile-name-last {
    color: #1B75BC;
    font-size: 20px;
    font-weight: 900;
    background: none;
    padding: 0;
  }
}


@media only screen and (max-width: 1280px) {
  .profile-wrapper {
    display: inline-block;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .bar {
    li {
      p {
        font-size: 10px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .bar-container {
    height: 70px;
  }

  .bar {
    li {
      p {
        display: none;
      }
    }
  }

  .profile-wrapper {
    margin: 70px auto 0;

    .col-sm-3 {
      margin: 0 auto;
      width: 200px;
    }

    .col-sm-9 {
      width:  100%;
    }
  }
}
