<div class="wrapper clearfix">


  <div class="col-sm-6">
    <label>Education:</label>
    <div class="list">
      <div ng2-auto-complete
           [source]="educationlist"
           (ngModelChange)="selecteducationModel($event)">
        <input class="form-control" [ngModel]="educationModel"   placeholder="Select Education" />
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <label >Experience:</label>
    <div class="list">
      <div ng2-auto-complete
           [source]="experiencelist"
           (ngModelChange)="selectexperienceModel($event)">
        <input class="form-control" [ngModel]="experienceModel"  placeholder="Select Experience" />
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <label>Salary:</label>
    <div class="list">
      <div ng2-auto-complete
           [source]="salarylist"
           (ngModelChange)="selectsalaryModel($event)">
        <input class="form-control" [ngModel]="salaryModel"   placeholder="Select Salary" />
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <label>Joining Period:</label>
    <div class="list">
      <div ng2-auto-complete
           [source]="noticeperiodlist"
           (ngModelChange)="selectenoticeperiodModel($event)">
        <input class="form-control" [ngModel]="noticeperiodModel"  placeholder="Select Period" />
      </div>
    </div>
  </div>

  <!--<div class="col-sm-12" *ngIf="showIndustry">
    <label>Industry:</label>

    <cn-single-select-list [radioData]="industries"  (selectedData)="selectIndustryModel($event)"></cn-single-select-list>

  </div>

  <div class="col-sm-12" *ngIf="showRole">
    <label>Role:</label>

    <cn-multi-select-list [checkBoxData]="roles"  [maxInput]="'3'" (selectedData)="selectRolesModel($event)"></cn-multi-select-list>
  </div>-->
</div>
