
  <div class="col-sm-4">
  <label>Educational Qualification:</label>
  <select class="form-control" [(ngModel)]="jobRequirement.education" (change)="selecteducationModel($event.target.value)">
    <option *ngFor="let c of educationlist" [ngValue]="c">{{c}}</option>
  </select>
    </div>

  <div class="col-sm-4">
    <label>Experience Band:</label>
    <select class="form-control" [(ngModel)]="jobRequirement.experience" (change)=selectexperienceModel($event.target.value)>
      <option *ngFor="let c of experiencelist" [ngValue]="c">{{c}}</option>
    </select>
  </div>

  <div class="col-sm-4">
    <label>Salary Band:</label>
    <select class="form-control" [(ngModel)]="jobRequirement.salary" (change)="selectsalaryModel($event.target.value)">
      <option *ngFor="let c of salarylist" [ngValue]="c">{{c}}</option>
    </select>
  </div>

  <div class="col-sm-4">
    <label>Joining Period:</label>
    <select class="form-control" [(ngModel)]="jobRequirement.noticeperiod" (change)="selectenoticeperiodModel($event.target.value)">
      <option *ngFor="let c of noticeperiodlist" [ngValue]="c" >{{c}}</option>
    </select>
  </div>



