$error: #e82c0c;

.poster-wrapper {

  .error-messages {
    padding-left: 0;
    color: $error;
    font-size: 12px;
    padding-left: 0;

    p {
      color: $error;
      font-size: 12px;
      padding-left: 0;
    }
  }

  .btn-primary:disabled {
    display: none;
  }

  .capabilities {
    .info {
      display: none;
    }
    .recruiter {
      display: block;
    }
  }
}

.info {
  font-size: 12px;
  font-style: italic;
  background: url('../../assets/c-next/profile-creator/info.png')  no-repeat  0 0;
  padding-left: 25px;
  display: block;
  margin: 0 0 10px;
}