$error: #e82c0c;

.poster-wrapper {
  .error-messages {
    padding-left: 0;
    color: $error;
    font-size: 12px;
    padding-left: 0;

    p {
      color: $error;
      font-size: 12px;
      padding-left: 0;
    }
  }
}