$text-color: #999;
$white: #fff;
$instruction: #00aed5;
$profile-section-shadow: rgba(204, 204, 204, 1);

.profile-wrapper, .job-poster {

  .section-container {
    -moz-box-shadow: 3px 3px 3px 0 $profile-section-shadow;
    -webkit-box-shadow: 3px 3px 3px 0 $profile-section-shadow;
    box-shadow: 3px 3px 3px 0 $profile-section-shadow;
    margin-top: 15px;
  }

  .heading {
    color: $white;
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 15px;
    position: relative;
    text-align: left;

    span {
      background: transparent;
      color: #e8e8e8;
      float: right;
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
    }

    .close-dialog {
      padding: 2px 35px 0 0;
    }

    .glyphicon-remove {
      border: 1px solid #e8e8e8;
      border-radius: 50%;
      font-style: normal;
      padding: 5px;
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }

  .main-content {
    background: $white;
    padding: 15px;
    text-align: left;
  }

  .form-control {
    width: auto;
  }

  span {
    background-color: $white;
    color: $text-color;
    padding-left: 15px;
  }

  .btn-create-profile {
    background-color: $white;
    color: $text-color;
    padding: 4px 15px;
  }

  /*.btn-default {
    float: right;

    &:focus,
    &:active {
      outline: none;
    }
  }*/

  .instructions {
    color: $instruction;
    font-size: 12px;
    font-style: italic;
    margin: 0;
  }

  .left-content,
  .academic-details {
    .form-group {
      float: left;
      margin: 15px 0 15px 0;
      padding: 0;
      position: relative;
      width: 100%;

      label {
        -moz-transition: top .2s ease-in, font-size .2s ease-in;
        -webkit-transition: top .2s ease-in, font-size .2s ease-in;
        color: $text-color;
        font-size: 14px;
        font-weight: normal;
        left: 0;
        position: absolute;
        top: 10px;
        transition: .2s ease all;
        //transition: top .2s ease-in, font-size .2s ease-in;
      }

      input {
        color: $text-color;

        &:focus ~ label,
        &:valid ~ label {
          font-size: 12px;
          top: -10px;
        }
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .profile-wrapper {
    .btn-default {
      float: none;
      margin: 10px 0 0;
    }

    .instructions {
      margin-top: 10px;
    }
  }
}
