$text-color: #666;
$white: #fff;
$instruction: #00aed5;
$profile-section-shadow: rgba(204, 204, 204, 1);
$error: #e82c0c;
$modal-bg: #f2f2f2;
$border-color: #e8e8e8;

.profile-wrapper {

  .section-container {
/*    -moz-box-shadow: 2px 2px 2px 0 $profile-section-shadow;
    -webkit-box-shadow: 2px 2px 2px 0 $profile-section-shadow;
    box-shadow: 2px 2px 2px 0 $profile-section-shadow;*/
    margin-top: 0;
  }

  .heading {
    color: $white;
    font-size: 14px;
    margin: 0 0 15px;
    padding: 8px 15px;
    position: relative;
    text-align: left;
    font-family: 'gothamrnd-book';
    font-weight: bold;
    background: #f1f1f1;
    border-radius: 5px;

    span {
      background: transparent;
      color: #3694d1;
      float: right;
      font-size: 12px;
      font-style: italic;
      font-weight: 400;
    }

    .close-dialog {
      padding: 2px 35px 0 0;
    }

    .glyphicon-remove {
      border: 1px solid #3694d1;
      border-radius: 50%;
      font-style: normal;
      padding: 5px;
      position: absolute;
      right: 15px;
      top: 4px;
    }
  }

  .main-content {
    background: $white;
    padding: 15px;
    text-align: left;
  }

  .info {
    font-size: 12px;
    font-style: italic;
    background: url('../../assets/c-next/profile-creator/info.png')  no-repeat  5px 5px;
    padding: 5px 5px 5px 25px;
    display: block;
    margin: 0 0 10px;
    border: 1px solid $border-color;
    border-radius: 4px;
    -moz-box-shadow: 1px 1px 1px 0 $profile-section-shadow;
    -webkit-box-shadow: 1px 1px 1px 0 $profile-section-shadow;
    box-shadow: 1px 1px 1px 0 $profile-section-shadow
  }

  .form-control {
    width: 100%;
  }

  span {
    background-color: $white;
    color: $text-color;
    padding-left: 15px;
  }

  .btn-create-profile {
    background-color: $white;
    color: $text-color;
    padding: 4px 15px;
  }

  .instructions {
    color: $instruction;
    font-size: 12px;
    font-style: italic;
    margin: 0;
  }

  .left-content,
  .academic-details,
  .awards,
  .certification {
    .form-group {
      float: left;
      margin: 15px 0 15px 0;
      padding: 0;
      position: relative;
      width: 100%;

      label {
        -moz-transition: top .2s ease-in, font-size .2s ease-in;
        -webkit-transition: top .2s ease-in, font-size .2s ease-in;
        color: $text-color;
        font-size: 14px;
        font-weight: normal;
        left: 0;
        position: absolute;
        top: 10px;
        transition: .2s ease all;
        z-index: 1;
        //transition: top .2s ease-in, font-size .2s ease-in;
      }

      input {
        color: $text-color;
        position: relative;
        z-index: 2;

        &:focus ~ label,
        &:valid ~ label {
          font-size: 12px;
          top: -10px;
        }
      }
    }
  }

  .error-messages {
    padding-left: 0;
    color: $error;
    font-size: 12px;
    padding-left: 0;

    p {
      color: $error;
      font-size: 12px;
      padding-left: 0;
    }
  }

  .btn-primary:disabled {
    display: none;
  }

  .capabilities {
    .info {
      display: none;
    }
    .candidate {
      display: block;
    }
  }
}

.modal-dialog {
  border-radius: 25px;
  text-align: center;

  .modal-body {
    padding: 30px;
  }

  .modal-content {
    background: $modal-bg;
    border-radius: 25px;
  }

  p {
    color: $text-color;
    font-size: 18px;
    text-align: center;
  }

  .button-group {
    margin-top: 30px;
  }

  .btn {
    float: none;
    margin-top: 0;

    &:focus,
    &:active {
      outline: none;
    }
  }
}

@media only screen and (max-width: 980px) {
  .profile-wrapper {
    .btn-default {
      float: none;
      margin: 10px 0 0;
    }

    .instructions {
      margin-top: 10px;
    }
  }
}
