<div class="list-container">
  <div class="header">
    <!--<a href="./public/recruiter.csv" download="Recruiter.csv" title="Export recruiter to CSV File"><i class="glyphicon glyphicon-export"></i>Export</a>-->
  </div>
  <div title="Export recruiter to CSV File" class="export-data-link" (click)="generateRecruiterDetailFile()"><span class="glyphicon glyphicon-export" ></span>Export</div>
  <a href="./public/recruiter.csv" download="recruiter.csv"  id="link_recruiter" hidden></a>
  <div class="list-view">
    <ul class="list-header">
      <li>
        <h5>Company Name (Size)</h5>
      </li>
      <li>
        <h5>Email Address</h5>
      </li>
      <li>
        <h5>Contact</h5>
      </li>
      <li>
        <h5>Current Location</h5>
      </li>
      <li>
        <h5>Total Posted Jobs</h5>
      </li>
      <li>
        <h5>Activation Status</h5>
      </li>
      <li>
        <h5>Actions</h5>
      </li>
    </ul>
    <div *ngFor="let recruiter of recruiters;let i = index">
      <ul>
        <li>
          <p>{{recruiter.data.company_name}} ({{recruiter.data.company_size}})</p>
        </li>
        <li>
          <p>{{recruiter.email}}</p>
        </li>
        <li>
          <p>+91-{{recruiter.mobile_number}}</p>
        </li>
        <li>
          <p *ngIf="recruiter.location && recruiter.location.city">{{recruiter.location.city}}</p>
        </li>
        <li>
          <span *ngIf="recruiter.data && recruiter.data.postedJobs">{{recruiter.data.postedJobs.length}}</span>
        </li>
        <li>
          <div *ngIf="recruiter.isActivated"><span class="activated" title="Activated"></span><span>Active</span></div>
          <div *ngIf="!recruiter.isActivated"><span class="not-activated" title="Deactivated"></span><span>Deactivated</span></div>
        </li>
        <li>
          <button *ngIf="recruiter.isActivated" class="btn-danger btn-custom" (click)="updateDetail(i,recruiter,recruiter.isActivated)">Deactivate</button>
          <button *ngIf="!recruiter.isActivated" class="btn-primary btn-custom" (click)="updateDetail(i,recruiter,recruiter.isActivated)">Activate</button>
          <button class="btn-danger btn-custom" (click)="viewProfile(recruiter,'/value-portrait')">View Profile</button>
        </li>
      </ul>
    </div>
  </div>
</div>
