@import '../material-take-off-report';

.inner-item-list {
  .panel {
    margin-bottom: 5px;
    .panel-heading {
      margin-bottom: 5px;
    }
  }
  .inner-sub-items-list {
    .caret {
      left: 25px;
    }
    .sub-items-list {
      .item-description {
        padding-left: 15px;
      }
    }
  }
}
