@import '../../../css/variables';

.error-messages {
  color: $error-messages;
  font-size: 10px;
  font-style: italic;
  margin: 3px 0 0;
  position: absolute;
  line-height: 11px;
}

.btn {
  &:focus,
  &:active {
    outline: 0;
  }
}

.company-details-form {
  padding-bottom: 10px;
  display: inline-block;
}

.company-details {
  background-position: 0 0;
  display: table;

  .content {
    left: 50%;
    margin: 0 0 35px;
    position: absolute;
    top: 18%;
    transform: translate(-50%, 0);
    width: 75%;
  }

  form {
    padding: 15px;

    h4 {
      margin: 0 0 15px;
      font-size: 15px;
      font-weight: 600;
    }
  }

  .upload-documents {
    //clear: both;
    float: left;
    padding-left: 50px;
    padding-right: 0;
    //border: 1px solid $border-color;
    //width: 100%;

    [type='file'] {
      display: none;
    }

    .col-sm-12 {
      display: inline-block;
      padding: 0 0 30px;
      clear: both;
      width: 100%;
    }

    textarea {
      width: 100%;
      resize: none;
      border-radius: 0;
      overflow-y: auto;

    }

    .custom-file-upload {
      border-radius: 0;
      cursor: pointer;
      display: inline-block;
      float: left;
      margin: 9px 10px 0 0;
      height: 25px;
      padding: 0;
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -2px -395px;
      width: 26px;
    }

    .file-name {
      margin: 37px 7px 0;
      font-size: 10px;
      color: $btn-color;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 20px;
      position: absolute;
      right: 36px;
    }
  }

  .describe-error-message {
    left: 0;
    position: absolute;
    top: 118px;
    width: 100%;
  }

  .button-group {
    float: left;
    margin: 15px 0;
    width: 75%;
  }

  .about-company {
    height: 120px;
    border-radius: 0;
    resize: none;
  }

  input {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 0 0;
    padding: 6px 12px 6px 0;
  }

  label {
    font-weight: 100;
    color: $text-color;
    margin: 5px 0;
    word-break: keep-all;
  }
  .company-name {
    color: $btn-color;
    font-weight: 600;
  }
}

.company-image {
  height: 385px;
  position: relative;
  border-right: 1px solid #e8e8e8;
  z-index: 3;
  .company-description-container {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

.main-form-wrapper {
  h5.heading-text {
    color: $btn-color;
    font-weight: 600;
    font-size: 24px;
    font-family: gothamrnd-light;
  }
}

.loader-icon {
  margin-top: -20px;
  margin-right: 4px;
}

.file-uploaded-icon {
  display: inline-block;
  width: 24px;
  height: 23px;
  margin-top: -22px;
  margin-right: 0;
  background: url(../assets/c-next/card-view/sprite.png) no-repeat -106px -399px;
}

@media only screen and (max-width: 768px) {
  .company-details {
    .content {
      width: 90%;
    }

    .upload-documents {
      padding: 0;
      border: 0;

      .col-sm-5 {
        padding: 0;

        input {
          margin-bottom: 20px;
        }

        .error-messages {
          margin: -17px 0 0;
        }
      }

      .file-name {
        white-space: pre-wrap;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .loader-icon {
    margin-right: -6px;
  }
  .company-image {
    border: 0;
    height: 160px;
  }
  .company-details {

    .content {
      margin: 0;
      position: relative;
      width: calc(100% - 30px);
    }

    .upload-documents {
      .file-name {
        overflow: visible;
        white-space: normal;
        width: 83%;
        word-wrap: break-word;
        word-break: keep-all;
        text-align: right;
      }
    }

    .button-group {
      width: 100%;
    }
  }

  .main-form-wrapper {
    h5.heading-text {
      font-size: 20px;
      margin-top: 80px;
    }
  }
}
