@import '../../../../../css/variables';

.basic-description {
  text-align: left;
  p,
  span,
  label {
    color: $text-color2;
    font-size: 12px;
    word-break: keep-all;
  }

  .basic-info {
    img {
      float: left;
      margin-right: 15px;
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    .name {
      color: $name;
      font-family: 'gothamrnd-book';
      font-weight: bold;
      text-transform: capitalize;
    }

    p {
      color: $text-color2;
      margin: 0 0 5px;
    }
  }

  .details {
    /*border-bottom: 1px solid $blue-color;*/
    margin: 0px 0;
    padding: 0px;

    .col-sm-6 {
      min-height: 20px;
    }

    span {
      color: $text-color2;
      width: 100%;
      font-size: 12px;
    }

    label {
      color: $blue-color;
      font-weight: 500;
      font-family: 'gothamrnd-book';
      margin: 10px 0 0;
      width: 100%;
      font-size: 14px;
    }
  }
}

.exact {
  img {
    width: 14px;
    float: left;
    margin: 1px 10px;
  }
  .missing-img {
    display: none;
  }
  strong {
    font-weight: 500;
  }
}

.above {
  img {
    width: 14px;
    float: left;
    margin: 1px 10px;
  }
  .missing-img {
    display: none;
  }
  strong {
    font-weight: 500;
  }
}

.below {
  img {
    width: 14px;
    float: left;
    margin: 1px 10px;
  }
  .missing-img {
    display: none;
  }
  strong {
    font-weight: 500;
  }
}

.missing {
  img {
    width: 14px;
    float: left;
    margin: 1px 10px;
  }
  .exact-img {
    display: none;
  }
  strong {
    font-weight: 500;
  }
  /*&:hover .info-hover-section {
    display: block;
    position: fixed;
    background: #fff;
    padding: 10px 15px;
    z-index: 9999;
    width: 200px;
    margin-top: 20px;
    font-size: 12px;
    color: #576b7c;
    font-weight: 100;
    font-family: 'gothamrnd-light';
  }*/
}

.info-description {
  position: relative;
}

.info-description:hover .info-hover-section {
  display: block;
  position: absolute;
  background: $white;
  padding: 10px 15px;
  z-index: 9999;
  width: 200px;
  margin-top: 15px;
  font-size: 12px;
  color: #576b7c;
  top: 0;
  font-weight: 100;
  font-family: 'gothamrnd-light';
  box-shadow: 0px 2px 4px 0px #c1c1c1;
}

.first-label {
  margin-top: 0;
}

.info-hover-section {
  display: none;
}

.about-company-label {
  color: $text-color2;
  width: 100%;
  font-size: 12px;
  label {
    color: $blue-color;
    font-weight: 500;
    font-family: 'gothamrnd-book';
    margin: 10px 0 0;
    width: 100%;
    font-size: 14px;
  }
}

.option {
  border-radius: 28px;
  color: #000000;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 15px 5px 0;
  min-width: 100px;
  padding: 5px 10px 5px 15px;
  text-align: center;
  height: 28px;
  background: transparent !important;
  img {
    width: 18px;
    margin: 0 0 0 10px;
    float: right;
  }
}

.option.exact {
  border: 1px solid $green2;
}

.option.missing {
  border: 1px solid $red1;
}

.additional-capabilities-lists {
  padding-top: 8px;
}

.spa-candidate-col {
  padding-left: 235px;
}

.job-info-labal {
  div {
    padding: 6px 6px 0;
    color: $white;
  }
  .user-job-label {
    label,
    .company-name,
    .jobTitle-name {
      font-size: 12px;
    }
  }
}
