<div class="guided-tour-section guided-tour-overlay"
     *ngIf="guidedTourStatus?.indexOf(guidedTourImgOverlayScreensStackView) == -1 && isCandidate">
  <!--<img src={{guidedTourImgOverlayScreensStackViewPath}} alt="Profile Picture">-->
  <div class="guided-tour-overlay-bg">
    <div class="got-it-btn" (click)="onGotItGuideTour()">
      <span>{{gotItMessage}}</span>
    </div>
  </div>
</div>


<div id="{{jobCompareIdForPrint}}">
<div class="modal-header">
  <cn-print-screen *ngIf="!isCandidate" [typeOfView]="typeOfView" [screenIdForPrint]="'print-job-compare-view'" [fileName]="'Candidate-Overlay-View'" [candidateId]="candiadteId" [jobId]="recruiterId"></cn-print-screen>
  <div *ngIf="typeOfView =='spa_job' && recruiter != undefined">
    <img src="/assets/framework/images/dashboard/profile.png" alt="User Profile"
         *ngIf="recruiter.company_logo==undefined"/>
    <img [src]="getImagePath(recruiter.company_logo)" alt="User Profile"
         *ngIf="recruiter.company_logo!=undefined"/>
    <div class="job-info-labal pull-left">
      <div class="user-job-label">
        <label>Compatibility check for</label>
        <span *ngIf="recruiter.postedJobs[0]">{{recruiter.postedJobs[0].jobTitle}}</span> -
        <label>Job Profile</label>
        <label *ngIf="!recruiter.postedJobs[0].hideCompanyName">at</label>
        <span *ngIf="!recruiter.postedJobs[0].hideCompanyName" class="company-name">{{recruiter.company_name}}</span>
      </div>
    </div>
    <img src="/assets/c-next/card-view/close-white.png" (click)="closeThis()" class="close"/>
  </div>
  <div *ngIf="((typeOfView =='spa_candidate' || typeOfView =='compact') && candidateDetails != undefined)">
    <img src="/assets/framework/images/dashboard/profile.png" alt="User Profile" class="profile-avatar"
         *ngIf="candidateDetails.picture==undefined"/>
    <img [src]="getImagePath(candidateDetails.picture)" alt="User Profile" class="profile-avatar"
         *ngIf="candidateDetails.picture!=undefined"/>
    <div class="job-info-labal">
      <div class="user-job-label pull-left">
        <label>Compatibility check for</label>
        <span class="name">{{candidateDetails.first_name}} {{candidateDetails.last_name}}</span>
        <label>with</label>
        <span class="jobTitle-name">{{candidate.jobTitle}}</span>
      </div>
    </div>

    <img src="/assets/c-next/card-view/close-white.png" (click)="closeThis()" class="close"/>
  </div>
</div>
<div class="col-sm-12 no-padding">
  <div class="guided-tour-description"
       *ngIf="guidedTourStatus?.indexOf(guidedTourImgOverlayScreensStackView) == -1 && isCandidate">
    <div class="guided-tour-containt text-center" [innerHTML]="getMessage().GUIDED_TOUR_MISMATCHES_COMPATIBILITY_MESSAGE"></div>
  </div>
  <section class="container-fluid one-page-summary" *ngIf="data != undefined && typeOfView =='spa_candidate'">
    <div class="left-container">
      <section *ngIf="candidate != undefined && candidateDetails != undefined" >
        <div class="col-sm-3 left-content">
          <div>
            <div class="basic-description" *ngIf="candidateDetails != undefined">
              <div class="basic-info clearfix">
                 <!-- <img src="assets/framework/images/dashboard/profile.png" alt="User Profile"
                      *ngIf="candidateDetails.picture==undefined"/>
                 <img [src]="getImagePath(candidateDetails.picture)" alt="User Profile"
                      *ngIf="candidateDetails.picture!=undefined"/>
                 <p class="name">{{candidateDetails.first_name}} {{candidateDetails.last_name}}</p>
                 <p>{{candidate.jobTitle}}</p>-->
              </div>

              <div class="details clearfix">
                <label>Mobile Number</label>
                <span>+91 {{candidateDetails.mobile_number}}</span>
                <label>Email Id</label>
                <span>{{candidateDetails.email}}</span>
                <label>Industry</label>
                <span>{{candidate.industry.name}}</span>
                <label>Area of Work</label>
                <span *ngFor="let role of candidate.industry.roles;let i = index">{{role.name}}
          <span *ngIf="candidate.industry.roles.length>1 &&  i!=candidate.industry.roles.length-1">,</span>
        </span>
                <label>Domain Exposure</label>
                <span *ngFor="let industry of candidate.interestedIndustries;let i = index">{{industry}}
          <span *ngIf="candidate.interestedIndustries.length>1 && i<candidate.interestedIndustries.length-1">,</span>
        </span>
                <label  *ngIf="recruiter != undefined" [class.exact]="data.experienceMatch=='exact'" [class.missing]="data.experienceMatch=='missing'">
                  <strong class="title-name pull-left"> Experience <b class="small-label"></b></strong>
                  <img class="exact-img" src="assets/framework/images/dashboard/right-tick.svg"/>
                  <div class="info-description">
                    <img class="missing-img" src="assets/framework/images/dashboard/info-red.svg"/>
                    <div class="info-hover-section">
                      Job Experience Band {{recruiter.postedJobs[0].experienceMinValue}} -
                      {{recruiter.postedJobs[0].experienceMaxValue}}<br/>
                      {{candidateDetails.first_name}}'s Experience {{candidate.professionalDetails.experience}}
                    </div>
                  </div>
                </label>
                <span>{{candidate.professionalDetails.experience}}</span>
                <label [class.exact]="data.salaryMatch=='exact'" [class.above]="data.salaryMatch=='above'"
                       [class.below]="data.salaryMatch=='below'" [class.missing]="data.salaryMatch=='missing'">
                  <strong class="title-name pull-left"> Current Salary <b class="small-label"></b></strong>
                  <img class="exact-img" src="assets/framework/images/dashboard/right-tick.svg"/>
                  <div  *ngIf="recruiter != undefined" class="info-description">
                    <img class="missing-img" src="assets/framework/images/dashboard/info-red.svg"/>
                    <div class="info-hover-section">
                      Job Salary Band {{recruiter.postedJobs[0].salaryMinValue}} -
                      {{recruiter.postedJobs[0].salaryMaxValue}}<br/>
                      {{candidateDetails.first_name}}'s Salary {{candidate.professionalDetails.currentSalary}}
                    </div>
                  </div>
                </label>
                <span>{{candidate.professionalDetails.currentSalary}}</span>
                <label>Current Company</label>
                <span>{{candidate.professionalDetails.currentCompany}}</span>
                <label>Current Location</label>
                <span *ngIf="candidate.location && candidate.location.city ">{{candidate.location.city}}</span>
                <!--<span>{{candidateDetails.location.city}}</span>-->
                <label [class.exact]="data.releaseMatch=='exact'" [class.above]="data.releaseMatch=='above'"
                       [class.below]="data.releaseMatch=='below'" [class.missing]="data.releaseMatch=='missing'">
                  Ready to Relocate</label>
                <span>{{candidate.professionalDetails.relocate}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="candidate.employmentHistory.length>0">
            <cn-vertical-list-view [data]="candidate.employmentHistory" [type]="'employment history'"
                                   [calledFrom]="'singlepageview'"></cn-vertical-list-view>
          </div>
          <div *ngIf="candidate.academics.length>0">
            <cn-vertical-list-view [data]="candidate.academics" [type]="'academic details'"
                                   [calledFrom]="'singlepageview'"></cn-vertical-list-view>
          </div>
          <div *ngIf="candidate.awards.length>0">
            <cn-vertical-list-view [data]="candidate.awards" [type]="'awards'"
                                   [calledFrom]="'singlepageview'"></cn-vertical-list-view>
          </div>
          <div *ngIf="candidate.certifications.length>0">
            <cn-vertical-list-view [data]="candidate.certifications" [type]="'certifications'"
                                   [calledFrom]="'singlepageview'"></cn-vertical-list-view>
          </div>
        </div>
      </section>
    </div>
  </section>

  <div class="col-sm-12 no-padding">
    <section class="container-fluid one-page-summary" *ngIf="data != undefined && typeOfView =='spa_job'">
    <div class="left-container">
      <div class="col-sm-3 left-content">
            <div>
              <div class="basic-description" *ngIf="recruiter != undefined">

                <!-- <div class="basic-info clearfix">
                   <img src="assets/framework/images/dashboard/profile.png" alt="User Profile"
                        *ngIf="recruiter.company_logo==undefined"/>
                   <img [src]="getImagePath(recruiter.company_logo)" alt="User Profile"
                        *ngIf="recruiter.company_logo!=undefined"/>
                   <p class="name">{{recruiter.company_name}}</p>
                 </div>-->

                <div class="details clearfix" *ngFor="let postedJob of recruiter.postedJobs">
                  <!-- <label class="first-label">Job Title </label>
                   <span>{{postedJob.jobTitle}}</span>-->
                  <label *ngIf="candidate == undefined">Hiring Manager</label>
                  <span *ngIf="candidate == undefined">{{postedJob.hiringManager}}</span>
                  <label *ngIf="recruiter.isRecruitingForself">Department</label>
                  <label *ngIf="!recruiter.isRecruitingForself">Company Name</label>
                  <span *ngIf="!postedJob.hideCompanyName">{{postedJob.department}}</span>
                  <span *ngIf="postedJob.hideCompanyName">Not Disclosed</span>
                  <label>Industry</label>
                  <span>{{postedJob.industry.name}}</span>
                  <label>Area of Work</label>
                  <span *ngFor="let role of postedJob.industry.roles;let i = index">{{role.name}}
            <span *ngIf="postedJob.industry.roles.length>1 &&  i!=postedJob.industry.roles.length-1">,</span>
          </span>
                  <label>Additional domain exposure</label>
                  <span *ngFor="let industry of postedJob.interestedIndustries;let i = index">{{industry}}<span
                    *ngIf="recruiter.postedJobs[0].interestedIndustries.length>1 && i!=postedJob.interestedIndustries.length-1">,</span>
          </span>
                  <label [class.exact]="data.educationMatch=='exact'" [class.above]="data.educationMatch=='above'"
                         [class.below]="data.educationMatch=='below'"
                         [class.missing]="data.educationMatch=='missing'">
                    <strong class="title-name pull-left">Education</strong>
                    <img class="exact-img" src="assets/framework/images/dashboard/right-tick.svg"/>
                    <div class="info-description">
                      <img class="missing-img" src="assets/framework/images/dashboard/info-red.svg"/>
                      <div class="info-hover-section">
                        Job Education Required {{recruiter.postedJobs[0].education}}<br/>
                        {{candidateDetails.first_name}}'s Education {{candidate.professionalDetails.education}}
                      </div>
                    </div>
                  </label>
                  <span>{{postedJob.education}}</span>

                  <label
                    *ngIf="recruiter.postedJobs[0].experienceMinValue != recruiter.postedJobs[0].experienceMaxValue"
                    [class.exact]="data.experienceMatch=='exact'" [class.above]="data.experienceMatch=='above'"
                         [class.below]="data.experienceMatch=='below'" [class.missing]="data.experienceMatch=='missing'">
                    <strong class="title-name pull-left"> Experience Band <b class="small-label">(In Years)</b></strong>
                    <img class="exact-img" src="assets/framework/images/dashboard/right-tick.svg"/>
                    <div class="info-description">
                      <img class="missing-img" src="assets/framework/images/dashboard/info-red.svg"/>
                      <div class="info-hover-section">
                        Job Experience Band {{recruiter.postedJobs[0].experienceMinValue}} -
                        {{recruiter.postedJobs[0].experienceMaxValue}}<br/>
                        {{candidateDetails.first_name}}'s Experience {{candidate.professionalDetails.experience}}
                      </div>
                    </div>
                  </label>
                  <span
                    *ngIf="recruiter.postedJobs[0].experienceMinValue != recruiter.postedJobs[0].experienceMaxValue">{{postedJob.experienceMinValue}} - {{postedJob.experienceMaxValue}}</span>


                  <label
                    *ngIf="recruiter.postedJobs[0].experienceMinValue == recruiter.postedJobs[0].experienceMaxValue"
                    [class.exact]="data.experienceMatch=='exact'" [class.above]="data.experienceMatch=='above'"
                    [class.below]="data.experienceMatch=='below'" [class.missing]="data.experienceMatch=='missing'">
                    <strong class="title-name pull-left"> Experience <b class="small-label">(In Years)</b></strong>
                    <img class="exact-img" src="assets/framework/images/dashboard/right-tick.svg"/>
                    <div class="info-description">
                      <img class="missing-img" src="assets/framework/images/dashboard/info-red.svg"/>
                      <div class="info-hover-section">
                        Job Experience {{recruiter.postedJobs[0].experienceMinValue}} <br/>
                        {{candidateDetails.first_name}}'s Experience {{candidate.professionalDetails.experience}}
                      </div>
                    </div>
                  </label>
                  <span
                    *ngIf="recruiter.postedJobs[0].experienceMinValue == recruiter.postedJobs[0].experienceMaxValue">{{postedJob.experienceMinValue}}</span>

                  <label *ngIf="recruiter.postedJobs[0].salaryMinValue != recruiter.postedJobs[0].salaryMaxValue"
                         [class.exact]="data.salaryMatch=='exact'" [class.above]="data.salaryMatch=='above'"
                         [class.below]="data.salaryMatch=='below'" [class.missing]="data.salaryMatch=='missing'">
                    <strong class="title-name pull-left"> Salary Band <b class="small-label">(In Lacs)</b></strong>
                    <img class="exact-img" src="assets/framework/images/dashboard/right-tick.svg"/>
                    <div class="info-description">
                      <img class="missing-img" src="assets/framework/images/dashboard/info-red.svg"/>
                      <div class="info-hover-section">
                        Job Salary Band {{recruiter.postedJobs[0].salaryMinValue}} -
                        {{recruiter.postedJobs[0].salaryMaxValue}}<br/>
                        {{candidateDetails.first_name}}'s Salary {{candidate.professionalDetails.currentSalary}}
                      </div>
                    </div>
                  </label>
                  <span *ngIf="recruiter.postedJobs[0].salaryMinValue != recruiter.postedJobs[0].salaryMaxValue">{{postedJob.salaryMinValue}} - {{postedJob.salaryMaxValue}}</span>

                  <label *ngIf="recruiter.postedJobs[0].salaryMinValue == recruiter.postedJobs[0].salaryMaxValue"
                         [class.exact]="data.salaryMatch=='exact'" [class.above]="data.salaryMatch=='above'"
                         [class.below]="data.salaryMatch=='below'" [class.missing]="data.salaryMatch=='missing'">
                    <strong class="title-name pull-left"> Salary <b class="small-label">(In Lacs)</b></strong>
                    <img class="exact-img" src="assets/framework/images/dashboard/right-tick.svg"/>
                    <div class="info-description">
                      <img class="missing-img" src="assets/framework/images/dashboard/info-red.svg"/>
                      <div class="info-hover-section">
                        Job Salary {{recruiter.postedJobs[0].salaryMinValue}}<br/>
                        {{candidateDetails.first_name}}'s Salary {{candidate.professionalDetails.currentSalary}}
                      </div>
                    </div>
                  </label>
                  <span *ngIf="recruiter.postedJobs[0].salaryMinValue == recruiter.postedJobs[0].salaryMaxValue">{{postedJob.salaryMinValue}}</span>


                  <label [class.exact]="data.releaseMatch=='exact'" [class.above]="data.releaseMatch=='above'"
                         [class.below]="data.releaseMatch=='below'" [class.missing]="data.releaseMatch=='missing'">Joining
                    Period</label>
                  <span>{{postedJob.joiningPeriod}}</span>
                  <label>Job Location</label>
                  <span>{{postedJob.location.city}}</span>
                  <label>About Job</label>
                  <span>
                    {{postedJob.competencies}}
                  </span>
                  <label>Date Posted</label>
                  <span>{{postedJob.postingDate | date:'mediumDate'}}</span>
                  <div *ngIf="recruiter.company_website!=undefined||''">
                    <label>Website</label>
                    <span>{{recruiter.company_website}}</span></div>
                </div>
              </div>
            </div>

            <div class="about-company-label" *ngIf="recruiter != undefined">
              <label>About Company</label>
              <cn-additional-details [data]="recruiter.about_company"></cn-additional-details>
            </div>
            <!--  &lt;!&ndash; <div>
               <cn-contact-details [recruiter]="recruiter"></cn-contact-details>
             </div>&ndash;&gt;-->
          </div>
    </div>
    </section>
  </div>
  <div *ngIf="data && (typeOfView =='spa_job' || typeOfView =='spa_candidate')">
    <div class="spa-candidate-col">
      <div class="col-sm-12">
        <div class="guided-tour-description"
             *ngIf="guidedTourStatus?.indexOf(guidedTourImgOverlayScreensStackView) == -1 && isCandidate">
          <div class="guided-tour-overlay">
            <span class="down-arrow"></span>
            <p [innerHTML]="getMessage().GUIDED_TOUR_JOB_PROFILE_SCENARIO_HELP_MESSAGE"></p>
          </div>
        </div>
        <div *ngIf="typeOfView =='spa_job' && recruiter != undefined && candidateDetails != undefined" >
          <cn-capability-compare [job_picture]="recruiter.company_logo" [candidate_picture]="candidateDetails.picture" [capabilities]="capabilities"></cn-capability-compare>
        </div>
        <div *ngIf="typeOfView =='spa_candidate' && candidateDetails != undefined && recruiter != undefined">
          <cn-capability-compare [candidate_picture]="candidateDetails.picture"  [job_picture]="recruiter.company_logo"  [capabilities]="capabilities"></cn-capability-compare>
        </div>
      </div>
      <div class="guided-tour-description"
           *ngIf="guidedTourStatus?.indexOf(guidedTourImgOverlayScreensStackView) == -1 && isCandidate">
        <!--<img src={{guidedTourImgOverlayScreensStackViewPath}} alt="Profile Picture">-->
        <div class="guided-tour-overlay-key-skills">
          <span class="down-arrow"></span>
          <p [innerHTML]="getMessage().GUIDED_TOUR_MATCHING_KEY_SKILLS_MESSAGE"></p>
        </div>
      </div>
      <div class="col-sm-12 proficiency-compare-section-area">
        <h4 class="pull-left col-xs-3 no-padding text-left">Key Skills</h4>
        <div class="pull-left col-xs-8 no-padding text-left">
          <div class="option exact" *ngFor="let item of data.proficienciesMatch;let i = index">
            <span>{{item}}</span>
            <div class="right-tick"></div>
          </div>
          <div class="option missing" *ngFor="let item of data.proficienciesUnMatch;let i = index">
            <span>{{item}}</span>
            <div class="missing-icon"></div>
          </div>
        </div>
      </div>
      <div class="col-xs-9 no-padding">
        <div class="col-sm-12 proficiency-compare-section-area">
          <h4 class="pull-left col-xs-3 no-padding text-left"
              *ngIf="(typeOfView =='spa_job' && isCandidateHaveExtraKeySkill)">
            These are your extra key skills
          </h4>
          <h4 class="pull-left col-xs-3 no-padding text-left"
              *ngIf="(typeOfView =='spa_candidate' && isCandidateHaveExtraKeySkill)">
            Candidate has extra key skills
          </h4>
          <div class="pull-left col-xs-8 no-padding text-left">
            <div class="pull-left" *ngFor="let item of data.proficienciesUnMatch;let i = index"
                 style="padding-top: 6px;padding-right: 7px;">
              <span >{{item}}<b *ngIf="i < data.proficienciesUnMatch.length-1">,</b></span>            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-9 no-padding">
        <div class="col-sm-12 proficiency-compare-section-area">
          <h4 class="pull-left col-xs-3 no-padding text-left"
              *ngIf="(typeOfView =='spa_job' && data && data.additionalCapabilites && data.additionalCapabilites.length>0)"
          >Your additional capabilities </h4>
          <h4 class="pull-left col-xs-3 no-padding text-left"
              *ngIf="(typeOfView =='spa_candidate'&& data && data.additionalCapabilites && data.additionalCapabilites.length>0)"
          >Candidate's additional capabilities </h4>
          <div *ngIf="data != undefined">
            <div class="pull-left col-xs-8 no-padding text-left">
              <div class="pull-left" *ngFor="let cap of data.additionalCapabilites;let j=index" style="padding-top: 7px;padding-right: 7px;">
                <span>{{cap}}</span><span *ngIf="j<data.additionalCapabilites.length-1">,</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<section *ngIf="data != undefined && typeOfView=='compact'">
  <div class="one-page-summary">
    <div class="col-xs-12">
      <div *ngIf="candidateDetails != undefined">
        <cn-capability-compare [candidate_picture]="candidateDetails.picture"   [capabilities]="capabilities"></cn-capability-compare>
      </div>

    </div>
    <div class="col-sm-12 proficiency-compare-section-area">
      <div class="col-sm-12 no-padding">
        <h4 class="pull-left col-xs-3 no-padding text-left">Key skills</h4>
        <div class="pull-left col-xs-7 no-padding text-left">
          <div class="option exact" *ngFor="let item of data.proficienciesMatch;let i = index">
            <span>{{item}}</span> <img class="" src="assets/framework/images/dashboard/right-tick.svg"/>
          </div>
          <div class="option missing" *ngFor="let item of data.proficienciesUnMatch;let i = index">
            <span>{{item}}</span><img class="" src="assets/framework/images/dashboard/missing.svg"/>
          </div>
        </div>
      </div>
      <div class="col-sm-12 no-padding">
        <h4 class="pull-left col-xs-3 no-padding text-left"
            *ngIf="( data && data.proficiencies && isCandidateHaveExtraKeySkill)">
          These are candidate's extra key skills
        </h4>
        <div class="pull-left col-xs-8 no-padding text-left">
          <div class="pull-left" *ngFor="let item of data.proficienciesUnMatch;let i = index"
               style="padding-top: 6px;padding-right: 7px;">
            <span >{{item}}<b *ngIf="i < data.proficienciesUnMatch.length-1">,</b></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 proficiency-compare-section-area">
      <h4 class="pull-left col-xs-3 no-padding text-left"
          *ngIf="(typeOfView =='compact'&& data && data.additionalCapabilites && data.additionalCapabilites.length>0)">
        Candidate has additional capabilities </h4>
      <div>
        <div class="pull-left col-xs-7 no-padding text-left">
          <div *ngIf="data != undefined">
            <div class="pull-left" *ngFor="let cap of data.additionalCapabilites" style="padding-top: 6px;padding-right: 7px;">
              <span> {{cap}} </span><span *ngIf="j<data.additionalCapabilites.length-1">,</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
