<cn-recruiter-header [jobCount]="jobCount" [companyName]="companyName"></cn-recruiter-header>

<div class="container recruiter-profile-wrapper">
  <div class="col-sm-12">
    <ul class="nav nav-tabs dashboard-tabs">
      <li class="active">
        <a data-toggle="tab" href="#posted-job">My Job Posts</a>
      </li>
      <li>
        <a data-toggle="tab" href="#post-new-job">Post New Job / Search</a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="posted-job" class="tab-pane fade active in clearfix">
        <div [hidden]="isJobSelected">
          <cn-job-lister [jobListInput]="jobList" (jobEventEmitter)="jobSelected($event)"></cn-job-lister>
        </div>
        <div [hidden]="!isJobSelected" >
          <div class="col-sm-3">
            <cn-job-filter [selectedJob]="selectedJobProfile"></cn-job-filter>
          </div>
          <div class="col-sm-9">
            <button class="btn btn-back" (click)="isJobSelected=false"><span class="glyphicon glyphicon-chevron-left"></span>View All Jobs</button>
            <div class="col-sm-12 list-view"  *ngIf="selectedJobProfile!=undefined">
              <div class="panel clearfix" >
                <div class="col-sm-6 no-padding job-posted clearfix">
                  <div class="col-xs-2 no-padding">
                    <p><span>52</span></p>Matches
                  </div>
                  <div class="col-xs-10 padding-left15">
                    <h4>{{selectedJobProfile.jobTitle}}</h4>
                    <p>{{selectedJobProfile.department}}</p>
                  </div>
                </div>
                <div class="col-sm-6 contact-info">
                  <div class="col-xs-6 no-padding">
                    <p><img src="../../../../assets/c-next/post-job/calendar.png" alt="calendar"/>{{selectedJobProfile.postingDate | date:'mediumDate'}}</p>
                  </div>
                  <div  class="col-xs-6 no-padding">
                    <p><img src="../../../../assets/c-next/post-job/contact-person.png" alt="Hiring Manager"/>{{selectedJobProfile.hiringManager}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="candidate-listing col-sm-9">
            <ul class="nav nav-tabs dashboard-tabs">
              <li class="active">
                <a (click)="showMatchedCandidate()" data-toggle="tab" href="#matched">Matched</a>
              </li>
              <li>
                <a (click)="showShortlistedCandidate()" data-toggle="tab" href="#shortlisted">Shortlisted</a>
              </li>
              <li>
                <a (click)="candidateInCart()" data-toggle="tab" href="#cart">In Cart</a>
              </li>
              <li>
                <a (click)="rejectedCandidates()" data-toggle="tab" href="#rejected">Rejected</a>
              </li>
            </ul>
            <div class="tab-content">
              <div id="matched" class="tab-pane fade in active " [hidden]="showQCard">
                <cn-q-card-view [jobPosterModel]="selectedJobProfile" [recruiterId]="recruiter._id"></cn-q-card-view>
              </div>
              <div  id="shortlisted" class="tab-pane fade"  [hidden]="!showQCard">
                <cn-recruiter-dashboard-qcard-view  [candidates]="candidates" ></cn-recruiter-dashboard-qcard-view>
              </div>
              <div  id="cart" class="tab-pane fade"  [hidden]="!showQCard">
                <cn-recruiter-dashboard-qcard-view  [candidates]="candidates" ></cn-recruiter-dashboard-qcard-view>
              </div>
              <div  id="rejected" class="tab-pane fade"  [hidden]="!showQCard">
                <cn-recruiter-dashboard-qcard-view  [candidates]="candidates" ></cn-recruiter-dashboard-qcard-view>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="post-new-job" class="tab-pane fade clearfix">
        <cn-job-poster></cn-job-poster>
      </div>
    </div>
  </div>
</div>

