$profile-background: #f2f2f2;
$white: #fff;
$border-color: #ddd;
$text-color: #333;
$header: #3694d1;

.job-poster {
  background: $profile-background;
  clear: both;
  padding-bottom: 50px;
}

.bar-container {
  background: $header;
  height: 90px;
  left: 0;
  margin: 0 auto;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}

.poster-wrapper {
  margin: 120px auto 0;
  width: 85%;

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .max-height {
    max-height: 400px;
    overflow: auto;
  }

  .min-height {
    min-height: 350px;
    overflow: auto;
  }
}

.nav-tabs {

}

.tab-content {
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}


@media only screen and (max-width: 1280px) {
  .poster-wrapper {
    display: inline-block;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .poster-wrapper {
    margin: 100px auto 0;

    .col-sm-3 {
      float: left;
      width: 30%;
    }

    .col-sm-9 {
      float: left;
      width: 70%;
    }
  }
}
