
<div class="value-portrait-section">
    <div *ngIf="!isShareView">
  <cn-share></cn-share>
    </div>
  <div class="top-header">
    <div class="col-md-5 col-xs-10 no-padding">
      <h1>
        Value Portrait
        <span> Experience is what it's all about</span>
      </h1>
    </div>
      <button class="btn btn-get-portrait" (click)="routeToSignUpPage()">Create your Value Portrait</button>
    <div *ngIf="!isShareView" class="col-md-7 col-xs-2 no-padding">
      <div class="job-mosis-white-logo" (click)="navigateTo();">
        <img src="/assets/c-next/header/job-mosis-logo-white.png"/>
      </div>
    </div>
  </div>
    <div class="value-portrait-container">
    <cn-value-portrait [userId]="_userId"></cn-value-portrait>
    </div>

</div>
