
<div class="value-portraot-section">
  <div class="top-header">
    <div class="col-xs-5 no-padding">
      <h1>
        Value Portrait
        <span> Experience is what it's all about</span>
      </h1>
    </div>
    <div class="col-xs-7 no-padding">
      <div class="job-mosis-white-logo" (click)="navigateTo('/create_profile');">
        <img src="/assets/c-next/header/job-mosis-logo-white.png"/>
      </div>
    </div>
  </div>
  <div class="value-portraot-container">
    <cn-value-portrait></cn-value-portrait>
    <!--<cn-value-portrait-header ></cn-value-portrait-header>
    <cn-candidate-capability-portrait ></cn-candidate-capability-portrait>-->
  </div>
  <div class="value-portraot-footer">
    <tpl-footer></tpl-footer>
  </div>
</div>
