@import '../../../css/common';

.table-row-spacing {
  border-collapse: separate;
  border-spacing: 0 4px;
}

.table-dashboard {
  font-size: 12px;
  margin: 0;
  position: relative;

  .delete-cost-head-cell {
    position: relative;
  }

  .delete-cost-head {
    background: $delete-cost-head-bg;
    border-radius: 0 5px 5px 0;
    color: $dashboard-link;
    cursor: pointer;
    display: block;
    margin-top: 6px;
    opacity: 0;
    padding: 5px 2px 5px 1px;
    position: absolute;
    right: -20px;
    transition: opacity 0.5s ease-in-out;
    // top: 0;
    width: 20px;
  }

  thead > tr,
  tbody > tr {
    background-color: $white;
    border: 1px solid $white;
    /*box-shadow: 10px 10px 10px $panel-shadow;*/

    th {
      color: $heading;
      font-weight: 800;
      text-align: center;
      vertical-align: middle;

      &:first-child {
        text-align: left;
      }
    }

    th > .sub-heading {
      font-weight: 600;
      font-size: 10px;
    }

    td, th {
      border: 0;
      line-height: 14px;
      padding: 6px 10px;
      vertical-align: middle;
      &:last-child {
        border: none;
      }
    }

    td {
      text-align: center;

      &:first-child {
        text-align: left;
        width: 190px;
      }

      .mobile-headings {
        display: none;
      }
    }

    .border-left {
      border-right: 1px solid #f3f3f3;
    }

    .above-cost {
      color: $above-cost !important;
      cursor: pointer;
      text-decoration: underline;
    }

    .below-cost {
      color: $below-cost !important;
      cursor: pointer;
      text-decoration: underline;
    }

    td > .edit-field {
      float: right;
      margin: 0 auto;
      padding-right: 20px;
      position: relative;
      width: 100px;

      input {
        background: url('../../../assets/build-info/dashboard/edit-bg.png') no-repeat 95% 46%;
        border: 1px solid transparent;
        box-shadow: none;
        color: $heading;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        height: 26px;
        margin: 0;
        padding: 3px 24px 3px 3px;
        text-align: right;
        transition: opacity 0.5s ease-in-out;
        width: 82px;
      }

      .calculator {
        cursor: pointer;
        //opacity: 0;
        position: absolute;
        top: 5px;
        right: 0;
        transition: opacity 0.5s ease-in-out;
        width: 12px;
      }

      .disabled {
        cursor: not-allowed;
        opacity: 0.4!important;
        pointer-events: none;
      }
      &:hover {
        input {
          border: 1px solid $gray;
        }
      }

    }

    td {
      .panel-heading {
        float: left;
        .work-item-panel-row {
          display: inline-block!important;
          height: 15px;
          width: 15px;
        }

      }
      .edit-field {
        float: left;
        text-align: left!important;
        width: calc(100% - 35px);
        textarea {
          background: url('../../../assets/build-info/dashboard/edit-bg.png') no-repeat 98% 46%;
          border: 1px solid transparent;
          box-shadow: none;
          color: $heading;
          cursor: pointer;
          display: inline-block;
          font-size: 12px;
          height: 40px;
          margin: 0;
          overflow: hidden;
          padding: 3px 24px 3px 3px;
          resize: none;
          text-align: left;
          transition: opacity 0.5s ease-in-out;
          width: 100%;
          &[hidden] {
            display: none;
          }
          &:focus {
            background: white!important;
            border: 1px solid transparent!important;
            box-shadow: 0 0 0px 1px rgba(101, 152, 202, 1);
          }
        }
        span {
          text-align: left;
        }
      }
    }
    &:hover {
      td {
        .work-item-panel-row {
          .edit-field {
            input {
              background: url('../../../assets/build-info/dashboard/edit.png') no-repeat 98% 46%;
              border: 1px solid $gray;
            }
          }
        }
      }
    }

    td > .active-rate,
    td > .active-quantity {
      .calculator {
        opacity: 1;
      }
    }

    &:hover {
      .delete-cost-head {
        opacity: 1;
      }

      td > .edit-field {
        textarea {
          background: url('../../../assets/build-info/dashboard/edit.png') no-repeat 98% 10%;
          border: 1px solid $gray;
        }

        textarea[readonly] {
          background: url('../../../assets/build-info/dashboard/edit-bg.png') no-repeat 98% 10%;
          border: 1px solid transparent;
        }

        .calculator {
          opacity: 1;
        }

      }
    }
  }

  tbody > tr {
    &:hover {
      background: $table-row-hover;
      border: 1px solid transparent;
    }
  }

  .add-items {
    text-align: center !important;
  }

  .add-item-row {
    background-color: transparent;
    box-shadow: none !important;
    &:hover {
      background-color: transparent;
    }
  }

  .estimated-cost {
    display: block;
    width: 100px;
  }

  .select-item {
    background: transparent url(../../../assets/framework/images/form/drop-down.png) no-repeat 92% 50%;
    border: 0;
    border-radius: 0;
    color: $heading;
    font-size: 12px;
    padding: 2px 5px;
    width: 100%;
    font-weight: 400;
    &:focus {
      border: 0;
    }
  }
  thead > tr {
    &:hover {
      border: 1px solid transparent;
    }
  }
}

#category-panel {
  .edit-field {
    &:hover {
      input {
        background: url('../../../assets/build-info/dashboard/edit.png') no-repeat 98% 46%;
        border: 1px solid $gray;
      }
    }
  }
}

.total-table {
  margin-top: -4px;

  tbody > tr {
    td {
      font-weight: 800;
    }
  }
}

.grand-total-table {
  .table {
    margin: 0;

    tbody > tr {
      box-shadow: none !important;
      background: transparent;
      border: 0;

      td {
        font-size: 12px;
        font-weight: 800;
        border-top: 0;
        vertical-align: middle;

        &:first-child {
          font-size: 24px;
          font-weight: 300;
        }
      }
    }
  }
}

.table-heading {
  position: relative;

  .white-bg {
    bottom: -8px;
    left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .table-dashboard {
    tbody > tr {
      td {
        .mobile-headings {
          color: $body-text;
          display: block;
          font-weight: 400;
          padding: 0;
          width: 100%;
        }
      }

      td > .edit-field {
        float: left;
        margin: 0;
        text-align: left;
        width: calc(100% - 15px);

        input {
          border: 1px solid transparent;
          border-radius: 0;
          font-weight: 600;
          padding-left: 0;
          pointer-events: none;
          text-align: left;
          width: 100%;
        }

        .calculator {
          opacity: 1;
          right: 2px;
        }
      }

      &:hover {
        td > .edit-field {
          input {
            border: 1px solid transparent;
            border-bottom: 1px solid $gray;
          }
        }
      }
    }
  }
}
