@import '../../../css/common';

.table-row-spacing {
  border-collapse: separate;
  border-spacing: 0 4px;
}

.table-dashboard {
  font-size: 12px;
  margin: 0;
  position: relative;

  .delete-cost-head-cell {
    position: relative;
  }

  .delete-cost-head {
    background: $white;
    border-radius: 5px;
    color: $dashboard-link;
    cursor: pointer;
    display: block;
    opacity: 0;
    padding: 5px;
    position: absolute;
    right: -25px;
    transition: opacity 0.5s ease-in-out;
    top: 5px;
    width: 25px;
  }

  thead > tr,
  tbody > tr {
    background-color: $white;
    box-shadow: 10px 10px 10px $panel-shadow;

    th {
      color: $heading;
      font-weight: 800;
      vertical-align: middle;
      text-align: center;
    }

    th > .sub-heading {
      font-weight: 600;
      font-size: 10px;
    }

    td, th {
      border: 0;
      padding: 6px 15px;
      vertical-align: middle;

      &:first-child {
        border-radius: 6px 0 0 6px;
      }

      &:last-child {
        border-radius: 0 6px 6px 0;
      }
    }

    td {
      text-align: center;
      font-weight: 600;

      &:first-child {
        text-align: left;
        width: 190px;
      }


      &:last-child {
        min-width: 40px;
      }
    }

    .border-left {
      border-right: 1px solid #e8e8e8;
    }

    td > .above-cost {
      color: $above-cost;
    }

    td > .below-cost {
      color: $below-cost;
    }

    td > .edit-field {
      margin: 0 auto;
      position: relative;
      width: 120px;

      input {
        border: 1px solid transparent;
        box-shadow: none;
        color: $heading;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        height: 26px;
        margin: 0;
        padding: 3px;
        width: 100%;
        text-align: center;
        //background: url('../assets/build-info/dashboard/edit.png') no-repeat 95% 46%;

        &:focus,
        &:hover {
          border: 1px solid transparent;
        }
      }

      img {
        position: absolute;
        right: 7px;
        top: 9px;
      }
    }

    &:hover {
      .delete-cost-head {
        opacity: 1;
      }
    }
  }

  .add-items {
    text-align: center !important;
  }

  .total {
    td {
      font-weight: 800;
    }
  }

  .grand-total {
    td {
      font-size: 14px;
      font-weight: 800;
    }
  }

  .select-item {
    background: transparent url(../assets/framework/images/form/drop-down.png) no-repeat 92% 50%;
    border: 0;
    border-radius: 0;
    color: $heading;
    font-size: 12px;
    padding: 2px 5px;
    width: 100%;
    font-weight: 400;
    &:focus {
      border: 0;
    }
  }
}

.btn-add-item {
  background: transparent;
  border: 0;
  color: $heading;
  border-radius: 0;
  height: auto;
  padding: 6px 30px;
  margin: 0;
  font-weight: 800;
  font-size: 12px;

  .glyphicon-plus {
    padding-right: 6px;
  }

  &:hover,
  &:active,
  &:focus {
    background: transparent;
    border: 0;
    color: $heading;
  }
}


.low-estimated-cost {
  color: $above-cost !important;
  text-decoration: underline;
}
.high-estimated-cost {
  color: $below-cost !important;
  text-decoration: underline;
}
