@import '../../../css/common';

.modal {
  .modal-dialog {
    top: 40%;
  }
}

.default-modal {
  .modal-dialog {
    margin: 150px auto;
    width: 456px;
  }
  .modal-body {
    max-height: 500px;
    overflow-y: auto;
  }
  .modal-header {
    .modal-title {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 95%;
    }
  }
}

/*.default-modal.in {
  .modal-dialog {
    transform: translate(0,50%);
  }
}*/

@media only screen and (max-width: 767px) {
  .default-modal {
    .modal-dialog {
      margin: 50px auto;
      width: 90%;
    }
    .modal-body {
      padding: 20px !important;
      p {
        line-height: 28px;
      }
    }
  }
}
