<div class="list clearfix">
  <div class="col-sm-12 no-padding">
    <div class="keyskill-form-group">
      <div ng2-auto-complete
           [source]="Proficiencies"
           min-chars="2"
           max-num-list="10"
           (ngModelChange)="selectedProficiencyModel($event)"
           no-match-found-text={{noMatchFoundText}}
           match-formatted="true">
        <input class="form-control" #elem [id]="type"
               (keyup.enter)="showHideModal($event.target.value)" [disabled]='selectedProficiencies.length == maxLength' placeholder="E.g. for IT:- Java, C++. for Manufacturing:- Metal Cutting"/>
        <div class="error-messages" [class.proficiency-info-messages]="isInfoMessage" *ngIf="showAlert"><p>
          {{validationMessage}}</p></div>
        <div class="error-messages"
             *ngIf="submitStatus">
          <p>{{requiredKeySkillsValidationMessage}}</p>
        </div>
      </div>
      <div class="add-keyskill">
        <button (click)="showHideModal(elem.value)"><span class="glyphicon glyphicon-plus-sign"></span>Add</button>
        <span class="new-keyskill">{{elem.value}}</span>
      </div>
    </div>

    <div class="btn-container clearfix" [class.job-proficiency-container]="type==='Mandatory'||type==='Additional'">
      <div *ngFor="let item of selectedProficiencies; let i = index">
        <button type="button" class="btn btn-create-profile" id={{item}} (click)="deleteItem($event)">
          {{item}} <span class="glyphicon glyphicon-remove" (click)="deleteItem($event)"></span>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal popup keyskill-popup" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body key-skill">
          <div class="row">
            <div class="col-sm-12">
              <p>Do you want to add "{{ otherProficiency }}" as your key Skill ? </p>
              <div class="button-group">
                <form>
                  <input type="submit" #myInput class="btn btn-success" (click)="addProficiencyToMasterData()"
                         value="Save"/>
                  <button class="btn btn-default" (click)="showModalStyle=false">Cancel</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



