@import '../../../../css/variables';
$border-color: #e8e8e8;
$bg-container: #f8f8f8;
$text-color: #666;
$new-skill: #333;
$white: #fff;
$theme-color: #0d75fa;
$message: #0d75fa;

.list {
  .btn-container {
    //border: 1px solid $border-color;
    background: $bg-container;
    border-radius: 4px;
    min-height: 260px;
    padding: 15px;
    margin-top: 0;

    div {
      float: left;
      margin: 5px 10px 5px 0;
    }

    .btn-create-profile {
      .glyphicon-remove {
        top: 2px;
      }
    }

    span {
      color: $white;
      font-size: 13px;
      padding-left: 20px;
    }
  }

  input {
    margin-top: 0;
  }

  .info-message {
    font-size: 13px;
    font-style: italic;
    margin: 0 0 10px;
  }

}

.error-messages {
  position: absolute;

  p {
    color: #f66761;
    font-size: 10px;
    line-height: 12px;
    margin: 2px 0;
  }
}

.keyskill-form-group {
  margin-bottom: 30px;

  .form-control {
    border: 0;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 6px 200px 0 0;
    font-family: 'gothamrnd-book';
    font-weight: 600;

    &:focus,
    &:active {
      border-bottom: 1px solid $theme-color;
    }
  }

  .add-keyskill {
    width: 200px;
    position: absolute;
    right: 0;
    top: 9px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    button {
      background: transparent;
      border: 0;
      color: $theme-color;
      font-size: 11px;
      font-weight: bold;
      font-family: 'gothamrnd-book';
      padding: 0;
    }

    button > span {
      color: #0d75fa;
      margin-right: 5px;
      font-size: 12px;
    }

    .new-keyskill {
      font-size: 12px;
      font-weight: bold;
      font-family: 'gothamrnd-book';
      color: $new-skill;
    }
  }
}

.job-proficiency-container {
  min-height: 62px !important;
}


.keyskill-popup {
  .button-group {
    width: 100% !important;
    background: transparent !important;
    z-index: 3;
  }
}



@media screen and (max-width: 767px) {
  .list {
    padding: 0;

    .btn-container {
      padding: 5px;

      .btn-create-profile {
        font-size: 10px;
        padding: 4px 10px;
        text-align: left;
        white-space: normal;

        .glyphicon-remove {
          padding-left: 10px;
        }
      }
    }

    input {
      margin-top: 0;
    }

    .form-group {
      margin: 0 0 15px;
    }
  }
}
