<div class="list clearfix">
  <div class="col-sm-12 no-padding">
    <div class="keyskill-form-group">
      <div>
          <input class="form-control" [id]="type" (ngModelChange)="proficiencyChanged($event)" (keyup.enter)="addProficiency($event)"
                 [disabled]='selectedProficiencies.length == maxLength'
                 placeholder="{{proficienciesPlaceholder}}" list="Proficiencies" [(ngModel)] = "proficiency"/>
          <datalist id="Proficiencies" >
            <option *ngFor="let pro of proficiencies" value="{{pro}}">
            </option>
          </datalist>
        <div class="error-messages" [class.proficiency-info-messages]="isInfoMessage" *ngIf="showAlert"><p>
          {{validationMessage}}</p></div>
        <div class="error-messages"
             *ngIf="submitStatus">
          <p>{{requiredKeySkillsValidationMessage}}</p>
        </div>
      </div>
      <div class="add-keyskill">
        <button (click)="addProficiencyToMasterData()" [disabled]="newProficiency == ''"><span class="glyphicon glyphicon-plus-sign"></span>Add</button>
        <span id="new-proficiency" class="new-keyskill">{{newProficiency}}</span>
      </div>
    </div>

    <div class="btn-container clearfix" [class.job-proficiency-container]="type==='Mandatory'||type==='Additional'">
      <div *ngFor="let item of selectedProficiencies; let i = index">
        <button type="button" class="btn btn-create-profile" id={{item}} (click)="deleteItem($event)">
          {{item}} <span class="glyphicon glyphicon-remove" (click)="deleteItem($event)"></span>
        </button>
      </div>
    </div>
  </div>
</div>




