<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-body">
      <p class="modal-icon"><i><img src="./assets/build-info/dashboard/warning-big.png"/></i></p>
      <p>Your previous Quantity will be deleted</p>
      <button class="btn btn-primary bi-btn" type="button" (click)="updateElement()" data-dismiss="modal">Yes I&#39;m Sure</button>
      <button type="button" class="btn btn-default" (click)="cancle()" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>
