@import '../../../css/common';

.modal-body {
  padding: 30px 40px 40px;
  text-align: center;
  p {
    color: $body-text;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 40px;
    line-height: 24px;
  }
  .bi-btn {
    margin-right: 20px;
  }
  .btn {
    padding: 0 25px;
  }
}
