<div class="profile clearfix">
  <div class="avtar">
    <img src={{image_path}} alt="Profile Picture"  *ngIf="!isLoading">
    <img src="assets/c-next/loader/loading.gif" alt="Loader" *ngIf="isLoading">
    <!-- <img src="assets/c-next/profile-creator/Cool-Nature.jpg" alt="Profile Picture">-->
  </div>
  <form [class.hide-list]="isSocialLogin">
    <label for="file-upload" class="custom-file-upload">
      <img src="assets/framework/images/dashboard/edit-profile2.png"/>
    </label>
    <input id="file-upload" type="file" (change)="fileChangeEvent($event)" placeholder="Upload file"/>
  </form>
</div>





