$border-color:  #e8e8e8;


.profile {
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;

  .avtar {
    border-radius: 0;
    margin: 0 auto;
    width: 100%;
  }

  .avtar > form {
    bottom: 0.5%;
    position: absolute;
    right: 1.5%;
    text-align: right;
  }

  .avtar >  img {
    border-radius: 0;
    width: 100%;
    border: 1px solid $border-color;
    background: #e6e6e6;
  }

  [type='file'] {
    display: none;
  }

  .custom-file-upload {
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    width: 50px;
    margin: 0;

    img {
      width: 100%;
    }

    span {
      display: none;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .profile {
    margin: 0 auto;

    .avtar {
      width: 100%;
    }

    .custom-file-upload {
      padding: 5px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .profile {
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;

    .avtar > form {
      bottom: 0.5%;
      position: absolute;
      right: 11.8%;
      text-align: right;
    }
  }
}