@import '../../../../../css/common';

.building-image-container {
  padding: 0;
  position: relative;
  text-align: center;
  width: 100%;
  margin: 0 auto 15px;

  .building-image {
    margin: 0 auto;
    width: 140px;
    height: 140px;
    overflow: hidden;
    border: 1px solid $border-color;
    box-sizing: border-box;
    position: relative;
    background: $page-background;
  }

  .building-image > img {
    border-radius: 0;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .building-image > span {
    color: $gray;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

h4 {
  color: $heading;
  font-size: 21px;
}

