<div class="page-background" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}" >

  <main-header></main-header>

  <div class="inner-content clearfix">
    <h4>Get Aligned</h4>
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam sem turpis, sodales eu urna sed, posuere finibus leo finibus.
        Sed et lorem eu mi tincidunt fringilla at non odio.
        Vivamus auctor quam a lobortis tincidunt. Aliquam faucibus nulla lorem, sed imperdiet justo bibendum ac. In semper rutrum metus fringilla mollis.</p>
    </div>
  </div>
</div>
