@import '../../../css/common';

//Splash Screen
.page-background {
  @extend %background-img;
  background-color: $grey-background;
  background-position: 0 40px;
  display: table;
  height: 100vh;
  margin: 0 auto;
  width: 100%;

  .inner-content {
    display: table-cell;
    height: 100vh;
    vertical-align: middle;

    h4 {
      color: $white;
      font-family: 'helveticaneueregular';
      font-size: 48px;
      font-weight: 100;
    }

    p {
      color: $white;
      font-family: 'helvlightregular';
      font-size: 16px;
      margin-top: 20px;
    }
  }
}
