<header class="page-header">
  <div class="cn-logo">
    <img src="assets/c-next/header/job-mosis-logo.png"/>
  </div>
  <nav>
    <ul>
      <li *ngIf="!(MainHeaderMenuHideShow == 'signin')"><a (click)="onLogin()">Sign In</a></li>
      <!--<li><a (click)="onSignUp()">Register</a></li>-->
      <li *ngIf="!(MainHeaderMenuHideShow == 'applicant')"><a (click)="onApplicantSignUp()">Applicant Sign Up</a></li>
      <li *ngIf="!(MainHeaderMenuHideShow == 'recruiter')"><a (click)="onRecruiterSignUp()">Recruiter Sign Up</a></li>
    </ul>
  </nav>
</header>
