@import '../../../framework/shared/project-form/project-form.component';

.form-sub-heading {
  color: $heading;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
}

.button-group {
  margin-top: 40px;
}
