<form [formGroup]="buildingForm" (submit)="submitForm()">

  <div  class="form-group">
    <control-messages [control]="buildingForm.controls.name" [submitStatus] = "submitStatus"></control-messages>
    <label>Building Name</label>
    <input type="text" [(ngModel)]="buildingModel.name" formControlName="name" id="name" class="form-control" placeholder="Enter building name" required />
  </div>

  <div  class="form-group">
    <control-messages [control]="buildingForm.controls.totalSlabArea" [submitStatus] = "submitStatus"></control-messages>
    <label>Slab Area<small> (In sqft)</small></label>
    <input type="number" [(ngModel)]="buildingModel.totalSlabArea" formControlName="totalSlabArea" id="totalSlabArea" class="form-control" placeholder="Enter slab area" required/>
  </div>

  <div  class="form-group">
    <control-messages [control]="buildingForm.controls.totalCarpetAreaOfUnit" [submitStatus] = "submitStatus"></control-messages>
    <label>Carpet area including Balconies/attached terraces <small> (In sqft)</small></label>
    <input type="number" class="form-control" [(ngModel)]="buildingModel.totalCarpetAreaOfUnit" formControlName="totalCarpetAreaOfUnit" id="totalCarpetAreaOfUnit" placeholder="Enter carpet area" required/>
  </div>

  <div  class="form-group">
    <control-messages [control]="buildingForm.controls.totalSaleableAreaOfUnit" [submitStatus] = "submitStatus"></control-messages>
    <label>Saleable Area  <small>(In sqft)</small></label>
    <input type="number" class="form-control" [(ngModel)]="buildingModel.totalSaleableAreaOfUnit" formControlName="totalSaleableAreaOfUnit" id="totalSaleableAreaOfUnit" placeholder="Enter saleable area" required/>
  </div>

  <div  class="form-group">
    <control-messages [control]="buildingForm.controls.plinthArea" [submitStatus] = "submitStatus"></control-messages>
    <label>Plinth Area <small>(In sqft)</small></label>
    <input type="number" [(ngModel)]="buildingModel.plinthArea" formControlName="plinthArea" id="plinthArea" class="form-control" placeholder="Enter plinth Area" required/>
  </div>

  <div  class="form-group">
    <control-messages [control]="buildingForm.controls.totalNumOfFloors" [submitStatus] = "submitStatus"></control-messages>
    <label>No. of floors <small>(Excluding parking floors)</small></label>
    <input type="number" [(ngModel)]="buildingModel.totalNumOfFloors" formControlName="totalNumOfFloors" id="totalNumOfFloors" class="form-control" placeholder="Enter no. of floors " required/>
  </div>

  <div  class="form-group">
    <control-messages [control]="buildingForm.controls.numOfParkingFloors" [submitStatus] = "submitStatus"></control-messages>
    <label>No. of parking floors</label>
    <input type="number" [(ngModel)]="buildingModel.numOfParkingFloors" formControlName="numOfParkingFloors" id="numOfParkingFloors" class="form-control" placeholder="Enter no. of parking floors" required/>
  </div>

  <div  class="form-group">
    <control-messages [control]="buildingForm.controls.carpetAreaOfParking" [submitStatus] = "submitStatus"></control-messages>
    <label>Carpet area of parking <small>(In sft)</small></label>
    <input type="number" class="form-control" [(ngModel)]="buildingModel.carpetAreaOfParking" formControlName="carpetAreaOfParking" id="carpetAreaOfParking" placeholder="Enter carpet area for parking area" required/>
  </div>

  <p class="form-sub-heading">Apartment Configuration</p>
  <div class="row">
    <div class="col-sm-6">
      <div  class="form-group">
        <control-messages [control]="buildingForm.controls.numOfOneBHK" [submitStatus] = "submitStatus"></control-messages>
        <label>No. of 1 BHKs</label>
        <input type="number" [(ngModel)]="buildingModel.numOfOneBHK" formControlName="numOfOneBHK" id="numOfOneBHK" class="form-control" />
      </div>
    </div>
    <div class="col-sm-6">
      <div  class="form-group">
        <control-messages [control]="buildingForm.controls.numOfTwoBHK" [submitStatus] = "submitStatus"></control-messages>
        <label>No. of 2 BHKs</label>
        <input type="number" [(ngModel)]="buildingModel.numOfTwoBHK" formControlName="numOfTwoBHK" id="numOfTwoBHK" class="form-control" />
      </div>
    </div>
    <div class="col-sm-6">
      <div  class="form-group">
        <control-messages [control]="buildingForm.controls.numOfThreeBHK" [submitStatus] = "submitStatus"></control-messages>
        <label>No. of 3 BHKs</label>
        <input type="number" [(ngModel)]="buildingModel.numOfThreeBHK" formControlName="numOfThreeBHK" id="numOfThreeBHK" class="form-control" />
      </div>
    </div>
    <div class="col-sm-6">
      <div   class="form-group">
        <control-messages [control]="buildingForm.controls.numOfFourBHK" [submitStatus] = "submitStatus"></control-messages>
        <label>No. of 4 BHKs</label>
        <input type="number" [(ngModel)]="buildingModel.numOfFourBHK" formControlName="numOfFourBHK" id="numOfFourBHK" class="form-control" />
      </div>
    </div>
    <div class="col-sm-6">
      <div  class="form-group">
        <control-messages [control]="buildingForm.controls.numOfFiveBHK" [submitStatus] = "submitStatus"></control-messages>
        <label>No. of 5 BHKs</label>
        <input type="number" [(ngModel)]="buildingModel.numOfFiveBHK" formControlName="numOfFiveBHK" id="numOfFiveBHK" class="form-control" />
      </div>
    </div>
    <div class="col-sm-6">
      <div  class="form-group">
        <control-messages [control]="buildingForm.controls.numOfLifts" [submitStatus] = "submitStatus"></control-messages>
        <label>No. of Lifts</label>
        <input type="number" [(ngModel)]="buildingModel.numOfLifts" formControlName="numOfLifts" id="numOfLifts" class="form-control" />
      </div>
    </div>
  </div>
  <div class="col-xs-12 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage">
    <b>{{ errorMessage }}</b></div>

  <button type="submit" class="btn btn-primary">{{submitActionLabel}}</button>
</form>
