<div class="manage__candidates__date">
  <ul>
    <li>
      <label> From</label>
      <input type="date" [(ngModel)]="fromDate"
             (change)="loadSummary()"/>
    </li>
    <li>
      <label> To</label>
      <input type="date" [(ngModel)]="toDate"
             (change)="loadSummary()"/>
    </li>
  </ul>
  <span class="error-messages"
        *ngIf="inValidDates"> {{getMessages().MSG_ERROR_VALIDATION_DATES}} </span>
</div>
<div *ngIf="summary.total > 0" class="manage__candidates_table">
  <div class="row">
    <div class="col-xs-10">
       <span>
         Applied Candidates
       </span>
    </div>
    <div class="col-xs-2">
      <span>
         {{summary.applied}}
       </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <span>
         Registered Candidates
       </span>
    </div>
    <div class="col-xs-2">
      <span>
         {{summary.registered}}
       </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <span>
         Candidates Who Submitted Their Profile
       </span>
    </div>
    <div class="col-xs-2">
      <span>
         {{summary.profileSubmitted}}
       </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <span>
         Existing Users
       </span>
    </div>
    <div class="col-xs-2">
      <span>
         {{summary.existing}}
       </span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10">
      <span>
         Total Candidates Visited
       </span>
    </div>
    <div class="col-xs-2">
      <span>
         {{summary.total}}
       </span>
    </div>
  </div>
</div>
<div *ngIf="fromDate != '' && toDate != '' && summary.total == 0 && !inValidDates">
  {{getMessages().NO_CANDIDATES_TO_LIST}}
</div>
<button *ngIf="summary.total > 0" class="btn btn-primary" (click)="exportSummary()">Export</button>
