<section class="wrapper">
  <div class="container">
    <div class="col-sm-12">
      <ul>
        <li *ngFor="let project of projects">
          <div class="building-image-container"(click)="setCurrentProjectId(project._id)">
            <a type="button">
              <div class="building-image">
                <img src="assets/build-info/create-new-project/create-new-project.png" />
              </div>
            </a>
            <a type="button">{{project.name}}</a>
          </div>


          <span class="break"></span>
        </li>
        <li class="break"></li>
        <li (click)="createProject()">
          <div class="building-image-container">
            <a type="button">
              <div class="building-image">
                <span class="glyphicon glyphicon-plus"></span>
              </div>
            </a>
          </div>
          <a type="button">Create New Project</a>
        </li>
      </ul>
    </div>
  </div>
</section>
