<section class="main-form-wrapper verify-user">

  <cn-user-header></cn-user-header>

  <cn-app-loader></cn-app-loader>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11 content">
    <cn-otp-verification [verificationMessage]="signUpVerificationMessage"
                         [verificationHeading]="signUpVerificationHeading"
                          [actionName]="actionName"
                         [userID]="userID" [mobileNumber]="mobileNumber"
                         (onMobileVerificationSuccess)="showHideModal()">
    </cn-otp-verification>
  </div>

</section>



<div class="modal verify-mobile-modal" [style.display]="getStyleModal()">
  <div class="modal-bg">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <h5 class="modal-title">{{getMessages().MSG_MOBILE_VERIFICATION_SUCCUSS_HEADING}}</h5>

              <div class="content">

                <p>{{getMessages().MSG_MOBILE_VERIFICATION_SUCCUSS_TEXT}}</p>

                <div class="button-group text-right">
                  <button class="btn btn-success" (click)="navigateToDashboard()">Sign In</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


