@import '../../../../css/variables';

.complexity-details {
  transition: 2s;
  width: 100%;
  -webkit-transition: 2s;
  -moz-transition: 2s;
  opacity: 1;

  .breadcrumbs {
    font-size: 13px;
    position: fixed;
    margin: -15px;
    z-index: 10;
    color: $text-color;
    font-weight: bold;
  }

  .question {
    margin: 0 0 10px;
  }

  .question-container {
    margin: 0 0 25px;
  }

  .question > span {
    color: $text-color;
    margin: 0 0 15px;
    font-size: 16px;
    font-weight: bold;
  }

  .scenarios {
    padding-left: 20px;
  }
}

.slide-right {
  -webkit-animation: SlideTORight 2s ease-out 0s;
  animation: SlideTORight 2s ease-out 0s;
}

.slide-left {
  -webkit-animation: SlideTOLeft 2s ease-out 1s;
  animation: SlideTOLeft 2s ease-out 1s;
}

@-webkit-keyframes SlideTORight {
  0% {
    left: 0;
    opacity: 1;
  }
  33% {
    left: 100%;
    opacity: 0;
  }
  66% {
    left: -100%;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes SlideTORight {
  0% {
    left: 0;
    opacity: 1;
  }
  33% {
    left: 100%;
    opacity: 0;
  }
  66% {
    left: -100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@-webkit-keyframes SlideTOLeft {
  0% {
    left: 0;
    opacity: 1;
  }
  33% {
    left: -100%;
    opacity: 0;
  }
  66% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes SlideTOLeft {
  0% {
    left: 0;
    opacity: 1;
  }
  33% {
    left: -100%;
    opacity: 0;
  }
  66% {
    left: 100%;
    opacity: 0;
  }
  100% {
    left: 0;
    opacity: 1;
  }
}

