<div class="clearfix divider clear"></div>
<div class="section-container clear">
  <div class="main-content modal-content clearfix" *ngIf="highlightedSection.name =='AboutMySelf'">
    <h4 class="heading">More About Myself (Max 250)</h4>
    <div class="clearfix">
      <div class="col-sm-12 more-about-myself">
        <textarea class="form-control" [(ngModel)]="candidate.aboutMyself"  (ngModelChange)="addAboutMyself()" [maxlength]="maxword"   Placeholder="Enter About Yourself"></textarea>
        <p class="error-messages">{{remainingWords}} words remaining</p>
      </div>
    </div>
    <div class="button-group">
<!--
      <button class="btn btn-default"  (click)="highlightedSection.name='none'; highlightedSection.isDisable=false" [hidden]="showButton" [disabled]="candidate.aboutMyself == ''" >Cancel</button>
-->
      <button class="btn btn-primary"  (click)="highlightedSection.name='none'; highlightedSection.isDisable=false"  [hidden]="showButton" [disabled]="candidate.aboutMyself == ''">Save</button>
    </div>
  </div>
  <div class="main-content" *ngIf="highlightedSection.name !='AboutMySelf'">
    <div class="compact-view clearfix">
      <h4 class="heading">More About Self
        <button class="btn-edit" (click)="highlightedSection.name='AboutMySelf';highlightedSection.isDisable=true;showButton=false" [hidden]="highlightedSection.isDisable"></button>
      </h4>
      <p>{{candidate.aboutMyself}}</p>
    </div>
  </div>
</div>





