@import '../../../../css/variables';

.more-about-myself {
  p {
    text-align: right;
    margin: 0;
  }
}

.compact-view {
  //border-bottom: 1px solid $border-color;
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 767px) {
  .more-about-myself {
    padding: 0;
  }
}
