<div class="guided-tour-section"
     *ngIf="guidedTourStatus.indexOf(guidedTourImgOverlayScreensEmploymentHistory) == -1 && isGuideImg == true">
  <img src={{guidedTourImgOverlayScreensEmploymentHistoryPath}} alt="Profile Picture">
  <div class="got-it-btn" (click)="onGotItGuideTour()">
    <span>{{gotItMessage}}</span>
  </div>
</div>
<div class="modal-bg" *ngIf="highlightedSection.name=='AboutMySelf'"></div>
<div class="section-container clear" *ngIf="highlightedSection.name =='AboutMySelf'">

  <div class="main-content edit-modal-content clearfix">
    <h4 class="heading">{{aboutMyselfHeading}} {{optinalfield}}</h4>
    <div class="scrollable-content">
      <div class="col-sm-8 no-padding more-about-myself">
      <textarea class="form-control" [(ngModel)]="candidate.aboutMyself" (ngModelChange)="addAboutMyself()"
                [maxlength]="maxword" Placeholder="Enter About Yourself"></textarea>
        <p class="error-messages">{{remainingWords + remainingWordsMessage}}</p>
      </div>
    </div>

    <div class="button-group">
      <!--<div class="saving-loader">Saving...</div>-->
      <button class="btn btn-primary"
              (click)="onNext()"
              *ngIf="!candidate.isSubmitted" >
        Next
      </button>
      <button class="btn btn-primary" (click)="onSave()" *ngIf="candidate.isSubmitted">
        Done
      </button>
    </div>
    <button class="btn-prev" (click)="onPrevious()"><span
            class="glyphicon glyphicon-chevron-left"></span></button>

    <cn-tool-tip [message]="tooltipMessage"></cn-tool-tip>
  </div>
</div>
<div class="section-container clear" *ngIf="highlightedSection.name !='AboutMySelf'">
  <div class="main-content" (click)="onEdit()">
    <div class="compact-view clearfix">
      <h4 class="heading-compact">{{aboutMyselfHeading}} <span class="optional-field">{{optinalfield}}</span>
        <button class="btn-edit"
                (click)="onEdit()"
                [hidden]="highlightedSection.isDisable" title="Edit More About Self"></button>
        <!--<span class="glyphicon glyphicon-plus"></span>-->
      </h4>
      <p>{{candidate.aboutMyself}}</p>
    </div>
  </div>
</div>
<div class="divider clearfix" *ngIf="highlightedSection.name !='AboutMySelf'">&nbsp;</div>





