<div class="signup-page-wrapper">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-6">
        <div class="page-background">
          <div class="inner-content content-background clearfix fadein-element" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}">
            <a (click)="addClick()">
              <img class="logo-image" src={{MY_LOGO}} alt="">
            </a>
            <ul>
              <li class="fadein-sub-element">Budget</li>
              <li class="fadein-sub-element">Estimate</li>
              <li class="fadein-sub-element">Control</li>
            </ul>
          </div>
        </div>
      </div>

      <section class="col-xs-12 col-sm-6">
        <div class="page-background">
          <div class="inner-content clearfix">
            <div *ngIf="isFromCareerPlugin">
              <span class="career-plugin-toster">{{getMessages().CAREER_PLUGIN_MSG_NEW_USER}}</span>
            </div>

            <div class="content">
              <div *ngIf="isGuideMessageVisible" class="welcome-message">
                <h3>Welcome !</h3>
                <p>{{getMessages().GUIDE_MESSAGE_FOR_NEW_VIEWER}}</p>
              </div>
              <h4>{{getLabel().START_FREE}}</h4>
              <!--<p>{{getLabel().REGISTRATION_INFO}}</p>-->
              <form [formGroup]="userForm" (submit)="onSubmit()" novalidate>

                <div class="form-group">
                  <control-messages [control]="userForm.controls.email" [submitStatus]="submitStatus"></control-messages>
                  <label>{{getLabel().EMAIL_FIELD_LABEL}}</label>
                  <input type="email" formControlName="email" id="email" maxlength="40" class="form-control" autocomplete="off"
                         required placeholder="johndoe@example.com"/>
                </div>

                <div class="form-group">
                  <control-messages [control]="userForm.controls.first_name"
                                    [submitStatus]="submitStatus"></control-messages>
                  <label>{{getLabel().NAME}}</label>
                  <input type="text" formControlName="first_name" id="first_name" class="form-control" maxlength="20"
                         autocomplete="off" required placeholder="John Doe"/>
                </div>

                <div class="form-group form-password">
                  <control-messages [control]="userForm.controls.password" [submitStatus]="submitStatus"></control-messages>
                  <label>{{getLabel().PASSWORD}}</label>
                  <input type="password" formControlName="password" id="password" [(ngModel)]="model.password"
                         class="form-control" required placeholder="Minimum 6 characters"/>
                </div>

                <div class="col-sm-12 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage">
                  <b>{{error_msg }}</b>
                </div>
                <div class="button-group">
                  <button type="submit" class="btn btn-primary">Continue</button>
                </div>
              </form>
              <p class="privacy-policy">
                <span>{{getLabel().ACCEPT_NAME}}</span>
                <span><a href="http://buildinfo.co.in/Web-Listings/Terms-and-Conditions" target="_blank">{{getLabel().TERMS_AND_CONDITIONS_NAME}}</a> and
                <a href= #modalfour data-toggle="modal">{{getLabel().PRIVACY_POLICY}}</a>
              </span>
              </p>
              <p>Already have an account?</p>
              <button  class="btn btn-default" (click)="goToSignIn()">Sign In</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<div class="modal outsource-estimation privacy-modal text-left" id="modalfour" tabindex="-1">
  <div class="modal-dialog privacy-modal-dialog estimation-modal-dialog ">
    <div class="modal-content">
      <div class="modal-body">
        <button class="estimation-modal-close" data-dismiss="modal">&times;</button>
        <span class="privacy-modal-title">Privacy Policy</span>
        <h2>
          <strong>PRIVACY POLICY FOR THE USAGE OF “My build Cost”:(Hereinafter called as “The website”) the cost
            estimation</strong>
        </h2>

        <h5 class="text-left">
          <strong><u>The Type of Information the Service Collects:</u></strong>
        </h5>
        <ol type="A">
          <li>The following Privacy Policy summarizes the various ways we treat personally identifiable and other
            information about you and your computer, mobile or other device when you access, visit and/or use the
            Service. This Privacy Policy does not cover information collected elsewhere, including without limitation
            offline and on sites, applications, destinations, or services linked to from the Service.</li>
          <li> The Service generally collects personally identifiable information with your specific knowledge and
            consent. For instance, when you enter a sweepstakes or contest, complete a survey, make a purchase,
            subscribe to our publication(s), register for certain services, or register and/or set up an account/profile
            to access, visit and/or use certain portions of the Service, or the Service as a whole, you may be provided,
            or required to choose, a password and/or User ID, and you may provide a credit, debit, or charge card
            number, or other payment information, as well as your name, telephone number(s), email and/or street
            address, and other personally identifiable information. Other information such as your age, gender, an
            avatar, and the number for your mobile or other device may also be requested. In addition, you may be asked
            to send us similar information via messaging (e.g., email, SMS, MMS, or other technologies). All such
            information shall be referred to in this Privacy Policy as your “Registration Information”.</li>
          <li> Our servers may also automatically collect information about you, your online behavior and your computer,
            mobile or other device. The information collected may include, without limitation, the make, model,
            settings, specifications (e.g., CPU speed, connection speed, browser type, operating system, device
            identifier) and geographic location of you and/or your computer, mobile or other device, as well as
            date/time stamp, IP address, pages visited, time of visits, content viewed, ads viewed, the site(s),
            application(s), destination(s), and/or service(s) you arrived from, and other clickstream data.</li>
          <li> If you choose to access, visit and/or use any third party social networking service(s) that may be
            integrated with the Service, we may receive personally identifiable information and other information
            about you and your computer, mobile or other device that you have made available to those services,
            including information about your contacts on those services. For example, some social networking services
            allow you to push content from our Service to your contacts or to pull information about your contacts so
            you can connect with them on or through our Service. Some social networking services also will facilitate
            your registration for our Service or enhance or personalize your experience on our Service. Your decision
            to use a social networking service in connection with our Service is voluntary. However, you should make
            sure you are comfortable with the information your third party social networking services may make
            available to our Service by visiting those services' privacy policies and/or modifying your privacy
            settings directly with those services. We reserve the right to use, transfer, assign, sell, share, and
            provide access to all personally identifiable information and other information about you and your
            computer, mobile or other device that we receive through third-party social networking services in the same
            ways described in this Agreement as all of your other information.</li>
        </ol>

        <h5 class="text-left">
          <strong><u>How the Service Uses and Shares Information About You:</u></strong>
        </h5>
        <ol type="A">
          <li>We use personally identifiable information you supply through the Service to provide you with the
            merchandise, product, service, and/or Content you have requested. For example, if you subscribe to any of
            our publications, we may use your e-mail address to send you a confirmation notice and your mailing address
            to send you the publication. Similarly, if you enter an online sweepstakes, we will use this information to
            notify you if you are a winner. We may also use the information to communicate with you about new features,
            products or services, and/or to improve the services that we offer by tailoring them to your needs.</li>
          <li> Unless otherwise specified on the Service, we may sell or share information about you and your computer,
            mobile or other device, including without limitation your Registration Information and other personally
            identifiable information, with our parent, subsidiaries, and affiliates and with carefully selected
            companies who we think may offer services and/or products that may be of interest to you. If you do not
            wish to have your personally identifiable information shared with third parties, contact our Privacy Policy
            Coordinator as described at the end of this document. If you do not wish to receive future commercial
            messages from us, simply follow the unsubscribe instructions contained within the message you receive.
            (But note that you may continue to receive certain communications from us, such as transactional or
            relationship messages, and/or messages about your account/profile). If you've registered on any part of the
            Service, please use the mechanism or contact information on the Service that allows you to change or update
            your member preferences or information, if available, to keep all such data accurate and up-to-date. If no
            such mechanism or contact information is available on the Service, contact our Privacy Policy Coordinator
            as described below with your changes.</li>
          <li> We may also allow access to our database by third parties that provide us with services, such as
            technical maintenance, market research, community and forums management, auction services, and shopping,
            personal/job search and other classified ads functionality, but only for the purpose of and to the extent
            necessary to provide those services. And if you choose to purchase merchandise, products and/or services,
            including without limitation Content, on or through features on the Service, we may forward your
            information to third parties for services such as credit card or other payment processing, order fulfilment,
            credit pre-authorization, and address verification. There are also times when you provide information about
            yourself to us in areas of the Service that may be managed or participated in by third parties. In such
            cases, the information may be used by us and by such third party(ies), each pursuant to its own policies.
            We may also provide your information to our advertisers, so that they can serve ads to you that meet your
            needs or match your interests. While we may seek to require such third parties to follow appropriate privacy
            policies and will not authorize them to use this information except for the express purpose for which it is
            provided, we do not bear any responsibility for any actions or policies of third parties.</li>
          <li>  We reserve the right to access, use, and share with others your personally identifiable information for
            purposes of health, safety and other matters in the public interest.</li>
          <li> We may also provide access to our database in order to cooperate with official investigations or legal
            proceedings initiated by governmental and/or law enforcement officials, as well as private parties,
            including, for example, in response to subpoenas, search warrants, court orders, or other legal
            process.</li>
          <li>  In addition, we reserve the right to use the information we collect about your computer, mobile or
            other device (including its geographic location), which may at times be able to identify you, for any
            lawful business purpose, including without limitation to help diagnose problems with our servers, to gather
            broad demographic information, analyze trends, track users' movements around the Service, and to otherwise
            administer the Service. Geographic location information about you and/or your computer, mobile or
            other device may specifically be used to show you content and sponsored messaging based on geographic
            location.</li>
          <li> We reserve the right to use, transfer, sell, and share aggregated, anonymous data about our users as a
            group for any lawful business purpose, such as analyzing usage trends and seeking compatible advertisers,
            sponsors, clients and customers.</li>
          <li> In addition, as our business changes, we may buy or sell various assets. In the event all or a portion
            of the assets owned or controlled by us, our parent or any subsidiary or affiliated entity are sold,
            assigned, transferred or acquired by another company, the information from and/or about our Service users
            may be among the transferred assets.</li>
          <li> We reserve the right to identify you from your Registration Information and/or to merge or co-mingle
            anonymous or non-personally identifiable data about you, your offline and online behaviour, and/or your
            computer, mobile or other device (including its geographic location), with your Registration Information
            and/or other personally identifiable data for any lawful business purpose.</li>
        </ol>
        <ul>
          <h6 class="text-left">
            <strong><u>COOKIES:</u></strong>
          </h6>
          <li>If you decide to share the contents of this application through social network sites like face book or
            twitter, you may be sent cookies from these websites, to give personalized user experience.
            You may check these third party websites for more information about their cookies</li>

          <h6 class="text-left">
            <strong><u>THIRD PARTY SITES:</u></strong>
          </h6>
          <li>The application may contain links to third party websites which are not associated to B.S.T.<br>

            B.S.T is not responsible for the privacy practices or contents of such sites , users will need to review
            the policy statements of these sites to understand their privacy policies.</li>

          <h6 class="text-left">
            <strong><u>USER ANALYSIS:</u></strong>
          </h6>
          <li>
            B.S.T. may collect unnamed statistics which do not personally identify you. B.S.T. reserves the right to
            perform statistical analysis of user behaviour & characteristics in order to measure interest in and use of
            the various areas of the websites & to inform advertisers of such information as well as number of user that
            have been exposed to or clicked on their advertising banners. B.S.T. may provide aggregated data from these
            analyses to third parties.
          </li>
          <h6 class="text-left">
            <strong><u>PRIVACY POLICY CHANGES:</u></strong>
          </h6>
          <li>  B.S.T. reserves right to make changes to this privacy statement from time to time.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

