<div class="signup-page-wrapper">
  <div class="container">
    <div class="row">
      <div class="hidden-xs col-sm-6">
        <div class="page-background">
          <div class="inner-content content-background clearfix fadein-element" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}">
            <a (click)="addClick()">
              <img class="logo-image" src={{MY_LOGO}} alt="">
            </a>
            <ul>
              <li class="fadein-sub-element">Budget</li>
              <li class="fadein-sub-element">Estimate</li>
              <li class="fadein-sub-element">Control</li>
            </ul>
          </div>
        </div>
      </div>

      <section class="col-xs-12 col-sm-6">
        <div class="page-background">
          <div class="inner-content clearfix">
            <div *ngIf="isFromCareerPlugin">
              <span class="career-plugin-toster">{{getMessages().CAREER_PLUGIN_MSG_NEW_USER}}</span>
            </div>

            <div class="content">
              <div *ngIf="isGuideMessageVisible" class="welcome-message">
                <h3>Welcome !</h3>
                <p>{{getMessages().GUIDE_MESSAGE_FOR_NEW_VIEWER}}</p>
              </div>
              <h4>{{getLabel().START_FREE}}</h4>
              <!--<p>{{getLabel().REGISTRATION_INFO}}</p>-->
              <form [formGroup]="userForm" (submit)="onSubmit()" novalidate>

                <div class="form-group">
                  <control-messages [control]="userForm.controls.email" [submitStatus]="submitStatus"></control-messages>
                  <label>{{getLabel().EMAIL_FIELD_LABEL}}</label>
                  <input type="email" formControlName="email" id="email" maxlength="40" class="form-control" autocomplete="off"
                         required placeholder="johndoe@example.com"/>
                </div>

                <div class="form-group">
                  <control-messages [control]="userForm.controls.first_name"
                                    [submitStatus]="submitStatus"></control-messages>
                  <label>{{getLabel().NAME}}</label>
                  <input type="text" formControlName="first_name" id="first_name" class="form-control" maxlength="20"
                         autocomplete="off" required placeholder="John Doe"/>
                </div>

                <div class="form-group form-password">
                  <control-messages [control]="userForm.controls.password" [submitStatus]="submitStatus"></control-messages>
                  <label>{{getLabel().PASSWORD}}</label>
                  <input type="password" formControlName="password" id="password" [(ngModel)]="model.password"
                         class="form-control" required placeholder="Minimum 6 characters"/>
                </div>

                <div class="col-sm-12 error-msg alert alert-danger form-alert" [hidden]="isShowErrorMessage">
                  <b>{{error_msg }}</b>
                </div>
                <div class="button-group">
                  <button type="submit" class="btn btn-primary">Continue</button>
                </div>
              </form>
              <p class="privacy-policy">
                <span>{{getLabel().ACCEPT_NAME}}</span>
                <span><a href="http://buildinfo.co.in/Web-Listings/Terms-and-Conditions" target="_blank">{{getLabel().TERMS_AND_CONDITIONS_NAME}}</a> and
                <a href="http://buildinfo.co.in/Web-Listings/Privacy-Policy" target="_blank">{{getLabel().PRIVACY_POLICY}}</a>
              </span>
              </p>
              <p>Already have an account?</p>
              <button  class="btn btn-default" (click)="goToSignIn()">Sign In</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>




