<div [formGroup]="academicForm">
  <div class="col-sm-12 no-padding">
    <div class="row">
      <div class="col-sm-12">
        <div class="form-group">
          <label>Degree</label>
          <input type="text" class="form-control" formControlName="specialization" required/>
          <div class="error-messages"
               *ngIf="(academicForm.get('specialization').touched || submitStatus) && academicForm.get('specialization').hasError('required')">
            <p>Degree Name is required</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>Board/University Name</label>
          <input class="form-control" type="text" formControlName="board" required/>
          <div class="error-messages"
               *ngIf="(academicForm.get('board').touched || submitStatus) && academicForm.get('board').hasError('required')">
            <p>Board/University Name is required</p>
          </div>
        </div>
      </div>

      <div class="col-sm-12">
        <div class="form-group">
          <label>Year </label>
          <select class="select" formControlName="yearOfPassing">
            <option *ngFor="let academicYear of yearList" [ngValue]="academicYear">{{academicYear}}
            </option>
          </select>
          <div class="error-messages"
               *ngIf="(academicForm.get('yearOfPassing').touched || submitStatus) && academicForm.get('yearOfPassing').hasError('required')">
            <p>Year Of Passing is required</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 no-padding">
      <label>School/College Name <span class="optional-field">(Optional)</span></label>
      <textarea row="2" formControlName="schoolName" class="form-control"></textarea>
    </div>
  </div>
</div>


