$border-color: #ccc;

.error-messages {
  position: absolute;
  top: 54px;

  p {
    color: #e82c0c;
    font-size: 10px;
    padding-left: 0;
    font-style: italic;
    margin: 0;
  }
}

.btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.form-group {
  position: relative;
}

.compact-view {
  min-height: 135px;

  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

textarea {
  height: auto;
  margin-top: 0;
}

@media only screen and (max-width: 767px) {
  .academic-details {

    .col-sm-4,
    .col-sm-12 {
      width: 100%;
      padding: 0;
    }

    .row {
      margin: 0;
    }
  }
}
