<!--
<button ceiboShare [facebook]="{u: repoUrl}" class="btn-facebook"></button>
-->
<div class="share-button-container">
  <a [href]="repoUrlFacebook" onclick='window.open(this.href,"popupwindow", "width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable"); return;' target='_blank' class="btn-facebook" alt="Facebook"> </a>
  <a [href]="repoUrlLinkedin" onclick='window.open(this.href,"popupwindow", "width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable"); return;' target='_blank' class="btn-linkedin" alt="Linkedin"> </a>
  <a [href]="repoUrlTwitter" onclick='window.open(this.href,"popupwindow", "width=800,height=500,left=200,top=5,scrollbars,toolbar=0,resizable"); return;' target='_blank' class="btn-twitter" alt="Twitter"> </a>
</div>
