<div class="dashboard-view clearfix"><!--[hidden]="!isShowQCardView"-->

  <header class="col-sm-12">
   <p>{{matches}} Matches Found</p>

    <div class="sort-by">
      <label>Sort by</label>
      <select id="menu"  [(ngModel)]="qCardModel.name" (change)="sortBy()">
        <option value="{{itemList}}" *ngFor="let itemList of qCardModel.listOfMatchings">{{itemList}}</option>
      </select>
    </div>
  </header>

  <div class="card-view clearfix">
    <div class="col-sm-6" *ngFor= "let item of candidates2 | orderby:formatcandidate | dashboardfilter:candidateFilter">
      <div class="panel clearfix">
        <div class="col-sm-7 col-xs-6 no-padding left-side">
          <p><img src="assets/c-next/card-view/salary.png" alt="Salary"/>$ {{item.salary}}</p>
          <p><img src="assets/c-next/card-view/experience.png" alt="Experience"/>{{item.experience}} Years</p>
          <p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.location}}</p>
          <p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.education}}</p>
          <p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.noticePeriod}}</p>
          <p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.proficiencies}}</p>
          <p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.interestedIndustries}}</p>
        </div>

        <div class="col-sm-5 col-xs-6 no-padding right-side">
          <div class="canvas-container">
            <cn-progress-bar [value]="item.matching" [color]="'#e77e22'" [rotation]="false"></cn-progress-bar>
            <cn-progress-bar [value]="item.matching" [color]="'#e77e22'" [rotation]="true" ></cn-progress-bar>
            <span class="percentage"><span>{{item.matching}}%</span><br />Skills<br />matching</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

