<div class="dashboard-view clearfix"><!--[hidden]="!isShowQCardView"-->

  <header class="col-sm-12">
   <p>{{matches}} Matches Found</p>

    <div class="sort-by">
      <label>Sort by</label>
      <select id="menu"  [(ngModel)]="qCardModel.sortValue" (change)="sortBy()">
        <option value="{{itemList}}" *ngFor="let itemList of qCardModel.listOfMatchings">{{itemList}}</option>
      </select>
    </div>
  </header>
  <label class="radio">
    <input  type="radio" name="radiogroup" value="{{match.aboveMatch}}" (click)="matching($event.target.value)">AboveMatch
  </label>
  <label class="radio">
    <input  type="radio" name="radiogroup" value="{{match.belowMatch}}" (click)="matching($event.target.value)">BelowMatch
  </label>
  <button type="button" (click)="clearFilter()">Clear all filters</button>
  <div class="card-view clearfix">
    <div class="col-sm-6" *ngFor= "let item of candidates | orderby:qCardModel.sortValue | dashboardfilter:candidateFilter | candidatematching: matchFormat;let i=index;"><!--| candidatematching: matchFormat-->
      <div class="panel clearfix">
        <div><span class="glyphicon glyphicon-heart-empty" (click)="addToShortList(item)" [class.shortlisted]="item.isCandidateshortListed"></span></div>
        <div [hidden]="!item.isCandidateRead"><span class="glyphicon glyphicon-eye-close"></span></div>
        <div [hidden]="item.isCandidateRead"><span class="glyphicon glyphicon-eye-open"></span></div>
        <div class="col-sm-12">
          <div class="col-sm-5 col-xs-6 no-padding right-side">
            <img class="profile-picture" src="assets/framework/images/dashboard/profile.png" alt="Profile Picture"/>
            <div class="canvas-container">
              <cn-progress-bar [value]="item.matching" [color]="'#e77e22'" [rotation]="false"></cn-progress-bar>
              <cn-progress-bar [value]="item.matching" [color]="'#e77e22'" [rotation]="true" ></cn-progress-bar>
              <span class="percentage"><span>{{item.matching | number : '1.0-0'}}%</span><br />Skills<br />matching</span>
            </div>
          </div>
          <div class="col-sm-7 col-xs-6 no-padding left-side">
            <h6 class="username">{{item.first_name}} {{item.last_name}}</h6>
            <p><img src="assets/c-next/card-view/salary.png" alt="Salary"/>$ {{item.salary}}</p>
            <p><img src="assets/c-next/card-view/experience.png" alt="Experience"/>{{item.experience}}</p>
            <p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.location}}</p>
            <!--<p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.education}}</p>-->
            <!--<p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.noticePeriod}}</p>-->
            <p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.proficiencies}}</p>
            <!--<p><img src="assets/c-next/card-view/relocation.png" alt="Location"/> {{item.interestedIndustries}}</p>-->
            <!--<p><img src="assets/c-next/card-view/relocation.png" alt="Location"/><span *ngIf="item.location == 'Yes'">Ready to Relocate</span><span *ngIf="item.location != 'Yes'">Not Ready to Relocate</span></p>-->
          </div>
        </div>
          <button class="btn btn-cart btn-block" type="button" (click)="addToCart(item._id)" >Add To Cart</button>
      </div>
    </div>
  </div>
</div>

