<div>
  <div class="main-content" *ngIf="highlightedSection.name =='Compentancies'">
    <div class="row">
      <div class="section-container col-sm-6">
        <div class="max-height">
          <h4 class="heading">Compentencies (500 Words):</h4>
          <cn-description-field [description]="jobPosterModel.competencies" [type]="'competensies'" [maxLength]=" '500'"
                                (onComplete)="onCompetenciesComplete($event)"></cn-description-field>
        </div>
      </div>

      <div class="section-container col-sm-6">
        <div class="max-height">
          <h4 class="heading">Responsibilities and Derivables (500 Words):</h4>
          <cn-description-field [description]="jobPosterModel.responsibility" [type]="'responsibilities'"
                                [maxLength]=" '500'"
                                (onComplete)="onResponsibilitiesComplete($event)"></cn-description-field>
        </div>
      </div>
    </div>
  </div>
  <div class="main-content" *ngIf="highlightedSection.name !='Compentancies'">
    <div class="compact-view clearfix">
      <button class="btn-edit" (click)="highlightedSection.name='Compentancies'"></button>

      <h4 class="heading">Compentencies</h4>
      <div >
        <p class="primary">{{jobPosterModel.competencies}}</p>
      </div>

      <h4 class="heading">Responsibilities and Derivables</h4>
      <div >
        <p class="primary">{{jobPosterModel.responsibility}}</p>
      </div>
    </div>
  </div>
</div>
