<div class="modal-bg" *ngIf="highlightedSection.name=='Compentancies'"></div>
<div class="section-container clearfix" *ngIf="highlightedSection.name =='Compentancies'">
  <div class="main-content clearfix modal-content">
    <div class="row">
      <div class="col-sm-12">
        <div class="max-height">
          <h4 class="heading">Additional information about the job (500 Words)</h4>
          <cn-description-field [description]="jobPosterModel.competencies" [type]="'competensies'" [maxLength]=" '500'"
                                (onComplete)="onCompetenciesComplete($event)"></cn-description-field>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-container clearfix" *ngIf="highlightedSection.name !='Compentancies'">
  <div class="main-content">
    <div class="compact-view clearfix">
      <div class="col-sm-12 no-padding">
        <h4 class="heading">Additional information about the Job
          <button class="btn-edit" (click)="highlightedSection.name='Compentancies'"></button>
        </h4>
        <p class="primary">{{jobPosterModel.competencies}}</p>
      </div>
    </div>
  </div>
</div>
