<div class="page-background" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND_TRANSPARENT + ')'}">
  <div class="inner-content clearfix">
    <div class="create-new-project">
      <img src="assets/build-info/create-new-project/create-new-project.png" alt="Create New Project"/>
      <p>Create Your First Project</p>
      <button type="button" class="btn btn-primary" (click)="goToCreateProject()">Create New Project</button>
    </div>
    <div class="get-started">
      <img src="assets/build-info/create-new-project/get-started.png" alt="Get Started"/>
      <h5>Get Started</h5>
    </div>
  </div>
</div>
