<div class="page-background" [ngStyle]="{'background-image': 'url(' + BODY_BACKGROUND + ')'}">
  <div class="inner-content clearfix">
    <section class="settings main-form-wrapper">
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3"></div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-11 settings-content">
        <ul>
          <div class="col-xs-12 no-padding">
            <li>
              <button type="button" class="btn btn-primary" (click)="createProject()">Create New Project</button>
            </li>
          </div>
        </ul>
      </div>

      <tpl-footer></tpl-footer>
    </section>
  </div>
</div>
