<section class="settings main-form-wrapper">
  <bi-project-header></bi-project-header>
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-11 settings-content">
    <ul>
      <div class="col-xs-12 no-padding">
        <h5>Project List</h5>
        <li *ngFor="let key of projects">
         <button (click)="setCurrentProjectId(key._id)">{{key.name}}</button>
        </li>
        <li>
          <button (click)="createProject()">Create New Project</button>
        </li>
      </div>
    </ul>
  </div>

  <tpl-footer></tpl-footer>
</section>
