<div class="row capability-complexity">
  <ul class="legends" *ngIf="!isCompact">
    <li><span class="legend-above"></span>Higher capability than desired </li>
    <li><span class="legend-exact"></span>Exact capability as desired</li>
    <li><span class="legend-below"></span>Lesser capability as desired</li>
    <li><span class="legend-missing"></span>Missmatch capabilities </li>
  </ul>
  <!--<div class="heading clearfix">
    <div class="col-sm-3 hidden-xs"><h4>Core Capabilities</h4></div>
    <div class="col-sm-9 hidden-xs"><h4>Complexities Handled</h4></div>
  </div>-->
</div>

<div class="capability-complexity-container">
  <div class="row-section">
    <div>
      <div class="column1"  *ngFor="let capability of capabilities; let i= index" [class.more-capability]="i== capabilities.length-1 && capabilities.length >= 10">
        <div class="content clearfix" >
          <div class="">
            <div  *ngFor="let item of maxArray;let x=index;">
              <span class="empty-divs" *ngIf="x >= capability.complexities.length;" ></span>
            </div>
            <div *ngFor="let complexity of capability.complexities;let i=index">
              <div class="col-sm-12 no-padding row-background">
                <div class="" [class.exact]="complexity.match==2 " [class.compact-view]="isCompact" [class.above]="complexity.match==3"
                     [class.below]="complexity.match==1" [class.missing]="complexity.match == 0"
                     [class.extra]="complexity.match==4">
                  <span class="complexity-name">{{complexity.name}}</span>
                  <div class="complexity-scenarios-description" *ngFor="let scenario of complexity.scenarios">
                    <span class="complexity-name">{{complexity.name}}</span>
                    <span >{{scenario.name}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="capability-label">
            <span>{{capability.name}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
