<div class="row capability-complexity">
  <ul class="legends" *ngIf="!isCompact">
    <li><span class="legend-above"></span>{{capabilityCompareAboveMatch}}</li>
    <li><span class="legend-exact"></span>{{capabilityCompareExactMatch}}</li>
    <li><span class="legend-below"></span>{{capabilityCompareBelowMatch}}</li>
    <li><span class="legend-missing"></span>{{capabilityCompareMissing}}</li>
  </ul>
  <!--<div class="heading clearfix">
    <div class="col-sm-3 hidden-xs"><h4>Core Capabilities</h4></div>
    <div class="col-sm-9 hidden-xs"><h4>Complexities Handled</h4></div>
  </div>-->
</div>

<div class="capability-complexity-container">
  <div class="row-section">
    <div *ngIf="!isCompact">
      <div class="column1" *ngFor="let capability of capabilities; let i= index"
           [class.not-applicable]="!capability.isFound" [class.eleventh-for-all]="capabilities.length == 11"
           [class.twelve-for-all]="capabilities.length == 12" [class.thirteen-for-all]="capabilities.length == 13"
           [class.fourteen-for-all]="capabilities.length == 14">
        <div  [class.more-capability]="i== capabilities.length-1 && capabilities.length >= 10">
          <div class="content clearfix">
            <div *ngFor="let item of maxArray;let x=index;">
              <span class="empty-divs" *ngIf="x >= capability.complexities.length;"></span>
            </div>
            <div *ngFor="let complexity of capability.complexities;let i=index">
              <div class="col-sm-12 no-padding row-background"
                   *ngIf="complexity.scenarios[0].job_scenario_name != undefined && complexity.scenarios[0].job_scenario_name != 'Not Applicable'">
                <div class="" [class.exact]="complexity.match==2 "
                     [class.above]="complexity.match==3"
                     [class.below]="complexity.match==1" [class.missing]="complexity.match == 0"
                     [class.extra]="complexity.match==4"
                     *ngIf="complexity.scenarios[0]&& complexity.scenarios[0].name != undefined">
                  <div class="match-icon"></div>
                  <span class="complexity-name">{{complexity.name}}</span>
                  <div *ngFor="let scenario of complexity.scenarios">
                    <div class="complexity-scenarios-description">
                      <span class="complexity-name">{{complexity.name}}</span>
                      <span class="scenario-name-top" [class.not-match-overlay]="complexity.match != 2">{{scenario.name }}</span>
                      <div *ngIf="complexity.match != 2" [class.unmatch-overlay-show]="complexity.match != 2">
                        <div class="col-xs-12 no-padding user-info-modal">
                          <div class="col-xs-1 no-padding ">
                            <span> <img style="width: 30px;height: 30px;"
                                        src="/assets/framework/images/dashboard/profile.png" alt="User Profile"
                                        *ngIf="candidate_picture==undefined"/>
                              <img style="width: 30px;height: 30px;" [src]="getImagePath(candidate_picture)"
                                   alt="User Profile"
                                   *ngIf="candidate_picture!=undefined"/>
                            </span>
                          </div>
                          <div class="col-xs-11 padding-left20">
                            <span *ngIf="scenario.candidate_scenario_name == undefined"> NA </span>
                            <span>{{scenario.candidate_scenario_name}} </span>
                          </div>
                          <div class="clearfix bottom-div"></div>
                          <div class="col-xs-1 no-padding">
                            <span> <img style="width: 30px;height: 30px;"
                                        src="/assets/c-next/company-details/company-logo-default.png" alt="User Profile"
                                        *ngIf="job_picture==undefined"/>
                              <img style="width: 30px;height: 30px;" [src]="getImagePath(job_picture)"
                                   alt="User Profile"
                                   *ngIf="job_picture!=undefined"/>
                            </span>
                          </div>
                          <div class="col-xs-11 padding-left20">
                            <span>{{scenario.job_scenario_name }}</span>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="capability-label">
            <span>{{capability.name}}</span>
          </div>
        </div>
      </div>
    </div>
      <div class="capability-of-capabilities-section" *ngIf="isCompact">
        <div class="row-list" *ngFor="let capability of capabilities;let j=index">
          <div class="content clearfix" [class.hide-capability]="j >= rowsToShow">
            <div class="col-sm-3">
              <!--<div class="heading visible-xs"><h4>Core Capabilities</h4></div>-->
              <span class="capability-label-name">{{capability.name}}</span>
            </div>
            <div class="col-sm-9 complexities-handled">
              <!--<div class="heading visible-xs"><h4>Complexities Handled</h4></div>-->
              <div class="complexities-col" *ngFor="let complexity of capability.complexities;let i=index">
                <div class="col-sm-4 capability-edit" (click)="onComplexitySelect(complexity,capability)">
                  <button class="btn-edit" (click)="onComplexitySelect(complexity,capability)" title="Edit this Capability Detail"></button>
                  <div class="inner">
                    <span class="complexity-name">{{complexity.name}}</span>
                    <div class="scenario-row" *ngFor="let scenario of complexity.scenarios">
                      <span>{{scenario.name}}</span>
                    </div>
                  </div>
                </div>
                <div class="clearfix devider" *ngIf="(i+1)%3==0"></div>
              </div>
            </div>
          </div>
          <div class="see-more" *ngIf="j+1 === rowsToShow" (click)="isShowMore()" [hidden]="showMore" >
            <p [hidden]="!showMoreUnable">Show more</p>
            <span [class.hide-capability]="!showMoreUnable" class="glyphicon glyphicon-chevron-down"></span>
          </div>
        </div>
      </div>
    <div class="capability-of-capabilities" [hidden]="!showMore">
    <div class="row-list" *ngFor="let capability of capabilities;let j=index" >
      <div class="content clearfix" [class.hide-capability]="j < rowsToShow">
        <div class="col-sm-3">
          <!--<div class="heading visible-xs"><h4>Core Capabilities</h4></div>-->
          <span class="capability-label-name">{{capability.name}}</span>
        </div>
        <div class="col-sm-9 complexities-handled">
          <!-- <div class="heading visible-xs"><h4>Complexities Handled</h4></div>-->
          <div class="complexities-col" *ngFor="let complexity of capability.complexities;let i=index">
            <div class="col-sm-4 capability-edit" (click)="onComplexitySelect(complexity,capability)">
              <button class="btn-edit" (click)="onComplexitySelect(complexity,capability)" title="Edit this Capability Detail"></button>
              <div class="inner">
                <span class="complexity-name">{{complexity.name}}</span>
                <div class="scenario-row" *ngFor="let scenario of complexity.scenarios">
                  <span>{{scenario.name}}</span>
                </div>
              </div>
            </div>
            <div class="clearfix devider" *ngIf="(i+1)%3==0"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="see-more" (click)="isShowLess()" >
      <span class="glyphicon glyphicon-chevron-up"></span>
      <p>Show less</p>
    </div>
    </div>

  </div>
</div>
