$theme-color: #3694d1;
$heading-color: #dbeef6;
$border-color: #e8e8e8;
$text-color: #666;
$light-green: #B1D669;
$orange: #EAA83D;
$gray: #ccc;
$green: #7E9B5D;
$blue: #3694d1;
$red: #EF5C48;
$white: #ffffff;

.exact {
  background: $light-green !important;
  padding: 10px 5px;
  height: 59px;
}

.exact:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $light-green;
    padding: 5px;
    bottom: 0;
    min-height: 59px;
    width: 200px;
    left: -43px;
    box-shadow: 0px 0px 4px 0px #757575;
    font-size: 12px;
    z-index: 9;
    border: 1px solid $white;
  }
}

.above {
  background: $green !important;
  padding: 10px 5px;
  height: 59px;
}

.above:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $green;
    padding: 5px;
    bottom: 0;
    min-height: 59px;
    width: 200px;
    left: -43px;
    box-shadow: 0px 0px 4px 0px #757575;
    font-size: 12px;
    z-index: 9;
    border: 1px solid $white;
  }
}



.below {
  background: $orange !important;
  padding: 10px 5px;
  height: 59px;
}

.below:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $orange;
    padding: 5px;
    bottom: 0;
    min-height: 59px;
    width: 200px;
    left: -43px;
    box-shadow: 0px 0px 4px 0px #757575;
    font-size: 12px;
    z-index: 9;
    border: 1px solid $white;
  }
}

.missing {
  background: $red !important;
  padding: 10px 5px;
  height: 59px;
}

.missing:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $red;
    padding: 5px;
    bottom: 0;
    min-height: 59px;
    width: 200px;
    left: -43px;
    box-shadow: 0px 0px 4px 0px #757575;
    font-size: 12px;
    z-index: 9;
    border: 1px solid $white;
  }
}

.extra {
  background: $gray !important;
  padding: 10px 5px;
  height: 59px;
}

.extra:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $gray;
    padding: 5px;
    bottom: 0;
    min-height: 59px;
    width: 200px;
    left: -43px;
    box-shadow: 0px 0px 4px 0px #757575;
    font-size: 12px;
    z-index: 9;
    border: 1px solid $white;
  }
}

.row-background {
  color: $white;
  font-size: 11px;
  text-align: left;
}

/*.complexity-scenarios-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}*/

.row-section .column1:first-child {
  .above:hover,
  .below:hover,
  .missing:hover,
  .extra:hover,
  .exact:hover {
    .complexity-scenarios-description {
      left: 0px;
    }
  }
}


.more-capability:last-child {
  .above:hover,
  .below:hover,
  .missing:hover,
  .extra:hover,
  .exact:hover {
    .complexity-scenarios-description {
      right: 0;
      left: inherit;
    }
  }
}

.capability-label {
  padding: 5px 0;
  display: table;
  text-align: center;
  width: 100%;
  span {
    font-size: 11px;
    text-align: center;
    display: table-row;
    word-break: break-word;
    height: 50px;
    word-wrap: break-word;
    padding: 0 20px;
    color: #B3B3B3;
  }
}

.complexity-scenarios-description {
  /*white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;*/
}

.capability-complexity {
  padding-left: 10px;
  padding-top: 15px;
  .legends {
    float: left;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;

    li {
      float: left;
      font-size: 11px;
      margin-right: 15px;
    }

    span {
      margin: 0 5px 0 5px;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      display: inline-block;
    }

    .legend-above {
      background: $green;
    }

    .legend-exact {
      background: $light-green;
    }

    .legend-below {
      background: $orange;
    }

    .legend-missing {
      background: $red;
    }

    .legend-extra {
      background: $gray;
    }
  }

  .heading {
    border-bottom: 1px solid $border-color;
    border-radius: 0;
    margin: 0;
    width: 100%;
    clear: both;

    h4 {
      font-family: gothamrnd-book;
      font-size: 13px;
      margin: 0;
      padding: 10px 0;
    }
  }

  .content {
    border-bottom: 1px solid $border-color;
    margin: 10px 0;
    padding-bottom: 10px;

    span {
      font-size: 12px;
      color: $text-color;
      width: 100%;
      display: block;
    }

    .complexity-name {
      font-size: 12px;
      color: $theme-color;
      word-break: break-word;
    }
  }

  .devider {
    clear: both;
    height: 10px;
    width: 100%;
  }

  .details {
    padding: 5px;
    border-radius: 4px;
  }

  .col-sm-4 {
    width: 33.33%;
  }
}

@media only screen and (max-width: 767px) {
  .capability-complexity {
    border-top: 1px solid $theme-color;

    .content {
      .col-md-4,
      .col-sm-6 {
        margin-bottom: 15px;
        min-height: inherit;
      }

      span {
        display: block;
        padding-bottom: 5px;
      }
    }

    .heading {
      margin: 0 !important;
      padding: 0 15px !important;

      h4 {
        padding: 5px 0;
      }
    }

    .col-sm-3 {
      span {
        padding: 0 15px;
      }
    }

    .col-sm-3,
    .col-sm-9 {
      padding: 0;
    }

    .col-sm-4 {
      padding: 0 15px;
      width: 100%;
    }
  }
}


.capability-complexity-container{
  min-width:320px;
  width: 100%;
  margin: 0px auto;
  display: inline-block;
}
.row-section {
  display:table;
  margin: 0;
  border-collapse:separate;
}
.column1{
  /*width: 10%;*/
  max-width: 120px;
  display: table-cell;
  padding: 0px;
  background: #fff;
  border-right: 1px solid #fff;
  vertical-align: bottom;
  word-break: break-all;
}
@media only screen
and (max-width: 840px) {
  .column1{
    display: table-row;
    width: 100%;
  }
}
