@import '../../../../../../css/variables';

.exact {
  background: $exact-bg !important;
  padding: 5px 5px 0;
  height: 57px;
  line-height: 16px;
  overflow: hidden;
  padding-left: 30px;
  .match-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -33px -735px;
    float: left;
    height: 32px;
    left: 4px;
    position: absolute;
    top: -7px;
    width: 19px;
  }
}

.compact-view {
  background: $background-color !important;
  padding: 5px 5px 0;
  height: 57px;
  line-height: 16px;
}

.capability-edit {
  &:hover {
    .btn-edit {
      opacity: 1;
    }
  }
}

.not-match-overlay {
  display: block;
}

.unmatch-overlay-show {
  display: none;
}

.compact-view:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $primary-option;
    padding: 5px;
    bottom: inherit;
    min-height: 59px;
    width: 280px;
    left: 0;
    box-shadow: 0 0 4px 0 $hover-shadow;
    color: white !important;
    font-size: 12px;
    z-index: 999;
    top: 0;
    border: 1px solid $white;
    span {
      max-width: initial;
      overflow: inherit;
      white-space: normal;
      display: block;
      position: relative;
      word-break: keep-all;
      img {
        border-radius: 24px;
      }
    }
    .not-match-overlay {
      display: none;
    }
    .unmatch-overlay-show {
      display: block;
    }
  }
  .complexity-name {
    display: block;
  }
}

.exact:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $exact-bg;
    padding: 5px;
    bottom: inherit;
    min-height: 59px;
    width: 280px;
    left: 0;
    box-shadow: 0 0 4px 0 $hover-shadow;
    font-size: 12px;
    z-index: 999;
    top: 0;
    border: 1px solid $white;
    span {
      max-width: initial;
      overflow: inherit;
      white-space: normal;
      display: block;
      position: relative;
      word-break: keep-all;
    }
    .not-match-overlay {
      display: none;
    }
    .unmatch-overlay-show {
      display: block;
    }
    .filled-star {
      left: unset !important;
      position: absolute;
      right: 18px !important;
      top: 5px !important;
    }
  }
  .complexity-name {
    display: block;
  }
}

.above {
  background: $higher-bg !important;
  padding: 5px 5px 0;
  height: 57px;
  line-height: 16px;
  overflow: hidden;
  padding-left: 30px;
  .match-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -8px -735px;
    float: left;
    left: 4px;
    height: 32px;
    position: absolute;
    top: -7px;
    width: 19px;
  }
}

.above:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $higher-bg;
    padding: 5px;
    bottom: inherit;
    min-height: 59px;
    width: 280px;
    left: 0;
    box-shadow: 0 0 4px 0 $hover-shadow;
    font-size: 12px;
    z-index: 999;
    top: 0;
    border: 1px solid $white;
    span {
      max-width: initial;
      overflow: inherit;
      white-space: normal;
      display: block;
      position: relative;
      word-break: keep-all;
    }
    .not-match-overlay {
      display: none;
    }
    .unmatch-overlay-show {
      display: block;
    }
    .filled-star {
      left: unset !important;
      position: absolute;
      right: 18px !important;
      top: 5px !important;
    }
  }
  .complexity-name {
    display: block;
  }
}

.below {
  background: $less-bg !important;
  padding: 5px 5px 0;
  height: 57px;
  line-height: 16px;
  overflow: hidden;
  padding-left: 30px;
  .match-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -58px -735px;
    float: left;
    height: 32px;
    left: 4px;
    position: absolute;
    top: -7px;
    width: 19px;
  }
}

.below:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $less-bg;
    padding: 5px;
    bottom: inherit;
    min-height: 59px;
    width: 280px;
    left: 0;
    box-shadow: 0 0 4px 0 $hover-shadow;
    font-size: 12px;
    z-index: 999;
    top: 0;
    border: 1px solid $white;
    span {
      max-width: initial;
      overflow: inherit;
      white-space: normal;
      display: block;
      position: relative;
      word-break: keep-all;
      color: $text-color3;
      font-size: 12px;
    }
    .not-match-overlay {
      display: none;
    }
    .unmatch-overlay-show {
      display: block;
    }
    .filled-star {
      left: unset !important;
      position: absolute;
      right: 18px !important;
      top: 5px !important;
    }
  }
  .complexity-name {
    display: block;
  }
}

.missing {
  background: $missmatch-bg !important;
  padding: 5px 5px 0;
  height: 57px;
  line-height: 16px;
  overflow: hidden;
  padding-left: 30px;
  .match-icon {
    background: url(../assets/c-next/card-view/sprite.png) no-repeat -83px -735px;
    float: left;
    height: 32px;
    left: 4px;
    position: absolute;
    top: -7px;
    width: 19px;
  }
}

.missing:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $missmatch-bg;
    padding: 5px;
    bottom: inherit;
    min-height: 59px;
    width: 280px;
    left: 0;
    box-shadow: 0 0 4px 0 $hover-shadow;
    font-size: 12px;
    z-index: 999;
    top: 0;
    border: 1px solid $white;
    span {
      max-width: initial;
      overflow: inherit;
      white-space: normal;
      display: block;
      position: relative;
      word-break: keep-all;
    }
    .not-match-overlay {
      display: none;
    }
    .unmatch-overlay-show {
      display: block;
    }
    .filled-star {
      left: unset !important;
      position: absolute;
      right: 18px !important;
      top: 5px !important;
    }
  }
  .complexity-name {
    display: block;
  }
}

.complexity-name {
  word-break: keep-all;
  font-family: 'gothamrnd-book';
  font-style: normal !important;
  font-size: 12px;
  color: $black1;
  max-height: 30px;
  overflow: hidden;
  display: inline-block;
}

.extra {
  background: $gray !important;
  padding: 5px 5px 0;
  height: 57px;
  line-height: 16px;
}

.extra:hover {
  .complexity-scenarios-description {
    white-space: inherit;
    position: absolute;
    background: $gray;
    padding: 5px;
    bottom: inherit;
    min-height: 59px;
    width: 220px;
    left: 0;
    box-shadow: 0 0 4px 0 $hover-shadow;
    font-size: 12px;
    z-index: 999;
    top: 0;
    border: 1px solid $white;
    span {
      max-width: initial;
      overflow: inherit;
      white-space: normal;
      display: block;
      position: relative;
      word-break: keep-all;
    }
    .not-match-overlay {
      display: none;
    }
    .unmatch-overlay-show {
      display: block;
    }
  }
  .complexity-name {
    display: block;
  }
}

.row-background {
  color: $white;
  font-size: 11px;
  text-align: left;
  border-bottom: 1px solid $row-border;
  height: 58px;
  overflow: hidden;
}

.row-background:hover {
  overflow: inherit;
}

.row-section .column1:first-child {
  .above:hover,
  .below:hover,
  .missing:hover,
  .extra:hover,
  .exact:hover {
    .complexity-scenarios-description {
      left: 0 !important;
    }
  }
}

.more-capability:last-child,
.row-section .column1:last-child {
  .above:hover,
  .below:hover,
  .missing:hover,
  .extra:hover,
  .exact:hover {
    .complexity-scenarios-description {
      right: 0;
      left: inherit;
    }
  }
}

.row-section .column1:nth-child(10),
.row-section .column1:nth-child(11),
.row-section .column1:nth-child(12),
.row-section .column1:nth-child(13) {
  .above:hover,
  .below:hover,
  .missing:hover,
  .extra:hover,
  .exact:hover {
    .complexity-scenarios-description {
      right: 0;
      left: inherit;
    }
  }
}

.row-section .column1:nth-child(2) {
  .above:hover,
  .below:hover,
  .missing:hover,
  .extra:hover,
  .exact:hover {
    .complexity-scenarios-description {
      left: 0 !important;
      right: inherit !important;
    }
  }
}

.capability-label {
  padding: 5px;
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 81px;
  line-height: 14px;
  overflow: hidden;
  position: relative;
  z-index: 9;
  span {
    font-size: 12px;
    text-align: center;
    //display: table;
    word-break: keep-all;
    height: 60px;
    margin: 0 auto;
    padding: 0;
    color: $black1;
  }
}

.complexity-scenarios-description {
  .complexity-name {
    display: none;
  }
  span {
    max-width: 74%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: table-cell;
    position: absolute;
    font-size: 12px;
    color: $text-color3;
    img {
      border-radius: 30px;
      border: 2px solid $border-color1;
      width: 34px !important;
      height: 34px !important;
    }
  }

  .filled-star {
    position: absolute;
    top: 35px;
    left: 5px;
  }
}

.empty-divs {
  border: 1px solid $border-color1;
  height: 58px;
  width: 100%;
  float: left;
  padding: 0;
  margin: 0;
  border-left: 0;
  border-top: 0;
}

.capability-complexity {
  padding-left: 10px;
  .legends {
    background: $white;
    float: left;
    list-style: none;
    margin: 0 0 10px;
    padding: 4px 0;
    position: fixed;
    z-index: 1000;
    top: 8px;

    li {
      float: left;
      font-size: 11.6px;
      margin-right: 9px;
      color: $text-color;
    }

    span {
      margin: 2px 5px 0;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      display: inline-block;
      float: left;
    }

    .legend-above {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -9px -748px;
      height: 18px;
      width: 17px;
      border-radius: 0;
      margin: 0 3px;
    }

    .legend-exact {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -34px -748px;
      height: 18px;
      width: 17px;
      border-radius: 0;
      margin: 0 3px;
    }

    .legend-below {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -59px -748px;
      height: 18px;
      width: 17px;
      border-radius: 0;
      margin: 0 3px;
    }

    .legend-missing {
      background: url(../assets/c-next/card-view/sprite.png) no-repeat -85px -748px;
      height: 18px;
      width: 17px;
      border-radius: 0;
      margin: 0 3px;
    }

    .legend-extra {
      background: $gray;
    }
  }

  .heading {
    border-bottom: 1px solid $border-color1;
    border-radius: 0;
    margin: 0;
    width: 100%;
    clear: both;

    h4 {
      font-family: gothamrnd-book;
      font-size: 13px;
      margin: 0;
      padding: 10px 0;
    }
  }

  .content {
    border-bottom: 1px solid $border-color1;
    margin: 10px 0;
    padding-bottom: 10px;

    span {
      font-size: 12px;
      color: $text-color;
      width: 100%;
      display: block;
    }

    .complexity-name {
      font-size: 12px;
      color: $theme-color;
      word-break: break-word;
    }
  }

  .devider {
    clear: both;
    height: 10px;
    width: 100%;
  }

  .details {
    padding: 5px;
    border-radius: 4px;
  }

  .col-sm-4 {
    width: 33.33%;
  }
}

.user-info-modal {
  margin-top: 5px;
  .clearfix {
    margin-bottom: 8px;
  }
}

.padding-left20 {
  padding-left: 20px;
}

@media only screen and (max-width: 1366px) {
  .capability-complexity {
    .legends {
      li {
        font-size: 10px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .capability-complexity {
    border-top: 1px solid $theme-color;

    .content {
      .col-md-4,
      .col-sm-6 {
        margin-bottom: 15px;
        min-height: inherit;
      }

      span {
        display: block;
        padding-bottom: 5px;
      }
    }

    .heading {
      margin: 0 !important;
      padding: 0 15px !important;

      h4 {
        padding: 5px 0;
      }
    }

    .col-sm-3 {
      span {
        padding: 0 15px;
      }
    }

    .col-sm-3,
    .col-sm-9 {
      padding: 0;
    }

    .col-sm-4 {
      padding: 0 15px;
      width: 100%;
    }
  }
}

.capability-complexity-container {
  min-width: 320px;
  width: 100%;
  margin: 30px auto;
  display: inline-block;
}
.row-section {
  display: table;
  margin: 0;
  border-collapse: separate;
  border: 1px solid $border-color1;
  padding-right: 20px;
  width: 100%;
}

.column1 {
  max-width: 263px;
  display: table-cell;
  padding: 0;
  background: $white;
  border-right: 2px solid $white;
  vertical-align: bottom;
  word-break: break-all;
}

.not-applicable {
  display: none !important;
}

.capability-of-capabilities-section {
  width: 100%;
  display: inline-block;
  .content {
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid $border-color1;
    display: inline-block;
    width: 100%;
    .capability-label-name {
      font-size: 14px;
      color: $theme-color;
      font-family: 'gothamrnd-book';
      font-weight: 600;
    }
    .complexity-name {
      color: $light-black;
      margin-bottom: 2px;
      width: 100%;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
    }
    .complexities-col {
      display: block;
      width: 100%;
    }
    .scenario-row {
      //margin-bottom: 10px;
      display: inline-block;
      span {
        font-size: 12px;
        color: $light-black1;
        font-family: 'gothamrnd-book';
        font-weight: 600;
      }
    }

    .capability-edit {
      padding: 0 5px 5px 0;
    }

    .capability-edit > .inner {
      padding: 5px 20px 5px 5px;
      border: 1px solid $white;
      position: relative;
      &:hover {
        border: 1px solid $border-color1;
      }
    }

    .capability-edit > .inner > .filled-star {
      display: none;
    }

    .btn-edit {
      top: 0 !important;
      right: 7px !important;
    }

  }
}

.capability-of-capabilities {
  .content {
    font-size: 14px;
    padding: 10px 0;
    border-top: 1px solid $border-color1;
    display: inline-block;
    width: 100%;
    .capability-label-name {
      font-size: 14px;
      color: $theme-color;
      font-family: 'gothamrnd-book';
      font-weight: 600;
    }
    .complexity-name {
      color: $light-black;
      margin-bottom: 2px;
      width: 100%;
      display: inline-block;
      font-size: 14px;
      font-weight: 700;
    }
    .complexities-col {
      display: block;
      width: 100%;
    }
    .scenario-row {
      //margin-bottom: 10px;
      display: inline-block;
      span {
        font-size: 12px;
        color: $light-black1;
        font-family: 'gothamrnd-book';
        font-weight: 600;
      }
    }
    .capability-edit {
      padding: 0 5px 5px 0;
    }

    .capability-edit > .inner {
      padding: 5px 20px 5px 5px;
      border: 1px solid $white;
      &:hover {
        border: 1px solid $border-color1;
      }
    }
  }
}

.hide-capability {
  display: none !important;
}

@media screen and (min-width: 1367px) and (max-width: 2080px) {
  .thirteen-for-all {
    max-width: 200px !important;
  }
}

@media screen and (max-width: 767px) {
  .capability-complexity-container {
    min-width: 100%;
    margin: 0 auto;
  }

  .complexities-handled {
    padding: 0;
  }

  .capability-edit {
    padding: 0;
  }

  .capability-of-capabilities-section {
    .content {
      .btn-edit {
        top: 6px !important;
        right: 0 !important;
      }

      .capability-edit > .inner {
        padding: 5px 25px 5px 0;

        &:hover {
          border: 0;
        }
      }

      .capability-label-name {
        display: block;
        margin-left: 0;
        padding: 0;
        font-size: 14px;
      }

      .capability-edit {
        padding: 0;
      }
    }
  }

  .capability-label-name {
    display: block;
    margin-left: 0;
    padding: 0 10px;
    font-size: 14px;
  }

  .row-section {
    padding-right: 0;
  }
}
