<div [formGroup]="awardForm">
  <div>
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <input type="text" class="form-control"  formControlName="name" required/>
          <label>Title</label>
          <small  class="text-danger" *ngIf="awardForm.get('name').touched && awardForm.get('name').hasError('required')">
            Award Name is required
          </small>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <input class="form-control" type="text"  formControlName="issuedBy"  required/>
          <label>Issued By</label>
          <small  class="text-danger" *ngIf="awardForm.get('issuedBy').touched && awardForm.get('issuedBy').hasError('required')">
            Authority Name is required
          </small>
        </div>
      </div>

      <div class="col-sm-4">
        <label>Issued Year </label>
        <select class="form-control"  formControlName="year" >
          <option *ngFor="let acadmicyear of yearList" [ngValue]="acadmicyear">{{acadmicyear}}
          </option>
        </select>
        <small  class="text-danger" *ngIf="awardForm.get('year').touched && awardForm.get('year').hasError('required')">
          Issued Year is required
        </small>
      </div>
    </div>

    <div class="col-sm-12 no-padding">
        <textarea placeholder="Awards Details"  formControlName="remark" class="form-control"></textarea>
    </div>
  </div>
</div>


