<section class="container-fluid one-page-summary" *ngIf="candidate != undefined && candidateDetails != undefined">
  <div class="col-sm-3 left-content">
    <div>
      <cn-candidate-description [candidateDetails]="candidateDetails"
                                [candidate]="candidate"></cn-candidate-description>
    </div>
    <div *ngIf="candidate.employmentHistory.length>0">
      <cn-vertical-list-view [data]="candidate.employmentHistory" [type]="'employment history'" [calledFrom]="'singlepageview'"></cn-vertical-list-view>
    </div>
    <div *ngIf="candidate.academics.length>0">
      <cn-vertical-list-view [data]="candidate.academics" [type]="'academic details'" [calledFrom]="'singlepageview'"></cn-vertical-list-view>
    </div>
    <div *ngIf="candidate.awards.length>0">
      <cn-vertical-list-view [data]="candidate.awards" [type]="'awards'" [calledFrom]="'singlepageview'"></cn-vertical-list-view>
    </div>
    <div *ngIf="candidate.certifications.length>0">
      <cn-vertical-list-view [data]="candidate.certifications" [type]="'certifications'" [calledFrom]="'singlepageview'"></cn-vertical-list-view>
    </div>
    <!-- <div>
      <cn-contact-details [candidateDetails]="candidateDetails"></cn-contact-details>
    </div>-->
  </div>

  <div class="col-sm-9 right-content">
    <div class="col-sm-12">
    <cn-capability-compare [isCompact]="true" [rowsToShow]="capabilities.length" [capabilities]="capabilities" *ngIf="capabilities && capabilities.length >0"> </cn-capability-compare>
     </div>

    <div class="col-sm-12">
      <div *ngIf="secondaryCapabilities.length>0">
        <h4>Supplimentary Capabilities</h4>
        <cn-horizontal-list-view [data]="secondaryCapabilities"></cn-horizontal-list-view>
      </div>
    </div>
    <div class="col-sm-12 proficiency-compare-section-area">
      <div class="pull-left col-xs-3 no-padding text-left">
        <h4>Key Skills</h4>
      </div>
      <div class="pull-left col-xs-8 no-padding text-left">
        <cn-horizontal-list-view [data]="candidate.proficiencies"></cn-horizontal-list-view>
      </div>
    </div>
    <div class="col-sm-12 proficiency-compare-section-area" *ngIf="candidate.aboutMyself != undefined && candidate.aboutMyself!=''">
      <div class="pull-left col-xs-3 no-padding text-left">
        <h4>Additional Information</h4>
      </div>
      <div class="pull-left col-xs-8 no-padding text-left">
        <cn-additional-details [data]="candidate.aboutMyself"></cn-additional-details>
      </div>
    </div>
  </div>
</section>
